[2020-05-19 19:21] #993 closed

[2020-05-19 19:28] karitotp commented on #1226
Now the texts are shown in the FR Form as it was suggested. In case of the Title the instruction "For Covid-19 Field Reports, please link to the existing country specific emergency page. Please do not link to the Global emergency page." is the same for Covid related and non Covid unrelated.

[2020-05-19 19:39] LukeCaley commented on #1009
Closing as working fine in PROD.  We can live with lack of visibility settings for now.

[2020-05-19 19:39] #1009 closed

[2020-05-20 03:44] kamicut opened #1273 "Automate surge deployment"
Currently when deploying a preview for a new PR, we have to manually build the site locally using `yarn build-staging` and then deploy the local build using `yarn deploy-surge`. Ideally, we would want to deploy previews automatically when a PR is created, and have the reference to that preview website linked to the PR.

We should be able to do this on the Github interface using the [Github Actions

[2020-05-20 04:16] batpad commented on #1232
@teklal this can be tested at https://ifrc-go-fix-1232-remove-additional-graphics.surge.sh/ - please let know if this works as intended from a business logic perspective, and we can ask @karitotp to go ahead and do a round of testing to see if there's any edge cases or bugs. Thank you! cc @kamicut

[2020-05-20 04:55] frozenhelium commented on #1273
This might be a bit tricky in the situation where we want to use different API server. Currently manual build allows us to do so using the environment variables. Auto teardown would be great after the merge in the develop.

[2020-05-20 07:40] nanometrenat commented on #1118
Hi, this needs further work -re the "individual emergency pages" test in comment https://github.com/IFRCGo/go-frontend/issues/1118#issuecomment-625752849 above

At the moment if (while not logged in) I go to an Emergency page that has Public field reports - e.g. Myanmar, https://go.ifrc.org/emergencies/4278#details - it still says "You must be logged in to view this. Login" in the Field Reports se

[2020-05-20 11:02] #1161 closed

[2020-05-20 11:03] mmusori commented on #1102
This worked in staging . Was resolved under 1161.

[2020-05-20 11:03] #1102 closed

[2020-05-20 11:06] mmusori commented on #993
@nanometrenat we can have a call you look at all possible scenarios.

[2020-05-20 11:11] batpad commented on #1118
@kamicut could you look at this, re: the issue on emergency pages? Hopefully is a simple fix?

[2020-05-20 11:11] mmusori commented on #1226
I have reviewed the text and it matches with requirements. QA pass.

[2020-05-20 11:18] lauripynnonen commented on #1175
This works as described if we need to fine-tune this then it should be done through a new feature request

[2020-05-20 11:20] lauripynnonen commented on #1173
@teklal I think this is the one Luke referred to, wanna give it a glance? This is a great ticket!

[2020-05-20 11:35] nanometrenat commented on #889
For potential consideration - we may also wish to improve process to deal with "stuck" pending users - e.g.

[2020-05-20 11:46] teklal commented on #1173
Thanks, most of these are now working.

A few more comments:
- [ ] The NSs still do not appear alphabetically based on the country - @frozenhelium let me know if you need further clarifications on this. Also if this is going to take a lot of time, may not be worth it.

- [ ] Would it be possible to have a dash between All and Status in the dropdown on the country 3w page like there is on the regio

[2020-05-20 12:06] teklal commented on #1226
Looks good to me too.

The only "problematic" thing I see is that if a user first chooses "Yes" on the "COVID-19 related" radio button but then changes the choice to "No" the help text stays the same along with some of the choices remaining locked, such as Disaster type. I remember this was the case previously already and based on the discussion then https://github.com/IFRCGo/go-frontend/issues/11

[2020-05-20 13:26] teklal commented on #1232
Thanks, looks good to me. Would be good to have tested by Karito :)

[2020-05-20 14:37] teklal opened #1276 "[PROD] Field report: blank screen/400 error when choosing certain "countries" on dropdown"
## Issue
This is a known issue (https://github.com/IFRCGo/go-frontend/issues/936#issuecomment-585106738) but creating a ticket so that this particular one is also captured separately as I just ran into it again.

I get a blank screen and a 400 error on the first page of a field report when choosing e.g. Aland Island or New Caledonia as the country from the dropdown. These countries shouldn't even

[2020-05-20 15:03] teklal commented on #1230
Thanks @karitotp for the observation on the dropdowns! I propose we leave it as it is though as it's not a blocker and there haven't been any complaints from the users so far. It seems to be a design choice and applies to all the fields that have dropdowns on the overview form.

I'll leave this still open as there was a request to extend the range of years to go until 2030. @batpad would this be a

[2020-05-20 15:09] karitotp commented on #1232
ADDITIONAL GRAPHICS does not appear any more in the new tabs added when I add something in the snippet box, but when I left it creating only the tabs an not adding anything as content for that, the text "Additional graphics" is still shown. Is that the expected behavior?

[2020-05-20 16:26] teklal commented on #1232
Thanks for that catch @karitotp. I don't think the text "Additional graphics" should be there when the tab is empty (as indeed there are no additional graphics shown in there in those cases :D).

[2020-05-21 08:45] batpad commented on #1276
Thanks @teklal this is useful to capture separately, and I think should be fixed first, potentially separate from the larger issue of spatial data handling since it's an obvious bug.

[2020-05-21 11:44] GregoryHorvath commented on #1232
@teklal @karitotp Is this also for the default "Additional Information" tab or just the other ones?
@batpad the PR: https://github.com/IFRCGo/go-frontend/pull/1279 removes the header for all of them. Wondering if we should keep that logic at all and remove the header code alltogether at this point?

[2020-05-21 13:02] karitotp commented on #1232
@GregoryHorvath @teklal, "Additional graphics" text is appearing in the default "Additional Information" tab too.

[2020-05-21 13:04] GregoryHorvath commented on #1232
Sorry, my question was misleading. Do we want to remove from all of them or keep it for the "Additional Information" tab? This wasn't really clear for me.

[2020-05-21 15:10] nanometrenat commented on #956
xref https://github.com/IFRCGo/go-frontend/issues/889 re Improve Signup Workflow

[2020-05-21 16:36] nanometrenat commented on #1077
@mmusori FYI just had another submission error reported.  Have put this to "triage" for 4.3 as it would be great to get these fixed :)

[2020-05-21 19:59] LukeCaley commented on #938
Noting here that we should review the [MapAction data naming convention](https://guides.mapaction.org/gis_im_data_naming.html) as inspiration for geospatial data management.

Note also the [MapAction GitHub](https://github.com/mapaction/data-name-lookup-tables/tree/master/200_data_name_lookup) is the single source of truth and used for the 'Moonshot' reference map automation project.

cc @geohacke

[2020-05-22 09:32] LukeCaley commented on #1232
@GregoryHorvath please remove from all.  We may introduce more functionality to name and provide descriptions for individual snippets in future work on Emergency pages (Xref: https://github.com/IFRCGo/go-frontend/issues/1243)

[2020-05-22 09:42] LukeCaley commented on #1020
@mariam-yu - Could you update the wireframe to include the sankey chart pre-filtered for data associated with the specific emergency, bearing in the mind the below specification.

@frozenhelium this is an **urgent** requirement to show COVID-tagged, global flow of National Society support.  IF possible, it would be ideal to be able to filter the sankey by reporting NS (who), sector (what), and reg

[2020-05-22 12:34] nanometrenat commented on #989
On the call today @GregoryHorvath was looking in the logs for something else and noted that he was seeing 500s around the Elasticsearch endpoint... shall I log a new ticket Greg or just continue this existing Elasticsearch one?

[2020-05-22 13:05] GregoryHorvath commented on #989
@nanometrenat I think it's okay to keep it here so we can easily backtrack the steps done and remaning.

[2020-05-22 18:47] nanometrenat commented on #1077
Today I replicated a "could not submit Field Report" error whereby the user was trying to EDIT an existing Field Report, to associate it with a different emergency.  The 400 error was returned on PUT https://prddsgocdnapi.azureedge.net/api/v2/update_field_report/12571/ and the message from the back end was
`"content": {            "size": 58,
            "mimeType": "application/json",

[2020-05-22 18:48] nanometrenat commented on #989
If the elasticsearch doesn't get updated promptly when an emergency is deleted (via "gardening") then  it can cause errors submitting Field Reports - e.g. https://github.com/IFRCGo/go-frontend/issues/1077#issuecomment-632854934 - so we need to address the rpot cause of Elasticsearch issues.  Thanks heaps for the troubleshooting!

[2020-05-25 06:46] batpad commented on #1199
This is done, closing. :tada:

[2020-05-25 06:46] #1199 closed

[2020-05-25 06:58] batpad commented on #1273
@frozenhelium thanks for pointing that out :-) . I think that's a valid issue that seems non-trivial to solve. Since this does not seem super urgent to do, going to move to backlog.

[2020-05-25 06:59] batpad commented on #1247
@mmusori please close when happy :-)

[2020-05-25 07:00] #1247 closed

[2020-05-25 07:01] batpad commented on #1132
@teklal please close when happy :-)

[2020-05-25 07:02] batpad commented on #1141
@LukeCaley removing the `backlog` label from this as I think this will be good to fix as part of Field Report validations and cleanups. Also moved to 4.3 board.

[2020-05-25 07:04] batpad commented on #1125
We need to ensure the page `title` is set correctly on the two pages identified: Create Field Report and PER: while not a huge user impact, I would be highly in favour of fixing this to ensure consistency, and this should be a quick fix. Removing `backlog` label, feel free to add it back, @LukeCaley

[2020-05-25 07:08] batpad commented on #1117
@GregoryHorvath have added this to the 4.3 project board as In Progress. Feel free to move it if it is not so - but this does seem like an open issue we need to work? Let me know if I can help.

[2020-05-25 07:10] batpad commented on #1116
This should be a straightforward fix to ensure that the `?next=` parameter is set correctly when redirecting to the Admin login so that the user is forwarded to the right Emergency after logging in.

Assigning to myself for now, @kamicut @GregoryHorvath let me know if you guys have spare cycles to look and can re-assign.

[2020-05-25 07:12] batpad commented on #1097
@GregoryHorvath @mmusori has any follow-up work from this been captured in separate tickets? If yes, is this good to close?

[2020-05-25 07:14] batpad commented on #1095
A lot of things in this ticket are still very valid clean-ups and improvements we should do. Am moving this to 4.3, and we can discuss either making separate tickets for some specific items in here that should still be addressed and closing this, or clarifying this a bit to include things that still need to be done.

[2020-05-25 07:16] batpad commented on #1082
@LukeCaley do you think this ticket is covered under the Emergency Page UI / UX Redesign ticket? Should we mark this as closed once the design is ready, and move implementation to https://github.com/IFRCGo/go-frontend/issues/1243 ?

[2020-05-25 07:17] batpad commented on #1079
@teklal @LukeCaley is this something that's still important to do? We could likely fold this into the geospatial data handling? If so, feel free to move to 4.3 and remove the backlog label.

[2020-05-25 07:19] batpad commented on #1077
Moving this to 4.3 as `Needs Spec` because I think we still have errors that we need to figure out the best way to deal with, but we need to spec out exactly our approach, both on the logging and error message side, as well as fixing the root causes of these.

[2020-05-25 07:20] batpad commented on #1062
The API returns a field called `status` which indicates the FR type (or disaster_type) to know whether it was an epidemic report. Closing here, feel free to re-open if this is still an issue.

[2020-05-25 07:20] #1062 closed

[2020-05-25 07:24] batpad commented on #1008
@nanometrenat if we want to implement allowing the user to be able to manually implement re-ordering, can we file this as a separate issue, please? I feel like this issue already contains a lot and fulfills the original requirements? Would be great if we could have a separate issue for the manual re-ordering, and close this.

[2020-05-25 07:26] GregoryHorvath commented on #1097
@batpad Oh yes, I believe this can be closed, but @mmusori should confirm for sure.

[2020-05-25 07:27] batpad commented on #997
This is encapsulated in #1125 . Closing here to avoid duplication.

[2020-05-25 07:27] #997 closed

[2020-05-25 07:29] batpad commented on #929
This is Done.

[2020-05-25 07:29] #929 closed

[2020-05-25 07:30] batpad commented on #930
@mmusori @LukeCaley - can you please move this over to the 4.3 board if this is work still happening?

[2020-05-25 07:32] batpad commented on #769
This ticket is stale, and I think the important changes to section titles, etc. should be covered in https://github.com/IFRCGo/go-frontend/issues/1012 - closing here, but @LukeCaley, feel free to re-open.

[2020-05-25 07:32] #769 closed

[2020-05-25 07:35] GregoryHorvath commented on #930
This might need full rework after all the changes happened to the Field Reports in the COVID sprint, but have to check if this is resumed.

[2020-05-25 07:35] batpad commented on #553
This ticket is a bit old, and we've worked through a lot of these issues. I am closing this, but please feel to re-open tickets specific for CSV exports that may still be failing. There are a few things we did to greatly improve the stability of the Field Report CSV exports, and we can probably apply similar methods to try and improve other exports that still have issues.

Related:

 - https://git

[2020-05-25 07:36] #553 closed

[2020-05-25 07:38] batpad commented on #479
cc @thenav56 I know you guys have been doing some work standing up separate development instances for 3w. Would you be able to advise a path forward here? This is still something that would be nice - we now have the `surge` URLs that covers this for the frontend, but on the backend we are restricted to staging and production.

[2020-05-25 08:18] thenav56 commented on #479
@batpad
There are some questions I have before we can move forward.
This issue's original idea is to add a testing server which should be a small scale replica of the production server where one can push a testing instance of the **go-api**.
This is nice to have but looking at the current development of the go, I feel like this will not cover all the development process properly for eg: we have **

[2020-05-25 09:02] mariam-yu commented on #1082
The design is done actually:
Wireframes: https://projects.invisionapp.com/share/9AXF55DFB5G#/screens/361592718
UI: https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/417134563

[2020-05-25 11:05] nanometrenat commented on #1008
Original requirements very specifically had manual ordering (in both title and description) but if a separate ticket is needed then we will have to log... cheers

[2020-05-25 11:22] mariam-yu commented on #1020
@LukeCaley Is this what you had in mind? https://invis.io/D3X6LBXQ47A#/416656597_4-4-1_GO_Specific-Emergency_COVID Also, would this diagram be present on all the emergency pages? There seems to be a bit of a duplication (and potentially confusion) between the sankey and the following table (or at least the titles).

[2020-05-25 12:15] lauripynnonen opened #1284 "3W: COVID-19 Sankey Diagram"
A separate (hidden) page that has a Sankey Diagram that shows all Go 3w activities that have the COVID-19 tag.

The page is to be shown as an iframe on the [COVID-19 Global Emergency page's Actions-tab.](https://go.ifrc.org/emergencies/3972#actions)

The Sankey works the same way as the one on the Regional page, displaying Who does What, Where

[2020-05-26 08:04] GregoryHorvath commented on #1117
@nanometrenat @batpad Found a hiccup in the code here (this is half-related to the original issue which will be fixed alongside).

If a **new** Sit.Rep. has multiple attachments, they are created like:
- newsitrep
- newsitrep 1
- newsitrep 2
- ...

making them if they were separate Sit.Rep.s for all attachments to be reachable there (max 30).

If a Sit.Rep. is getting **changed** then it's just ov

[2020-05-26 11:01] nanometrenat commented on #1117
To confirm our discussion, the multiple-attachments scenario is very much a corner case, the base case to make sure is working reliably is adding/editing one sitrep at a time (whether it's a URL or a document attached).  THANKS

[2020-05-26 11:46] lauripynnonen commented on #1284
@frozenhelium: Title and subtitle:
   **Movement COVID-19 Response - National Society Who does What Where (3w)**

[2020-05-26 13:44] GregoryHorvath commented on #1117
@teklal @nanometrenat Deployed the fix to staging.

[2020-05-26 16:43] kamicut commented on #1112
This is ready for QA in https://github.com/IFRCGo/go-frontend/pull/1281

[2020-05-27 10:02] lauripynnonen commented on #1284
@frozenhelium I tested the iFrame [here](https://dsgoproxyapp.azurewebsites.net/emergencies/4013#sankey), and the last filter (where) does not seem to work. It does not seem to work in the regional view, either (however it does work in production)

[2020-05-27 14:41] frozenhelium commented on #1284
@lauripynnonen it's working now, cheers!

[2020-05-28 09:25] batpad commented on #1118
This is ready to test. cc @teklal @karitotp .

[2020-05-28 09:42] GregoryHorvath commented on #1118
@teklal @karitotp Testable with the frontend changes here: https://ifrc-go-fix-1118-emergency-pages-gregsurge.surge.sh/

[2020-05-28 11:12] nanometrenat commented on #1141
Agreed - with the new reordering of fields (swapping "search for existing emergency" and "title") there are several being submitted with no title

[2020-05-28 11:31] LukeCaley commented on #770
Xref https://github.com/IFRCGo/go-frontend/issues/1122

[2020-05-28 11:58] GregoryHorvath commented on #1212
@teklal @karitotp The fix is deployed to staging and should be testable.

[2020-05-28 13:04] lauripynnonen opened #1296 "3w: "Add" 3w activity -button to 3w regional page"
On the country 3w page there is an add -button next to the export button. We should add the same button next to the export button on the regional 3w view.

[2020-05-28 13:27] lauripynnonen opened #1297 "3w: Change Supporting NS to Reporting NS on the Country 3w page"
I think this is the last place where we have the Supporting NS term visible - please change it to Reporting NS
![image](https://user-images.githubusercontent.com/8285694/83147203-a5f6c280-a0f7-11ea-8339-060b287b6636.png)

[2020-05-28 13:33] mmusori opened #1298 "Covid Indicator Tracking on GO"
Indicator Tracking on GO.

Intro
Discussion on Indicator tracking with Robert (PMER), Anssi (Regional IM ) Natalie (Covid IM) Mununuri (GVA-IM Planning & Reporting)

Issues to consider

•	Will indicator data be entered by National societies or by Country/cluster or Region as this has a bearing on quality control.
•	If by National societies will there be a verification or quality control by the clu

[2020-05-28 13:48] batpad commented on #1298
@mmusori have added @mariam-yu as assignee. Would it be possible to get some UI / UX input for clarity on what needs to be built here?

Happy to jump on a call to discuss.

[2020-05-28 14:02] karitotp commented on #1212
Now this is working good to me!

[2020-05-28 14:11] mariam-yu commented on #1298
@batpad I don't know much about this, I think. @mmusori can you help clarify?

[2020-05-28 14:33] teklal opened #1299 "[PROD] Extra "Additional information" tab appears on emergency page when using "child" URL"
## Issue
When being redirected to a "parent" emergency page by using the "child" emergency URL, there is an extra "Additional information tab" showing up. This tab is not a functional tab and doesn't work/show anything when clicking on it.

![image](https://user-images.githubusercontent.com/52411237/83154298-418c3100-a100-11ea-8b9d-83d0d636a09a.png)

## Steps to reproduce
Examples of URLs to use f

[2020-05-28 15:05] karitotp commented on #1118
I try to test in this url but it seems does not working correctly, the pages are not loading correctly and it does not allow me to log in.

I tested in the staging url https://dsgoproxyapp.azurewebsites.net/emergencies/3913#details and the list for the FRs in a individual emergency page is working as the expected. The public FRs is listed correctly, and if the FR is not public, it does not in the

[2020-05-28 16:29] teklal opened #1300 "[PROD] User email address is case-sensitive when requesting password reset / reminder of username"
## Issue
When a user tries to reset their password (https://go.ifrc.org/recover-account) or requests to get reminded of their username (https://go.ifrc.org/recover-username) they have to provide the email address they used to register.

At the moment this email field is case-sensitive and the email has to be given in the exact same case-format as upon registration.

- When requesting to get remind

[2020-05-29 08:39] #1132 closed

[2020-05-29 08:41] #1171 closed

[2020-05-29 09:41] teklal commented on #1118
Tested the different visibility levels of field reports showing on an emergency page and that works now (e.g. public field reports being listed on the emergency page even when not logged in), thanks!

One thing that I noticed is now different on staging and prod and I assume is related to this: there have been some pieces of information (emergency overview i.e. figures, situation overview and cont

[2020-05-29 10:21] batpad commented on #1118
@teklal that looks like a really good catch, and likely something that merits discussion.

[2020-05-29 11:06] LukeCaley commented on #1284
@lauripynnonen @teklal  can you confirm this is tested and ready to GO?

[2020-05-29 11:10] LukeCaley commented on #1117
As discussed on the call 28/05, we believe this is a low-risk enhancement, difficult to test, but likely to fix the bug reported here.  Correct and good to GO cc @batpad @GregoryHorvath @teklal  @nanometrenat

[2020-05-29 11:12] LukeCaley commented on #1112
@teklal and @karitotp to test

[2020-05-29 11:13] teklal commented on #1284
Good to go from my side. I did some testing after the filtering issue had been fixed and all seemed to be working but I believe @lauripynnonen tested more thoroughly?

[2020-05-29 11:16] teklal commented on #1212
This is working as desired now, thanks!

[2020-05-29 11:19] batpad commented on #1118
Based on discussion, let's do the following:

 - Revert the API changes to implement permissions in the API
 - Handle the field report list display on the frontend, checking user permissions and omitting field reports from the frontend view if the user does not have permissions to see the detailed field report.

cc @GregoryHorvath

[2020-05-29 11:35] teklal commented on #1112
Tested and seems to work now, thanks!

[2020-05-29 11:44] nanometrenat commented on #1300
xref previous tickets #434  and #471
https://github.com/IFRCGo/go-frontend/issues/434#issuecomment-583769699

[2020-05-29 12:23] lauripynnonen commented on #1284
Looks fine! To production and beyond!

[2020-05-29 12:31] GregoryHorvath commented on #1118
@teklal @karitotp Reverted the changes back and @batpad made the frontend handle the visibility for now. All deployed to staging and should be testable.

[2020-06-01 16:32] LukeCaley commented on #1118
@karitotp it would be great if you could test this today so that we can release 4.3.5 tomorrow

[2020-06-01 18:24] karitotp commented on #1118
- Visibility of the list of FRs is showing for user that can see them, according if they are public or not.

- Visibility of the list of public and private FRs in a emergency page are working according the permissions. The public FRs are listed even when I am not logged and the private FRs is listed only when the user is logged.

- About the details of a Field report (emergency overview and contac

[2020-06-02 08:53] nanometrenat commented on #1284
Prod URL is https://go.ifrc.org/covid19-3w-sankey

[2020-06-02 10:56] GregoryHorvath opened #1306 "Changing some of the queries from using Elasticsearch to using the database for more consistency"
ElasticSearch can usually become inconsistent with what is actually in the database and what it knows.

Some of the dropdowns use it, for ex.: Emergency selection on 'Create Field Report' page's 'Context' step.

Convert these into actual database queries instead because they would still be low impact, and only keep the global search use ElasticSearch

[2020-06-02 11:32] GregoryHorvath commented on #1300
@teklal Deployed to staging.

[2020-06-02 13:06] #1207 closed

[2020-06-02 14:12] teklal opened #1308 "[PROD] Email notifications for field reports to follow visibility settings"
## Issue
Users can subscribe to email notifications about new emergencies and this includes new field reports. The field reports they get notified about should be based on the visibility settings of the FR submitted.

## Related feature
#1118

[2020-06-02 20:13] mariam-yu commented on #1233
@nanometrenat Updated the Register page slightly with some text suggestions: https://invis.io/JUXJC30G2W9#/414002964_0-1-1_Register

Not sure whether the RCRC needs to be explained (i.e. the second line). After this phase, we will do a second approach to include other improvements.

[2020-06-03 11:19] #1284 closed

[2020-06-03 12:52] nanometrenat commented on #1020
@lauripynnonen @LukeCaley I think the urgent requirements for the one-off for COVID in [Luke's comment above](https://github.com/IFRCGo/go-frontend/issues/1020#issuecomment-632600966) were met under #1284 - be good to confirm what is still to be covered under this ticket.

[2020-06-03 13:13] lauripynnonen opened #1312 "3w: Unify user roles to match rest of Go"
Go 3w has three visibility levels: Public, Logged in User and IFRC only. This is not how Go treats users (and visibility) in general. The logic of how IFRC users are identified and the name of that visibility level should be adjusted to match the rest of Go.
@nanometrenat could you make sure this is correct and identify the desired nomenclature and function? Thanks!

[2020-06-03 13:25] #1168 closed

[2020-06-03 14:50] GregoryHorvath commented on #989
@nanometrenat @teklal https://github.com/IFRCGo/go-api/pull/757 This is not deployed to staging. From now if someone deletes a Field Report, Emergency, etc which have an ElasticSearch index, then should also be deleted from the ElasticSearch database as well and should immediately not show up in searches.

Connected: https://github.com/IFRCGo/go-frontend/issues/1077#issuecomment-632854934

[2020-06-03 17:52] nanometrenat commented on #986
The root cause fix of this was done a couple of months ago.

In terms of the "gardening" to fix historic data I've just gone through and manually fixed all the dodgy (relative) links.  I've also removed duplicate Donor Response links where a single appeal had multiple Donor Response entries in Appeal Docs (in some cases up to 5).

I have _not_ checked for _missing_ Donor Response docs, but have co

[2020-06-03 17:52] #986 closed

[2020-06-04 09:36] nanometrenat commented on #1306
xref #989 also re Elasticsearch

[2020-06-04 11:25] nanometrenat opened #1314 "[PROD] 3W - country page - grey screen in Edge (i.e. can't load page)"
## Issue
Raised by Marcelo (FDRS) - if you go to the 3W tab for any country page then you get a grey screen in Edge browser - but the same page loads fine in Chrome.

Doesn't make a difference if you're logged in or not.
example:  https://go.ifrc.org/countries/43#3w

## Expected behaviour
3W page should load (not grey screen)

NB I have checked in dev tools and this doesn't look to be due to API c

[2020-06-04 12:01] lauripynnonen opened #1315 "3w: Sankey information flow through who to what to where"
Currently, the Sankey Diagram on 3w either shows Who is doing What or What is being done Where. It would be optimal to have the information flow through so that when the mouse hovers on the reporting national society (who) the visualization would carry all the way to where the activities by that NS and in that sector would be highlighted.

[2020-06-04 15:11] karitotp commented on #1300
- Password recovery and username recovery can now be done by entering an email that have lowercase and uppercase, even special characters, before the @ sign.

- In terms of the message for emails that are not linked with an account of IFRC Go, this is working well for password recovery, the page give me the message "Error: That email is not associated with a user". But in case of username recovery

[2020-06-04 17:36] nanometrenat commented on #1312
To confirm, in rest of site the 3 visibility levels mentioned in dropdowns etc. are:

- Public (3) - not logged in
- Membership (1)
- IFRC (2) - based on user group (or being a superuser)

The comment in this ticket has more detail re specifics:  https://github.com/IFRCGo/go-api/pull/748#issuecomment-634512962 and a link to a visibility class

Thanks!

[2020-06-04 20:32] nanometrenat commented on #1233
Thanks @mariam-yu!  FYI actually volunteers and members without a RCRC email are also welcome to register (it's just they need additional verification steps).  So I've taken the liberty of updating the wording in the ticket description above.  @LukeCaley please edit further if further edits needed, as I'm moving to "to do" now :) cheers all

[2020-06-05 04:21] batpad commented on #1101
Closing here as the actions API is not expected to contain deprecated actions. @nanometrenat if this is something you would still like, can we please ticket this separately, since the issue referred to in this ticket is done and deployed to prod?

[2020-06-05 04:21] #1101 closed

[2020-06-05 12:34] lauripynnonen opened #1319 "3w: Project completed changes budget field to Actual Expenditure"
If the user checks the Project Completed -checkbox the PROJECT BUDGET (CHF) text is replaced with "ACTUAL EXPENDITURE (CHF)".
Here
![image](https://user-images.githubusercontent.com/8285694/83875106-d3b2bb80-a736-11ea-8816-8dfcc913f61d.png)

[2020-06-08 08:01] teklal commented on #1141
These field reports will then also appear without a link in the weekly digest email
![image](https://user-images.githubusercontent.com/52411237/84006372-e7e0fd80-a96e-11ea-84b1-ba28e6b48585.png)

[2020-06-08 11:05] teklal commented on #1232
This is now in prod and seems to be working so closing the ticket.

[2020-06-08 11:05] #1232 closed

[2020-06-08 11:05] #1212 closed

[2020-06-08 11:07] #1226 closed

[2020-06-08 11:29] teklal commented on #1167
Closing as this particular thing is fixed and working on prod, thanks! Remaining "gremlin" related to this ticketed here: #1299

[2020-06-08 11:29] #1167 closed

[2020-06-08 11:41] teklal commented on #1010
Closing as main thing working now in prod (thanks!) and remaining issue ticketed elsewhere (#1299).

[2020-06-08 11:41] #1010 closed

[2020-06-08 11:52] nanometrenat opened #1320 "user-specified "ordering" on GO - of documents, contacts, actions, other items"
Spin off of https://github.com/IFRCGo/go-frontend/issues/1008 which related to Response Documents (i.e. sitreps) but where the "ordering" aspect was not addressed under that ticket.

**Describe the solution you'd like**
In several places on GO it would be desired if the Admin user could explicitly specify the order of items, but they can't.  So have to manually remove all current items then add th

[2020-06-08 11:52] nanometrenat commented on #1008
Logged https://github.com/IFRCGo/go-frontend/issues/1320 as requested.

[2020-06-08 11:52] #1008 closed

[2020-06-08 12:22] lauripynnonen commented on #1148
I'm in for having the "Disaster type" box as a (required?) field. @LukeCaley can you give the last say?

[2020-06-08 12:28] #1150 closed

[2020-06-08 12:28] #1184 closed

[2020-06-08 12:31] #1197 closed

[2020-06-08 12:32] #1185 closed

[2020-06-08 12:32] #1175 closed

[2020-06-08 12:32] #1218 closed

[2020-06-08 12:32] #1149 closed

[2020-06-08 12:36] lauripynnonen commented on #1296
Seems to work. @frozenhelium could the text of the button be just "Add" like on the country page?

[2020-06-08 12:46] lauripynnonen commented on #1297
Perfect!

[2020-06-08 16:22] mariam-yu opened #1321 "Historic Databank and Country Profiles"
xref previous databank issues including
https://github.com/IFRCGo/go-api/issues/434
https://github.com/IFRCGo/go-api/issues/435
https://github.com/IFRCGo/go-api/issues/436

[2020-06-08 16:28] mariam-yu commented on #1321
Wireframes updated for country pages (6 tabs), reorganized and regrouped:

https://invis.io/FUXGHSABK4H#/356658484_3-1-1_GO_Country_Op

@LukeCaley Adding here for ease of access

[2020-06-08 19:35] LukeCaley commented on #938
Adding for reference a link to OCHA's [Common Operational Datasets dashboard ](https://data.humdata.org/dashboards/cod)(and associated links) cc @geohacker

[2020-06-08 19:39] nanometrenat commented on #1077
Thanks @batpad - who do you think needs to be doing the spec-ing?  Be great if we assign in the right direction... thanks a lot!

[2020-06-08 20:32] #1058 closed

[2020-06-08 20:33] #965 closed

[2020-06-08 20:34] nanometrenat commented on #835
@teklal @mariam-yu is this ticket still required or is the problem now solved by the recently-implemented Resources page?

[2020-06-08 20:36] nanometrenat commented on #556
Closing this ticket now the magical back-end page to administer whitelisted domains is in play.  Thanks all!
https://github.com/IFRCGo/go-api/issues/669

[2020-06-08 20:36] #556 closed

[2020-06-08 20:41] nanometrenat commented on #856
@LukeCaley can you please clarify - are you looking for an archived copy of the iframe link?  in which case now we have an improved audit trail for changes to emergency pages we can always find the link of the embedded dashboard.

Is that enough to meet the needs, or is this ticket intended for a different archive process?

[2020-06-08 20:42] nanometrenat commented on #535
I'm closing this issue as no action since 2018 - we will raise a new ticket if users identify this problem again.

[2020-06-08 20:42] #535 closed

[2020-06-09 06:23] batpad commented on #1230
Have updated the list of years to extend to 2030. Available for testing here: https://ifrc-go-minor-per-date-range.surge.sh/

cc @karitotp @teklal

[2020-06-09 08:03] nanometrenat opened #1322 "[PROD] Link to Country on Emergency page"
## Issue
This has been listed in various previous tickets - just to raise a "must fix" one for the specific case, to ensure we get this specific use case sorted regardless of what timing is for the remainder of the points in the other tickets.

**On every Emergency page, please add a link to the Country page**  The lack of this is causing problems for users every single day, so it would be greatly

[2020-06-09 09:31] frozenhelium commented on #1319
@lauripynnonen should this be new field (in the database) or update the existing `budget` field?

[2020-06-09 13:26] karitotp commented on #1230
:heavy_check_mark: All the dropdown for years are from 2010 - 2030.

[2020-06-09 19:00] lauripynnonen commented on #1319
I don't think we'll need the original value, so just update the content of the budget field.

[2020-06-10 07:41] batpad commented on #770
This is ready for testing at https://kamicut-ifrc-go-feature-react-bread-crumb.surge.sh/ and should address #1322 as well. cc @nanometrenat @karitotp

[2020-06-10 08:07] batpad commented on #1141
@teklal realized I need some clarification here:

So the behaviour on the field report frontend I believe is desired behaviour - that we wanted users to be able to either link an Emergency or add a title. If we just wish to make the title mandatory always, this is likely the simplest solution.

The other option would be to ensure that the when displaying, if the field report title is empty, it sho

[2020-06-10 08:29] batpad commented on #1141
Thanks for the call @teklal @mmusori - to summarize:

 - We will make `title` always mandatory in the field report, irrespective of whether there is a linked Emergency
 - We will ensure that something shows up in the Admin so field reports missing titles can be clicked on
 - The IM team will do a manual clean-up of field reports submitted without titles

 + @teklal will file a separate issue for i

[2020-06-10 09:07] GregoryHorvath commented on #989
@nanometrenat @teklal Upped the interval for when the Elasticsearch fires from `150ms` to `500ms`, **it's now on staging**. It could take ~half a second more for it to start getting the search results, but also because of this now it doesn't try to query 2-3 searches at once so it should consistently get those results. The only thing I noticed that it still struggles a bit to do it while the rest

[2020-06-10 09:50] mariam-yu commented on #1082
@LukeCaley Updated emergency wireframes: https://invis.io/59WZFUYEFTM#/412675366_4-3-1_GO_Specific-Emergency_Epi

Some comments:

1 - Moved the Response Actions to a separate tab (3W). Does this work? @lauripynnonen Any thoughts on this?

2 - To your question, whether we should keep Surge Documents under Documents tab, we are proposing to keep all the docs in one section to manage easier. Thoughts

[2020-06-10 10:01] mariam-yu opened #1324 "Key Numbers - styling across the platform"
UI styling for the top key numbers across the platform. The UI proposal should be upon acceptance be implemented by the front-end team.

[2020-06-10 10:02] mariam-yu opened #1325 "UI Elements - Update"
https://github.com/IFRCGo/go-frontend/issues/1206
https://github.com/IFRCGo/go-frontend/issues/1201
https://github.com/IFRCGo/go-frontend/issues/1203
https://github.com/IFRCGo/go-frontend/issues/1208
https://github.com/IFRCGo/go-frontend/issues/1324

[2020-06-10 10:11] mariam-yu commented on #1325
@LukeCaley @batpad Here are some UI suggestions for various UI elements. We combined several elements into one issue and one mockup, awaiting your feedback.

https://projects.invisionapp.com/share/8FXCLVKEY6C#/screens/418255283_4-1_GO_Emergencies

1 - **Key numbers and header space:** We are proposing to narrow down the key numbers and include them in the reduced header. This way they are a part o

[2020-06-10 12:11] nanometrenat opened #1326 "Field Report export - COVID FRs only - API but also UI"
## Issue
There are lots of people looking at and analysing COVID FRs.

We need an easy way to filter lists to only COVID-type field reports (i.e. is_covid_report = true).

- [x] On the API (https://goadmin.ifrc.org/api/v2/field_report/) we need to be able to specify is_covid_report as a filter parameter.

- [ ] On the front end, we need a button/selection option on https://go.ifrc.org/reports/all

[2020-06-11 06:17] batpad commented on #1112
This is now on staging.

[2020-06-11 06:25] batpad commented on #770
@karitotp thank you!

The breadcrumbs on the emergency page are indeed slightly weird, and the ordering of the Country Name and `Emergencies` seems wrong "sometimes". Also, in the Breadcrumb it says "Emergency", where it maybe preferrable to have the actual title of the emergency?

Based on my understanding, the correct breadcrumb on an individual emergency page, should always be:

Home -> Emergen

[2020-06-11 06:33] batpad commented on #770
Moving this ticket back to `In Progress` while we resolve the issues identified.

[2020-06-11 07:00] batpad commented on #770
It is completely confounding why this particular Emergency seems to have the order on the breadcrumbs wrong: http://localhost:3000/emergencies/3675#details

For other emergencies I checked, the order seems correct - i.e. Home -> Emergencies -> Country -> Emergency

For just this one, the ordering is Home -> Country -> Emergencies -> Emergency

[2020-06-11 08:10] batpad commented on #770
So, the problem seems to be that `react-breadcrumbs-dynamic` defaults to ordering the breadcrumbs by the length of the URL: https://www.npmjs.com/package/react-breadcrumbs-dynamic

We need to specify our own compare function to have it guaranteed to order based on the order in of the `crumbs` array.

[2020-06-11 08:23] batpad commented on #770
@karitotp I have updated the code and uploaded to a new surge URL (sorry for the confusion on the URLs). The latest code can be tested here: https://batpad-ifrc-go-test-breadcrumbs.surge.sh

I am pretty sure I have fixed the inconsistent ordering of the breadcrumbs on the country pages. And have also added the breadcrumb on the Resources page. Would be great to test.

@karitotp  - can you also tes

[2020-06-11 08:33] nanometrenat commented on #770
Yep https://batpad-ifrc-go-test-breadcrumbs.surge.sh/countries/282#operations is still crashing - potentially because it's for a country record of type region rather than type country (https://github.com/IFRCGo/go-api/issues/759)

However as it can be navigated-to via the search then we should definitely fix the crash!  And separately address the question of whether these country pages should exis

[2020-06-11 09:52] nanometrenat commented on #989
@GregoryHorvath @batpad that is a TOP TIP and explains a lot of my search issues - really often I go to the homepage then just start typing the page I want to go to and the search doesn't work (just keeps whirling).  It is probably because the page hasn't finished loading.  I wonder if there is any way we can prioritise search to work regardless of whether the rest of the page has loaded?  Given t

[2020-06-11 12:36] GregoryHorvath commented on #989
@batpad You're more knowledgeable about this than me, there should be a way to like, let's say disable(?) the search box or something until everything else does its thing?

Just added a smaller timeout for the Emergency dropdown on the 'Create Field Report' page too, it's deploying to staging right now, so should take only a couple of minutes to be live there.

[2020-06-11 15:43] karitotp commented on #770
@batpad, I reviewed the breadcrumbs for an emergency page and  currently it is displayed as Emergency > Country > Emergencies > Home --> https://batpad-ifrc-go-test-breadcrumbs.surge.sh/emergencies/4026#details

- The order of the country in the breadcrumbs of a emergency, is same for all emergencies page, but it is shown in the reverse order to the one you mentioned in the above comment: `Home ->

[2020-06-11 16:03] karitotp commented on #1112
This is working good!

[2020-06-12 11:14] nanometrenat commented on #1297
Reopening as this is not yet in Production - but moving to "Done" to reflect that @lauripynnonen 's testing has passed.

[2020-06-12 11:32] lauripynnonen commented on #1319
And we changed this around. It would be nice to keep the original value. @frozenhelium - could we still update the value to the original budget field (for the sake of simplicity in counting) and store the original value to a new field called original_budget

[2020-06-12 11:41] lauripynnonen commented on #1314
I just received an email from a user that they are having this issue, too. Any updates on a possible fix!? @frozenhelium?

[2020-06-12 11:54] mariam-yu commented on #770
@nanometrenat @batpad @karitotp Not sure who is working on this, but here are some thoughts:

**UX**: the order is reversed, but I'm sure you've seen that already; Also, it should have the actual emergency name.

**UI**: The breadcrumbs should be left aligned with the nav and have a bigger padding on top (example: https://projects.invisionapp.com/share/8FXCLVKEY6C#/screens/421178284_4-3-1_GO_Speci

[2020-06-12 15:51] nanometrenat commented on #1188
Re pcodes, from @simonbjohnson

the pcodes for Kenya on the 3W export are different from those on HDX
Example
GO 3W: Garissa KE107
HDX: Garissa KE007
https://data.humdata.org/dataset/ken-administrative-boundaries/resource/d3a5be7a-a15a-4cff-8cf1-908b3df3bbef

[2020-06-15 06:39] batpad commented on #770
Will revert to using the actual emergency name :+1:

The order being reversed is strange, looking into it - it's correct on Firefox and wrong on Chrome :-(

@imohkay can I ask for your help here in styling the breadcrumb element in the `feature/react-bread-crumb` branch to match the spec in Zeplin?

[2020-06-15 08:57] mmusori opened #1328 "Weekly Field Report summary not part of requirements."
## Issue
At the beginning of every week there is a Field Report summary, new operations summary, new surge alert summary and a weekly digest summary. The these summaries are potentially a legacy issue, from the time when we had summaries for the different notifications. Now should only have the Weekly Digest which gives a summary of the deployments done, the new operations launch and new Field Rep

[2020-06-15 09:02] teklal commented on #1328
Just to complement (and @mmusori correct me if I'm wrong): Not only should the field report summary email but also the surge alert and new operations ones that are sent (as in Munu's screen shot) in addition to the true weekly digest be discontinued/removed. So that the only summary/compilation email to be sent on Monday morning is the one called "weekly digest".

[2020-06-15 09:28] batpad commented on #770
Have updated https://batpad-ifrc-go-test-breadcrumbs.surge.sh with these fixes:

Fixed.

Fixed.

This should be fixed - in case a country is not part of a region, it will not show the region part of the breadcrumb.

cc @karitotp @nanometrenat

[2020-06-15 09:52] batpad commented on #1141
Frontend to check that Field Report title is now mandatory in the Field Report form: https://ifrc-go-fix-1141-fr-title.surge.sh/

[2020-06-15 11:21] frozenhelium commented on #1319
@lauripynnonen in the UI should we show both the fields? Or, just switch the "Project budget" to "Actual expenditure" when completed is checked? Also, if we're switching the fields should the "Actual expenditure" copy the value of "Project budget"?

[2020-06-15 13:32] lauripynnonen commented on #1319
Hummm... Let's hide the Project Budget and show Actual Expenditure. Actual Expenditure should copy the value of the Project Budget.

[2020-06-15 15:10] karitotp commented on #770
Tested and all is working good to me!

[2020-06-15 15:19] karitotp commented on #1141
Field report title is mandatory now!

[2020-06-15 17:13] nanometrenat commented on #770
Hi @batpad @karitotp

When in Field Reports, the spelling mistake mentioned above is still there ("Emgergencies") .

Also @mariam-yu can you please confirm that it's intended to just say Home > Emergencies > Report for Field Reports, or whether you're wanting Country/ Emergency / Field Report _names_ in the breadcrumbs?  In the case of FRs the emergency and country links are already in the lozenge

[2020-06-15 18:00] mariam-yu commented on #770
@nanometrenat I think it should specify the names. Thanks!

[2020-06-15 21:09] LukeCaley commented on #1122
Any update on progress for this issue @kamicut ?

[2020-06-15 21:23] LukeCaley commented on #1325
Thanks @mariam-yu
**1 - Key numbers and header space:** Looks good
**2 - Highlighted Operations:** Looks good.  The 'clickable' element is missing from the wireframes however.
**3 - Map/Table combo:** Makes sense but requires some significant dev work to make the filters drive the table, which is not currently the case @batpad
4 - Filter bar: Looks really good. Needs further scoping around a. what

[2020-06-16 04:34] frozenhelium commented on #1319
@lauripynnonen last one, how would this affect export / import and Tabular view in the 3W page?

[2020-06-16 04:38] lauripynnonen commented on #1319
@frozenhelium that's a good question. We're trying to keep it simple, but at the same time DRR needs this value. @LukeCaley do you know if the DRR colleagues would mind if the export table only showed "budget"? Alternatively we could rename that field on the export table "Budget/Expenditure" (for the tabular view that might be too long)

[2020-06-16 04:47] frozenhelium commented on #1314
Will take a look at it this week.

[2020-06-16 05:59] batpad commented on #770
Thanks for the catch! Fixed the typo as well as using Field Report names now instead of just saying "Report" in the breadcrumb.

[2020-06-16 06:39] batpad commented on #1122
So looking into this issue, in the countries and regions columns there, we are meant to show the countries and regions associated with each field report that is associated with the emergency (and hence not pull in values directly for the emergency itself).

Turns out this data is not coming through in the API currently. This is easy to fix for countries, just gets slightly roundabout for "Regions"

[2020-06-16 07:11] LukeCaley commented on #1122
Short answer is yes please :)
It looks odd to have these gaps so if there is a fix that does not take too much time then it would be great to implement.

[2020-06-16 16:20] mariam-yu commented on #1325
@LukeCaley Great thanks.
2 - Please see here: https://projects.invisionapp.com/share/8FXCLVKEY6C#/screens/417294996 We also updated some items on the homepage (e.g. graphs, etc.)
4 - Sounds good. Would be good to scope out all the filter possibilities. We can do it on wireframing level - identify what the filters should contain. It's quite updated on wireframes; so, the team can comment directly t

[2020-06-17 05:24] frozenhelium commented on #1239
Ready for testing in the [Translation test site](https://ifrc-go-feature-translation.surge.sh/)

Things to be tested in [test site](https://ifrc-go-feature-translation.surge.sh/) vs [staging site](https://dsgoproxyapp.azurewebsites.net/):
* Nothing is visually broken and is similar to the staging site
* All the texts are in place and are same to that of the staging site

[2020-06-17 05:26] frozenhelium commented on #1296
@lauripynnonen Done!

[2020-06-17 05:34] frozenhelium commented on #1314
@lauripynnonen @nanometrenat I was unable to replicate this issue, tested on Microsoft Edge Version 81.0.416.72 (Official build)(64-bit). Needs more information on the version of browser to debug this issue.

[2020-06-17 07:48] nanometrenat commented on #1314
The version on my machine is Microsoft Edge 44.18362.449.0

FYI the console says [object Error]: {description: "Object doesn't support property or method 'flat'", message: "Object doesn't support property or method 'flat'", number: -2146827850, stack: "TypeError: Object doesn't support property or method 'flat' at value (https://go.ifrc.org/assets/scripts/main.b7d1addd.chunk.js:1:702892) at La (ht

[2020-06-17 07:50] lauripynnonen commented on #1296
and it works!

[2020-06-17 09:22] frozenhelium commented on #1314
@lauripynnonen @nanometrenat http://dsgoproxyapp.azurewebsites.net/countries/43#3w loads in the legacy Edge now, cheers!

[2020-06-17 10:24] thenav56 commented on #1312
@lauripynnonen @nanometrenat Thank you guys for the issue.

I also encountered this when doing translation work. I have already fixed this but will take some time to push the changes.
But the changes will not impact any data on the **go-api**, will only change the visible text.

[2020-06-17 11:14] imohkay commented on #770
@mariam-yu You can take a look at the breadcrumbs with styles matching Zeplin here: https://batpad-ifrc-go-test-breadcrumbs.surge.sh/

[2020-06-17 11:22] nanometrenat commented on #1008
FYI today as requested by Logs I renamed one of the "is primary" sitrep types in Production
_from_ `Mobilisation Tables` _to_  `Logistics Documents and Mobilisation Tables`
No action required, just making a note that it was deliberate ;)

[2020-06-17 12:23] lauripynnonen commented on #1314
For me this works, great job!

[2020-06-17 14:18] lauripynnonen opened #1334 "3W: If Reporting NS is ICRC then Budget and People targeted/reached not required"
**Is your feature request related to a problem? Please describe.**
ICRC has agreed to report movement-wide activities through 3w, but they cannot provide all the required information. Hence we must make them a special case, where they can fill out forms leaving out  Budget, People targeted and People reached

**Describe the solution you'd like**
If the reporting party is ICRC, make Budget, People

[2020-06-17 14:51] LukeCaley commented on #1319
@lauripynnonen  That would be fine - we can explain to them the logic.
Their main desire is the ability to track a final value of DRR projects across the world per year; as long as this change provides them the ability to do so, even if requiring one or two additional processing steps, I believe we have met the requirement.

[2020-06-18 12:38] mariam-yu opened #1336 "Registration and Login Flow Design"
Reviewing the current login and registration flows and providing design updates and solutions.

[2020-06-18 12:41] mariam-yu opened #1337 "Account Page Design Update"
After the registration page designs are complete, the account page functionality needs to be revisited.

Specifically:
- Clean up the wireframes and propose an updated UI
- Update account page based on updates during the registration flow
- Consider the placement of the field reports to edit. The users didn't ever check the account page and didn't know that's where they had the field reports.
- Us

[2020-06-18 12:45] mariam-yu commented on #1202
Design should tackle the following:

- Map - table correlation: Make the map and table correlation clearer that the filters apply to both and that visually they are connected.
- Maps are taking too much space: Reduce the size of the maps across the platform, may be besides home.
- Map table pagination vs View all: How much is shown in pagination and how much goes into view all?
- Map legends, filt

[2020-06-18 12:47] mariam-yu opened #1338 "Search bar and search suggestions bar - design update"
- Search can be cleaned up visually to sort the results better, also make it more dominant. The users usually didn't use the search even though it would help them to find things faster. Considering making it more dominant and visible.

- Search results / dropdown: Appeals show but DREFs dont. Hard to comb through them. Needs a visual hierarchy.

- Testing of the functionality

[2020-06-18 14:18] mariam-yu commented on #770
@karitotp @nanometrenat

I reviewed most of the paths for breadcrumbs, and overall looks good. There are a couple of things though:
- On the Account page, when navigating to a specific PER form, it says Afghanistan. It should stay as Account. Also, better to put the name of the specific form you are clicking into.
<img width="1026" alt="Screen Shot 2020-06-18 at 3 04 39 PM" src="https://user-image

[2020-06-18 14:44] nanometrenat commented on #770
@mariam-yu I'm confused - if you remove the name of the country that that specific PER form relates to, how will you be able to tell the difference between different countries' forms?

[2020-06-18 19:16] nanometrenat commented on #770
@mariam-yu I'm confused - if you remove the name of the country that that specific PER form relates to, how can the user tell the difference between different countries' forms, and which one they're in (if it's not the overview form, which has the country name)?  @teklal what are your thoughts on the PER form breadcrumbs?

[2020-06-18 22:04] mariam-yu commented on #770
@nanometrenat That's good point, but I don't think the way it is makes sense, since you lose the thread and somehow are linked back to a country page that may not be relevant in the context. I'd propose the country dropdown to be a part of the page, above the form or part of the form. I doubt that we need the breadcrumbs to reflect that. But if we do, may be we can put the country name - form. Ple

[2020-06-19 09:27] GregoryHorvath commented on #1308
This is deployed to staging and tested by myself and also partially with @teklal. Didn't find any issues in those tests.

[2020-06-19 09:37] GregoryHorvath commented on #989
Made Elasticsearch into a 4 cluster for staging which helped with the performance as well as adding timeouts on the frontend.
Now deleted records are also deleted (https://github.com/IFRCGo/go-api/pull/757) from the Elasticsearch database which should help with newly added records so they don't conflict.

All deployed to staging. The change to a clustered Elasticsearch infra should be done to prod

[2020-06-19 11:32] LukeCaley commented on #1239
As discussed on the call today, could you @karitotp test according to the notes above. All should be self-explanatory but please reach out to @frozenhelium if any further detail required cc @batpad

[2020-06-19 11:54] nanometrenat commented on #1239
Hi, over to Karito for full testing but a couple of notes that I happened to notice just now:

- [ ] grey screen on Field Reports page (https://ifrc-go-feature-translation.surge.sh/reports/all and the various regional versions)
- [ ] homepage - maps - legend format strange (same for other maps e.g. emergencies page)
- [ ] homepage - paging buttons - showing vertically when should be horizontally (

[2020-06-19 13:14] GregoryHorvath commented on #1328
This is now deployed to staging. @mmusori as I'm seeing you're already subscribed for the weekly digest there so we will see on monday the latest if it worked or not since there are a couple of new Field Reports for sure.

[2020-06-19 15:55] karitotp commented on #1239
Hey @frozenhelium @LukeCaley @batpad @nanometrenat, I gave a view to all page (I hope that I have not missed one) and generally the things look good, some things that I found that need to be fix is listed below:

- [ ] Home page: some other bad formats apart of the things that Natalie mentions above:

 - The legend for appeals and DREFs on the sadistic charts is displaying just in one column, whil

[2020-06-22 07:23] batpad commented on #770
Done.

Done.

I'm going to go ahead and merge this to staging for final testing.

[2020-06-22 07:32] batpad commented on #770
This is now on staging. @karitotp will be great to do a comprehensive final test of breadcrumbs, especially related to the changes mentioned in the last few comments. Thank you!

[2020-06-22 07:47] teklal commented on #1328
I only got the weekly digest email from staging today so this seems to work! A curious thing is though that usually I've gotten the weekly digest from staging at the same time as from prod (i.e. 5:15 on Monday), today the Staging one didn't come until 9:18 though (prod came on time at 5:15). Don't know if there was something on my side causing the delay or if this is related to the change?

[2020-06-22 08:58] GregoryHorvath commented on #1328
@teklal It was me, because it still had a little hole in it where I didn't think anything could go wrong, but it did. So I triggered the weekly notification by hand at that time after making that fix.

[2020-06-22 13:17] GregoryHorvath commented on #1326
@nanometrenat The API (first) part is deployed to staging.

[2020-06-22 13:30] batpad commented on #1326
:+1: @mariam-yu going to await on design guidance here.

[2020-06-22 15:35] karitotp commented on #770
Now it is displayed as Account instead the country, but about the name of the form it is still displayed just as "PER Form": Home > Account > PER Form

- The title for all operations, all emergency, all reports... it is now displayed just as: Home >
- For all operations in a country it is displayed E.g. as: Home > Fiji > Operations

[2020-06-23 07:02] batpad commented on #770
@karitotp I am unable to reproduce this - it says for eg. `Home > Account > PER: Operational Capacity 2` on https://dsgoproxyapp.azurewebsites.net/per-forms/operational-capacity-2/14 . Could you confirm on what URL you still see `PER Form` appear in the Breadcrumb?

[2020-06-23 13:31] karitotp commented on #770
@batpad

The name is shown here https://dsgoproxyapp.azurewebsites.net/per-forms/operational-capacity-2/14.
What I reviewed was this https://dsgoproxyapp.azurewebsites.net/view-per-forms/a5/80, here the name is not shown.

[2020-06-23 14:19] karitotp commented on #770
:+1: @batpad, now the name is also displayed here https://dsgoproxyapp.azurewebsites.net/view-per-forms/a5/80

[2020-06-23 15:09] lauripynnonen commented on #1334
@frozenhelium can you put this on the top of your implementation stack? Thanks!

[2020-06-24 12:25] maisa-yu commented on #1206
Highlighted Operations Modules on pages:
1.0_GO_Home
4.1_GO_Emergencies

[2020-06-24 13:01] maisa-yu commented on #1324
Key Numbers Modules on pages:
1.0_GO_Home
2.3_GO_Regions_3W
3.2.1_GO_Country_3W
4.1_GO_Emergencies
4.2.1_GO_Specific-Emergency

[2020-06-24 13:15] mariam-yu commented on #1325
@imohkay Zeplin is updated. We added/are adding some of the pages where those elements appear above, but some of them are quite throughout (tables, filters, spacing etc.). For spacing, we could use that with the overall page layout ticket that we will create. Thanks!

[2020-06-24 13:22] nanometrenat commented on #1326
API change was successfully deployed to Production last night, so now just the front end to do - thanks all

[2020-06-24 13:51] nanometrenat commented on #1326
Per today's call it was decided that rather than a COVID/nonCOVID button it should instead be a filter by Field Report Type (Early Warning vs "normal" (not sure what that should be called - @mmusori what do you think?) vs EPI vs COVID-19 types), so it is extensible.

Date filter to also be added please.  Thanks!

[2020-06-24 13:59] GregoryHorvath commented on #1328
Deployed to production yesterday.

[2020-06-24 13:59] #1328 closed

[2020-06-24 14:00] GregoryHorvath commented on #1308
Deployed to production yesterday.

[2020-06-24 14:03] nanometrenat commented on #1314
No grey screen now when I go to https://go.ifrc.org/countries/43#3w in Edge - thanks a lot!

[2020-06-24 14:03] #1314 closed

[2020-06-24 14:34] imohkay commented on #1325
@mariam-yu Thank you :) I'll get to work tomorrow or so and ping you if I have any questions/doubts..

[2020-06-24 17:34] batpad commented on #1326
I like the idea of adding some more filters to the Export.

Just a couple things:

 - I would much prefer if we stick to the taxonomy in the database - so have filters for:
   - Status - i.e. `Event` / `Early Warning`
   - Disaster Type (where Epidemic is one of the options)
   - Is COVID Field Report as a separate boolean / checkbox
   - Date filters

Depending on urgency, I would perhaps still a

[2020-06-24 18:57] nanometrenat commented on #1326
Thanks @batpad will leave it to you-all to figure out best approach.  In terms of tickets, may we please keep this one for the UI (as the API change was just one step on the road to delivery, and the discussion is all on this ticket).  Thanks a lot!

[2020-06-25 15:50] mariam-yu commented on #1338
@LukeCaley @batpad Please take a look at a new suggestion for the search field and search results. Is this doable? Please share your thoughts. We also added a back to top button on the page itself (once you scroll down), which should be visible and sticky after scrolling down. https://projects.invisionapp.com/share/8FXCLVKEY6C#/screens/422773491

[2020-06-25 16:31] nanometrenat commented on #1322
Implemented under #770 THANKS TEAM!

[2020-06-25 16:31] #1322 closed

[2020-06-25 16:38] nanometrenat commented on #1300
Think this has been released so moving ticket to done - @teklal to close when happy woop woop!

[2020-06-25 17:13] nanometrenat commented on #1077
Hi @batpad @GregoryHorvath I see this ticket is at Awaiting Spec but that there was a change made in the release.

Can you please confirm if you're thinking that the latest change solves the issue, or if there is further work required under this issue?  FYI it's something we can't test directly in Production (as can't submit FRs) but someone might be able to force errors in Test to verify this unt

[2020-06-26 09:08] imohkay commented on #1324
@maisa-yu @mariam-yu For small UI questions, should I ping both of you or just Maisa? I wanted to check what the base body font color of the site is. Does it remain #000000 (the current color)?

[2020-06-26 09:51] maisa-yu commented on #1324
@imohkay you can ping me on UI questions. And yes, the base body will remain #000000

[2020-06-26 10:12] imohkay commented on #1324
@maisa-yu Thank you:)

[2020-06-26 10:43] imohkay commented on #1324
@maisa-yu Also, for the Key Numbers on the main Emergency page, is this what we want to change? _(See attached file)_
If the screenshot below is correct, do I also change the SVG icons to match the red color of the other key numbers on different pages?
[
![emergency-key-numbers](https://user-images.githubusercontent.com/1667470/85849001-c9c92900-b7c7-11ea-867d-f4f8754a8ef3.png)
](url)
Also, I'm un

[2020-06-26 10:54] imohkay commented on #1324
@maisa-yu one more question: On the homepage, should I move the key numbers up (above the Highlighted Operations section) to match the Zeplin file?

[2020-06-26 11:09] maisa-yu commented on #1324
@imohkay for **Key Numbers on the main Emergency page** yes, the screenshot you sent will be replaced by the new version as per zeplin, let me know if you have any issues getting the svg icons there.

This page: **4.2.1_GO_Specific-Emergency** will be in the same format but we still don't have the full page done, we're working on that.

For **Homepage** yes, the key numbers will be higher up.

[2020-06-26 11:15] imohkay commented on #1324
@maisa-yu Thanks! I'll wait for the Specific Emergency designs to come in, and work on the key numbers on the other pages in the meantime.

[2020-06-26 11:15] teklal commented on #1300
The changes that have been done are great!

One thing that would be great to still address and is in the ticket and also mentioned by Karito in her comment (https://github.com/IFRCGo/go-frontend/issues/1300#issuecomment-638914582) is adding a check for the username recovery on whether the given email is linked to an account:

So for username recovery instead of always saying ""If the given email a

[2020-06-26 11:18] lauripynnonen commented on #1319
The attached combination of fields breaks the form?
[IFRC Go ICRC test - Burundi.pdf](https://github.com/IFRCGo/go-frontend/files/4836613/IFRC.Go.ICRC.test.-.Burundi.pdf)

[2020-06-26 11:24] mariam-yu commented on #1300
@teklal The suggestion is great, i.e. to specify whether the email exists or not. The wording seems good; I would just avoid putting the word Error.

[2020-06-26 11:24] nanometrenat commented on #1300
@teklal it would be worth doublechecking whether or not the distinction is deliberate.
I know on several systems it is deliberate to not tell the user whether there is an existing email address.

[2020-06-26 11:27] guipizzini opened #1349 "Export of field reports from the front end"
If you are logged in, the "export all" functionality here:

https://go.ifrc.org/reports/all

Does not complete as expected.

However it works smoothly, once you are not logged in.

[2020-06-26 11:29] teklal commented on #1300
Ok, thanks for the good observations and input. I'll close this and will then open a new one if needed once we have feedback from infosec :)

[2020-06-26 11:29] #1300 closed

[2020-06-26 11:33] GregoryHorvath commented on #1077
@nanometrenat The latest changes which were deployed are only fixing the error message, although it 99% of the time happens by some user-input error (last time I heard that the date-picker might not always work in Mac's Safari (?) @teklal). I'd say if we can pinpoint the actual error happening frequently (if any) that we'd make a separate ticket about that, which the correct error message should h

[2020-06-27 08:33] imohkay commented on #1324
@maisa-yu Hey... you can take a look here: https://ifrc-go-feature-1324-key-nos-ui.surge.sh/
Could you let me know if the styling's okay? Home, Country/Region and Landing page of Emergency have been done.

[2020-06-28 22:09] nanometrenat commented on #1349
Also works smoothly when logged in but just exporting region by region - i.e. it's due to data size.

There are 3 parts to the Field Report export work as far as I can tell:

1. making the export process **robust** no matter how much data is being exported (within reason) - generic to exports (i.e. including emergencies etc.), and may require infrastructural changes e.g. separate server/paging - t

[2020-06-29 08:45] batpad commented on #1122
This fix is on staging. @karitotp could you please test and verify? Thanks!

[2020-06-29 11:07] LukeCaley commented on #770
Closing as this works in PROD. Any small errors should be picked up in new tickets.

[2020-06-29 11:07] #770 closed

[2020-06-29 11:08] LukeCaley commented on #1125
@teklal can you check that this is working in PROD and close if so. Thanks!

[2020-06-29 11:08] LukeCaley commented on #1141
@teklal can you check that this is working on PROD and close if so - thanks!

[2020-06-29 11:09] LukeCaley commented on #1230
@teklal can you check that this is working on PROD and close if so - thanks!

[2020-06-29 11:10] LukeCaley commented on #1112
@teklal can you check that this is working on PROD and close if so - thanks!

[2020-06-29 11:13] LukeCaley commented on #1238
@guipizzini if this is working on PROD please close and document where necessary - thanks!

[2020-06-29 11:16] LukeCaley commented on #934
Closing this ticket as we have broken this down into component parts - still useful for Xref but not actively being used.

[2020-06-29 11:16] #934 closed

[2020-06-29 11:17] LukeCaley commented on #1297
@lauripynnonen could you check that this is working in PROD and close the ticket if so - thanks!

[2020-06-29 11:17] lauripynnonen commented on #1319
@frozenhelium seems to work!

[2020-06-29 11:17] LukeCaley commented on #1296
@lauripynnonen could you check that this is working in PROD and close the ticket if so - thanks!

[2020-06-29 11:17] lauripynnonen commented on #1334
No idea how this is done in the backend, but works!

[2020-06-29 11:18] LukeCaley commented on #1118
@nanometrenat could you check that this is working in PROD and close the ticket if so - thanks!

[2020-06-29 11:19] frozenhelium commented on #1334
@lauripynnonen In the backend we had to remove some validations all together for this to work

[2020-06-29 11:30] lauripynnonen commented on #1297
Very much in PROD!

[2020-06-29 11:30] #1297 closed

[2020-06-29 11:32] lauripynnonen commented on #1296
- [ ] In production
- [ ] Says "Add"

[2020-06-29 11:32] #1296 closed

[2020-06-29 14:42] maisa-yu commented on #1324
@imohkay Thanks for that! So I'm only commenting on key numbers and titles for now.

The cards are good in styling, but could you check the (i) icons? some cards don't have it.

On **Home** could you check the letter spacing of the title? Also, can you make the width of the subtitle as per zeplin? (so it doesn't go all the width of the title)

For **Regions**, the width of the cards seem to go way

[2020-06-29 15:17] karitotp commented on #1141
This is working good to me. Title field is mandatory!

[2020-06-29 15:23] karitotp commented on #1112
It is working as expected, it is mandatory when the numeric fields is fill.

[2020-06-29 16:19] karitotp commented on #1122
Working good! the countries and regions section is being completed https://dsgoproxyapp.azurewebsites.net/emergencies/4041#details

[2020-06-29 16:42] karitotp commented on #1116
Now this is redirecting to the backend of the desired emergency!

[2020-06-29 16:53] karitotp commented on #1230
All dropdown for year is from 2010 - 2023 in production and staging.
Previously this was from 2010 - 2030, as is mentioned in the above comments.

[2020-06-29 16:56] nanometrenat opened #1353 "[PROD] Search box not working in either test (no results) or Prod (500 errors returned every time)"
## Issue
The search box in top right hand corner of GO is not returning any results in either staging or Production environments.

I have waited for the page to finish loading, then have tried a number of search parameters (including ones for emergencies I can see on the homepage) but no results are returned for anything I've tried.

Even searches that have historically returned a large number of

[2020-06-29 17:07] karitotp commented on #1118
It is working in production as is described here https://github.com/IFRCGo/go-frontend/issues/1118#issuecomment-637027970.

[2020-06-29 19:34] nanometrenat commented on #1116
@batpad - a favour (sorry, I should've spotted this in original ticket) - is it easy enough to make the redirect point to the human-friendly domain (i.e. goadmin.ifrc.org, in Production) rather than the biglong prddsgocdnapi.azureedge.net version?

FYI part 3 of https://github.com/IFRCGo/go-frontend/issues/958 did a bunch of URL "nicing" already so it would be great if we could be consistent and a

[2020-06-29 20:06] nanometrenat commented on #922
Note to self - see also "Verbose URLS" ticket https://github.com/IFRCGo/go-api/issues/357

[2020-06-30 06:35] imohkay commented on #1324
@maisa-yu Thanks for the feedback: Wanted to check a couple of things:
1. Do we want this extra letter spacing only for the home page title? Or it needs to show up for all page titles?
2. Regions: Many of the pages appear to have a wider width than the home page. Should all of them be the same width as the home page? (I'm guessing so). That will fix the width of the cards.
3. Should all page title

[2020-06-30 07:07] batpad commented on #1276
Below is a list of countries that exists in the drop-down on the field report page, but do not exists as Countries in the GO API:

### Countries Not Found in Prod:

 - British Indian Overseas Territories
 - Montserrat
 - Virgin Islands, British
 - Turks and Caicos Islands
 - Cayman Islands
 - Netherlands Antilles
 - French Guiana
 - Guadeloupe
 - Martinique
 - American Samoa
 - Baker Island
 - Chr

[2020-06-30 10:32] maisa-yu commented on #1324
Hi @imohkay
1. All the page titles will have extra letter spacing, would that be an issue in any of the pages?
2. Normally all the pages have the same width, are they showing differently on zeplin or elsewhere?
3. Yes, they're all centered, if there's an exception we'll add on zeplin, but so far everything is centered.
4. Maybe there was a mistake in the cards, but they should all have the icons,

[2020-06-30 10:42] imohkay commented on #1324
@maisa-yu Thanks. The reason I was checking about the global styles is that many of the pages on the current site don't have the consistency of styles, so I'll make the changes accordingly in one page (w.r.t. to page widths, centered titles, letter spacing, etc.) We can also check with Luke about the info icons. Thank you. I'll update the links in a few hours once I'm done :)

[2020-06-30 10:43] nanometrenat commented on #1013
### note
The above "slug" work was rolled out for emergency pages (with a couple of things still to look at before being rolled out fully).

HOWEVER note it turns out that there are already "verbose URLs" available for country pages and regional pages - these were implemented in March 2019 under https://github.com/IFRCGo/go-api/issues/357 (details on that ticket)

[2020-06-30 11:30] maisa-yu commented on #1324
@imohkay Ah, you're right, I missed the icons... It is true that they're only on the first 2 cards, you can leave it like that.
And yes, we're slowly trying to make it more consistent :) it'll probably be easier to see once we complete all the pages.

[2020-06-30 17:27] imohkay commented on #1324
@maisa-yu Updated the link: https://ifrc-go-feature-1324-key-nos-ui.surge.sh
All titles across the site have the new letter spacing and are centered, and I've ensured the widths of all the pages are the same, which should hopefully fix the different widths for the key number sections.

[2020-07-01 08:57] LukeCaley commented on #1319
@lauripynnonen can you confirm that this has passed UAT for release?

[2020-07-01 08:59] LukeCaley commented on #1122
@teklal are you satisfied to give a go on the UAT?

[2020-07-01 09:00] LukeCaley commented on #1116
@batpad can you confirm if @nanometrenat's suggestion / request above is in scope and can be easily delivered please?

[2020-07-01 09:28] batpad commented on #1116
The only non-hacky way to do this is to change a configuration variable application-wide. This would be good to do, I would just not be comfortable making that change without more thorough testing. Can we push that to a future release? Happy to either keep this ticket open or make a new one for the URL change. Once I look a bit more at where all this config parameter is being used and how, it is l

[2020-07-01 09:37] nanometrenat commented on #1116
Personally I am fine with this being in a future release as it has been how it is for quite some time and don't want to introduce risk at short notice without testing.  Separate ticket is all good, thanks @batpad

[2020-07-01 10:47] batpad commented on #1353
This should be fixed with an ElasticSearch re-index? We should keep a ticket open for general ElasticSearch issues and debugging and fine with it being this one, but as the serious production issue was fixed, could we remove the `Must Fix` label?

[2020-07-01 11:20] lauripynnonen commented on #1319
Yes this passed my UAT.

[2020-07-01 11:24] teklal opened #1357 ""Add Report" button to redirect to Situation Update section on backend with prepopulated event field"
In recent months there have been more users uploading response documents to emergency pages. For many of these users this is the only "editing" they need to do when it comes to emergencies. As there are certain edit rights (e.g. ticking the "is featured" box) that automatically come to all users with rights to edit emergencies, in order to avoid risky situations and manage more specifically the pe

[2020-07-01 11:35] teklal commented on #1125
Thanks @batpad, for new field reports this is working well.
Also for PER this works well in most cases. Just when clicking to view already submitted forms (View button on the Account page under the PER forms tab), the tab will still say "IFRC GO - Emergencies".

[2020-07-01 11:39] batpad commented on #1125
Thanks for the catch on the View Forms @teklal - going to move this back to In Progress - even though it's just this one thing remaining, still part of this issue.

[2020-07-01 11:40] teklal commented on #1230
As @karitotp mentioned, the dropdown is from 2010 to 2023, so not from 2010 to 2030 as desired. The requested longer range is still there on the surge testing site https://ifrc-go-minor-per-date-range.surge.sh/

[2020-07-01 12:09] mariam-yu commented on #1243
Wireframes updated with the latest feedback:
Big emergency (example: Ebola in DRC that also covers the Epi example): https://invis.io/59WZFUYEFTM
Small emergency (example: Libya Population Movement): https://invis.io/3VXBUL0F6DR#/361592718_4-2-1_GO_Specific-Emergency

[2020-07-01 12:32] mariam-yu commented on #1321
Updated wireframes as per latest feedback: https://invis.io/FUXGHSABK4H#/356658484_3-1-1_GO_Country_Op

@frozenhelium Updated the page without Past events: https://invis.io/YEXWOM1MAZT#/356658486_3-3-1_GO_Country_Overview

@guipizzini Do we have data (such as number of affected population) to populate a graph similar to operations for past events and epidemics? Also, is it confusing? Do we need to

[2020-07-01 12:38] mariam-yu commented on #1202
Please take a look at some suggestions of the UI for the map. We are trying not to deviate much from the new branding guidelines, but it doesn't give much wiggle-room.

// Option 1: proposing to remove the dots and use highlights on the map directly for Appeals, DREF, and mixed. We lose the scale element, but that was kind of missed anyway. The advantage is we can have comfortable hovers over ever

[2020-07-01 13:04] lauripynnonen commented on #1334
(this passed my UAT, too)

[2020-07-01 13:15] teklal commented on #1122
This looks good- thanks!

[2020-07-01 13:39] guipizzini commented on #1321
@mariam-yu yes - it is in the API / JSON file available here: https://github.com/IFRCGo/data-analysis but @frozenhelium can you confirm?

It seems we are good to go soon :)

[2020-07-01 13:42] frozenhelium commented on #1321
@guipizzini @mariam-yu sure will do and let you know
CC: @thenav56

[2020-07-01 13:45] teklal commented on #1230
Extended range now working on staging, thanks @batpad!

[2020-07-01 13:48] teklal commented on #1141
This is working now, thanks a lot!

[2020-07-01 13:48] #1141 closed

[2020-07-01 13:52] teklal commented on #1112
This works now, thanks!

[2020-07-01 13:52] #1112 closed

[2020-07-01 14:00] mariam-yu commented on #1321
Great so @guipizzini and @frozenhelium No comments on the wires? Good to go?

[2020-07-01 14:23] guipizzini commented on #1321
correct - can you share a final email please confirming we are good?

[2020-07-01 14:46] teklal commented on #837
@mariam-yu thanks for working on this!:)

[2020-07-01 17:18] nanometrenat commented on #1326
@mariam-yu @batpad @LukeCaley what do we need to move this forward?  Thanks loads!

[2020-07-02 08:20] frozenhelium commented on #1321
@mariam-yu Looking at the data we currently have, the affected population is not available for past events and epidemics. @guipizzini We're currently pulling the data from reliefweb only and it doesn't provide the count of affected population.

CC: @thenav56

[2020-07-02 08:42] batpad commented on #1243
These are looking great! Re-organizing the information into separate tabs looks good to me. And re-structuring the placement of the map, etc. should all be fine. cc @imohkay to take a look at wireframes and point out anything that needs clarification from the design implementation.

Couple of questions:

 - Can we clarify exactly how the data for the Key Figures as well as the overview are pulled

[2020-07-02 08:57] mariam-yu commented on #1321
@frozenhelium @guipizzini Does this work (see updated graph): https://invis.io/VCXWON12GRU#/356658487_3-4-1_GO_Country_RiskAnalysis @frozenhelium Could we have the years on the graph skip (e.g. say, jump from 2008-2012 if nothing happened there) if we want to crunch a lot of data into the graph and there is empty space?

[2020-07-02 09:08] frozenhelium commented on #1321
@mariam-yu Yes we can skip labels. And the chart looks nice :+1:

[2020-07-02 09:17] batpad opened #1360 "Make links to Admin in frontend point to new domain"
**Is your feature request related to a problem? Please describe.**

Currently, links to the Django Admin point to https://prddsgocdnapi.azureedge.net/ , which works, but it would be better to point to the more user-friendly https://goadmin.ifrc.org/

Currently, we use the same config variable called `api` to construct URLs for API calls as well as the Admin.

**Describe the solution you'd like**

[2020-07-02 09:18] batpad commented on #1125
Fixed title on the View PER Forms page and pushed to staging.

[2020-07-02 09:20] batpad commented on #1116
New issues created for:

 - Pointing to Situation Report upload with Emergency prepopulated: #1357
 - Making links to Admin in frontend point to new domain: #1360

Marking this ticket as Done.

[2020-07-02 09:54] #1334 closed

[2020-07-02 09:55] #1319 closed

[2020-07-02 10:10] teklal commented on #1122
Working now in PROD, fantastic, thanks so much!

[2020-07-02 10:10] #1122 closed

[2020-07-02 10:12] teklal commented on #1116
Original ask now in PROD and working well, tangent requests outlined in separate tickets. Thanks team! Closing this.

[2020-07-02 10:12] #1116 closed

[2020-07-02 10:13] teklal commented on #1230
Aaaand it's in PROD, great - thanks!

[2020-07-02 10:13] #1230 closed

[2020-07-02 10:44] imohkay commented on #1243
Regarding the tabs, we can add them and see how they look stacked..
Another option may be to experiment with vertical tabs in a left column if there are too many of them...
Or a tab carousel, which may not be the best idea.

[2020-07-02 12:13] frozenhelium commented on #1239
@karitotp

Update: This is now merged into develop and available in [staging site](https://dsgoproxyapp.azurewebsites.net/)

Focus of testing:
- Nothing is visually broken and works as intended (i.e. as it was before)

Note: Similar to the previous testing, this applies sitewide. So, testing this will require navigating through and testing all the pages in the site.

CC: @batpad @LukeCaley @guipiz

[2020-07-02 13:10] teklal commented on #1125
View PER Forms also has the title now say PER, thanks @batpad!

[2020-07-02 13:12] nanometrenat commented on #1239
@frozenhelium noting that several of the above problems are now present in staging so it would be great if you could please fix them up before @karitotp does further testing.  I think on the call you said it was something to do with styling needing manual intervention or something?  If the same fix is rolled out to staging and then documented (so that it is part of the release when it goes to Prod

[2020-07-02 13:42] nanometrenat commented on #1117
Closing as this fix has been in place for a month now and I haven't had any reported issues.  I have myself only uploaded a few docs this way, but they did work!  Cheers

[2020-07-02 13:42] #1117 closed

[2020-07-03 10:02] mariam-yu commented on #1326
@nanometrenat Not sure if anything is expected from us, as I think the decision was to implement a Type dropdown, correct? We already had a Disaster Type on this screen: https://invis.io/76XXS0FGDFT#/359175153_1-1_GO_Home_Ops Does it cover it?

[2020-07-03 10:13] imohkay commented on #1206
@maisa-yu I'm going to work on this over the next couple of days. Just to clarify, will follow the design in Zeplin.
Is the Follow button in red on each operation a new functionality?

[2020-07-03 11:13] guipizzini commented on #1321
All good here @mariam-yu thanks a lot! @frozenhelium what would be the estimated time for this feature to be implemented / finalised in staging?

[2020-07-03 11:15] frozenhelium commented on #1239
@karitotp @nanometrenat The issues mentioned above is now fixed!

[2020-07-03 11:17] frozenhelium commented on #1321
@guipizzini About 3 weeks (around 3rd week of July)

[2020-07-03 11:21] guipizzini commented on #1321
So can we aim at testing for 1st week of August?

[2020-07-03 11:26] frozenhelium commented on #1321
@guipizzini Sure, can do!

[2020-07-03 15:30] karitotp commented on #1239
Hey @frozenhelium, all the above issues is fixed now, but what I found now is mostly differences in the icons styles and the alignment of the titles. Do not know if these are new required styles but some of them are causing that some details, titles and  buttons to not look good for some pages. Below some examples of this in the different pages.

- [ ] Home page
- The HIGHLIGHTED OPERATIONS sectio

[2020-07-03 16:32] nanometrenat commented on #1326
Thanks @mariam-yu - from the COVID operation point of view my business requirement was to have a way (any way) to export COVID FRs - know others had stronger views about beat way to implement (balancing ideal design vs implementation practicalities).  I believe after today's call this one is now with @batpad ?  Thanks all!

[2020-07-03 18:59] guipizzini commented on #1321
@frozenhelium if any questions, while I am on leave in July - please redirect to @mmusori thanks!

[2020-07-04 06:48] batpad commented on #1239
Hey, thanks for this @karitotp ! So sorry I wasn't clearer on the multiple things merged.

On staging there is also the change to the Key Figures styling: https://github.com/IFRCGo/go-frontend/issues/1324 . I **think** most of these things are you noticing look related to changes @imohkay made to spacing and key figures styling, following the latest wireframes and designs.

@imohkay - could you pl

[2020-07-04 07:51] imohkay commented on #1239
@karitotp @batpad
So the changes I've made affect the following:
- The centered page titles. Yellow Umbrella indicated all the page headings (the main titles) should be centered.
- The key numbers, associated with #1324 have new styling requirements. I will assign #1324 to you soon. @karitotp

I think many of the other changes are to do with the translation changes (pagination, issues on map legen

[2020-07-04 07:55] imohkay commented on #1324
@karitotp Hi :) Could you take a look at the Zeplin design here? https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5ebd38896a3c2230f204bd5b
The key numbers across the site are supposed to match the new Zeplin designs.
I have also center-aligned the top page titles and tried to ensure all the pages on the site have the same width.
If you see any issues with center alignment for headings

[2020-07-05 17:08] imohkay commented on #1206
@batpad I have pushed to branch feature/1206-highlighted-ops-UI
Could you please checkout and fix the following?

1. The Follow button functionality needs to be implemented. On being clicked, the button should toggle the text "Following" and the style to bounded button (You will need to replace the class 'button--primary-filled' with 'button--primary-bounded'.
2. The translation strings will need

[2020-07-06 07:17] nanometrenat opened #1363 "COVID Indicators - KoBo form link from GO"
## Request (new feature, but under urgency)
FDRS are creating a KoBo form to track National Society indicator reporting for COVID-19.  This will be launched by the SG early next week.

There is a strong desire for National Societies to have only one entry point to Federation-wide reporting, so it is requested that GO have a link to the indicators data collection form (and possibly another link to

[2020-07-06 07:18] imohkay commented on #1201
@mariam-yu @maisa-yu Could you clarify what you mean by headers? Do you mean the top page titles, or the secondary titles in uppercase (Like Active Operations and Highlighted Operations on the home page, for example)?

[2020-07-06 07:43] maisa-yu commented on #1201
@imohkay That would be the top page titles. On zeplin you can find it as Country Page Headers (some have the key numbers integrated and others don't).

[2020-07-06 07:45] RaniaAlerksoussi commented on #1363
Thanks @nanometrenat and @mmusori! that would be awesome. Also if the same could be done for the Fed-wide covid-19 financial form, that would be ideal. This way, all FW data collection can be done "through" GO. Thanks a million!

[2020-07-06 08:03] batpad commented on #1363
So, as I understand it, the task here would be:

 - Make `Create Field Report` button a Drop-down as per wireframes
 - Get confirmed text and links from @mmusori on what options need to be and where they should link to
 - Implement options in drop-down - get inputs from @mariam-yu on design if required.

@imohkay - sorry to disturb your flow of work, but would you be able to look into how feasible

[2020-07-06 08:05] imohkay commented on #1201
@maisa-yu Okay. Thanks :)

[2020-07-06 08:07] imohkay commented on #1203
@maisa-yu I'm planning to mimic the styling of the tables on the homepage of Zeplin (including the round numbers for pagination, etc.) Do confirm.
Have the table designs been approved?

[2020-07-06 08:30] imohkay commented on #1363
@batpad I'll get it done soon with static content in the dropdown and update you.

[2020-07-06 08:53] imohkay commented on #1363
@batpad Please checkout branch feature/1363-dropdown-field-report
I have commented out the static Dropdown markup just below the field report. You will have to add the requisite Translation strings and the links to the dropdown items as well.
Let me know if you need anything.

[2020-07-06 09:17] maisa-yu commented on #1203
@imohkay Yes, you can go ahead with the tables. Thanks!

[2020-07-06 11:16] mariam-yu commented on #1206
@imohkay I'll jump in here. So, it's not a new proposed functionality, but I am not sure at which stage of development it is. This is the option to follow or subscribe to emergencies. @batpad May be you know what's happening with that?

[2020-07-06 11:31] imohkay commented on #1203
Cool. Thanks @maisa-yu  :)

[2020-07-06 13:21] batpad commented on #1206
Yup, so the option to Follow / Subscribe exists on individual emergency pages. We'd need to bring this to all pages that show the Highlighted Operations. This should likely be okay to do, I just need to check-in with @GregoryHorvath and sketch out how it would work, will update here.

[2020-07-06 13:32] batpad commented on #1363
@imohkay I've updated the branch commenting out the code and adding some example text and links. Could you please pull and deploy to a surge URL?

Once that's done, @nanometrenat @mmusori it's probably useful to have a quick call to go over the implementation and check that this would work, and also so that you're able to then come up with the appropriate text and links for the dropdown options.

[2020-07-06 13:39] karitotp commented on #1324
Hi @imohkay, I do not have access to https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5ebd38896a3c2230f204bd5b, could someone give me access or send me an invite please.

[2020-07-06 14:07] maisa-yu commented on #1324
Hi @karitotp I can give you access, could you give me the email you wish to sign in with?

[2020-07-06 14:17] karitotp commented on #1324
:wave: @maisa-yu, to this email `karito@developmentseed.org` please. Thanks!

[2020-07-06 14:19] maisa-yu commented on #1324
@karitotp should work now :)

[2020-07-06 14:56] karitotp commented on #1324
:wave: @imohkay, In general all the titles looks good and the key numbers style match with the design in zeplin :+1:

If this refer to the HIGHLIGHTED OPERATIONS section, this was moved to the last part of the page but seeing in the zeplin design this is still in the first part https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5ebd38896a3c2230f204bd5b

[2020-07-06 14:57] karitotp commented on #1324
:wave: @imohkay, In general all the titles looks good and the key numbers style match with the design in zeplin :+1:

If this refer to the HIGHLIGHTED OPERATIONS section, this was moved to the last part of the page but seeing in the zeplin design this is still in the first part https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5ebd38896a3c2230f204bd5b

[2020-07-07 04:33] batpad commented on #1363
Testing URL for the dropdown: https://ifrc-go-feature-1363-dropdown-field-report.surge.sh/

If this works, we can plug-in text and links as appropriate - @nanometrenat @mmusori and @mariam-yu to check design. Thanks! :)

[2020-07-07 06:21] imohkay opened #1364 "Refactoring the grid across the site for RTL compatibility"
**Goal:** RTL support across the site by mid-August 2020.

**Background on the styling issue for RTL support:** The style files need to be refactored to support RTL. This has been done by DFS and includes replacing key CSS values for properties like float, margins, padding, borders, border-radius, positioning values, etc.

**Issue:** Unfortunately, the current version of Chrome (version 83x) does

[2020-07-07 06:26] imohkay commented on #1324
@karitotp Thanks :)
Should we close this ticket?

[2020-07-07 06:47] imohkay commented on #1324
@karitotp Sorry, I was just informed that tickets are only closed after prod is updated.... Ignore the above comment...

[2020-07-07 07:00] batpad opened #1365 "Create comprehensive document for QA / Testing"
**Is your feature request related to a problem? Please describe.**

Currently, whenever we are ready to do a deploy, or after making a deploy to production, we do a set of checks to various pages to make sure things look okay and there are no regressions across the platform.

We should document this process better, to document all the things that should be checked and should pass before we do a de

[2020-07-07 08:34] GregoryHorvath commented on #1306
After discussions with the Dev team this has been scratched-off as an option for now since it really affects performance (in a bad way). Could be reopened in case there is no other / better solution to the issue, but recent Elasticsearch changes should help with it.

[2020-07-07 08:34] #1306 closed

[2020-07-07 10:26] mariam-yu commented on #1363
@batpad Checking for the UI with @maisa-yu on the conceptual side it works, except I suppose in this case we need to rename the button from Create a Field Report to maybe just Create a Report (@mmusori ?)

[2020-07-07 10:42] mmusori commented on #1363
Yes @mariam-yu  we can change that to "Create Report" and we will have two new options in addition.
1. Covid-19 Indicator Report
2. Covid-19 Financial Form

[2020-07-07 10:55] batpad commented on #1363
All sounds good to me. @mmusori would you be able to provide the links that The Covi-19 Indicator Report and Covid-19 Financial Form should go to?

To confirm -

Rename button to `Create a Report`

Options will be (in order):

 - Covid-19 Indicator Report (@mmusori to provide link)
 - Covid-19 Financial Form (@mmusori to provide link)
 - Create a Field Report

If that's confirmed, and ideally if y

[2020-07-07 11:30] mmusori commented on #1363
@batpad
Indicator tracking is being tested and I have attached the url for that.
The financial form is in use , so not sure we can use t for testing at this stage so I suggest using something else in the meantime like this url: https://ee.kob4.ifrc.org/single/::8FQ9laVR

Options in order will be

- Create a Field Report
- Covid-19 Indicator Tracking (https://ee.kob4.ifrc.org/single/::Ho8bHKDr)
- C

[2020-07-07 14:33] imohkay commented on #1324
@karitotp are we okay with the ordering of things on this page (I mean moving the key numbers up)? I believe this is what the design indicates and was confirmed by the design team.

[2020-07-07 15:08] maisa-yu commented on #1363
@mmusori @batpad
Sharing a UI suggestion for the button, you can click on "Create Report" to see the dropdown.
https://invis.io/HGX94BX3EJA#/417294996_1-0_GO_Home
(PW: GOprototype)

[2020-07-07 15:11] frozenhelium commented on #1364
Thanks @imohkay for the very detailed ticket. I strongly recommend creating and using new Sass grid system since that'll be better in longer term as well. The current grid system library that we use is a bit complicated and  uses not-very-good styling technique to place the content (i.e. float: left / right). And, it also doesn't have proper support for the RTL layout. Since RTL layout is very imp

[2020-07-07 15:56] karitotp commented on #1324
Hi @imohkay, I am just comparing with the design here https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5ebd38896a3c2230f204bd5b and the home page in https://ifrc-go-feature-1324-key-nos-ui.surge.sh/ and I see that the section :point_down: is in different order.
![Screenshot from 2020-07-07 10-46-29](https://user-images.githubusercontent.com/11504548/86807164-3bfb0280-c03f-11ea-815f-b3

[2020-07-07 16:27] imohkay commented on #1324
@maisa-yu Hey, quick question. On the homepage, do we want highlighted operations just below the key numbers? As the second section on the page?

[2020-07-07 21:26] maisa-yu commented on #1324
Hi @imohkay yes, the version on zeplin is correct, we're moving Highlighted operations just below Key numbers.

[2020-07-08 05:16] imohkay commented on #1203
@batpad I have pushed to branch feature/1203-table-global-styling
For the Funding (CHF) table column on the homepage, could you please add the functionality for a progress bar that indicates percentage for funding? Right now, it just shows the same figure as Requested Amount (CHF).
This is as per the designs on Zeplin. I can style the progress bar as needed.

[2020-07-08 05:18] imohkay commented on #1206
@batpad the Highlighted Operations sections needs to come after the Key Numbers on the home page (as per the new designs on Zeplin). But some of the components are one big unit, so I would need your help on this.

[2020-07-08 06:30] batpad commented on #1363
Have updated https://ifrc-go-feature-1363-dropdown-field-report.surge.sh/ to match the text on the wireframes.

Have added the link for the Covid-19 Indicator Report. For the Covid-19 Financial Form, it still links to https://example.com . We will update the link before going to production as per previous comment.

@maisa-yu @mariam-yu - let us know if this looks okay. @mmusori let us know if the

[2020-07-08 06:45] batpad commented on #1206
@mariam-yu - quick question: On the button on the Highlighted Operation cards it says `Follow` / `Unfollow`, whereas on the Emergency page we are currently using `Subscribe` / `Unsubscribe` . Should we change to `Follow / Unfollow` on the Emergency page?

[2020-07-08 08:50] batpad commented on #1206
@imohkay -

The functionality is implemented now. May need to look at the class name change together, but should be straightforward. This feature will need a bit of testing.

Done :)

Could you check it out? Will be great to create a Surge testing URL for this soon. I imagine there are a few things around the Follow toggle that we will just need to test thoroughly.

[2020-07-08 09:42] batpad commented on #1363
Moved this to Ready for QA.

Things to test:

 - Create Report dropdown on top-right matches wireframes
 - Create Field Report correctly takes you to create field report page
 - Clicking on Covid-19 Indicator Form takes you to the form (do NOT test filling in that form)
 - Currently, the last item in the menu takes you to example.com. This will be updated when we have the prod link.

Since we will

[2020-07-08 10:25] mariam-yu commented on #1206
It's more of a @mmusori question. Thoughts? We propose Follow an emergency rather than Subscribe to an emergency, but it's your call @mmusori .

[2020-07-08 10:31] mariam-yu commented on #1363
@batpad We are updating the text on the UI designs now. Will share soon (@maisa-yu ) . Can you please also match the UI style of the dropdown? Ideally, the text shouldn't wrap. Thanks!

[2020-07-08 10:35] mmusori commented on #1206
@mariam-yu , For consistence, I agree with you on follow/unfollow

[2020-07-08 10:40] mmusori commented on #1363
@mariam-yu  and @maisa-yu can you use these terms in the wireframe:

- New Field Report
- Covid-19 Indicator Tracking.
- Covid-19 NS Financial Overview

[2020-07-08 10:49] batpad commented on #1363
@imohkay are you able to look into this and ask for clarification if needed?

[2020-07-08 10:51] imohkay commented on #1203
@batpad I have added the styling for the progress bars for funding, but the values are hardcoded for the Progress bar and the number above. Please could you do the needful?

[2020-07-08 11:09] imohkay commented on #1363
@batpad I've pushed to the branch with the styling changes.

[2020-07-08 11:22] batpad commented on #1363
Have updated surge URL. Latest version is at https://ifrc-go-feature-1363-dropdown-field-report.surge.sh/

[2020-07-08 11:49] frozenhelium commented on #940
This one needs to done in order to complete the translation work. All the labels in the front-end needs to be in sync with back-end. We need to take a look into this and see how much of work is this one. I'll get back once I estimate on it.

CC: @thenav56 @batpad @nanometrenat

[2020-07-08 12:42] mmusori commented on #1363
This is working very well. Just waiting for the updating of the terms  to

- New Field Report
- Covid-19 Indicator Tracking.
- Covid-19 NS Financial Overview

https://ifrc-go-feature-1363-dropdown-field-report.surge.sh/. Thanks @batpad  and thanks @mariam-yu

[2020-07-08 12:46] batpad opened #1370 "Change Subscribe / Unsubscribe to Follow / Unfollow on Emergency pages"
Ref #1206 - for consistency, we should rename Subscribe / Unsubscribe to Follow and Unfollow on the Emergency pages.

@GregoryHorvath assigning to you since you had worked on this, but feel free to toss it back to me.

[2020-07-08 12:49] batpad commented on #940
@frozenhelium from the above list, we will be moving the geospatial related entities (countries, centroids, etc.) to the backend in the current phase of work. Let's discuss what you folks would need for translation and prepare accordingly, and also check what else would need to be moved that's important for translation. Thanks for flagging.

[2020-07-08 14:13] GregoryHorvath commented on #956
Deployed to staging.

[2020-07-08 14:35] mariam-yu commented on #1363
@mmusori @batpad the prototype is updated: https://invis.io/8FXCLVKEY6C#/417294996_1-0_GO_Home The file is on Zeplin as well. Thanks!

[2020-07-08 15:57] imohkay opened #1372 "Consistency across charts across site"
Fix consistency across:
Graphs and charts across the site: They can follow the new Zepling V2 designs with white background, shadow and other changes

[2020-07-08 16:51] imohkay commented on #1372
@maisa-yu Hey, for the charts, the homepage charts are slightly different from the charts in the Go Library 2 page on Zeplin. (Just the background color for the chart header, which is white on the homepage).
Which one should I refer to, to make the charts consistent across the site?

[2020-07-08 20:58] maisa-yu commented on #1372
hey @imohkay the header background will be white everywhere.

[2020-07-09 05:58] frozenhelium opened #1375 "Translation: PER form translation"
PER forms have their own translation mechanism and currently has translations for English, French and Spanish (not for Arabic). The translation mechanism used in the PER forms is quite complex and does not align with the site wide translation.

CC: @batpad

[2020-07-09 06:39] imohkay commented on #1372
Ok. Thank you :) @maisa-yu

[2020-07-09 06:53] imohkay commented on #1372
@maisa-yu also, I'm wondering what to do for the chart on the emergency landing page, since it has a section to the left (Emergencies by type). Should I follow the same styling for both those sections? (i.e. white background, uppercase text for both headers, etc.)

[2020-07-09 07:41] imohkay opened #1376 "Home Page: Move Highlighted Ops section below key numbers"
Refer to V2 Home Page design

[2020-07-09 14:18] GregoryHorvath commented on #1233
@nanometrenat @mariam-yu https://github.com/IFRCGo/go-frontend/pull/1377 covers all 4 points with the wordings described above.

If you let me have a comment on the 4th point, the text _"This will be your username to log into the platform."_ feels a bit redundant to me under the textbox labelled _"Username"_. Would you consider having something like _"You will need to use this when logging into th

[2020-07-09 15:25] gulfaraz opened #1378 "[Staging] [3W] "Add" button in 3W fails"
## Issue
Clicking the "Add" button in 3W shows a blank page on the frontend.
In the dev console, I see this error "Cannot read property 'projectFormReportingNational' of undefined"

## URL
Staging URL (fails here): https://dsgoproxyapp.azurewebsites.net/regions/3#3w
Prod URL (works here): https://go.ifrc.org/regions/3#3w

## Steps to reproduce
1. Go to the URL above
2. Click on the 3W tab
3. Click

[2020-07-09 16:09] frozenhelium commented on #1378
Should be fixed now

[2020-07-09 16:38] mariam-yu commented on #1233
@GregoryHorvath I think it's a good suggestion. We basically just need to make sure the user knows that they need to login with that and not with the email, correct?

[2020-07-09 16:42] GregoryHorvath commented on #1233
@mariam-yu I believe that’s the main idea yes.

I’d say we could improve the login as well with giving an error message or something if a user inputs an ‘@‘ char, but some users already have their email address saved as their username. So I have no idea there what we should do to improve clarity.

[2020-07-09 16:52] mariam-yu commented on #1233
@GregoryHorvath Sounds good. We should take a stab at reviewing those error messages together at some point. Ideally, we should combine the email and username fields, but not sure where that stands.

[2020-07-09 20:39] #1378 closed

[2020-07-10 05:13] imohkay opened #1380 "Update header and footer to match Zeplin Designs"

[2020-07-10 05:17] imohkay commented on #1203
@maisa-yu @karitotp the updated tables are up on staging. you can take a look and refer to the designs in Zeplin (you can refer to the homepage @karitotp) .
@maisa-yu this doesn't include the search and filters for the table

@karitotp changes include bottom borders only, font sizes, adding a progress bar with percentage for the Funding header, link styles inside tables, etc... If you could just q

[2020-07-10 05:21] imohkay commented on #1206
@karitotp Hey... The Highlighted Operations styling has changed to match the designs in Zeplin (see homepage). This is mostly minor changes like font sizes, borders, etc. Also, logged in users can now follow an operation, and the Follow button will change its style and text to say following. If you check that the changes are fine, that would be great :)

[2020-07-10 06:00] imohkay commented on #1380
@batpad Is the mobile header missing the language select? Or maybe I've missed it?

[2020-07-10 06:38] GregoryHorvath commented on #1233
@mmusori Sorry I've not checked you were assigned instead of @nanometrenat . Updates in the above comments.

[2020-07-10 07:22] imohkay opened #1382 "Add grid that is RTL friendly across the site"
Broader description available at #1364
Create an SCSS grid using flexbox and equal horizontal padding to match the site requirements.
Test the new grid on the home page

TODOS (once the pages are complete)
- Add documentation in a markdown file which is linked from contributing.md
- Ensure all the float left and Jeet mixins, styles are removed, and remove the reference to the Jeet grids (at the ve

[2020-07-10 07:29] batpad commented on #1363
Have updated text as per wireframes at https://ifrc-go-feature-1363-dropdown-field-report.surge.sh/ - still awaiting final link for Financial Overview.

@mariam-yu would you be able to do a final check of the styling and let @imohkay know if there's anything that seems off? Thanks!

[2020-07-10 07:35] batpad commented on #1206
Would be great to have the `Follow` functionality properly tested:

 - When not logged in, should not see Follow button
 - When logged in, should see Follow or Following based on whether one is already following an Emergency.
 - Should be able to click Follow / Unfollow to Follow and Unfollow
 - When clicked, the state should change correctly.
 - When you reload the page, check that Follow / Unfol

[2020-07-10 08:12] mmusori commented on #1363
Thanks @batpad . I am chasing after the url for the financial form.

[2020-07-10 08:40] mmusori commented on #1363
@batpad the url for the financial form is https://ee.kob4.ifrc.org/single/::w4KbO3Rc
There is a request not to have the links live until Monday afternoon. Can we still push to production and then add the links on Monday or do we wait until Monday to push to production.

[2020-07-10 08:46] batpad commented on #1363
I would then recommend waiting until Monday for the push to production. It seems awkward to push something with broken / dummy links. :+1:

[2020-07-10 09:43] mariam-yu commented on #1363
@batpad The design doesn't seem to fully match. It's on Zeplin for reference, but looks more like this:
<img width="921" alt="Screen Shot 2020-07-10 at 10 41 43 AM" src="https://user-images.githubusercontent.com/60006476/87140881-19b0f100-c29a-11ea-8145-ac37def5bb53.png">
Also red on click for the button. Thanks!

[2020-07-10 10:01] maisa-yu commented on #1372
@imohkay We're updating the emergency page with the chart, I'll let you know when it's on zeplin :)

[2020-07-10 10:11] batpad commented on #1363
@imohkay could you please look?

[2020-07-10 10:13] imohkay commented on #1372
Great @maisa-yu
Thank you :)

[2020-07-10 11:45] imohkay commented on #1324
@maisa-yu Hey, a couple of questions about main page headings since we discussed that here.
1. Now that headings are centered across the site, what happens to pages like Country, which have buttons near the header?
Are those moved below the header and centered?

[2020-07-10 13:25] batpad commented on #1363
Have updated the testing URL with the latest styles: https://ifrc-go-feature-1363-dropdown-field-report.surge.sh/
cc @mariam-yu @maisa-yu  - thank you! :)

[2020-07-10 15:07] karitotp commented on #1206
@imohkay @batpad,
The style and the Follow button are correctly and they are working as it is mentioned in the above description :+1:.
The first time I changed the status of the Follow button and reloaded the page, this did not load correctly, the style seemed to be broken. I tried to reproduce this, but I didn't cross with this again and everything looks good after that.

[2020-07-10 15:59] imohkay commented on #1382
@frozenhelium for flexbox properties like margin-left: auto, do we need to replace margin-left with margin-inline-start ?

[2020-07-10 16:05] karitotp commented on #1203
@imohkay
Overall the styles look as the style in zeplin. But I am finding some differences in the table columns between Zepln and the Staging site. Eg, In home page in Zeplin (https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5ebd38896a3c2230f204bd5b) there is the operation name as "Operation" column which also can be linked, while in the staging site (https://dsgoproxyapp.azurewebsite

[2020-07-10 16:37] maisa-yu commented on #1324
@imohkay You can see an example on Country 3W, it'll be centred across the site.

[2020-07-10 16:40] maisa-yu commented on #1372
@imohkay the Emergency page is updated on zeplin with the charts, you can check there

[2020-07-10 17:59] imohkay commented on #1372
@maisa-yu thank you :)
Could we consider this the final design for Emergencies? So I could start implementing it?
cc @batpad

[2020-07-10 18:01] imohkay commented on #1324
@maisa-yu sounds good. Thank you :)

[2020-07-10 18:03] imohkay opened #1384 "Center Links and Buttons of Page Headers below Header"
For example, Country.
See the Zeplin Country 3W file as an example

[2020-07-10 18:06] imohkay commented on #1203
@batpad Please see Karito's comment above for the links in TDs for the Name column.

@karitotp you are using the correct home page on Zeplin. And yes, GO-UI_V2 is correct :)

[2020-07-13 11:08] batpad commented on #1203
Thanks @karitotp .

@mariam-yu @mmusori - with regards to the Operation Links:

This table is a list of Appeals. Only the Appeals that are connected to an Emergency will have a link. Otherwise they just have an Appeal code as we don't have a page for Appeal on the GO site. I might need some clarification on how this all works exactly, but as it stands, only some appeals have links to associated Em

[2020-07-14 05:18] imohkay opened #1385 "Add new grid to Deployments page"
Add new grid styles to Deployments page.
Based on parent issue #1382

[2020-07-14 07:39] batpad opened #1386 "Setup "init" pattern with loading to fetch initialization data from backend"
Relates to #940

As we move a lot of hard-coded values on the frontend to being handled by the backend as part of #938, we should develop a clean pattern for the frontend fetching data that is needed across most pages. This ensures we have a single place to handle the data fetching and loading state, and will make adding new constants and parameters to fetch from the backend much easier in the fut

[2020-07-14 08:52] imohkay opened #1388 "Add new grid to Emergency page"
Add new grid to Emergency page.
Match styles broadly to Zeplin design for the page

[2020-07-14 08:59] imohkay commented on #1325
@mariam-yu @maisa-yu
In preparation for the mid-July launch, I just wanted to run over the UI changes that have been applied to the site.
1. Key Numbers across the site match the Zeplin design
2. Highlighted Operations widget matches the Zepling design (the position of the widget will be moved at a later stage on the home page, since it will require a fair bit of restructuring of the relevant comp

[2020-07-14 09:10] batpad commented on #1325
Thanks @imohkay !

I feel uncomfortable going ahead with a production release without this done (i.e. moving Highlighted Operations to its intended place in the UI) - let's discuss and perhaps this is something I can take on / help with.

Apart from this, things look really good to me, of course will be great to get a final design audit from @mariam-yu and see if there's anything that's a blocker

[2020-07-14 09:17] GregoryHorvath commented on #1233
Merged this into `develop` so it's deployed to staging.
- If you select 'National Society' as the 'Organization Type' you get a dropdown of the societies as the 'Organization Name' field
- If you select 'ICRC', 'Organization Name' changes to 'Office Name' and the field is plain text (again)
- Added text at the top under 'Register' (from the ticket)
- Added text under the 'Username' field (from the

[2020-07-14 11:12] mariam-yu commented on #1203
@batpad Which page is this, the table under the map on the Home?

[2020-07-14 11:17] mariam-yu commented on #1325
@imohkay @batpad Can you please share the link to where we should review the final updates? The staging site currently looks a bit off, the margins look too narrow and the highlighted operations are all the way on the bottom. https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/417294996 (for comparison).

Shall we just compare the single elements? Not sure also what will be pushed to produ

[2020-07-14 11:18] batpad commented on #1203
@mariam-yu yes :)

[2020-07-14 11:33] imohkay commented on #1203
@maisa-yu Do we have indicative styling for the links in the table footer? The ones with the red underline? Or do those stay as they are? I've attached a screenshot for reference.
![table-links-footer](https://user-images.githubusercontent.com/1667470/87421017-ecdf3f80-c5f3-11ea-9894-e84efced0b6f.png)

[2020-07-14 11:58] imohkay opened #1390 "Add new grid and mirror Zeplin styling to Region Page"
[Zeplin Link to Regions Page](https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5ef1e9737f5d6645f7dcacb9)

[2020-07-14 12:15] imohkay commented on #1325
@mariam-yu @maisa-yu
This is the link: https://dsgoproxyapp.azurewebsites.net/
@batpad will ensure the highlighted operations are moved to the correct position before this release
The language translation dropdown in the site header will be hidden, since the translation happen in a later release.
Could you let me know which are the margins which are too narrow? Thank you :)

[2020-07-14 12:36] nanometrenat commented on #1203
Re the Appeal Codes, I would strongly recommend _against_ removing the Appeal codes.  We have been asked by users to ADD appeal codes in more places (e.g. Emergency pages) so it would be disappointing if we removed them here!  Thanks @batpad for flagging!

[2020-07-14 13:25] mariam-yu commented on #1325
@imohkay If you look between the staging and this link https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/417294996

You can see that the top key numbers and Active Operations map margins are too narrow. Surge on the bottom has the previous margins. Our proposal (in the link) is to make it somewhere in between the surge and what you have now on the top section. Either way, it should be st

[2020-07-14 13:25] mariam-yu commented on #1325
<img width="1440" alt="Screen Shot 2020-07-14 at 3 04 28 PM" src="https://user-images.githubusercontent.com/60006476/87430975-3cb70a00-c5e6-11ea-8d7d-afc84e19fdad.png">
<img width="1437" alt="Screen Shot 2020-07-14 at 3 04 45 PM" src="https://user-images.githubusercontent.com/60006476/87430988-417bbe00-c5e6-11ea-9c8c-fe56ec638452.png">

[2020-07-14 13:26] mariam-yu commented on #1325
<img width="1440" alt="Screen Shot 2020-07-14 at 3 04 56 PM" src="https://user-images.githubusercontent.com/60006476/87431019-4d678000-c5e6-11ea-9736-9d8ed51d8fab.png">
<img width="1435" alt="Screen Shot 2020-07-14 at 3 05 17 PM" src="https://user-images.githubusercontent.com/60006476/87431031-51939d80-c5e6-11ea-87bc-0c5af05b7530.png">

[2020-07-14 13:48] mariam-yu commented on #1203
@nanometrenat good point. agree that we need to keep the codes. https://invis.io/6BWNPV8QEUA#/359175152_1-0_GO_Home updated the wireframes here, the designs will be updated soon as well to match.

Also, as discussed with @batpad we will have the name and link connected. regarding the table design, can we make sure as much as possible to not wrap the title lines (we removed CHF and % from there, wh

[2020-07-14 14:26] mariam-yu commented on #1203
@imohkay The **View all field reports** should be the same as across the platform - next to the title on the right, the view by region should be a filter dropdown.

[2020-07-14 14:48] mmusori commented on #1363
We can go ahead with the merge to production and the urls are below:

Indicator tracking: https://ee.kob4.ifrc.org/single/::Ho8bHKDr

Financial Overview: https://ee.kob4.ifrc.org/single/::w4KbO3Rc

[2020-07-14 14:56] batpad commented on #1363
Have updated the links: https://ifrc-go-feature-1363-dropdown-field-report.surge.sh/

@mmusori could you please do a final test and confirm this is correct?

[2020-07-14 15:11] karitotp commented on #1233
Hi @GregoryHorvath,

This is working good, but the list of societies in the dropdown has line breaks between some societies and the list is not in alphabetical order.

![Selection_013](https://user-images.githubusercontent.com/11504548/87441691-0020e980-c5b9-11ea-9493-881d56376eed.png)

Also there are fields like name and phone number that need validation, name is allowing numbers and phone number

[2020-07-14 15:20] nanometrenat commented on #1233
Thanks @karitotp - great to catch the issues with the dropdown!

I think that validation is separate though, and a potential new requirement.  E.g. I don't think phone number should be numeric only as e.g. one often needs + for the international doalling code.  So happy to leave as-is (without validation) for now.  Many cheers!

[2020-07-14 15:46] imohkay opened #1393 "View all reports styling for tables"
The View all field reports should be the same as across the platform - next to the title on the right, the view by region should be a filter dropdown.

![table-links-footer](https://user-images.githubusercontent.com/1667470/87446693-3ee58c80-c617-11ea-8e48-7bef8eecd62f.png)

[2020-07-14 15:47] imohkay commented on #1203
@mariam-yu Thanks. I've put the View all field reports into a separate ticket..

[2020-07-14 15:54] imohkay commented on #1325
@mariam-yu are you referring to the horizontal margins? Or the width of the container?

[2020-07-14 16:38] mariam-yu commented on #1325
@imohkay referring to the page margins on the right and left - so the space between the end of the page and the containers.

[2020-07-14 16:47] GregoryHorvath commented on #1233
@karitotp @nanometrenat Fix merged into `develop` so it should be on staging in ~5 mins max. Now those empty parts won't show up and it should be in alphabetical order.

[2020-07-14 17:04] mariam-yu commented on #1203
@imohkay @batpad So we have updated the designs as well with our discussions for the table and highlighted operations. By the way, we pumped up the text a bit in Highlighted Ops, as it seemed a bit small. Hope it doesn't create much extra effort to update. Let us know. It's all updated on Zeplin too. https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/417294996

[2020-07-14 17:12] mariam-yu commented on #1206
@imohkay @batpad question about functionality. Can we have the whole card clickable/hoverable that takes the users to the emergency page, while the follow/unfollow functions separately and can also be clickable/hoverable? Just checking. Thanks!

[2020-07-14 17:13] karitotp commented on #1233
:+1: It looks good now @GregoryHorvath

[2020-07-14 19:51] nanometrenat commented on #1353
Hi @GregoryHorvath we are again (still?) having elastic search issues.
A high percentage of the searches I've done this evening have returned 500 errors
Users are reporting that they are also not getting results when searching for existing emergencies when creating Field Reports.

[2020-07-15 07:19] GregoryHorvath commented on #1353
@nanometrenat I tried this morning and it was working okay for me, though it was a bit slow(er) so I ran a reindex anyway. The logs doesn't show anything special only the timeouts from time-to-time. I will look into what could still cause the timeouts.

[2020-07-15 08:17] nanometrenat commented on #1353
Thanks @GregoryHorvath for the above and the screenshare just now.

To confirm, there are several issues with search at the moment - let me know how you would like them split into separate tickets (also happy to log MSM tickets):

1. in some cases users are not getting the results they expect - e.g. in create Field Report when searching for Japan and Heavy Rain, the result will be "Heavy rains in

[2020-07-15 10:36] imohkay commented on #1325
@mariam-yu Just to clarify, the maximum width of the current site is 1420px (except for the full-bleed sections).
However, on Zeplin, the overall width appears to be in the range of 1200px (30-40 pixels up and down for sections with bigger margins like key numbers). For the new branch I'm working in (which won't be reflected for the next launch), should I bring down the overall width of the site t

[2020-07-15 11:25] teklal opened #1395 "[PROD] Change wording of disclaimer on map exports"
## Issue
The disclaimer under the map in the map exports (3W map, field report map) currently reads: "... of the International Federation of **_the_** Red Cross and Red Crescent Societies or National Societies ..."

field report/emergency page map:
![image](https://user-images.githubusercontent.com/52411237/87539311-eefdd880-c69d-11ea-8389-8a32a55fcd31.png)

3W country page map:
![image](https://u

[2020-07-15 12:28] teklal opened #1396 "[PROD] Emergency page map to update with new linked field reports"
## Issue
When the first field report for an emergency is submitted, the report creates an emergency page and if there had been admin1 areas selected, the page will have a map showing the affected areas. Currently there is no way of updating this map (even through the backend) i.e. the map does not update even when new field reports are linked to the same emergency page with different affected area

[2020-07-15 12:37] teklal opened #1397 "[PROD] Add option of hiding map on emergency page"
## Issue
It is currently possible to hide the figures that are pulled to the emergency page from linked field reports. It would be great to have this as an option also for the map that is generated from the first field report.

## Expected behaviour
A tickebox similar to what is already in place for hiding figures on the emergency page backend:
![image](https://user-images.githubusercontent.com/52

[2020-07-15 13:20] teklal opened #1398 "[PROD] Line graphs to show all months/years"
## Issue
The EA/DREF and emergencies graphs on the home page / regional page / emergencies page show the number of these by month or year. In cases that there have been none on a year or month, instead of showing zeros, the graph just skips this leading to an inaccurate "timeline".

E.g. on the MENA refgional page (https://go.ifrc.org/regions/4#operations) in the graph below, April is missing

![i

[2020-07-15 13:31] teklal commented on #956
Thanks @GregoryHorvath, it's fantastic to be able to see the last login date to the frontend! I only wonder whether it would be better to have this field show on the "User" page (instead of "User profile" - or both?) as that is where the backend login and join dates show - to have the "important dates" in one place?

[2020-07-15 13:40] GregoryHorvath commented on #956
@teklal I couldn't (maybe yet) find a way to add fields to the actual `User` model since it's the standard Django model if I'm right. I believe thus why it was necessary to implement the `User Profile` model so the `User` model could be extended this way.
On the other side if we want to show it somewhere on the frontend that should be no problem.

cc @batpad @thenav56 could you validate if I'm wro

[2020-07-15 14:08] imohkay commented on #1325
@maisa-yu @mariam-yu https://dsgoproxyapp.azurewebsites.net/ has been updated with highlighted operations at the top.
I've reduced the size of the key numbers, but am planning to work on the proper margins and spacing for a future release (not the current one). A lot of the code is getting refactored styling-wise, and it would be great if we could push all those changes together. My only concern i

[2020-07-15 14:16] mariam-yu commented on #1325
@imohkay Let us do a proper audit and get back to you. In the meantime, I think it's better to have the previous margins rather than these ones, as the contrast might be too big with other elements on the page. Would it be easy to readjust? I will respond to you shortly about your question about page sizes. Checking with our UI designer.

Also, do you mind updating the font sizes on Highlighted Op

[2020-07-15 14:19] maisa-yu commented on #1325
@imohkay On zeplin the margins are 1440px. Could we just reduce the width to 1420px (just removing 10px from each side)? Thanks!

[2020-07-15 14:33] mariam-yu commented on #1325
@imohkay To add to Maisa's comment, what we have is a full width of the page 1440px with a 100px margin on each side, which makes the content itself 1240px. How was it before? Can you clarify? And is this doable?

[2020-07-15 14:42] lauripynnonen opened #1399 "Add 3w link to Go dropdown"
![image](https://user-images.githubusercontent.com/8285694/87558598-94727580-c6b9-11ea-91a4-8cd817a607c5.png)
Related to [1363](https://github.com/IFRCGo/go-frontend/issues/1363)

The above dropdown could have a "Create 3w activity" link after the links to the Kobo forms. This should lead to a 3w form. However, after the user submits the 3w activity they should be redirected to the country 3w page

[2020-07-15 14:59] nanometrenat commented on #1363
Thanks loads for doing this dropdown @batpad

Just one last further tweak required please to finish it off - at the moment when I access go.ifrc.org via mobile device I still see the "New Field Report" button rather than the lovely new-style "Create a Report" dropdown.  Can you please make sure that the mobile header is consistent (where consistency is required)?  Thanks a lot

[2020-07-15 15:09] nanometrenat commented on #1325
Hi, request from me - as per the GO call - I know that the GO platform is not optimised for mobile, and I know that mobile optimisation is not in scope for this particular round of changes, which is fine - however it would be GREATLY appreciated if the work being done at the moment could always be keeping the mobile user experience equivalent-to-current (if not improving it!!) rather than in any w

[2020-07-15 15:28] batpad commented on #1325
The styling restructuring to support RTL, due for the mid-August release along-with translations, should greatly improve the experience on mobile, or at the very least, make it much easier to work toward. @imohkay please add if there's specific comments around that, but I know from conversations that this should hugely improve some of the styling handling for smaller screens.

For this release, if

[2020-07-15 15:33] batpad commented on #1363
Thank you for the catch @nanometrenat .

@imohkay would it be straightforward to switch the Create Field Report button to the Dropdown in the mobile-header.js component? I'm not sure how the dropdowns currently work on mobile. I agree that this would be really good to do, as even if we don't fully support mobile, we shouldn't have inconsistencies. @imohkay if this seems straightforward from a styl

[2020-07-15 16:00] imohkay commented on #1363
@batpad I'll take a look... At some point, it may be nice to refactor the header so we don't have two different components and the CSS handles the styling... But that's for another day :D

[2020-07-15 16:55] imohkay opened #1402 "Merge Mobile Header with Header"
Right now, there are 2 headers (including the mobile one).
Ideally, they should be merged into one and the responsive styling handled via the CSS.

[2020-07-16 06:11] thenav56 commented on #956
@GregoryHorvath Yeah creating `User Profile` is a better/easier approach then custom `User` model.

If the requirement is to show the user profile in the user edit page in the Django admin panel then it can be done using inline.
Eg: https://github.com/the-deep/server/blob/develop/apps/user/admin.py#L15-L46
NOTE: Don't pass profile inline if the instance is been created. https://github.com/the-deep

[2020-07-16 09:02] frozenhelium commented on #1386
@batpad While setting up this I also noticed that we don't have any code splitting (i.e. loading only the requested views / components dynamically) in the GO! We should also implement that in the future.

[2020-07-16 09:19] imohkay opened #1406 "Add new grid to field report"
Add new grid styling to field report and improve styles based on Zeplin design

[2020-07-16 09:23] nanometrenat commented on #1325
I haven't been involved in or seen the new designs but if staging is reflecting what is designed then great thanks a lot :)  Was only mentioning the key figures screenshots because they are used off-GO as well, many cheers.

[2020-07-16 09:41] nanometrenat commented on #1203
Just a reminder here that the key thing is to also be able to EXPORT the Field Reports by region - so please don't do any visual/styling changes that would prevent that from happening.  e.g. if it's just an on-page filter then will users still be able to export by region without things falling over?  Exporting ALL often falls over, so region-by-region is essential functionality for users right now

[2020-07-16 11:31] nanometrenat commented on #1324
Hi, just chanced across a place in Staging where the key figs look weird to my eyes - see screenshot.  This is the staging version of the Global COVID-19 appeal page so this one defo needs to look fab!  Might still be a work in progress but just letting you know: https://dsgoproxyapp.azurewebsites.net/emergencies/3983#details
Cheers

![image](https://user-images.githubusercontent.com/33625192/8766

[2020-07-16 16:00] GregoryHorvath commented on #956
@teklal Above PRs name describes it well I guess, thanks for the tip @thenav56 I don't know why I haven't done this earlier:
![Screenshot from 2020-07-16 17-59-13](https://user-images.githubusercontent.com/30079559/87694200-2cda2a00-c78e-11ea-9a74-fa969bffd8cb.png)

[2020-07-16 19:29] imohkay opened #1408 "Add new grid to Emergency Detail Page"

[2020-07-16 19:45] mariam-yu commented on #1198
@lauripynnonen Finally got to creating some mockups for this: https://invis.io/3QY3M2D9NJW#/372627192_3-2-1_GO_Country_3W Let me know your thoughts. Some comments and questions:

1 - Combined the Local and External projects if available. For example, Netherlands may do projects within their country but also quite a lot outside. Does this work?
2 - Proposing to put them both in the 3W tab.
3 - We s

[2020-07-17 07:02] imohkay opened #1411 "Add new grid ui and consistent styling to Preparedness page"

[2020-07-17 08:24] mmusori opened #1412 "[PROD] Export functionality of all Emergencies"
Export functionality of all emergencies from the front end, while logged in or not logged in with your personal account is not working: https://go.ifrc.org/emergencies/all

[2020-07-17 09:14] nanometrenat commented on #1412
xref https://github.com/IFRCGo/go-frontend/issues/1349 for details of various export-related issues

[2020-07-17 10:49] batpad commented on #1396
@teklal thanks for this ticket and I believe this is definitely something we should do.

I've moved this to the `Needs Spec` column because I believe this needs a bit more detailed speccing out how the behaviour should be at every step -

 - What happens on the initial field report submission
 - What happens on a new field report submission
 - What happens when a user edits an existing field repor

[2020-07-17 14:23] imohkay opened #1414 "Add grid ui and styling to login, account pages"

[2020-07-17 14:32] GregoryHorvath commented on #1412
Before the above PR it took ~1min to get the CSV for me on staging. After deploying the PR it took me ~15sec. This could be easily deployed to production as a separate hotfix, if needed.

cc @batpad checked the before-and-after CSVs with `diff`, there was no difference.

[2020-07-17 14:41] karitotp commented on #1324
As Natalie mention, there are other things that looks weird too:
- Dropdowns and details in popup of the map aligned to right, and like this, stat in charts, countries in the region page are aligned to the right too.
Here some screenshots:

![Screenshot from 2020-07-17 09-25-37](https://user-images.githubusercontent.com/11504548/87796959-b2ea8500-c80f-11ea-9132-560cbeed83bd.png)

![Selection_016](

[2020-07-17 14:57] batpad commented on #1412
@GregoryHorvath the PR looks great to me. Let's not do this hotfix late on a Friday, but let's have it on staging and consider deploying a hotfix on Monday?

I do feel that this combined with the PR to simplify the fields in the export ( https://github.com/IFRCGo/go-api/pull/762 ) should get us to a much better place with the CSV exports, and at least get them functional again while we figure out

[2020-07-17 16:09] GregoryHorvath commented on #956
@teklal deployed to staging.

[2020-07-18 08:24] imohkay opened #1416 "Add grid UI and Zeplin styling to Country page"

[2020-07-18 08:39] imohkay commented on #1416
TODO:
1. For Operations, move the View all link to the fold header for the first table in the tab

[2020-07-19 10:16] imohkay opened #1418 "Remove pagination if there is only 1 page (to be done globally)"
Right now, even if there is a single page, the pagination widget shows up with 1 and next previous icons.
This has been mentioned in YU's feedback list.

[2020-07-20 07:06] imohkay commented on #1416
Closing in favour of master ticket #1382

[2020-07-20 07:06] #1416 closed

[2020-07-20 07:06] imohkay commented on #1414
Closing in favour of master ticket #1382

[2020-07-20 07:06] #1414 closed

[2020-07-20 07:06] imohkay commented on #1411
Closing in favour of master ticket #1382

[2020-07-20 07:06] #1411 closed

[2020-07-20 07:06] imohkay commented on #1406
Closing in favour of master ticket #1382

[2020-07-20 07:06] imohkay commented on #1390
Closing in favour of master ticket #1382

[2020-07-20 07:06] imohkay commented on #1388
Closing in favour of master ticket #1382

[2020-07-20 07:06] imohkay commented on #1385
Closing in favour of master ticket #1382

[2020-07-20 07:07] #1385 closed

[2020-07-20 07:08] #1408 closed

[2020-07-20 07:08] imohkay commented on #1408
Closing in favour of master ticket #1382

[2020-07-20 07:08] #1406 closed

[2020-07-20 07:08] #1390 closed

[2020-07-20 07:08] #1388 closed

[2020-07-20 12:12] nanometrenat commented on #1233
Thanks @GregoryHorvath just noticed that ICRC is showing in the National Society dropdown - is there a way to filter this out?  Thanks a lot

[2020-07-20 13:03] GregoryHorvath commented on #1233
@nanometrenat Sure, it's basically only gathering the `society_name` fields from the Countries, but 'ICRC' appears to be both on staging and production there. I'll filter that out.

[2020-07-20 13:42] nanometrenat commented on #1206
@mariam-yu @imohkay @batpad
Just going through staging with Daniel, we noticed the below - there is only one emergency highlighted for this region, and there is plenty of space for the full emergency name - yet for some reason it's being shortened with an ellipsis rather than having the full emergency name.  Can you please take a look?
![image](https://user-images.githubusercontent.com/33625192/87

[2020-07-20 13:46] mariam-yu commented on #1206
@nanometrenat Great catch. We actually just reviewed it today in our audit call. So the devs are on it :)

[2020-07-20 13:49] nanometrenat commented on #956
Pleased to report that for a brand new user (Daniel) the Last frontend login date gets correctly populated (from null) on first login.
Still to test:  that subsequent logins update it correctly.  Cheers!

[2020-07-20 14:00] nanometrenat commented on #956
@GregoryHorvath can you please also add this new field to the user export csv (available from https://dsgocdnapi.azureedge.net/api/profile/ in the dropdown)?  Thanks loads

[2020-07-20 14:02] GregoryHorvath commented on #956
@nanometrenat It's there for me?
![image](https://user-images.githubusercontent.com/30079559/87946548-72ef0080-caa2-11ea-9abe-294b03b6c29c.png)

[2020-07-20 14:16] imohkay opened #1420 "Site updates based on Yellow Umbrella feedback"
Yellow Umbrella has reviewed the new branch here and offered the following feedback in this document:

https://docs.google.com/document/d/1TenJGBlXZoDXZ_-A8S2mnkXEuDFtXdcUyUCR-pLBNIE/edit

[2020-07-20 14:19] nanometrenat commented on #956
SORRY!  I looked again and you are so right.  @tovari and I were both looking and didn't spot it - oops!  Apols! Thanks for your patience with my muppetdom :)

[2020-07-21 06:09] imohkay commented on #1206
@batpad @nanometrenat @mariam-yu
Initially, the character count was 30. On staging, it is currently changed to one line only via CSS (which may spill over to 2 lines).
I will now be doubling the original character count to 60, as discussed in yesterday's call. Let me know if that works. Either ways, will be a simple fix to change things...

[2020-07-21 07:57] GregoryHorvath commented on #1412
@nanometrenat deployed the latest changes (https://github.com/IFRCGo/go-api/pull/823) to staging, now it takes ~17 sec for me to download all the Emergencies there (before it was ~1 min, then after the first change ~30 sec). Big thanks for @thenav56 for optimizing the query and the education/patience.

cc @batpad (query counts: from ~282 --> ~82 --> ~11) Checked the before/after exports with `diff

[2020-07-21 09:19] mariam-yu commented on #1206
@imohkay Thank! Could you please share an example of the long title to see how it looks like?

[2020-07-21 10:07] geohacker opened #1422 "Nepal districts don't have any attributes in the shapefile"
In the ICRC admin1 shapefile, some districts in Nepal don't have any attributes.
![image](https://user-images.githubusercontent.com/371666/88041247-bf504400-cb67-11ea-8cb7-0f95b82a1e0b.png)

_the ones in yellow, all attributes are NULL_

We need at least the ADMIN01COD and iso2 so these can be associated correctly.

@batpad @teklal I'm not entirely sure who this should be assigned to as I don't kn

[2020-07-21 10:44] imohkay opened #1423 "Ensure GO is uppercase text everywhere"
Including HTML page titles

[2020-07-21 11:43] geohacker opened #1424 "[PROD] [STAGING] Duplicate entry for admin1 Sulawesi Tengah, Indonesia"
## Issue
I ran into this issue while importing admin1 boundaries into the test database I've locally and was able to confirm that it is also the case on staging and production. There are two entries in the district table for the same district in Indonesia.

This happened because the ISO2 and ISO3 is not enforced at the model level. And likely when someone entered they accidentally created duplicat

[2020-07-21 11:43] geohacker commented on #1424
cc @batpad @GregoryHorvath

[2020-07-21 18:43] imohkay opened #1427 "Remove commented out code for new grids"
I've commented out hundreds of lines of code for the new grids...
Delete these lines of code. Fix any RTL styling properties that I come across in the meantime.

[2020-07-21 18:49] imohkay opened #1428 "Add links to country, region for Header in Country and Emergency Page"
**Please base off branch feature/1382-grid-ui for this:**

**Emergency page:**
The region and country should be mentioned below the heading like here:
https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/417134563

I have the styling and markup for this commented out in the view. Please see the commented block of code below the only h1 tag on the page.

**Country page**
The region should be

[2020-07-21 18:51] imohkay opened #1429 "Move Table : Emergencies Landing page"
**Please make changes based on branch feature/1382-grid-ui**

Refer to the table with the heading: EMERGENCIES IN THE LAST 30 DAYS (8)
That heading, along with the View All link to its right, needs to be moved up to just above the map.

[2020-07-21 18:55] imohkay opened #1430 "Do we move Emergency Overview into the Tabs?"
**Please make changes based on branch feature/1382-grid-ui**

Emergency Individual page:
In the list of feedback from YU, it has been mentioned:
Emergency overview comes after the tabs // Let’s discuss this, Not sure at which stage of development are you on this.

This probably needs to be confirmed first, but am adding it here for clarity.

Design Ref: https://projects.invisionapp.com/share/HGX94

[2020-07-22 09:35] imohkay opened #1434 "Move CHF and % from Table headings to Table cells"
Do this globally for tables:
Design reference: https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5ebd38896a3c2230f204bd5b

[2020-07-22 11:50] lauripynnonen commented on #1198
Comments from end-user (Henk, NLRC):

- [ ] rename the tab to "Activities (3W)". And not "Movement Activities".
- [ ] In this tab there are two sub-tabs. This is where it now gets confusing. I would make the two tabs as follows: Activities in country and NS activities in other countries. The "in-country" could show the map of the country with all the activities done by Movement partners as well as

[2020-07-22 12:06] nanometrenat commented on #1364
Based on comment from Sanjay via email:  would update the grid framework through the site to support RTL languages. This has the side effect of bringing the styles up-to-date and making them easier to work with, and taking us a long way toward much better support on mobile.

xref https://github.com/IFRCGo/go-frontend/issues/1253 - not sure if this ticket replaces that ticket or is a prerequisite?

[2020-07-22 12:11] batpad commented on #1382
This is the list of changes and pages touched, to support the new grid for RTL languages, as well as ensuring consistency with regards to the new designs.

@karitotp it would be great to do a thorough test of these on staging.

### Not pushed for this release
- Matching filter styling for Tables to new designs

### Across the Site:

 - Since the site has a new grid, please make a note if the UI lo

[2020-07-22 12:41] teklal commented on #1298
This was solved in https://github.com/IFRCGo/go-frontend/issues/1363, right? @mmusori if so, do you mind moving this to the right column and closing if no further work needed?

[2020-07-22 12:53] nanometrenat commented on #1298
Yes solved in 1363 so closing as no further action required

[2020-07-22 12:53] #1298 closed

[2020-07-22 12:54] nanometrenat commented on #1363
@imohkay can you please confirm status of this ticket?  Is it done or should I log a new ticket for the mobile header aspect?  I see a commit above but not sure of status.  Thanks a lot.

[2020-07-22 12:55] GregoryHorvath commented on #1382
Don't know if this happens only on Ubuntu because as far as I know the 125% DPI option is not yet fully supported, or on other systems too but this happened while using it - Emergencies page top part:

![hidpi_bug](https://user-images.githubusercontent.com/30079559/88178796-3b5f9000-cc2b-11ea-9218-5ec940052b27.png)

After switching back to 100% DPI it looks normal now (I guess), the whole list is

[2020-07-22 14:34] imohkay opened #1438 "Add documentation for new grid"
Create a new markdown file and add documentation for the grid. Link it to the contributing.md file

[2020-07-22 22:44] karitotp commented on #1382
Hey @batpad, I gave a look to the all page in ubuntu, overall looks good and most of the things match with the design in zeplin, there are still some things that are different, some of them I comment below:

- Home page:
 In the last part of the home page, in Staging site is "SURGE NOTIFICATIONS" instead the "LATEST EMERGENCIES" according to the stile in zeplin.

![Screenshot from 2020-07-22 14-52

[2020-07-23 05:33] imohkay commented on #1243
@mariam-yu Hey Mariam, just wanted to check if the Specific Emergency page on Zeplin is good to implement? Or does anything need to be clarified?

[2020-07-23 06:19] imohkay commented on #1382
@frozenhelium Hey, quick question: For certain properties, we may need special styling like for background-position.
In that case, I would guess doing something like this in Sass would be ideal. But this doesn't seem to work for me

[code]
However, if I manually change the body tag to say `<body dir='rtl' ...>`, then that works. Right now, the rtl is being applied conditionally as an inline style.

[2020-07-23 06:23] imohkay commented on #1382
@GregoryHorvath That's some old code using negative margin for the Export table button. Hopefully, all this will be sorted out once the table filters are implemented across the site, which is on the radar.

[2020-07-23 06:24] imohkay commented on #1382
@batpad some of Karito's observations may be for you...

[2020-07-23 10:11] frozenhelium commented on #1382
@imohkay I haven't changed the `dir` property of the `body` when switching to rtl language, I'll add that too. It should work as expected after that. If it works when you do `<body dir='rtl` ...>`, then it'll be good afterwards as well.

[2020-07-23 10:40] GregoryHorvath opened #1443 "Improve performance and reduce data loads on home-page"
## Issue
1. Currently there are duplicate requests going out to the API when visiting the home-page because multiple components call the same action.
2. Some of the maps above data-tables get re-rendered whenever the table-page is changed, which largely impacts the render time.

## Expected behaviour
1. Only one request / action should get fired.
2. Maps shouldn't be re-rendered because they show

[2020-07-23 10:49] GregoryHorvath commented on #1443
@karitotp On the surge URL above this should be testable.

## Expected
1. The design should look the same as it is on staging for - Home page "ACTIVE OPERATIONS", any Region page "ACTIVE IFRC OPERATIONS" or when you click "View all ..." link at the right side of these titles
2. Same data-sets are present
3. Filters are still working for the map
4. When you switch table-pages below the map the map

[2020-07-23 11:38] geohacker commented on #1424
We'll get around this by writing a migration that:
* maps all field reports associated with 3525 to 1234
* And removes 3525
* sets a max length of 2 on the country_iso field

This will be addressed as part of https://github.com/IFRCGo/go-api/pull/815

[2020-07-23 11:40] imohkay commented on #1382
@frozenhelium Sounds good. I made a PR for you with some changes for improvements in RTL styling.

[2020-07-23 11:47] mariam-yu commented on #1243
@imohkay So, we have the shorter emergency example there and are currently adding soon the longer one (the difference is basically the number of tabs and some extra modules). Shorter emergency will be in case there is not enough data while longer for big emergencies when there is a lot of data. Hope this makes sense.

Also, about your earlier questions: The grey extended background is more of a vi

[2020-07-23 11:50] imohkay commented on #1243
@mariam-yu sounds good, I'll wait for the longer example with more tabs :)
Regarding the extended background, that sounds good and you can go ahead and do an audit :)
I took a look at the chart styling and it's all standardised now, and I think matches what's on the site currently.

[2020-07-23 12:13] geohacker opened #1445 "[PROD] Incorrect districts import"
## Issue
There are a few districts with no code and incorrect country foriegnkeys.

[code]

Country ID 282 is Americas Region
Country ID 3 is United Kingdom country

For instance, mapping Aksai Chin as part of Americas Region seems outright incorrect

## Expected behaviour
The districts should be mapped to appropriate country or no country at all when it's territory is under conflict.

## Impact
T

[2020-07-23 12:18] mariam-yu commented on #1243
@imohkay Really good job. It's coming together nicely! A few things I noticed:

1 - Thanks for making Search bigger. Just a note though, this wasn't approved yet from the team. @mmusori Did you have any thoughts on this or we wait for Luke?
2 - In the table under the map (across), can you make Requested Amount left aligned.
3 - Also, there is a bit of a funky thing happening with the map table on

[2020-07-23 12:41] geohacker commented on #1445
I should also point out that the above districts all have code `N.A`.

[2020-07-23 12:48] geohacker opened #1446 "[PROD] Duplicate code for two different districts in Poland"
## Issue
Came across two different districts in Poland with the same code, PL009. This is also the case in the shapefile.
![image](https://user-images.githubusercontent.com/371666/88288035-cfefee00-cd10-11ea-9ebe-30da01fa12f8.png)
_districts in yellow_

[code]

## Impact
Potentially inconsistent database entries

cc @batpad @teklal @GregoryHorvath

[2020-07-23 13:09] geohacker opened #1447 "[PROD] Saint Martin district in France has code 'f'"
## Issue
Saint Martin district has code `f` in the shapefile. This code should be something like country_iso2 combined with a number.

![image](https://user-images.githubusercontent.com/371666/88290047-c87e1400-cd13-11ea-96f5-ce3d1f64a57e.png)

cc @batpad @teklal @GregoryHorvath

[2020-07-23 14:06] geohacker commented on #1447
cc @guipizzini

[2020-07-23 14:06] geohacker commented on #1445
cc @guipizzini

[2020-07-23 14:06] geohacker commented on #1446
cc @guipizzini

[2020-07-23 14:07] geohacker commented on #1424
cc @guipizzini

[2020-07-23 14:07] geohacker commented on #1422
cc @guipizzini

[2020-07-23 14:18] mariam-yu commented on #1243
@imohkay One more thing, we updated the top nav dropdown style (for languages) in Zeplin. It's on the same section as the dropdown for Create a Field Report. Let us know if any questions.

[2020-07-23 15:00] karitotp commented on #1443
There are some differences in the name of the columns in "Active operations" in home page, same in the table of all operations and the table of "Active ifrc operations" in a region page.
About the width of the columns in operation table maybe are different to the staging because in some cases the data is appearing in two lines and other just in one line.

![Selection_002](https://user-images.githu

[2020-07-23 15:13] GregoryHorvath commented on #1443
@karitotp Oh sorry I thought I linked the surge URL here as well, glad you found it in the PRs. Surge (test) URL: https://ifrc-go-fix-map-rerender.surge.sh/

Those design changes seem pretty new from today, I merged the changes from `develop` and deployed to the surge URL again, so now they should be identical in design.

[2020-07-23 16:32] imohkay opened #1448 "YU Feedback for UI post Grid Update"
1 - Thanks for making Search bigger. Just a note though, this wasn't approved yet from the team. @mmusori Did you have any thoughts on this or we wait for Luke?
2 - In the table under the map (across), can you make Requested Amount left aligned.
3 - Also, there is a bit of a funky thing happening with the map table on the regions (e.g. on Africa). When you click on page numbers, it jumps below the

[2020-07-23 16:33] imohkay commented on #1243
Thanks @mariam-yu
I've dropped the feedback into a new ticket (#1448) and will work on the changes soon.

[2020-07-23 18:32] imohkay commented on #1448
@maisa-yu Sorry, but where is Aland-Bio-Test3? (See point 7 in the above description: "When clicked on Aland-Bio-Test3, the site breaks.")
I'm trying to tag Mariam, but she's not showing up in the people search right now, for some reason.

[2020-07-23 18:39] imohkay commented on #1448
@batpad  See point 3 of the issue description. This jumping of content during pagination seems to be a standard issue. Is there a way out? I'm guessing it happens because the height of the content changes while the new content is being fetched?

[2020-07-23 19:39] nanometrenat commented on #835
Bump!  Has this been superceded by https://github.com/IFRCGo/go-frontend/issues/1094 or is there more work to do?

[2020-07-23 19:59] nanometrenat opened #1450 "[PROD] User Guide and Admin Guide pdf documents not available in French"
## Issue
https://go.ifrc.org/about has the User Guide and Admin Guide available in 4 languages.  At least, it implies it does... but the french titles are just placeholders and don't link anywhere.

FR

- Guides d'Utilisation
- Guides Administratifs

We need to get them translated and then ask a dev to add them to the Resources page to support our French-speaking users.  This comment on another ti

[2020-07-23 22:09] mariam-yu commented on #1448
@imohkay Not sure why you can't tag me :S This was more a comment about one of the Highlighted Ops on the Home screen (the 3rd one in the top row). When I click on it, the site crashed (for me anyway).

[2020-07-24 04:53] imohkay commented on #1448
@mariam-yu  Now I can tag you again. Yesterday was just an anomaly, I think. You're right about the specific Highlighted Ops. I'll make a ticket and assign to a developer...

[2020-07-24 04:55] imohkay opened #1451 "Issue with Link to third Highlighted Operation "Aland Bio 3" on home page"
Mariam has observed that the link to this goes to a page with issues. Could you take a look?

[2020-07-24 05:13] batpad commented on #1448
Thank you so much for this catch, @mariam-yu . Fixed with #1452 . This should now work on staging.

Just a small note: This was crashing when the country associated with the emergency did not have a "Region" associated. This is likely a data anomaly that will hopefully be fixed with our larger push to fixing our spatial data, for now am just not showing the region identifier and link below the pag

[2020-07-24 06:00] batpad commented on #940
Just a quick update on this ticket: Thanks to @frozenhelium, we have a good pattern now to fetch this data during initial app load, without adding too much complexity to each individual component that depends on these values: https://github.com/IFRCGo/go-frontend/pull/1404 .

Now it is a matter of ensuring all the data currently hard-coded is available via API calls, and managing setting and getti

[2020-07-24 08:17] mariam-yu commented on #1448
@batpad Great! I thought there must be an anomaly. Thanks guys!

[2020-07-24 08:20] batpad commented on #1448
@imohkay I've merged the PR you had to address these changes. Could you provide a summary of the fixes so that @mariam-yu can re-look and confirm if things have been fixed? I pushed a fix for the problem causing the Emergency page to crash if there was no region for the associated country.

[2020-07-24 09:24] imohkay commented on #1448
@mariam-yu

All tables should have Requested Amount and Funding titles left aligned. Hopefully, almost all the table titles won't wrap now, but it can be a bit delicate.

Emergency map styling now consistent with home, and I've added a bit of padding between the items under the "Key" section

All the dropdowns in the top nav (Lang, Account and Report) should have similar styling, but unfortunately

[2020-07-24 09:24] imohkay commented on #1448
@batpad need me to move this into a separate ticket?

[2020-07-24 11:23] mariam-yu commented on #1448
@imohkay Great! Thanks for doing the changes so quickly. I glance through it, and some minor things:
1 - On Home the first View all operations is still smaller in size than the rest. So some disconnect with the total CSS.
2 - Tables look great! Just a small thing - on Regions when clicking through the table pagination, it jumps under the table but should jump to the top of the table if possible.
3

[2020-07-24 11:40] geohacker opened #1456 "admin1 shapefile has incorrect encoding for names"
## Issue
admin1 shapefile has several district names that aren't properly encoded. For example:

* `?smay?ll?` for `İsmayıllı`
* `Br?ko`
* There are a lot of these weird ones that make matching really difficult

cc @batpad @guipizzini @teklal

[2020-07-24 11:41] mariam-yu commented on #1448
@batpad As you mentioned, here are some comments for a general clean up of em. and country pages before the push:
1 - Hiding the tabs that have no content, but I assume it's probably a bigger thing. So, your call.
2 - https://dsgoproxyapp.azurewebsites.net/emergencies/3789#details On this page, the map section seems a bit off, doesn't have a title, and the export button is a fit floating.
3 - Show

[2020-07-24 16:32] mariam-yu commented on #1198
@lauripynnonen @mmusori So, 3Ws are updated: https://invis.io/3QY3M2D9NJW#/372627192_3-2-1_GO_Country_3W Please take a look when you get a chance.
- Updated terminology, so now it's all Projects and not Activities, Receiving/Sending NS (unless can be completely avoided ;) ), not Regions but Districts, and such.
- Clearer distinction what each section represents with organized tables

Questions:
-

[2020-07-24 17:03] imohkay opened #1458 "Page jumping issue on clicking Table Pagination"
@batpad Note from Mariam:

 Just a small thing - on Regions when clicking through the table pagination, it jumps under the table but should jump to the top of the table if possible.

[2020-07-24 17:07] imohkay commented on #1448
@mariam-yu
1. Home 'View all operations' should be fixed now on staging
2. Table jumping pagination issue assigned to @batpad here #1458
3. Emergency page: TBD
4. Could you let me know how the Country header looks wider? I can't seem to spot exactly where...
5. Go in uppercase has been assigned to @batpad here: #1423

[2020-07-24 22:59] mariam-yu commented on #1448
@imohkay for #4 was my bubu - I meant the height and spacing between the elements. The width is perfect. Thank you!!!!

[2020-07-25 07:06] imohkay opened #1459 "Conditionally show "Show More" and "Show Less" only if there is extra content"
Right now, the Show More toggle shows up all the time.
Example: See Situational Overview here: https://dsgoproxyapp.azurewebsites.net/emergencies/3789#details:

Mariam has noticed this here.

[2020-07-25 07:08] imohkay opened #1460 "Map needs a title on Specific Emergency Page"
Unsure what this title is supposed to be.

Mariam has noticed this while doing an audit. See this page, for example:
https://dsgoproxyapp.azurewebsites.net/emergencies/3789#details

[2020-07-25 07:09] imohkay opened #1461 "Alerts table has extra tr element, showing extra bottom border"
Unsure what the role of that <tr> element is. @batpad Would you be having an idea?
Link here: https://dsgoproxyapp.azurewebsites.net/emergencies/3786#details

Mariam has noticed this while doing an audit.

[2020-07-27 05:56] batpad commented on #1451
This is fixed, referencing master issue https://github.com/IFRCGo/go-frontend/issues/1382 and closing.

[2020-07-27 05:56] #1451 closed

[2020-07-27 05:57] batpad commented on #1418
This is done. Referencing master ticket https://github.com/IFRCGo/go-frontend/issues/1382 and closing.

[2020-07-27 05:57] #1418 closed

[2020-07-27 05:58] batpad commented on #1428
This is done, referencing master ticket https://github.com/IFRCGo/go-frontend/issues/1382 and closing.

[2020-07-27 05:58] #1428 closed

[2020-07-27 06:08] batpad commented on #1460
I am also unsure what this title is supposed to be. It seems like this doesn't have a title as such, though the Export button to the top right I think has always looked a bit weird.

@mariam-yu do you know if there should be a title above the map there, and if yes, what that should be? Happy to also be pointed to wireframes or so that clarify this. Thanks!

[2020-07-27 07:48] #1448 closed

[2020-07-27 09:28] mariam-yu commented on #1460
@batpad So the lingo needs a proper cleanup on which I'm working now, but here are the wires: https://invis.io/36XXV6AT2YE#/412675366_4-3-1_GO_Specific-Emergency_Epi

Basically, the map structure should be consistent throughout. We can call it for now Affected Regions (as it's on the legend of the map as well).

[2020-07-27 09:36] geohacker opened #1464 "[PROD] 'countries' that are missing compared to admin0 shapefile"
Here's a list of all 'countries' that are missing in production compared to the admin0 icrc shapefile.
[code]

@teklal @batpad @guipizzini -- I'm guessing these should be imported as countries (record_type = 1). But I'll hold off until we confirm.

[2020-07-27 09:40] batpad commented on #1464
As long as we have this list to serve as documentation of what countries have been added during this import process, I'm okay with this. My hunch is that ideally this is something that should be looked at in greater detail to ensure any weird edge cases are covered. I think the question would be if there's other reasons these are not in the current list of "countries" in the backend / if for some

[2020-07-27 09:42] geohacker commented on #1464
@batpad 👍  agree this needs to thought a bit more before importing. The scripts won't auto-import anything.
They all have a region column in the shapefile and can be mapped correctly based on what regions are available in the database.

[2020-07-27 09:58] batpad commented on #1460
@imohkay so we'd need to add a title / heading saying `Affected Regions` above the map on the Emergency page (for emergencies that have a map).

The map is being rendered here: https://github.com/IFRCGo/go-frontend/blob/develop/src/root/views/emergency.js#L927, so I guess it should hopefully be possible to stick it inside https://github.com/IFRCGo/go-frontend/blob/develop/src/root/views/emergency.

[2020-07-27 10:52] nanometrenat commented on #1464
None of these have RCRC  national societies so should not appear in any dropdowns relating to IFRC countries.  They also should not appear on any "region" pages on GO (i.e. should not appear on https://go.ifrc.org/regions/2#operations etc.)

xref https://github.com/IFRCGo/go-frontend/issues/1276#issuecomment-651592294 and various others.

[2020-07-27 10:54] nanometrenat commented on #1464
Please also always xref any Geospatial tickets back to the master ticket https://github.com/IFRCGo/go-frontend/issues/938 cheers

[2020-07-27 11:18] geohacker commented on #1464
@nanometrenat this is helpful, thank you. Some followup questions:

* Can you tell me where this list of RCRC national societies are?  That will allow me to further refine these import suggestions.
* Also, if they shouldn't appear in the dropdowns related to IFRC countries or region pages then should these not be in the database?
* Is there a different version of IFRC Go shapefile than the ICRC on

[2020-07-27 11:32] nanometrenat commented on #1464
Hi, basically if there is a "Society Name" against the country then there is a National Society.  There are a few "quirks" whereby there are some countries' NSs have a special status (e.g. Eritrea) so should in the ideal world appear in some places but not others (based on governance).  But on the whole the above holds true.

If you have a read of the other geospatial tickets then you can see that

[2020-07-27 13:34] lauripynnonen commented on #1198
In the second section (NS with external projects), are we only showing ongoing projects or all?
- I would say all (they can be filtered to cover only ongoing right?)
Lauri to clarify what timeframe we are using for Total Projects numbers.
- Should we use the past 12 months for the total project numbers (with some kind of a disclaimer?)

[2020-07-27 15:01] batpad opened #1466 "[Staging] Export Map styling broken on staging"
## Issue

The styling in the image exported in the Export Map feature is broken on staging.

## URL

https://dsgoproxyapp.azurewebsites.net/emergencies/3786#details

## Steps to reproduce

Click Export Map button on top-right of the map. See generated image. The "Legend" is showing up unstyled on the exported map.

*If applicable, add screenshots to help explain your problem.*

![2020-07-27-Flood-

[2020-07-27 15:11] batpad commented on #1466
Comparison with map on production: https://go.ifrc.org/emergencies/4543#details

[2020-07-27 15:26] batpad commented on #1466
So, looking at this further, this seems very inconsistent to reproduce.

It seems to always work fine in Chrome, and in Firefox it seems to mostly always work, but sometimes be broken. Am going to remove the `Must Fix` label as it seems to only break in some edge cases and may not actually be a regression.

@karitotp can you please pay special attention to testing the Export Map functionality on s

[2020-07-27 18:32] karitotp commented on #1466
Hi @batpad,
I took a look exporting maps from different emergencies in chrome browser and the exported map looks good in all cases that I exported.

What I found about the map rendering in the emergency details are:
- Not in all emergency details there is a map (Do not know if this is normal) https://dsgoproxyapp.azurewebsites.net/emergencies/4012#details
- In the emergencies in Peru, the map does

[2020-07-27 21:45] karitotp commented on #1443
@GregoryHorvath, now, the operations table is same to the table in Staging, only the column of "Requested Amount" needs to be aligned to the left as "Disaster type" is.
![Selection_009](https://user-images.githubusercontent.com/11504548/88595034-e2776980-d027-11ea-8a1d-88b68a99585b.png)

[2020-07-28 05:55] imohkay opened #1468 "[Staging] Icons missing"
https://paper.dropbox.com/doc/IFRC-GO-TEST-07-27-R5uoDCI3YpCdQNrdaeA21

All the icons referenced in this document appear locally while testing, so there may be some issues with paths?

[2020-07-28 07:15] batpad commented on #1468
This was a bit strange, seems like a hiccup with the deploy process. Redeploying has fixed the icons now.

[2020-07-28 07:16] GregoryHorvath commented on #1443
@karitotp Thanks for the recheck, although this difference again should occur only because the surge site doesn't automatically follow the staging changes, and there are again some changes since the last time.

I'd say we're good with this, thanks :+1:, cc @batpad

[2020-07-28 07:36] imohkay opened #1469 "Edit action button height taller than other buttons on Specific Emergency Page"

[2020-07-28 07:48] imohkay opened #1471 "Unfollow Button span not clickable on Account Page"
Only the surrounding area (padding) of the button is clickable.

[2020-07-28 07:49] imohkay commented on #1471
I believe this issue is due to the span being automatically added to the button as a child (via the Translation)

[2020-07-28 10:20] nanometrenat commented on #1412
@batpad advises that @karitotp has tested this and that the "before" and "after" are all good.

[2020-07-28 10:23] nanometrenat commented on #956
@batpad advises that @karitotp has tested this and is happy.

[2020-07-28 13:40] geohacker opened #1473 "[PROD] Missing 'districts' compared to admin1 shapefile"
Here's a list of all districts that are missing or could be matched because the names are different / has unicode issues (related to #1456)

[code]

This is also related to #1464 #938

[2020-07-28 13:51] geohacker opened #1474 "Creating Mapbox tileset from go database"
With the work we have been doing in https://github.com/IFRCGo/go-api/pull/815 we will soon have all geometries for countries and districts in the Go database. The goal is to have go database become the canonical source of geo data for go-api and front-end.

This means that we can allow admins to edit names, fix centroid, adjust bbox, overwrite geometries etc from within the go-api Django Admin. To

[2020-07-28 16:12] karitotp commented on #1468
All icons appear on the page now!

[2020-07-28 17:23] necoline commented on #1189
@karitotp I am unclear on the ideal validation for the start date. If it's an event, users should select a date in the past, if it's early warning it should be a date in the future right?

[2020-07-29 03:00] karitotp commented on #1189
Hi @necoline, I assumed that the dates should be only dates in the past, because the date of the data is talking about when was reported the registered and dead cases, and the start date have as help text "The date when the first case is confirmed.".
I do not sure about a FR as an early warning. I think @nanometrenat can clarify which is the best validation for these dates.

[2020-07-29 07:00] batpad commented on #1189
Have commented on the PR: but my suggestion for the dates would be that validating that something "is a date" is good enough and let's not get into enforcing specific date ranges or past / future restrictions. I think this can likely get messy with various edge cases, and has the potential to frustrate users a bit. My suggestion would be to just validate that something "is a valid date" and not en

[2020-07-29 08:42] nanometrenat commented on #1189
Thanks for tagging me in @karitotp @batpad I'm sorry I didn't see this ticket earlier else would've commented.

Agree that we only want to just check that the input "is a date" and not also check past/future.  Partly because the business rules aren't well defined - would not only need clear business rules for early warning vs event when creating the FR, but would ALSO would need to cater for the f

[2020-07-29 12:08] nanometrenat commented on #956
Moving to Done as it's great to see the User Profile on the Users screen

[2020-07-29 12:15] nanometrenat commented on #989
Searching still wonky in Test and Prod - I am not sure whether this ticket (#989) or #1353 is best to track

[2020-07-29 12:16] nanometrenat commented on #1353
Search still not working in Test or Prod - please investigate asap.

[2020-07-29 12:48] nanometrenat commented on #1364
Sanjay advised on call yesterday that @karitotp has tested this and is happy.  Hence moving to Done.

[2020-07-29 12:49] nanometrenat commented on #1253
@frozenhelium @batpad was this already done under #1364 and other recent work?  Or is this separate?

[2020-07-29 12:50] mariam-yu commented on #1198
@lauripynnonen Thanks. I replaced the Tags filter with Status. Not sure if they would want a Tag filter? (Above the map). let me get back to you about the date ranges. Will check across the site and see what's consistent.

[2020-07-29 12:53] batpad commented on #1364
@nanometrenat on second thoughts, am moving this back to `Ready for QA`.

To explain: this code has been incorporated and we have tested that everything looks fine _without translations implemented_. We have not yet fully tested "for RTL compatibility" - this has been mostly tested, but will likely benefit from another thorough test, especially when we have translation strings for RTL strings in.

[2020-07-29 13:13] nanometrenat commented on #1077
@batpad should this ticket stay open?  thanks a lot

[2020-07-29 13:45] nanometrenat opened #1478 "[Staging] Format/styling of new UI, for the standard IFRC laptop resolution"
## Issue
Speaking with @mariam-yu there are some strange things visually with my resolution - I have an IFRC standard laptop currently set to 1920x1080.

https://dsgoproxyapp.azurewebsites.net/emergencies - Key figs look scrunched according to Mariam
https://dsgoproxyapp.azurewebsites.net/ - COVID highlighted operation 450,000,000 goes over the box

Apparently both of these are to do with break po

[2020-07-29 15:03] nanometrenat commented on #1364
Sounds good to track via 1253 rather than keeping two open for RTL - thanks!

[2020-07-29 15:09] nanometrenat commented on #1478
Adding another screenshot which Mariam tells me is again to do with breakpoints

- key figs on deployments page - going up and down in terms of text alignment baselines
![image](https://user-images.githubusercontent.com/33625192/88817761-32883480-d1be-11ea-9e21-63ecc5cc7c6c.png)

[2020-07-29 19:35] nanometrenat opened #1479 "[Staging] Lots of 304 errors retrieving images when loading homepage"
## Issue
Not sure how much of an issue this is but would need a dev to advise:
![image](https://user-images.githubusercontent.com/33625192/88844693-5447e280-d1e3-11ea-8321-2990f94c00fa.png)

## URL
https://dsgoproxyapp.azurewebsites.net/

[2020-07-29 19:38] nanometrenat commented on #1468
Not sure if this is related to the one I just logged https://github.com/IFRCGo/go-frontend/issues/1479 ?

[2020-07-29 19:38] nanometrenat commented on #1479
304 = the condition specified using http conditional header(s) is not met

[2020-07-29 19:45] nanometrenat commented on #1459
Also in Surge Alerts at bottom of the home page.
I have added a couple of alerts there and the column width jumps around when I hit show more show less because of the ...s being added/removed to the item with no additional content
@mariam-yu

[2020-07-29 19:47] nanometrenat opened #1480 "[Staging] Column widths of Deployed Personnel mean some NS names take 4 lines"
## Issue
Names unnecessarily wide so other columns squished @mariam-yu
![image](https://user-images.githubusercontent.com/33625192/88845789-fa481c80-d1e4-11ea-899c-6f03778c1fe5.png)

## URL
https://dsgoproxyapp.azurewebsites.net/deployments

[2020-07-30 12:10] mariam-yu commented on #1480
Thanks @nanometrenat

@imohkay there are some difficulties with the table column widths. Some that have longer text get smooshed and others have more space. Is there a way to organize it a bit more? Let me know if you want to chat about this.

[2020-07-30 12:14] mariam-yu commented on #1459
@imohkay @nanometrenat Closed the issue accidentally :PP

The jumping thing happens as the text goes to the next line. But yes, once the show more/less is fixed, it should fix it here as well. Thanks!

[2020-07-30 12:18] mariam-yu commented on #1321
@imohkay @batpad The country UI is done. Tagging in this ongoing ticket, as this is where we started the design, but feel free to change: https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/426677697

The country pages are on Zeplin. Thanks!

[2020-07-30 12:27] nanometrenat opened #1481 "[Staging] Strangeness with pages not loading data even when user seems to be logged in properly"
## Issue
As per thread in Teams I've been having some strangeness in staging.  Below is as at yesterday afternoon:

## URL
https://dsgoproxyapp.azurewebsites.net/deployments

## Steps to reproduce
Intermittent

![image](https://user-images.githubusercontent.com/33625192/88922611-a2ef8e00-d270-11ea-9a8e-64b17bd5c752.png)

## Related feature
Sanjay wonders if potentially related to changes under htt

[2020-07-30 14:37] imohkay commented on #1480
@nanometrenat @mariam-yu We may have to customise widths per table... I was wondering if that could be avoided, but I guess it can't. I'll look into it.

[2020-07-30 15:22] karitotp opened #1482 "[Staging] Edit Event functionality is available for edition when the user is not logged"
## Issue
An specific emergency can be edited trough the Admin site even when the user is not logged.

## URL
Ex. https://dsgoproxyapp.azurewebsites.net/emergencies/4049#details

## Steps to reproduce
While you are not logged, go to an emergency https://dsgoproxyapp.azurewebsites.net/emergencies/4049#details and click in Edit Event button, the page redirect you to the Admin site where you can make

[2020-07-30 15:37] imohkay commented on #1478
@nanometrenat Hey Natalie, I'm unable to replicate this on a 1920x1080 screen. I suspect your laptop may have a high pixel density screen. Could you let me know what model it is or whether the screen is high pixel dense? Thank you.

[2020-07-31 03:00] frozenhelium commented on #1481
@batpad I wasn't able to replicate this one. But my hunch is that the APIs might have been temporarily down or the user's session might have been expired. @nanometrenat if it occurs frequently, can you also include the screenshot of the console? Can't find any solid reason for this issue.

[2020-07-31 08:58] batpad commented on #1482
@karitotp I think this is because you need to login to the frontend and backend separately. In this case, my hunch is, you were logged into the admin, even though you were logged out of the frontend, so then the Edit link would take you directly to the Edit Emergency page and not redirect you to Login.

If that makes sense, then that is expected behaviour. We maybe able to unify login at some poin

[2020-07-31 09:36] nanometrenat commented on #1481
It has been happening often for a few days earlier this week - I don't have the console open when browsing normally but can try to open it when it next happens.  I hear what you're saying about session having expired HOWEVER historically when the session has expired the username no longer shows in top right hand corner and Log In button shows instead, also if session has expired and I'm trying to

[2020-07-31 10:27] batpad commented on #1108
This can be tested at https://ifrc-go-fix-1108-description-url-field-report.surge.sh/reports/9432

The only problem is that if a URL is added via the Rich Text Editor in the backend, it will show up with HTML tags in the frontend, but this would be an existing issue with or without this change, some discussion over at https://github.com/IFRCGo/go-frontend/pull/1476

If adding a URL to the field re

[2020-07-31 12:22] heleenelenbaas opened #1485 "[PROD] Incorrect map Nepal 3W on IFRC Go"
## Issue
*The admin regions in the IFRC Go platform for Nepal are outdated and thus not correct anymore.*

## Steps to reproduce
*Go to https://go.ifrc.org/countries/123#3w*
Find map with outdated admin boundaries here

![image](https://user-images.githubusercontent.com/69036191/89033734-c3cee680-d337-11ea-8434-9ff85fa8fefd.png)

## Expected behaviour
*Current provinces/regions show as Central, Ea

[2020-07-31 12:34] nanometrenat commented on #1478
Lenovo X270 (Lucia) - 1366x768 100% - misaligned
Lenovo T460s (Natalie) - 1920 x1080 150% - misaligned (screenshot below)
Lenovo X250 (Benjamin) - 1366x768 100% - misaligned
Lenovo T490s (Daniel) - not sure of res - misaligned

Tekla - "normal IFRC machine" - aligned
Tekla - outboard screen - aligned
Lauri - Lenovo Yoga - aligned

Hope that helps, many cheers

![image](https://user-images.githubus

[2020-07-31 12:47] nanometrenat commented on #1188
xref https://github.com/IFRCGo/go-frontend/issues/1485 which was just logged by a user re Nepal

[2020-07-31 14:02] tovari opened #1486 "Email contact UI item when no email is available"
# Issue

An empty email contact UI item appears when no email contact is available at emergencies. Would be better to remove these or find a nicer solution.

![email-UI](https://user-images.githubusercontent.com/68283148/89042055-a35a5880-d346-11ea-9a5c-687df935444a.jpg)

Staging example:
https://ifrc-go-release-v4-3-11.surge.sh/emergencies/4054#details

Production example:
https://go.ifrc.org/eme

[2020-07-31 14:09] karitotp commented on #1482
Yeah @batpad, you are right, that was because I was logged on admin site, if I am not logged the Edit event redirect me to the Admin logging.

[2020-07-31 14:34] imohkay commented on #1478
@nanometrenat Are we okay with having 2 highlighted operations in a row on screen sizes below 1400 px? (Right now there are three). Most desktops would still see 3. The new designs have additional horizontal padding, which consumes some of the space that was there previously.

[2020-07-31 14:39] karitotp commented on #1108
@batpad, the Urls added in Source details and Situational Overview fields, both are displayed as links in the page.
![Screenshot from 2020-07-31 09-27-17](https://user-images.githubusercontent.com/11504548/89045321-f2859680-d310-11ea-839e-d9f77fc6f0f6.png)

The generation of the links should apply also to the url added in the action take fields? If so, these urls are not displayed as link in the p

[2020-07-31 14:40] nanometrenat commented on #1478
That is a question for @mariam-yu and @LukeCaley rather than me.
However I personally think it would look weird having only two highlighted operations when on a laptop screen (know a mobile screen needs to go rows down but a laptop theoretically should show most stuff as standard).  Bearing in mind that users in the field (i.e. on emergency operations) will often be using laptops only rather than

[2020-07-31 14:41] nanometrenat commented on #1478
Or could of course just leave exactly as-is and accept the above overlap/misalignment things as being OK!  Again, over to Mariam and Luke.

[2020-07-31 14:56] karitotp commented on #1189
@necoline @batpad, validations are working good.

Only one thing, in Numeric Details, the help text below the fields are not displayed like in Contacts.

![Screenshot from 2020-07-31 09-53-17](https://user-images.githubusercontent.com/11504548/89047223-be5fa500-d313-11ea-9e56-54bf01a2d4ed.png)
_Numeric details_

![Screenshot from 2020-07-31 09-53-28](https://user-images.githubusercontent.com/11504

[2020-08-01 06:49] imohkay commented on #1478
@maisa-yu Sorry, could you ping Mariam? On certain tickets, I can't seem to ping her.
Mariam, for the key numbers, I could just reduce the size of the number on certain screen sizes. Would that work?
The same issue is present on the current production site, but it is less pronounced since the numbers are less bold and the 100px padding isn't there on both sides...

[2020-08-01 11:27] teklal opened #1487 "[PROD] "Child" emergencies show in search when creating a new field report"
## Issue
When creating a new field report and using the search box to find an existing emergency page to link to, the dropdown of emergencies that show up includes emergency pages that have been merged to other ones, i.e. "child" emergency pages that do not show up anywhere else on the frontend as they have been linked to a "parent" emergency.

## Steps to reproduce
Go to https://go.ifrc.org/repor

[2020-08-01 11:29] teklal commented on #1487
I don't know if there have been some changes to search that have made this issue appear because if I recall correctly this wasn't a problem before, some months ago when testing the "Merge emergencies" functionality.

[2020-08-01 13:10] teklal commented on #1464
As far as I'm aware we don't have any other (version of) IFRC GO shapefiles than the ICRC one. Emphasis on "as far as I'm aware".

[2020-08-01 20:14] mariam-yu commented on #1478
@imohkay Sure let's try that. Can you please send some screenshots when done? We can review together. By the way, I guess as I was tagged early on, I still get notifications when anything is posted :)

[2020-08-02 06:11] imohkay commented on #1478
![go-hi-ops](https://user-images.githubusercontent.com/1667470/89116718-0ec23880-d4b5-11ea-9a3d-380c248db00d.png)

Something like this? @mariam-yu and I can tag you again :D

[2020-08-03 06:20] geohacker commented on #1485
Thanks for the ticket!

The districts are present in the new shapefile, but there are no attributes to reliably import them into the database and served as part of the API. I've ticketed the shapefile issue separately https://github.com/IFRCGo/go-frontend/issues/1422

cc @batpad

[2020-08-03 07:17] guipizzini commented on #1422
As said, it is best to await that our GIS dedicated resource arrives as there is a lot to be done in understanding what has occurred with the Geospatial layers. @LukeCaley would you agree to put this on hold, please? The more we advance on this the more it will be complicated with Johnny to back track what needs to be improved and fixed and for him to set up a streamlined process.

Why am I saying

[2020-08-03 07:21] guipizzini commented on #1464
The shapefiles to be used are the ICRC ones. Nothing else should be used. Please note that ICRC boundaries are available only for ADMIN 0 and ADMIN 1, no ADMIN 2 boundaries available in ICRC datasets...

List of NS and associated countries shared on MS Teams.

[2020-08-03 12:25] mariam-yu commented on #1478
@imohkay This should work. Thank you!

[2020-08-03 13:57] imohkay commented on #1478
@mariam-yu cool. will implement so screen sizes above 1300px see the larger size. On anything smaller, I'll go with a smaller font size since there are cases where the number overflows the container.

[2020-08-03 15:00] necoline commented on #1189
Great catch @karitotp there was an issue specifically with the display of the error message on `epi-source` numeric entry. I pushed up a fix for this. It is available on the same test url as before

[2020-08-03 19:11] LukeCaley commented on #1189
Is this now ready for QA? @necoline

[2020-08-03 19:30] mariam-yu commented on #1243
@batpad @imohkay We finished the UI for Specific emergencies:
Small emergency with minimal available data: https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/426664202
Larger emergency with all the available data and tabs: https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/417134563

All updated on Zeplin. Please let us know if any questions. Thanks!

[2020-08-03 22:16] karitotp commented on #1189
@necoline, this looks good now :+1:, the error message is displayed in numeric details too.

[2020-08-04 07:38] batpad commented on #1487
@GregoryHorvath assigning this to you, but happy to look at it together - we some-how need to remove "child" emergencies from the search index?

[2020-08-04 07:43] batpad commented on #1478
These fixes are deployed to the testing Surge URL for the Release branch: https://ifrc-go-release-v4-3-11.surge.sh/

[2020-08-04 07:47] imohkay commented on #1478
@karitotp on [https://ifrc-go-release-v4-3-11.surge.sh/](https://ifrc-go-release-v4-3-11.surge.sh/), could you please check the following:
1. The key numbers on Deployments and Emergencies: Natalie found them looking scrunched up on certain screen sizes, and there was an alignment issue on key numbers for Deployments. (You can see her screenshots at the top of the ticket). Could you check these ha

[2020-08-04 07:49] imohkay commented on #1471
@karitotp The Unfollow button is now fully clickable on the account and should work properly.
Could you test here? https://ifrc-go-release-v4-3-11.surge.sh/

[2020-08-04 07:50] imohkay commented on #1469
@karitotp The Edit Action button height was a bit taller than the other buttons, and should now be fixed here to be the same height as the other buttons: [https://ifrc-go-release-v4-3-11.surge.sh/](https://ifrc-go-release-v4-3-11.surge.sh/)
Could you test that this works?

[2020-08-04 10:27] nanometrenat commented on #1353
Copying over information from Teams

29/7 @GregoryHorvath Just reverted the ES from clustered to the single node version since we only started having these total breakdowns of it since the clustered version. Read somewhere that it might get confused on which is its master node in some weird cases... (staging one atm)
Later that day also reverted production Elasticsearch to its previous version

[2020-08-04 11:16] nanometrenat commented on #1363
Confirming that mobile header looks good on staging - when accessing from my mobile I can see the dropdown with Field Report and links to the two KoBo forms.  Many thanks

[2020-08-04 11:19] nanometrenat commented on #1412
@batpad @GregoryHorvath is this part of https://github.com/IFRCGo/go-frontend/pull/1465 and https://github.com/IFRCGo/go-api/issues/763 or a separate thing?  Thanks

[2020-08-04 11:54] batpad commented on #1412
So, I would advise that completely fixing `Export All` for Emergencies and Field Reports in a sustainable and future-proof manner likely requires further changes to be able to consider this issue resolved.

The Optimization of queries, some of which are covered under this release in #1465 and in https://github.com/IFRCGo/go-api/issues/763 are one part of improving exports, but longer term, we need

[2020-08-04 12:15] batpad commented on #1108
@karitotp thanks!

@LukeCaley @teklal @nanometrenat - URLs entered in the Situational Overview and Source Details should now show up as clickable URLs on the field report frontend. Can be tested at https://ifrc-go-fix-1108-description-url-field-report.surge.sh/reports/9432 . If this looks okay, would be great to merge to staging - do we want to implement it across all text fields on the field repo

[2020-08-04 12:47] nanometrenat commented on #1412
Thanks @batpad, great to have all the elements listed above.  The specific question though was whether the changes in the commit above are included in the current release (as not mentioned in the release request so not sure whether excluded or included).

Agree we need to make a plan and prioritise the elements above (another list of elements mentioned in https://github.com/IFRCGo/go-frontend/issu

[2020-08-04 13:30] LukeCaley commented on #1324
@batpad can you confirm that this ticket and issues which have been subsequently identified by @karitotp have been fixed and tested?

[2020-08-04 13:42] LukeCaley commented on #1206
Tested in https://ifrc-go-release-v4-3-11.surge.sh/ and looks good, including with 4, 5 and 6 highlighted operations.

[2020-08-04 13:43] nanometrenat commented on #1201
As per @LukeCaley this looks fine - release tracked under https://github.com/IFRCGo/go-frontend/issues/1325 so closing this ticket as not on any board.

[2020-08-04 13:43] #1201 closed

[2020-08-04 14:05] nanometrenat commented on #1386
Adding to Phase 4.3 board as I believe it is currently being worked on.  Devs can you please confirm if this is ready for QA?

I can see the initialising/loading page in staging - but have any of the below conversions also been made?

Just checking what changes need to be tested - many thanks.

[2020-08-04 14:17] mariam-yu commented on #1386
Added us to the ticket to support with the design of the preloader.

[2020-08-04 14:23] nanometrenat commented on #1206
Moving to "done" (while still open) based on Luke's comment above :)

[2020-08-04 15:04] nanometrenat opened #1491 "[Staging] Regional Page - and other pages - stuck on loading"
## Issue
Regional pages on GO are stuck on loading - much of the page loads but then there are the 3 loading dots still going forever.

@mariam-yu raised this first, having tried in an incognito window also - still same issue.  Screenshot below, please investigate.  I will put har file in Teams FYI - the only weird things I can spot in Network tab is that https://dsgocdnapi.azureedge.net/api/v2/fe

[2020-08-04 15:11] nanometrenat commented on #1353
Notes from Asia Pacific:  Some NSs (Japan, also Marshall Islands, Indonesia, Bhutan) also have a searching issue when they create new FRs for country COVID-19 page.

[2020-08-04 15:27] batpad commented on #1491
Thanks for this catch!

I can reproduce this sometimes on the develop branch as well. @frozenhelium my hunch is it might have to do with the init changes, but I'm not certain. I don't see any obvious errors in the console. I'll dig into this further tomorrow. @frozenhelium, am co-assigning you, but feel free to unassign yourself if you're certain this is not due to the init changes. I need to dig

[2020-08-04 15:37] nanometrenat commented on #1491
@batpad confirmed that it does not affect the release branch - thanks for checking :)
xref https://github.com/IFRCGo/go-frontend/issues/1386 as mentioned (whether there's a real link is still being investigated)

[2020-08-04 17:20] karitotp commented on #1478
Hi @imohkay, here my findings of the reviewing:

These were fixed and they looks good now!

This looks good, but when I reduce the screen size, the number is still over the box.

![Screenshot from 2020-08-04 12-16-02](https://user-images.githubusercontent.com/11504548/89324238-95f5e480-d64c-11ea-9a20-0c007fa2320b.png)

[2020-08-04 17:25] karitotp commented on #1471
:heavy_check_mark: The button is fully clickable!

[2020-08-04 17:31] karitotp commented on #1469
All buttons are at the same height:

![Screenshot from 2020-08-04 12-29-03](https://user-images.githubusercontent.com/11504548/89325227-1e28b980-d64e-11ea-980c-2b701beb29eb.png)

[2020-08-04 17:51] karitotp commented on #1324
Currently none of the issues mentioned above are on the staging site.

[2020-08-04 19:14] LukeCaley commented on #1203
@mariam-yu please confirm that tables are implemented as per designs on Zeplin across all expected components.

[2020-08-04 19:15] LukeCaley commented on #1233
@nanometrenat would you mind checking to confirm this is working as per requirements? Ta muchly

[2020-08-04 19:19] LukeCaley commented on #1468
@imohkay @batpad - has the root cause been identified for this bug?

[2020-08-04 19:46] LukeCaley opened #1492 "[PROD] Åland issues"
## Issue
[The Åland Islands](https://en.wikipedia.org/wiki/%C3%85land_Islands) is an archipelago province at the entrance to the Gulf of Bothnia in the Baltic Sea belonging to Finland.

While Åland has its own flag and the islands are considered a separate "nation" for amateur radio purposes, it does not belong as a National Society or autonomous country in the country gazetteer/list on GO.  While

[2020-08-04 20:23] LukeCaley commented on #1325
Some small elements in the Field Report submission form which require attention before release:

**Contacts** appears as a header on the Actions tab for the Field Report submission form - should read Actions taken as previously
![contacts-error](https://user-images.githubusercontent.com/7791954/89338857-7dfa8100-d69d-11ea-9753-f5566072bbb5.JPG)

**Response** contains duplicate information.  The wo

[2020-08-04 20:41] LukeCaley commented on #1203
Things I'm not that pleased with:

- Jumpy loading when clicking on the next page of a table leaving the view not necessarily in the same place as prior to clicking to change page
- Occasional slow rendering of tables - is this a GO / bandwidth / consistent connection / browser issue? cc @batpad
- Length of NS name and Rapid Response spilling over to next line in Deployments page - surely we could

[2020-08-04 21:38] nanometrenat commented on #1203
@LukeCaley FYI a couple of points above are as-per-current (i.e. not regression), which may or may not affect the request to fix in this release:

_Earlier in this release the NS names were 4 lines so we are winning by having it as 2 ;) FYI current live site has RR and NS on 2 lines_

_This is as per current live site.  There are quite a few things on this page that will need to change as part of

[2020-08-04 21:42] nanometrenat commented on #1492
Duplicate ticket FYI - this issue was already logged as https://github.com/IFRCGo/go-frontend/issues/1276 which is in "To Do" for 4.3
@LukeCaley are you happy to close in favour of that ticket or would you prefer to keep open for the Finnish contingent specially?  Cheers

[2020-08-04 21:44] nanometrenat commented on #1469
@LukeCaley @batpad this ticket isn't in 4.3 or release notes pull request but I'm guessing is going in this release?

[2020-08-04 21:45] nanometrenat commented on #1471
@LukeCaley @batpad this ticket isn't in 4.3 or release notes pull request but I'm guessing is going in this release?
Adding to 4.3 Ready for QA now

[2020-08-04 21:46] nanometrenat commented on #1482
Closing this ticket based on the above.  Correct behaviour for the button to direct user to the Admin site, correct behaviour for the user to be asked to log in if not already logged in.

[2020-08-04 21:46] #1482 closed

[2020-08-04 21:51] nanometrenat commented on #1479
Think this is actually fine - 304 for the svgs being "not modified" - and doesn't seem to be causing any functional problems so closing.

[2020-08-04 21:54] nanometrenat commented on #1459
@LukeCaley FYI this is a "jumping around" ticket that has been logged but is not currently in the queue for dev action.
https://ifrc-go-release-v4-3-11.surge.sh/emergencies/3786#details (Alerts)