[2018-10-02 08:17] omniscjencja opened #468 "an issue with the data automation from the API"
## Issue (by Guido)

For the Bangladesh Operation we have around 16M CHF displayed both on the API as much as on the front end.

However, the accurate figure as of today for the funding level is more than 18M which makes our front end inaccurate and more worrying, it seems to be that the API is not working properly.

I’ve tried to manually update the Appeals value in the Django Framework for this

[2018-10-02 08:19] szabozoltan69 commented on #460
@ElsaRaunioIFRC There is a waiting pull request (https://github.com/IFRCGo/go-api/pull/293 ) which will make optional the "region" for any countries. If it goes to production, then you can set to "none" the region of these (or other) countries.

[2018-10-02 08:45] omniscjencja opened #469 "the Emergency Appeal (EA) document doesn't pull automatically"
## Issue (by Munu)

The problem is that the Emergency Appeal (EA) document should be automatically pulled to this page https://go.ifrc.org/emergencies/3136 under Appeal Documents. But when you go to Appeal documents you only have the link to download the DREF and the EA document is not available. Essentially we should have at least two documents under this title not one. The emergency appeal  is d

[2018-10-02 08:49] szabozoltan69 commented on #469
It's a duplicate of https://github.com/IFRCGo/go-frontend/issues/463

[2018-10-02 08:50] szabozoltan69 commented on #469
I copy the text (by Munu) to https://github.com/IFRCGo/go-frontend/issues/463 and close this.

[2018-10-02 08:50] szabozoltan69 commented on #463
Issue text from Munu: The problem is that the Emergency Appeal (EA) document should be automatically pulled to this page https://go.ifrc.org/emergencies/3136 under Appeal Documents. But when you go to Appeal documents you only have the link to download the DREF and the EA document is not available. Essentially we should have at least two documents under this title not one. The emergency appeal is

[2018-10-02 08:50] #469 closed

[2018-10-02 11:53] LukeCaley commented on #366
@szabozoltan69 Also need to double check all hyperlinks are pointing to the right URL.  At the moment the 'view on GO' link points towards for example http://prddsgoproxyapp.azurewebsites.net/emergencies/... and the 'view on admin' points towards a 'Not found' error page

[2018-10-02 21:55] dereklieu commented on #463
@guipizzini @mmusori @LukeCaley @omniscjencja

It seems the appeal document google sheet has been moved or no longer exists.

[This is the URL where it expects to find appeal documents at](https://proxy.hxlstandard.org/data.json?url=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1gJ4N_PYBqtwVuJ10%20d8zXWxQle_i84vDx5dHNBomYWdU%2Fedit%3Fusp%3Dsharing).

[This is the URL to the source Google shee

[2018-10-03 07:51] szabozoltan69 commented on #431
Now it works fine due to an Azure "only https" setting.

[2018-10-03 07:51] #431 closed

[2018-10-03 07:55] LukeCaley commented on #463
https://docs.google.com/spreadsheets/d/1gJ4N_PYBqtwVuJ10d8zXWxQle_i84vDx5dHNBomYWdU/edit?usp=sharing

[2018-10-03 12:52] ElsaRaunioIFRC opened #470 "Automatic reminder of usernames"
Several users have contacted us requesting a reminder of their username (rather than password). They may not have used the DMIS for a long time and have forgotten their usernames. Would it be possible to automate this process by a username reminder?

[2018-10-03 15:06] guipizzini opened #471 "Case sensitive username"
## Issue

*The system is strict with case-sensitive characters.*

## Steps to reproduce

*If a user registers their account as for example **TestUserAccountName** then if they try to login doing **testuseraccountname** they are not able to login*

## Expected behavior

*we would like to have the ability that if a user tries to use an upper case character the system automatically sets it as lower c

[2018-10-03 15:29] szabozoltan69 commented on #471
This raises some further questions; mainly concerning the already existing usernames, where the username is case sensitive.
For example, there is **adesh** and **Adesh**, and these two means two different users.

If I put a conversion into the program, that "always make lowercase from the user's input", then Adesh will not be able to log in.

(Maybe a solution can be: making lowercase usernames fo

[2018-10-03 15:39] szabozoltan69 commented on #366
Could you @LukeCaley send me an example where the link points towards a 'Not found' error page? I could not reproduce such case. (Only a similar, which was due to the development server run http and the link was https.) | No problem with the prddsgoproxyapp... link, it works fine for me, it shows the relevant message.

[2018-10-04 07:16] LukeCaley commented on #417
Feedback on use and display of field reports during the Sulawesi EQ response:

_I’ve been actively trying to use the GO platform and have experienced some difficulties in making sure data is relevant and updated.

In this instance, the emergency overview section pulled from the Field Reports does not seem to be well placed and might end up causing a lot of headaches and extra work for any IM orien

[2018-10-04 13:32] szabozoltan69 commented on #471
I made a correspondance with the 5 users, they told me which username (and so: password) will they use in the future, and the other login names was set to is_active = false (by me in production database). Now I wait for a review and PR for the case_insensitive_username branch.

[2018-10-05 13:43] szabozoltan69 commented on #362
Now we have 3 kind of appeal-types: DREF, APPEAL, INTL – the last two are all considered as "appeal". (So we keep in the same [database] table the DREF-s and appeals.) Do you mean frontend surface as "different table"? Please clarify which part of the frontend would you like to see in a different form (if possible, with screenshots).

[2018-10-05 14:44] szabozoltan69 commented on #383
Recently in the "Owner" and "from" colums there are: Bolivian Red Cross, French Red Cross... Is that OK like this? If not, where can I find the Bolivian National Society name?

[2018-10-05 14:49] szabozoltan69 commented on #383
![empty_personnel_page](https://user-images.githubusercontent.com/6050643/46542408-a016f280-c8be-11e8-960d-05ab6547e349.png)

[2018-10-05 15:07] LukeCaley commented on #417
@szabozoltan69 This is becoming a significant issue with current operations in Indonesia.  @szabozoltan69 Can we prioritise finding a solution, i.e hiding this?

[2018-10-05 15:34] szabozoltan69 commented on #417
Yes, we can prioritize this, but now in a few minutes I go home and continue only in Monday. If more urgent, maybe @dereklieu can suggest a solution.

[2018-10-09 12:52] szabozoltan69 commented on #417
Sometimes the hiding mechanism is working, e.g. here: https://go.ifrc.org/emergencies/3284
But here it is not: https://go.ifrc.org/emergencies/3288
I should find the criteria where it is decided, and – if needed – change it. (Otherwise, even though there are zero values in Affected, there are some other valuable figures which are displayed, so I can undestand the aim of the programmer.)

[2018-10-10 12:58] szabozoltan69 commented on #362
Please send some example URL-s.

[2018-10-10 13:48] szabozoltan69 commented on #362
The movements can be seen e.g. here: https://go.ifrc.org/regions/3#appeals – the only requirement is to set the Appeal type to Movement ( = "Intl").

[2018-10-10 16:58] dereklieu commented on #433
This was caused by an OpenGL bug in an older version of Chrome. No longer relevant.

[2018-10-10 16:58] #433 closed

[2018-10-10 17:03] dereklieu opened #474 "Better error checking for DMIS ingests"
Now that some countries have been deleted from the API, the DMIS ingest is breaking, since the original country list came from DMIS.

This means that **some field reports from DMIS will have no place to ingest to** because you've decided that the countries they pertain to no longer exist. cc @LukeCaley @ElsaRaunioIFRC

In order to get the DMIS ingest working again, I will add error checking to ign

[2018-10-10 21:17] dereklieu commented on #434
Registration should now ignore case. @omniscjencja @szabozoltan69 can this be closed?

[2018-10-10 21:20] dereklieu commented on #463
The spreadsheet is back but I'm not finding the second appeal `MDRNG025` in it.

[2018-10-10 21:21] dereklieu commented on #460
@ElsaRaunioIFRC hey just to confirm, did you also remove countries from Go? If so, could you also remove those countries from this [fixture](https://github.com/IFRCGo/go-api/blob/master/api/fixtures/Countries.json)? Right now there is an inconsistency between what's deployed and our local development environment, and that's preventing us from fixing a bug with ingesting users from DMIS.

[2018-10-10 21:27] dereklieu commented on #464
@guipizzini @omniscjencja I noticed that some appeal documents are saved with a full URL. They are saved simply as: `/docs/appeals/Active/MDRCD026.pdf`

I deduced that this refers to `http://ifrc.org/docs/appeals/Active/MDRCD026.pdf`. However, the API can't make the same assumption. After I visited the page for this appeal, I fixed two instances of this error, and can now make the changes I need t

[2018-10-10 21:27] #464 closed

[2018-10-10 21:30] dereklieu commented on #468
This appears to be a duplicate of #459.

[2018-10-10 21:30] #468 closed

[2018-10-10 21:32] dereklieu commented on #465
On deleting, see my note about #464

On uploading, it appears only documents above a certain size fail. This is a duplicate of #206

[2018-10-10 21:32] #465 closed

[2018-10-10 21:33] dereklieu commented on #471
@szabozoltan69 @guipizzini please close this is the issue is addressed.

[2018-10-10 21:37] dereklieu opened #475 "Separate national societies from countries"
For future work:

Currently, the national society is a property of the country model. I think it makes sense to create a wholly separate table from societies or Red Cross groups that has a foreign key to countries. For example, IFRC deploys staff, but it doesn't make sense to call it a country.

cc #467

[2018-10-10 21:39] dereklieu commented on #467
@omniscjencja I opened a ticket for this in https://github.com/IFRCGo/go-frontend/issues/475. Right now there's not a great workaround here. A "zone" country entry, or an IFRC country entry, might be your best bet.

I believe @szabozoltan69 removed the requirement to attach a region to a country, and ISO codes, while required, do not have to correspond to anything (ie it could be `zz`).

[2018-10-10 21:41] dereklieu commented on #466
This is a duplicate of #463. The appeal document is missing from the google sheets where this data is compiled from.

@omniscjencja please do a quick check on existing issues before opening one, to see if there is one that already exists for the one you're opening.

[2018-10-10 21:41] #466 closed

[2018-10-10 21:42] dereklieu commented on #415
@ElsaRaunioIFRC @szabozoltan69 can this be closed?

[2018-10-10 21:44] dereklieu commented on #474
Ok update to say that it isn't being thrown by field reports from non-existant countries, it is being thrown by users who have marked their country as ones that no longer exist. I assume these are the "zone" countries.

I have a fix for this but can't test it without syncing my development environment to production, re https://github.com/IFRCGo/go-frontend/issues/460#issuecomment-428736512. @ElsaR

[2018-10-11 06:44] szabozoltan69 commented on #434
This can be closed now.
Otherwise the registering allows both upper- and lowercase, but the login (and password change) process is case insensitive.

[2018-10-11 06:44] #434 closed

[2018-10-11 06:47] #435 closed

[2018-10-11 06:51] szabozoltan69 commented on #471
Ok, it's solved.

[2018-10-11 06:51] #471 closed

[2018-10-11 06:52] szabozoltan69 commented on #467
Yes, the region is now optionally linked to the country. (Otherwise it can be selected from an option list, so can not be anything, but it can be left empty.)

[2018-10-11 06:52] #467 closed

[2018-10-11 06:54] szabozoltan69 commented on #415
Yes, the task is done.

[2018-10-11 06:54] #415 closed

[2018-10-12 13:29] omniscjencja opened #478 "Appeals are not linked to countries"
## Issue

Many Appeals that were imported to GO from other Red Cross systems are not linked to a country.

## Steps to reproduce

## Expected behavior

Each Appeal should be linked to a relevant country, or in case of Regional Appeals to a corresponding country of Regional Office.

[2018-10-12 13:36] dereklieu commented on #478
@omniscjencja could you give me an example please?

[2018-10-12 14:05] omniscjencja commented on #478
[data from go.xlsx](https://github.com/IFRCGo/go-frontend/files/2473358/data.from.go.xlsx)

[2018-10-12 14:06] omniscjencja commented on #478
those are just for Africa, we got the issue reported directly from the field

[2018-10-12 14:20] dereklieu commented on #478
I mean, is there a specific appeal code that I can look up in Go, where the country should be attached but isn't?

[2018-10-12 14:39] omniscjencja commented on #478
all of the appeals in the attached excel sheet are missing the country

[2018-10-12 14:41] omniscjencja commented on #478
MDRCD022
MDRCD020
MDRCD019
MDRGM011
MDRTZ020
MDRSS005
MDRCD018
MDRCD017
MDRTZ019
MDRCD016
MDRTZ018
MDRCI009
MDRCI008
MDRSS004
MDRTZ017
MDRGM010
MDRCI007
MDRTZ016

[2018-10-12 14:41] omniscjencja commented on #478
just an example

[2018-10-12 14:50] dereklieu commented on #478
Thank you. I believe these were created in the initial export in February, and at the time we had no way of matching countries beyond country name. These were the countries where the names did not match what we use in Go.

We now use iso2 codes and don't have this problem, however it seems this initial batch of imports were not corrected.

Once this PR is merged and deployed to master, these appea

[2018-10-12 20:03] dereklieu opened #479 "Create development environment for API"
It's clear to me that we need to create a development environment for the API. This is for a couple of reasons:

1. Locally, it's hard to test certain aspects of the API, namely the NGINX proxy and production webserver setup, because we use Python's development server locally. This makes it hard to debug, for example, upload size limits #206.

1. It can be useful to have an environment to run cert

[2018-10-15 11:41] omniscjencja commented on #417
dear @szabozoltan69, it is not that hiding mechanism is working, but that for Dominica emergency there are no field reports, while for Indonesia, there are some, hence the Emergency Overview appears. We want to be able to manage it from the back-end, have a feature - show emergency overview, Y/N

[2018-10-15 12:07] szabozoltan69 commented on #417
Dear @omniscjencja, so you would like to have a "Show emergency" checkbox to every appeal in the backend. If it is checked, then the recent behavior will work (so if there are no field reports, no is shown, but if there is, then they are shown), and if it is not checked, then no "Emergency overview" will be shown in any case.

[2018-10-15 12:48] omniscjencja commented on #417
Dear @szabozoltan69 yes, that is exactly what we need, to be able to decide when to show the emergency overview and when no

[2018-10-15 13:47] szabozoltan69 commented on #417
@dereklieu, you could finish much faster this request, than me. I added show_emergency (boolean) field to Appeal class (and table), and I made the migration also. Now I would like to check from the frontend (views/emergency.js, renderFieldReportStats) if the related appeal has a True show_emergency (or not). So something similar to:
[code]

[2018-10-15 14:41] LukeCaley commented on #479
Thanks @dereklieu.  It seems clear that creation of a development environment is necessary to include in the scope of the next phase, planned for Q1 2019.  However, I'm not sure if this is absolutely necessary for the small bug fixes and maintenance issues we are addressing right now, especially given the cost for the remaining time on your contract.

[2018-10-15 14:42] LukeCaley commented on #478
Thanks @dereklieu
@omniscjencja Can you track and double check this once the PR is deployed to master?

[2018-10-15 14:56] dereklieu commented on #417
@szabozoltan69 sorry, I've been moved onto other work and don't have time for feature-building on this project. That said, what's your reasoning for adding this to the appeal class? To me, it seems more direct to just add it to the emergency class. The field report is not generating an appeal, it is generating an emergency. Also, when a field report generates an emergency automatically, that emerg

[2018-10-15 15:19] szabozoltan69 commented on #417
@dereklieu thank you for the response. | My reason to adding this to the appeal class was the screen itself (above), where left side are "Appeals" statistics and they always (wanted to be) displayed, while the right side should be decided via this checkbox. But I rethink it...

[2018-10-15 15:52] szabozoltan69 commented on #417
Thanks for the idea, now the show_emergency is in the "event" class and works fine.

[2018-10-15 16:03] szabozoltan69 commented on #417
https://github.com/IFRCGo/go-api/pull/319
https://github.com/IFRCGo/go-frontend/pull/480

[2018-10-16 07:56] szabozoltan69 commented on #417
A better name was used (thanks Derek). Now it works like this:
![show1](https://user-images.githubusercontent.com/6050643/47000939-afe9ce80-d129-11e8-977b-90d17a7cc1a7.png)
![show2](https://user-images.githubusercontent.com/6050643/47000944-b2e4bf00-d129-11e8-847e-c6ee955590cb.png)
Now let's hide it:
![hide1](https://user-images.githubusercontent.com/6050643/47000954-b9733680-d129-11e8-9a79-99a7fc

[2018-10-16 08:15] szabozoltan69 commented on #417
@omniscjencja @LukeCaley @Munu You can test it e.g. on https://dsgoproxyapp.azurewebsites.net/emergencies/3364

[2018-10-18 07:52] mmusori opened #481 "% Funded from emergencies not pulling to featured page for Nigeria floods"
## Issue
On  https://go.ifrc.org/ under highlighted emergencies Nigeria Floods there is no % funded figure .
When you click on the Nigeria floods  box it takes you to https://go.ifrc.org/emergencies/3136 which actually has the funding figure and the budget figure to calculate the percentage funded.

*Please describe your issue. If possible, include when you first encountered the issue, who it affe

[2018-10-18 09:29] szabozoltan69 commented on #481
On the admin interface we can search in Home › Api › Emergencies the Nigeria floods. There are 7 of them. Maybe the "Featured" checkbox is checked at the wrong one? The 3136 id emergency has this "Featured" checkbox checked, and it has no attached field report at all.

[2018-10-18 12:11] szabozoltan69 commented on #481
If I check funded/requested amounts, then this can be seen:

![funded_requested](https://user-images.githubusercontent.com/6050643/47153363-b4f07e80-d2df-11e8-91c1-bbaeb777a598.png)

[2018-10-18 12:37] szabozoltan69 commented on #481
I found the solution, we should change featured-emergencies.js (L27-28) from
[code]
to
[code]

[2018-10-18 12:57] szabozoltan69 commented on #481
I've put to staging and production.

[2018-10-18 12:57] #481 closed

[2018-10-19 09:46] mmusori opened #486 "API not Pulling Movement Appeal funding MDRSS006 & MDRNG022"
## Issue

The GO API is not pulling in the funding for the 'Movement appeal` type .

*Please describe your issue. If possible, include when you first encountered the issue, who it affects, a link to a relevant page, and any other information that might be helpful in diagnosing it's cause.*

The GO API is not pulling in the funding for the 'Movement appeal` type this affects two operations MDRSS006

[2018-10-19 12:02] szabozoltan69 commented on #486
I think that the API is pull these entities also – maybe the frontend does not display them. On API backend they can be seen (really with intl type):
![mdrss006](https://user-images.githubusercontent.com/6050643/47217118-9eadf580-d3a7-11e8-8dfa-4215c906ecd9.png)
![mdrng022](https://user-images.githubusercontent.com/6050643/47217121-a2417c80-d3a7-11e8-9695-11255d8562d7.png)

[2018-10-19 14:36] toffehoff commented on #486
According to Business Objects there is a significant contribution:

![bo](https://user-images.githubusercontent.com/705634/47224846-3cfc8400-d3c5-11e8-9f6b-86091366a945.png)

[2018-10-19 14:39] szabozoltan69 commented on #486
So the task is at the financial API – why does this not appear in http://go-api.ifrc.org/api/appeals ?

[2018-10-19 14:45] toffehoff commented on #486
That, and the manual override does not work. Not sure if that is intended or a "feature". But yes, the incorrect data from the financial API is a more urgent issue ...

[2018-10-19 14:48] szabozoltan69 commented on #486
It was a new decision to "do not look at modification date, always use all data" from financial API, and due to this, everything is overwritten hourly (in the cases where there is manual and automatic gained data). In the future we can give a higher priority to manual figures, if needed.

[2018-10-19 14:54] toffehoff commented on #486
That is a fair decision. Assuming the data from the financial API is always correct. As it should, since that is the "factual truth".
Back to the bigger problem: why is the API showing a different number as the reports in Business Objects.

[2018-10-22 16:37] dereklieu opened #487 "Only public situation reports are showing"

[2018-10-22 20:19] #487 closed

[2018-10-23 07:41] mmusori commented on #486
Dear All
Is it possible to fix this issue soon. If the API is pulling in the data from the data warehouse then the problem is in pushing it on to GO.

[2018-10-23 15:48] dereklieu commented on #486
I'm closing this as it's not an issue with the Go source code, and there are no next actions in this repo.

### Explanation:

Go reads financial data from the API at [http://go-api.ifrc.org/api/appeals](http://go-api.ifrc.org/api/appeals). This API is still showing 0 (aka `nil`) contributions for the appeals in question. Go is successfully reading this number, as it does for other appeals.

### Re

[2018-10-23 15:48] #486 closed

[2018-10-25 11:52] szabozoltan69 opened #488 "Opening page is blank in Internet Explorer"
## Issue

The opening page of go.ifrc.org is blank in Internet Explorer.

## Steps to reproduce

If we type go.ifrc.org/emergencies (or other subpage) it can be seen fine, and after that we can navigate to the opening page (and it renders fine). But direct calling go.ifrc.org is blank.

## Expected behavior

go.ifrc.org should not be blank even on MSIE.

[2018-10-25 11:55] dereklieu commented on #488
There are many versions of MSIE, and most of them aren't officially supported. Which version are you seeing this in?

[2018-10-25 12:00] szabozoltan69 commented on #488
I tried it in a fresh (Windows 10) Internet Explorer 11.
Otherwise in Edge (which is the preferred browser for Microsoft) it is fine.
But we can put some effort to make MSIE working, it should not be impossible. (If not other way, redirecting to a subpage if the detected browser is MSIE.)

[2018-10-25 12:04] szabozoltan69 commented on #488
Otherwise MSIE market share is below 3% today...
http://gs.statcounter.com/browser-market-share

[2018-10-25 13:06] szabozoltan69 commented on #488
The error comes from the bundled vendor-...js script, which gives an error in case of MSIE.

[2018-10-26 13:11] szabozoltan69 opened #491 "Map filtering list is missing"
## Issue

An important part of the opening page map (left filtering list) disappeared.

## Steps to reproduce

Opening go.ifrc org this can be seen:
![type_oper0](https://user-images.githubusercontent.com/6050643/47568372-388a1b00-d931-11e8-84d0-59bb5133fe6f.png)

## Expected behavior

This should be seen as it is on one of the developers local copy:
![type_oper](https://user-images.githubusercont

[2018-10-26 13:13] szabozoltan69 commented on #491
What I can see is: there is no difference between the frontend codes of the two (compared) sites. So the database or the API difference could cause this.

[2018-10-26 13:16] szabozoltan69 commented on #491
I suppose that the root cause can be in the API changes, because the staging site (https://dsgoproxyapp.azurewebsites.net/) also shows this anomalie.

[2018-10-26 13:28] szabozoltan69 commented on #491
There was a configuration change concerning the Azure authorizaton. The recent page was deployed with Derek's credentials, and maybe the system can not use these credentials any more on the old way... We investigate it.

[2018-10-26 13:33] omniscjencja opened #492 "Event search / filter for adding personal deployments"
## Issue

When adding the personnel deployments on the admin site, it is not possible to search through the events to which a deployment should be added. In addition, events are not in alphabetical order and hence adding new deployments is very tedious.

## Steps to reproduce

## Expected behavior

Since first one has to select a country, it would be nice if the events were narrowed down only to t

[2018-10-26 13:34] omniscjencja commented on #492
![surge_admin](https://user-images.githubusercontent.com/29458013/47569697-90765100-d934-11e8-8d1d-2e247156482b.jpg)

[2018-10-26 21:47] szabozoltan69 commented on #491
Now works fine. Was not credential problem, neither visibility – it was the extended dtype (for richer CSV) that caused the problem. And the not well-done testing before 2.1 go-live.

[2018-10-26 21:47] #491 closed

[2018-10-29 12:19] omniscjencja opened #497 "DPR Korea not shown in GO"
## Issue

When downloading data from GO, all operation concerning DPR Korea have country name missing, which results in them not being shown in the map on the front page. Please see the screenshot attached.

![5](https://user-images.githubusercontent.com/29458013/47649321-3ae0b500-db7d-11e8-9cfa-d1d05caa840f.jpg)

## Steps to reproduce

## Expected behavior

[2018-10-29 12:34] szabozoltan69 commented on #492
Ok, I could find the suggested way.
[code]

[2018-10-29 12:55] szabozoltan69 commented on #497
The missing name in the downloaded table and the missing name of the front page map has a common root; the registry of the country ID-s (like DPR Korea's one) could be inconsistently changed in different systems.

[2018-10-29 13:14] szabozoltan69 commented on #492
Solved, see:

![search_pers_depl](https://user-images.githubusercontent.com/6050643/47651948-e6413800-db84-11e8-841a-2d4d5a765350.png)

[2018-10-29 13:14] #492 closed

[2018-10-29 13:18] szabozoltan69 commented on #497
It can be in connection with this deployment error:
[code]

[2018-10-29 14:46] szabozoltan69 commented on #497
Maybe it's an upper/lowercase question? In data/Countries.csv:
api.Country,192,"Korea, Rep.",kr,2,The Republic of Korea National Red Cross,http://www.redcross.or.kr/
api.Country,193,"Korea, Dem. Rep.",**KP**,2,Red Cross Society of the Democratic People's Republic of Korea,
api.Country,194,Mongolia,mn,2,Mongolian Red Cross Society,http://www.redcross.mn/
api.Country,195,"Micronesia, Fed. Sts.",fm,2

[2018-10-29 14:48] danbjoseph opened #498 "adjust order of snippets on emergency page?"
on https://go.ifrc.org/emergencies/3288

we can't seem to adjust the order of the iframe embeds in the snippets for when they display on the page. it appear that the most recently added appears at the top? regardless of which snippet is pasted into which box when editing the page.

[2018-10-29 15:10] szabozoltan69 commented on #497
If we check on the admin interface the North-Korean appeals: MDRKP001 .. 012, all of them has a missing Country field. This way that is no miracle that no country is attached to them. Maybe some incoming-data/Country-iso-code difference causes this? Anyway, data cleaning is not scope of the development:
![no_country](https://user-images.githubusercontent.com/6050643/47659369-1d1f4a00-db95-11e8-903

[2018-10-29 15:15] szabozoltan69 commented on #497
It can be solved by data cleansing, and I'll do it.
select * from api_country where id=193;
193 | Democratic People's Republic of Korea ...
[code]

[2018-10-29 15:25] szabozoltan69 commented on #497
Now it's OK.
![korea_is_ok](https://user-images.githubusercontent.com/6050643/47660448-4d67e800-db97-11e8-90d7-04c0a6bec521.png)

[2018-10-29 15:25] #497 closed

[2018-10-29 15:31] dereklieu commented on #498
Very likely using `-created_at` to order it, which would be consistent with what you're seeing. The order in which they're entered in the UI would not affect things.

Potentially there could be an `order` field where you could put numbers and it would sort in descending or ascending order, however having them mimic the order in which you see them on the page would be difficult, as this isn't a wys

[2018-10-29 15:32] dereklieu commented on #497
To make sure this doesn't reoccur someone should check that the `gec_code` which comes from the appeals API matches the iso code in Go.

[2018-10-29 15:46] danbjoseph commented on #498
so would need to delete all. then add one at a time, saving after each, in reverse order, to get them to appear in a specific order?

[2018-10-29 15:59] dereklieu commented on #498
I understand that for an emergency with a lot of snippets, this isn't ideal. We can look a little bit for a better solution, however would a non-reverse created-at order be better? IE, order so that the oldest snippet comes first. This would be a quick change.

[2018-10-29 16:16] danbjoseph commented on #498
ah, i can also just put the all the iframe embeds in a single snippet with line breaks between them.

[2018-10-29 16:22] dereklieu commented on #498
That works too!

[2018-10-29 17:32] szabozoltan69 commented on #497
Thank you for to good idea. It seems to be OK:
<GEC_code>**KP**</GEC_code><OSC_name>Democratic People Republic of Korea</OSC_name>

[2018-10-30 09:21] mmusori opened #499 "Displaying of regional Appeals on GO"
## Issue

Appeals with a Geo code for the continent/region do not display on the GO home page.
These include but not limited to MDR42004 and MDR60003.

## Expected behavior

A red dot on Panama and Kenya with a tooltip displaying basic information about the appeal.
In the Home › Api › Appeals › MDR60003  section on the GO back end .The country should be listed as the country which hosts the  Regio

[2018-10-30 13:37] omniscjencja opened #500 ""Add report" and "Edit event" button doesn't work for users with limited rights"
## Issue submitted by Sune

"add report" and "edit event" button on the emergency page doesn't work for anyone besides super users. Even if a user is given admin rights to add and edit reports, clicking on the button returns and error. It is really user unfriendly, as then a user has to log in to admin page and look for a given emergency etc.

## Steps to reproduce

## Expected behavior

[2018-10-31 05:52] szabozoltan69 commented on #500
Could you please give a URL example for this?

[2018-11-02 09:07] omniscjencja opened #501 "Disaster type not showing in tables on GO"
## Issue

In the lists of Active Operations, Emergencies or Field Reports, the disaster type data is missing. Please see the screenshots attached.

![1](https://user-images.githubusercontent.com/29458013/47905303-12abcb80-de87-11e8-80fc-797213c2e687.jpg)
![2](https://user-images.githubusercontent.com/29458013/47905306-14758f00-de87-11e8-8270-0a4af3770dbf.jpg)
![3](https://user-images.githubusercon

[2018-11-02 10:00] omniscjencja commented on #500
![2](https://user-images.githubusercontent.com/29458013/47908845-738ad200-de8e-11e8-917d-d691c30c5ce7.jpg)

basically when a user is on an emergency page and clicks add a report, he gets a 403 error

![1](https://user-images.githubusercontent.com/29458013/47908860-83a2b180-de8e-11e8-923a-3f3c14c9ccaa.jpg)

[2018-11-02 10:04] omniscjencja commented on #500
![3](https://user-images.githubusercontent.com/29458013/47909051-10e60600-de8f-11e8-920e-bb92ef4d646a.jpg)

but they have access to admin page, when they log directly there

[2018-11-02 10:40] omniscjencja opened #502 "Lack of search function for events when adding a Situation Report."
## Issue

Lack of search function for events when adding a Situation Report.

![1](https://user-images.githubusercontent.com/29458013/47909773-31af5b00-de91-11e8-9394-bef6606127eb.jpg)

## Steps to reproduce

## Expected behavior

It should be possible to search through the events to which one wants to add a document, as users with limited rights, have a very limited navigation of the admin site.

[2018-11-02 10:59] omniscjencja opened #503 "Change default setting 'Public' when adding Situation Report"
## Issue

At the moment the default setting when adding a new document is 'Public'. Considering many documents are confidential, it would be better to change it to IFRC or Membership, in case a person adding it, doesn't notice.

![2](https://user-images.githubusercontent.com/29458013/47911783-acc74000-de96-11e8-976b-042cad061c7b.jpg)

## Steps to reproduce

## Expected behavior

[2018-11-02 12:06] omniscjencja opened #504 "User rights not showing on the admin page"
## Issue

Users do not have access to their given user rights.

![1](https://user-images.githubusercontent.com/29458013/47914427-e2245b80-de9f-11e8-9fed-db99839f7621.jpg)

for instance this user was assigned a set of rights, including adding and editing ERUs and Situation Reports, but when he logs in to an admin site, he has no access

![2](https://user-images.githubusercontent.com/29458013/479144

[2018-11-02 14:51] szabozoltan69 commented on #504
It is not enough to move the privilege-rows to the other side, a "Save" is also to be pushed at the end.

[2018-11-05 11:17] szabozoltan69 commented on #501
The fix can be tested on staging website: https://dsgoproxyapp.azurewebsites.net/ – it will be on production soon.

[2018-11-05 11:17] #501 closed

[2018-11-05 11:43] szabozoltan69 commented on #504
Could not reproduce. If I move some privilege-rows to the right hand side, and push a "Save" after, the changes remained permanently.

![save1](https://user-images.githubusercontent.com/6050643/47996281-52c5b500-e0f8-11e8-9d3e-bf368b3e8ec7.png)

![save2](https://user-images.githubusercontent.com/6050643/47996283-56593c00-e0f8-11e8-9680-43520cfcdb05.png)

There is a message showing whether the chan

[2018-11-05 14:59] szabozoltan69 commented on #488
Solved by fixing get-new-map.js

[2018-11-05 14:59] #488 closed

[2018-11-05 15:35] szabozoltan69 commented on #499
These appeals are collected from financial API. In these sections there are "wide" GEC codes, like 'AFR' or 'AME'. In these cases the region (Africa / America) is defined (and it is visible above). The Country field can contain one country, and in these cases it is not always easy to find the relevant country. All we can see from financial API is (in case of MDR42004) is this:

[2018-11-05 15:35] szabozoltan69 commented on #499
[code]

[2018-11-06 07:51] omniscjencja commented on #504
@szabozoltan69 Dear Zolta, the issue is not that the admin rights do not save on the user profile, but that I as a super user gave sb the admin rights to add, edit or delete ERUs, but when this person logged into their admin site, they could not actually do it. Hence, the screenshots. You can see that this particular user was given more rights than those showing for him, when he logged in.

cc @Lu

[2018-11-06 08:08] szabozoltan69 commented on #504
@omniscjencja Could you please help me by giving the user id? (Maybe better in email to protect  his/her personal data: zoltan.szabo@ifrc.org.). Or an other possibility is to create a user in test environment (https://dsgocdnapi.azureedge.net/admin ) with the same permissions and test things with it.

[2018-11-06 08:13] omniscjencja commented on #504
@szabozoltan69 e-mail sent

[2018-11-06 08:27] omniscjencja opened #512 "improving the process of submitting field reports"
## Issue

Following feedback was submitted by a user:

_The platform does not allow one to review the information shared before submission. Its good to have an interface that reminds you that when you click you will be submitting the update.

Also referencing to the DMIS, it would be good to have a review page where all the information fed into the platform is brought back so the one submitting re

[2018-11-06 08:32] szabozoltan69 commented on #504
Thank you.
I created a similar test user in test environment: https://dsgocdnapi.azureedge.net/admin/
username: permissioncheck-testuser (password is in email).
You should give him the concerning regions also. (None of them is given.) Then, if the effect is good, you can perform it on the production user also.

[2018-11-06 10:34] szabozoltan69 commented on #504
I suggest to select these possibilities:
[code]

[2018-11-06 10:35] #504 closed

[2018-11-07 10:54] szabozoltan69 commented on #502
I've found the solution. De default autocomplete field is a bit narrow in Django admin, but it's usable.
![sitrep_add_searchable](https://user-images.githubusercontent.com/6050643/48127352-cb0cb180-e283-11e8-97f0-123ae8f89d97.png)
Will be on stage and production in some minutes.

[2018-11-07 10:54] #502 closed

[2018-11-07 11:49] szabozoltan69 commented on #500
If you give proper rights to the user (e.g. "emergencies", which is a synonyme for "events") then the permissions are OK for edit events.

![event_equals_emergency](https://user-images.githubusercontent.com/6050643/48129948-5dfd1a00-e28b-11e8-9cff-5fcc5e5786da.png)

The solution for manipulating reports is similar. The user has to have "report..." permissions.

[2018-11-07 12:15] szabozoltan69 commented on #500
This was "Emergencies" should be seen on the user's page:

![emerg](https://user-images.githubusercontent.com/6050643/48131111-34de8880-e28f-11e8-8d7e-f19246c79d15.png)

[2018-11-07 16:05] szabozoltan69 commented on #503
Changed to IFRC default.

[2018-11-07 16:05] #503 closed

[2018-11-08 10:06] szabozoltan69 commented on #478
This above PR is deployed to master.

The above appeals are OK in http://go-api.ifrc.org/api/appeals :
[code]

[2018-11-08 10:06] #478 closed

[2018-11-08 10:57] szabozoltan69 commented on #475
What do you suggest, Derek, shall I change the recent country model-structure ( = remove society_name and society_url from it), or let's just define a new model for "irregular" societies (rc_group) while we leave the recent country model untouched?

[2018-11-08 15:39] dereklieu commented on #475
I think it makes sense to separate them (the first option) as they do seem different, ie a country can have 0, 1, or multiple societies associated with it, and furthermore a society might be associated with 0, 1, or multiple countries.

This will complicate the queries some.

Overall I'd recommend stepping back and taking stock of the current issues that lead to this recommendation, and making sur

[2018-11-08 15:50] szabozoltan69 commented on #475
Thank you Derek. (I also have some fear about the caused _complicated queries_; it can be similar to the effect of "richer CSV" request, which (after the implementation) caused 10-12 other frontend issues which were not easy to detect and fix.)

[2018-11-12 16:05] ElsaRaunioIFRC commented on #499
@szabozoltan69 In the case of the above appeal, we would like the red dot on the map to appear in Panama (home of the Americas Regional Office). Hence, the correct country code would be the Panama ISO-3 code PAN instead of AME (as is currently the case).

The same goes for any current and potential appeals in the other regions, as follows:
Africa: Kenya -> KEN
Asia-Pacific: Malaysia -> MYS
Europe:

[2018-11-12 16:16] szabozoltan69 commented on #499
@ElsaRaunioIFRC thank you – and yes, please give me a mapping of "bigger territories"->"countries".
It would be good like this:
AME->PAN
AFR->KEN
...

[2018-11-12 16:27] #459 closed, assigned to nobody

[2018-11-12 16:29] ElsaRaunioIFRC commented on #499
@szabozoltan69 Another issue related to the ISO-3 codes: We would like to remove the old "Zone" offices from GO and update them with the relevant regional offices, country offices and country cluster offices. When adding new countries on Django, the system prompts for an ISO-3 code. Should we use here the ISO code of the host country? (e.g. PAN for Americas Regional Office). I'm asking this just t

[2018-11-12 16:30] #420 closed

[2018-11-12 16:30] ElsaRaunioIFRC commented on #499
Thanks, @szabozoltan69 for your quick reply. I will work on the list tomorrow and will get back to you once it's ready.

[2018-11-12 17:01] ElsaRaunioIFRC commented on #460
@dereklieu Thanks for bringing this up. I've indeed removed Taiwan and Hong Kong in order to minimise the risk of those appearing for public. I've now also removed them from the fixture. In the future, I'll remember the fixture, should we need to remove any other countries from Go.

[2018-11-15 12:42] szabozoltan69 commented on #474
I attach the fresh "Countries" table from DMIS database. Is this what you were looking for?
[MDIS_countries.xlsx](https://github.com/IFRCGo/go-frontend/files/2585315/MDIS_countries.xlsx)

[2018-11-19 16:06] ElsaRaunioIFRC opened #517 "Feature to further restrict the visibility of response documents"
New (20/11/2018)
Currently, the visibility of the response documents can be restricted to "IFRC" or "Membership". However, it is currently not possible to hide response documents from GO users who are not involved in the specific operation.

To carry out this, we would require a feature to assign staff members into a specific operation and set the visibility as "Operations Specific".

Original (19

[2018-11-19 16:40] dereklieu commented on #517
Isn't there a third, "membership" option, for users with a login who are not IFRC? This seems to be built to address your issue.

[2018-11-19 16:45] ElsaRaunioIFRC commented on #517
Hi @dereklieu, Thanks for the quick response. Does the "Membership" option apply universally on all Go pages or can it be operations-specific?

If, let's say, an American Red Cross member is deployed for Indonesia Earthquake, we want him to see the Indonesia-specific SitReps but not those related to DR Congo Ebola (for example). Does the current membership/admin rights combination allow this kind

[2018-11-19 16:57] dereklieu commented on #517
Membership means anyone with a login who is currently logged in can view the content.

On the backend there are more powerful levers to control access and editing rights based on a user's region or country, but as far as displaying things on the front-end, there are only these three for the time being.

[2018-11-19 17:09] ElsaRaunioIFRC commented on #517
In this case, we will go for the "Membership" option now. However, we will inform the users that as for now,  response documents cannot be hidden from non-Ops staff.

Should I close this issue and open another one about the Ops-specific user rights? This could be a Phase 2.2, even 3.0 issue.

[2018-11-19 17:14] ElsaRaunioIFRC commented on #517
A quick fix for this issue: ask all deployed personnel to use @ifrc.org email address (rather than, for example, the NS email address). We will make sure to increase our outreach on this.

[2018-11-19 18:53] dereklieu commented on #517
@ElsaRaunioIFRC I think it's useful to keep this ticket open so that our conversation can provide context for future development. You could just edit the title so it better reflects the feature.

[2018-11-20 16:17] ElsaRaunioIFRC opened #518 "Total people affected by emergencies showing 0"
On the Emergencies page, the number of affected people shows 0 even though there are emergencies with specified figures (e.g. 900,000 for Israel).

![image](https://user-images.githubusercontent.com/31092591/48786909-12fdf080-ece8-11e8-8a66-5106fe31f610.png)

[2018-11-20 17:38] dereklieu commented on #518
@szabozoltan69 the `emergencies-dash` component is not checking the `num_affected` figure in the latest field report attached to each emergency. So the number in the header is 0, but some emergencies in the table below show number affected.

As you can see here, [the table is checking the field report for `num_affected` if the `num_affected` on the emergency object itself is null.](https://github.

[2018-11-21 09:42] ElsaRaunioIFRC opened #519 "Changed appeal host country overwritten"
In very rare occurrences, we may have to change the initial host country of an emergency or appeal.

Currently, this is the case with MDR65002. The related emergency took place in Crimea and the field report was submitted by the Russian Red Cross. Due to political considerations, the appeal was assigned to the Europe Regional Office located in Hungary. However, since this is not a multi-country ap

[2018-11-21 10:18] szabozoltan69 commented on #518
Thank you, @dereklieu . Your words showed the direction. I had to change emergencies.js, so instead of the old const numAffected = records.reduce((acc, next) => acc + get(next, 'num_affected', 0), 0);
I had to test if there is no (non-zero) num_affected field in appeal, then get the most recent field_report belonging to it.
So in row 95...:
[code]

[2018-11-21 10:31] szabozoltan69 commented on #518
Now it seems to be fine on production:

![affected1100000](https://user-images.githubusercontent.com/6050643/48835592-d6320800-ed80-11e8-8782-6ab7a2c75dc7.png)

Otherwise on staging it's a bit weird. But staging data should not be realistic...

[2018-11-21 11:02] szabozoltan69 commented on #518
There is something I don't understand (tested in staging).
@dereklieu maybe you know the solution.

In https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/reducers/emergencies.js#L89 if I give a console.log(records), it gives a bigger array (length 21). But if I give a console.log(record.name) inside the forEach (so in https://github.com/IFRCGo/go-frontend/blob/develop/app/assets

[2018-11-21 11:41] #518 closed

[2018-11-21 12:12] szabozoltan69 commented on #519
The appeals arrive hourly from the financial (appeal) api.

A quick solution could be the possibility to give an APP_code list for which the automatic overwriting is omitted (so recently it is MDR65002). So, if it is a recurring need, we can find out a nice data representation of this (e.g. a new status, "active and constant" or so, or just create a table for these appeals), but now it would be th

[2018-11-21 12:22] ElsaRaunioIFRC commented on #519
We anticipate this need to be very rare (I'll provide more information on email). We can go for the easiest option as long as we can make sure that the changes won't be overwritten.

[2018-11-21 12:31] szabozoltan69 commented on #519
OK, I've patched the program, now the manual changes of MDR65002 will be persistent.
I've put these rows to line 77:
[code]

[2018-11-21 15:47] dereklieu commented on #519
@ElsaRaunioIFRC could the country of the appeal not have been changed in the source financial database? That would have fixed this without the need to introduce a temporary one-liner that someone will have to remember to revert later.

[2018-11-21 16:00] ElsaRaunioIFRC commented on #519
@dereklieu Handling the financial database is beyond our reach as the decision is made higher in the organisation.

I would like to highlight that this kind of problem will be very rare - once a year or even less.

As the last option, we could also hide controversial appeals as this from GO.

[2018-11-23 10:47] ElsaRaunioIFRC commented on #498
We are instructing our IM collegues to use the method suggested by @danbjoseph. This should solve the issue with the snippet order.

[2018-11-23 10:48] #376 closed

[2018-11-23 11:48] ElsaRaunioIFRC commented on #380
@szabozoltan69 Points 1. and 2. have been solved.

Point 3. continues to be a problem for some countries.

Point 4. I propose we replace PNS with "Additional Response Activities"

Additionally, replace "infinity" with a discrete maximum figure.

[2018-11-23 11:56] ElsaRaunioIFRC commented on #383
This issue appears to be solved.

[2018-11-23 11:56] #383 closed

[2018-11-23 12:08] szabozoltan69 commented on #380
Would be good "100%" instead of "infinity"?

[2018-11-23 12:20] ElsaRaunioIFRC commented on #380
The purpose of this chart is to show PNS activities on Admin 1 level. Based on the current estimates, the maximum activities of a PNS within Admin 1 is something like 5. So I suggest setting the maximum figure to 5. 100% does not really help in this context as we are not looking at proportions but rather, the number of PNSs.

[2018-11-23 12:21] szabozoltan69 commented on #380
Ok, it will be 5 then.

[2018-11-23 12:43] szabozoltan69 commented on #380
You can check the result e.g. on https://dsgoproxyapp.azurewebsites.net/countries/74 – and soon on production also.

[2018-11-23 13:13] ElsaRaunioIFRC commented on #416
I think the "Highlighted Emergencies" tab has provided a solution to this problem, at least in this development phase.

[2018-11-23 13:13] #416 closed

[2018-11-23 13:43] ElsaRaunioIFRC commented on #404
What action should be taken to remove non-recognised countries from the search menu? Currently, searching for "China" brings up Republic of China (Taiwan) and Hong Kong, neither of which is considered a separate country by the IFRC. Also "Palestine" appears as "Occupied Palestinian Territories" which should not happen - according to the Governance, this entity should be called simply "Palestine".

[2018-11-23 13:49] ElsaRaunioIFRC commented on #389
This issue appears to be solved.

[2018-11-23 13:49] #389 closed

[2018-11-23 15:15] ElsaRaunioIFRC commented on #364
This issue has been partially solved.

There are still some columns that I would revise, like this:

country society_name > national_society_name
code > appeal_code

Other than this, the column names are clear and understandable.

[2018-11-23 15:42] ElsaRaunioIFRC commented on #362
As we now have the Intl option, I am closing this issue.

[2018-11-25 14:10] ElsaRaunioIFRC commented on #498
I have reopened the issue as from the user perspective, it is more intuitive to add the frame snippets separately and still have an option to control the order.

[2018-11-26 08:54] szabozoltan69 commented on #404
I recreated elasticsearch index:

[code]

[2018-11-26 11:56] szabozoltan69 commented on #364
Done. Tested with .../appeals/all?region=3

[2018-11-27 09:12] ElsaRaunioIFRC commented on #364
Let's go for -

[2018-11-27 09:43] szabozoltan69 commented on #446
Ok, let's work with this. Please send me some example URL-s about the not-good and the wished result.

[2018-11-27 09:51] szabozoltan69 commented on #364
Done.

[2018-11-27 09:51] #364 closed

[2018-11-27 10:39] szabozoltan69 commented on #446
@ElsaRaunioIFRC The task is not clear (or maybe partially solved before). Recently the emergencies are ordered by start date, as the above requirement would like to have, on page https://go.ifrc.org/emergencies

![em1](https://user-images.githubusercontent.com/6050643/49076074-7cc25100-f238-11e8-82c3-053ab687826d.png)

The field reports are ordered by Creation date:

![em2](https://user-images.git

[2018-11-27 10:55] #362 closed

[2018-11-27 11:36] ElsaRaunioIFRC commented on #446
@szabozoltan69 This request concerns deployed personnel only (FACT, HEOps, RDRT/RIT). What we would like is to have the deployments sorted by the mission start date rather than end date. Since the lengths of the missions vary from a few weeks to many months, it makes more sense to sort these according to the start date.
![image](https://user-images.githubusercontent.com/31092591/49079506-05dd8600-

[2018-11-27 11:37] #404 closed

[2018-11-27 11:40] szabozoltan69 commented on #446
@ElsaRaunioIFRC Oh, thank you. Now it's clear. The "_...on emergency page..._" localisation was a bit misleading, because it is on Deployments page (/deployments).

[2018-11-27 11:45] ElsaRaunioIFRC commented on #206
@szabozoltan69 There has not been complaints about the upload size issues lately. What is the current upper limit for an upload? If it is 50 MB (as suggested by Derek above), I think we can close the issue.

[2018-11-27 12:14] ElsaRaunioIFRC commented on #366
@szabozoltan69 It looks like this problem still occurs. When I click "View on Admin Page", all I get is a "Not found" error.

"View on IFRC GO" is working correctly.
![image](https://user-images.githubusercontent.com/31092591/49081225-67542380-f246-11e8-9bb0-59bc6e049ccd.png)

![image](https://user-images.githubusercontent.com/31092591/49081216-5e635200-f246-11e8-8301-3c6a7c37ab22.png)

[2018-11-27 12:38] ElsaRaunioIFRC commented on #500
@szabozoltan69 Should we merge the issues concerning user rights? Our vision is to have a 5-Tier user system, as seen in this organigram: https://drive.google.com/file/d/1cL2QstYMqPKPlj9gr9azTiJt_A7bTvSF/view?usp=sharing

This is the document describing the user profiles and their correspondent rights:
https://docs.google.com/document/d/1q5IixAZSSRKsVcXc6bl3nQVhn6EmmpdrpKHdiyUlX04/edit?usp=sharing

[2018-11-27 12:43] szabozoltan69 commented on #206
@ElsaRaunioIFRC Well, this is an unsolved issue yet. I tried to set the 50 MB, but my config change is not enough. It is (~)impossible to test it on local development environment, even with the Azurite module. Derek suggested to set up a (non staging, but really testing) environment with real Azure storage, but this request was postponed for the next (budget) year, because it needs about 8 hours t

[2018-11-27 12:46] szabozoltan69 commented on #500
@ElsaRaunioIFRC Yes, we can merge these issues, if it makes life better.

[2018-11-27 12:48] szabozoltan69 commented on #512
For me it's ok to merge some issues. The "can not submit ..." stuff usually seems to be network problem, and is not our competency.

[2018-11-27 13:19] ElsaRaunioIFRC opened #530 "List of countries in the field report drop-down menu"
It looks like Republic of China (Taiwan) is still in the field report drop-down menu. Would it be possible to match the drop-down menu with the list of countries in the admin end?

[2018-11-27 13:20] ElsaRaunioIFRC commented on #499
@szabozoltan69 Based on all the work and email exchange last week, is there any further action required from us? Is this issue ready to be closed?

[2018-11-27 13:33] #407 closed

[2018-11-27 13:44] szabozoltan69 commented on #446
@ElsaRaunioIFRC Please test it. Also fixed the half-working sorting links (^, v). (For the Emergency text itself there is no sorting possibility in API.) If OK, we can close this.

[2018-11-27 14:11] ElsaRaunioIFRC commented on #446
@szabozoltan69 I don't see any difference either in the dev or product environment. Would you mind adding some more deployments to the development? Currently, all the deployments have the same starting date and thus, cannot be tested for this function. I don't think I have an access to the development admin.

[2018-11-27 14:14] szabozoltan69 commented on #530
Do you mean an already inserted field report? Because for new field-reports I can not see Taiwan:

![no_taiwan](https://user-images.githubusercontent.com/6050643/49087293-e3566780-f256-11e8-9c37-b42fadbdf5e9.png)

Please send me an example URL (in email).

For already inserted field reports a (one-time) database update can help.
(In the countries admin page there are only the "nice" countries... a

[2018-11-27 14:16] szabozoltan69 commented on #530
@ElsaRaunioIFRC Maybe you used the dev environment? There we can see Taiwan also. But not in production site.

[2018-11-27 14:41] omniscjencja opened #535 "website crashing when uploading multiple documents"
## Issue

One of the users / ops, reported that the website was crashing when he was trying to submit more than one document at once and therefore he had to submit all 13 documents separately.

## Steps to reproduce

## Expected behavior
![antoine](https://user-images.githubusercontent.com/29458013/49089018-e6ebed80-f25a-11e8-9f8e-307bfabc53f3.jpg)

[2018-11-27 14:47] szabozoltan69 commented on #535
The fact that a maximum ~5MB is uploadable at once is known. Derek suggested to build an Amazon test enviroment for debugging (among more) this upload issue, but Luke postponed this proposal to the next year. Until then it can not be solved easily, and ops has to take the time for the uploads.

[2018-11-27 14:55] szabozoltan69 commented on #530
@ElsaRaunioIFRC Could you please send me (in email) the URL you used at the moment of the screenshot? Because it can not be the same as mine ( .../admin/api/fieldreport/add/ ), maybe it is on the frontend.

[2018-11-27 14:58] szabozoltan69 commented on #530
I see, it is on the frontend. I have to debug it why does it show more countries – maybe due to the already existing country entities...

[2018-11-27 15:12] szabozoltan69 commented on #530
There is a country list for the frontend itself: https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/utils/field-report-constants.js#L284 :-/
I shorten it in a minute...

[2018-11-28 08:05] szabozoltan69 commented on #446
@ElsaRaunioIFRC Maybe you tested it too quick, before the actual deployment. :-) Well, if you load it now, you can see that the first (Start Date) column is ordered:
[code]
– this was the request. If you click to an other column, e.g. End Date (first), then the End Date is the ordering data:
[code]
One more click to End Date reverses the order:
[code]

[2018-11-28 08:19] ElsaRaunioIFRC commented on #446
@szabozoltan69 Now this is working as requested, with the default sorting in reverse chronological order by start date.

[2018-11-28 08:19] #446 closed

[2018-11-28 08:21] szabozoltan69 commented on #530
@ElsaRaunioIFRC You can test it now.

[2018-11-28 11:32] szabozoltan69 commented on #366
@ElsaRaunioIFRC Could you please forward me this email? Or please give me some more details, what kind of email is it, and what was the broken link exactly.

[2018-11-28 11:54] ElsaRaunioIFRC commented on #530
It works now.

[2018-11-28 11:54] #530 closed

[2018-11-28 12:02] #519 closed

[2018-11-28 12:04] ElsaRaunioIFRC commented on #366
@szabozoltan69 I forwarded you the email.

[2018-11-28 12:17] #463 closed

[2018-11-28 12:30] szabozoltan69 commented on #366
@ElsaRaunioIFRC I fixed it, in a few hours the next emails should contain correct URL-s.

[2018-11-28 15:07] ElsaRaunioIFRC commented on #366
@ElsaRaunioIFRC Let's test this when we get the next digest. If it works, I'll close the case.

[2018-11-28 15:08] ElsaRaunioIFRC commented on #361
@szabozoltan69 Would it be possible to remove the current month from the graph?

[2018-11-28 15:17] szabozoltan69 commented on #361
@ElsaRaunioIFRC Well, I can try it. But – to tell the truth – I don't find it a good idea. To say a simile: it is like the usage of the hand brake in a car. We used to use it on a slope. We know it's role. The same is with these graphs: we know that the last month  is imperfect. It has some information-content (at least more than the nothing – if we remove it).

[2018-11-28 15:17] ElsaRaunioIFRC commented on #328
@szabozoltan69 Is there any possibility to add a banner on the Django log-in? If not (yet), let's leave this to phase 3.

[2018-11-28 15:20] szabozoltan69 commented on #328
It should be possible according to http://books.agiliq.com/projects/django-admin-cookbook/en/latest/logo.html – I make it this week.

[2018-11-28 15:32] ElsaRaunioIFRC commented on #283
@szabozoltan69 Is there currently any emergency data pulled from the EPoAs? I know there's been a plan for a scraper but not sure if it's ready. If there'd no data being pullet from the EPoA at the moment, let's leave this issue for phase 3.

[2018-11-28 15:34] szabozoltan69 commented on #283
@ElsaRaunioIFRC There is some kind of working PDF scraping now, yes. But to check or improve it, we can leave it for phase 3.

[2018-11-28 15:35] szabozoltan69 commented on #283
(The word "EPoA" does not occur in the code anyway.)

[2018-11-28 15:41] ElsaRaunioIFRC commented on #283
@szabozoltan69 Good, I'm now labelling this as a Phase 3 issue.

[2018-11-28 15:41] ElsaRaunioIFRC commented on #328
@szabozoltan69 Very good.

[2018-11-28 15:53] ElsaRaunioIFRC commented on #423
@szabozoltan69 Do you know what this issue is about? After going through the current emergencies, everything appears to be in order.

[2018-11-28 15:53] #380 closed

[2018-11-28 15:54] #460 closed

[2018-11-28 15:56] szabozoltan69 commented on #423
@ElsaRaunioIFRC I think it is about mobile view (or a narrow browser view) of https://go.ifrc.org/emergencies . In a narrow viewbox some part of the field riports get out of the window (and should scrolled). The ordering is OK by my opinion.

[2018-11-28 15:59] ElsaRaunioIFRC commented on #423
@szabozoltan69 I've taken a look on the mobile too and it looks fine, at least on iOS.

[2018-11-28 16:00] szabozoltan69 commented on #423
@ElsaRaunioIFRC Fine, then you can close it.

[2018-11-28 16:01] #423 closed

[2018-11-28 16:15] ElsaRaunioIFRC commented on #424
@szabozoltan69 How is the issue with source and formatting? Without an access to the dev admin, I can not do any testing.

The current field reports don't seem to have any paragraphs - I assume it is still not possible to divide the overview into paragraphs? Would it be difficult to introduce this option?

[2018-11-28 16:18] szabozoltan69 commented on #424
@ElsaRaunioIFRC I have no experience about formatting GO input. It can be time-consuming to explore it. I suggest to forward this to phase 3.

[2018-11-29 08:18] ElsaRaunioIFRC commented on #316
@szabozoltan69 Shall we merge this with #316?

[2018-11-29 08:30] ElsaRaunioIFRC commented on #311
@szabozoltan69 Any chance of showing the emergencies for the past 90 days instead of 30 (both in the map and the tables). If not in this phase, let's move this to phase 3.

[2018-11-29 08:46] ElsaRaunioIFRC commented on #475
@szabozoltan69 Is there anything else to work on this issue? If everything is finished, I'll close the issue.

[2018-11-29 08:50] szabozoltan69 commented on #475
@ElsaRaunioIFRC Well, the restructuring did not happen until now, but we can return to this, if someone else also needs this. It was just an idea, but the implementation is a bit risky (for me). We can close it.

[2018-11-29 08:50] #475 closed

[2018-11-29 08:57] ElsaRaunioIFRC commented on #474
@szabozoltan69 Is there any further work required from our side?

[2018-11-29 09:02] szabozoltan69 commented on #311
@ElsaRaunioIFRC So you mean the upper part, the map of the /emergencies page? (Because there is a "30 days" also at the lower part of the same page, with a table.)

Let's move this to phase 3. I found the relevant source (emergencies-dash.js) but the same "lastMonth" is used at multiple parts, and I may miss up things. (And I still don't see where this lastMonth is defined...)

[2018-11-29 09:04] szabozoltan69 commented on #474
@ElsaRaunioIFRC No, you can close it, thank you.

[2018-11-29 09:18] #474 closed

[2018-11-29 09:23] ElsaRaunioIFRC commented on #470
@szabozoltan69 I think the idea here is to add a "forgotten username" option (in addition to forgotten password). Many users have registered to the DMIS but forgotten their credentials. They then register a new account with the same account, which will block their account. Does Django allow such recovery of a username, based on the user's email address?

[2018-11-29 09:38] ElsaRaunioIFRC commented on #403
@szabozoltan69 User rights are among our key priorities right now. Our idea is to have a set of pre-assigned rights according to the user's function, region and operation. However, as we observed with the user Manoj Khadka, grouped user rights do not seem to work yet as planned. Currently, we have been assigning the rights individually which is very time-consuming and prone to errors.

[2018-11-29 09:51] szabozoltan69 commented on #403
@ElsaRaunioIFRC User and group rights setting is a parametering issue, does not need developer intervention. If something does not work as we would like to, then of course, the reason and root cause should be found. The Django "group" entity gives possibility to define sets of permissions. We can begin to explore it better.

[2018-11-29 09:52] ElsaRaunioIFRC opened #538 "Spaces in usernames"
Currently, it is possible to register a username with spaces in it. However, when you try to modify the user, such as assign them more user rights, the system gives the error message below:
![image](https://user-images.githubusercontent.com/31092591/49213341-5f21f280-f3c4-11e8-97f0-522022bc551e.png)

I see this problem being fixed either by
1) Do not allow spaces in names upon registration on Go.

[2018-11-29 09:55] szabozoltan69 commented on #386
@ElsaRaunioIFRC My problem is that the /countries itself does not show anything, we should find out the design of this page. It can be time consuming to figure out. Or can you suggest me an already existing URL which should be shown for the Countries menu item?

[2018-11-29 09:58] szabozoltan69 commented on #538
@ElsaRaunioIFRC I strongly suggest the 1st version: not allowing spaces at registration time.

[2018-11-29 10:00] szabozoltan69 commented on #470
@ElsaRaunioIFRC Yes, we can implement this feature: to send the user's username for the given email address, if exists in GO database.

[2018-11-29 10:00] ElsaRaunioIFRC commented on #538
@szabozoltan69 OK, let's choose this option.

[2018-11-29 10:03] szabozoltan69 commented on #470
@ElsaRaunioIFRC Do you think about a real automatic (e.g. monthly) sent message? Or just a link on the webpage?

[2018-11-29 10:07] ElsaRaunioIFRC commented on #470
@szabozoltan69 A link to the webpage should be sufficient, at least for now.

[2018-11-29 10:50] szabozoltan69 commented on #538
I've found the solution. It will be deployed along with the new Django banner, because both of them had to implement in backend side. I write when it is done.

[2018-11-29 14:42] ElsaRaunioIFRC opened #539 "Field reports not exporting"
I have tried exporting the field reports over different connections and browsers but all I get is a long wait and an error message "Export failed".

Since the field reports include an important part of our operational data, it is important to fix this problem.

[2018-11-29 15:09] szabozoltan69 commented on #539
True, it arrives for me also. Maybe it is due to the huge amount of field report data. I shall check it.
![fr_exp](https://user-images.githubusercontent.com/6050643/49230960-29dfc980-f3f1-11e8-8b6a-9fb25e70169a.png)

[2018-11-29 15:31] szabozoltan69 commented on #538
Done.

[2018-11-29 15:31] #538 closed

[2018-11-29 15:32] szabozoltan69 commented on #328
@ElsaRaunioIFRC Done. If you want some colors otherwise, please tell me.

[2018-11-29 15:38] ElsaRaunioIFRC commented on #328
@szabozoltan69 Looks very nice. I'm closing the issue.

[2018-11-29 15:38] #328 closed

[2018-11-29 15:42] ElsaRaunioIFRC commented on #366
@szabozoltan69 The problems appear to be solved, at least with the old emergencies. I'm closing this issue and will open again if any problems appear.

[2018-11-29 15:42] #366 closed

[2018-11-29 15:48] szabozoltan69 commented on #539
For quick solution I suggest to divide the data along regions, then no error occur:
https://go.ifrc.org/reports/all?region=0
https://go.ifrc.org/reports/all?region=1
https://go.ifrc.org/reports/all?region=2
https://go.ifrc.org/reports/all?region=3
https://go.ifrc.org/reports/all?region=4
These exported .csv-s gives all the field reports.

[2018-11-30 13:03] ElsaRaunioIFRC commented on #539
@szabozoltan69 Do we have an option how to implement your suggestion on the front page? For example, when a user wants to export field reports, they are prompted to choose the region first.

[2018-11-30 14:38] szabozoltan69 commented on #539
@ElsaRaunioIFRC Good idea! I think about the implementation...
A quick and easy solution would be to change the link at the bottom of the /emergencies page instead of:
_View all field reports_

To
View all field reports of Africa
View all field reports of Europe
...
Can I implement this?

[2018-11-30 14:54] ElsaRaunioIFRC commented on #539
@szabozoltan69 Looks good, let's go for this option, in this phase (until we find the way to export all at once).

[2018-12-03 09:33] szabozoltan69 commented on #539
I found this design the best workaround. Please test it in dev environment @ElsaRaunioIFRC
https://dsgoproxyapp.azurewebsites.net/emergencies/

![more_links](https://user-images.githubusercontent.com/6050643/49365253-99ea9a00-f6e6-11e8-8960-139d57ceda71.png)

[2018-12-03 09:48] ElsaRaunioIFRC commented on #539
@szabozoltan69 Looks good, please go ahead.

[2018-12-03 09:53] szabozoltan69 commented on #539
@ElsaRaunioIFRC Thank you for the green light, now it is in production.

[2018-12-03 09:56] ElsaRaunioIFRC commented on #539
@szabozoltan69 I have one more suggestion: Could we amend the .csv names with the name of the region, e.g. field-reports-africa, field-reports-asia-pacific, etc? This would make the data management easier for the end user.

[2018-12-03 09:57] szabozoltan69 commented on #539
Good idea, I continue the work with it...

[2018-12-03 11:08] szabozoltan69 commented on #539
@ElsaRaunioIFRC You can test it in dev environment, e.g. https://dsgoproxyapp.azurewebsites.net/reports/all?region=2 | I increased a limit variable also, but I am not sure that it (alone) solves the "Export All" problem.

[2018-12-03 14:46] ElsaRaunioIFRC commented on #539
Looks good in production. I'm closing the issue.

[2018-12-03 14:46] #539 closed

[2018-12-03 14:47] ElsaRaunioIFRC commented on #470
@szabozoltan69 Would this feature (a link on the webpage) become available at Phase 3 or earlier?

[2018-12-03 15:16] szabozoltan69 commented on #470
@ElsaRaunioIFRC I think it can be solved before Phase 3 (in a few days).

[2018-12-03 15:37] szabozoltan69 commented on #470
This kind of link is acceptable for that purpose? (Or better to put in one line both?)

![forgot_username](https://user-images.githubusercontent.com/6050643/49383681-9c1a1c00-f719-11e8-9a66-2ec1db8156cc.png)

[2018-12-03 16:51] ElsaRaunioIFRC commented on #470
@szabozoltan69 This looks good, feel free to take it to production.

[2018-12-04 19:13] szabozoltan69 commented on #470
@ElsaRaunioIFRC You can test it (using your email address) on https://dsgoproxyapp.azurewebsites.net/login – on Wednesday it can go to production.

[2018-12-05 08:18] szabozoltan69 commented on #470
Now it is in production.

[2018-12-05 12:34] ElsaRaunioIFRC commented on #470
@szabozoltan69 This feature is working just as we wanted.

[2018-12-05 12:34] #470 closed

[2018-12-05 17:21] dereklieu commented on #311
Just ticketing the contents of an email I wrote to @szabozoltan69 on this topic, so that knowledge of it exists for future phases.

The map and the table on the emergencies page at https://go.ifrc.org/emergencies have different methods of determining the interval to show (ie last month).

For the map, it relies on a method that is only used by itself, and you can simply set the date differently in

[2018-12-06 09:47] szabozoltan69 commented on #311
Thank you, Derek, for the relevant quidelines; so I change
getLastMonthsEmergencies to
getLast3MonthsEmergencies everywhere, because this way I change only the emergency-dash ( = map and above it) properties and not the table. This ticket wants only this.
@ElsaRaunioIFRC please test it (after 11:00) and close this ticket, if fine.

[2018-12-06 09:59] szabozoltan69 commented on #311
Old an new view:
![em30](https://user-images.githubusercontent.com/6050643/49576631-eed81b80-f945-11e8-8acf-4bb5cc8b41c9.png)
![em90](https://user-images.githubusercontent.com/6050643/49576638-f3043900-f945-11e8-84c7-c5435f457982.png)

[2018-12-06 22:31] dereklieu commented on #539
I think this was a good solution @szabozoltan69. On one hand, there's not much we can do about the fact that the entire table export will be thousands of rows, and that this number will only increase from here.

However, at least during development earlier this year, I remember the field report export being consistently successful, albeit somewhat slow. I don't think we've created more field repor

[2018-12-07 08:39] szabozoltan69 commented on #539
Yes, you are right, Derek: the "more human-readable" header is the main reason of the less performance (or the overuse of memory). If someone really wants to have an "all-in-one" .csv export for field reports, then the nice header should be omitted (or fix afterwards manually with an other tool).

[2018-12-10 13:56] ElsaRaunioIFRC commented on #254
There appears to be another, more active WHO RSS, that we could consider adding on GO:

https://www.who.int/feeds/entity/csr/don/en/rss.xml

[2018-12-21 08:40] ElsaRaunioIFRC opened #553 "Emergencies table not exporting"
@szabozoltan69 Any attempt to export the emergencies results in a network error - we have tried exporting over several different networks.

![image](https://user-images.githubusercontent.com/31092591/50333080-6ee4b080-0504-11e9-95ca-46a5170608c3.png)

With this being on of the core datasets on Go, it is very important to fix this issue as soon as possible.

[2018-12-21 12:43] szabozoltan69 commented on #553
Which "emergencies" do you mean?
In the main emergencies page there is a workaround to export some region's emergency list, and it worked fine for me now. Of course "all" the emergencies can not be exported, but it's a known (and wrote on the webpage) issue.

![eme](https://user-images.githubusercontent.com/6050643/50343236-5e453200-0526-11e9-911e-121695618766.png)

For me "as soon as poosible" is

[2018-12-27 14:54] danbjoseph opened #554 "document type dropdown overflow issue"
"Mobilisation Table for Current Operation" is cut off when choosing document type
either expand the width of the option box? or shorten that doc type name?

<img width="394" alt="screen shot 2018-12-27 at 9 51 16 am" src="https://user-images.githubusercontent.com/4806884/50484167-1e19ff80-09bd-11e9-99f8-35123bcef8d0.png">

[2019-01-03 09:13] mmusori opened #555 "Error message when uploading Field Report"
## Issue

When a field report was created  for Nigeria cholera outbreak the following  error message was returned after clicking the   ``save and continue`` button ``could not submit field report``.  But the field report had been uploaded. The team then tried again and obtained another error message even though the field report had been uploaded a second time.
![image](https://user-images.githubus

[2019-01-03 09:23] szabozoltan69 commented on #555
Please give me more details. I need all the data you entered on the previous input pages, so that this issue should be reproduced.
A possible root of the error can be the broken link of some document referred.

[2019-01-03 10:17] mmusori commented on #555
All the information submitted in the field report is available on: https://go.ifrc.org/reports/11638
The report was submitted but they still got an error message.

[2019-01-03 10:43] szabozoltan69 commented on #555
Thank you. And all the needed data is saved on the existing field report https://go.ifrc.org/reports/11638 ? Nothing is missing?

[2019-01-03 10:53] mmusori commented on #555
Yes, that is the first field report they submitted then they got an error message so they submitted a second one:  https://go.ifrc.org/reports/11639
And got an error message as well.
But on another note the Field Report is supposed to create an emergency and no emergency was created on the 30th of December.
![image](https://user-images.githubusercontent.com/7780809/50634226-3b674480-0f4e-11e9-96da

[2019-01-03 10:58] szabozoltan69 commented on #555
Well, the "Emergency" field is a (typing-time) loopkup field on field report creation so I do not think that emergency should be created on-the-fly when creating a field report.

I suggest to create the Emergency before, and then create the field report. (Let's clear this sequence question before continuing the error investigation.)

[2019-01-03 13:48] szabozoltan69 commented on #554
Please give me an URL to test it.
(This long name can be changed in the "Situation Report Types" section of the backend, e.g. to "Current Ops Mobilisation Table")

[2019-01-03 14:02] danbjoseph commented on #554
screenshot is from https://go.ifrc.org/emergencies/3288

[2019-01-03 14:07] szabozoltan69 commented on #554
Thank you, now I see the place of the hidden menu point...

[2019-01-03 15:15] #554 closed

[2019-01-07 08:10] szabozoltan69 commented on #553
Somebody suggested me to use blob, filereader for this part of the program, as https://github.com/Stuk/jszip/blob/master/dist/jszip.js#L3459 does (and other MDN js programs does). This way we could extend the limits of the export data size. @dereklieu – could you give me some advices about this?

[2019-01-07 10:41] mmusori commented on #555
@Zoltan for GO Phase 2 we decided that Emergencies are created by a field report or a GDACS alert. So the creation of a field report should automatically trigger the creation of an emergency.
Also thanks for resolving the Nigeria Cholera issue.

[2019-01-07 11:12] szabozoltan69 commented on #555
Thank you @mmusori

[2019-01-07 14:53] dereklieu commented on #553
I don't have much experience with the `FileReader` spec unfortunately and can't say whether it would actually solve our problem or not.

[2019-01-09 09:45] ElsaRaunioIFRC opened #556 "Some national society email addresses not recognised"
Some users from the Norwegian Red Cross (@redcross.no) and Belgian Red Cross (@rodekruis.be) have not been able to register on Go because their email addresses have not been recognised as national society emails. This happens even though these are the official email address endings of the respective national societies.

When the email addresses are not recognised as official national society email

[2019-01-09 10:20] szabozoltan69 commented on #556
Both redcross.no ( https://github.com/IFRCGo/go-api/blob/master/registrations/views.py#L116 ) and redcross.be ( https://github.com/IFRCGo/go-api/blob/master/registrations/views.py#L99 ) is on the "valid domain" list, so the registration should not ask 2 admin emails for them. On the screenshot we can't see which email address did the users use for registration.

[2019-01-09 10:34] szabozoltan69 commented on #556
rodekruis.be is not on the "valid domain" list. Should it be? And also gmail addresses are not good, even if the user has a redcross email adress also.

[2019-01-09 10:38] ElsaRaunioIFRC commented on #556
@szabozoltan69 Belgian Red Cross is very exceptional because the country has three Red Cross societies. They use the following email endings:

@rodekruis.be (for the Flemish speaking part)
@croix-rouge.be (for the French speaking part)
@roteskreuz.be (for the German speaking part)

Accordingly, all of these should be made valid national society domains.

[2019-01-09 10:40] ElsaRaunioIFRC commented on #556
@szabozoltan69 The user from the Norwegian Red Cross had the following error message:

![image](https://user-images.githubusercontent.com/31092591/50894395-6563af80-1403-11e9-87aa-c83d6e9a662e.png)

[2019-01-09 10:50] szabozoltan69 commented on #556
Ok, I add this 3 Belgian domains to the list.

However, concerning the Norwegian user I still don't see the problem. (From this screenshot we can not see the email address (s)he gave [it could be ...@gmail.com], only the two contact addresses, but if I search for them in the "pending registration" table, I can't find them.)

[2019-01-09 12:09] szabozoltan69 commented on #556
Done via https://github.com/IFRCGo/go-api/pull/342

[2019-01-09 14:33] szabozoltan69 commented on #556
Yes, it's true. Hopefully it's not a very frequent issue when a new IFRC-domain appears.
A smoother (but less safe) solution could be to keep these domain names in a database table.

[2019-01-09 15:01] ElsaRaunioIFRC commented on #556
We will keep monitoring this and will report if this issue continues to persist.

[2019-01-14 12:56] omniscjencja opened #557 "Error message when uploading second deployment"
## Issue

User reported receiving an error message when uploading additional deployments through Personnel Deployments page.
Initially when they log in to admin sit and click on ADD PERSONNEL DEPLOYMENT everything works fine, but when they click on ADD PERSONNEL DEPLOYMENT again and then click SAVE, they get a following error message.

![1](https://user-images.githubusercontent.com/29458013/511139

[2019-01-14 13:20] szabozoltan69 commented on #557
This CSFR error refers to an attack scenario (https://en.wikipedia.org/wiki/Cross-site_request_forgery).
 - A possibility is: after the first deployment-adding an attacker got some (cookie) information and tried to use it.
 - But it is much more likely, that the user tried to "step back" with the browsers "back" button and sent the same page as before. This is prohibited to avoid the above securit

[2019-01-18 11:31] szabozoltan69 commented on #316
Now emergency is searchable in Field report form, and selection none of them is allowed also.

[2019-01-18 11:31] #316 closed

[2019-01-21 16:49] ElsaRaunioIFRC commented on #498
New snippets are being added on the [Indonesia page ](https://go.ifrc.org/emergencies/3288) every week. However, due to the current bug (as described in the first message), we cannot order the snippets in any sensible way.

We currently have three sub-operations under the Indonesia Earthquake & Tsunamis page: Lombok, Central Sulawesi and Sunda Straits. It would make sense to find a way to classify

[2019-02-11 10:05] szabozoltan69 commented on #254
I implemented a WHO-reader, the RSS data generate Emergency ( = event) entities.
What shall I use as alert level? The most data in the RSS has "news" type. Can I label the "news" with green and the other with orange? (Or is "green" not enough severe?)

[2019-02-25 18:59] szabozoltan69 commented on #498
Now I added a "weight" field to the snippet table (in the API) – the front-end will soon follow this. Order by: weight (default 10), then id (if possible).

[2019-02-26 11:50] szabozoltan69 commented on #498
Done. Front-end change was not necessary. @ElsaRaunioIFRC Please test it.

[2019-02-26 11:50] #498 closed

[2019-03-05 11:00] mmusori opened #584 "Same figure pops up for Target People as for Affected people on the live GO."
## Issue

*Please describe your issue. If possible, include when you first encountered the issue, who it affects, a link to a relevant page, and any other information that might be helpful in diagnosing it's cause.*

## Steps to reproduce

*If you can reliably reproduce the issue, please list the steps taken to do so.*

## Expected behavior

*Please describe how this feature should be working.*

[2019-03-05 11:23] szabozoltan69 commented on #584
Please give an example.
On https://go.ifrc.org/emergencies/3465 we can see different figures for targeted (0) and affected (11791) people.

[2019-03-05 11:35] #557 closed

[2019-03-05 12:39] szabozoltan69 commented on #584
Recently it is in assets/scripts/components/homemap.js, (n(d.num_beneficiaries)} People Affected), but Mano refactored this file (for Go Phase III) so he will fix it.

[2019-03-05 12:53] mankamolnar commented on #584
@mmusori Hi! we have a bigger ongoing task on the map. As I would like to avoid merge conflicts, I would be happy if I could add this bug to that change. This means that probably it would be deployed to production (live) around March 18-19.  If it is something 'critical' that we should deploy earlier please contact me, I will try to find a solution.

The ongoing development goes on the 'feature/FR

[2019-03-05 13:56] mmusori commented on #584
@mankamolnar , I had a discussion with Zoltan while I was checking a few more entries. The Problem is not the data. The issue is the label on the tooltip of the map. So the tooltip should have the label  'People targeted '.  In Budapest we can discuss the idea of pulling in data from the python scripting script to populate the tooltip with people affected. For now BO does not have that value.  The

[2019-03-05 14:34] szabozoltan69 commented on #584
The Affected->Targeted label change is done in the mentioned tooltips (even on production).

[2019-03-05 14:34] #584 closed

[2019-03-13 09:40] ElsaRaunioIFRC opened #587 "Appeal documents not showing on emergency pages"
The appeal documents are not showing for recent emergencies.

For emergency appeals, we see the appeal documents for Bosnia and Herzegovina  Population Movement (created in Deb 2018) but not for the Philippines Measles Outbreak (created in Feb 2019)

With DREF operations, it looks like none of the operations launched after 18 September 2018. The last DREF operation with associated appeal documents

[2019-03-13 09:59] szabozoltan69 commented on #587
Please share the URL-s of the examples.

[2019-03-13 10:16] ElsaRaunioIFRC commented on #587
Bosnia and Herzegovina Population Movement:
https://go.ifrc.org/emergencies/3218#documents

Philippines Measles Outbreak:
https://go.ifrc.org/emergencies/3446

In the case of Philippines, there is no section for the appeal documents.

[2019-03-13 10:28] szabozoltan69 commented on #587
Yes, in case of 3218 (Bosn. H.) there are these appeals joined in
https://prddsgocdnapi.azureedge.net/admin/api/event/3218/change/ :
MDRBA011 - This has no documents
MDRBA010 - This has 2 DREF appeal documents
(Can be checked in https://prddsgocdnapi.azureedge.net/admin/api/appeal/?q=MDRBA01 )

In case of 3446 (Philip.) there are these appeals joined:
MDRPH032 - Has no appeal documents included
(A

[2019-03-13 10:34] szabozoltan69 commented on #587
This four documents is mentioned as "to be seen":
https://www.ifrc.org/docs/Appeals/19/IBPHms08022019.pdf
http://adore.ifrc.org/Download.aspx?FileId=228846
http://adore.ifrc.org/Download.aspx?FileId=232224
https://www.ifrc.org/docs/appeals/Active/MDRPH032.pdf

In which appeals are they? (This appeal should contain in "Event" field the referred "Philippines Measles Outbreak".)

[2019-03-15 09:16] ElsaRaunioIFRC commented on #587
Could there be a problem in the Adore end?

Until the problem is resolved, we will add the appeal documents manually, at least to the major disasters.

[2019-03-19 11:20] szabozoltan69 commented on #424
In emergency.js and field-report.js we should use dangerouslySetInnerHTML instead of plain text according to GO III Req21. (Instead of emergency.js the expandable.js was a fine approach, but in case of the "Show more" link I failed to use a simple "span" instead of React.Fragment.)
In expandable.js we could use an "if (text.length > limit)" condition for displaying (or not) the "Show more" link.

[2019-03-19 12:53] szabozoltan69 commented on #283
Dear @dereklieu, I would like to ask some help from you concerning to this change request.
How could we integrate into the Django database these appeals and emergencies got by the https://github.com/IFRCGo/data-analysis scripts? I attach the results.

[2019-03-19 12:54] szabozoltan69 commented on #283
[output_pdf_scrapers.zip](https://github.com/IFRCGo/go-frontend/files/2983362/output_pdf_scrapers.zip)
[output_precrisis_api_scrapers.zip](https://github.com/IFRCGo/go-frontend/files/2983363/output_precrisis_api_scrapers.zip)

[2019-03-20 11:17] ElsaRaunioIFRC commented on #556
@szabozoltan69 We have identified another issue under this topic. The currently recognised email domain of the Portuguese Red Cross is @cruzvermelha.pt. However, the actual email domain should be @cruzvermelha.org.pt.

Can I submit a pull request on this in the master file (linked above)?

[2019-03-20 11:28] szabozoltan69 commented on #556
I change  @cruzvermelha.pt to @cruzvermelha.org.pt in my next API merge, you do not have to create a pull request for this. Thanks for notification.

[2019-03-20 11:56] szabozoltan69 commented on #556
Done via https://github.com/IFRCGo/go-api/pull/359

[2019-03-22 10:28] ElsaRaunioIFRC opened #590 "Include country name in the field report alerts"
Currently, the Go alerts includes the title (or name) of the field report only, without the name of the country where the emergency has taken place.

Usually, the name of the country is mentioned in the title. However, as we can see from the screenshot below, this is not always the case.

![image](https://user-images.githubusercontent.com/31092591/54816703-3a17ff00-4c95-11e9-9620-6fd3e6fbb5c2.png)

[2019-03-22 10:34] szabozoltan69 commented on #590
Thanks for the feedback, this will be fixed soon.

[2019-03-26 12:31] ElsaRaunioIFRC commented on #556
@szabozoltan69: The Austrian RC has provided us with their district-specific email addresses. Currently, the system recognises @roteskreuz.at as the only official RC email. However, the majority of the staff are using district-specific email addresses (see the list below). Would it be possible to add these in the recognised email domains?

Steiermark (Styria):

[2019-03-26 13:07] szabozoltan69 commented on #556
@ElsaRaunioIFRC I've put these domains to the trusted domain list (on production site).

[2019-03-26 16:48] dereklieu commented on #587
@ElsaRaunioIFRC @szabozoltan69 this is the data source that Go uses for appeal docs:

https://proxy.hxlstandard.org/data.json?url=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1gJ4N_PYBqtwVuJ10d8zXWxQle_i84vDx5dHNBomYWdU%2Fedit%3Fusp%3Dsharing

It runs off of this google doc:

https://docs.google.com/spreadsheets/d/1gJ4N_PYBqtwVuJ10d8zXWxQle_i84vDx5dHNBomYWdU/edit#gid=0

The Philippines polio

[2019-03-26 17:19] #590 closed

[2019-04-10 08:45] SimonbJohnson commented on #587
I believe you now have the script that was scraping the appeals document.  I think the error is occurring as the script is using is grabbing the current appeals from this list:
https://docs.google.com/spreadsheets/d/19pBx2NpbgcLFeWoJGdCqECT2kw9O9_WmcZ3O41Sj4hU/edit#gid=0

which is no longer maintained after the switch to the permanent Go. Therefore it would update some on-going appeals, but not ne

[2019-04-10 08:52] ElsaRaunioIFRC commented on #164
@szabozoltan69 I am reopening this issue due to the increase of problems related to registering non-IFRC email addresses.

I have been trying to register with two non-IFRC emails: elsa.raunio@gmail.com and eraunio@live.com. In both occassions, I provided myself (elsa.raunio@ifrc.org) and Munu (mununuri.musori@ifrc.org) as references. However, in both cases, I received the validation email myself w

[2019-04-10 09:17] szabozoltan69 commented on #164
@ElsaRaunioIFRC I can confirm that your registration happened as you wrote,
[code]
In the automated tests there are steps where we simulate such registration, but the email sending is also just a simulation, so in production it can happen something non-wanted. I shall check it...

[2019-04-10 09:19] szabozoltan69 commented on #164
Maybe there is a (non-wanted) swap in the program for admin1/2 validation? Because in the above data it seems to be as if Munu had validated it ("t" as "true"), and Elsa had not ("f" as "false"). Hmmm...

[2019-04-10 09:24] szabozoltan69 commented on #587
Thanks Simon. Which I do not really understand that in the second URL there is also the string 19pBx2NpbgcLFeWoJGdCqECT2kw9O9_WmcZ3O41Sj4hU ad the end which is the URL of the non-wanted (not maintained) spreadsheet. Are you sure that this long URL is the correct one?

[2019-04-10 09:29] SimonbJohnson commented on #587
Apologies my poor communication.  The second URL is the old call that needs to replaced with a call to the Go API to get the up to date list of current appeals.

[2019-04-10 09:41] szabozoltan69 commented on #587
So could you please give the to-be URL, which I should insert into https://github.com/IFRCGo/go-api/blob/master/api/management/commands/ingest_appeal_docs.py ?
Otherwise the Google Spreadsheet filler script's question will not be solved this way – I mean: it's not a futureproof implementation to have a permanently running script which is not in GO area.

[2019-04-10 20:04] dereklieu commented on #587
@SimonbJohnson @szabozoltan69 I think I understand the miscommunication. Here is what has always happened with appeal docs:

Go [scrapes](https://github.com/IFRCGo/go-api/blob/master/api/management/commands/ingest_appeal_docs.py) the [Google Sheet](https://docs.google.com/spreadsheets/d/19pBx2NpbgcLFeWoJGdCqECT2kw9O9_WmcZ3O41Sj4hU/edit#gid=0) and saves that to it's database, which is then availabl

[2019-04-11 08:20] SimonbJohnson commented on #587
I believe there might be a third/fourth option.

The workflow is currently:
unmaintained spreadsheet of appeals -> scraper -> spreadsheet of docs -> Go

It could be quickly replaced with:
Go API of appeals -> scraper -> spreadsheet of docs -> Go

With an end target of:
Go API of appeals -> scraper -> Go

Does that makes sense?

[2019-04-11 09:00] szabozoltan69 commented on #587
@dereklieu @SimonbJohnson Does http://go-api.ifrc.org/api/appeals give appeal-doc information also? (My understanding was that it gives only appeal information, nothing about the docs.) Or is there other API that can be used to get appeal docs?

[2019-04-11 09:27] SimonbJohnson commented on #587
I far as I know there is no API for the appeal docs and the scraper has to be used. I'm not 100% sure on this though.

[2019-04-11 14:10] dereklieu commented on #587
@SimonbJohnson your short-term recommendation is already what Go is doing. The problem is that both the spreadsheet of appeals and the spreadsheet of docs are unmaintained.

Apologies, I haven't been as clear as I could have been earlier as I had not realized we were even talking about the spreadsheet of appeals. From the time I started working on it, Go has been using http://go-api.ifrc.org/api/a

[2019-04-11 14:18] szabozoltan69 commented on #587
There is one step forward: according to Simon there is a script on s.ifrcgo.org, https://pastebin.com/ieMe9yPc - this processes www.ifrc.org/en/publications-and-reports/appeals and writes into the above  spreadsheet. It should be revised (or/and put to go.ifrc.org domain).

[2019-04-11 14:28] SimonbJohnson commented on #587
@dereklieu - I think there is some confusion.  The docs spreadsheet is still being updated, but there is an incorrect input from unmaintained appeals spreadsheet here (this is where the file scraper queries current appeals):
https://docs.google.com/spreadsheets/d/1gJ4N_PYBqtwVuJ10d8zXWxQle_i84vDx5dHNBomYWdU/edit#gid=0

Updating the file scraper to point at the Go API rather than the above spreadsh

[2019-04-11 14:32] szabozoltan69 commented on #587
I think that this is the clue:
_...this is where the file scraper queries current appeals: ... Spreadsheet..._
By my opinion file_scraper queries appeals (and docs?) from here: http://www.ifrc.org/en/publications-and-reports/appeals - it's on line #29.

[2019-04-11 14:39] dereklieu commented on #587
@SimonbJohnson @szabozoltan69 I am confused. I haven't interacted with this separate file scraper before. Apologies for my rantings. I likely won't be of any help debugging it, however I believe migrating it's functionality to Go would be beneficial, just to keep these things in one place.

[2019-04-11 14:41] SimonbJohnson commented on #587
Line 21 - Is what needs to be replaced (point to old spreadsheet) This grabs the list of current appeals as a list of list from the unmaintained spreadsheet as below.

https://proxy.hxlstandard.org/data.json?strip-headers=on&filter03=merge&merge-url03=https%3A//docs.google.com/spreadsheets/d/1rVAE8b3uC_XIqU-eapUGLU7orIzYSUmvlPm9tI0bCbU/edit%23gid%3D0&clean-date-tags01=%23date&filter02=select&merge

[2019-04-11 14:47] szabozoltan69 commented on #587
@SimonbJohnson @dereklieu
I agree that migrating file_scraper's functionality to Go would be beneficial, just to keep these things in one place.
On the other hand I don't like the word: 'unmaintained' spreadsheet. It is not unmaintained, in the sense that there are 2019 April records in it, inserted by the file_scraper. So it is heavily used (also by [ingest_appeal_docs](https://github.com/IFRCGo/

[2019-04-11 14:49] szabozoltan69 commented on #587
(So – simply migrating the file_scraper will not solve our problem.)

[2019-04-11 14:51] SimonbJohnson commented on #587
The unmaintained spreadsheet is the appeals list.  Hasn't mean updated since migrating to Go in September 2018 (previously there was no api available)
https://docs.google.com/spreadsheets/d/19pBx2NpbgcLFeWoJGdCqECT2kw9O9_WmcZ3O41Sj4hU/edit#gid=0

So the appeals do spreadsheet will update for ongoing appeals that started before September 2018, but not for appeals that started after.

[2019-04-11 14:52] szabozoltan69 commented on #587
Appeals are not in scope now (we have fresh script-system to process them). The focus is on appeal-docs.

@SimonbJohnson – do you have the control (on s.ifrcgo.org) the script file_scraper.py? Could you please share with me the crontab details concerning it (maybe in private)? And could you stop running when we decide it?

[2019-04-11 14:59] SimonbJohnson commented on #587
Yes, agree not in scope, but the file_scraper is still pointing at the unmaintained appeals doc rather than the Go API on line 21 which causes the problem. The minimum that needs to be updated is line 21, but better to consolidate into 1 script rather than 2 scripts plus google spreadsheet.

The script is run by a bash script in the daily cron folder.  Happy to stop it anytime.

[2019-04-11 15:01] szabozoltan69 commented on #587
Go API does not contain information about appeal_docs, unfortunately.

[2019-04-11 15:10] SimonbJohnson commented on #587
I think there is still confusion about the process.

The file_scraper still reads the file from the page ( http://www.ifrc.org/en/publications-and-reports/appeals) correctly as far as I can tell (it ran with no errors at least).

The process has broken down as the input to the file_scraper is incorrect (the list of current appeals).  Everyday it gets passed a list from the old spreadsheet (https:/

[2019-04-11 15:29] szabozoltan69 commented on #587
Please forget referring to appeals. We need to fix ingesting appeal_docs only. I don't care about appeals, they work fine.

[2019-04-11 15:42] dereklieu commented on #587
@SimonbJohnson I think I understand now what the issue is, but perhaps we should set up a call to get on the same page. @szabozoltan69 @SimonbJohnson I think it'll be quick ~10 minutes or less, maybe 11AM ET tomorrow?

[2019-04-11 15:46] SimonbJohnson commented on #587
Yes that works for me.

[2019-04-12 10:36] szabozoltan69 commented on #164
I found the clue to the swapping:
[code]
The index is 0,1 – but the postfix is 1,2. So when we are at idx=1 this is not token_1.

[2019-04-12 13:25] dereklieu commented on #164
@ElsaRaunioIFRC is this a problem only when @mmusori is set as admin, or is it more prevalent? If you set two other people as admin, do they receive the emails? Has he checked his spam folder?

[2019-04-12 13:42] ElsaRaunioIFRC commented on #164
@dereklieu Yes, @mmusori found the email in his spam folder.

[2019-04-12 17:51] dereklieu commented on #587
Recap of our conversation:

1. The appeal docs scraper depends on having an up-to-date list of appeal IDs. It uses this as parameters to scrape appeal docs.
1. The appeal docs scraper gets information about appeals from one of the Google Sheets mentioned here, but that sheet is no longer maintained.
1. Hence, the scraper is also not adding any new docs to the other Google Sheet.
1. Short term, we

[2019-04-13 10:10] szabozoltan69 commented on #587
I've executed point 4., updating manually the [Spreadsheet](https://docs.google.com/spreadsheets/d/1gJ4N_PYBqtwVuJ10d8zXWxQle_i84vDx5dHNBomYWdU) with 130 new rows (below 1808).
My method was:
 - getting all Appeal codes from production database (which is uploaded via http://go-api.ifrc.org/api/appeals)
 - wgetting the last 10 pages of https://www.ifrc.org/en/publications-and-reports/appeals
 - sea

[2019-04-15 10:17] szabozoltan69 commented on #164
Swapping fixed via https://github.com/IFRCGo/go-api/pull/375,
https://github.com/IFRCGo/go-api/blob/master/registrations/views.py#L322

[2019-04-15 10:17] #164 closed

[2019-04-16 14:04] szabozoltan69 commented on #206
Done. Check https://dsgocdnapi.azureedge.net/admin/api/situationreport/100 as a proof.

[2019-04-16 14:04] #206 closed

[2019-04-25 07:15] ElsaRaunioIFRC commented on #556
@szabozoltan69 Would it be possible to add @trcs.or.tz into the trusted domains? This is the email domain for the Tanzanian Red Cross Society.

[2019-04-25 07:38] szabozoltan69 commented on #556
Done via https://github.com/IFRCGo/go-api/pull/391

[2019-05-01 12:03] ElsaRaunioIFRC opened #614 "Derive country labels from the operations dataset"
Currently, the country labels are embedded to the basemap and rendered in a random order. This is confusing for the users as the countries with operations are not necessarily labeled.

Would it be possible to derive the labels from the same operations dataset from where the coloured dots are currently derived? If possible, the label placement should be adjusted so that they don't overpopulated som

[2019-05-14 09:40] mmusori opened #616 "ERUs on the deployment page not shoulding on the cards on the homepage case in point Mozambique"
## Issue

It seems not all ERUs are counted in the emergency cards on the GO front page. For example, Mozambique shows 5, bt when you enter the emergency page, 8 are listed in the bottom under ERUs.  But the issue is that the table in the deployments pages only display 5 emergencies. When you expand the table to show all deployments the cards get up dated.
homepage : https://go.ifrc.org/
Deploymen

[2019-05-14 10:03] szabozoltan69 commented on #616
Good remark, Munu!

Yes, but after a second refresh – again the old value (5) appears.

(By which account the slack movie can be seen?)

[2019-05-14 10:22] szabozoltan69 commented on #616
It can be the root:

[2019-05-15 10:37] szabozoltan69 commented on #616
Fixed in both environments.

[2019-05-15 10:37] #616 closed

[2019-05-15 14:58] mmusori opened #618 "Updated Field Report not updating the emergency page."
## Issue

 Bosnia and Herzegovina submitted a field report for the floods. The field report was updated it with some more details and figures but the changes do not appear in the emergency page.

## Steps to reproduce

Field Report: https://go.ifrc.org/reports/11795
Emergency page: https://go.ifrc.org/emergencies/3548

## Expected behavior

The number of missing people in the field report should b

[2019-05-15 15:12] szabozoltan69 commented on #618
This behaviour is really strange (and can be some frontend issue) because on the backend it is updated, .../admin/api/event/3548/change/ - num_missing = 1.
![missing1](https://user-images.githubusercontent.com/6050643/57786857-8f700a00-7734-11e9-9b54-c1b8e4ddbfbd.png)

[2019-05-15 15:23] szabozoltan69 commented on #618
The frontend gets emergency's num_missing data (and others) from the latest field report.
In the latest field report num_missing is empty.
Only gov_num_missing is filled out ( = 1).

[2019-05-15 15:27] szabozoltan69 commented on #618
@mankamolnar Please correct the emergency.js:
Missingg<span className='content-highlight'>{n(get(report, 'num_missing'))}</span>
To add num_missing + gov_num_missing into this field.

[2019-05-16 11:36] mankamolnar commented on #618
fixed & deployed

[2019-05-16 11:36] #618 closed

[2019-05-20 11:48] ElsaRaunioIFRC opened #619 "Convert country names in the GDACS feed to match with the IFRC standards"
The GDACS feed has a slightly different set of countries than the existing GO dataset. For example, we currently have an emergency in Aruba. However, as our existing dataset does not include a country called "Aruba", this emergency appears in the 0.0 point (0°N 0°E) on the map (see the picture below).

In the IFRC standards, Aruba is considered as part of Netherlands. Thus, for any disaster happen

[2019-05-20 17:50] szabozoltan69 commented on #619
Hi Elsa, Mark and me has read your request, and we shall write if we have a proposal.
Due to the short deadline until the June Sprint, it is not sure that we can schedule it before this event.

[2019-05-22 08:32] ElsaRaunioIFRC commented on #587
@szabozoltan69 I'm raising this issue again as I see that the appeal documents have not appeared on the latest emergency pages, e.g. [Paraguay Floods ](https://go.ifrc.org/emergencies/3546) and [Cameroon Population Movement.](https://go.ifrc.org/emergencies/3439). Is there a problem with the above method?

[2019-05-22 09:11] szabozoltan69 commented on #587
@ElsaRaunioIFRC My last solution (Apr 13) was a (one-time) sort term solution, manually collecting the information from https://www.ifrc.org/en/publications-and-reports/appeals and putting it to the table.
The long term solution was planned to be done by Derek, who left the Developmentseed last Friday. His colleague, Sanjay began to work with this.
So, long story short: recently there is a problem

[2019-05-22 09:13] szabozoltan69 commented on #587
I can give a next (one-time) manual collecting solution, which will be ready in an hour, but this method is not really future-proof. Hopefully Sanjay will find a nicer solution in a few weeks.

[2019-05-22 09:37] szabozoltan69 commented on #587
The manual correction is done, I've put in these documents:
Bangladesh - displacement due to embankment collap (MDRBD021)
Bolivia - Floods (MDRBO012)
Bosnia and Herzegovina - Population Movement (MDRBA011)
Cameroon - Population Movement (MDRCM027)
Comoros - Tropical Cyclone Kenneth (MDRKM007)
DPR Korea - Drought & Food Insecurity (MDRKP013)
Ethiopia - Population Movement (MDRET020)
Haiti - Earthqu

[2019-05-22 11:03] batpad commented on #587
I have made some progress to modify the `ingest_appeal_docs.py` script in the GO-API to:

 - Read all Appeal codes from the database
 - Adapt code from https://pastebin.com/ieMe9yPc to scrape the IFRC website for documents for each appeal code
 - For all Documents that don't exist already, add them to the database.

This should make the `ingest_appeal_docs.py` script self contained and sustaining

[2019-05-22 11:47] batpad commented on #587
So this PR should remove the need for the manual update of Documents as well as the Google Documents that were being updated by different scripts: https://github.com/IFRCGo/go-api/pull/397

I have removed the dependencies on any Google Docs - now the `ingest_appeal_docs` script just gets the Appeal Codes from the database, and calls `http://www.ifrc.org/en/publications-and-reports/appeals/` itself

[2019-05-24 13:45] szabozoltan69 commented on #587
Thanks to @batpad Sanjay the task is done and works fine on production also.

[2019-05-24 13:45] #587 closed

[2019-05-28 07:51] ElsaRaunioIFRC opened #623 "Response documents not uploading to Mozambique Cyclone Idai page"
Any attempt to upload situation reports on the Mozambique Cyclone Idai page results in Bad Request (400).

We have not got results of a similar error happening on other emergency pages.

[2019-05-28 07:54] szabozoltan69 commented on #623
Did it happen on admin page or via the frontend?

[2019-05-28 08:04] ElsaRaunioIFRC commented on #623
The problem is happening when uploading the document on the emergency admin page.

On the other hand, I was able to upload [the document](http://prddsgofilestorage.blob.core.windows.net/api/sitreps/3469/MobTableReports_23.05.2019_Updates_6_v2_1.pdf) through the[ Situation Reports ](https://prddsgocdnapi.azureedge.net/admin/api/situationreport/) page. The problem is that most GO admin users are una

[2019-05-28 08:10] szabozoltan69 commented on #623
The multiple file upload was intended through this workaround (situation reports afterwards from Situation Reports page). But it's true that the classic upload possibility should work via emergency page. I'll check it.

[2019-05-28 09:04] szabozoltan69 commented on #623
Oh, I see.
There are "too many" documents there, with the eye of the webserver:
**The number of GET/POST parameters exceeded settings.DATA_UPLOAD_MAX_NUMBER_FIELDS.**
So it should be increased somehow.
That is why this error does not appear in other emergencies, because so much documents are not present elsewhere.

[2019-05-28 09:09] szabozoltan69 commented on #623
Well, recently it's 1000. Do we really want to increase it?

global_settings.py:DATA_UPLOAD_MAX_NUMBER_FIELDS = 1000

Or we could say that it's a reasonable limit – in case of Mozambique Cyclone (or other similar crowded cases) only "experts" should increase the quantity of data, who know the sit.rep workaround?

[2019-05-28 09:37] szabozoltan69 commented on #623
I increased it to 2000, so the upload is successful.
(Afterwards I removed the surplus document.)
![2000](https://user-images.githubusercontent.com/6050643/58467983-f631f200-813c-11e9-8fc0-b104b0ff0b3f.png)

[2019-05-28 09:37] #623 closed

[2019-05-28 09:38] ElsaRaunioIFRC commented on #623
Thank you @szabozoltan69 for the effort.

[2019-06-26 10:36] batpad opened #640 "3w: Form to capture project details"
We need to implement a form on the frontend for users to enter details of Projects, that will be aggregated on the Who-What-Where frontend on the Country page.

The design for the form is here: https://projects.invisionapp.com/share/P9SA110GT4S#/screens/369905382

Backend tickets to implement [models](https://github.com/IFRCGo/go-api/issues/443) and [API](https://github.com/IFRCGo/go-api/issues/44

[2019-06-26 10:55] batpad opened #641 "3w: Frontend to display projects"
Relates to #640

Design: see https://projects.invisionapp.com/share/P9SA110GT4S#/screens/356658484 in the `Movement Activities in support of NS` section.

There will be a map highlighting all the `admin1` areas in the country, allow the user to filter projects by various criteria, and clicking on an `admin1` on the map will show some data about Projects in that District:

 - No of Programmes / Pro

[2019-06-26 11:04] batpad opened #642 "Map Export: Ability to add Districts to Field Reports"
To be able to visualize a map of an `Emergency`, as well as make it exportable, we need to know the `admin1` areas that an Emergency pertains to.

For this, we will need to gather this data from the user when they are submitting Field Reports.

There is a ticket to add this functionality on the backend here: https://github.com/IFRCGo/go-api/issues/437

On the frontend, we will need to allow the us

[2019-06-26 11:07] batpad opened #643 "Map Export: Create exportable map on Emergency page"
On the Emergency page, we need to show all the Districts (admin1s) that are part of this Emergency on a map, and also make it possible to export this map along-with associated design as an image.

Backend ticket: https://github.com/IFRCGo/go-api/issues/437

Question: @ElsaRaunioIFRC do we have this layout as part of the designs on Invision?

[2019-06-26 11:10] batpad opened #644 "Data Bank: Implement frontend for Country Data Bank"
We need to implement all the frontend charts and data visualizations for the country data that will be imported via the `data-analysis` scripts. Backend ticket: https://github.com/IFRCGo/go-api/issues/434

This will be the various country indicators under Country -> Overview - https://projects.invisionapp.com/share/P9SA110GT4S#/screens/356658486

@guipizzini will help us to map the various charts

[2019-06-27 20:53] danbjoseph opened #645 "search for user in admin token interface"
on
Home › Auth Token › Tokens
there are 16 pages of entries so there is no easy way to find a particular user to retrieve or delete their token

i think it would be useful if there was a way to search for a particular username

[2019-06-28 06:54] szabozoltan69 commented on #645
Good idea. Will be fixed soon.
(Otherwise it's a backed issue, not frontend)

[2019-06-28 09:27] szabozoltan69 commented on #645
@batpad I have a question for this ticket.
I could solve it in the local development environment via fixing
/usr/local/lib/python*/site-packages/rest_framework/authtoken/admin.py
 simply by inserting a
`search_fields = ('user__username', 'user__email',)` row.
But it is not nice and can not be "conserved" – we would need a solution which overrides the system site-package files. Any ideas?

[2019-06-28 09:53] szabozoltan69 commented on #645
Solved via:
[code]

[2019-06-28 16:10] szabozoltan69 commented on #645
Solved via https://github.com/IFRCGo/go-api/pull/453

[2019-06-28 16:10] #645 closed

[2019-06-28 17:10] danbjoseph commented on #645
thank you!

[2019-07-01 07:02] batpad opened #649 "Translations: Implement UI translation framework"
We want to make the website multilingual / translated into multiple languages: Spanish, French and Arabic.

Broadly, there are two ways to do this:

1. Send the contents of the entire page to an external translation service, and get back and display the whole page translated. This is roughly how a Google Translate widget in the browser works. The pro of this approach is that it is very easy to set

[2019-07-01 11:58] batpad opened #653 "Translations: Ensure UI supports right-to-left languages"
Following on from #649 - we want the user to be able to select Arabic as a language option. We need to ensure that this works with the existing layouts. There will also possibly be cases where we don't have all strings translated and will be displaying a mix of Arabic and English on the page.

I'm not sure what the best CSS approach is to ensure that the layout works when displaying `rtl` language

[2019-07-01 13:35] teklal opened #654 ""Storm Surge" disaster type not showing on GO frontpage"
In the admin page we have chosen "storm surge" as the disaster type but it shows as "other" on the GO front page.

For the following emergency
https://go.ifrc.org/emergencies/3664

[2019-07-01 13:36] LanesGood commented on #653
@batpad I've not used them before but there are some converters that can do some of the conversion work for us. Adjusting text-alignment and the box model directions for layout is the most obvious fix; margins, padding and positioning. Other areas to note directionality are icons, button placement, forms and media objects. If the converters below don't work in this app, another approach would be t

[2019-07-01 14:24] szabozoltan69 commented on #654
It's true, that there can be a gap between admin and frontend.
Admin page has a (48-element) database-sourced list, while the frontend has a (12-element) wired-in list (maybe with the less frequents are in the "other" category).
This is the admin database content:
[code]

[2019-07-01 14:54] batpad commented on #654
Yes, this list seems to be hard-coded on the frontend here: https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/utils/field-report-constants.js#L296

What is a bit strange is that `Storm Surge` is in that list, so it should show up.

I think what we should do here:

Short-term: Export the list of disaster types from the back-end with correct ids and names, check if there are disc

[2019-07-01 15:03] szabozoltan69 commented on #654
@batpad Here is the id-s and disaster types (not 48, only 24):
[code]

[2019-07-01 15:23] szabozoltan69 commented on #654
For the longer-term solution: I think we could give a limit (or 0), if no disaster in that category, than frontend should not show it. Maybe this way the "crowded" frontend can be avoided.

[2019-07-01 16:56] batpad commented on #654
@szabozoltan69 I don't have access to the production admin, but can you check something:

So, on the list on the front-page in the list it actually shows Appeals and not Emergencies (Appeals are linked to Emergencies). And the Appeal can have a different Disaster Type to the Emergency. Can you check if the Appeal associated with this Emergency has the correct Disaster Type, i.e. Storm Surge?

As a

[2019-07-02 06:20] batpad commented on #654
@teklal The reason for `Other` showing up as the Disaster Type in the frontend is that the Appeal "Gambia - Windstorm  Surge" has the Disaster Type set to Other: https://prddsgocdnapi.azureedge.net/admin/api/appeal/3190/change/ - if you change the Disaster Type there to `Storm Surge`, it should show up correctly.

[2019-07-02 07:29] teklal commented on #654
@batpad @szabozoltan69  Thanks for exploring and getting to the root of the issue. It shows up correctly now.

[2019-07-02 08:33] #654 closed

[2019-07-03 06:05] batpad commented on #642
Looking at this closer:

Currently, in the database, both Emergencies (=Events) and FieldReports can be associated with multiple countries and multiple districts. The current Field Report form allows a user to associate multiple countries with a FieldReport, but there is no UI to associate Districts.

From speaking with @ElsaRaunioIFRC, we do not ever want to associate an `Emergency` or `FieldRepo

[2019-07-11 11:52] ElsaRaunioIFRC opened #664 "Operations with partially entered data not showing on GO"
Currently, we have two operations where the data has not been correctly entered on GO:

- MDRTJ028
- MDRUG042

![image](https://user-images.githubusercontent.com/31092591/61048725-f4697880-a3e2-11e9-8fb5-35c6228b48cb.png)

As some of the data is missing, it looks like the operations are completely missing from the GO platform. I have already informed the our Finance colleagues on the issue.

Meanw

[2019-07-11 12:57] ElsaRaunioIFRC commented on #664
Update: our finance colleague has just fixed the problem by entering the missing info on Apple. However, we may still want to consider if we would like to pull also those operations with missing info on the GO platform.

[2019-07-15 10:56] batpad commented on #664
@szabozoltan69 tagging you here, let me know if this is something you want to discuss.

[2019-07-15 11:07] batpad opened #669 "Field Report Form Redesign + Restructuring"
There are several changes to the Field Report form as per the wireframes: https://projects.invisionapp.com/share/P9SA110GT4S#/screens/358148798

The changes can roughly be broken down into:

 - Visual / stylistic changes: how field labels, help texts display, etc.
 - Re-organizing the "Steps" of the form: the 5 steps are now 4 and the grouping of fields in the different steps has changed significa

[2019-07-15 11:20] ElsaRaunioIFRC commented on #664
@batpad @szabozoltan69 I talked about this issue with our finance colleagues and we all agreed that it is a very, very rare occurrence that any data is missing from Apple. Hence, we can consider ignoring this problem, at least if it turns out to be very difficult to fix.

[2019-07-15 11:28] batpad commented on #664
👍 Closing this issue for now. Please feel to re-open if you think it is important to keep it on the roadmap. Thank you!

[2019-07-15 11:28] #664 closed

[2019-07-16 12:19] batpad commented on #669
The new designs breaks up the Field Report submission process into 4 steps. Below is a break-down of all the fields in each step, where they are moving from, and what changed functionality exists for each:

### Step 1: Context

 - `Status`: Moves to top of step 1, no change in functionality.
 - `Title`: Renames `Summary` field to `Title`, groups together along-with Link to Emergency field. New fun

[2019-07-21 10:15] batpad commented on #642
This is done and merged to develop. Closing.

[2019-07-21 10:15] #642 closed

[2019-07-21 10:28] batpad commented on #643
This work in progress is in this branch: https://github.com/IFRCGo/go-frontend/tree/feature/emergency-map

Currently:

 - Shows a mapbox-gl map on the Emergency page
 - Zooms into country that is selected
 - Highlights admin1s that have been selected for that emergency
 - Has a Map Export button, and clicking on it gives you a PNG of just the map.

TODO:

 - Work on the map styles (we may need a s

[2019-07-21 10:52] batpad opened #687 "Make page anchors on various pages behave like tabs"
As per the new designs, we want the various places on the site where we have "Sections" that are navigated between using page anchors to switch to using Tabs, both in design and functionality.

Also, for the tabs that would contain functionality / data that is not ready yet, we want to have some simple Coming Soon / Under Construction UI to display.

Ideally, the existing anchor links on pages wou

[2019-07-24 08:53] #643 closed

[2019-07-25 09:45] batpad opened #718 "Show country stats on Emergency page if Emergency stats are disabled"
For an Emergency like: https://go.ifrc.org/emergencies/3469

The stats on the right are disabled and this shows an empty box.

In these cases, we should fill it with the Country information for that National Society - i.e. data on the right side of the top box here: https://go.ifrc.org/countries/120

cc @mmusori @LukeCaley @guipizzini

[2019-07-25 11:00] batpad opened #719 "Changes on Map Export page"
- [x] Add dashed line for `Defined Boundaries` to Key
 - [x] Change the filename convention for the downloaded file to `YYYYMMDD_CountryName_DisasterType.png`
 - [x] add `Mapbox` to sources in text under map

cc @geohacker

[2019-07-25 12:27] batpad opened #722 "Changes to Field Report"
Tracking minor changes to Field Report as reported by @mmusori (only the ones scheduled for this phase):

Situation

· [x] Remove Add other source?

· [x] Text for missing should not include presumed dead.

· [x] Dead should not include missing.

Actions

· [x] Use text from invisio for number of NS staff.

· [x] Use text from invisio for Relief distribution, Restoring family links (RFL)

· [x] Us

[2019-07-26 08:54] batpad opened #728 "First Name does not update when saving Profile"
Steps to Reproduce:

 - Account - Edit Profile - Edit First Name and Save.

Expected:

 - First Name gets updated

Actual:

 - First name does not get updated

cc @szabozoltan69

[2019-07-26 09:30] szabozoltan69 commented on #728
Checking...

[2019-07-26 10:15] batpad commented on #687
Some examples on the staging site of pages which have anchors to different sections that should behave like tabs:

https://dsgoproxyapp.azurewebsites.net/countries/18 - Country Page
https://dsgoproxyapp.azurewebsites.net/regions/0 - Region Page
https://dsgoproxyapp.azurewebsites.net/emergencies/3666 - Emergency Page

It is a good idea to test these pages both logged in on the website and logged ou

[2019-07-26 11:08] #719 closed

[2019-07-26 13:26] szabozoltan69 commented on #728
Oh, I've found the quilty:

-    this.props._updateProfile(id, this.serializeProfile(profileAttributes.slice(**2**, profileAttributes.length)));
+    this.props._updateProfile(id, this.serializeProfile(profileAttributes.slice(1, profileAttributes.length)));

[2019-07-26 13:29] szabozoltan69 commented on #728
https://github.com/IFRCGo/go-frontend/pull/730 solved it.

[2019-07-26 13:29] #728 closed

[2019-07-26 18:02] batpad opened #731 "Grey border on search field after you go to PER form"
### Steps to reproduce:

Go to Accounts -> New PER Forms -> click on for eg. Area 1: Policy and Standards
You will get to a page with the PER form.
Now observe the header.

### Expected behaviour:

The normal header of the site

### Actual behaviour:

The header gets a bit strange: spacing goes off and there's now a grey border around the search box. Something about that form page breaks the heade

[2019-07-27 06:55] #731 closed

[2019-07-31 12:39] ElsaRaunioIFRC commented on #641
As my last assignment with the IFRC, I have [created the style for the 3W maps](mapbox://styles/go-ifrc/cjyo249oy42oh1cphwvxyb0z5), following the example set by the YU.

As with the Map Export tool, feel free to take over the style in order to make it compatible with the overall 3W tool.

Since I don't have many hours left with the IFRC, I'm handing over the map-related tasks to @LukeCaley.

[2019-07-31 12:41] ElsaRaunioIFRC commented on #641
Here is the style for the 3W maps on MapBox, created according to the recommendations of the YU:
https://api.mapbox.com/styles/v1/go-ifrc/cjyo249oy42oh1cphwvxyb0z5.html?fresh=true&title=true&access_token=pk.eyJ1IjoiZ28taWZyYyIsImEiOiJjamlybHUzNmMwZDUxM3Fwa215YjJ1dzk5In0.OhqEybDX303sHjHzq3nFYQ#1.9/14.694911/14.129731/0

As with the Map Export tool, I give you the free hands to modify the styles so

[2019-07-31 12:49] szabozoltan69 commented on #641
Nice, thanks Elsa!

[2019-08-01 08:38] geohacker opened #740 "Change base map style"
Capturing request from Luke via email to change all the Go base map [to this one](https://api.mapbox.com/styles/v1/go-ifrc/cjy5ugr3y11nj1cpjmrqd48u2.html?fresh=true&title=true&access_token=pk.eyJ1IjoiZ28taWZyYyIsImEiOiJjamlybHUzNmMwZDUxM3Fwa215YjJ1dzk5In0.OhqEybDX303sHjHzq3nFYQ#1.9/14.69/14.13)

[2019-08-02 06:21] #740 closed

[2019-08-21 09:28] batpad commented on #722
This is done.

[2019-08-21 09:28] #722 closed

[2019-08-21 09:28] batpad commented on #687
This is done! Thanks @necoline @danielfdsilva .

[2019-08-21 09:28] #687 closed

[2019-08-21 09:29] batpad commented on #669
This is mostly all done. The remaining Field Report feature is the conditional fields and text based on the Status. Will ticket that separately, closing here.

[2019-08-21 09:29] #669 closed

[2019-08-21 09:39] batpad opened #763 "UI: Update map design: Layout, popups, etc."
Update the design of the maps to closer match the new designs:

 - Move filters to the top right + match design
 - Popup styling to match the new designs
 - Styling of Expand Map / Fullscreen button

Will create separate tickets for:

 - Fixing the map + page styling on the fullscreen view
 - Implementing the new date-range filter

[2019-08-21 09:43] batpad opened #764 "Implement date-range filter for map + All Operations"
Implement filters as per new design on the home-page map as well as the All Operations view.

This requires a few things:

 - Layout changes on the home-page to have the table of Operations directly below the map. Then, the filters above the map should apply to both the items on the map as well as the list of Operations below.
 - Add the same filter to the All Operations page
 - Add the functional

[2019-08-21 09:46] batpad opened #765 "Fix styling of elements in full-screen view"
This may need a little more clarity on exactly what all we want to see in the full-screen views (cc @LukeCaley ) - but also right now, things look a little broken in the full-screen.

To start, make the full-screen match the design in invision and neaten it up: https://projects.invisionapp.com/share/P9SA110GT4S#/screens/359410012

[2019-08-21 09:49] batpad opened #766 "Increase max-width of tab content"
Right now, the tab content fits within these shadowed boxes, and takes up limited width. We can probably remove the boxes, and let content flow a bit wider. This is especially constricting on the maps that are within the tab content.

[2019-08-21 09:58] batpad opened #767 "Map export browser compatibility"
The current Map Export functionality works only in Google Chrome.

This seems to be because the `html2canvas` library no longer supports newer versions of Firefox.

This maybe a rabbit hole to fix, but at the very least we should:

 - Make sure our version of html2canvas and other libraries is up-to-date.
 - Create a minimal example that highlights the issue and create an issue on the `html2canvas

[2019-08-21 10:01] batpad opened #768 "Change text on Emergency Page Map Export"
@LukeCaley do we still need to update the text with credits under the map. If yes, can you tell me exactly what it needs to be updated to and then this is a quick fix.

[2019-08-21 10:03] batpad opened #769 "Update headers and titles as per wireframes"
Check all headers / titles and match them to wireframes.

[2019-08-21 10:04] batpad opened #770 "Implement Breadcrumbs"
Implement navigation breadcrumbs as per the design.

Example Breadcrumbs in design: https://projects.invisionapp.com/share/P9SA110GT4S#/screens/356658484 - we need a "breadcrumb" at the top of the page for a country page, for eg like `Home > Asia Pacific > Philipines`. Similarly, for other pages, indicating where the user is, as per the design.

One thing to note, the breadcrumbs for a page will a

[2019-08-21 10:08] batpad opened #771 "Update graphs on Region pages"
This might need a bit more clarity. But noting the issue from feedback.

[2019-08-21 12:27] teklal opened #772 "GO browser compatibility"
At the moment GO does not render at all on Internet Explorer. This needs to be fixed urgently.

We need to make sure that GO functionalities work across different browsers.

Related to issue #767

@batpad @szabozoltan69

[2019-08-21 13:01] szabozoltan69 commented on #772
I have no possibility to check the issue recently.
Otherwise even Microsoft suggests Edge instead of Internet Explorer, and Edge works fine.

[2019-08-21 13:01] batpad commented on #772
@teklal can you please specify what version of Internet Explorer this is?

[2019-08-21 14:29] teklal commented on #772
Internet Explorer 11, Version: 11.239.18362.0

[2019-08-22 13:36] LukeCaley opened #773 "Response Documents organisation through cards"
In major operations there are often dozens of Response Documents and it can be tricky to find the one you are looking for.  Having 'empty' cards for expected documents might also suggest to users to upload these 'missing' documents.

This was quite a big issue in the Mozambique operation for example: https://go.ifrc.org/emergencies/3469#details (need to scroll down to the bottom of the page).

The

[2019-08-22 13:41] LukeCaley commented on #768
For the Field Report / Emergency map export, e.g. [https://go.ifrc.org/emergencies/3732#details](url)
Leave the first disclaimer sentence.
Change the Map data sources to:

Remove Map design sentence completely.

[2019-08-23 07:46] LukeCaley opened #774 "GO 3.2 - Regional page redesign"
Issue relates to implementing a redesign for the regional page following approved wireframes here: https://projects.invisionapp.com/share/K8R901UBXN4#/screens/360977415

General organisation of the page echoes the home page
- Cards with key figures
- Highlighted operations (that the ROs can set themselves)
- Country list (filter to be alphabetical or IFRC-supported operations)
- Active operation

[2019-08-23 11:17] batpad commented on #774
Key Figures: These should all be exactly the same as the home-page, except filtered by region.

[2019-08-23 11:18] batpad commented on #774
Highlighted Operations: filter highlighted by region (@szabozoltan69 may need your help in this a bit)

[2019-08-23 11:24] batpad commented on #774
Country List: Change "Active Operations" To "IFRC Supported Operations" in operations count under the countries.

[2019-08-23 11:24] batpad commented on #774
Country Filter: Filter countries down to only countries that have active operations (not priority).

[2019-08-23 11:25] batpad commented on #764
+ similar implementation on Region pages.

[2019-08-23 11:26] batpad commented on #774
Graphs: Should show exact data as home-page, only filtered by region.

[2019-08-23 11:35] batpad commented on #773
For Response Documents, use Situation Report Types defined in the backend to show the 6 groupings of report types.

[2019-08-23 11:38] batpad opened #775 "Hide map on country page"
For now, hide the map on the country page. We will bring it back once we have 3w.

[2019-08-23 11:44] batpad commented on #763
On region page map, remove chart in non-fullscreen view, make consistent with home-page, match Invision.

[2019-08-23 11:45] batpad commented on #771
Dupe of #774 . Closing this.

[2019-08-23 11:45] #771 closed

[2019-08-23 11:59] LukeCaley opened #776 "Country pages - add links"
At the foot of the redesigned wireframes for country pages there are relevant links with 'mini-cards', specifically:

- country page on IFRC.org
- country page on ReliefWeb
- country page on IFRC evaluations database - omit
- home page for National Society (input url on admin back-end)

At this point, we should excerpt the DEEP Philippines page link.  This will come in 2020 as we build the DEEP-GO

[2019-08-26 09:26] #766 closed

[2019-08-26 09:38] #767 closed

[2019-08-26 11:52] batpad commented on #776
@LukeCaley it it possible to give me example country page links for each of the 4 sources you mention above? So that I can understand how to construct these links from each country page on GO.

Let me know if this needs any clarification.

[2019-08-26 11:59] #768 closed

[2019-08-28 11:36] LukeCaley commented on #776
Links for an example country (afghanistan):

country page on IFRC.org: https://www.ifrc.org/en/news-and-media/news-stories/asia-pacific/afghanistan/
country page on ReliefWeb: https://reliefweb.int/country/afg
home page for country on GO: https://go.ifrc.org/countries/14#operations

Seems there is no country page on IFRC evaluations database and the link is not currently working so let's not add t

[2019-08-28 11:37] LukeCaley commented on #776
Note also there are links on the footer of all pages, on the same red banner as the links to source code etc, which are:

RCRC SIMS: http://rcrcsims.org/
IFRC data blog: http://data.ifrc.org/

[2019-08-29 07:20] teklal opened #783 "Tweaks to notification emails"
There are still some tweaks to be made to the email notifications to make them more in line with the notification wireframes.

- Include the name of disaster in email subject for new field report / new event / new operation,

ie. ‘(IFRCGO) 1 new field report: Belarus Floods’
‘(IFRCGO) 1 new Operation: Belarus Floods’
etc.

- For new event, new operation, new field report: Move the text ‘_You are r

[2019-08-29 07:57] szabozoltan69 commented on #783
The change request makes sense, the description is more important than the "Update your preferences" text.

Please specify, @teklal , which wireframe do you think.
The recent notification layout follows this one:
https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5d29cd1c61a34a722d15663c

One more (unimportant) note: the notification system is managed via the backend, so the (next notfi

[2019-08-29 09:19] batpad opened #784 "Color scheme / design for points on map"
Decide on a colour scheme for the points and legends on the map.

[2019-08-29 09:20] batpad commented on #784
@LukeCaley

[2019-08-29 09:28] teklal opened #785 "Login button inconsistency"
When a user is not logged into GO there is a login button on the top-right corner of the front page (as there should be).
However, when this same page is viewed with a narrow window width, the respective 'button' on the dropdown menu says 'Logout' although it should say 'Login'

Below screenshots of the same window in these two different window width scenarios.

![gologin](https://user-images.gith

[2019-08-29 19:33] szabozoltan69 commented on #783
Done via https://github.com/IFRCGo/go-api/pull/507
(The subject has this meaningful extension only in case when there is only 1 entity)

[2019-09-02 10:23] batpad commented on #776
Just a note - the links on ReliefWeb use three digit country codes. In the IFRC database, we have only 2 digit ISO codes.

For now, I will create a mapping from 2-digit to 3-digit codes just on the frontend using this CSV file: https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv .

When we are re-looking at the spatial tables and updates, we should consider stor

[2019-09-02 10:25] batpad commented on #776
@LukeCaley can you explain what the actionable task is here? Do we need to add links to RCRC Sims and IFRC Data Blog to the site-wide footer? If yes, could I ask you to create a separate ticket? This should be doable in this phase, would just be nice to have a separate issue since it's quite a distinct task from adding the links on the counry pages.

[2019-09-02 12:37] batpad commented on #764
The functionality for this is implemented, but it needs some basic improvements to styling. Re-opening.

[2019-09-02 13:41] LukeCaley opened #791 "'Edit event' button redirect"
## Issue

Edit event button on the emergency page (e.g. https://go.ifrc.org/emergencies/3751#details) redirects to root folder for the back end (https://prddsgocdnapi.azureedge.net/).  This is confusing for users.

## Expected behavior

Clicking on this button should redirect to the emergency page (e.g. https://prddsgocdnapi.azureedge.net/api/event/3751/change/)

[2019-09-02 15:33] batpad commented on #791
@LukeCaley that's strange, I can't reproduce. I.e. for me the button takes one to the correct page - i.e. https://prddsgocdnapi.azureedge.net/admin/api/event/3751/change/ .

Maybe a quick screenshare or so will clarify.

[2019-09-02 18:29] #783 closed

[2019-09-03 08:07] #775 closed

[2019-09-03 11:17] batpad opened #795 "Add RC to Homepage link on country page"

[2019-09-03 13:10] LukeCaley commented on #765
Two quick points of feedback

- please check that the presentation mode works on the standard browsers.  Currently the GO homepages and presentation mode renders awkwardly on safari for example (the targeted population furthest to the right drops onto the next line)
- change text from "expand the map" to "presentation mode" or revert to the old icon for this

[2019-09-03 13:29] LukeCaley opened #796 "GO 3.2 - Emergency page redesign"
Issue relates to implementing a redesign for the regional page following approved wireframes here: https://projects.invisionapp.com/share/K8R901UBXN4#/screens/361592718

- Headline boxes - implement the same style and icons as the home page, People targeted, Funding requested and Funding coverage.  Deployed personnel can be dropped for this release, to be revisited if more structured data in relea

[2019-09-03 13:55] LukeCaley commented on #796
As a standard approach we aim to hide tables or data fields when there is no data to display.  So, for example, if there were no ERUs for a particular emergency, the default would be that the table become invisible.  In addition, if the Emergency page was not linked to an IFRC operation (DREF or appeal) then the auto populated headline figures should disappear.  This would avoid Targeted Populatio

[2019-09-03 13:57] LukeCaley commented on #773
@batpad as discussed, more info on the Response document types, and text for callouts, for the front end:

1. Situation reports - "IFRC, National Society, and other Emergency Response Unit and technical sitreps"
2. Maps / infographics - "Static maps and graphics created by IFRC and Movement partners"
3. Needs assessment reports - "IFRC, National Society and Movement Partners"
4. Surge documents -

[2019-09-04 07:39] batpad commented on #785
@teklal thank you for the catch.

This is a pretty serious issue.

The problem here is that we have two different header components based on whether the user is on mobile or desktop.

For mobiles, this header component is used: https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/mobile-header.js

One can see the account links are hard-coded, as the current user login d

[2019-09-04 08:19] batpad opened #799 "Allow users to either add links or upload documents in Response Document upload"
- Add help text to suggest a file naming convention for documents -- @LukeCaley can you add details on what we should ask users to follow w/ regard to file-naming?

[2019-09-04 08:45] batpad commented on #796
Add Key Figures coming in from the Field Report, to replace current Key Figures.

If there is no Field Report key figures, display current Key Figures.

[2019-09-04 08:51] batpad opened #800 "Mysterious paranthesis above Response Documents"
Seems to sometimes show

[2019-09-04 09:49] LukeCaley commented on #773
One to one mapping of revised Response Documents categorisation:

1. Situation reports - contains 'Situation Reports' and 'ERU reports'
2. Maps / infographics - 'Maps'
3. Needs assessment reports - 'Information products'
4. Surge documents - 'Key Surge Documents'
5. Mob table and logistics - 'Mobilisation Tables'
6. Secondary data links - no current document type in the d/b

Note to self @guipizzi

[2019-09-04 11:43] guipizzini commented on #795
@LukeCaley our team suggestion is to only have the links to ifrc.org and reliefweb page of the country but not to the link of the NS website.

These are often not updated or existing and it would be a huge task to ensure quality and regular updates of those links.

Here is an example:

https://uniregistry.com/market/domain/caribbeanredcross.org?landerid=www5d6fa2c42768f1.02713158

Otherwise, funct

[2019-09-04 11:48] teklal commented on #764
I can't see the date-range filtering functionality on the staging environment currently - neither for the map nor the 'All Operations' page. Has this been implemented?

![image](https://user-images.githubusercontent.com/52411237/64252214-93f64380-cf1a-11e9-8634-f38c2bdfb432.png)

![image](https://user-images.githubusercontent.com/52411237/64252232-9fe20580-cf1a-11e9-99d6-81452cc1ccc6.png)

[2019-09-04 11:50] guipizzini commented on #776
@LukeCaley same comment and feedback as for this issue:

https://github.com/IFRCGo/go-frontend/issues/795

[2019-09-04 11:50] mmusori commented on #768
![image](https://user-images.githubusercontent.com/7780809/64252302-d1f36780-cf1a-11e9-8b59-e1d81234f6b8.png)

The requested changes have been implemented. there is one disclaimer sentence and the sources are as stated above.

[2019-09-04 11:51] guipizzini commented on #763
This seems not available on the staging environment - hence re-opening this one as we cannot proceed with the UAT.

[2019-09-04 11:57] mmusori commented on #767
![image](https://user-images.githubusercontent.com/7780809/64252674-dff5b800-cf1b-11e9-80b7-cd10a9cf7cf0.png)
From Firefox

[2019-09-04 12:51] batpad commented on #764
You click on the little arrow next to Start Date, and you should see the filter (similar to the other table filters). Let me know if this works.

[2019-09-04 12:53] batpad commented on #763
@guipizzini the changes to the map on the region page are not implemented, but the changes on the home page should all be there:

 - Moving search drop-downs to top-right of map and styling
 - Moving FullScreen button to top left of map as per design
 - Styling of popups
 - Combining the map and the all operations table below under a single header

[2019-09-04 13:28] necoline commented on #785
Sounds like a plan.

[2019-09-05 07:16] LukeCaley commented on #772
In addition to the above noted IE browser issue, we are having issues displaying GO using a Samsung Smart TV Web Browser - 2014 - Version 2.0.4.0220194 (TizenBrowser).

As we are using Samsung TVs to display ifrc.go.org in the Emergency Operations Centre, this is a must-fix.  @szabozoltan69

[2019-09-05 10:20] batpad commented on #772
@LukeCaley fixing this could be really hard - the online browser emulation tools do not support this particular browser, and debugging would be really hard.

I would strongly recommend not using the in-built TV browser to present, in general. Either a ChromeCast or a FireStick should allow you to then cast from your regular browser either from a phone or laptop through the WiFi. Could this be a wo

[2019-09-05 14:27] necoline commented on #765
I just tested out the full screen on safari. This is what it looks like on local:
![image](https://user-images.githubusercontent.com/20410256/64351123-c742dc00-cfc7-11e9-984b-6647a690ba97.png)

[2019-09-05 15:15] necoline opened #803 "Homestat list over-flow in Safari"
## The stats on the home page run onto a second line when viewed in Safari

Styling of the homestats components needs to be adjusted to be consistent across browsers including Safari.

## Steps to reproduce

This issue can be seen when the home page is viewed in Safari

## Expected behavior

All of the stats should span the length of one line

[2019-09-05 18:16] batpad commented on #803
Fixed in #804 . This also addresses the Safari issue mentioned in #765 .

[2019-09-05 18:16] #803 closed

[2019-09-06 03:07] guipizzini commented on #800
hey @batpad could you share a screenshot please or a link? It does not seem to appear on our end...

[2019-09-06 03:11] guipizzini commented on #791
<img width="1216" alt="Screenshot 2019-09-06 at 05 10 35" src="https://user-images.githubusercontent.com/23258092/64398330-bf854500-d064-11e9-9126-36e79edb104e.png">
This works properly - screenshot in attachment with url reference of where you will be redirected when clicking edit event. Moving this to done and UAT completed

[2019-09-06 03:12] #791 closed

[2019-09-06 03:13] guipizzini commented on #785
@batpad and @necoline if you can share any update or feedback on your discussion that would be very useful. thanks friends

[2019-09-06 03:15] guipizzini commented on #774
@batpad let us know if we can help with this or simply if you have feedback on progress. Thanks!

[2019-09-06 08:38] LukeCaley commented on #799
To be defined before implementation.  First proposal is the following:

date_datacategory_source_permission_freetext
e.g. 2019-09-06_Sit_IFRC_pub_Dorian Sitrep 1

The purpose of each clause is as follows:
date - autogenerated and useful for sorting
datacategory - this would be a three character code for the 6 response doc categories
source - describes the original source of the dataset. It can use

[2019-09-06 08:49] LukeCaley commented on #795
After discussion with Sune, we propose to keep links, even if these are not always pointing to a functioning URL.  From a principle point of view we should provide the user the option to find the National Society website if it exists.  Agreed that this will take some maintenance but this is something that we should take as a task for the IM team to clean up the list in the first instance and the f

[2019-09-06 09:08] batpad commented on #800
This was fixed in #802 - @LukeCaley if you can no longer reproduce, we should be good to close this.

[2019-09-06 09:08] #800 closed

[2019-09-06 09:08] batpad commented on #795
:+1: Marking this as closed.

[2019-09-06 09:08] #795 closed

[2019-09-06 09:09] batpad commented on #785
This was fixed in #805 and is ready for testing @teklal @guipizzini .

Thanks @necoline for the fix!

[2019-09-06 09:09] #785 closed

[2019-09-06 10:12] LukeCaley commented on #773
In terms of ordering:

One to one mapping of revised Response Documents categorisation:

First row:
1. Situation reports
2. Surge documents
3. Mob table and logistics
Second row
4. Maps / infographics
5. Needs assessment reports
6. Secondary data links

[2019-09-06 10:13] guipizzini commented on #763
perfect - all those are working, we are pending the map changes at this point. Will keep this one open

[2019-09-06 10:15] guipizzini commented on #764
The filter works on the table - but not on the map, is that normal and expected attitude?

[2019-09-06 10:15] #776 closed

[2019-09-06 10:33] batpad commented on #764
That is expected, yes.

We will need a larger refactor / redesign of the filters if we want to think of them as combined with the map.

Alternatively, we can add a separate date range filter to the map, and have that operate separately from the existing filters on the tables. Happy to discuss!

[2019-09-06 10:50] LukeCaley opened #806 "MapBox styling: redesign points and layerfiles"
Task: create MapBox style point icons which reflect different data for DREF, Appeal, Movement Response and multiple types to be used on GO home page.  Preference would be to avoid different colours.

Optimal might be some kind of concentric circles (using the GO style guide) which indicate the use of different funding mechanisms, usually at different stages / levels of an emergency, i.e. first DRE

[2019-09-06 10:52] LukeCaley commented on #763
All good from a coding point of view so can be closed here.  Links however to the MapBox point changes referred to in https://github.com/IFRCGo/go-frontend/issues/806

[2019-09-06 10:52] #763 closed

[2019-09-06 12:24] batpad commented on #773
Ideally, we would create some way to re-order the categories in the backend.

For now, we may need a mapping in the frontend to create the ordering.

@necoline - assigning you on this - we will probably need to check the ids of the Response Document categories, and then create a mapping to the correct ordering. Happy to chat about this when you come online.

[2019-09-06 14:32] batpad commented on #765
@necoline the only remaining item here is `change text from "expand the map" to "presentation mode" or revert to the old icon for this` - let's just change the text that says "Expand the Map" to "Presentation Mode" and this should be good to close.

[2019-09-06 14:45] batpad commented on #773
@necoline my understanding of the new order for the current names:

First row:
1. Situation Reports
2. Key Surge documents
3. Mobilisation Tables

Second row:

1. Maps
2. ERU Reports
3. Information Products

[2019-09-06 19:06] necoline commented on #773
@batpad I couldn't get any data coming through on the reports on the response docs. I don't know if I am missing something on my end. I will need to sync with you before I can pick this up again since I can't make much progress unless I can access the response documents.

[2019-09-08 10:20] guipizzini opened #808 "PER language forms to be hidden"
## Issue

PER forms were translated by the PER Team. However, due to last minute fixes on the forms and due to the fact the rendering of the front end of GO is in English only - we had agreed to keep the functionality so we can easily make the translated forms available - but to **hide** the forms from the user's front end for now.

## Steps to reproduce

Check the screenshot - the highlighted dro

[2019-09-09 11:48] batpad commented on #764
Can we treat this issue very specifically for the implementation of the Date Range filter on the Operations table? And consider the merging of the table / map into common filters as a separate issue (which I can create separately).

[2019-09-09 12:00] batpad commented on #764
Am closing this issue, since the date filter is working. @teklal @guipizzini could you test, and then we can put our heads together and open a separate issue for the larger idea of "merging" these two filters into a common filter-set for the map and the table.

[2019-09-09 12:00] #764 closed

[2019-09-09 12:07] batpad commented on #773
Additionally, we need to make sure the documents within each card are ordered descending by date uploaded.

[2019-09-09 12:07] batpad commented on #773
@necoline I can check on the date ordering, since that might involve the backend.

[2019-09-09 12:10] #765 closed

[2019-09-09 12:20] batpad opened #809 "On region page, move map + operations table above country list"

[2019-09-09 12:33] batpad commented on #769
@teklal as per conversation, it would be great to get your help here to catch all the specific places where the headers and titles need to be changed and make this issue more specific. Thank you!

[2019-09-09 12:35] batpad commented on #796
Am marking this issue as closed.

We have covered the re-organizing of the data in the two tabs, styling the headline boxes and the contacts. Also, we now hide all data boxes where there is no data available.

We will need to create separate issues for handling the Field Report vs. Key Figures issue, as well as other issues marked for 4.1

But it would be great to be able to test the current chang

[2019-09-09 12:35] #796 closed

[2019-09-09 13:20] batpad commented on #764
Changed the title of this issue to reflect the fact that what is Done is only the date range filter for the All Operations table.

[2019-09-10 11:25] batpad commented on #808
I'm having a hard time getting to these forms to be able to test them (I think my test user may not be setup with the correct permissions.)

I'm going to push some untested code that I *think* should work and merge to develop, but @guipizzini @teklal will be great if you guys are able to test - and ideally tell me how exactly I'd test this. Thanks.

[2019-09-10 11:34] teklal commented on #808
@batpad What test user are you using? Your user 'sanjay' should have the required permissions to get the same view as on the screenshot above.

[2019-09-10 11:48] #809 closed

[2019-09-10 11:50] batpad commented on #773
These should now be organized as per the ordering above. Ready for testing, closing.

[2019-09-10 11:50] #773 closed

[2019-09-10 12:05] batpad commented on #808
@guipizzini @teklal - have hidden the language form entirely now (deployed to staging).

One suggestion is to, instead of hiding the form entirely, just make it Disabled - i.e. the form would show up with English selected, and the user would not be able to change it. This way, we don't change the UI much, and there's also an indication that this feature will be available in the future. Let me know

[2019-09-10 12:05] #808 closed

[2019-09-10 12:18] batpad opened #813 "Error: this.setState is not a function inside handleWindowSizeChange"
@necoline I should have caught this earlier, it's an interesting one.

### Steps to Reproduce:

Load any page on the site, and resize the window. See error in console:

`TypeError: this.setState is not a function`

This is coming from:

`handleWindowSizeChange user-menu.js:31`

This should likely be fixed by binding to `this` correctly.

[2019-09-10 14:41] batpad opened #815 "Invalid propTypes"
Seeing a few different propType errors that we should get to the bottom of and fix.

[code]

[code]

[code]

[code]

[code]

[2019-09-11 07:32] guipizzini commented on #773
I've added them into the back end on the staging. @LukeCaley for your validation of course.

The functionality and cards creation works and is UAT approved.

<img width="494" alt="Screenshot 2019-09-11 at 09 31 24" src="https://user-images.githubusercontent.com/23258092/64676999-0913cc80-d477-11e9-91d1-b353ef4545c8.png">

[2019-09-11 07:32] guipizzini commented on #773
@batpad

ERU reports ---> Surge Documents

[2019-09-11 07:46] LukeCaley commented on #773
@guipizzini agreed.
@batpad slight amendments to info box explanations of the document categories. Those categories with a * are slightly amended as discussed.

*Situation reports - "IFRC and National Society sitreps"
Maps / infographics - "Static maps and graphics created by IFRC and Movement partners"
Needs assessment reports - "IFRC, National Society and Movement Partners"
*Surge documents - "S

[2019-09-11 09:27] teklal commented on #764
This has been tested and it works. @batpad  have you created a separate ticket for the date-range filter fr the map yet?

[2019-09-11 09:39] mmusori commented on #763
In presentation mode:
1.  The key figures should have the icons.
2. More importantly the key figures are too small, the font size should be the same as the one for 'Active Operations'.
3. The bar with Active Operations and 'view all operations' should be removed. This then allows for more space to have the icons and larger font for key figures.
![image](https://user-images.githubusercontent.com/77

[2019-09-11 09:46] teklal commented on #769
@mmusori  can you take a look at this

[2019-09-11 15:10] #813 closed

[2019-09-12 08:29] mmusori opened #822 "Field Report labels"
The data entry side of the Field report has the right terminology “Actions taken by any other RCRC Movement actors ” but in the output report that is then sent out there is a different label “Actions taken by PNS Red Cross”. Case in point is the  Chile Field Report  from 12/09/2019.

[2019-09-13 12:41] teklal opened #823 "Disable fullscreen and map filtering functionalities for Deployments page"
The fullscreen mode on the current 'Deployments' page on GO doesn't work well at the moment so it would be better to disable this functionality for now. Below a screenshot of what the fullscreen view looks like at the moment.

![image](https://user-images.githubusercontent.com/52411237/64862335-833c8080-d632-11e9-816e-aafceb21c854.png)

The filtering functionality doesn't fully work either, so thi

[2019-09-13 14:22] szabozoltan69 commented on #823
Done via https://github.com/IFRCGo/go-frontend/pull/824

[2019-09-13 14:24] szabozoltan69 commented on #822
Done via https://github.com/IFRCGo/go-frontend/pull/824

[2019-09-13 14:24] #822 closed, assigned to nobody

[2019-09-13 14:34] szabozoltan69 commented on #823
The functionalities should be fixed, so I reopen this ticket.

[2019-09-16 08:33] mmusori opened #826 "Notification Read more link."
## Issue
The read more link on the notification email for Laos Podul floods (issued on 11/09/2019) does not redirect to the emergency page but to the home page. This issue is difficult to reproduce since on My laptop (Munu) it works correctly in chrome. On Luke and JEss's laptops it redirects to the home page in chrome as well.
![Notifications](https://user-images.githubusercontent.com/7780809/649

[2019-09-16 08:47] szabozoltan69 commented on #826
The operation (in database terminology: appeal) and the fieldreport + event (which leads to the appropriate emergency) has different role in notifications.

Here is the relevant code part: https://github.com/IFRCGo/go-api/blob/master/api/management/commands/index_and_notify.py#L133-L135
The appeals, which has no paired event **or needs confirmation** leads only to the frontend opening page. This i

[2019-09-16 08:52] szabozoltan69 commented on #826
@mmusori  – this appeal needs confirmation, that is why the link do not show any specific emergencies:

![needs_confirmation](https://user-images.githubusercontent.com/6050643/64945031-00a10480-d870-11e9-93b0-275fc89710f2.png)

[2019-09-25 12:06] mmusori commented on #826
Hi Zoltan,
So that I get it correct. If a DREF/Appeal (Operation) is posted without an emergency event linked to it we need to go an either pair it with an event or link the 'Needs confirmation' to create an event/emergency? So for instance the Laos Floods did not have and Emergency associated with it either because they were not paired or there was no Field Report or GDACS alert?

[2019-09-25 12:56] szabozoltan69 commented on #826
Yes, you are right, Munu, in both aspects.

[2019-09-26 08:51] batpad opened #828 "Enable date filter on map (home + region pages)"
In addition to the `All Appeal Types` and `All Emergency Types` filters above the map, it should include a date filter, similar to the date filter on the table below.

There are two options here for the implementation:

 - Simpler: Add a start date and end date filter to the map filters, similar as the table. They operate only on the map (independently from the table filters) and filter the data o

[2019-09-26 16:25] necoline commented on #828
Maybe we could start by throwing all of the filters into a common utility. If there is any overlap in logic, we can apply that to the maps and tables in the different views, otherwise we can breakout methods to deal with the unique data sets where needed. Would that be inline with what you are thinking @batpad ?

[2019-09-27 12:26] batpad opened #830 "Switch to new map style"
We should look at this map style and evaluate the implications of switching:  mapbox://styles/go-ifrc/cjyo249oy42oh1cphwvxyb0z5 .

@geohacker I know you made a few custom changes on the other map style to clean up some details / disputed areas, etc. Let's take a look at this style at some point and see if we can just point the current maps to this as is, or if it would need some work.

cc @LukeCal

[2019-09-30 07:00] batpad opened #831 "PER Bug: Save Draft issues on Barbados PER forms"
This issue so far seems only to be reproducible on the Barbados NS PER Forms.

@guipizzini I may need your help to detail out the steps to reproduce here. But my understanding:

 - Only `Save as Draft` button appears, not `Submit Form`.
 - When clicking `Save as Draft`, the screen then goes blank.

Need some help to identify exactly how to reproduce, and it seems like there maybe other related iss

[2019-09-30 15:02] szabozoltan69 commented on #831
I think that the original plan was: to allow saving Drafts for incomplete forms also, but to allow Submit only for the "all-mandatory-field filled-in" case. So in this sense there is nothing curious in "not allowing submit without all-mandatory-field filled-in" situation. I can accept that it is not very convenient due to the lots of fields, but that was the original plan.

An other issue is that

[2019-09-30 15:09] szabozoltan69 commented on #831
This is a real bug and I shall look for the root of it.

Yes, the form works like this. It can be changed via frontend change – but to tell the truth, it has no much importance. In a "No previous" one the date is irrelevant, even with the default value. Anyone can close his/her eyes if does not want to see it.

The same is the case with the other non-relevant date issue. Or, if they are mandatory

[2019-09-30 18:43] szabozoltan69 commented on #831
The "double draft saving" and the 14A unnecessary benchmark bug is solved. (The non-wanted dates stuff is not.)

Unfortunately some other bugs turned out concerning the numbering of the saved data, so I do not close the issue. This "bad numbering" is caused the 2 kind of "number 3 form", there is a "3" end a "3-2", and annoyingly the 3-2 is the "first" and then comes the normal "3".

[2019-09-30 18:44] szabozoltan69 commented on #831
Please test The "double draft saving" and the "14A unnecessary benchmark" bug.

[2019-10-01 12:19] szabozoltan69 commented on #831
(The fill-out of PER form 3 is awkward. Sometimes it resets to nothing the previously set radio buttons...)

[2019-10-02 08:44] teklal commented on #556
@szabozoltan69 : Could you add the email domain of the Polish Red Cross @pck.pl to the list of trusted domains? Thanks!

[2019-10-02 08:47] szabozoltan69 commented on #556
@teklal : Ok, it will be in the PROD system in an hour...

[2019-10-02 09:53] batpad commented on #640
Capturing some changes to the design based on discussion with @guipizzini :

 - Add a field called `Type of Operation` (radio?) with options `Long-term operation` and `Emergency operation`
 - Move `Programme Type` field to next to or below `Type of Operation` field
 - Based on selection of `Type of Operation` and `Programme Type` fields:
   - if Type of Operation is `Emergency Operation` and `Prog

[2019-10-02 11:14] teklal commented on #556
@szabozoltan69  There's actually another one to add as well: for Israel it's @mda.org.il

[2019-10-02 11:24] szabozoltan69 commented on #556
@teklal : Ok, I'll do it soon.

[2019-10-02 12:00] szabozoltan69 commented on #556
Done :-)

[2019-10-03 06:50] batpad opened #833 "Field Report Early Warning option"
On the Field Report form, allow user to choose `Early Warning` as the field report type.

In this case, various field options and help texts need to change to be consistent with the Early Warning type. These are outlined in the Invision design.

So, we need to add the Early Warning option, and then go through the Invision doc, identify all the things that need to change based on the Field Report t

[2019-10-03 08:56] batpad commented on #833
@mmusori

[2019-10-03 11:36] batpad commented on #833
This is on hold until we get clarification on all changes and final functionality specs from @mmusori .

[2019-10-03 12:11] batpad commented on #828
@necoline I'm a bit worried about throwing all the filters into a common utility - it seems like the filtering is just so different between the table and the map, that it maybe more trouble than it's worth to have a common interface. I also think the design and interaction is not so obvious / clear if we want to "merge" the filters to have a common filter interface for the map and the table.

I wo

[2019-10-03 16:29] teklal opened #834 "UI fixes, PER and other small things"
I've discovered some small things when going through the PER pages on the development pages (live pages don't have data yet so hence these aren't visible on the production side) that require attention to improve the UI.

Below a screenshot of one issue, where data (here email) input by the user goes over the edges of the box/card:

![image](https://user-images.githubusercontent.com/52411237/661183

[2019-10-04 12:53] szabozoltan69 commented on #834
"There is no data to show" fix is done by @GregoryHorvath via https://github.com/IFRCGo/go-frontend/commit/7d200cd325ebe66433aaee031be386e30b261491

[2019-10-07 15:35] teklal commented on #834
A few other small fixes (sorry!):

When creating a field report, the form already correctly uses the new surge terminology (Rapid Response Personnel instead of FACT/RDRT/RIT)

![image](https://user-images.githubusercontent.com/52411237/66326136-c4ba0600-e928-11e9-82dd-fa399b986f84.png)

However after a form has been submitted, it stll says FACT (example below). Can you change this to also say Rapi

[2019-10-08 08:46] GregoryHorvath commented on #834
@teklal The fix is done by https://github.com/IFRCGo/go-frontend/commit/414e81aa12db8a28a5a2013ad0a6aa8e8df51c7e .

[2019-10-08 08:53] teklal commented on #834
Fantastic, thanks @GregoryHorvath

[2019-10-08 09:38] teklal opened #835 "Adding new section "Help" on GO"
This is a requirement for YU to scope and provide a light recommendation to implement to support users.

[2019-10-08 09:39] GregoryHorvath commented on #834
@teklal Regarding the issue with the e-mail text overflow, if I open a country's page and look at the 'Preparedness' tab I see different stuff than in your screenshot, like "Preparedness Work Plan" instead of "Preparedness for Effective Response Overview" as a title there and nothing is purple or darkened for me.

@szabozoltan69 Could this be different on production than the (probably) staging cod

[2019-10-08 09:57] szabozoltan69 commented on #834
The purple/grey colors appear only on the development page (not on production, neither on local environment).

[2019-10-08 12:17] teklal opened #836 "Improve notification emails"
User emails to contain graphic elements, updated key figures, etc (as per YU designs).

[2019-10-08 12:25] teklal commented on #556
@szabozoltan69 Could you add @croixrouge-mali.org to the list as well?

[2019-10-08 12:31] teklal opened #837 "Harmonization of terminology"
Harmonization of terminology across frontend and backend.

[2019-10-08 12:57] szabozoltan69 commented on #556
Done :-)

(We could think about putting these into database... if such appending occurs weekly)

[2019-10-08 19:02] necoline commented on #828
Per our conversation earlier, I reviewed the table and map more closely to see where the data is coming from.

The data being used to populate the table and the map are the same however, the logic to manipulate the table and the map are very different. Some of this is necessary, other bits can be parsed out and used across both map and table if we want to.

I think it might be worthwhile to split

[2019-10-09 06:56] batpad commented on #828
@necoline this looks *really good* to me.

Conceptually, this seems really good. This does seem like we now have a rough framework that we can use toward combining the filters on the map and the table. I think this does open up a lot of UI questions for how we see these filters being used long-term, and what the UI would look like if we were to have a common set of filters for the map and the tabl

[2019-10-09 11:12] teklal commented on #556
Yes, I agree that if this continues to be a frequent request we could think of another solution. Thanks for doing all the appending thus far @szabozoltan69 !

[2019-10-11 14:17] necoline opened #839 "Consolidating map and table components and filters on Home and Region page"
## Issue

There is a fair amount of duplication across the the table and map features on the home and region page.

## Expected behavior

The tables should share as much logic as possible and should make clear distinctions in data shared between the map and table to set this up for potentially creating a single filter system for both the table and map.

The map/table on region should be updated to

[2019-10-11 14:56] necoline opened #840 "Choose and implement a single select component"
## Issue

Currently there are number of select options used throughout the site:
**Custom Dropdown:**
![image](https://user-images.githubusercontent.com/20410256/66659299-3dfb7680-ec11-11e9-9599-da5764432b2a.png)
- app/assets/scripts/components/common/dropdown.js

Used in:
app/assets/scripts/components/connected/user-menu.js
app/assets/scripts/components/common/filters/date-filter-header.js
app/as

[2019-10-14 07:48] batpad commented on #839
@necoline - just a clarification here:

We do want the map + filters + table on the region page to behave **exactly** like they currently are on the home-page - the behaviour and design, including the data displayed on the map, should be exactly the same. Except, of course, on the region page, all the data is filtered by the region one is currently looking at.

Ideally, this would also include the

[2019-10-14 15:37] necoline commented on #839
Thanks for the clarification @batpad I'll revise my comment to include this

[2019-10-15 09:55] frozenhelium commented on #640
More changes after discussing with @guipizzini and @LukeCaley

[2019-10-15 11:39] batpad commented on #640
@LukeCaley both @frozenhelium and my strong recommendation here would be to go for option 1 for this - when the user updated the `status` to `complete`, show the 2 numeric fields for `People Targeted` and `People reached` and make these fields required if status is complete.

This will guarantee that we can validate the data and make sure that there cannot be Projects where the status is complete

[2019-10-15 15:42] teklal commented on #556
@szabozoltan69  Sorry Zoltan, there seems to be a spike in these requests at the moment. Could you add @redcrossghana.org to the list?

[2019-10-15 15:54] szabozoltan69 commented on #556
Yes, in the evening...

Tekla Larinkoski <notifications@github.com> ezt írta (időpont: 2019. okt.
15., K 17:42):

[2019-10-17 10:02] teklal opened #844 "PER: map to show PER phase instead of PER forms"
The map on the PER page (on staging as production site doesn't have PER data yet) currently shows information on the PER forms that have been completed by a National Society. The request from the PER team has been to have the map instead display the PER phase that the NS has last completed.

![image](https://user-images.githubusercontent.com/52411237/66998588-cd52cf00-f0d4-11e9-9901-184922c578e5.p

[2019-10-17 11:33] teklal commented on #556
@szabozoltan69  Another Austrian Red Cross email domain to add to the list :D
@roteskreuz-innsbruck.at
Sorry and thanks Zoltan!

[2019-10-17 13:02] teklal opened #845 "PER: visibility restrictions"
There are some adjustments that need to be made to the visibility restrictions of the PER components on GO.

On the National Society specific / country specific Preparedness page this first box with the PER overview (as in image below) can be visible to the public but everything else should be visible only to that NSs PER Admin (for now).

![image](https://user-images.githubusercontent.com/5241123

[2019-10-17 13:11] batpad commented on #774
@LukeCaley can you clarify what this refers to? Is this just consolidating the Active Operations table + map to look similar to the home-page layout? Or is this something else?

[2019-10-17 14:59] szabozoltan69 commented on #556
@teklal Hi, I added it to production site.

(Now I used a "quick and dirty" solution, logging into the production site docker and changing the file on site, then giving a 'python  -m py_compile views.py' command. This way we should not play the whole deployment process for every single added domain name. If you (or anyone) can test it, please do it. The "normal" deployment will happen at the next

[2019-10-17 15:09] szabozoltan69 commented on #845
(This task can have go-api related part also)

[2019-10-17 15:47] szabozoltan69 commented on #845
No problem at all... ☺️

[2019-10-17 16:13] necoline opened #846 "Add Highlighted Operations"
## Issue

Highlighted Operation should be present on region and country pages.
Only operations relevant to the region or country should be present

Related Issues: #851

## Description
Highlighted operations are referred to as [featured-emergencies](https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/connected/featured-emergencies.js) in the code base

## Related Quest

[2019-10-17 16:27] necoline opened #847 "Add Key Figures"
## Issue

Key figures should be present on region and country pages.
Only key figures relevant to the region or country should be present.
Styles for Key figures should be consistent across the site.

Related Issues: #851

## Description
Key figures are referred to as [homestats](https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/homestats-component.js) in the code ba

[2019-10-17 17:10] necoline opened #848 "Filter countries to show active operations"
## Issue

The country list on the region page should have the option of filtering for countries with active operations

Related Issues: #851

## Tasks
- [x] add a toggle button that activates a filter for countries with active operations

![image](https://user-images.githubusercontent.com/20410256/67031420-80282a80-f0df-11e9-8416-2134bb7fcf01.png)

[2019-10-17 17:20] necoline opened #849 "Graphs show exact data as home-page but filtered by region."
## Issue

The chart on the region does not show correct data points.

## Current Behavior
The chart on the region page show operations over the last 10 years
![image](https://user-images.githubusercontent.com/20410256/67032174-0c871d00-f0e1-11e9-9eb0-9cf60a20f4ed.png)

## Expected Behavior

The charts should show appeals and DREFs over the last year and over the past decade
![image](https://user-i

[2019-10-17 18:29] necoline opened #850 "Update Map style"
## Issue
~~Map styles need to be updated to match mock-ups~~
EDIT:  Map styles need to be updated to match styles given in Yellow Umbrella's _Map Exploration_ document attached below and in Zeplin.

## Current Behavior
![image](https://user-images.githubusercontent.com/20410256/67036577-ddc17480-f0e9-11e9-85a3-c8ae07a9cb64.png)

## ~~Expected Behavior~~
~~the below is a screenshot from wireframes,

[2019-10-21 15:24] necoline opened #851 "GO IV Development – Release 4.1"

[2019-10-21 15:58] LukeCaley commented on #640
@batpad Thanks for outlining the options and for the suggested appraoch.  Agreed that this should be the logic.  Once we have the prototype we will explore user journeys with the module to understand potential exceptions but the suggestion looks good for now.

[2019-10-22 20:21] necoline commented on #774
We have concluded Release 3.2 and are currently working on 4.1. As such, all of the remaining UI/UX enhancements will reference this upcoming release instead of tracking on this issue.
For reference, below are all of the PRs related to the issue in this last release:

Adds date filter to home and region map: #838
Updates region map to match home page: #842
Lists countries in alphabetical order: #7

[2019-10-23 07:44] batpad commented on #828
@teklal can I ask you to test this on staging? The filter above the map on the home and region pages should now have a date filter, allowing you to filter the data on the map by date.

[2019-10-23 07:45] batpad commented on #774
@teklal can I ask you to test and verify this all works as expected? cc @guipizzini

[2019-10-23 09:40] teklal commented on #828
Thanks @batpad.
A few observations:
- the date filter works on the maps on the home and region pages but does not work in the presentation mode
![image](https://user-images.githubusercontent.com/52411237/67379937-e7cff100-f589-11e9-87bf-ed563c8f5c47.png)
- is the map supposed to allow multiple filters to be applied at the same time? if yes, this functionality does not work, as other filters are re

[2019-10-23 10:05] batpad commented on #828
Thank you for the catch, @teklal . I am able to reproduce this. Click on Presentation Mode -> Click on the Date Filter -> It does not drop down the date filters as expected. @necoline will you be able to take a look at this?

The behavior of the two drop-downs was always such that only one could be applied at a time, and we continued to follow that. If we want to change that to make the filters cu

[2019-10-23 15:01] necoline commented on #828
Thanks for catching this @teklal ! I will get a fix in for this straight away

[2019-10-24 17:19] #851 closed

[2019-10-24 19:35] necoline commented on #828
I apologize for not testing this use case on the first submission of this fix.
I did have some time to look into this behavior.

Unlike the native map dropdown selects, the date filter dropdown contains multiple functionalities (adding 2 separate dates and submitting them as a map filter). In order to perform this, we are accessing an external component (as opposed to a native select component)

T

[2019-10-29 15:47] LukeCaley opened #855 "Tab options"
Issue: Some page 'owners' would like to be able to add tabs and name these accordingly.  The option to do this would respect the 'core' tabs but then give a certain level of freedom to add a restricted number (e.g. max 3 'extra' tabs) so that these can be curated using embedded dashboards.  This would avoid adding all additional data and dashboards into the 'additional information' bucket.

Use ca

[2019-10-29 15:48] LukeCaley opened #856 "Dashboard archiving"
Issue: When dashboards are no longer relevant or the data has become outdated or not maintained, there is no current workflow to archive this, therefore retaining the potential to view the dashboard after its operational use.

Use case: When an emergency operation switches from an initial embedded BI dashboard, the link is amended in the Django back end.  There is no link maintained and no record

[2019-10-29 17:07] LukeCaley commented on #846
@necoline
**Should we limit the operations to show only three (if so, how would these be selected)?** - the approach for the 'global' page has been to allow for more than three but to advise not to add more. This is partly because three is the magic number, partly because adding a fourth or more makes the overspill look awkward.  Suggest we adopt the same approach.

[2019-10-29 17:08] LukeCaley commented on #844
@necoline is this possible within the scope of the PER refactoring for GO 4.1?

[2019-10-29 17:10] LukeCaley commented on #837
To be included in the CapGemini scope for release 4.1

[2019-11-04 11:23] #641 closed

[2019-11-04 11:23] #640 closed

[2019-11-05 02:35] necoline commented on #846
Thank you for the clarification @LukeCaley !

[2019-11-05 09:21] batpad commented on #828
@necoline speaking to @LukeCaley and folks, we don't really need the filters to show up in Presentation Mode. Hiding them all will probably improve overall consistency and reduce clutter in Presentation Mode.

[2019-11-05 09:22] batpad commented on #830
Closing in favour of #850

[2019-11-05 09:22] #830 closed

[2019-11-05 10:28] batpad commented on #837
@szabozoltan69 it will be nice to know how you're thinking about this - is this just making sure the names in the admin and the frontend appear the same? Or are we thinking about making changes in the code, model files, etc. If the latter, we will need to talk about this in detail - will we change the names of API end-points? Will we also need to make these changes everywhere on the frontend? Broa

[2019-11-05 11:07] batpad commented on #833
Thank you @mmusori for the detailed email with changes from the wireframes. Pasting your email below (with a little added formatting):

### Context page

 - Status: should read “Early warning message for the risk of an upcoming disaster”
 - Start date: would propose it be worded more clearly as “Predicted Date of Impact”

### Situation page

 - For the sources, change to “Red Cross/Red Crescent”

[2019-11-05 14:27] necoline commented on #828
Great, that will be a quick fix

[2019-11-06 13:07] batpad opened #859 "Ability to deploy alternate code branches for testing"
I'm not sure if this ticket should go in a different repository.

We need a good way to be able to deploy different branches of the frontend code for testing.

Currently, `develop` gets automatically deployed to staging. There are times when we need to stage a different branch and have it available for testing. Currently, there is no straightforward way to do this.

Opening this ticket to discuss

[2019-11-08 10:08] teklal commented on #556
Hi @szabozoltan69 , there's another one to be added: @redcross.org.mk for the Red Cross of the Republic of North Macedonia

[2019-11-08 10:12] szabozoltan69 commented on #556
Ok, Thanks Tekla, I put it to the system on the quick way... (At 11:20 it can be used.)

[2019-11-11 11:45] frozenhelium opened #861 "Better error handling support for network requests"
The currently available network request utils, eg: `fetchJSON`, `postJSON` does not support the status for the network failure.

[2019-11-11 11:52] frozenhelium opened #862 "Create selector functions for redux data"
Instead of directly accessing the data from app state (similar to how we have action creators)
eg:
[code]
So that it's easier to refactor the variables used to represent project in the state

[2019-11-11 11:56] frozenhelium opened #863 "Add keyword to indicate action creator functions"
Eg:
[code]
should be
[code]
We can add some keyword like `action` to indicate that it is an action function and we won't have to prefix the actual props with  `_`

[2019-11-11 12:32] batpad commented on #862
I agree.

cc @necoline

@frozenhelium for this, I think it's fine to start new things following this pattern, and we'll ticket out doing this across the code-base for when we refactor.

[2019-11-11 12:34] batpad commented on #863
The `_` is confusing. I'm not sure if prefixing with `action` is a whole lot better, though. In these cases what I generally prefer to do is import the whole `actions` module or so, so then the code would land up looking roughly like:

[code]

cc @necoline if you have any thoughts here.

[2019-11-11 14:36] necoline commented on #844
@LukeCaley I don't see this as being a very heavy lift, I think it would be nice to have this included to showcase improvements that are visually apparent to the user. I will carve out a few hours for additional enhancements upon completion of the PER update to add this in.

[2019-11-11 18:52] necoline opened #865 "PER: general update"
## Issue

[PER Review.pdf](https://github.com/IFRCGo/go-frontend/files/3832777/PER.Review.pdf)

## Expected behavior

The PER forms should maintain current behavior with a better backing

## Tasks
- [ ] structure form language
- [ ] set up internationalization
- [ ] create reusable form-components
- [ ] re-write HOC to manage state of various form components

[2019-11-15 10:55] batpad commented on #833
@mmusori I've consolidated all the changes on the field report for the Early Warning option, based on the Invision designs, with the modifications as per your note above. This should cover every change, and every field on the form. I have highlighted places where I had questions. I think the only thing that needs slightly urgent discussion is allowing users the ability to add text for `Other` sour

[2019-11-21 08:54] batpad opened #870 "3w: Changes to Sectors and Tagging options."
As per feedback, we want some additional choies to appear in the Tagging section, that should not appear in the Primary Sector choices. Also some of the choices need to be renamed:

 - Add `Recovery` as a Tagging choice
 - Add `Internal Displacement` as a Tagging choice
 - `Education` to be added as a Primary Sector choice (@guipizzini clarification: should this be added to the Tagging choices as

[2019-11-21 08:58] batpad opened #871 "3w: Allow user to link to existing Emergency for Emergency Operations"
From feedback sheet:

When selecting "Emergency Operation" the link tab option to select existing operations should appear, which is not the case.

Is this to be an additional field that should appear that allows the user to link to an Emergency? Or should this linking happen in place of the current `Project Name` field?

The way I understand this is:

When the user selects Emergency Operation as

[2019-11-21 09:00] batpad opened #872 "3w: Do not submit form when user presses "Enter""
From the feedback sheet:

If you press the  enter buttom in the middle of your data entry this is taken as having clicked submit. You incomplete data is then taken as your final entry and you are redirected to the 3W page. Submission should be only when you click submit.

I like the idea of allowing form submit when the user presses enter, but I can see how this can cause problems for the user. @f

[2019-11-21 09:02] batpad opened #873 "3w: Remove Disaster Type selection option"
Currently, when you select Long-Term Operation as the type, you are required to fill in a Disaster Type.

From the feedback sheet:

When selecting long-term operation, you are forced to choose a disaster or cannot submit the module. However there is no 'development' option that can be chosen. Could it be possible that when long-term is selected, people are not forced to choose a disaster ?

And th

[2019-11-21 09:06] batpad opened #874 "3w: Visualize "No of people reached" and "No of people targeted""
Currently, we take these values in the form from the user, but do not show them anywhere in the visualization.

@guipizzini do we have a clear idea of where and how these should be visualized?

cc @frozenhelium @thenav56

[2019-11-21 09:10] batpad opened #875 "3w: Rename "Long term Operation" to "Programme""
From the feedback sheet:

I would just question if long term operation is a commonly used term - suggest that this could be replaced by 'development activities' or 'longer term programming' rather than longer term operation

Suggested Action:

Revert language from 'long term operations' to 'programmes'

My understanding:

Under the Operation Type drop-down, the option called `Long term operation`

[2019-11-25 08:45] frozenhelium commented on #874
For now I'll add it to the table. We can later figure out how we can better represent it. @guipizzini

[2019-11-25 08:57] frozenhelium commented on #872
It's pretty straightforward

[2019-11-26 05:35] frozenhelium commented on #871
@guipizzini Can you confirm this?

[2019-11-26 05:37] frozenhelium commented on #870
@guipizzini Can you confirm this?

[2019-11-26 10:28] LukeCaley commented on #847
@necoline The country statistics and National Society data appears instead in the country overview tab as per wireframes:  https://projects.invisionapp.com/share/K8R901UBXN4#/screens/356658486

![country-overview](https://user-images.githubusercontent.com/7791954/69621636-c312e180-103f-11ea-9247-06b821ecfee6.PNG)

[2019-11-26 10:31] LukeCaley commented on #847
Key figures need to replicate the content, text (i.e. not affected pop but targeted pop & funding requirements) and design as the GO home page.  These cards need to be filtered according to country and disappear when there's no data (as per expected behaviour across the site).

[2019-11-26 10:34] LukeCaley commented on #831
Unable to test (as of 26/11) - require credentials for PER user for Barbados.

[2019-11-26 10:41] szabozoltan69 commented on #831
In which environment do you need it? (For which username?)

[2019-11-26 10:42] LukeCaley commented on #846
@necoline
current behaviour: individual events selected as "is featured" on the back-end appear on both home and regional page.  The user is not able to determine just to highlight on the region page.  This is the desired behaviour as we want to provide the regions the option to select what should be highlighted on their region, independent to what is highlighted on the home page (which is determi

[2019-11-26 10:44] LukeCaley commented on #849
User test accepted (@mmusori and @LukeCaley).  Proceed to deploy.

[2019-11-26 10:50] guipizzini commented on #870
Add Recovery as a Tagging choice
**YES**
Add Internal Displacement as a Tagging choice
**YES**
Education to be added as a Primary Sector choice (@guipizzini clarification: should this be added to the Tagging choices as well?)
**YES and YES**
Preparedness to be renamed to NS Strengthening in the Sectors. (@guipizzini clarification: Does Preparedness get renamed in both Sectors and Tagging, or is th

[2019-11-26 10:51] LukeCaley commented on #799
Current naming of this ticket appears to be incorrect "Allow users to either add links or upload documents in Response Document upload".  The content of this ticket refers to a suggested file naming convention 'hint' which does not currently appear to be on staging.  @batpad please confirm the feature to be tested for this ticket and, if this is separate to the suggested file naming feature, to se

[2019-11-26 10:51] guipizzini commented on #871
Yes, i confirm this : When the user selects Emergency Operation as the Operation Type, they should get an additional field which allows them to select an existing Emergency to link to

[2019-11-26 10:52] guipizzini commented on #872
good stuff :)

[2019-11-26 10:53] guipizzini commented on #873
Remove entirely the disaster type tab. Since they will select from the "emergency list" that field is already there

[2019-11-26 10:53] guipizzini commented on #874
perfect

[2019-11-26 10:53] guipizzini commented on #875
correct this : Under the Operation Type drop-down, the option called Long term operation should be renamed to Programme

[2019-11-26 10:57] LukeCaley commented on #848
This works well for the regional country list, with one caveat.  Would it be possible to ensure that the alpha ordering is not truncated with a letter at the bottom of a column, as per example here
![active-ops](https://user-images.githubusercontent.com/7791954/69623845-dfb11880-1043-11ea-8980-a06fb88735d3.PNG)

[2019-11-26 10:59] LukeCaley commented on #848
Desired functionality for this filter would extend to the /appeals/all page where users could then filter to only view active operations in the table view.  @necoline is this possible?

[2019-11-26 11:14] LukeCaley commented on #839
@necoline @batpad map and table filters are not linked on either home or regional page.  Complexity explained in https://github.com/IFRCGo/go-frontend/issues/828.  In order to implment this we would need to either a) resolve these complexities and find a solution which enabled the desired behaviour of the filtering options on the header of the map affecting both the map and table view simultaneous

[2019-11-26 11:16] LukeCaley commented on #774
User test accepted as per @necoline list of components above (Adds date filter to home and region map: #838; Updates region map to match home page: #842; Lists countries in alphabetical order: #792).  Proceed to deploy

[2019-11-26 11:21] LukeCaley commented on #828
Presentation mode on region page leaves an unnecessary amount of white space as well as does not include the key figure cards.

The sizing and placement of the title text "IFRC Disaster Response and Preparedness" also appears different on the region page implementation - please replicate the parameters on the home page presentation mode. @necoline

[2019-11-26 12:17] #774 closed

[2019-11-26 12:17] #849 closed

[2019-11-26 14:28] necoline commented on #828
Thank for pointing that out @LukeCaley I'll add the key figure cards and fix the title alignment

[2019-11-26 15:20] frozenhelium commented on #870
So the options for **Sectors** will be
- WASH
- PGI
- CEA
- Migration
- Health
- DRR
- Shelter
- NS Strengthening
- Education
- Livelihoods
- Basic needs

And for **Tagging**
- WASH
- PGI
- CEA
- Migration
- Health
- DRR
- Shelter
- NS Strengthening
- Education
- Livelihoods
- Basic needs
- Recovery
- Internal displacement

Is this correct @guipizzini

[2019-11-26 15:27] frozenhelium commented on #871
So, as previously discussed the input for current operation appears when we select `Emergency operation` and `Multilateral` (Programme type) option together
![2019-11-26-211039](https://user-images.githubusercontent.com/4931541/69647344-693b0780-1091-11ea-8da5-e72386687f2f.png)

[2019-11-26 15:41] necoline commented on #847
Thank you for addressing the question of where to place the country key & national society indicators. I can add those back in at the specified location.
Regarding the question of which key figures are shown on the region and country page, it was my understanding that the figures in the pre-existing view (affected people, requested amount, funding) constituted as 'key figures'

For clarifications

[2019-11-26 15:54] necoline commented on #848
I didn't realize that this filter was intended to be applied to anything beyond the country list. This logic is closely coupled to the rendering of the country list. I'm sure I could apply a similar filter to the appeals/all page, but to my awareness, that would largely be a standalone ticket. Maybe we can discuss in our upcoming meeting when and how we should add this additional filter.

[2019-11-26 15:55] necoline commented on #848
This is not the simplest issue to address, I will take some time to see if I can find a solution to this problem

[2019-11-26 21:57] necoline commented on #839
I think the work of resolving the complexities in order for the map and table filters to be linked will be outside the scope of this current phase. We have made changes that will make this feasible in the future, but require more time to refactor the tables and filtering utilities and direction on the UX before we can outline an appropriate way forward on this particular issue.

I will look into f

[2019-11-27 08:03] batpad commented on #846
To summarize the changes requested and next steps here:

 - Allow users to mark an Emergency as "Is Featured on Region Page" on the backend, which will allow users to feature emergencies on the region page, without them being featured on the home-page. On the front-end, on the region page, it should display the emergencies marked as `is_featured_region`. **Question** On the region page, should it

[2019-11-27 08:05] batpad commented on #847
The terminologies here do seem a bit confusing. Let's get clarity on exactly what is required to be displayed where on the call, what backend data is referenced and what additional query APIs maybe needed, and update this ticket.

[2019-11-27 08:09] batpad commented on #799
@LukeCaley my apologies here - I was under the misunderstanding that this was covered in recent work done by @GregoryHorvath, but I see that is not the case. I'm moving this ticket to the backlog, let's revisit and scope things out in greater detail for future work.

[2019-11-27 08:38] guipizzini commented on #871
Current operation should give us the list of emergencies on GO - and this should appear only when selecting emergency operation and multilateral. And the label should change from "Current Operation" to "Current IFRC operation"

[2019-11-27 16:22] batpad commented on #846
Ideally, have permissions for is-featured-region only to be editable by admins of a region.

[2019-11-28 06:46] batpad commented on #846
@LukeCaley I did a bit of digging into restricting the ability to set `is_featured_region` to "region admins". I created a separate ticket here: https://github.com/IFRCGo/go-api/issues/553 - let us continue discussion about granular permissions, but I think the permission restriction is likely beyond the scope of this ticket.

[2019-11-29 06:02] batpad opened #880 "Create new fields on Field Report"
We need to create two additional fields on the Field Report Form, both are applicable to both Event and Early Warning Field Reports:

 - Add a Yes / No field for `National Society Requires International Assistance` (`ns_request_assistance` in the backend).

 - Text field for users to add sources for where they have mentioned `Other` as source - `other_sources` in the backend.

Follows up from #833

[2019-11-29 06:09] batpad commented on #833
@mmusori This is ready to be tested. I have created a separate ticket for adding the two new fields: #880 . And I will create a separate ticket to ensure all the values are displayed on the field report frontend correctly (though would still appreciate you pointing out things missing there).

You should now be able to select Early Warning to have options and labels and help texts change, as per th

[2019-11-29 06:47] #872 closed

[2019-11-29 06:47] #874 closed

[2019-12-02 10:40] GregoryHorvath commented on #836
Comments by Munu:

[2019-12-02 20:13] LukeCaley commented on #828
Is this ready for testing? @necoline

[2019-12-02 20:16] LukeCaley commented on #848
@necoline thanks for looking into this one and for discussing last week.  Suggest to set up a backlog ticket for this one as it would be a nice feature as discussed.

[2019-12-02 20:29] LukeCaley commented on #850
I believe this is a misinterpretation of the simplified wireframe design style which was used for mock-up purposes by Yellow Umbrella.  The desired colour schemes are all contained in the zeplin files @batpad

[2019-12-02 21:58] necoline commented on #828
Yes it is!

[2019-12-03 09:13] #880 closed

[2019-12-03 09:22] batpad opened #885 "New Surge Deployments design / module"
Creating a ticket to track the Surge Deployments work.

@necoline would you be able to edit this to paste in things from the design document for this feature?

[2019-12-03 14:03] batpad commented on #847
@LukeCaley the changes should be addressed now and this is ready to test.

[2019-12-03 14:04] batpad commented on #846
Both these are done and ready for testing. There is an option to mark an Emergency as Is Filtered For Region in the Admin backend. And upto 6 operations are now shown in Highlighted Operations.

[2019-12-03 15:14] batpad opened #888 "Handle different view on staging"
Right now, the site shows a discoloration on the staging site, and it makes the whole site look very different, making it harder to test some pieces.

Ideally, we should remove this huge discoloration, and just make an obvious change to the logo, or a space near the logo to clearly say `Staging` or `Testing` or `Alpha` or so.

TODO:

 - [x] Figure out how exactly the current setup is working / whe

[2019-12-03 15:44] LukeCaley opened #889 "Improve signup workflow"
General improvements to the overall authentication workflow required.  Some considerations

- Consider expiry date for accounts
- Should the auth process request authentication by NS (requiring a new role of GO focal point per NS) and/or IFRC focal point by region?
- Export functionality (csv) enhancement to include user roles and expiry date
Ref: https://github.com/IFRCGo/go-frontend/issues/5

_T

[2019-12-04 07:58] batpad commented on #873
From @guipizzini in Slack:

So, when we select an operation then ---> emergency field (from GO database) appears. No need for disastery type to appear, as that is already categorised within the emergency itself.

When long term programme is selected, a blank text entry to put the name is available as mandatory field and the disaster type appears too as a non mandatory field

@frozenhelium sorry, t

[2019-12-04 17:02] frozenhelium commented on #873
So, we'll have to just remove the required condition for the disaster type, right @guipizzini?

[2019-12-05 12:14] mmusori commented on #846
The requirements have been met. But we will need to discuss the ordering of the highlighted emergencies.  For now proceed to deployment.

[2019-12-05 12:19] mmusori commented on #847
This now meets the requirements as stated. With one caveat on the ordering of the tabs on the country page. But please proceed to deployment.