[2020-08-04 22:10] nanometrenat commented on #1276
Noting that the same list of countries also appears on new user Register page (as well as FRs) so it will be great when aligned to the correct list.  CHEERS.

[2020-08-04 22:14] nanometrenat commented on #1276
Thanks @batpad for the reconciliation.  At risk of pre-empting Johnny's arrival to the team, my thoughts are that the list of "missing" countries above is correct - even if these locations are added to the countries table via the geospatial work they should not appear on the Field Report dropdown as do not have National Societies (and also are not IFRC regions/global).  Re the countries with diffe

[2020-08-04 22:23] nanometrenat commented on #1233
Looks good right now on surge test URL https://ifrc-go-release-v4-3-11.surge.sh/register:

This works correctly, thanks

This works correctly, thanks

Correct, thanks - though @mariam-yu the wireframes text needs to be updated to match what is requested in this ticket.

Correct as per the ticket text above, thank you - though alternatively I would be equally happy with Greg's suggested text of "Yo

[2020-08-04 22:26] nanometrenat commented on #889
Greg's suggestion in 1233 re adding validation to stop users having @ in their new username when registering (to help users know to use their username not their email address to log in):
https://github.com/IFRCGo/go-frontend/issues/1233#issuecomment-656233517

[2020-08-04 22:38] nanometrenat commented on #1479
Reopening - whilst I was getting 304s not modified earlier, now I am getting 304s re condition specified......not met... again.

I don't know whether to worry - @batpad can you please advise?  Noting also that the below screenshot is on a page that is not loading fully (3 loading dots there forever, as per https://github.com/IFRCGo/go-frontend/issues/1491)

https://dsgoproxyapp.azurewebsites.net/e

[2020-08-04 22:40] nanometrenat commented on #1491
I am having same symptom on this emergency page in staging:  https://dsgoproxyapp.azurewebsites.net/emergencies/3276#details whereas as at this instant right now the regional page for the Americas (that was getting stuck on loading earlier today) is loading fine.
I tried another emergency (https://dsgoproxyapp.azurewebsites.net/emergencies/3252#details) but am getting a grey screen on that one (i.

[2020-08-05 06:52] batpad commented on #1325
Thank you so much for the catches on the field report form, @LukeCaley - these should have been caught.

Quick question: I noticed also that in the Response section, the `Contacts` heading for the Contacts subsection was missing / removed. I tried looking around in Invision and Zeplin but could not find the designs for this section. I am adding back the Contacts heading, as it seems to have been r

[2020-08-05 07:59] batpad commented on #1203
@LukeCaley do you see this as a regression / worse than the current state? Right now, we have logged a separate issue for this: https://github.com/IFRCGo/go-frontend/issues/1458 but as it did not seem like a regression, was aiming to tackle it in a next release. This does seem a bit tricky to get right - I believe this redesign does come with some improvements to the pagination: improved styling,

[2020-08-05 08:02] batpad commented on #1325
Made the following fixes and have deployed to the Release branch: (https://ifrc-go-release-v4-3-11.surge.sh/)

 - Fixes heading in Actions section to say Actions Taken instead of Contacts
 - Fixes repetition of text in Planned Response subheading
 - Adds back Contacts as a heading in Response section.

[2020-08-05 08:04] batpad commented on #1203
This should be better now, and Rapid Response should appear on a single line: https://ifrc-go-release-v4-3-11.surge.sh/

[2020-08-05 08:06] batpad commented on #1478
@imohkay are you able to take a look or comment on this?

[2020-08-05 08:40] batpad commented on #1491
Should be fixed with https://github.com/IFRCGo/go-frontend/pull/1495 - thanks @frozenhelium !

[2020-08-05 08:41] batpad commented on #1491
Am still seeing a grey screen on https://dsgoproxyapp.azurewebsites.net/emergencies/3252#details, which seems to be a separate issue from the loading issue. I will investigate that separately.

[2020-08-05 08:45] batpad commented on #1491
Just to note, I can reproduce this grey screen for this particular emergency on the Release branch as well: https://ifrc-go-release-v4-3-11.surge.sh/emergencies/3252#details . So this is a release blocker. Seems to be not handling the case of when an Emergency does not have any countries associated with it. Not sure exactly how that case should be handled with regards to breadcrumbs, etc., but goi

[2020-08-05 08:48] batpad opened #1496 "[Staging] Grey Screen for Emergencies that do not have countries associated"
## Issue

https://dsgoproxyapp.azurewebsites.net/emergencies/3252#details produces a grey screen with errors in the console.

## URL

https://dsgoproxyapp.azurewebsites.net/emergencies/3252#details

## Steps to reproduce

Visit this URL: https://dsgoproxyapp.azurewebsites.net/emergencies/3252#details . Expect a webpage, instead get a grey screen.

## Expected behaviour

Should still render page, w

[2020-08-05 08:48] batpad commented on #1491
Created a separate issue for the emergency grey screen: https://github.com/IFRCGo/go-frontend/issues/1496

[2020-08-05 09:35] mariam-yu commented on #1203
@LukeCaley the designs are good, but we had also noted some of the issues you mentioned, specifically column widths and the table jumping when clicked on second page. @imohkay thoughts on this? Thanks!

[2020-08-05 10:14] mariam-yu commented on #1233
@nanometrenat Thanks. Matched for now till we take another stab at this section: https://invis.io/SBYBJQPK643#/414002964_0-1-1_Register

[2020-08-05 15:03] karitotp opened #1499 "[Staging] Grey screen due the selection of a blank option in affected country dropdown in FR"
## Issue

There are an option in blank in the affected country dropdown in the FR form, if this option is selected the page turns in a grey screen.

## URL
https://dsgoproxyapp.azurewebsites.net/reports/new

## Steps to reproduce

Go to the FR creation form, in the affected country and province, select the blank option from the dropdown menu (first option from the dropdown menu).

![Selection_011]

[2020-08-05 15:11] nanometrenat commented on #1499
xref #938 the general geospatial ticket
and xref https://github.com/IFRCGo/go-frontend/issues/1276 (and also https://github.com/IFRCGo/go-frontend/issues/1492#issuecomment-668839683) which are about the Country dropdown in FRs - not the blank specifically, but worth bearing in mind when fixing.

[2020-08-05 16:03] karitotp commented on #1325
I gave a look to the other types of FR, in all cases is displaying CONTACTS as a header in Action tab, and a redundant text in Response tab.

Other thing that I came across many times was the grey screen, this happen when I modified my selections between Early warning and Event option, modifying the selection of the Covid related event (beetwen yes or not) and changing disaster type.

cc. @batpad

[2020-08-05 18:45] nanometrenat commented on #1496
As at just now in staging unfortunately I still don't get any content.  I no longer get a totally grey screen - but I get the header only with no actual page content:
![image](https://user-images.githubusercontent.com/33625192/89451375-67672f00-d75c-11ea-9d55-4f1bf055df9b.png)

Then when I hit "refresh" with the console open I get the below (loading stayed for quite some time then went away):
![im

[2020-08-05 19:09] nanometrenat commented on #1386
At the moment in staging it is taking 15+ seconds of viewing the initialising splash screen before I get to see any of the home page.  Then another quite a long time before the _content_ of the homepage loads.  As you can see from the screenshot it took 51.5s to load the whole homepage.  This needs investigation please!
https://dsgoproxyapp.azurewebsites.net/

![image](https://user-images.githubus

[2020-08-05 19:11] nanometrenat commented on #1386
Noting that I kept the window open, simply hit "refresh" button on my browser.  This time the initialisation splash screen was there for only a couple of seconds (not 15) and it took 39.32s to load the whole homepage.  So the refresh was faster but still very slow.
cc @LukeCaley

[2020-08-06 06:30] batpad commented on #1386
Thanks @nanometrenat - following up from Teams, this seems caused by the new geo-changes and accidentally including the geo data in the nested data serializers - sorry about that, we are working on fixing that and hopefully the slowness can then be re-tested. Thanks!

[2020-08-06 08:39] guipizzini commented on #1239
This looks good to me, after testing. Icons have new restyling on the cards as pointed out by @karitotp

[2020-08-06 08:42] guipizzini commented on #1325
@batpad I get the gray screen as well and the CONTACTS as a header. In addition, the "infobox" once you click the box appears but then it stays there. This means that you need to re-click to remove and if you do not do so, it simply stays there and you can click the other infobox, which then overlaps making it not a nice experience at all. Is this normal? Other than that, all looks good.

[2020-08-06 08:43] guipizzini commented on #1324
this looks good, and all fixed. working correctly after testing.

[2020-08-06 08:45] guipizzini commented on #1206
This looks great! And functions, after testing! Well done team.

[2020-08-06 09:01] batpad commented on #1325
I am unable to reproduce these issues with the Field Report. @guipizzini @karitotp is this reproducible on https://ifrc-go-release-v4-3-11.surge.sh/reports/new ? Would be great to get specific steps to reproduce. If this is reproducible on the release branch, we probably need to figure it out before release?

[2020-08-06 11:49] batpad commented on #1325
@guipizzini could you check these issues again, they should now be fixed on staging as well as https://ifrc-go-release-v4-3-11.surge.sh/reports/new .

Of course, this is apart from the info-box issue, which as discussed, not being a regression, we will tackle in a future release.

[2020-08-06 12:00] guipizzini commented on #1325
Cleared to go, seems all working fine and fixed. Thanks @batpad and noted on the infobox issue.

[2020-08-06 12:01] nanometrenat commented on #1386
The team have removed the geometry data from staging, since then I have checked in staging and found the following:
it only took about 2s for the initialising screen and then it took >1s of blank, then 2s of the "initialising", then another <1s to load the homepage web elements, then another second to load highlighted operations.  Those measurements were by counting - the network tab of dev tools

[2020-08-06 13:28] geohacker opened #1500 "Importing full country and district geometry slows down the API"
## Issue
Yesterday @nanometrenat identified that staging API is being slow to return requests successfully ([comment](https://github.com/IFRCGo/go-frontend/issues/1386#issuecomment-669414422)). This happened after we deployed the geo changes and ran management commands to import geometry, bbox and centroid for regions, countries and districts.

Earlier today, @GregoryHorvath and @batpad was able t

[2020-08-06 14:36] GregoryHorvath commented on #1487
@teklal Deployed the fixes to staging and ran a reindexing, so now:
- child Emergencies should not show up by default
- if you change an Emergency so it has a parent it should now disappear from the search - or - the other way around if you remove the parent Emergency from one

[2020-08-06 15:07] karitotp commented on #1325
@batpad,  the gray screen appears by following these steps:

- Fill the form for an event related to covid (I fill just the first tab of CONTEXT  form and I continue to the other tabs).
- Then,I back again to the CONTEXT tab to change the event for a no related to covid event and also change the disaster type (for example, Flood).
- Then I continue to the tab of SITUATION (page works correctly unt

[2020-08-06 15:40] nanometrenat commented on #1325
I believe that scenario was accepted when the COVID-19 Field Reports were introduced.  It is not a usual situation that someone would change their mind about those critical settings.  I therefore suspect the grey screens are not specific to this UI elements build.

[2020-08-06 16:08] nanometrenat opened #1501 "[PROD] IFRC Users not seeing the Field Reports that they should be able to see on Emergency page FR list"
## Issue
An IFRC user in Production is reporting that they cannot see any Field Reports on an emergency page - these FRs should be visible to IFRC users.

The Field Reports are visible to my user (which is a superuser). I have verified that they are not visible to IFRC users that are not superusers but are in the "IFRC Admins" group - i.e. the group that is automatically assigned to users with an

[2020-08-06 16:45] nanometrenat commented on #1491
I was going to close this as I haven't had any emergency or regional pages be stuck on loading since the "stuck on loading" fix went out.

However @batpad @frozenhelium the ticket is still at "To Do" so I'm not sure if there's still therefore further work required before it should be closed?

Thanks a lot
cc @LukeCaley

[2020-08-07 06:47] imohkay commented on #1243
@karitotp Hey, so you can take a look at the designs in the Zeplin link here for Specific Emergency: https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5f194858aed4e06c77925cc4

There are a few pages with designs for each tab.

Issue: I am unable to see most of the tabs on the current site with data.

Request: I wanted to know if you could point me to a specific emergency that has all t

[2020-08-07 09:59] batpad commented on #1461
Done, referencing master ticket for Tables: #1203

[2020-08-07 09:59] #1461 closed

[2020-08-07 10:00] batpad commented on #1460
Title was added to the map view on the emergency page. Master ticket #1325

[2020-08-07 10:00] #1460 closed

[2020-08-07 10:00] batpad commented on #1434
This was done, part of #1203

[2020-08-07 10:00] #1434 closed

[2020-08-07 10:01] batpad commented on #1429
This was done, part of #1203

[2020-08-07 10:01] #1429 closed

[2020-08-07 10:01] batpad commented on #1384
@imohkay can you confirm this is done? If so, please close and reference a master ticket as applicable. Thanks,

[2020-08-07 10:33] nanometrenat commented on #1243
Hi I am not sure where feedback for the Emergency page should go right now - but just to note that the "specific emergency" page wireframes now have 5 tabs and that's even without the additional tabs that users can add and customise for the emergency (e.g. https://go.ifrc.org/emergencies/3972#details and https://go.ifrc.org/emergencies/4379#details both have customised tabs.  Need to make sure tha

[2020-08-07 11:06] imohkay commented on #1427
All extraneous and commented out code has been removed.

Relates to #1364

[2020-08-07 11:07] imohkay commented on #1372
Done.
Relates to #1364

[2020-08-07 11:07] #1372 closed

[2020-08-07 11:08] imohkay commented on #1380
Done.

Relates to #1364 and matching new designs to what's on Zeplin

[2020-08-07 11:08] #1380 closed

[2020-08-07 11:09] imohkay commented on #1384
Done.

Relates to #1364 and matching new designs to what's on Zeplin

[2020-08-07 11:09] #1384 closed

[2020-08-07 11:09] #1427 closed

[2020-08-07 11:10] imohkay commented on #1438
Done. Documentation can be viewed from a link in the contributing markdown file.

Relates to #1364

[2020-08-07 11:10] #1438 closed

[2020-08-07 11:13] nanometrenat commented on #956
Released this morning I am told

[2020-08-07 11:19] nanometrenat commented on #956
Checked in Production and the User Profile section is now there in Prod, and Front End logging correctly reflecting when user actually types in their login details and logs in.

Noting that as mentioned above if a user's login/session/cookie is stored (i.e they don't go via the login screen) then the last login field isn't updated.  However it is super exciting to have this field at all :)

[2020-08-07 11:19] #956 closed

[2020-08-07 11:52] GregoryHorvath commented on #1412
A partial / temporary fix to this was deployed via https://github.com/IFRCGo/go-api/issues/763 as part of https://github.com/IFRCGo/go-frontend/pull/1465

[2020-08-07 12:32] mariam-yu commented on #1243
Thanks @nanometrenat I'll tag @LukeCaley and @mmusori for this. I think there was a chat to reduce the number of custom tabs, but I'm not really sure.

[2020-08-07 14:08] GregoryHorvath commented on #1501
@nanometrenat Both the backend and frontend parts are deployed to staging, so now it's testable. I also did 2 separate PRs against `master` so we could do a hotfix deploy early next week if needed.

Keep in mind this includes an `is_ifrc_admin` boolean field in the users' API endpoint, which is `true` if the user is in the "IFRC Admins" group.

[2020-08-07 14:18] GergiH opened #1504 "[Staging] Field Reports count is the same on Emergencies page regardless the user's permission level"
## Issue
Field Reports' count on Emergencies page show the total number regardless of authentication. _The whole section is not showing up if there are no Field Reports for the user's permission level (public / logged in / IFRC Admin or Superuser)_

## URL
https://dsgoproxyapp.azurewebsites.net/emergencies/4054#details

## Steps to reproduce
(not logged in)
![image](https://user-images.githubuserc

[2020-08-07 14:19] GregoryHorvath commented on #1504
@batpad @LukeCaley only assigning you for prioritization.

[2020-08-07 14:29] #1492 closed

[2020-08-07 14:33] nanometrenat commented on #1504
Thanks for logging @GregoryHorvath !  I noticed this too when investigating https://github.com/IFRCGo/go-frontend/issues/1501#issuecomment-670535505

I think that we need to ensure that sufficient testing is done with non-superuser accounts as currently often testing is done with good old ifrcgo-testuser which has access to everything ;)

[2020-08-07 14:54] nanometrenat commented on #1324
Accepting risk, going to Production now

[2020-08-07 14:54] nanometrenat commented on #1325
Accepting risk, going to Production now

[2020-08-07 14:55] nanometrenat commented on #1239
Accepting risk, going to Production now

[2020-08-07 14:55] nanometrenat commented on #1203
Accepting risk, going to Production now

[2020-08-07 14:56] nanometrenat commented on #1468
Closing based on Sanjay's advising that it looks to be a deploy issue, but will reopen if this happens again.

[2020-08-07 14:56] #1468 closed

[2020-08-07 14:58] nanometrenat commented on #1370
Confirmed that wording is now "Follow" in the surge testing URL https://ifrc-go-release-v4-3-11.surge.sh/emergencies/4059#details

[2020-08-07 14:59] nanometrenat commented on #1471
Problem in staging, rectified in staging, being released today so closing.

[2020-08-07 14:59] #1471 closed

[2020-08-07 14:59] nanometrenat commented on #1469
Problem in staging, rectified in staging, being released today so closing.

[2020-08-07 14:59] #1469 closed

[2020-08-07 15:00] nanometrenat commented on #1382
These changes are going to Production today however this ticket is staying open until it can be actually tested with an RTL language.

[2020-08-07 15:26] LukeCaley opened #1505 "[PROD] Points on emergency map not appearing until clicked"
## Issue
The points on the Emergencies map (https://go.ifrc.org/emergencies) do not appear until the `Scale points by` radio button is clicked.

![emergencies-map-error](https://user-images.githubusercontent.com/7791954/89661322-d2d30d00-d8d2-11ea-9371-1a1774143e44.JPG)

Once radio buttons are used the points reappear
![emergencies-map-error-fix](https://user-images.githubusercontent.com/7791954/8

[2020-08-07 16:06] nanometrenat commented on #1505
Thanks @batpad @geohacker @GregoryHorvath for deploying the hotfix to Production so quickly.  @LukeCaley to close when happy.

Note for the future when testing in staging - orange dots only appear when DREFs/Appeals are linked to emergencies - i.e. data is needed to check for the orange ones.

[2020-08-07 16:21] #1505 closed

[2020-08-07 17:39] nanometrenat opened #1508 "[PROD] Early Warning FR - Undefined showing next to one of the key figs when viewing existing FR"
This was newly introduced in Release 4.3.11 https://github.com/IFRCGo/go-frontend/pull/1465 (I have checked my pre-video)

## Issue
Early Warning Field Reports have the following input fields for figures on Step 2 (which for Early Warning this step is called "Risk Analysis):  Potentially Affected; People at Highest Risk; Largest Population Centres Likely to be Affected.

I am viewing an existing F

[2020-08-08 07:44] nanometrenat opened #1510 "[PROD] Cosmetic - how "loading" shows on /emergencies page"
## Issue
When GO pages load, normally the header and basic outline of the web page pre-loads, and then the "loading" 3 dots are shown in boxes where data is required.

However for /emergencies nothing on the webpage pre-loads, so the user _only_ sees the 3 dots until the data for the page has arrived.

Suggest making it consistent with other pages and having the header etc. display while data is l

[2020-08-10 11:16] GergiH opened #1512 "[DEV] Separate Redux actions by category/component from the main 'index.js'"
We should make the Actions more organized so it's not just thrown into an `index.js` with currently ~700 lines of code. This would help clarity in a way that we could clearly see what has been implemented for a specific category and what hasn't, and also help with maintaining the codebase more easily.

[2020-08-10 20:34] #1206 closed

[2020-08-10 20:35] #1233 closed

[2020-08-10 20:37] #1508 closed

[2020-08-10 20:37] #1370 closed

[2020-08-10 20:37] #1203 closed

[2020-08-10 20:38] #1239 closed

[2020-08-10 20:40] #1324 closed

[2020-08-10 20:41] #1118 closed

[2020-08-10 20:42] #1125 closed

[2020-08-10 20:55] LukeCaley commented on #1478
Has this been addressed now @imohkay @batpad ?

[2020-08-10 20:59] LukeCaley commented on #1338
I think the correct screen on Invision is https://projects.invisionapp.com/share/8FXCLVKEY6C#/screens/422773493

It looks good and useful but not the priority here should be responsiveness/speed and accuracy of search rather than design.  For @batpad to comment on relative complexity.

[2020-08-10 21:06] LukeCaley commented on #1077
@batpad grateful if we could take another look at this one to diagnose and split out elements for fixing reported user blockers.

[2020-08-11 06:37] batpad commented on #1496
@nanometrenat could you confirm that this is fixed in production? Thanks.

[2020-08-11 06:38] batpad commented on #1481
@nanometrenat are you still able to reproduce this?

[2020-08-11 07:46] nanometrenat commented on #1481
Thanks @batpad I haven't seen this issue for the last week or so - though I haven't been in GO as much as usual.

Maybe it was related to the slowness from geostuff or the init or something and has been fixed?  Or maybe not related at all!

In any case I agree that it's hard to work on it if not immediately reproducible, so I will close for now but reopen if it comes up again.  Thanks!

[2020-08-11 07:46] #1481 closed

[2020-08-11 08:40] batpad commented on #1077
I've wanted this issue to remain open until we have a fix for #987, which is a known issue which prevents users from submitting field reports and produces weird errors.

We have also overall tightened validation throughout the form, which should now be on staging: https://github.com/IFRCGo/go-frontend/pull/1475

We are quite close to having a fix for #987 : https://github.com/IFRCGo/go-frontend/pu

[2020-08-11 08:54] nanometrenat commented on #1496
_Theoretically_ emergencies in Prod should all have a country (or more than one country, or a region) associated - however I can see that some in fact don't, so thanks for the change.

Tested on https://go.ifrc.org/emergencies/3623#details and can confirm I'm not getting a grey screen.  Thanks!

[2020-08-11 08:54] #1496 closed

[2020-08-11 14:24] nanometrenat commented on #1243
@mmusori conversation just now agreed to move this work to 4.4 (so on hold for now)

[2020-08-11 14:32] nanometrenat commented on #1397
@batpad is this one ready for QA'  I see there's been a commit - cheers

[2020-08-11 14:35] nanometrenat commented on #1321
Dev work moved to 4.4 based on conversation just now.  Guido will continue listing feedback ready for when this is picked up again.

[2020-08-11 15:42] nanometrenat commented on #1312
@LukeCaley moving back to 4.3 as actually it looks like changes have been merged for this so it is going through the process already.
@thenav56 can you please confirm what status this ticket should be - is it Ready for QA?

[2020-08-11 16:07] batpad commented on #1108
This is now in staging.

[2020-08-11 16:45] nanometrenat commented on #1239
Caused https://github.com/IFRCGo/go-frontend/issues/1508 (already fixed)

[2020-08-12 03:37] thenav56 commented on #1312
@nanometrenat It should be already in production. Nomenclature fix was pushed along the Django static translation PR.

But the logic behind the usages of this roles seems to be different.
Basically, for 3W this logic https://github.com/IFRCGo/go-frontend/issues/1067#issuecomment-611374753 (email ending with @ifrc.org are **IFRC user**) is used to filter the projects. But for other entities, the lo

[2020-08-12 07:53] nanometrenat commented on #1312
Hi @thenav56 it is great that the nomenclature has been changed.

The actual logic still needs to be changed - user permissions should not run directly off email address but rather off user groups.  IFRC Admin permission isn't assigned manually from admin panel, rather it is assigned via an automatic job.

However that piece of work can wait until 4.4 as per comment above.  Thanks a lot

[2020-08-12 08:16] thenav56 commented on #1312
Hi @nanometrenat Thanks for the clarification.

[2020-08-12 08:26] nanometrenat commented on #1325
I am closing this mega-ticket as these changes are now in Production - if any further changes are needed they should be logged as separate tickets!

[2020-08-12 08:26] #1325 closed

[2020-08-12 08:29] nanometrenat commented on #1364
OK now I'm confused - are we tracking RTL support via https://github.com/IFRCGo/go-frontend/issues/1253 or via https://github.com/IFRCGo/go-frontend/issues/1382 (currently at Ready for QA) or this ticket?

I think we should keep one open but close the others (unless they have separate outstanding work)

[2020-08-12 08:36] nanometrenat opened #1516 "[Staging] Translation: Show Language switch on mobile header"
## Issue
Noticed when looking at staging while having Dev Tools open in browser - as reduced window width means mobile header is used.

The Mobile version of the page header needs to be updated so that it has translations changes - in particular the language select dropdown - as at the moment (until https://github.com/IFRCGo/go-frontend/issues/1402 is prioritised) the mobile header is coded separa

[2020-08-12 08:52] nanometrenat commented on #956
Unintended consequence of moving User Profile to also show on User page - now if editing an existing user that doesn't have a country (e.g. if user had been set up directly via back end or via migration, without going via the front end Register page) then you can't save any edits without selecting a country.  This isn't a bad thing - just making a note cc @teklal

[2020-08-12 08:54] nanometrenat commented on #1501
NOTE xref this prior ticket which is also about returning user group data https://github.com/IFRCGo/go-api/issues/702

[2020-08-12 09:03] batpad commented on #1364
Thanks @nanometrenat .

The work to support the RTL grid is all done and merged to production. Let's track detailed testing of RTL when we have translations for an RTL language in #1253. Closing here.

[2020-08-12 09:03] #1364 closed

[2020-08-12 09:04] batpad commented on #1382
Marking this as done in favour of #1253 which we shall use as the main ticket to track styling of RTL languages across the site when an RTL language is available for testing. @nanometrenat feel free to re-open, thanks much for the ticket clean-up here.

[2020-08-12 09:04] #1382 closed

[2020-08-12 09:06] batpad commented on #1253
Leaving this ticket as `In Progress` until we have an RTL language available to test.

xref - a lot of work for this was done under #1382 and #1364

[2020-08-12 09:06] nanometrenat commented on #1491
This morning in staging I had https://dsgoproxyapp.azurewebsites.net/emergencies/3983#details stuck on loading - however I am no longer getting stuck on loading for that page.  Noting here for reference (not reopening the ticket if it is a one-off)  Cheers!

[2020-08-12 09:09] batpad commented on #1516
@frozenhelium - unfortunately we still have this weird separate header component for mobile: https://github.com/IFRCGo/go-frontend/blob/develop/src/root/components/mobile-header.js

Ideally we would do #1402, but that's not likely to go out immediately. Do you think you could work to add the language selector to the mobile header, and then feel free to assign to @imohkay if it needs any styling im

[2020-08-12 09:51] batpad commented on #1491
@frozenhelium I am still a bit worried about the code that handles this :) - I'm moving this to `In Progress` and I'll poke around and see if I can figure out how this might happen. I got on a call with @nanometrenat to look at this and it did not seem like network requests failed, so this seems like it may still be some sort of weird race condition / timing issue that causes the loading spinner t

[2020-08-12 09:53] batpad commented on #1491
Also, to be clear to document this: We had a fix for this that went into production that definitely solved this for "almost all the time". There does seem like there "could be" a lingering race condition / timing issue, though this is hard to reproduce. We will take a look, and in the meanwhile if anyone does run into this: Page data seeming to load, but loading spinner not going away, please repo

[2020-08-12 10:08] batpad opened #1517 "Implement a localStorage cache for initial data load"
xref #1386

**Is your feature request related to a problem? Please describe.**

Right now, we fetch the initial data on every page load - i.e. user profile data and countries data. And since these requests need to happen before the rest of the page loads at all, this has caused a perceptible slowdown to page loads.

**Describe the solution you'd like**

Especially for countries data that we do not

[2020-08-12 10:14] nanometrenat opened #1518 "[Staging] ** Cannot continue past page 2 of new Field Report"
## Issue
"continue" button does not work in New Field Report Situation screen.

## URL
https://dsgoproxyapp.azurewebsites.net/reports/new

## Steps to reproduce
Creating new Field Report in staging

1. I fill in details on page 1 (Context) - I had chosen COVID-19 slider.
2. I click "continue" to go to page 2 (Situation) and page loads fine.
3. HOWEVER when I click "continue" to go to page 3 (Actio

[2020-08-12 10:35] batpad commented on #1518
Thanks for the report @nanometrenat

@necoline assigning this to you if that's okay - the error seems to be coming from here: https://github.com/IFRCGo/go-frontend/blob/develop/src/root/views/field-report-form/index.js#L175 - seems like ensuring description is an empty string there or so should likely fix? But not sure where you best seeing that check happening :-)

Thanks again for the catch @nan

[2020-08-12 10:45] mariam-yu commented on #1321
@frozenhelium Thanks for the update and it looks good. Some cosmetic UI comments. Do you mind also connecting with Karen? She had some logic for assigning font-weight depending on font type we use. It would be good to have them standard. and same with page styling and all, but here are the major things. Let me know if any questions, and thanks!

- Headers (e.g. Key Indicators, Population Map) - 18

[2020-08-12 11:05] nanometrenat commented on #1510
_not_ the same issue, just an xref that https://github.com/IFRCGo/go-frontend/issues/1491 also relates to the global loading dots

[2020-08-12 11:30] nanometrenat commented on #1480
@mariam-yu is there still work required on this?

[2020-08-12 11:31] #1363 closed

[2020-08-12 11:32] nanometrenat commented on #1363
Mobile header working in Production

[2020-08-12 11:38] mariam-yu commented on #1480
Thanks @nanometrenat for highlighting this. Let's leave this open for now. I connected with Karen who was still working on this. @imohkay any updates? Thank you!!

[2020-08-12 11:54] nanometrenat commented on #1480
@mariam-yu reason for asking if work required was because I can see there was a commit a couple of weeks ago and also I can see that it's no longer 4 lines on my screen!  But if still ongoing work despite that then great to leave open.

[2020-08-12 12:01] frozenhelium commented on #1321
@mariam-yu Thanks for the detailed comments. @imohkay lets chat sometime regarding the above comments.

[2020-08-12 12:30] nanometrenat commented on #1299
NOTE:  As of right now, when I go to emergency 4431 I don't get an extra tab (as logged above), rather I get the header but then the rest of the screen is grey.  However in staging there's still the same symptom as Tekla describes
https://go.ifrc.org/emergencies/4431#details
![image](https://user-images.githubusercontent.com/33625192/90015011-3fba1e80-dca8-11ea-9a27-9e114ac7bb5f.png)

[2020-08-12 16:01] imohkay commented on #1321
@frozenhelium Sounds good. If you wanna take a stab at it first also, let me know :)

[2020-08-13 08:22] frozenhelium commented on #1321
Yeah, definitely, I'll let you know if I ran into something

[2020-08-13 08:45] nanometrenat commented on #1312
Hi @thenav56 further clarification - the nomenclature hasn't actually been changed in Production - see screenshot as at right now.  Nomenclature change is not in Staging either - still says "Logged in User".

@batpad seems there is some confusion about where these changes have been made - are you able to advise?  Thanks a lot

![image](https://user-images.githubusercontent.com/33625192/90113710-0a

[2020-08-13 09:49] nanometrenat commented on #1353
Just screenshared with @GregoryHorvath - as at this morning no search results were being returned for ANY countries/events/FRs that we tried in either Production or Staging.  200 status (i.e. good) but 0

Gergely has reindexed Production so now Prod is returning results for the moment - but further investigation required as to why search keeps not working.

[2020-08-13 09:51] nanometrenat commented on #989
This specific ticket relates to contents of what results are returned.  However as per comment on https://github.com/IFRCGo/go-frontend/issues/1353#issuecomment-673380320 there is still a wider problem of no results being returned in both Staging and Production.

[2020-08-13 09:52] nanometrenat commented on #1487
xref other search tickets https://github.com/IFRCGo/go-frontend/issues/989 and https://github.com/IFRCGo/go-frontend/issues/1353

[2020-08-13 12:10] nanometrenat commented on #1353
@GregoryHorvath and @batpad have investigated this morning and changed the configuration/availability of ES to the various VMs

[2020-08-13 12:32] geohacker opened #1522 "[PROD][STAGING] many countries don't have iso3 in the database"
## Issue
Many countries don't have iso3 in the database. These are currently pulled from the front-end https://github.com/IFRCGo/go-frontend/blob/master/src/root/utils/country-iso.js#L1. This should be moved to the database.

cc @batpad

[2020-08-13 12:45] geohacker opened #1523 "Store fdrs codes in the database"
Currently we rely on an ISO to FDRS code mapping on the front-end defined here https://github.com/IFRCGo/go-frontend/blob/master/src/root/utils/fdrs-codes.js#L1. We should add the FDRS codes for every country in the database. This can be done along with #1522  in the management command.

cc @batpad

[2020-08-13 12:59] nanometrenat commented on #1523
xref https://github.com/IFRCGo/go-frontend/issues/940

[2020-08-13 13:26] nanometrenat commented on #1491
@batpad am just using GO in Firefox for the moment, troubleshooting some user issues - and have again got the "stuck on loading" thing - in Production - as per screenshot below:
![image](https://user-images.githubusercontent.com/33625192/90140000-672cec00-dd79-11ea-840a-5e18eae348cb.png)

[2020-08-13 13:30] nanometrenat commented on #1491
Actually, re the above comment, I spoke too soon - the "loading" eventually went away, but data not available (Firefox only - fine in Chrome):
![image](https://user-images.githubusercontent.com/33625192/90140315-d9053580-dd79-11ea-89a4-a57ef60fd7a8.png)
Presumably not same issue as this ticket after all.

[2020-08-13 14:58] necoline commented on #1518
I noticed that this morning as well and included the fix in #1513

[2020-08-13 15:16] thenav56 commented on #1312
Hi @nanometrenat the nomenclature was fixed from the go-api (Admin Panel) perspective. Thanks for letting us know the issue is still present. This should be an easy fix. cc: @frozenhelium
Also, we are trying to pull all this information from backend in the go-frontend, so in the future, the static choices will have a single source avoiding confusion like this.

[2020-08-14 07:51] frozenhelium commented on #1321
Hey @imohkay, a little help! I couldn't find variables regarding the font size for headers and other texts (eg: ones that have value in pixel viz. 18px, 14px, 10px). We only have relative font sizes in the `_variables.scss` file. Is it specified somewhere else?

[2020-08-14 08:51] imohkay commented on #1321
@frozenhelium Hey, if it helps, I'll quickly list the font sizes in pixels and revert :)

[2020-08-14 08:55] nanometrenat commented on #1353
This morning in Production I was again getting no responses when searching (didn't initially have dev tools open so didn't initially know if it was errors being returned or no-error-but-no-results as per yesterday).  Then opened Dev Tools and could see 500 errors from elasticsearch.  Last few searches have worked fine though.

[2020-08-14 09:47] frozenhelium commented on #1321
@imohkay Thanks, that'll help a lot.

[2020-08-14 10:01] imohkay commented on #1321
@frozenhelium Hey, I sent you a PR for the same...

[2020-08-14 11:47] mariam-yu opened #1525 "[DESIGN] Validate the 3W Create and Edit button flows from emergency pages"
Currently on emergency pages there is a 3W Create button, but the users get confused when they want to edit it. One issue is that the 3W tab has not been added yet to the emergency pages. But also, the flow of creating and editing 3Ws need to be clarified, since one user can create multiple 3Ws and want to edit them.

The second issue is to make sure the 3W table is visible properly even on smalle

[2020-08-14 11:48] #1211 closed

[2020-08-14 11:48] #1208 closed

[2020-08-14 11:48] #1205 closed

[2020-08-14 15:59] karitotp opened #1526 "[Staging] Contacts in a emergency page is showing an extra row with other data"
## Issue
In the contact section of an emergency page is displaying an extra row with other type of data. This ticket could be related https://github.com/IFRCGo/go-frontend/issues/1486

## URL
Example:
https://dsgoproxyapp.azurewebsites.net/emergencies/4061#details

## Steps to reproduce
Go to an specific emergency page that have contacts.

![Selection_020](https://user-images.githubusercontent.com

[2020-08-14 16:15] karitotp opened #1527 "[Staging] Url in Situational Overview does not work in Arabic language"
## Issue
If there is an URL in Situational Overview, this works good in other languages but the url does not link when I change to Arabic language.

## URL
https://dsgoproxyapp.azurewebsites.net/emergencies/4066#details
https://dsgoproxyapp.azurewebsites.net/emergencies/4057#details

## Steps to reproduce
Go to the Situational Overview section of an emergency page and click in the url if there is

[2020-08-17 07:43] nanometrenat commented on #1491
Reliably getting "stuck on loading" on this page in staging this morning:  https://dsgoproxyapp.azurewebsites.net/reports/9637

[2020-08-17 07:45] nanometrenat commented on #1526
That line is correctly there, as is correctly reflecting the data that was input by the user (me) at the time of setup - to try to be sure that all the fields were being mapped correctly.  Cheers for finding it.

What is perhaps MORE of a concern is htat the other contact input is _not_ showing - see https://dsgocdnapi.azureedge.net/en/api/fieldreport/9637/change/

[2020-08-17 10:15] nanometrenat commented on #1375
xref https://github.com/IFRCGo/go-frontend/issues/971

[2020-08-17 13:09] frozenhelium opened #1528 "Translation: Block forms submission for the languages other that English"
Forms submission is currently only supported in English language. To reflect this in the frontend we have to block the form in the frontend as well. One of the method will be overlaying over the forms and giving users a message about it as shown below:
![2020-08-17-185231](https://user-images.githubusercontent.com/4931541/90399550-d75da980-e0ba-11ea-840d-067dc6f4c207.png)

[2020-08-17 13:22] frozenhelium opened #1529 "Remove hardcoded enum values from the frontend"
#### Problem
Currently we have to maintain  the enum values such as Disaster types, Organization types, ERU types, etc, in both frontend and backend. We should only have one source of truth and one place to maintain such values. eg: for translation

#### Solution
We should fetch all of these enums from the server in the initialization phase.

The hardcoded enum values are defined in the following

[2020-08-17 13:27] frozenhelium opened #1530 "Refactor Global Loading"
### Problem
Currently global loading works by injecting the state to a globally defined component. This process is asynchronous and not very deterministic. This approach has been causing the problem like the loading animation not disappearing even when all the requests has been completed.

### Solution
Create the global loading component based on the React context so that it is deterministic and r

[2020-08-17 13:31] nanometrenat commented on #1530
xref https://github.com/IFRCGo/go-frontend/issues/1491 and https://github.com/IFRCGo/go-frontend/issues/1510

[2020-08-17 13:39] nanometrenat commented on #1529
I think this is a duplicate of https://github.com/IFRCGo/go-frontend/issues/940 can you please check and confirm? @batpad maybe you have advice on best way to split the tickets if needed!

Noting that there are also several other separate tickets about specific enums (e.g. geospatial related ones) that have been (or are in) the process of being addressed

[2020-08-18 10:45] geohacker opened #1531 "Testing Geo API integration"
This ticket broadly outlines things to test before we merge https://github.com/IFRCGo/go-frontend/pull/1514. The PR touches 45 files, removes a lot of code and streamlines the use geo data across go-frontend. The key change is that regions, countries and districts are all fetched from the API -- no more hardcoded ids and codes (except fdrs, fix coming soon). This is the first round of testing to m

[2020-08-18 11:04] geohacker commented on #897
Quick note -- the recent work to import bbox and centroid to the go database should help address this. It still means once the https://github.com/IFRCGo/go-api/pull/815 is deployed to production, someone has to edit the standard bbox and centroid to what's necessary. Editing can be done on the django admin.

cc @batpad

[2020-08-18 11:06] geohacker commented on #940
Quick update -- all the geospatial related hardcoded ids and codes (except for fdrs) are now being deprecated via https://github.com/IFRCGo/go-frontend/pull/1514

[2020-08-18 11:18] geohacker commented on #976
Update - with https://github.com/IFRCGo/go-frontend/pull/1514 this should no longer be an issue. Once the API and the front-end changes are deployed, they will use the iso codes from a single source.

[2020-08-18 11:20] geohacker commented on #1188
Also ticketed separately on why we can't import Nepal data https://github.com/IFRCGo/go-frontend/issues/1422

[2020-08-18 11:21] geohacker commented on #1276
This should be resolved when API and front-end geo PRs are merged. This should already be fixed in staging https://github.com/IFRCGo/go-frontend/pull/1514

[2020-08-18 11:22] geohacker commented on #1531
The surge URL for testing is https://ifrc-go-feature-geo-apis.surge.sh/

[2020-08-18 18:18] LukeCaley commented on #1108
@teklal - would you mind testing with a number of known scenarios please?

[2020-08-18 18:19] LukeCaley commented on #1189
assuming this is now in staging, @nanometrenat would you mind dong the QA honours?

[2020-08-18 18:20] LukeCaley commented on #1240
@frozenhelium could you elaborate on what needs to be tested here cc @karitotp @guipizzini

[2020-08-18 18:24] LukeCaley commented on #1480
@imohkay @batpad to update on status

[2020-08-18 18:26] LukeCaley commented on #1276
@karitotp would you be so kind as to test this in staging?

[2020-08-18 19:11] LukeCaley commented on #1386
@batpad @geohacker if poss, could you update on progress around improving loading speed related to this change.

[2020-08-18 19:14] LukeCaley commented on #1326
@batpad is this currently seen as in scope for 4.3?  If not, please elaborate the desired way forward and time estimate for future prioritisation

[2020-08-18 19:16] LukeCaley commented on #1349
@batpad @GregoryHorvath to update on desired way forward and time estimate please

[2020-08-18 19:16] LukeCaley commented on #1357
@batpad is this currently seen as in scope for 4.3?  If not, please elaborate the desired way forward and time estimate for future prioritisation

[2020-08-18 19:17] LukeCaley commented on #1398
@batpad is this currently seen as in scope for 4.3?  If not, please elaborate the desired way forward and time estimate for future prioritisation

[2020-08-18 19:19] LukeCaley commented on #1479
@batpad @GregoryHorvath is this currently seen as in scope for 4.3?  If not, please elaborate the desired way forward and time estimate for future prioritisation

[2020-08-18 19:20] LukeCaley commented on #1517
@batpad is this currently seen as in scope for 4.3?  If not, please elaborate the desired way forward and time estimate for future prioritisation

[2020-08-18 19:20] LukeCaley commented on #837
@teklal @mariam-yu would you mind updating on the status of this ticket please?

[2020-08-18 19:41] LukeCaley commented on #1202
Thanks @mariam-yu.  Handing over to @jhenshall to move the MapBox styling along with @geohacker.

- Personal preference is for concentric circles for lighter red for DREF, darker tone for Appeals and concentric circles of the two for Multiple Types.  This would give the sense of flow from small to large.

- It would also be good to size these bearing in mind that eventually we might want to fill t

[2020-08-18 19:42] karitotp commented on #1531
@geohacker @batpad, here the things that I found that is not working good or is looking different to the staging site:

### Region pages:

- The section of the list countries on the region page is missing.

![Screenshot from 2020-08-18 11-01-20](https://user-images.githubusercontent.com/11504548/90536976-606bf380-e142-11ea-874a-a812f24be3f5.png)
_Missing section_

### New field reports:

- The val

[2020-08-19 06:31] batpad commented on #1480
I believe this is resolved. @mariam-yu to confirm.

[2020-08-19 06:32] batpad commented on #1276
To clarify, this is testable on the Surge URL for the countries API work, and not yet on staging.

[2020-08-19 06:32] batpad commented on #1386
Fixing loading speed is dependent on #1517

[2020-08-19 06:33] batpad commented on #1479
This seems to have been an intermittent issue and is not causing any problems. I believe we can close this.

[2020-08-19 07:25] nanometrenat commented on #1479
@batpad FYI this is still happening as at today so I don't think it's as intermittent as all that.  The google thinks it's something to do with Azure blob storage.  But if you think it is a test artefact in staging rather than something that needs attention then please do close, thanks

[2020-08-19 07:31] batpad commented on #1479
This *looks* to me like it's the assets being served with the wrong mime-types - i.e. `text/plain` instead of image/svg or image/png or whatever a more appropriate mime-type maybe.

I believe if this is not causing image loading issues in any of our supported browsers, this is fine to ignore.

As it would be good to eventually fix the mime-types on the server as good practice, I'm leaving the issu

[2020-08-19 07:34] frozenhelium commented on #1240
Testing notes for the [**Translation Dashboard**](https://dsgoproxyapp.azurewebsites.net/translation-dashboard)
1. Only logged-in users can access the dashboard
1. All strings should be listed in the no-conflict mode. Users should be able to import and export xlsx document.
1. String once modified from the dashboard should change the respective string in the platform in the selected language.
1. C

[2020-08-19 07:51] geohacker commented on #1276
The surge URL is https://ifrc-go-feature-geo-apis.surge.sh/

[2020-08-19 08:36] nanometrenat commented on #1491
Also getting this on Geo Surge URL:  https://ifrc-go-feature-geo-apis.surge.sh/emergencies/3983#details

[2020-08-19 08:38] nanometrenat commented on #1491
@batpad @frozenhelium I can reliably reproduce this.

Go to https://ifrc-go-feature-geo-apis.surge.sh/emergencies/3983#details in an incognito window (i.e. not logged in).  Page loads fine.  Click Log In button and log in.  Page gets stuck on loading.

[2020-08-19 09:31] guipizzini commented on #1240
@frozenhelium here my feedback after testing:

1. Correct, logged in users can access the dashboard. This is the correct logic. We should ensure that only certain user roles (super admin for example) have access to the dashboard.
2. Import I did not test it. If I import strings, what is the overwrite logic? I want to ask a few questions first - before proceed with this testing.
3. Export works fin

[2020-08-19 09:34] mariam-yu commented on #837
@LukeCaley So, we put together a list of items for consistency: https://docs.google.com/spreadsheets/d/1JpTpfhM5VwU4IyUIYF-sjRRbGMMgZY35P9WQTb4DjKo/edit#gid=1920423416 but some need to be discussed, especially the big and scary ops vs emergencies.

All the wireframes, however, have been updated fully. Not sure if all the terminology makes sense (would be good for you to review), but everything is

[2020-08-19 10:18] nanometrenat commented on #1189
Hi @LukeCaley think there is still ongoing work around FR validation - see https://github.com/IFRCGo/go-frontend/pull/1513 where @necoline checked in more changes yesterday based on previous comments from @karitotp

@karitotp once you're happy with the validation being in steady state can you please let me know and I will have a quick look again after that.  THANKS ALL!

[2020-08-19 10:23] nanometrenat commented on #1240
Hi @guipizzini FYI the initialising screen conversation is under https://github.com/IFRCGo/go-frontend/issues/1386 and its spinoff https://github.com/IFRCGo/go-frontend/issues/1517

[2020-08-19 10:27] nanometrenat commented on #1240
Re translation changes - fully agree with @guipizzini above, the ability to edit translations definitely needs to be available only to superusers (unless a separate user group is created that is explicitly assigned to individual users).  View not a problem for everyone to see though.

One other thing that needs to be checked is where the audit trail sits for each of the different possible ways to

[2020-08-19 11:04] mariam-yu commented on #1202
@LukeCaley Thanks Luke, let us make some updates and provide for finalization (@maisa-yu )

[2020-08-19 11:06] mariam-yu commented on #1198
@LukeCaley This needs an approval/review from you: https://invis.io/3QY3M2D9NJW#/372627192_3-2-1_GO_Country_3W We split the NS view into 2: a) showing local projects in the country (from self or other NS), and b) showing external projects by the NS in other countries. Let us know your thoughts. Also, we cleaned up the terminology and such.

[2020-08-19 12:41] mariam-yu commented on #1480
Thanks @batpad looks good on my screen. I especially like that you made it responsive so it doesn't cut of the table. The responsive needs more work (later on), but so far the tables look good for me. @nanometrenat Do you mind glancing through on your resolution? Thanks!

[2020-08-19 12:59] nanometrenat commented on #1480
@mariam-yu this is how it looks on my resolution now (i.e. the equivalent of the screenshot in the original ticket above):
![image](https://user-images.githubusercontent.com/33625192/90637608-8241a500-e22c-11ea-9030-98712bd883d5.png)

So NS names now 3 lines rather than 4.  Over to you @mariam-yu to sign off if you're happy!  Cheers all

[2020-08-19 13:11] mariam-yu commented on #1480
@nanometrenat Thanks for checking so quickly. I think looks much neater. @batpad Good to go from me.

[2020-08-19 13:14] nanometrenat commented on #1480
Therefore closing as this change is already in Production

[2020-08-19 13:14] #1480 closed

[2020-08-19 15:04] geohacker commented on #1531
Thank you @karitotp! This is really helpful.

I've fixed the following and deployed to https://ifrc-go-feature-geo-apis.surge.sh/
* [x] Missing countries section on region page
* [x] Field report 'should be string' validation
* [x] Region operations map reloading issue

@karitotp could you test this again? Thanks!

The other issues:
1. Incorrect centroids — this is because the centroid is currentl

[2020-08-19 15:28] karitotp commented on #1189
@necoline I tested the FR validations and most things are working good, some things that I found I commented here https://github.com/IFRCGo/go-frontend/pull/1513#issuecomment-676442923

[2020-08-19 15:34] geohacker opened #1532 "Country centroid shouldn't use geometric centroid"
While testing the geo API integration work over at https://github.com/IFRCGo/go-frontend/issues/1531, @karitotp found that the centroids are off for several countries on the map. For example:

![](https://user-images.githubusercontent.com/11504548/90533029-9064c800-e13d-11ea-8a7b-e426120a28df.png)
_Somalia centroid_

This is because we currently rely on geometric centroids that are updated in the

[2020-08-19 15:41] karitotp commented on #1531
@geohacker, all the above things were fixed and they look good now :+1:

[2020-08-19 15:54] nanometrenat opened #1533 "[PROD] 3W map on country page not rendering - both PROD and Staging"
Identified by @teklal

## Issue
3W maps on Country pages are not rendering on either Prod or Staging.
e.g. https://go.ifrc.org/countries/187#3w
![image](https://user-images.githubusercontent.com/33625192/90659010-7f52ae80-e244-11ea-8fd9-78790b849831.png)

Similarly not working on staging https://dsgoproxyapp.azurewebsites.net/countries/290#3w

However the 3W maps at Regional level are rendering fi

[2020-08-19 16:00] karitotp commented on #1276
I tested selecting different countries of the list in this ticket and I did not get any blank screen, I created a FR with South Georgia and the South Sandwich country  and all looks good to me https://ifrc-go-feature-geo-apis.surge.sh/reports/9643

[2020-08-19 16:03] geohacker opened #1534 "Releasing geo api integration"
This ticket will outline all next steps to merge and release geo API integration. All of this work is currently happening in #1514. The API changes are merged to go-api staging.

## Data
* [x] **Update bbox and centroid for all countries** — includes importing [right centroid](https://github.com/IFRCGo/go-frontend/issues/1532), and manually or semi-manually updating countries in the database we ca

[2020-08-19 16:09] nanometrenat commented on #1522
Hi, are we talking about Staging or Prod here?  Not sure based on title.
IFRC countries should all have iso3 codes in Production database/back end right now (although some are upper case and need to be lowered).

[2020-08-19 16:29] geohacker commented on #1533
The 3W tabs use the map id `mapbox://styles/go-ifrc/ck1izjgrs016k1cmxwekow9m0`, this is now missing from Mapbox Studio.

![image](https://user-images.githubusercontent.com/371666/90662947-a9b56380-e266-11ea-9f6b-adf5e5c409d9.png)
This may have been accidentally deleted, but I'm not certain.

@jhenshall is looking to restore and support options. I'm chatting with friends at Mapbox, will update shor

[2020-08-19 16:41] geohacker commented on #1533
Two map ids `ck1izjgrs016k1cmxwekow9m0` and `ck9tz6f150ub11ip8j97wrsww` were accidentally deleted today from the IFRC Go Mapbox account. We got in touch with Mikel Maron at Mapbox and he helped us to restore these. All maps are back now!

[2020-08-19 16:43] nanometrenat commented on #1533
Thanks to all!

[2020-08-19 16:43] #1533 closed

[2020-08-19 16:44] geohacker commented on #1522
@nanometrenat Both staging and prod have several countries without iso3 codes. These were not a problem until now because there was a hardcoded iso2 to iso3 mapping on the front-end.

[2020-08-19 17:04] karitotp opened #1535 "[Staging] Editions of FRs cannot be submit"
## Issue
The edition of FRs is giving validation error of Planned International Response fields, fields considered in a Early warning event. This is also happening in editions of FRs related to Covid that do not have this fields in the form.

## URL
Edition of a event related to Covid: https://dsgoproxyapp.azurewebsites.net/reports/9643/edit

## Steps to reproduce
- Edit a FR like https://dsgoprox

[2020-08-19 18:38] nanometrenat commented on #1189
xref https://github.com/IFRCGo/go-frontend/issues/1535 logged re other validation issues (thanks @karitotp !)

[2020-08-19 18:52] nanometrenat commented on #1276
Thanks @karitotp it is great that there are no errors.

To be honest the country list is still incorrect though - these countries (South Georgia, South Sandwich Islands, New Caledonia etc.) shouldn't even be appearing as options in the Field Report dropdown.  Yes they are appearing in Production currently, but that shouldn't be the case ideally, as per comment above.

Note also that as well as the

[2020-08-20 05:53] batpad commented on #1478
I believe these have all been addressed, at least all the instances of things "breaking". @nanometrenat can you confirm and if there are further design tweaks that would be helpful at this particular resolution, have new tickets? Thank you!

[2020-08-20 05:55] batpad commented on #1397
Moving to 4.4. I do not imagine this to be a big lift, apologies for not managing to get to it under 4.3.

[2020-08-20 06:00] batpad commented on #1474
Moving to 4.4.

[2020-08-20 06:02] batpad commented on #1326
We have this in the API. On the frontend, the new designs tackle this in a more holistic way in terms of implementing filters for the CSV exports - unfortunately, the entire filters implementation did not come through in 4.3. It would be great to find time to work on the CSV filters in 4.4. We may want to reframe the ticket a bit as we would likely want to implement all the filters across all the

[2020-08-20 06:11] batpad commented on #1349
There has been work done improving performance of CSV exports for Emergencies and Field Reports. However, within the current architecture, doing an unbounded query for ALL field reports or emergencies in a single request will always be hard to scale.

We still have some work to do here to make things completely robust. Implementing filters will be one way of allowing users to easily fetch subsets

[2020-08-20 06:14] batpad commented on #1357
We fixed https://github.com/IFRCGo/go-frontend/issues/1116 . This is likely a bit of additional work - ~8-10 hours. Moving to 4.4 for triage and prioritization.

[2020-08-20 06:15] batpad commented on #1395
Let's keep this in this phase. @geohacker should be a minor fix? Let me know if you want me to look. Thank you!

[2020-08-20 06:17] batpad commented on #1398
This landed up being a bit more of a rabbit-hole than I had imagined. We may want to spend a bit of time looking clearly at the data passed through to the charts and how and where aggregation happens. We should definitely fix this bug though. Moving to 4.4., happy to prioritize this.

[2020-08-20 06:20] batpad commented on #1500
@geohacker I imagine this is still a problem if and when we do want to store detailed geometries in the database? Would this still be needed for #1474 ? Moving over to 4.4., we can discuss how we want to scope this and #1474 out.

[2020-08-20 06:21] batpad commented on #1479
Removing this from the projects boards and leaving the `backlog` label on. Nothing actionable here for now, I believe.

[2020-08-20 06:23] batpad commented on #1082
We have done a bit of design re-work on the emergency page as part of the new design implementation, but are moving the larger re-organization bits of the emergency page to 4.4., as per discussion.

[2020-08-20 06:25] batpad commented on #1077
We have a fix for #987 in staging, and much tighter validations on the frontend to catch bad data before it gets submitted to the backend. Moving this to `Ready for QA` - I would like to close this and re-open in case we hear of any new Unknown Errors on the field report submission.

[2020-08-20 06:27] batpad commented on #1360
Will be good to do as part of general cleanup. Moving to 4.4.

[2020-08-20 06:30] batpad commented on #915
If the figures are still wrong, we should definitely get to the bottom of this. Currently awaiting clarity in terms of what these numbers need to be and how these calculations should be derived, exactly. Would be great to spend some time speccing out exactly how the Key Figures numbers need to be derived, and then ensuring that we are doing the right thing. Moving to 4.4.

[2020-08-20 07:27] nanometrenat commented on #1478
I haven't clicked through the whole site but the main issues with laptop resolution have been addressed so I will close, and log new tickets as required.  Cheers

[2020-08-20 07:27] #1478 closed

[2020-08-20 08:25] nanometrenat commented on #1353
Again getting 500 error in Production just now searching for "Sri" - i.e. no results at all when wanting to go to Sri Lanka.  Worked fine on second attempt. I checked the Network tab and both times the request was exactly the same (https://prddsgocdnapi.azureedge.net/api/v1/es_search/?keyword=sri)
See screenshot to confirm 500

![image](https://user-images.githubusercontent.com/33625192/90740564-3

[2020-08-20 10:10] nanometrenat opened #1537 "[PROD] 3W - view/edit menu not clickable in Edge"
## Issue
Identified by ICRC team.

If you go to a country 3W page in EDGE browser and click the three dot menu there is no response.  i.e. the menu does not load. Works fine in Chrome though

## Steps to reproduce
https://go.ifrc.org/countries/160#3w
Use Edge browser
Click on menu (...) button to right of a 3W entry.
Nothing happens

![image](https://user-images.githubusercontent.com/33625192/9075

[2020-08-20 10:42] mariam-yu commented on #1525
@frozenhelium There was an issue with the table and View All 3 dots. In smaller screens the table gets cut off so the button is not visible anymore. We have 2 options here: 1 - move the buttons to the front to be on a safe side, 2 - Make sure the table is responsive like on the other pages so the right column will always be visible. Our choice would be the second one but if there are any difficult

[2020-08-24 07:37] nanometrenat commented on #1528
@guipizzini @LukeCaley I just added this ticket to 4.3 as it wasn't on a board

[2020-08-25 10:39] mariam-yu commented on #1386
@batpad @LukeCaley We played with a few ideas for the pre-loader. We used this library as inspiration for interaction: https://connoratherton.com/loaders

Our suggestion would be to use the one from column 2, row 5. We played with a few option (that you can see below), but this seems to be the most intuitive. We propose to use the same throughout the site whether loading the entire page or section

[2020-08-25 13:15] batpad commented on #1386
Thanks @mariam-yu .

Let's work on the global loading screen now, and we can tackle changing loading for individual elements later.

@frozenhelium would you be able to update the styles for the init loader based on @mariam-yu's comment above, or would you rather we take that on? Thanks!

[2020-08-25 17:20] nanometrenat commented on #1501
@tovari can you please test this ticket?  I have not had a chance to.  It will entail logging in as a superuser, and as a non-superuser person with IFRC email address (therefore should automatically get IFRC Admins user group - check in back end), and as a non-IFRC logged-in user ("the membership") and as Public (i.e. not logged in).  Need to check that the various groups can see the right things

[2020-08-25 17:35] nanometrenat commented on #1131
xref https://github.com/IFRCGo/go-frontend/issues/931

[2020-08-25 20:30] jhenshall commented on #938
Latest geo update is that we are currently prioritising for the geo api integration at next release as outlined in #1534. It includes some issues already referred to on this ticket.

[2020-08-25 20:39] nanometrenat commented on #1534
Not been involved in this but just one thing to note:

I believe this format is deliberate, to allow alphabetising.  NOTE that changing name format away from what it currently is on GO would need careful consideration and may not be something for this round.  Other systems have exports/displays with current format so may also need renaming if renaming on GO (e.g. surge db).
But agree that somehow

[2020-08-26 10:05] frozenhelium commented on #1386
@batpad depends on how urgently we require this. I can take a stab at it after a while.

[2020-08-26 11:46] mariam-yu commented on #1338
Assigning to @LukeCaley for review and finalization specific to the look and functionality of the auto-complete dropdown which includes grouping of elements and UI clean up: https://projects.invisionapp.com/share/8FXCLVKEY6C#/screens

[2020-08-26 13:29] mariam-yu commented on #1210
@LukeCaley This was provided with some other designs in combo, but here it is separately. Suggestion for a back-to-top button that may help with longer pages. It appears after the first screen fold and stays sticky (limitation of the prototype). You can see the red arrow when you scroll down on the right side.

https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/417294996_1-0_GO_Home

[2020-08-26 15:50] tovari commented on #1501
Test on staging has been completed. It works as expected, all IFRC users can see the FRs.
Thanks!

[2020-08-26 17:04] jhenshall commented on #1464
Decided to leave these 'countries' out of the GO database for now to focus on migrating what we have from frontend to backend. This will be considered as part of wider geodata handling after the geo api integration #1534

[2020-08-26 17:41] mariam-yu commented on #1202
@jhenshall and @LukeCaley, here is an updated version of the map.

1 - **Scale**: So, what we are proposing (if that's possible) to have the space around the dots change in scale depending on the number of emergencies. Currently we the scale either by people targeted or financial requirements, but the interviews showed that people wanted to know more how many emergencies were in each of those dots

[2020-08-27 10:35] jhenshall commented on #1473
We've had an email from a user regarding two of the missing districts for Palau not being available when needed for field reports. Just noting here for reference but will already be covered by this ticket. Districts are:
PW003,Kayangel
PW013,Sonsorol

[2020-08-27 12:14] geohacker commented on #1531
Centroids on staging are now updated
![image](https://user-images.githubusercontent.com/371666/91440892-ee578500-e88c-11ea-8358-3fa10bb1df31.png)

[2020-08-27 15:28] jhenshall commented on #1422
New Nepal districts have been added to staging, thank you @geohacker and @GregoryHorvath. Old districts have been kept to avoid breaking field reports that are already linked to them. Will need to add a `deprecated` field to all districts so that those with value `TRUE` can be excluded from dropdown boxes etc.

[2020-08-27 15:47] jhenshall opened #1541 "[Staging] Register screen stuck on loading"
## Issue
Register page on staging site gets stuck on loading and displays grey screen. In console, says `GET_COUNTRIES_FAILED` so could be linked to geo api changes?

## URL
https://dsgoproxyapp.azurewebsites.net/register

## Steps to reproduce
Visit URL above.

## Expected behaviour
Page loads.

## Related feature
Possibly the geo api changes #1534 ?

[2020-08-27 17:03] jhenshall commented on #1276
To minimise risk, we're not making any changes to the existing country data during the migration of geo data to the backend. However, all countries will be given an `independent` attribute of `true` or `false`. Proposing that the country drop-down lists filter out all countries where `independent` = `false`, which looks like it would cover all of the countries listed above.

[2020-08-28 15:28] jhenshall commented on #1473
The reasons for the missing districts seems to vary with some being in disputed territories (e.g. Kosovo) and other that are simply missing from the GO database. For this release, we are prioritising adding the missing districts from independent nations. We will then review all districts as part of the wider geo-data review. Districts being added now:

ADMIN01COD | ADMIN01NAM | ADMIN00NAM
-- | --

[2020-08-28 16:51] jhenshall commented on #1202
Thanks @mariam-yu, looks great! Really like the design for the dot size and definitely need to consider what the scale actually shows as mentioned in #1079. To be honest, I'm not certain what is possible in MapBox yet but will explore properly once we have the data in order.

[2020-08-31 08:36] nanometrenat commented on #1541
@GregoryHorvath this wasn't on the board so I added it to 4.3 so people know where it's at.  Can you please put it to Ready for QA when it's ready?  thanks

[2020-08-31 08:40] nanometrenat commented on #1531
Adding to 4.3 board as I believe this is going in in 4.3 release

[2020-08-31 11:54] geohacker commented on #1473
These have been imported to staging. Thanks @jhenshall and @GregoryHorvath!

[2020-08-31 16:45] GregoryHorvath commented on #1353
- Reduced the timeout of a search query to `5` seconds from `10` (usually it should return `~400-500ms` at max)
- Added retries (3) in case a timeout happens, and usually after the first retry it picks up the results, based on my testing

These are more of a workaround rather than a fix, but should ease the user annoyance with the search a bit. Deployed to staging.

[2020-09-01 06:39] geohacker commented on #1532
This is done on staging.

[2020-09-01 07:09] LukeCaley commented on #1202
1 - Scale: I like the concentric circles concept.  Agree that this would allow for greater variance in symbology size too.  I am sceptical that number of emergencies is more valuable as a reference point for current importance than people targeted.
2 - Colors: Not sure we want blue as it has a different semiotic connotation.  Suggest yellow / orange to denote similar but different.
3 - Text:  Like

[2020-09-01 07:12] LukeCaley commented on #837
@mmusori & @mariam-yu to lead on this task.  @teklal please update here if any further considerations beyond that identified above, including for testing.

[2020-09-01 07:16] LukeCaley commented on #1198
Thanks.  Looking good.  Next step will be to ask member NS their opinion.  Can you open these 3w designs up to comments in Invision please @mariam-yu ?

[2020-09-01 07:17] LukeCaley commented on #1395
Is this intended for the current release @batpad @geohacker ?

[2020-09-01 07:30] LukeCaley commented on #1386
@batpad could you update on the status of this ticket and the elements which require testing in staging if/when complete?

[2020-09-01 07:31] LukeCaley commented on #1353
@batpad would it possible to ask @karitotp to test and report speeds in multiple scenarios?

[2020-09-01 07:51] LukeCaley commented on #1189
@nanometrenat would you mind testing for UAT please?

[2020-09-01 07:52] batpad commented on #1395
Whoops, almost missed this @LukeCaley - have a PR up now, this will be included in this release :+1:

[2020-09-01 07:52] LukeCaley commented on #1518
@nanometrenat would you mind doing the UAT honours, please?

[2020-09-01 08:02] geohacker commented on #1499
This should no longer be an issue. @karitotp tagging you test this again on staging.

[2020-09-01 09:49] GregoryHorvath commented on #989
Now the indexing of new/updated records are happening every 5 minutes alongside with sending out notifications about them. Sometimes this seems to fail for yet unknown reasons, which might be the cause of why some are missing from the search.

I suggest we rewrite the indexing so it would happen as the objects are created/updated (for example changed Emergency name), and removed when an object is

[2020-09-01 10:50] GregoryHorvath commented on #1491
@batpad @frozenhelium @nanometrenat The same thing happens as on the "Steps to reproduce" picture, but with the "Account" page.

Steps:
1. Freshly log in
2. Go to your account dropdown -> Account
3. It now shows the loading forever and the whole page is disabled (can't click anything)
4. Refresh and it goes back to normal

Revisiting the Account page after seems to be working well.

[2020-09-01 11:16] GregoryHorvath commented on #1443
Forgot to put this into "Ready for Q&A" but since the above testing succeeded and there are other improvements and changes coming from https://github.com/IFRCGo/go-frontend/issues/1386 there is no further action needed here and closing this.

[2020-09-01 11:16] #1443 closed

[2020-09-01 11:48] mariam-yu commented on #1198
@LukeCaley Sounds good! I opened up the comment section and removed the links from the two 3W pages so that the users don't hop around. Is that what you had in mind or we allow them to explore the rest of the country pages?

This is the link with comments on: https://invis.io/3XX6LHEPNYC#/372627192_3-2-1_GO_Country_3W (PW: GOprototype)

[2020-09-01 12:00] mariam-yu commented on #1202
@LukeCaley Thanks for your comments! Let us then take another stab at the color instead of blue (@maisa-yu).

Regarding the scale, it's something we can test but it seemed from the interviews that the immediate reaction was to see how many emergencies are in those popups. Also people completely ignored the toggle between people targeted and financial. So, our suggestion is to remove that completel

[2020-09-01 12:26] nanometrenat commented on #1491
Same for emergencies - stuck on loading again (this was previously fixed though right?  but broken as at right now)

- Go to https://dsgoproxyapp.azurewebsites.net/emergencies/3983#additional-information
- Click log in
- Input username and password
- get stuck on emergency page with loading dots

[2020-09-01 12:29] nanometrenat commented on #1491
Could this possibly (perhaps, hypothetically) be linked to https://github.com/IFRCGo/go-frontend/issues/1386 re the Initialisation, as if the user is NOT logged in when they first hit the site (and get the initialising screen/preloading) then they will have the unauthenticated version of all the data, then when they log in they are missing out on anything that requires authentication e.g. user-spe

[2020-09-02 10:15] GregoryHorvath commented on #1491
The fix for this is deployed to staging. Looking at the other happenings.

[2020-09-02 12:36] teklal commented on #956
This feature has brought me a lot of joy this week so thanks all for implementing it! :)

[2020-09-03 07:22] LukeCaley commented on #1202
Thanks @mariam-yu. I'm sure you're already aware but https://colorbrewer2.org/ is a good resource for this.

[2020-09-03 08:33] geohacker opened #1547 "Add `deprecated` field to countries and districts"
**Is your feature request related to a problem? Please describe.**

There are often cases when we need to deprecate countries and districts in the GO database. For example, sometimes new districts are formed by splitting existing districts, and sometimes the country boundary stances change.

These situation poses a bit of challenge for existing reports. They should continue to work and the links s

[2020-09-03 10:57] geohacker commented on #1202
This looks neat @mariam-yu. The labels, hovers, and popups should all be possible. It will be a bunch of work, but definitely possible!

[2020-09-03 11:00] geohacker commented on #1547
This is in staging now. cc @jhenshall would be great if you can try this out and make sure it's doing the right thing :) Thanks!

[2020-09-03 15:02] nanometrenat opened #1548 "[PROD] Grey screen when opening GO in IE - suggest a "use other browser" warning"
## Issue
Users accessing GO with Internet Explorer just see a completely grey screen and think something is broken.

It has explicitly been decided that GO is not supported on IE; however we need some way of telling the user that so we don't get support calls.

It would be great if GO could detect the user's browser, and display wording such as "Internet Explorer cannot be used to access GO.  Plea

[2020-09-03 15:03] mariam-yu commented on #1202
Thanks @LukeCaley and @geohacker ! @LukeCaley how is this yellow for multiple types? https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/429808499_Map_4

[2020-09-04 11:04] batpad commented on #1240
@karitotp could you look at the updated issue with the testing notes and let us figure out a plan to test this thoroughly? Thanks!

[2020-09-04 14:45] karitotp commented on #1240
Hi @batpad @frozenhelium, Here what I got from my testing, for the test for other functionalities;

- Login is working fine.
- Export works fine, and as Guido mentioned, it only contains the ID nad the Dev string without the translations.
- When I logged in, the showed dashboard is the normal mode without the conflict tabs.
- When I modified or deleted the strings in "value" column, it update corr

[2020-09-06 16:02] LukeCaley commented on #1108
As @teklal has now left the team, reassigning this to @mmusori
cc @nanometrenat @tovari

[2020-09-06 16:10] LukeCaley commented on #1491
@batpad - can you update on the status of this ticket please?  It would be good to know if this is going to be a blocker for the release and to give @karitotp sufficient time and detailed scenarios to test robustly.

[2020-09-07 07:05] batpad opened #1550 "[Staging] Key figures on home-page showing Data not Available"
## Issue

On staging, https://dsgoproxyapp.azurewebsites.net/, I see `Data not available` for the Key Figures on the home-page. I am not fully certain why and whether this is a backend or frontend issue.

## URL

https://dsgoproxyapp.azurewebsites.net/

## Steps to reproduce

Go to URL, expect to see Key Figures at top of home-page, instead see `Data not available`.

## Expected behaviour

I shoul

[2020-09-07 07:10] batpad commented on #1548
cc @frozenhelium for advice / recommendations on the best approach here.

My hunch / suggestion would be to do browser detection early, and show a simple message to IE users saying we are very sorry, but they are using an unsupported browser and they can use any of these other browsers - @frozenhelium how feasible do you think this is?

Would be good to know how important this is from a business p

[2020-09-07 10:19] frozenhelium commented on #1548
@batpad We can block the further processing / rendering of the GO app for IE.
We need to detect the browser first. [browser-detect](https://www.npmjs.com/package/browser-detect) an excellent library for that. We can then conditionally initialize the React app in the `src/index.js` according to the browsers we support.
We can also show the recommended browser if we detect that user is currently run

[2020-09-07 11:08] frozenhelium commented on #1240
@karitotp
#4 - Yes, any changes to a specific language will not affect any other language
#5 - Conflict mode occurs only when developer adds/changes/removes string in the code base. I can setup the conflict in the staging server if required.
#6 - I'll have to check if there's anything causing that issue

I think the only thing remaining to test is the conflict resolution mode and the export. Let m

[2020-09-07 12:48] karitotp commented on #1240
@frozenhelium,that would be great. Thank you!

[2020-09-07 18:54] jhenshall commented on #1534
Hey @geohacker - all of this looks to be covered now except the 'update independence status for all countries'. Can't find a ticket specifically on this. Do you have an update? Would also be great to filter countries in the dropdown based on independence if possible ([also mentioned here](https://github.com/IFRCGo/go-frontend/issues/1276#issuecomment-682074269)).

[2020-09-07 19:01] jhenshall commented on #1547
Initial check looks good @geohacker! But will dig in some more for edge cases and possible breakages of linked reports.

[2020-09-08 05:46] geohacker commented on #1534
@jhenshall I think our plan now is to not edit that bit and leave the API as is. We should fill this in once the new shapefile with all data inconsistencies are resolved. So for now, users can expect what they have always seen and it doesn't break anything. Does that sound ok?

[2020-09-08 11:56] GregoryHorvath commented on #1353
The above was deployed as a hotfix to production yesterday. @LukeCaley should this be moved to Done or keep it open?

[2020-09-08 12:25] nanometrenat commented on #1353
Thanks @GregoryHorvath!! Agree that it works second time each time now (if the user stays on the field a few seconds to let it do its thing)  So that is miles better than before - thank you!  Re this ticket, it is with Luke and @tovari to prioritise but to me it would be good to keep this open until search works seamlessly for the user first time each time.

[2020-09-08 20:24] mariam-yu opened #1555 "UX/UI Updates"
A few design tasks (both functional and then visual) are combined in this ticket. The outcome will be the updated wireframes and the UI prototype.

- Finalize consistencies/terminology
- Explore country page layout without emergencies
- Highlighted Operations without ERUs
- Pushing users to login - experience
- Footer update
- Match the UI prototype to the live version

[2020-09-08 20:26] mariam-yu opened #1556 "Error messaging review and proposal"
The task will include reviewing how error messaging is currently presented throughout the platform and propose a "cleanup" and consistent approach both from UX (functional) and UI (visual) aspects.

[2020-09-08 20:28] mariam-yu opened #1557 "UI library design (GitHub-based)"
As discussed with the team, the goal is to incorporate the UI library that is currently hosted in Zeplin into a newly created space on Github. The design team will provide designs and guidelines on the best way to present the elements and pages. @guipizzini tagging you here as well to tackle this together.

[2020-09-08 20:31] mariam-yu opened #1558 "Back-end functionality design for front-end"
The goal of this task is for the design team to review where the external users need to access the back-end and how to bring those features to the front-end (similar to existing forms) in a coherent way. The pure back-end functionality will remain only for the admins.

The process will include review of the platform, understanding various use cases of access from the team and a design proposal.

[2020-09-08 20:31] #1209 closed

[2020-09-08 20:32] mariam-yu commented on #1209
Closed this issue, as it will be combined with a few UX/UI updates in Phase 4.4 and doesn't need a full ticket.

[2020-09-08 20:36] #1204 closed

[2020-09-08 20:36] mariam-yu commented on #1204
Closing the issue as it is combine with other UX/UI tasks in phase 4.4 and doesn't need a full ticket.
https://github.com/IFRCGo/go-frontend/issues/1555

[2020-09-08 20:39] mariam-yu commented on #927
The goal of this task is for the design team to review where the external users need to access the back-end and how to bring those features to the front-end (similar to existing forms) in a coherent way. The pure back-end functionality will remain only for the admins.

The process will include review of the platform, understanding various use cases of access from the team and a design proposal.

[2020-09-08 20:40] #1558 closed

[2020-09-08 20:40] mariam-yu commented on #1558
Duplicate issue with: https://github.com/IFRCGo/go-frontend/issues/927

[2020-09-09 06:13] batpad opened #1559 "[Staging] Testing of Frontend Translations"
Creating a separate issue to track testing related to functionality testing of the translation of frontend static strings. We need to test that:

 - The Language Switcher dropdown works to change the language of the all the UI strings.
 - There are no strings in the UI that are not translated (strings in the content / things coming from the backend are not expected to be translated right now).
 -

[2020-09-09 07:24] nanometrenat opened #1560 "[Staging] Translations - alignment issue when viewing in Arabic"
## Issue
Logged on behalf of @LukeCaley (feel free to add any additional info)

In Staging, if I switch to Arabic language then scroll down the page the page elements jump around (horizontally) as I go down the page - but this seemingly doesn't happen in the Left to Right languages.

## URL
https://dsgoproxyapp.azurewebsites.net/

## Steps to reproduce
Go to staging, scroll down.

Note that it see

[2020-09-09 07:45] nanometrenat commented on #1560
@batpad the above was in Chrome.  Just tried in Firefox and didn't get any jumpiness on Arabic homepage

[2020-09-09 07:47] LukeCaley commented on #1560
Thanks @nanometrenat !  Confirmed same behaviour when using the mouse wheel.  And, eerily, only when moving slowly...

[2020-09-09 07:48] batpad commented on #1560
Hmm .. the only thing I could find that seemed like it could be the cause of this was something like https://github.com/harvesthq/chosen/issues/447 .

This definitely *seems* like buggy browser behaviour. I'm as yet unable to reproduce. @imohkay do you have any ideas? cc @frozenhelium

[2020-09-09 08:01] geohacker commented on #1560
I just tried this on macos (10.15.6, catalina), chrome (Version 85.0.4183.83 (Official Build) (64-bit)) and couldn't reproduce. [Video](https://www.dropbox.com/s/z4o22wth45nu33h/Screen%20Recording%202020-09-09%20at%201.23.14%20PM.mov?dl=0).

[2020-09-09 08:03] batpad commented on #1560
This bug is looking suspiciously like this bug report on Chrome: https://support.google.com/chrome/thread/41121384?hl=en

[2020-09-09 08:11] batpad commented on #1560
For folks who have reported this problem - @LukeCaley @nanometrenat - could you confirm if you are zoomed in to the webpage when this occurs (you can press ctrl+0 to reset your zoom) ?

According to the above linked ticket on Chrome, they say this is fixed with the newest Chrome release - it definitely seems like the bug we are running into is this ticket - if it is indeed this bug, there's likely

[2020-09-09 08:22] geohacker commented on #1560
In the video I posted above, my browser was actually zoomed in. Just tried with ctrl+0, can't reproduce.
Would also be good to compare browser version with @LukeCaley and @nanometrenat

[2020-09-09 08:24] nanometrenat commented on #1560
I'm using Version 85.0.4183.83 (Official Build) (64-bit) on a normal IFRC laptop (Lenovo T460s)

[2020-09-09 08:33] batpad commented on #1560
I was able to reproduce this on a Windows machine with Chrome v85.0.4183 .

I was able to go to `chrome://flags/` and set the `Smooth Scrolling` option to Disabled. Then, the jumpiness went away. Of course, we cannot ask our users to do this, but this confirms that it is indeed a Chrome bug with this "smooth scrolling" option. It **seems** to also be specific to Windows, but would need to confirm

[2020-09-09 08:40] nanometrenat commented on #1559
@guipizzini are you able to confirm if the above matches your intention?  It is slightly different to my understanding.  I thought we were still translating the config items from the backend - e.g. regions, countries, actions, disaster types etc. - and it's just the user-generated content that would not be translated right now.  However Sanjay's instructions imply that nothing at all from the back

[2020-09-09 08:41] batpad commented on #1560
@imohkay - this maybe worth looking at to see if there's any CSS fixes / hacks here that might help. I've still be unable to reproduce on my end, but if we're able to reproduce any circumstance where a horizontal scrollbar appears, the jumpiness maay go away if we ensure there's never a horizontal scroll (though in my testing across multiple browsers on my machine, I've been unable to get a horizo

[2020-09-09 08:48] GergiH opened #1561 "[Dev] Emergencies page payload is null"
## Issue
Hovering over the empty "EMERGENCIES OVER THE LAST YEAR" box gives the following error
![image](https://user-images.githubusercontent.com/30079559/92576319-b0456280-f289-11ea-9b50-481e1d235f02.png)
[code]

## URL
https://dsgoproxyapp.azurewebsites.net/emergencies/

## Steps to reproduce
- go to the above URL
- hover over the "EMERGENCIES OVER THE LAST YEAR" box
![image](https://user-image

[2020-09-09 09:17] GregoryHorvath commented on #1561
This seems to happening because when I switched to use the staging API instead of my local one it didn't log me out from the frontend but the API was giving `401 - Unauthorized` responses probably because of my local user was logged in still.

This way it's not really a blocker anymore and it's rather unlikely that we'll have no data in that box for this error to occur again (or unless we switch A

[2020-09-09 09:23] batpad commented on #1559
@nanometrenat yep - I was enumerating what we had ready for testing as of now, to be able to proceed testing the current state.

Can we edit and add in the Translations of the config items when these items are ready to be tested?

[2020-09-09 09:24] batpad commented on #1561
@GregoryHorvath thanks for reporting and the follow up.

Yes, I have noticed errors when moving my local development env from local to staging and vice-versa and not clearing browser cookies. This is a very specific case in the developer environment, and I would be in favour of closing this.

[2020-09-09 09:29] GregoryHorvath commented on #1561
I thought about closing it too because of the original use-case. I just don't know if we'd want to fix the error caused by the `<Tooltip>` if this has no data as shown on the screenshots, so thus I kept it open.

[2020-09-09 12:56] nanometrenat commented on #1386
possible xref https://github.com/IFRCGo/go-frontend/issues/1529

[2020-09-09 15:01] karitotp commented on #1559
@batpad, Overall almost everything looks good to me.

Where I see a weird behavior when the language is switched, was in the follow chart:

- In the emergency page in Arabic language, the number chart is far from the graphic

![Selection_047](https://user-images.githubusercontent.com/11504548/92608220-b253f500-f27a-11ea-8803-39fe08c545d7.png)

In a region page in Spanish language, the stat chart i

[2020-09-09 17:16] LukeCaley commented on #1386
As discussed on the call today (09/09), @batpad to confirm progress, loading speed expectations once 'resolved' and likelihood of this being rolled into the current release.  Suggest that this needs to be completed by 11/09 in order to be considered for the 'safari' release

[2020-09-09 17:20] LukeCaley commented on #1560
As discussed on the call today (09/09), if this is confirmed as a specific browser issue then fine to accept as a known issue that _should_ be resolved with chrome updates.  Before doing this, great if @imohkay could investigate and note details here as per

[2020-09-09 23:03] nanometrenat opened #1563 "[PROD] 400 error when editing Global COVID-19 page - urgent"
## Issue
@anamariaescobar and I are trying to add content to the Global COVID-19 emergency page in Production.  However whenever we try to make changes (e.g. add a snippet, add a sitrep document, delete a row) the changes do not save and we get a "Bad Request (400)" error returned.

This seems to be specific to this emergency (https://goadmin.ifrc.org/api/event/3972/change/) as we have edited othe

[2020-09-09 23:09] nanometrenat commented on #1563
xref this old ticket that has same error editing an emergency:  https://github.com/IFRCGo/go-frontend/issues/623

[2020-09-10 06:10] imohkay commented on #1560
@frozenhelium @LukeCaley @batpad I took a look and it appears to be the CSS Transforms (inserted into the DOM and dynamically updated via JS) via the [react-tether plugin](https://github.com/danreeves/react-tether).
Fixing this won't be too straightforward, IMHO.

This react-tether plugin is used within the dropdown plugin to accurately position the dropdown content below the dropdown header via J

[2020-09-10 06:33] nanometrenat commented on #1011
@LukeCaley @GregoryHorvath am wondering if this ticket is staying open for a specific outstanding action/reason?
I think that https://github.com/IFRCGo/go-api/issues/670 covers the RTE snippets work Greg has has been doing.
https://github.com/IFRCGo/go-frontend/issues/931 was the one that was pulled from the Excel sheet into Github back in January, that may be able to be closed too and new clean t

[2020-09-10 06:35] nanometrenat commented on #931
Xref comment on https://github.com/IFRCGo/go-frontend/issues/1011#issuecomment-690020781

[2020-09-10 08:07] GregoryHorvath commented on #1011
@nanometrenat I think you're right and the original issue in the ticket was dealt with some time ago. I'd say this can be closed.

[2020-09-10 08:23] batpad commented on #1559
@frozenhelium it seems like we have some interesting issues with the Dropdown, which may also be partially responsible for #1560 . I know @imohkay took a bit of a look at this and there's some `react-tether` library that tries to handle the tethering that may not be dealing so well with RTL.

@frozenhelium would you be able to triage these issues identified and tag @imohkay and me where we can hel

[2020-09-10 09:45] batpad commented on #1548
@LukeCaley @mariam-yu could we get copy for text to show the user if they are using Internet Explorer?

@frozenhelium - thanks! So we'd just add some conditional like `if (browserIsNotIE) { ... render the React app .. } else { document.getElementById('app-container').innerHTML = 'Sorry we do not support your browser' }` <-- something like this?

@GregoryHorvath might this be something you can take

[2020-09-10 10:29] batpad commented on #1559
@imohkay can we look at the issue of the chart labels on hover appearing very far from the mouse cursor when Arabic is selected as the language? Seems like an issue with the ReCharts plugin, would be good to dig a bit and see what the best fix here is.

@frozenhelium to look at the issues identified with the Dropdown, also related to #1560

[2020-09-10 11:27] GregoryHorvath commented on #1548
@batpad I'll look into it sure and try to make the base functionality working so then we'll have to just replace "lorem ipsum" with the design/text.

[2020-09-10 11:45] frozenhelium commented on #1529
Depends on: https://github.com/IFRCGo/go-api/issues/889

[2020-09-10 11:47] frozenhelium commented on #1529
@nanometrenat It's similar to the issue you mentioned above, but not exactly.  https://github.com/IFRCGo/go-frontend/issues/940 is about the model fields and this issue is specifically about the ENUM / constant fields

[2020-09-10 12:34] nanometrenat commented on #1559
The config item translation is being tracked under https://github.com/IFRCGo/go-api/issues/888 (not on a board yet)

[2020-09-10 17:58] jhenshall commented on #1473
@geohacker @GregoryHorvath - I've just noticed that the newly added districts here and for Nepal #1422 do not have a `country_name` value in the API. I missed this before, as the front end functionality is fine and must work on ISO2 code? Would be a nice to have on staging, but definitely when adding to prod. 🙂

[2020-09-11 05:05] geohacker commented on #1473
@jhenshall Nice catch. Yes, that's because the shapefile that we used to import Nepal districts didn't have anything in the `COUNTRY` column. The import script will grab the name if that column is not null https://github.com/IFRCGo/go-api/blob/develop/api/management/commands/import-admin1-data.py#L79

On staging, I recommend you going ahead in the admin and adding these as fixing for just these wo

[2020-09-11 08:00] batpad commented on #1559
For the ReCharts issue where the labels are appearing far away I found this issue: https://github.com/recharts/recharts/issues/263 - @imohkay would you be able to take a look and see if any of the CSS work-arounds there seem implementable in our case?
cc @frozenhelium

[2020-09-11 09:42] batpad commented on #1517
This was implemented in https://github.com/IFRCGo/go-frontend/pull/1564#event-3755172583 - thank you @frozenhelium !!

This is ready for testing. Now, the initial data load which loads countries, regions and the user profile data will be cached with an expiry time of 1 day. This can be configured, so we can change the expiry time if needed.

To Test:

 - Initial data loading screen no longer appea

[2020-09-11 09:45] batpad commented on #1491
This has been addressed in #1549 and should fix the issues related to pages getting stuck on loading. Again, thank you @frozenhelium !

We have updated all pages identified as having issues with the new pattern for displaying loading with the new global loading pattern. We have as yet not implemented this on all pages, but we believe this should no longer cause any user facing issues and implement

[2020-09-11 09:48] batpad commented on #1541
This should now be fixed in staging. Can you please confirm @jhenshall ?

cc @karitotp

[2020-09-11 10:04] frozenhelium commented on #1560
[This PR](https://github.com/IFRCGo/go-frontend/pull/1565) fixes this issue by replacing all dropdowns that use react-tether plugin. There's still some stylings to be fixed. After discussing with @batpad we decided to merge this to test it out properly and fix the styling later.

The drop downs were replaced in following places and might need some styling touchup:
* `components/mobile-header.js`
*

[2020-09-11 10:10] batpad commented on #1560
Re-opening since it seems to have been accidentally closed via commit message.

[2020-09-11 10:11] batpad commented on #1560
It would be great to test if this seems to have fixed the issue.

@LukeCaley @nanometrenat would you be able to test staging and see if the jump on scroll for RTL is now gone?

@imohkay am co-assigning you here. Will be great if you can take a look at the styling touch-ups that are needed with the new dropdowns.

[2020-09-11 10:12] batpad commented on #1550
Closing this to reduce clutter.

[2020-09-11 10:12] #1550 closed

[2020-09-11 10:13] batpad commented on #1528
@frozenhelium can you confirm that this is no longer in scope for 4.3?

@LukeCaley maybe we can take this off the board and re-visit when we are enabling dynamic translations if we still need to do this.

[2020-09-11 10:15] batpad commented on #1527
@karitotp could you please check and confirm if this is fixed? I was unable to reproduce here.

[2020-09-11 10:16] batpad commented on #1526
Can we close this?

Do we need another issue for contacts not showing @nanometrenat ?

[2020-09-11 10:16] batpad commented on #1510
This should be fixed with the new global loading, ready to test in staging.

[2020-09-11 10:17] batpad commented on #1499
@karitotp could you please confirm the fix here?

[2020-09-11 10:18] batpad commented on #1466
The styling of the export map layout was fixed and is in production. Closing here.

[2020-09-11 10:18] #1466 closed

[2020-09-11 10:19] batpad commented on #1395
This is on staging now.

[2020-09-11 10:21] frozenhelium commented on #1528
@batpad Yep, this is no longer in the scope of 4.3 since we're not adding the automatic translation for now

[2020-09-11 10:43] #1526 closed

[2020-09-11 10:45] nanometrenat commented on #1560
@batpad Just checked in staging and I'm afraid it's still flicking round for me.

[2020-09-11 10:47] nanometrenat commented on #1510
thanks - confirmed that emergencies page loading dots now show within the section rather than instead of the page cheers.

[2020-09-11 10:57] frozenhelium commented on #1560
@nanometrenat the build failed and that fix didn't make it up to the staging. It's there now.

[2020-09-11 11:00] jhenshall commented on #1541
Thanks! The grey screen issue seems fixed but in trying to create a new account, the country field fails with 'should be string'. Is this a separate issue? Maybe related to the geo work?
cc. @batpad @geohacker @karitotp

![image](https://user-images.githubusercontent.com/6359748/92917012-fa634b00-f425-11ea-9ea3-12980a87e25c.png)

[2020-09-11 11:05] batpad commented on #1541
Thanks @jhenshall !

@geohacker do you know what might be the cause of this validation error? Something about the "type" of the country id and that needing to be updated in the validation schema?

cc @GregoryHorvath

[2020-09-11 11:09] nanometrenat commented on #1560
It scrolls BEAUTIFULLY now!  thanks team

[2020-09-11 11:26] geohacker commented on #1541
Ah yes, this is a validation issue. I'll fix! Thanks for catching @jhenshall!

[2020-09-11 13:47] karitotp commented on #1527
@batpad, Now the Url works :+1:

[2020-09-11 14:03] karitotp commented on #1499
This issue is still there @geohacker @batpad

[2020-09-11 14:34] karitotp commented on #1491
@batpad, I checked all the page that did not load before mainly and none of them have now that problem, also I gave a look to the rest of the pages and all them load correctly taking a few seconds to load.

[2020-09-13 21:14] karitotp commented on #1517
@batpad, the chache is working as the above steps :+1:

[2020-09-14 05:31] #1560 closed

[2020-09-14 08:10] batpad commented on #1499
@karitotp thank you! It should be fixed now, can you please test again?

[2020-09-14 08:12] batpad commented on #1541
The validation issue should now be fixed in staging.

@jhenshall could you please test and confirm?

@karitotp Would also be good to give a full test to the Register page functionality after this fix. Thank you!

[2020-09-14 08:15] tovari opened #1573 "Test - will be deleted"
**Is your feature request related to a problem? Please describe.**
*A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]*

**Describe the solution you'd like**
*A clear and concise description of what you want to happen.*

**Describe alternatives you've considered**
*A clear and concise description of any alternative solutions or features you've considered.*

[2020-09-14 08:17] #1573 closed

[2020-09-14 08:26] batpad commented on #1559
@karitotp the issue you identified with the chart labels coming very far from the mouse pointer when Arabic language is selected should now be fixed, could you confirm?

[2020-09-14 08:30] batpad commented on #1560
Closed accidentally due to commit message, re-opening.

The fix for this involved changing the way we handle the Dropdown component in the header - used for the Field Report Dropdown and language selector.

@karitotp - could you please test that the dropdowns in the header continue to work correctly?

@LukeCaley since we have had a hard time reproducing the bug on non-Windows machines, it would be

[2020-09-14 09:08] jhenshall commented on #1541
Thanks @batpad - successfully signed up as new user, so all good.

[2020-09-14 09:10] geohacker commented on #1534
Now that we have done all the above things that involve code and data changes and deployed them to staging, I'll outline the steps to take when we go to production.

All the data files are in a dropbox folder which Johnny, Greg and I have access to at the moment. If anyone else need access, please let me know.

## regions
* [ ] Update bbox by running `python manage.py update-region-bbox`

## admin

[2020-09-14 09:18] nanometrenat commented on #283
@mmusori as the pdf scraping is happening in GO database in Prod can this ticket be closed now?

[2020-09-14 11:48] jhenshall commented on #1531
I've compiled a [list of UAT scenarios to test](https://docs.google.com/spreadsheets/d/1mnOuRZlzexG4Pi-QcKaGVNOlVvpPCRakiKzuW4GJFiM/edit#gid=0). Some of these need expanding more - I intend to do a first run through on staging and will clarify some of the points as I do so. This is my initial brain dump of everything. Also doing some local testing to try and replicate what the prod database will l

[2020-09-14 13:47] karitotp commented on #1559
It is fixed, @batpad

[2020-09-14 13:58] karitotp commented on #1499
@batpad it was fixed, the empty space in the country dropdown is not there anymore.
But the countries in the dropdown is appearing with (fr) at the beginning, this happen in all languages.

![Screenshot from 2020-09-14 08-53-14](https://user-images.githubusercontent.com/11504548/93094950-25d57800-f668-11ea-90b4-cb3e7a25a3ba.png)

[2020-09-14 14:05] batpad commented on #1499
Thanks @karitotp !

@frozenhelium this seems to be a cache issue -- user has French selected when they make Countries request - then they change language, but it still uses French countries from cache.

@frozenhelium we should probably bust the cache whenever the user changes language? Let me know if you would like me to make a separate ticket for this. Thanks!

[2020-09-14 14:23] karitotp commented on #1541
@batpad, in terms of mandatory fields, seems is not working good for the City an the Organization name when National society is selected, or could be that only there is missing the validation message

![Selection_051](https://user-images.githubusercontent.com/11504548/93097938-d4c78300-f66b-11ea-9a66-ca3d8c12dfe9.png)

[2020-09-14 14:34] karitotp commented on #1499
This issue of French initials in the countries is also in the list of countries in the different regions.

![Screenshot from 2020-09-14 09-28-36](https://user-images.githubusercontent.com/11504548/93099142-4fdd6900-f66d-11ea-90b5-770f1ef91443.png)

[2020-09-14 14:38] batpad commented on #1541
@karitotp yea, i think here the problem is that it only shows the first validation error and not all when submitting. We can track this as a separate issue if needed, cc @GregoryHorvath . thank you!

[2020-09-14 14:39] karitotp commented on #1560
@batpad, they work good to me

[2020-09-14 14:44] karitotp commented on #1559
@batpad, In Arabic language, the header of the form for a new FR does not look good.

![Screenshot from 2020-09-14 09-36-49](https://user-images.githubusercontent.com/11504548/93100418-bf078d00-f66e-11ea-8669-35af59dfc351.png)

[2020-09-14 20:59] jhenshall commented on #1473
Thanks @geohacker. I've filled in the missing countries on staging and updated the country column in the shapefile to be used for prod.

[2020-09-15 08:11] frozenhelium commented on #1499
@batpad Yep, we should clear cache on language change

[2020-09-15 10:40] jhenshall commented on #1464
Hey @geohacker @batpad @GregoryHorvath - reconsidering the decision above to not include the missing countries and would be great to get your input for what's best for the immediate release vs longer term.

I'm conscious of the different ways that overseas territories are handled (e.g. Saint Helena is in the existing GO database but Montserrat is not - both are Overseas Territories of UK and run a

[2020-09-15 12:07] tovari opened #1577 "[Staging] Translation - Site goes to grey in various cases"
## Issue
*Site goes to grey in different scenarios.*

## URL
*https://dsgoproxyapp.azurewebsites.net/account#account-information*

## Steps to reproduce
*Chrome:
Select a region from the drop-down. Repeat the region selection a few times. It might go to grey after 2nd, 3rd try.

Firefox, Edge:
Go to Account information. Site goes to grey.

Error from console:
Uncaught TypeError: t.find is not a fu

[2020-09-15 13:35] jhenshall commented on #1541
@batpad @geohacker - not sure if this is related to this ticket but the country drop down on [staging register page](https://dsgoproxyapp.azurewebsites.net/register) now has 'no results found'. Also noticed some weird behaviour of the field report drop down not reflecting changes made in the database. Can create a new ticket if not related to this?

[2020-09-15 14:15] batpad commented on #1541
This seems to be a bug we have recently introduced. Looking to fix that right now.

We now cache country names on the client side for up to a day. If you go to https://dsgoproxyapp.azurewebsites.net/clear-init-cache and reload, you should see latest changes from the db.

[2020-09-16 05:59] batpad commented on #1386
The updated design for the loading screen should now be on staging, also the caching of countries and regions.

[2020-09-16 08:07] batpad opened #1583 "[Staging] Header above Field Report looks broken RTL"
## Issue

Breaking this into a separate issue, the header bar over the field report form looks broken when language is Arabic:

Screenshot:

https://user-images.githubusercontent.com/11504548/93100418-bf078d00-f66e-11ea-8669-35af59dfc351.png

Original report: https://github.com/IFRCGo/go-frontend/issues/1559#issuecomment-692104997

## URL

https://dsgoproxyapp.azurewebsites.net/reports/new

## Ste

[2020-09-16 08:09] batpad commented on #1577
@tovari I'm unable to reproduce this.

Perhaps this is some-how specific to the user you're logged in as / some combination of things? If you could share the credentials for the user you're logging in as on staging as a private message on Teams, perhaps this helps me reproduce this issue.

[2020-09-16 09:06] geohacker commented on #1464
@jhenshall it's ok if we want to import the missing countries into the database right now, but I'm less clear on what problem it would solve for the users immediately. Especially that they won't appear in the field report dropdowns. Is the goal that the overseas territories show up as districts under UK?

While making the db consistent with the ICRC shapefile is a good idea I don't know if merely

[2020-09-16 09:30] mariam-yu commented on #1386
@batpad awesome! Then when we get a chance, we can update the new 3 dot pre-loader for the other sections.

[2020-09-16 09:35] tovari opened #1584 "[Staging] New field report - Status radio button should be reactivated"
## Issue
*If I choose "COVID-19 Related Event" (Yes), the Status (early action) is grayed out. If I then choose COVID Relevant (No) the Status (early action)does not become available*

## URL
*https://dsgoproxyapp.azurewebsites.net/reports/new*

## Steps to reproduce
*If I choose "COVID-19 Related Event" (Yes), the Status (early action) is grayed out. If I then choose COVID Relevant (No) the Statu

[2020-09-16 09:57] tovari opened #1585 "[Staging] Emergency table format breaks when country list is long"
## Issue
*Emergencies with many involved countries break the  table formatting.*

## URL
*http://dsgoproxyapp.azurewebsites.net/emergencies`*

## Steps to reproduce
*Click on Affected or Glide to sort the table items.

GDACS Orange: Antigua and Barbuda, Anguilla, Virgin Islands British, Virgin Islands U.S., Puert...
--
item breaks the table format.

*

*If applicable, add screenshots to help expla

[2020-09-16 10:27] jhenshall commented on #1473
@geohacker - I've added the updated shapefiles with `COUNTRY` column populated to the same filepaths on dropbox (moved the old ones to `archived` folder). Hopefully this means it will now carry across the `country_name` attribute on prod.

[2020-09-16 10:34] jhenshall commented on #1464
Thanks @geohacker. Makes sense. Ok, let's stick with the original plan and leave these for now with a view to revisiting this as part of the bigger geo-data review. Cheers!

[2020-09-16 13:54] batpad commented on #1585
@tovari is it possible to provide a screenshot? I maybe missing seeing the exact issue here.

[2020-09-16 14:00] batpad commented on #1584
@tovari unfortunately, this issue has a bit of a history and is non-trivial to fix.

The problem is that when the user selects COVID-19, we auto-select `Epidemic` as the Disaster Type. Now when the user unselects COVID-19, resetting the disaster type is really awkward. In this case, if you change the Disaster Type to something other than Epidemic, you will be allowed to select Early Warning. With

[2020-09-16 14:28] batpad commented on #1583
Fix for this has been merged.

@karitotp could you please test and confirm that the header above the field report now looks and behaves correctly when Arabic is selected as the language?

[2020-09-16 14:34] mariam-yu commented on #1555
Push to Login UX/UI suggestions - https://docs.google.com/document/d/1rB1pgS-HtlH7NC60tnUlQjtrkLidOogd78yEPOBVqyA/edit?usp=sharing @LukeCaley to review (whenever you get a chance)

[2020-09-16 15:35] jhenshall commented on #1547
Just noting here that the country and district lists in the backend still show entries that have been deprecated. This may actually be desirable because it gives admin users the ability to link to old countries and districts if needed but I'm not certain there is a use case for that. Could definitely lead to confusion but guess not many people can/will be making changes directly in the backend. Op

[2020-09-16 16:23] jhenshall commented on #619
Another example of this is Laos from GDACS not matching to Lao PDR in the GO database - e.g. for this [GDACS event](https://go.ifrc.org/emergencies/4769#details). A consideration for the wider geo-data changes! cc @geohacker

[2020-09-16 17:10] jhenshall opened #1589 "[Staging] 3W form - dropdown boxes not loading"
## Issue
On the form to create a new 3W entry, the dropdown boxes for 'Reporting national society' and 'Country' display 'No results found'.
![image](https://user-images.githubusercontent.com/6359748/93369868-e5cceb80-f847-11ea-9520-eca84e30583e.png)

## URL
e.g. https://dsgoproxyapp.azurewebsites.net/emergencies/4043#details

## Steps to reproduce
- Go to URL above
- Click 'Create 3W activity' bu

[2020-09-16 17:13] jhenshall commented on #1589
cc @geohacker incase related to geo stuff.

[2020-09-16 17:34] karitotp commented on #1583
@batpad, the test shoul be do in staging? If so, it is still broken.

[2020-09-17 07:58] batpad commented on #1583
@karitotp sorry seems like there was some problem with the deploy, this should be on staging now.

[2020-09-17 12:00] jhenshall opened #1591 "[Staging] 3W editing menu only shows limited options"
## Issue
When clicking the 3 dots to access the 3W editing menu, sometimes it only displays 'View details', rather than all menu options. This is when logged in with the test-admin account that does have sufficient permissions. Weirdly, it's intermittent and the behaviour and seems like it can be forced using [this link](https://dsgoproxyapp.azurewebsites.net/countries/171#3w). I currently have tw

[2020-09-17 14:14] jhenshall commented on #938
@batpad @geohacker - just for visibility, I am moving this out of 4.3 as it is difficult to UAT a ticket of other tickets. Once this release is done, would be great to review all remaining geo issues and close this one (which has been a great single-source ticket) but with a preference for more defined tickets. Cheers.

[2020-09-17 14:55] tovari commented on #1517
@batpad, @karitotp, I still see the same behavior after clearing the cache as before that. I see the data loading screen each time I reload the page. I'm not completely sure though, what should I expect exactly. Clearing cache would also release the language of the site and would log out the user?
Thanks!

[2020-09-17 17:26] karitotp commented on #1583
:+1: it is fixed!

[2020-09-18 08:00] batpad commented on #1577
@tovari this should now be fixed on staging. Could you verify, also please update in case you are facing a grey screen anywhere? Thank you again for this catch.

[2020-09-18 08:39] batpad commented on #1589
@frozenhelium @GregoryHorvath can this be moved to Ready For QA?

[2020-09-18 09:07] frozenhelium commented on #1589
Yepp

[2020-09-18 10:20] batpad opened #1595 "[Staging] Translation: "Type to Search" string does not get translated"
## Issue
The string "Type to Search" that appears when you click on the main Search Box does not get translated.

This string comes from the Select2 library and there does not seem to be an obvious option to pass to customize this string.

Will need a bit of digging.

cc @frozenhelium @GregoryHorvath @guipizzini

@GregoryHorvath assigning to both of us - let's try and just update here with a poten

[2020-09-18 10:46] frozenhelium opened #1596 "[Staging] Refactor account details to support translation"
## Issue
Account details is currently rendered from map of the database fields
[code]

We cannot translate for this type of fields. We need to separate it out to individual fields and appropriately add translations.

[2020-09-18 10:52] jhenshall opened #1597 "[PROD] Add missing 'districts' for Cook Islands"
## Issue
The Cook Islands doesn't have any administrative subdivisions because there are no districts in the Admin1 shapefile from ICRC. Districts to be added are below but need to source data, perhaps from forthcoming ICRC admin2 data set?

1.	Rarotonga
2.	Aitutaki
3.	Mitiaro
4.	Mauke
5.	Mangaia
6.	Aitu
7.	Manihiki
8.	Rakahanaga
9.	Palmerston
10.	Nassau
11.	Pukapuka
12.	Penhryn

[2020-09-18 12:58] tovari opened #1600 "[Staging] Field Report creation in es, fr, ar lanugauages"
## Issue
*Creating FR on es, fr, ar UI is possible, but the created FR texts are not visible on languages other than english.*

## URL
*https://dsgoproxyapp.azurewebsites.net/reports/9651*

## Steps to reproduce
*Create FR on the es, fr or ar UI.*

*If applicable, add screenshots to help explain your problem.*

## Expected behaviour
*Same FR name, description text, etc. should appear on all langua

[2020-09-18 13:38] guipizzini commented on #1240
Testing completed

[2020-09-18 13:39] guipizzini commented on #1577
@tovari please can you check and test? it works fine for me and seems to be fixed

[2020-09-18 13:41] guipizzini commented on #1241
Tested completed with success.

[2020-09-18 13:42] guipizzini commented on #1559
Testing so far moving ahead well.

[2020-09-18 14:04] batpad commented on #1528
Am going to close this and move this off the board. I think we never want a situation where we block forms for users of certain languages. We still need to do work to cleanly handle translations of inputs in multiple languages, that can be captured separately.

[2020-09-18 14:04] #1528 closed

[2020-09-18 14:53] jhenshall commented on #1534
@geohacker - only just managed to test the 3W form after the dropdown issues. Would be great to have the dropdowns on 3W forms follow the same logic as field reports to exclude `independence`=`false`. Understand this wasn't clear, so if it's a quick, low-risk change, great, otherwise, we'll come back to it after release. Cheers.

[2020-09-18 14:59] tovari commented on #1577
@batpad, @frozenhelium, @guipizzini, I still have the issue.
I have created the following FR on the spanish UI using the tovari-test-spanish account. I cannot open the FR though as the site goes to grey again:
https://dsgoproxyapp.azurewebsites.net/emergencies/4089#details

[2020-09-18 15:51] jhenshall opened #1601 "[PROD] Non-RCRC registrations: verifier's email is case-sensitive"
## Issue
A user with a non-RCRC email was unable to register and kept getting errors saying 'Non-IFRC users must submit two valid admin emails.' The admin emails they were trying to use were confirmed as active users but with some capital letters in their email address, it was only when the case was matched that the user successfully registered.

## Steps to reproduce
- [Go to register page](https

[2020-09-20 02:42] tovari opened #1602 "[Staging] Edit user profile can't be saved in es, fr, ar"
## Issue
*Profile information can be edited, but not saved in es, fr, ar lnguages. It gives an empty error notification*

## URL
*https://dsgoproxyapp.azurewebsites.net/account#account-information*

## Steps to reproduce
*On es, fr or ar language, go to Account - Account Information - edit profile - save *

*If applicable, add screenshots to help explain your problem.*

## Expected behaviour
*Prof

[2020-09-20 06:37] frozenhelium commented on #1577
@batpad @GregoryHorvath These issue are being caused because we have not set English as fallback language. Hence empty strings of undefined / null is being received to the fields. Once we set English as fallback language it should be fixed.
CC: @thenav56

[2020-09-20 18:04] tovari opened #1604 "[Staging] Notifications - Country level notification settings are not saved"
## Issue
*On the Notifications page, Country level notification settings cannot be saved. There is no error, but selected country settings are not saved.*

## URL
*https://dsgoproxyapp.azurewebsites.net/account#notifications*

## Steps to reproduce
*Go To Account - Notifications. Add countries to the Country level notification list. Save page. Go Home, go back to Account - Notifications. The count

[2020-09-20 19:53] tovari opened #1605 "[Staging] Missing translations"
## Issue
*This is a collection of still not translated strings .
*

## URL
**

## Steps to reproduce
* - Missing translation on password change page: 'Verify old password'
*

*If applicable, add screenshots to help explain your problem.*

## Expected behaviour
*.*

## Related feature
**

## Criticality/Urgency
*Important*

[2020-09-21 07:29] tovari commented on #1585
![emergency - OK](https://user-images.githubusercontent.com/68283148/93741544-ecaf8180-fbec-11ea-99de-875b027d3ad7.jpg)
![emergency - NOK](https://user-images.githubusercontent.com/68283148/93741562-f5a05300-fbec-11ea-8dda-dbf3b3e5a765.jpg)

[2020-09-21 07:50] tovari commented on #1577
It works now for me as well :)

[2020-09-21 08:18] tovari commented on #1108
@batpad, @LukeCaley urls starting with http are clickable now. Urls starting with www are not clickable. I suggest to move this case to Done and open a new one for the www links on the new board.

[2020-09-21 09:05] batpad commented on #1585
@imohkay assigning to you to look at when able.

@tovari could we move this as a ticket for post the 4.4.0 release?

[2020-09-21 10:50] tovari commented on #1353
I move it to Done as it works for English. I will create a new ticket on the new dashboard to ask support for foreign language searches.

[2020-09-21 11:45] batpad commented on #1534
@jhenshall can you confirm that the 3w form now shows only independent countries?

[2020-09-21 11:48] jhenshall commented on #1534
@batpad - Yes, confirmation it's working as expected now! Thanks @geohacker for the late fix. 😄

[2020-09-21 12:13] tovari commented on #1604
Hi @GregoryHorvath, @frozenhelium,
now the same country can be added multiple times, if we change the language:
Add country - Change language - Add the same country - ...
![image](https://user-images.githubusercontent.com/68283148/93765110-a4a45500-fc14-11ea-8c61-7d3da82b2576.png)

[2020-09-21 12:18] GregoryHorvath commented on #1604
@tovari This seems to be an older bug where if you reload the page with F5 sometimes it populates the list with duplicates. At least I can't recall if this has been fixed for production or not yet, I'll have to check.

cc @batpad

[2020-09-21 13:36] tovari commented on #1602
Isssue has been fixed 👍

[2020-09-21 13:36] tovari commented on #1600
This is resolved 👍

[2020-09-21 14:01] tovari opened #1615 "[Staging] Emergencies page - Emergencies by type chart is missing"
## Issue
*Emergencies by type chart is missing. *

## URL
*https://dsgoproxyapp.azurewebsites.net/emergencies*

## Steps to reproduce
**

*If applicable, add screenshots to help explain your problem.*

## Expected behaviour
*Please describe how this feature should be working.*

## Related feature

## Criticality/Urgency
*Critical*

[2020-09-21 14:13] tovari commented on #1604
The country notifications can be saved now. The ticket will be moved to Done.
Another ticket will be created for the issue that a country can be added multiple times.

[2020-09-21 14:15] karitotp commented on #1559
@batpad, the problem in the dropdown in Arabic language in PER FORM is still there

![Screenshot from 2020-09-09 09-51-42](https://user-images.githubusercontent.com/11504548/92614807-14642880-f282-11ea-8568-aa63d5616257.png)

[2020-09-21 14:48] karitotp opened #1616 "[Staging] Number of FRs in a specific emergency page is not displayed in Arabic language"
## Issue
The number of Field Reports of an emergency is not displayed in Arabic language.

## Steps to reproduce
In Arabic language, go to an specific emergency and go to the field reports section. Example: https://dsgoproxyapp.azurewebsites.net/emergencies/4054#details
![Selection_052](https://user-images.githubusercontent.com/11504548/93781230-c5f24a80-fbee-11ea-81e5-7bf3190f5124.png)

## Expect

[2020-09-21 19:22] tovari commented on #1615
![image](https://user-images.githubusercontent.com/68283148/93811541-92480c80-fc50-11ea-8c07-218fc77fe519.png)

[2020-09-22 01:56] guipizzini commented on #1605
All strings have been translated and uploaded correctly into the site

[2020-09-22 01:56] #1605 closed

[2020-09-22 01:58] guipizzini commented on #1559
This has been completed and widely tested

[2020-09-22 01:58] #1559 closed

[2020-09-22 13:20] tovari opened #1620 "[PROD] Translations - Missing, incorrect translations"
## Issue
*This is a collection of missing or not correctly translated components. Please report issues in comments! *

## Steps to reproduce
**

**

## Expected behaviour
**

## Related feature
**

## Impact
**

## Severity
*.*

## Is there a workaround?
**

[2020-09-22 19:01] mariam-yu commented on #1555
UX suggestion for:
- Footer, Highlighted Operations without ERUs (if the fields end up being more empty than populated)
![_Footer_NoERU](https://user-images.githubusercontent.com/60006476/93925482-7dce4780-fd16-11ea-9c87-79e008ed6267.png)

- Country page when there is no data. Assuming the Country Profile information can still be populated, we propose to make that the main tab, show Additional Inf

[2020-09-23 11:46] #1541 closed

[2020-09-23 11:47] #1531 closed

[2020-09-23 11:47] #1499 closed

[2020-09-23 11:47] #1395 closed

[2020-09-23 11:47] #1589 closed

[2020-09-23 11:47] #1241 closed

[2020-09-23 11:47] #1276 closed

[2020-09-23 11:49] batpad commented on #1473
@geohacker can you please close this if everything has been resolved on prod or create a new issue / clarify remaining bits?

[2020-09-23 11:49] #1532 closed

[2020-09-23 11:49] #1547 closed

[2020-09-23 11:49] #987 closed

[2020-09-23 11:49] #1386 closed

[2020-09-23 11:49] #1535 closed

[2020-09-23 11:50] #1238 closed

[2020-09-23 11:50] #1242 closed

[2020-09-23 11:50] #1510 closed

[2020-09-23 11:51] #1527 closed

[2020-09-23 11:51] #1518 closed

[2020-09-23 11:51] #1189 closed

[2020-09-23 11:51] #1077 closed

[2020-09-23 11:51] #1577 closed

[2020-09-23 11:51] #1108 closed

[2020-09-23 11:52] #1253 closed

[2020-09-23 11:52] #1583 closed

[2020-09-23 11:52] #1491 closed

[2020-09-23 11:52] #1353 closed

[2020-09-23 11:52] #1517 closed

[2020-09-23 11:52] #1602 closed

[2020-09-23 11:53] #1600 closed

[2020-09-23 11:53] #1604 closed

[2020-09-23 11:53] #1615 closed

[2020-09-23 11:54] batpad commented on #1616
@tovari it would be good to confirm this bug / behaviour, and prioritize fixing?

[2020-09-23 12:31] batpad commented on #1534
Moved this to `Ready for UAT` - @jhenshall - if you can confirm that all these steps are done and the geo-data on prod looks fine, we can move this to Done and Close. Thanks!

[2020-09-23 12:32] batpad commented on #1523
@geohacker does this still need to be done? Should it go on the 4.4 board?

[2020-09-23 12:33] geohacker commented on #1523
Yeah this should go into 4.4

[2020-09-23 12:34] geohacker commented on #1473
This isn't entirely resolved and should go into 4.4 for @jhenshall to decide how we approach the missing districts.

[2020-09-23 12:34] batpad commented on #1516
@tovari @LukeCaley moved this to the 4.4 board - while we still don't claim to have first-class support for mobile, it seems like this would still be nice to do - there should not be any other blockers to making translation working on mobile other than making sure we add the selector to the mobile header view and ensure it is styled appropriately.

[2020-09-23 12:36] batpad commented on #1501
@GregoryHorvath can you close this if this has been deployed to prod and there are no further actions?

[2020-09-23 12:37] batpad commented on #1585
Per discussion, moving this to 4.4.

[2020-09-23 12:39] batpad commented on #1424
@geohacker was this done as part of other tickets? If yes, could you reference them and then we can close this?

[2020-09-23 12:46] geohacker commented on #1424
Yes, good to close!

[2020-09-23 12:46] #1424 closed

[2020-09-23 12:47] anamariaescobar commented on #1620
The search box message is coming in english. Happening in all languages.
![image](https://user-images.githubusercontent.com/69478743/94013853-fd0d5b00-fdaa-11ea-9e26-adcee2d4afad.png)

[2020-09-23 12:47] batpad commented on #973
This was fixed a while ago before we had the current process and we forgot to close. Closing now.

[2020-09-23 12:47] #973 closed

[2020-09-23 12:49] batpad commented on #897
The bounding boxes for regions are now editable in the admin and can be used to define the default map view for each region.

@geohacker can this be considered as part of #938 and closed? @jhenshall can you confirm this can be considered done?

[2020-09-23 12:51] batpad commented on #985
I don't believe there is anything outstanding here. This was done a while ago and it looks like we missed closing. Closing here, please feel free to re-open.

[2020-09-23 12:51] #985 closed

[2020-09-23 12:52] anamariaescobar commented on #1620
In the region list, Asia Pacific is listed as Region Asia-Pacifico (Asia- Pacific Region) can we change it to only Asia-Pacifico (Asia-Pacific) to mantain consistency with the other regions names?

Likewise in the region page is listed as Region Asia-Pacifico.
![image](https://user-images.githubusercontent.com/69478743/94014558-fd5a2600-fdab-11ea-884e-3fe6756d33ef.png)

![image](https://user-image

[2020-09-23 12:52] batpad commented on #976
@jhenshall can you confirm that the issues of Appeals linking with Countries seem to now all be fixed?

[2020-09-23 12:54] batpad commented on #1028
This looks like it is still a problem. @imohkay tentatively assigning you here and moving to the 4.4 board for triage.

[2020-09-23 12:54] anamariaescobar commented on #1620
The tabs on the Operations pages remain in english.

https://go.ifrc.org/emergencies/3972#details

![image](https://user-images.githubusercontent.com/69478743/94015064-a9037600-fdac-11ea-8d9e-b2fa52d7363e.png)

[2020-09-23 12:56] batpad commented on #1162
@jhenshall @geohacker now that the bounding box and centroid are customizable in the Admin, could this be marked as Done? Perhaps we should verify that all default views for countries update correctly when editing in the Admin?

[2020-09-23 12:56] anamariaescobar commented on #1620
The whole section (tittle and add a report button) of the emergencies page relating to response documents remains in english.

https://go.ifrc.org/emergencies/3972#details

![image](https://user-images.githubusercontent.com/69478743/94015310-fbdd2d80-fdac-11ea-9309-ef36ab1b7e65.png)

[2020-09-23 13:01] GregoryHorvath commented on #1501
This went out as a hotfix. We can close and in case it happens again open a new one.

[2020-09-23 13:01] #1501 closed

[2020-09-23 14:26] mmusori opened #1621 "Regional Page Additional Tabs"
**Is your feature request related to a problem? Please describe.**
The Regional pages only have three predefined  in tabs for addition information. The additional information tab is the only place that Regions can input all the different information that they have. for exmaple the Americas pagehttps://go.ifrc.org/regions/1#additional-info

![image](https://user-images.githubusercontent.com/7780809

[2020-09-23 14:37] tovari commented on #1620
Emergency page tab titles (Emergency details, Additional information) is not translated.

![image](https://user-images.githubusercontent.com/68283148/94027418-1ae2bc00-fdbb-11ea-97c6-f7c761241a71.png)

[2020-09-23 14:39] jhenshall commented on #1162
Hey @batpad - can confirm that countries do update properly after changing in the backend, so this could maybe be closed but want to flag a couple of issues first:

- Netherlands BB still includes Overseas Territories: this is a business decision to decide what's best so leave with me.
- New Zealand and Fiji have weird BB because they span the 180degrees date-line. I can change this to just be on

[2020-09-23 14:44] anamariaescobar commented on #1620
This is a double one!

The key figures in Emergency pages not translates, also note how not all the figures are visible (First key figure just showing half)

![image](https://user-images.githubusercontent.com/69478743/94028237-03580300-fdbc-11ea-8fac-56374b7f6e75.png)

[2020-09-23 14:53] jhenshall commented on #976
Initial checks for the country linking of appeals is all good, however, this Cyprus one does seem a bit weird. It is [linked to country](https://go.ifrc.org/appeals/all?record=3229) but but doesn't appear on [Cyprus page](https://go.ifrc.org/emergencies/all?country=228). Having looked at API, is this because it `needs_confrimation`=`TRUE`?

[2020-09-23 15:19] tovari commented on #1620
Som breadcrumbs are not completely translated:

![image](https://user-images.githubusercontent.com/68283148/94032486-4c11bb00-fdc0-11ea-873f-9ea4fe0e5dd5.png)

![image](https://user-images.githubusercontent.com/68283148/94032841-aa3e9e00-fdc0-11ea-837f-69e6df00ea91.png)

![image](https://user-images.githubusercontent.com/68283148/94033074-e4a83b00-fdc0-11ea-87e2-ade65f852e44.png)

[2020-09-23 16:07] tovari commented on #1620
Emergencies map items like Key, scale points by, and pop up window content are not translated.

![image](https://user-images.githubusercontent.com/68283148/94039168-a3fff000-fdc7-11ea-8519-457379f548cb.png)

[2020-09-23 16:13] tovari commented on #1620
https://go.ifrc.org/regions/3#operations

Map filter drop-downs are partially translated (Appeal types and Date are not):

![image](https://user-images.githubusercontent.com/68283148/94039768-69e31e00-fdc8-11ea-91fd-819dee5074a3.png)

[2020-09-23 17:17] anamariaescobar opened #1622 "[PROD] Dashboard not publishing in Emergency page (Probs an RTE issue?)"
## Issue
Having issues publishing a PowerBi dashboard in an emergency page, issue encountered by IM delegate in the field, I try to published the dashboard from my side which worked here https://go.ifrc.org/emergencies/3067#dashboards but not here https://prddsgoproxyapp.azurewebsites.net/emergencies/3067#dashboards, also, it seems I am the only one who can actually see the dashboard form the seco

[2020-09-24 07:31] batpad commented on #1622
@GregoryHorvath would you be able to take a look into this one?

[2020-09-24 07:45] jhenshall opened #1623 "[PROD] Review country names"
## Issues
Some country names do not exactly match the IFRC standard and some have a weird format to allow alphabetising lists. e.g. `Bahamas, The`. Best to fix these in one go as it will have knock-on effects to API users for PowerBI/Tableau reports as well as other possible mappings. Key things to do:

1. Make sure countries match governance list - currently waiting final sign-off
2. Decide how b

[2020-09-24 07:47] jhenshall commented on #1534
Created a new ticket for the issue for the weird formatting of country names that use commas. Apart from that all good @batpad !

[2020-09-24 08:05] anamariaescobar commented on #1622
Hi team!  I have been doing so more tests on this, and it seems that the dashboard only appears when you select Spanish as a language

[2020-09-24 08:05] GregoryHorvath commented on #1622
@anamariaescobar I've quickly checked the History of the record on the backend, and it shows to me that you removed the `<iframe>` around ~2:15PM yesterday (server time I believe) so that's why it's not showing up. I tried to reproduce but when I added the `<iframe>` via the Ember or Source Code insert features:
![image](https://user-images.githubusercontent.com/30079559/94117625-bff9a500-fe4c-11e

[2020-09-24 08:07] GregoryHorvath commented on #1622
Wow, nice catch, yea I see it working now in Spanish.

[2020-09-24 09:07] tovari commented on #1620
https://go.ifrc.org/about
This is not translated:
![image](https://user-images.githubusercontent.com/68283148/94125075-2c2cd680-fe56-11ea-8f58-b0900a5f9917.png)

[2020-09-24 11:27] batpad commented on #1622
This was a really good catch and caught a bit of a fundamental problem with how we are managing translations for users working in the Admin area, due to us no longer doing automatic translations.

The problem is now that if you have a language other than english (eg Spanish) selected in the Admin, and don't click the Show All Languages button, it will save the data you enter as Spanish. Then, on t

[2020-09-24 11:30] tovari opened #1624 "[PROD] Summary field is available only in one language"
## Issue
*Summary attribute that is the 'Situational ovwerview' field on the frontend is available only in one language. Content cannot be translated to other languages*

## Steps to reproduce
**

*If applicable, add screenshots to help explain your problem.*

## Expected behaviour
*It should be available for EN, ES, FR, AR*

## Related feature
**

## Impact
*No translation can be added for Situta

[2020-09-25 09:29] tovari opened #1625 "[PROD] Editing Field Reports on frontend overwrites values in EN and deletes values in ES, FR, AR"
## Issue
*In case a FR has content in multiple languages (added on the Admin site), and the FR is being edited on the frontend, then the content will be saved in EN fields while ES, FR, AR content will be deleted.*

## Steps to reproduce
*1. Create a field report
2. Using the Admin site, add translation to the text.
3. Using the frontend site, edit the FR and save it.
4. The content will be saved

[2020-09-25 09:41] batpad commented on #1625
I can see adding translations in the Admin and then editing the Field Report form in the frontend can be tricky.

There are two problems here:

In Edit mode, the fields will show as per the language the user currently has selected, even though it always saves as English. Hence, we must make sure when editing the Field Report, the user always sees only english values.

The second problem is when ed

[2020-09-25 09:42] batpad commented on #1625
cc @thenav56 in case you see an obvious fix to this - especially the second issue: is there a clean / easy way to avoid content of translation fields being emptied when saving english?

[2020-09-25 10:10] thenav56 commented on #1625
@batpad  The fix is easy. I forgot to provide this before while disabling auto-translation changes.

This diff should be enough. cc: @GregoryHorvath
[code]

[2020-09-25 10:50] jhenshall opened #1627 "[PROD] Register page - National Society dropdown not working"
## Issue
On the register page for new user sign-ups - when you select `Organization Type` as `National Society`, the `Organization Name` drop-down doesn't pull through any of the National Societies.

As the field is mandatory, this means that no new users from National Societies are able to sign up.

## Steps to reproduce
- https://go.ifrc.org/register
- Under  `Organization Type` select `National

[2020-09-25 11:58] jhenshall opened #1629 "[PROD] Map 'flatness' and split countries that span the 180° date line"
## Issue
On all maps, the 180° date line acts as an 'edge' on either side meaning that maps cannot be centred on the Pacific. This is especially an visible when displaying the Asia Pacific region - e.g. Samoa cannot be included in the map view because it is on the far left of the map.

Also, Fiji and New Zealand (with outer islands) bounding boxes actually split the 180° line so there is weird beh

[2020-09-25 12:04] jhenshall commented on #1162
I've split the NZ and Fiji examples into a new issue about 'map flatness' so think this one is good to close now @batpad

[2020-09-25 12:05] jhenshall commented on #897
Regional bounding boxes and much of the examples are sorted. There's still an issue of 'map flatness' that affects the Asia Pacific region but I've split out into it's own ticket. This one can be closed @batpad .

[2020-09-25 12:19] batpad commented on #1629
cc @geohacker

[2020-09-25 12:54] jhenshall commented on #897
@mariam-yu - also wanted to flag this ticket to you for the map design. Having the legend overlap the map often means that areas of interest are hidden behind it. Might be worth taking off the map itself or chaning location / size. Thanks!

[2020-09-25 12:54] #897 closed

[2020-09-25 12:54] #1162 closed

[2020-09-28 08:08] LukeCaley opened #1634 "Add Finnish Red Cross logo to Resources page"
**Is your feature request related to a problem? Please describe.**
GO has received dedicated personnel and funding support from Finnish Red Cross so this should be acknowledged with their logo on the Resources `https://go.ifrc.org/about` page

**Describe the solution you'd like**
5 logos on the top row - American, Australian, British, Canadian, Finnish
4 logos on the bottom row -  Japanese, Nether

[2020-09-28 13:26] GregoryHorvath commented on #1548
@mariam-yu Sorry for pulling you into this. There's a screenshot of how the error message looks right now at https://github.com/IFRCGo/go-frontend/pull/1633 . This is probably low priority and I don't know who should be the one to decide on the looks from the IM team on this now.

[2020-09-28 16:09] mariam-yu commented on #1548
@GregoryHorvath This is perfect. We are actually planning to comb through the error messaging. Is there a timeline on this?

[2020-09-28 16:50] GregoryHorvath commented on #1548
@mariam-yu Nope, just went ahead and implemented the functionality at first. I don't know how wide is the range of CSS which may be compatible with IE, so I guess it would be best to go with some simpler design.

@tovari Could help with answering the prio/timeline question probably?

[2020-09-29 13:04] tovari opened #1635 "COVID-19 feature enhancements"
A dashboard pulling Field Report data has been developed and is currently embedded in the COVID operational page. Currently only public information is being used in the dashboard and we will like to use also the private FR but maintaining the access levels on GO and we have no way to doing this with an embedded PowerBI dashboard.

**Describe the solution you'd like**
Create the dashboard directly

[2020-09-30 20:50] mariam-yu commented on #1555
Updated UI of the footer: https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/433294669__Footer_Other
Updated "country with no emergencies" UI: https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/433294670__Country-NoData

[2020-10-01 13:49] jhenshall opened #1636 "[PROD] Appeal ingest - country mismatches to Singapore, Clusters & Regions"
## Issue
Some appeals are being mapped to the wrong countries during the ingest. The whole mapping process should be reviewed but this outlines two immediate issues that could be fixed to improve the data in the short term.

**1. Appeals are being matched to regions and clusters, rather than countries**
Clusters and regions in the countries table use the same ISO as the country that the offices ar

[2020-10-01 14:12] GregoryHorvath commented on #1636
So the duplicates are:
[code]

I'm changing `SG` -> `SN` for now and removing the other `WAF`. Need input for which `SAM` to keep. We can't really map one thing to multiple different things, there's no way to tell which one should work in which case  (maybe they are also dependent on other fields coming from the Appeals API?).

Also in the next PR (will appear below in a few minutes), I'll also fi

[2020-10-02 07:03] GregoryHorvath commented on #1636
@jhenshall @mmusori I've checked our pre-release dump of the database, there we only have Appeals mapped to Countries, and none mapped to Regions, Clusters, etc. So I guess we should be good to go with the above change of explicitly filtering for `record_type=1` aka `Type: Country` records when trying to match by `ISO`?

[2020-10-02 08:46] jhenshall commented on #1636
Sounds good to me @GregoryHorvath ! Going to checkout the duplicates now to see if we can sort that in the same fix.

[2020-10-02 12:03] jhenshall commented on #1636
For reference, we have decided to leave the duplicates for now. It needs some business decisions and don't want to block getting the bigger fix out. We should review the whole mapping of appeal to country, as well as how we handle clusters and regions as part of the wider geo-review. cc. @geohacker

[2020-10-02 12:46] GregoryHorvath commented on #1636
If we want to go with changing the database structure - my initial idea for separating the different types of records (just a quick mockup):
1. Create new tables for each `record_type` a `Country` object can have (Region, Cluster, etc)
2. Copy the separate types into their new respective tables
3. Change the relations so Countries would have their Region mapped to the new table's records
4. Create

[2020-10-02 13:37] GregoryHorvath commented on #1625
This was deployed as a hotfix via the above PR.

[2020-10-02 13:37] #1625 closed

[2020-10-02 13:39] GregoryHorvath commented on #1556
Connected PR: https://github.com/IFRCGo/go-frontend/pull/1633 ticket: https://github.com/IFRCGo/go-frontend/issues/1548
![image](https://user-images.githubusercontent.com/30079559/94929424-5d944a80-04c5-11eb-94de-85be18db5695.png)

[2020-10-04 19:55] tovari opened #1637 "ESSN - custom tabs on country pages"
**Is your feature request related to a problem? Please describe.**
ESSN operations would like to publish content on the Turkey country page. Therefore we need to add the option to create custom tabs on country pages.

**Describe the solution you'd like**
Just like in case of the Emergency pages on the Admin site, we need an option to add a custom tab on the country pages. The tab editing should wo

[2020-10-05 10:41] anamariaescobar opened #1638 "Molnix/GO Integration"
**Is your feature request related to a problem? Please describe.**
The integration between the new Surge Database (Molnix) and GO is happening! In order to improve the accuracy, exhaustivity and real time publication in Go of the info related to RRM deployed positions and Alerts open positions for the IFRC operations.

**Describe the solution you'd like**
An integration between the Molnix DB and G

[2020-10-05 11:23] jhenshall commented on #1188
Nepal has now been fixed. Kazakhstan to be reviewed.

[2020-10-05 11:30] jhenshall commented on #1188
Note that Nepal has been added but the Admin1 codes remain blank as they weren't in the shapefile. These should be added before closing this ticket, but I have closed #1422 - which is a similar issue, specific to Nepal.

[2020-10-05 11:32] jhenshall commented on #1422
The new Nepal districts have been added with most of the data added that was missing. They are, however, still missing the admin1 code. This is captured in #1188 so closing this ticket as a duplicate of the remaining work.

[2020-10-05 11:32] #1422 closed

[2020-10-05 11:49] jhenshall commented on #1522
Was done as part of 4.3 release but wasn't on the board. Closing ticket.

[2020-10-05 11:49] #1522 closed

[2020-10-05 11:52] #1534 closed

[2020-10-05 13:39] mmusori commented on #1396
The current issue is that in the backend the search function in "districts" does not give you the list of Admin1 for the particular country but lists all Admin1 alphabetically. If you scroll down long enough you will get to the country and admin1. Test case https://dsgoproxyapp.azurewebsites.net/emergencies/4098#details @GregoryHorvath  is working on fixing the elastic search for this field in the

[2020-10-05 14:49] jhenshall opened #1639 "[PROD] Review how cluster and region offices are handled in database"
## Issue
Cluster and Region IFRC offices, are stored in the countries table and use the ISO for the country that they're in. This can be confusing because they are not 'countries' and means there are duplicate ISO codes in the countries table, which has caused issues for e.g. #1636.

## Expected behaviour
Any changes could be significant and have multiple knock-on effects with existing records bei

[2020-10-05 14:51] jhenshall commented on #1636
Immediate issue fixed and wider question of how clusters and regions handled compiled into new ticket - #1639

[2020-10-05 14:51] #1636 closed

[2020-10-06 16:22] tovari opened #1641 "GO 2nd birthday flyer"
[GO-is-2.pdf](https://github.com/IFRCGo/go-frontend/files/5334979/GO-is-2.pdf)

[2020-10-07 08:50] jhenshall commented on #850
Looks like this is an old ticket that has been replaced by #1202. Closing this one but @mariam-yu, please do reopen if anything useful here.

[2020-10-07 08:50] #850 closed

[2020-10-07 08:54] jhenshall commented on #806
Think this is covered by #1202 so closing this issue. @LukeCaley do you think it's all covered on other ticket? If not, can reopen or capture there.

[2020-10-07 08:54] #806 closed

[2020-10-07 08:56] jhenshall commented on #784
Also covered by #1202 with not much extra information here, so closing.

[2020-10-07 08:56] #784 closed

[2020-10-07 09:15] jhenshall commented on #940
Hey @batpad. Just doing some ticket gardening. With @geohacker comment above, I think all geo aspects of this are now sorted but there may be others that still require attention. I'm taking off my 'geo list' but won't close.

[2020-10-07 10:36] jhenshall opened #1642 "Update mapbox styling and functionality"
## Issue
This is a master ticket to bring together existing issues for updating the map styles and functionality, including design review, Mapbox styling and some frontend changes. Some have come from the existing geo master ticket #938.

The main map design ticket already has lots of details: #1202

cc @geohacker @batpad @tovari

[2020-10-07 11:11] jhenshall opened #1643 "Enhance geospatial data handling - Phase 4.4"
## Issue
This is a master ticket for issues related to geo data that will be covered by the wider geospatial review as part of phase 4.4. This brings some outstanding issues from #938 as well as new issues created since then.

The key steps for this piece of work are:
1. Map out existing data model of geo data and how elements are related
2. Starting from ICRC shapefiles, create a 'source of truth

[2020-10-07 11:20] jhenshall commented on #938
This ticket has been super helpful thanks to @teklal for setting up and @nanometrenat for adding to it. With a mix of closed and open issues for various tasks, I have updated the initial list marking which are closed and moved outstanding issues to #1642 for mapbox styling and functionality or #1643 for geo data. This legendary ticket will now be closed. Thank you! 🙏

[2020-10-07 11:20] #938 closed

[2020-10-07 13:52] GregoryHorvath commented on #1620
Seems like we're not pulling the Region name translations from the backend but having them in those static frontend translations (accessible at `/translation-dashboard`). I guess it would be better to use the backend's for these?

cc @batpad @frozenhelium

[2020-10-08 08:44] tovari opened #1645 "[PROD] Registration error"
## Issue
*I cannot complete the registration of a non-whitelisted email as an error message states that I must submit 2 valid emails..*

## Steps to reproduce
*Try to register with a non-whitelisted email.*

![image](https://user-images.githubusercontent.com/68283148/95435449-e2aeb200-0952-11eb-8e9f-13809463e202.png)

## Expected behaviour
*It should complete the registration*

## Impact
*Not poss

[2020-10-08 08:48] tovari commented on #1645
The registration can be completed if the emails are written in lower-case letters. Emails shouldn't be case sensitive.

[2020-10-08 11:31] GregoryHorvath commented on #1645
Deployed the possible fix to staging.

[2020-10-09 07:38] #1641 closed

[2020-10-09 07:47] tovari commented on #1601
This has been resolved in https://github.com/IFRCGo/go-frontend/issues/1645

[2020-10-09 07:47] #1601 closed

[2020-10-09 07:57] tovari commented on #1596
Hi @frozenhelium, this is already resolved, right?

[2020-10-09 10:38] frozenhelium commented on #1596
@tovari No, this is an active issue

[2020-10-09 11:15] tovari commented on #1082
Linking to https://github.com/IFRCGo/go-frontend/issues/1243

[2020-10-09 11:16] tovari commented on #1243
Also related to https://github.com/IFRCGo/go-frontend/issues/1082

[2020-10-09 11:56] tovari commented on #1637
@mmusori, would you be able to confirm the minimum number of additional tabs required for Africa?

[2020-10-09 12:06] tovari commented on #1537
It has been tested on Edge and it works now as expected.

[2020-10-09 12:07] #1537 closed

[2020-10-09 12:16] tovari commented on #1635
Linking here the https://github.com/IFRCGo/go-frontend/issues/1014 ticket

[2020-10-12 12:15] mariam-yu commented on #1557
@LukeCaley while figuring this out with Guido, we thought could be nice to share with you our thoughts as well. We have a quick basic prototype to show the way we are thinking to approach the UI library and the breakdown of elements: https://projects.invisionapp.com/share/6GYYP7LVWXB#/screens/433471457_1-0_UILib_Home (same password as for other prototypes). Please let us know your thoughts. Our ne

[2020-10-12 14:33] mariam-yu commented on #1557
@imohkay tagging you here as well. You may have already know the context, but if not, happy to discuss with you in detail. We'd love your thoughts on this and how it would be used by devs afterwards.

[2020-10-12 15:16] mariam-yu commented on #1556
@GregoryHorvath @batpad We did the audit for the error states with some wireframe suggestions: https://docs.google.com/document/d/1WYjUFqExYOjsNTVT5oEGiuaxYFuehZCG7FgJWfYm7wU/edit?usp=sharing Can you please comb through it to see a) if they make sense and respond to the ones you have, b) if we missed any. Once confirmed, we will provide the complete UI design for you to implement them.

For the ge

[2020-10-13 12:26] tovari commented on #1556
@mariam-yu, this is great and very welcomed.
I think, the user registration process could be improved as well. Currently, in case the user doesn't complete the registration and tries to login, he/she doesn't get any information why can't login the site. Some information about the status of the registration would explain the situation and maybe also help the user to complete the registration. E.g.

[2020-10-13 12:39] GregoryHorvath commented on #1556
@mariam-yu @batpad @tovari All looks wonderful to me. The only error message I can think of this "is missing" from that doc is the "Data not available" where we only show a plain black text currently. I think that can be also covered by your suggestion to the field errors, with a warning sign and red text. Also this shouldn't really happen to users at any time because usually this means an error i

[2020-10-13 12:42] batpad commented on #1629
This was accidentally closed with commit message. Re-opening.

This is being deployed in v4.4.3.

[2020-10-13 12:50] batpad opened #1652 "Make map labels translatable as per user language"
Creating this issue to track the feature of making the map labels translatable.

This will be released in v4.4.3.

When you switch language, country names on the map will switch to the language you have selected. We don't yet have translations for "Districts", so at higher zoom levels, districts will still show up as English, but perhaps we can ticket this separately?

cc @geohacker @jhenshall @to

[2020-10-13 12:51] mariam-yu commented on #1556
@GregoryHorvath thanks for the feedback. Why don't we go ahead with the UI, you implement and let's see if anything is missing. For Data Not Available, do you mind dropping a screenshot here?

@tovari Thanks for your feedback as well. We actually have a ticket to review and update the registration/login flow. So, that will be our next thing to tackle. will check that error as well, but error-style

[2020-10-13 12:54] GregoryHorvath commented on #1556
@mariam-yu 2 occurences on the Home page for example (if the API is unreachable)
![image](https://user-images.githubusercontent.com/30079559/95862951-e2078880-0d63-11eb-8f32-a009c8174514.png)

[2020-10-14 04:02] nanometrenat commented on #976
(logged into github for the first time in a while and saw this notification!)

The "Needs Confirmation" check of appeals data is meant to be one of the daily data checks that Tekla used to do that I think was to be taken on by @tovari .  There was a specific page in the Teams wiki for regular checks - but the daily checks may perhaps only be picking up recent items rather than looking back histori

[2020-10-15 08:24] mmusori opened #1654 "Early Warning Field Report has a wrong label on the 3rd page."
## Issue
 In the Early Action page of the Early Action Field Report the is a duplication of the the label number of people assisted by government see below.
![image](https://user-images.githubusercontent.com/7780809/96096364-0e401800-0ed0-11eb-9e8e-8d3bbdc8176e.png)

## Steps to reproduce
Navigate to the Early actions part of the Early Action Field report.
https://dsgoproxyapp.azurewebsites.net/re

[2020-10-15 10:44] GregoryHorvath commented on #1654
The fix is on production already, the right textbox was using the wrong label.

[2020-10-15 10:44] #1654 closed

[2020-10-15 11:50] mmusori commented on #1654
I have tested the fix is now live both in staging and in production. Thanks.

[2020-10-16 09:50] mariam-yu commented on #1556
@GregoryHorvath Question about the last one - no data available. Is this for the entire page or just specific sections? Meaning, if it's for the entire page, we should probably show the "failure" kind of alert. Thanks!

[2020-10-16 11:39] GregoryHorvath commented on #1556
@mariam-yu This is showing on most pages if there's no data available - not as a whole page error but inside the sections where the data from the API would go, as shown above.

[2020-10-19 17:58] mariam-yu commented on #1556
@GregoryHorvath @tovari Please see the updated error fields document; we also replaced the solutions with the UI styling images. You can find all the updated UI in Zeplin. There is a separate section for error handling. Let us know if there is anything else on this. Thanks!

https://docs.google.com/document/d/1WYjUFqExYOjsNTVT5oEGiuaxYFuehZCG7FgJWfYm7wU/edit

[2020-10-20 04:32] nanometrenat commented on #1627
@jhenshall I'm going to take the liberty of closing this as I just registered as a National Society member and the process let me continue as NZRC :)

[2020-10-20 04:33] #1627 closed

[2020-10-20 04:39] nanometrenat commented on #1645
Hi, Nat here (hello!), just to say that whereas it USED to be that verifiers had to be people with admin site access (i.e. is_staff ticked, not necessarily IFRC staff though), I have just tried registering with two verifiers who are ordinary National Society users with no admin access and it let me proceed.

This might perhaps actually be too wide now - as it means that e.g. two volunteers with no

[2020-10-20 11:55] tovari opened #1658 "[PROD] User Guide and Admin Guide documents needs to be updated"
## Issue
*User Guide and Admin Guide documents needs to be updated. Documents in French are missing, as well as Spanish Admin Guide.

We need to

- [ ] Update English User Guide and Admin Guide
- [ ] Translate them to French
- [ ] Translate Admin Guide to Spanish and update Spanish User Guide
- [ ] Update Arabic User Guide and Admin Guide
- [ ] Make documents available on the site
 *

## Related f

[2020-10-20 11:56] tovari commented on #1450
Closing this as opened a new one for all user guide updates:
https://github.com/IFRCGo/go-frontend/issues/1658

[2020-10-20 11:56] #1450 closed

[2020-10-21 11:29] mariam-yu commented on #1555
@LukeCaley There were a bunch of stuff shared above. Could be small modifications to add to the UI this year (possibly). Let us know your thoughts.

[2020-10-21 11:31] LukeCaley commented on #1557
Thanks @guipizzini & @mariam-yu.  In general, looks good to me and in line with other UI library designs.  My only concern would be to ensure that it is obvious to users that they are not in GO and to provide them simple access back.

In order to move ahead with the next step to 'figuring out the implementation part', it would be great to have a design brief or something similar which we can then

[2020-10-21 11:46] mariam-yu commented on #1557
@LukeCaley Thanks for your feedback (we are so real-time :P) We have been working on the UI aspect to make it look somehow different from GO. We'll share that with you, but also agreed on a simpler link back to GO. We will work on that.

Regarding the design brief, do you have a template or guidelines? Can put something together, but hopefully the wireframes can already be helpful. We will add som

[2020-10-21 11:48] LukeCaley commented on #1555
The push to login pieces look good to me and clearly 'action-oriented' for the user.  Suggest that the next step would be to break these down into dev tickets for the backlog and eventually pulled in to the 'to-do' column.  In terms of timing these might be quick-wins for early 2021 rather than adding to the load in 2020.

cc @tovari

[2020-10-21 11:59] LukeCaley commented on #1555
Comments on invision for "Updated UI of the footer".
Updated "country with no emergencies" looks good as proposed.

[2020-10-22 10:48] batpad opened #1659 "Molnix Integration: Map Molnix Open Positions to GO Surge Alerts"
We will query the Molnix API for Open Positions and populate / sync the GO database for Surge Alerts. This issue outlines the fields in both systems, and needs clarification / agreement on how we map these fields and what data from Molnix we need to store in GO.

I will create a separate issue to map Deployments in Molnix to GO.

@anamariaescobar will be great if you can go through this and then a

[2020-10-22 11:59] mariam-yu commented on #1557
@LukeCaley As I mentioned, we have been working on the visual aspect of the design library to a) use the same library elements as GO for consistency, but b) to make it standout from GO and look a bit different. Can you please tell what you think about this?

https://projects.invisionapp.com/share/YXZ6K7N6STW#/screens/433781433 The secondary sections (brand/components, etc) offer 3 different stylin

[2020-10-22 15:12] mariam-yu commented on #1555
@LukeCaley Sounds good and agreed to push for 2021 not to overload the team for the end of the year. @batpad and @imohkay tagging you as well for your info. The points to consider are:
- Push to login cues across the site: https://docs.google.com/document/d/1rB1pgS-HtlH7NC60tnUlQjtrkLidOogd78yEPOBVqyA/edit
- What to show on countries when they have no data/no emergencies (once the detail pages are

[2020-10-22 15:21] mariam-yu commented on #1555
@LukeCaley Updated footer with your comments: https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/433294669 Are we good to push this forward? If yes, we will update it across the prototype and @batpad could consider for the backlog. For your info Sanjay:
Medium link: https://medium.com/@ifrcgoproject
Twitter: https://twitter.com/ifrc
Facebook: https://www.facebook.com/IFRC/

And the copyri

[2020-10-23 16:50] anamariaescobar commented on #1659
Hi! I talked a little a bit with the Surge team about this, these are some of the answers and some points that we might need to discuss over the meeting on tuesday

Data for each position on Molnix:

id: ID in Molnix system. We should save a reference as molnix_id **Correct**
created_by: Maps to a user ID in Molnix. We should ignore this for the GO import. **Agree, we don't need this field.**
crea

[2020-10-26 14:57] LukeCaley commented on #1555
Footer looks good.  Aside from to add the link to the IFRC YouTube plalist: https://www.youtube.com/playlist?list=PLf2g_NkFyyv5O5KmCXzuROjzWO_gxZ-ZN.  Suggest next step is to detail this task into a GitHub ticket for @batpad & @tovari backlog management - thanks!

[2020-10-26 17:48] LukeCaley commented on #1557
Thanks @mariam-yu - looking good.

Regarding the design brief - this is required so that we can make a clearly structured request for support.  This should include necessary technical competencies, some analysis of the volume of work and examples of successfully completed projects if known.  If you could work with @guipizzini to put at least the bones of this together this week that would be appre

[2020-10-26 20:23] mariam-yu commented on #1557
@LukeCaley Sure, will sync with Guido on guidance on how to put that brief together. @guipizzini I know your week must be busy, but if let's sync for 15 mins on this? Thanks!

[2020-10-26 20:24] mariam-yu commented on #1555
@LukeCaley Thanks for getting back to us quickly. Just a quick question before we add Youtube, which I think was a point of confusion. Is this public? i.e. ok to share on the main footer? @batpad and @tovari we will drop the footer UI into Zeplin; so ready for whenever you are :)

[2020-10-26 21:13] LukeCaley commented on #1555
The GO youtube playlist is public but not profiled on the IFRC playlist as not aimed at the same general audience.  So, yeah, please use the GO playlist link for this purpose.

NB The Medium logo has recently been updated, ref: https://medium.design/logos-and-brand-guidelines-f1a01a733592

[2020-10-28 10:01] jhenshall opened #1660 "Deployments map not displaying points"
## Issue
The world map on the deployments page has no points on it, despite there being people deployed.

## Steps to reproduce
- Go to the deployments page (you need to be logged in): https://go.ifrc.org/deployments
- Scroll down to the world map:
![image](https://user-images.githubusercontent.com/6359748/97420943-d4c1d080-1903-11eb-991d-a98c361b4fd7.png)

## Impact
Map broken for all users viewi

[2020-10-28 10:33] geohacker opened #1661 "Staging and production data parity"
## Background
The Go staging and production databases have diverged quite a bit for several reasons. While the schematics are the same, most of the foundational datasets are very different, and most often incorrect. Some examples include tables like countries and districts.

This means that many of PRs that are staged before deploying to production can't be truly tested for data integrity. We've p

[2020-10-28 16:56] tovari opened #1662 "Translation feature video on the Resources page"
**Is your feature request related to a problem? Please describe.**
Please add the Translation feature video tutorial to the Resources page, Reference videos section:
https://go.ifrc.org/about

**Describe the solution you'd like**
*Add video to the first place in the video queue.
Video Title and description under the embedded video could be specified on the Translation dashboard after the keys prov

[2020-10-29 16:08] anamariaescobar commented on #1659
Update:
The surge team has confirmed that ALL the alerts will be Rapid Response Personnel and that the HeOps will be a role profile (as a tag).
Stand down alerts: The surge team wants to have them together with the open alerts for a period of time and then disaper from the front end, they are having conversations with Molnix on how this will be managed there as they dont have it yet.
@batpad let m

[2020-11-02 22:10] mariam-yu opened #1663 "Account page / Login / Registration UX/UI clean up."
https://github.com/IFRCGo/go-frontend/issues/1336
https://github.com/IFRCGo/go-frontend/issues/1337

UX/UI update of the Login / Registration / Account screens and flows, based on the current implementation.

[2020-11-02 22:40] mariam-yu commented on #1663
@LukeCaley @batpad @GregoryHorvath we updated the UI for Login/Register/Account flows. It's quite close to the current, with a clean up and UI upgrade.

**Login flow**: https://projects.invisionapp.com/share/XGZAM2UYBDQ#/screens/436434660 (same PW)
The key proposal here is to add a "Keep me logged in" and one "forgot password", since the username is the email.

**Register flow**: https://projects.

[2020-11-03 05:40] batpad opened #1664 "Molnix Integration: Map Deployments from Molnix into GO"
Similar to #1659, we need to map the Deployments data from Molnix to Deployments in GO.

In GO, we currently store Deployments data across 2 tables: 1 is a grouping of individual person deployments, and then a separate table for each individual person deployment. Enumerated below are fields we currently have in GO, and then fields coming in from Molnix. I'm not certain how we will manage to group

[2020-11-03 09:14] LukeCaley commented on #1663
Thanks @mariam-yu  - all looks great to me.

In terms of the shift to using `email` instead of `username` - we need to ensure that we are not changing desired behaviour without explanation or support.  _"I am used to logging in using my username - why have you changed this?"_ For instance, what happens if I enter my old username in the email field?

It would be good to know how complex some of the

[2020-11-03 13:03] mariam-yu commented on #1663
@LukeCaley Thanks for your quick feedback. Agreed with the comments.

For username, @batpad @GregoryHorvath could we use the same field (email / username) for login for a time being till we migrate and have users get used to it?

For the accordion, I'll let @batpad to react to. We do have a similar functionality on the 3Ws so may be we could reuse the component? Just a thought.

[2020-11-03 13:43] batpad commented on #1659
Note: Molnix will add "stand-down" as a status, in addition to Open and Archived, likely called "Unfilled".

[2020-11-03 17:11] tovari commented on #1663
Thanks @mariam-yu, this looks good.
I think, its worth to review the UX workflows as well. E.g. The user should be able to get information about his registration process status (i.e. confirmation email has been sent/ not confirmed by the 2 RC users yet, etc). What happens, if the user doesn't receive the confirmation email, etc.?

[2020-11-03 18:59] mariam-yu commented on #1663
@tovari Makes sense to review those flows as well. I will add them to the backlog, and we will go through them as well.

[2020-11-03 21:42] mariam-yu opened #1665 "Regional tabs solution (considering the needs for ESSN on country level)"

[2020-11-03 21:54] mariam-yu commented on #1621
@mmusori hope it's ok, I moved this task to the design stage. Please see below the links to the content mapping for the regional pages (based on currently information in Additional Data section and Africa Ops Room) and the wireframes.

Content mapping: https://docs.google.com/spreadsheets/d/1anuNStxy8vMxHl6voJXguSseXYWe2cZYuoNPSopaW5Q/edit#gid=0

Wireframes: https://invis.io/ZBZB8SF9UCP#/436634656

[2020-11-04 08:55] GregoryHorvath commented on #1663
- Keep me logged in: I'm not familiar with how we manage the logins fully. I most probably encountered some parts of the code and vaguely remember seeing some function which refreshes a date with every login. I'll have to double check.
- Username/email: I'd say the best here would be to add the `email` *besides* the `username` as a valid login parameter instead of just switching straight to email.

[2020-11-04 13:22] tovari commented on #1638
Child tickets:
alerts:
https://github.com/IFRCGo/go-frontend/issues/1659
deplyoments:
https://github.com/IFRCGo/go-frontend/issues/1664

[2020-11-04 15:42] mariam-yu commented on #1637
@tovari You moved the task to the design stage. What do we need to do here? @mmusori Is this also where we'd make country page updates as per Africa Ops Room?

[2020-11-04 16:15] tovari commented on #1637
@mariam-yu, sorry, I was not sure if the custom tabs request handling was considered during the new region page tab redesign. We don't need design updates here, as we don't plan to add standardized content.
I push this ticket forward.

[2020-11-05 06:12] batpad commented on #1665
@mariam-yu is it possible to please add the relevant links for the wireframes, etc. to this ticket so we have this info all in one place? Thanks!

[2020-11-05 06:18] batpad opened #1666 "Design changes for Deployments and Surge Alerts updates"
When we integrate with Molnix for Surge Alerts and Deployments data, we also want some design changes on the Deployments pages and sections.

Wireframes for the updated Deployments page: https://projects.invisionapp.com/share/HGX94BX3EJA#/screens/432110770

@imohkay - am assigning this to you. Let's start looking at the wireframes and the existing site to map changes. Currently, on staging, we don

[2020-11-05 06:31] batpad commented on #1621
Tagging @kamicut and @imohkay here - these are in the process of being finalized - will be good to take a look and then discuss -- the broad idea here is to allow users in the Admin to add custom Iframed data to the Region and Country pages.

To avoid things being too arbitrarily fragmented, @mariam-yu has done a detailed look at the different needs of different regions, and provided a consolidate

[2020-11-05 06:36] batpad commented on #1243
@imohkay - re-tagging you here - we are awaiting on the final updated designs for the Emergency Pages, and then we would need to go through and discuss implementation: how much is CSS, what needs new backend implementations, etc.

@mariam-yu @mmusori - could you please update here with the latest designs / wireframes, even if they are not fully finalized? It will be great for @imohkay and I to sta

[2020-11-05 07:06] batpad opened #1667 "PER Refactor: Master ticket"
Master ticket for the PER refactor work.

Some background / context:

We developed the PER module about a year ago, with an ambitious feature-set - while the implementation has given us a good sense of how PER should work, unfortunately, the module has had structural issues with the way it has been developed that has made proper integration with the rest of the GO platform increasingly painful. Th

[2020-11-05 09:41] mariam-yu commented on #1665
@batpad I thought I archived this one, as there was on already created by Munu https://github.com/IFRCGo/go-frontend/issues/1621 I'll delete this one, ok?

[2020-11-05 14:38] GregoryHorvath commented on #1667
We had a call with Marco and clarified a couple of things and got some direction:
- Component benchmark / EPI questions should be stored along with the regular questions but have a flag like `is_epi`, `is_benchmark` and without a number
- Show the general `comment` field of the `Form` in the Area forms
- `Overview` should be the base of the whole Assessment process (maybe we want to rename the mod

[2020-11-05 17:32] tovari commented on #1637
Closing this as it is part of https://github.com/IFRCGo/go-frontend/issues/1621

[2020-11-05 17:32] #1637 closed

[2020-11-05 17:33] tovari commented on #1621
Linking here the ESSN - custom tabs on country pages ticket (https://github.com/IFRCGo/go-frontend/issues/1637) as it is related and can be handled in the same ticket.
I close that ticket.

[2020-11-05 22:15] mariam-yu commented on #1243
@mmusori Please let me know if there were other learnings/changes. Happy to update the wires accordingly. Thanks!

[2020-11-06 11:16] tovari opened #1669 "PER: adding 3 dashboards"
We need to find a place on the PER site and publish 3 PowerBI dashboards.

Visibility for user groups: tbd

•  PER results trends to visualize the how the response mechanism looks like per region and globally (44 NS). Which are the components that require further attention and the ones that are performing better.
https://app.powerbi.com/view?r=eyJrIjoiYzliMzU5MzAtMjQ1ZC00YzY3LTg2MTgtNTI5NTI4MDNjZD

[2020-11-06 11:19] tovari commented on #1669
@mariam-yu, can you suggest a spot on the site for these dashboards?

[2020-11-06 13:53] anamariaescobar commented on #1638
Mock up data has been added to bot Molnix and GO staging for both Alerts and deployments so @mariam-yu and @batpad can continue working. Please let me know if anything else is needed!

[2020-11-09 06:10] batpad commented on #1621
From going over the wireframes, for regions, these are the additional fields we will need in the Admin backend:

 - `Emergencies` tab: User can add multiple Sections (a section is a Title + Iframe link) that display below the existing GO data under the Emergencies tab. User can use some simple mechanism like assigning an "Order no" to order sections.

 - `Regional Profile` tab: Allow users to add

[2020-11-09 07:03] batpad commented on #1621
@kamicut - for clarity, these are the wireframes: https://invis.io/ZBZB8SF9UCP#/436634656_2-1_GO_Regions_AF - we need to look at the Region pages for Africa and America to get a full picture of the content organization within these various tabs.

[2020-11-09 15:11] mariam-yu commented on #1663
Thanks @GregoryHorvath Some comments below: (Also CC @batpad )

- For username and email could we use the same field? So, on registration part we remove the username so all the new users go with email. On the login screen we have one field for both (username/email) so the users can enter either or. Would that work? Sort of like this one (an example from molnix):
<img width="307" alt="Screen Shot 2

[2020-11-10 10:35] GregoryHorvath commented on #1667
Second session's summary:
- At the top probably we should call the whole thing as "PER Tool"
- Remove everything from the Country pages' Preparedness tab except the very top status data:
![image](https://user-images.githubusercontent.com/30079559/98661746-26784b00-2347-11eb-8105-fa0bd6da9feb.png)
- Add a "Cycle" to the above which would indicate how many Assessments a National Society did (how man

[2020-11-10 20:07] mariam-yu commented on #1557
@LukeCaley Not really sure how the design brief should be, but threw in here a few paragraphs explaining the library and the need: https://docs.google.com/document/d/1RAJAKmdLI_tOlP9wkL6M15LBatWHfGjhlj0qJ-Mbpnk/edit?usp=sharing Please let me know what you think and feel free to edit it as you wish.

[2020-11-10 20:23] mariam-yu commented on #1243
@LukeCaley We updated the emergency pages based on your comments:
https://projects.invisionapp.com/share/WNZDV0QDZA2#/screens/417134563 There were a few points that needed clarification. Here they are:
- Contacts module UI - we had updated this sometime ago but it hasn't gotten the full UI upgrade yet on the live version. Thoughts?
_Movement Footprint (3W, formerly Response Activities)_
- Should w

[2020-11-11 12:03] tovari opened #1671 "[PROD] Appeal Country info gets overwritten"
## Issue
The 'Central America - Hurricane Eta' appeal is incorrectly linked to Haiti. The country information can be updated though on the admin site, but gets overwritten again in a short time.
https://goadmin.ifrc.org/api/v2/appeal/?code=MDR43007

## Expected behaviour
*We should be able to update the Country information and keep this update. We would like to change the country to Panama in this

[2020-11-11 12:07] batpad commented on #1671
This seems to be due to this mapping of `CAM` to Haiti: https://github.com/IFRCGo/go-api/blob/develop/api/management/commands/ingest_appeals.py#L25

cc @jhenshall @geohacker - I'm really not *sure* what we arrived at as the best way to handle things linked to regional offices, etc. - @jhenshall feel free to ping me on Teams if you have a minute to chat about this and figure out the best solution h

[2020-11-11 15:39] mariam-yu commented on #1621
Posting the link to the updated country pages for Kenya that include the 2 Africa Ops Room addition suggestions: PAC indicators (under Country Profile top left) and WASH capacity (under Preparedness): https://invis.io/XMZE5XXV5HN#/437418443__GO_Country_Op_Kenya

Next steps: double checking the integration with @batpad, creating a common list for all countries for PAC indicators (@mmusori to check

[2020-11-12 10:19] imohkay commented on #1243
@karitotp Hey, would it be possible for you to create a new emergency on staging with all data filled? That way, it will be easy for me to incorporate the new design changes. Let me know if that's possible.

[2020-11-12 10:26] imohkay commented on #1666
@mariam-yu Big hi! I had a few questions.

1. The Invision file doesn't show ERU DEPLOYMENT TYPES and NUMBER OF DEPLOYMENTS BY NS. Is that intentional?
2. Where should the link "Sign up for Surge Notifications" go to? @batpad
3. The Deployment key figures have small info icons on the bottom right. Is there some specific info that needs to go there?

[2020-11-12 11:23] mariam-yu commented on #1666
@imohkay Big hi back! So, to be honest these wires are super old, and I was hoping to figure out some details with Ana Maria next week (as she is off this week). I don't think the changes will be big, but to figure out some details as you mentioned.

1 - Where would you expect to see ERU Deployment types and number of deployments? Or is this just the data you have?
2 - I think this would take to t

[2020-11-12 14:05] karitotp commented on #1243
Hi @imohkay, sure, will create one.

[2020-11-12 18:38] karitotp commented on #1243
@imohkay, I created this emergency https://dsgoproxyapp.azurewebsites.net/emergencies/4120#details
Let me know if that works for what you are looking for.

[2020-11-12 19:45] mariam-yu commented on #1663
@batpad Posting here, as it's sort of an update to Account page, even though related to PER. As Greg is off, do you mind taking a look to see if the flows capture what we discussed in our call? https://invis.io/79ZEX1DYX3A#/357319251_7-3_Account_PER

1 - Main PER Forms page is simplified with one button to one form-flow (Overview, Areas, etc.).
2 - The Completed PER Assessments section is simplifi

[2020-11-13 11:13] LukeCaley commented on #1557
This is great.  We are just starting the conversation with a couple of National Societies around potential support, including NLRC @mjvanderveen

[2020-11-13 13:04] LukeCaley commented on #1014
Xref: https://github.com/IFRCGo/go-frontend/issues/1243#issuecomment-726262872

[2020-11-13 13:19] LukeCaley commented on #1243
- Contacts module UI - we had updated this sometime ago but it hasn't gotten the full UI upgrade yet on the live version. Thoughts? looks good.  We should only have 3 categories
- Movement Footprint (3W, formerly Response Activities) - revert to 3w
- Should we rename other 3Ws to this as well, such as on regional pages and country pages? - Revert to 3w (to avoid political implications of Movement

[2020-11-13 13:19] LukeCaley commented on #1243
@mariam-yu more specific comments in Invision.

[2020-11-13 14:44] jhenshall opened #1672 "[PROD] Remove hardcoded appeal ingest country mapping"
## Issue
For the [appeal ingest](https://github.com/IFRCGo/go-api/blob/develop/api/management/commands/ingest_appeals), the mapping for regional appeals to countries is [currently hard coded](https://github.com/IFRCGo/go-api/issues/873). We should add the Apple codes for each country to the database and match using that instead.

## Related feature
https://github.com/IFRCGo/go-api/issues/873 - out

[2020-11-13 14:53] LukeCaley opened #1673 "[PROD] Erroneous creation of 'Region' country pages"
## Issue
There are country pages for the 5 regions, i.e. Americas, MENA etc.  These should not exist.

Example: https://go.ifrc.org/countries/282#operations

## Steps to reproduce
When searching "Americas Region" on GO I discovered that there are country pages named after the Regions

![Americas_Region_Country_bug](https://user-images.githubusercontent.com/7791954/99084830-bcbaa400-25c7-11eb-8c01-

[2020-11-13 15:52] maisa-yu commented on #1014
Hey guys, here are the versions for Contact module, with subheadings and single/multiple contacts.
This is the link to Zeplin:
https://zpl.io/VDEyWgJ

![GO Library 2](https://user-images.githubusercontent.com/64901386/99091578-60a84d80-25d0-11eb-9c9a-11f15f53fca8.png)

[2020-11-16 10:37] GregoryHorvath commented on #1663
@mariam-yu Wow this is a great idea, I think we can totally go with this. I'll have to check around if there's anything that blocks this approach but there shouldn't be any.

Yep I think it would be better to discuss those separately, thanks.

[2020-11-16 16:06] tovari opened #1674 "[PROD] Deployed personnel duplicates"
## Issue
*One user reported that she runs several times to the same issue. The Personnel deployment admin page duplicates the inserted row.*

## Steps to reproduce
*I was not able to reproduce.
The user can't identify the circumstances when this duplication happens (doesn't happen every time). She just mentions that when she hits the save button, it keeps saving longer than usual.*

*If applicable

[2020-11-16 18:44] JonathanGarro commented on #1243
@mariam-yu per Luke's reference above, I'm sharing my latest draft of the Movement Picture from the Americas Population Movement. Let me know if you have any questions! If there is an idea around embedding movement picture in a more dynamic way (e.g. an interactive or otherwise native functionality), I'd be happy to explore. We're currently working on converting the Operational Timeline (another S

[2020-11-17 06:10] imohkay commented on #1666
@mariam-yu Hey, so let me know once you figure stuff out with Ana Maria.
For point 1, the ERU deployment types, it currently exists on the site, so I was wondering whether we aren't showing that data anymore.

[2020-11-17 06:11] imohkay commented on #1243
@karitotp This works:) Thank you

[2020-11-17 10:55] mariam-yu commented on #1666
@imohkay Yap! Syncing with Ana Maria tomorrow morning and then I think we have sync together in the afternoon. So, we should have this figured out by then.

[2020-11-17 11:17] batpad commented on #1661
We have copied over countries and districts data from production onto staging.

These left a few "orphaned" countries that were on staging but not matched in the country CSV. These countries have been dropped from staging so that the data is exactly the same as prod.

Some field reports / emergencies on staging associated with these countries will have been deleted from staging in the process. Thi

[2020-11-17 13:34] mariam-yu commented on #1663
@GregoryHorvath Updated in this designs :) https://projects.invisionapp.com/share/F7ZFXL1NB9P#/screens/436434660_0-1-2_Login_3

[2020-11-17 15:20] mariam-yu commented on #1663
@GregoryHorvath As discussed, the UI for the wires: https://projects.invisionapp.com/share/T8ZFOR82PHZ#/screens/436159221 To summarize our discussion between you, me and Marco, the flow may change once we tackle the integration of the tool. For now the proposal is to have tabs for the form. You will see if this is challenging technically, then we can use your current version and improve on it late

[2020-11-17 17:58] GregoryHorvath commented on #1663
@mariam-yu Thanks for summarizing these! I'll follow these as close as I can and once I'll have something up for testing we can improve from there I think.

[2020-11-18 16:02] mariam-yu commented on #1243
@JonathanGarro Thanks for the file. So, as of now, as I understand this could be just an embedded iFrame. For now, we just placed a screenshot of it within the emergency page (doesn't really fit with Ebola, but for now should be ok).

@LukeCaley We updated the prototype with your comments: https://projects.invisionapp.com/share/WNZDV0QDZA2#/screens/417134563

- Contacts module updated with IFRC/NS

[2020-11-18 18:35] tovari opened #1675 "[Prod] Banner - please remove the Survey banner"
Please remove the GO Survey banner from the top of the site.
There is no request to replace it with another banner, it can be removed.

[2020-11-19 08:59] GregoryHorvath commented on #1675
@tovari Please check around if everything works without the banner: https://ifrc-go-minor-remove-banner.surge.sh/

@batpad @geohacker Europe's page is def. not working for example, but not because of the banner removal (https://ifrc-go-minor-remove-banner.surge.sh/regions/3#operations). Most probably these get `Infinity` or `-Infinity` as a value as I've noticed one time.
[code]

[2020-11-19 12:30] jhenshall commented on #1661
They're matching, amazing! 😄 Quick check and all looks good except there are 7 clusters on prod that aren't on staging. Not necessarily an issue but wanted to flag in case an underlying reason why this might have happened:

- Andean Country Cluster
- Bangkok Country Cluster
- Central Asia Country Cluster
- English Speaking Caribbean Country Cluster
- Guatemala City Country Cluster
- Russia, Belaru

[2020-11-19 12:56] #1523 closed

[2020-11-20 16:34] maisa-yu commented on #1621
@batpad   Sharing with you some modules from Regional pages:
- Information Cards
- Additional Links
- All countries sidebar
We’re working on the complete pages and will share with you next week, so you can focus only on those modules for now.

Here are the links to zeplin screens:
zpl.io/VqpDqvl
zpl.io/bz4K4kM

[2020-11-23 03:29] imohkay commented on #1621
@maisa-yu  Could you provide the icons for the Information Cards? The ones for National Societies and Country Clusters?
Right now, am unable to download from Zeplin. Thanks!

[2020-11-23 13:52] maisa-yu commented on #1621
Hi @imohkay the icons are already exportable there, not sure if there's something wrong because they're in a group... it changes depending where you click.
I'll try exporting again to see if it works.

[2020-11-23 22:15] mariam-yu commented on #1666
@batpad @imohkay Please see the wires for Deployment updates:
Surge Deployments page: https://invis.io/B3XKVKZJWY9#/361601984_5-1_GO_Deployment (p.s. kept a screenshot of the ERUs lower module as we won't be touching it this round).
Emergency page: Surge tab: https://invis.io/3QXKWXWTAHF#/414729370_4-3-4_GO_Specific-Emergency_Epi

@anamariaescobar could you please verify if all is correct as per o

[2020-11-24 06:09] imohkay commented on #1621
@maisa-yu I can download the vector file now. Thank you:)

[2020-11-24 11:33] batpad commented on #1621
The tab re-organization and additional tabs on Region pages is ready to test.

What can be tested on the Region Admin and frontend pages:

 - Tabs and organization of sections on the Region page are as per new designs: PENDiNG: List of Countries to be moved to slider.
 - Add a custom name for `Additional Tab Label` in the Region Admin - editing it should change label for Additional Data tab on fro

[2020-11-24 11:34] batpad commented on #1621
Additionally, we have added the new fields for National Society Indicators and WASH Indicators to the Country admin backend. We have not yet added these to the Country page on the frontend - this is what we will work on next and expect to have it ready by Thursday.

[2020-11-24 14:01] batpad commented on #1621
@mariam-yu for the WASH capacity indicators and NS Indicators on the country page, will it be on Zeplin soon?

Also, we are still not pushing the Country Profile tab live - the National Society Indicators are currently in that tab. Should we then add these when we go live with the Country Profile / Historic Databank tab? cc @LukeCaley @mmusori on this.

[2020-11-24 14:02] anamariaescobar commented on #1666
@mariam-yu well noted! Having a meeting today with the Surge team to go over the wires. Will have the feedback ready tomorrow morning! maybe we should have a meeting about it?

[2020-11-24 14:47] mariam-yu commented on #1666
@anamariaescobar Sure! let me know what you learn and we can hop on a call. Thanks!

[2020-11-24 18:39] jhenshall commented on #1672
This is not as simple as first suspected... Apple uses 2 distinct codes:

- organisation code = for each office, cluster and region
- geographical codes (GEC) = uses ISO2 for countries, but internal 3 digit codes for regions / sub regions

The trouble is that the divisions don't align between the two and IFRC clusters/regions could be split across multiple GEC locations. This means mapping the GO

[2020-11-24 18:49] jhenshall opened #1681 "[PROD] Uppercase ISO codes"
ISO codes are currently lowercase when the standard is to have them uppercase. Change this for the two country attributes: `iso` and `iso3`.

[2020-11-24 20:12] jhenshall commented on #1456
Had similar issue with the country dataset returning `CÃ´te d'Ivoire` and `Sao TomÃ© and Principe`. I've found that this is actually an issue with how Excel imports CSVs (it should use UTF-8 but defaults to Windows format). When viewing the CSV as text and/or importing as UTF-8, the accents are displayed correctly.

@geohacker - does this definitely address the issue you reported and any thoughts

[2020-11-24 22:01] mariam-yu commented on #1669
@marcovvu1 Please let us know what you think about this direction for the Preparedness page: https://invis.io/YJZJ6YNXRDZ#/356658511_6-1_GO_Dash1

We will be sending you some UI guidelines, but in the meantime some recommendations on how we could present the dashboards on the page:
- We should remove the headers across, since we will have the title styling from GO (we will provide you the UI for t

[2020-11-24 23:35] karitotp commented on #1621
Hey @batpad, I did a test to these functionalities and here my comments:

I found these differences comparing the design in https://projects.invisionapp.com/share/ZBZB8SF9UCP#/screens/436634656_2-1_GO_Regions_AF and the Region page in Staging.

![Selection_010](https://user-images.githubusercontent.com/11504548/100159754-53b31600-2e7c-11eb-869f-57043e1bfe76.png)

This works good, I changed the lab

[2020-11-25 05:34] batpad commented on #1675
This is done and in production. Marking as Ready for UAT, please move to `Done` when confirmed.

[2020-11-25 05:46] batpad commented on #1621
@karitotp thank you!!

@imohkay tagging you to rename Operations to Emergencies. I can change the default name of the Additional Data tab.

With regards to uploading images in the editor in the backend, could you provide an exact steps to reproduce? Also, are you able to tell if the same issue occurs across ALL snippet / graphical text editor fields? I imagine that getting image uploading to work

[2020-11-25 06:34] geohacker commented on #1456
This could be an Excel issue, as Excel is notorious for encoding related problems during export.  I think exporting as utf-8 should fix to a large extent, but really it's hard to say until we try.

It's also worth noting that this could happen from within in the shapefile. Depending on what software is used and how it's exported or saved.

The problem is a bit beyond just the users seeing garbage.

[2020-11-25 06:44] geohacker commented on #1672
@jhenshall I would suggest that we focus on removing the hardcoded region to country mapping in the appeal ingestion process as [described in this ticket](https://github.com/IFRCGo/go-api/issues/873). From what @batpad explained to me, what we are trying to do in the appeals ingestion code is to map emergencies to a 'country' in GO, and in this particular case they are most certainly actual countr

[2020-11-25 07:34] GregoryHorvath commented on #1672
Hmm... I'm not totally sure I fully understand, but for now the logic is:
- if the incoming `GEC_code` is present in that mapping, then we get its value and check for a country with that ISO (2)
- if that didn't give back any result we try to match with the name, coming from the `OSC_name` field

Right now we only map GEC codes to 1 specific country (ISO to be precise). I'd say we could simply add

[2020-11-25 08:19] GregoryHorvath commented on #1621
@batpad Yeah I've been thinking about removing that separate image upload for Snippets... although I'm not sure if anyone used/uses that actively. I've definitely seen it cause issues "randomly".

[2020-11-25 10:18] imohkay commented on #1621
@maisa-yu @mariam-yu Hey, regarding the All Countries new UI (with the << All Countries link just above the tabs), is this link placed at the extreme right edge of the browser? Or it sits just above the last tab (Additional Data) on the right?

[2020-11-25 10:54] jhenshall commented on #1672
Nice one, thanks @geohacker @GregoryHorvath! I think I get it for the region and country mapping, but it's the sub-region/cluster mapping that is confusing me.

So it would be possible to have multiple `GEC_codes` mapped to a single country? e.g. Kenya might have three emergency locations mapped to it - `AFR` for Africa regional responses, `EAF` for Eastern Africa sub-region responses and `KE` for

[2020-11-25 11:06] jhenshall commented on #1456
The data seems correct in the backend and the shapefile and I can't replicate the issue anywhere except when opening the CSV in Excel (and even then it can be avoided by importing the CSV using UTF-8).

Do we not specify UTF-8 when exporting CSV from the API then? I know that they don't have a .csv extension, so I normally add it on manually, which might mean the wrong encoding is applied. As you

[2020-11-25 11:11] tovari commented on #1621
hi @batpad,
looks good!
I'm wondering why we have 2 fields to add the additional tab name:
![image](https://user-images.githubusercontent.com/68283148/100219395-3cc10200-2f16-11eb-8d47-89a5f077dd17.png)

On the Country page admin, I was not able to update the Additional tab name:
![image](https://user-images.githubusercontent.com/68283148/100219688-97f2f480-2f16-11eb-88f4-9e5119176595.png)

![imag

[2020-11-25 11:21] mariam-yu commented on #1621
@batpad @imohkay Please don't rename the Operations to Emergencies yet. It was not approved. (the wireframes are always a bit ahead with some concepts). As for Additional Information, if you do rename to Additional Data, could you please make it across (including on regions + emergencies).

Lastly, regarding the All Countries, could we have it attached to the browser edge and test it? Would that b

[2020-11-25 11:35] mariam-yu commented on #1014
@batpad Are you guys implementing these styles? Should we move this ticket to dev column? Thanks!

[2020-11-25 12:10] jhenshall opened #1684 "[PROD] Update clusters to match organisation structure"
## Issue
The counties table has entries for clusters which no longer match the APPLE organisational structure. With the next round of geo changes aiming to add hierarchy of Country > Cluster > Region into the countries table, we first need to make sure that GO replicates the organisation structure.

## Changes to be made
**Add missing clusters**
`North America and Mexico`

**Split out**
`Eastern A

[2020-11-25 12:10] GregoryHorvath commented on #1672
Oh I see now @jhenshall  that you'd want to map multiple GEC the other way (than I thought). Hmm yea I think we should be able to do that with some `many-to-one` relation @geohacker, like having a model of just the GEC codes and then having the relation between those and the countries (?). Just my initial thought, there might be an easier solution.

[2020-11-25 12:53] anamariaescobar commented on #1666
Hi @mariam-yu and @batpad !  The Surge team was very happy with the designsss!! Some comments below:

**Deployments page:**

- The title and name of the tab should be only Surge.

- Can we add a Key figure with the # of NS providing RR personnel?

- In the graphs below the map, are these graphs related to RR personnel, right? The surge team would like to have this graphs cumulative for the present

[2020-11-25 23:10] mariam-yu commented on #1666
@anamariaescobar All the comments look good. No big questions. A few things:
- We can change the entire section to Surge instead of Surge Deployments, but would it be as clear and explicit to outside people? I know this section is password protected, but wondering is Surge is enough.
- _Surge overview by emergencies: just to check, this will only shows the active deployments and then if someone is