[2020-11-26 11:38] imohkay commented on #1621
@batpad Please checkout feature/1621-country-sidebar. Could you make the filters for the country sidebar work? Thanks.

[2020-11-26 13:27] mariam-yu commented on #1666
@anamariaescobar One more question I missed: what does it mean "when the alert is being stand down"? We have application deadline, why do the users need to see when the alert will be removed? If I understood it correctly, it will only add to the confusion. Thanks!

[2020-11-26 13:53] mariam-yu commented on #1666
@anamariaescobar @batpad Wireframes updated, pending a few questions mentioned above:
Main Surge page: https://invis.io/B3XKVKZJWY9#/361601984_5-1_GO_Deployment
Emergency Surge page: https://invis.io/3QXKWXWTAHF#/414729370_4-3-4_GO_Specific-Emergency_Epi

[2020-11-26 14:25] anamariaescobar commented on #1666
@mariam-yu answers to your questions:

- We can change the entire section to Surge instead of Surge Deployments, but would it be as clear and explicit to outside people? I know this section is password protected, but wondering is Surge is enough. **Checked with the team, and Surge is enough.**

- Surge overview by emergencies: just to check, this will only shows the active deployments and then if

[2020-11-26 14:42] batpad commented on #1621
This was a bug, this should now be rectified on staging.

Thanks for the catch about something weird with the Additional Tab Name, possibly when I enabled translations for that field, I will look into it.

[2020-11-26 14:45] batpad commented on #1621
@mariam-yu @mmusori - the All Countries slider is now on staging to test, eg https://dsgoproxyapp.azurewebsites.net/regions/2#operations

Let us know how this looks!

@karitotp could you also please test the `All Countries` button that appears above the tabs? That it works and that searching within it works.

With this, I think the Region page is complete. I think the only pending thing is figurin

[2020-11-26 14:57] batpad commented on #1621
@tovari I see the updated tab name here: https://dsgoproxyapp.azurewebsites.net/countries/174#operations - can you confirm that this works or if you are able to reproduce the issue you were having?

For the other issues with the inconsistent label name and the extra field showing up for additional tab for the Region page, thanks for the catches! - Fix is up at https://github.com/IFRCGo/go-api/pull

[2020-11-26 22:19] mariam-yu commented on #1666
@anamariaescobar Thanks for your answers. The wireframes are now updated and should include all the things you mentioned. Regarding the status, though, I'm a bit hesitant (even though it's in the wires). What other statuses would it include? Would it be only Open or Stood Down (is this correct?)? I also assume stood down is not as common (?) so would it mostly be open? Alternatively, we can call t

[2020-11-27 00:10] nanometrenat commented on #1673
FYI this is not a new issues - the country pages for regions have existed for some time - it's just that when search wasn't working they couldn't be found easily ;)

[2020-11-27 03:15] geohacker commented on #1672
Interesting. Are the subregions and clusters in the Countries table already? If so then we can add a GEC code there and do a lookup. I defer to @batpad and @GregoryHorvath on the schema.

@jhenshall so does this mean we need to make changes the way appeals are processed and add a second level association to subregions and clusters? Sorry perhaps I'm not fully grasping the issue. @GregoryHorvath do

[2020-11-27 03:18] geohacker commented on #1684
@jhenshall thank you for this explanation! Yes this might would easier done on the django admin. I think deprecating and adding new ones make sense, but do you know if we want to remap existing events/emergencies/reports tied to these old ones?

[2020-11-27 03:29] geohacker commented on #1456
@jhenshall if the shapefile you've seems correct then we don't have to worry. I ran into this with the shapefile I got from Guido and Tekla back when we did the first pass of geo data cleanup.

The CSV exports definitely enforce utf-8, right @batpad?

[2020-11-27 08:35] batpad commented on #1456
The CSV export seems to be correctly utf-8 encoded, so I would put this down to likely an Excel issue using a different default encoding?

[2020-11-27 08:37] batpad commented on #1672
@geohacker @jhenshall - yes, I think we'd do roughly what @GregoryHorvath said:

Let's create a separate model for GECCode or so - with two fields - `code` and `country`, which is a ForeignKey to Country. The GEC codes can be added there, and multiple GEC codes could refer to a single country. And during the appeal_ingest process we just need to look up the GECCode and get the country associated w

[2020-11-27 09:47] tovari commented on #1621
Thanks, @batpad, It works as expected!

[2020-11-27 10:31] anamariaescobar commented on #1666
Hi @mariam-yu, the wires look good!
Regarding the status, yes, it will be Open or Stood down, actually stood down positions are a common thing, I guess at least a couple per each operation, Filled won't be an status as once the alert has been filled it will transition to deployed personnel.

Thank you so much for this!

[2020-11-27 10:51] jhenshall commented on #1684
Very good question @geohacker! Will look into what's already mapped and what we'd need to do with them.

[2020-11-27 10:56] mariam-yu commented on #1666
@anamariaescobar Great! Then the wires are done; we will be updating the UI today. I'll post it here.

[2020-11-27 11:56] mariam-yu commented on #1621
@batpad and team. First of all great job putting this together. It looks great! Went through it and a few minor comments:

- The sidebar works well. Super excited to see this. Do you guys think it could be possible to have the All Countries button to move along with the sidebar? So basically the sidebar is attached to the browser edge but the button is attached to the sidebar (Zeplin may help). If

[2020-11-27 12:12] batpad commented on #1621
@karitotp could you please test the All Countries button on Region pages, across browsers and maybe some screen-sizes, and provide feedback?

[2020-11-27 12:19] batpad commented on #1621
Yes. This is dependent on us having the country cluster data in the database. We will likely need to hide it for this release - cc @imohkay

I thought the title should be mandatory in the backend, will check, thanks for the catch.

@imohkay can you check?

Yea, getting the jump to not be jarring will be interesting, will look at that. For the columns, in Zeplin I believe they had categories that w

[2020-11-27 12:23] mariam-yu commented on #1621
@batpad sounds good for all. For additional links, we removed the categories, but some column organization will help. Zeplin is updated.

As for mobile, our quick recommendation would be to make it appear on top and expand downwards, but not sure what kind of effort it is. We haven't really tackled mobile; so, not sure how that page will even look.

[2020-11-27 12:45] jhenshall commented on #1456
So this [seems to be a common issue](https://stackoverflow.com/questions/6002256/is-it-possible-to-force-excel-recognize-utf-8-csv-files-automatically) and I'm assuming there is no tech fix because working as expected on our end? Perhaps just user guidance for opening these CSVs with Excel as part of API documentation? Bit annoying but not sure what else we can do!

Technically, I guess we can jus

[2020-11-27 15:44] karitotp commented on #1621
It works well to me @batpad, I test it in different screen size and in firefox and chrome browser and I did not find any issues, only I saw one thing:

- If the button is displaying the list of countries and you go to another region page, the button is still active displaying the list of countries. Maybe this list should be inactive per defect if you change to another region?

Other thing (no rela

[2020-11-28 04:24] imohkay commented on #1243
@batpad Please checkout feature/1243-emergency-ui
The following needs to be done:
- Make Emergency Overview section fetch real content
- Making the tooltips on the deployed personnel graphic get real content, along with the correct dates
- Appeal Documents need to become a table with appropriate headings etc.

Thank you:)

[2020-11-29 11:11] jhenshall opened #1688 "[PROD] Review districts issues"
## Issue

This is a master ticket for issues related to districts, which are no longer being covered by release 4.4.

## Related issues

- #1188
- #1445
- #1446
- #1447
- #1456
- #1473
- #1597

[2020-11-29 12:10] jhenshall opened #1689 "[PROD] Add IFRC cluster to countries"
## Issue
Countries with a National Society should have an attribute of the IFRC cluster that they are in. This is a useful parameter for people using the API and an important part of having a country dataset 'source of truth' for IFRC. It also already exists as a field in the ICRC shapefile used as basis for GO geo.

With clusters in the same country table (`record_type` = `2`), we can relate to t

[2020-11-29 12:51] jhenshall opened #1690 "[PROD] Link overseas territories to 'sovereign state'"
## Issue
Overseas territories are currently included in the countries dataset with `independent`=`FALSE` but are not linked to the sovereign state record. This would be useful for when emergencies happen in overseas territories but need to be linked to the country with the National Society - e.g. Anguilla> United Kingdom or other examples outlined in #619.

Need to confirm whether `sovereign_state

[2020-11-29 12:52] jhenshall commented on #1643
Outlining the steps to be made for this round of geo changes. Will continue to edit this comment to make sure accurate and @geohacker, please do check and feel free to edit too. 🙂

## Changes in Django admin
To be done by @jhenshall
- [ ] #1684 Match clusters to current organisation structure
- [ ] #1623 Change country names to those agreed by governance (pending sign off)

## Schema changes
To be

[2020-11-30 03:46] geohacker commented on #1643
@jhenshall this list looks great to me!

[2020-11-30 03:47] geohacker commented on #1643
@jhenshall this list looks great to me!

[2020-11-30 03:53] geohacker commented on #1690
@jhenshall `sovereign_state` sounds good to me. Do you know if this requires changes anywhere in the front-end especially for the logic on linking emergencies? If so, what exactly would that be? cc @batpad @GregoryHorvath

[2020-11-30 04:00] geohacker commented on #1672
@batpad this sounds good to me.

[2020-11-30 06:26] batpad commented on #1690
@geohacker @jhenshall - feel free to shoot down this idea but to put it out there: how about a single `parent_id` field.

So parent_id would be a ForeignKey to itself (i.e. the country table - i.e. any entity in the Country table can mark another entity in the Country table as `parent`).

When applied to a country (record_type=1) with `independent=False`, the `parent` is the "Sovereign State" the

[2020-11-30 09:52] batpad opened #1691 "[Staging] Filter icons on table look broken"
## Issue

Icons in the table headings seem to be broken. This possibly happened when we updated our icon font.

Ref #1621

This is a bit silly, but we may need to change the way we are processing our icon font right now to cleaner integrate new icons.

@imohkay assigning this to you, and to outline whatever solution you come up with.

[2020-11-30 10:40] mariam-yu commented on #1666
@batpad UI is completed for Deployments:
Specific emergency - Surge tab: https://zpl.io/adOPdRn
Surge tab on main nav: https://zpl.io/2GrMKB9

Let us know if any questions.

[2020-11-30 11:02] batpad commented on #1666
cc @imohkay ^

[2020-11-30 11:09] imohkay commented on #1691
@batpad Have made a PR for this, which I see you have already merged into develop. I have added basic documentation to the README for the same.

[2020-11-30 11:15] batpad commented on #1621
@karitotp thank you for the catch around the icons.

These should now be fixed. But it will be great if you can pay some attention to icons throughout the site as we had to change some things with the way we handle icons. Please let us know if you notice anything weird or off with any icons through the site. Thanks!

[2020-11-30 11:16] batpad commented on #1691
This is now on Develop. Thanks @imohkay

[2020-11-30 12:36] jhenshall commented on #1690
Just noting here... discussed @batpad suggestion above but agreed to keep as two separate fields `sovereign state` and `country cluster` - this makes it clearer what the data is showing and doesn't need additional explanation, especially for users of API.

[2020-11-30 14:20] mariam-yu commented on #1663
@GregoryHorvath The account page PER forms flow is added to Zeplin: https://zpl.io/2GrkpwW Let us know if you have any questions!

[2020-11-30 14:43] mariam-yu commented on #1621
@batpad Not sure of the status of this, but tagging it here anyway, updated designs for NS page with the NS indicators (on country profile): https://zpl.io/a7APyP8 and with Wash stuff on Preparedness: https://zpl.io/b6qkQBR

[2020-11-30 18:00] karitotp commented on #1691
@batpad, icons looks good now. But I saw that in the table for Surge, the filter for “CATEGORY” and “TYPE” is not rendering correctly.

![Selection_014](https://user-images.githubusercontent.com/11504548/100646290-d704b980-330b-11eb-9325-25a2462052d5.png)

[2020-12-01 04:58] geohacker commented on #1474
We decided to use the [Mapbox Tiling Service](https://docs.mapbox.com/mapbox-tiling-service/) for this purpose. I've built out the workflow in this PR https://github.com/IFRCGo/go-api/pull/933. Country tileset is processed as expected, but districts are failing.

Unfortunately there's no error or logs from the Mapbox side that's visible to us using the [tilesets-cli](https://github.com/mapbox/tile

[2020-12-01 20:21] mmusori commented on #1621
1.	All countries appearing in the All countries slider (test done for Africa Region)
2.	The search is quick but puts in additional countries not starting with the first two letters but have those letters in the name. (Not a deal breaker).
3.	Are we missing a Trend Analysis tab or this is now under Operations? Makes sense though.
4.	Regional Snippets in the backend map onto the additional graphics

[2020-12-02 06:03] batpad commented on #1621
Ah, right now the search is setup to search anywhere within the country - this seemed like what we would want, because for eg. if I search for "Congo", I'd probably want it to match Democratic Republic of Congo, but happy to discuss.

@mariam-yu suggested we keep it under Operations for now until we have more things to put into Trend Analysis.

Yes, the existing snippet behaviour has not been modi

[2020-12-02 11:52] batpad commented on #1555
@LukeCaley @mariam-yu - do we still want to do the new footer implementation? If it's approved and has useful links, etc., we can likely get this in. cc @imohkay

[2020-12-02 14:50] tovari commented on #1621
On the Additional Information tab, there is an Additional Graphics label, which is not editable at the backend. As we can change the tab name, it would make sense to provide an option to update the Additional Graphic text as well. Thanks!

[2020-12-02 15:19] mariam-yu commented on #1555
@batpad somehow I confused and thought this message was from Luke. All good from our side and Luke provided his feedback. All on Zeplin and relevant links above in this thread.

[2020-12-02 15:37] mmusori commented on #1621
@batpad just a few minor things to look into.
1.	Regional key figures are in additional tab should they not be in Regional Profile?  (They are coming in correctly) @mariam
2.	Number of NS with ongoing activities is not consistent between the key figure and the drop-down list. The key figure is 14 and the dropdown has over 30 NS. The export has only 9 ongoing projects. but the export has quality is

[2020-12-02 16:08] batpad commented on #1621
Thanks @mmusori !

We didn't have a clear space for the existing configurable Key Figures in the Regional Profile - the existing Additional Tab was left as is (other than making the name configurable) - if there's a clear space where the Key Figures should go, happy to speak to @imohkay about making that change. @mariam-yu ?

@mmusori are these all issues within the 3w tab? We have not modified an

[2020-12-02 17:02] jhenshall commented on #1689
After discussion it was decided that there will be an additional field added to label the type of IFRC reporting office to account for countries with IFRC Country Offices that are not part of clusters. The options will be `Country Office`, `Cluster Office` or `Regional Office` in line with the ICRC shapefile. The main groups will be:

**Countries in a cluster**
`IFRC_office_type`=`Cluster Office`

[2020-12-02 18:14] tovari commented on #1621
I suggest to rename the 'Additional Graphics' text to 'Regional content' on the frontend for this release.

[2020-12-02 19:20] mariam-yu commented on #1557
@LukeCaley So, Maisa and I had a call with Shafqat from BRC to follow up, and here is where we stand:
- I had a feeling getting their code for the UI library may not be super helpful as they haven't completed it yet, and it's quite custom to their own elements. So, it may still be a lot of separate work for devs.
- He did propose to organize a call between devs if we'd like to have more visibility

[2020-12-02 19:36] mmusori commented on #1621
Thanks @batpad .
1. I will wait for the response from @mariam-yu on the Key Regional figures.
2. I will ticket separately the regional 3W issues.
3. I will test the Regional profile labels and the backend/frontend alignment once it is done.

[2020-12-02 19:40] mariam-yu commented on #1621
@batpad @mmusori what are these key figures? If it's what, say, Americas has currently in their Additional Info tab, then it's the same as the top numbers (number of NS and clusters per region) in Regional Profile, which is already there. So, I guess that should be removed.

A few minor comments from my side:
- On operations, the Recent Emergencies is breathing down the neck of our trend graphs :P

[2020-12-03 06:09] batpad opened #1699 "Cleaner organization of Admin forms for Country, Region, Emergency"
Breaking out of #1621 -

As we have continued to add more fields and functionality to these forms in the backend, the forms have grown a bit disorganized and confusing for users.

We should think of a clear hierarchy and sections for each of these forms, and then organize the forms in the admin into "fieldsets" with clearer section labels and guidance.

The simplest would likely be to group variou

[2020-12-03 06:12] batpad commented on #1621
We still have a section in the Admin allowing users to put in arbitrary Key Figures (figure, deck and source). I'd be a bit worried to remove that entirely in case people are using it.

Am happy to hide it in the frontend for now while we take a decision on whether to remove it entirely from the Admin, or figure out a new location. @mmusori ?

[2020-12-03 06:30] batpad commented on #1621
@mariam-yu could you screenshot / share link of where you are seeing this? I seem to see the snippet title fine on for eg. http://localhost:3000/regions/0#regional-profile

Links are displayed as entered in the admin - it can be easily changed to non all caps in the admin.

[2020-12-03 06:48] batpad commented on #1621
The following frontend fixes are up in a Pull Request and should be on staging soon:

  - Fix region name in label for national societies count
  - Change Additional Graphics to Regional Content in Additional Data tab
  - Hide Key figures
  - Hides the Additional Info tab if it contains no data

@imohkay - can you check the minor styling things @mariam-yu pointed out: I think those are:

 - Spacin

[2020-12-03 08:14] batpad commented on #1621
@mmusori - have updated the naming for the snippets in the Admin to make it clearer where each snippet goes.

@mariam-yu - @imohkay has addressed some of the styling issues - I think additional issues with the country slider would require some discussion as some of the things are not straightforward. Hopefully is fine as is for this release.

With this, I think we've addressed all the issues ident

[2020-12-03 08:19] mmusori commented on #1621
@batpad unfortunately the key figures have been hidden in the front end before @mariam-yu could view this.
in the backend @mariam-yu the input is done here.
![image](https://user-images.githubusercontent.com/7780809/100982681-ac537480-3548-11eb-8a43-04f149ac43c9.png)

[2020-12-03 08:36] tovari commented on #1621
@batpad, in case of the Country pages, the Additional Graphics text could be removed. I cannot suggest any text that would fit here.
In case, the string must be the same for Regional and Country pages, it is better to remove it.
Thanks!

[2020-12-03 08:52] imohkay commented on #1621
@mariam-yu
1. For the country slider, I've reduced the animation speed from 200ms to 100ms. Also, we can't make the height of the dropdown the height of the browser so easily (because we will need to know the scrolled position of the user and also keep it full height as the user scrolls the page. If we had the Countries button always fixed to the page in a corner (like the Codepen demo), it would

[2020-12-03 12:14] batpad commented on #1621
@mmusori have added back the Key Figures per your comment above.

[2020-12-03 12:15] batpad commented on #1621
Was the text on Country pages affected? @tovari can you give me an example URL for countries that has snippets? Thanks.

[2020-12-03 12:33] mariam-yu commented on #1621
@imohkay Thanks, may be we try 150ms? Could we add easing? That would help with the smoothness. Thankssss

[2020-12-03 12:34] mariam-yu commented on #1621
@batpad Can see the title now, may be was not refreshed. Thank you!!!

[2020-12-03 14:30] tovari commented on #1621
https://dsgoproxyapp.azurewebsites.net/countries/174#additional

[2020-12-03 16:46] batpad commented on #1621
@tovari is it okay if it says `Country Snippets` or so to remain consistent with region? Removing the title altogether might have other implications to the layout, etc.

[2020-12-04 06:24] mmusori commented on #1621
@batpad the Number of national societies in the Regional profile display correctly and are now labeled correctly but only in English. The translated pages display 0 national societies.

![image](https://user-images.githubusercontent.com/7780809/101129363-b71e1000-3601-11eb-8d3c-7ffc1f4c97b6.png)

[2020-12-04 07:49] batpad commented on #1621
Wow, thank you for the catch, @mmusori - that was definitely an interesting bug - to tell whether a Country has a national society, we are checking if the national_society_name field is empty - when switching to other languages, the check would happen on that language specific string :facepalm: - fix for this is up here: https://github.com/IFRCGo/go-api/pull/948 - should be deployed to staging in

[2020-12-04 08:36] tovari commented on #1621
Hm, this additional tab will be used for publishing various content, so I'm not sure we could have a single string that would fit all. E.g. in case of the ESSN project, Country snippets would not fit. Is it possible to change it to whitespaces? Does it break the layout?

[2020-12-04 09:26] batpad commented on #1621
@imohkay could we look at what it would take to remove the Additional Graphics title altogether on the Countries page?

[2020-12-04 09:29] imohkay opened #1706 "Update styles for new footer"
Update the footer to look like this:
https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5ef20a7ec497bf4479990370

[2020-12-04 11:41] batpad commented on #1621
@tovari have removed the header in the additional tab for countries.

[2020-12-04 11:42] batpad commented on #1621
This should also be fixed on staging.

[2020-12-04 11:46] mmusori commented on #1621
The the Key Regional figures are fine in additional information tab for now. I talked to Elly and he only wanted the Key figures from Appeals which is already done automatically.

[2020-12-06 16:50] jhenshall opened #1709 "[PROD] Handling disputed territories"
## Issue
With the work to have GO as the canonical source of geo data and export to Mapbox tileset #1474, there are some disputed territories that are separate records in the ICRC shapefile but should not be displayed as separate countries, both on GO and on the map. There may be more instances but the two current considerations are:

- Kosovo - should be displayed as part of Serbia as it is cover

[2020-12-06 18:14] jhenshall commented on #1684
@geohacker - I've checked and there are no field reports, events, appeals or 3W that are linked to cluster records. They are all done at a country level: so either mapped to multiple countries or to a single representative country for a region - e.g. Panama for Central America. So, thinking no mapping required unless I might have missed something?

[2020-12-06 23:18] tovari commented on #1621
There are a few styling issues on the Arabic page:

- Country slide in button arrow direction should be opposite
- Regional profile - additional links:

![image](https://user-images.githubusercontent.com/68283148/101295933-d34bc800-3820-11eb-9365-90f24ddf473b.png)

- Country names on the 3W SAnkey are weird mixture of characters

Additional links on Regional profile don't work for me, and I was no

[2020-12-07 03:20] batpad commented on #1621
@imohkay would this be possible to fix?

I **think** that would be expected styling for a right-to-left language. @imohkay can you confirm / recommend if there's anything we can do here?

@tovari is this a new issue or does it exist in prod? Will look anyway, but if it's an existing issue, will be great if we can file separately.

It does seem like the domain is no longer accessible. We will need

[2020-12-07 09:26] mmusori commented on #1621
@batpad The NS figures in the regional profile are now fixed for all regions in the other language's so thanks. The only outstanding issues are:
1. The links to the content on ifrcgo before the ops room went offline it was possible to view the pages in ifrcgo.org but not possible to view on GO. So in the backend if you click on view on GO then you did not get a result. But if you unclick that it w

[2020-12-07 10:46] batpad commented on #1621
Yes, the `Show in GO` check-box signifies whether the link should be embedded as an iframe within the site, or just be treated as a normal external link. When we had it set to the Github Pages URL, the Iframe embed did not work, but you could go directly to the site. So we switched to ifrcgo.org for testing, and now, of course, the domain has gone down.

I believe the domain issues are being resol

[2020-12-07 12:31] GregoryHorvath commented on #1669
@tovari @mariam-yu @imohkay We're removing the current stuff from this page right (except the top description part with the picture and contact button)?
I mean the ones currently available at: https://dsgoproxyapp.azurewebsites.net/preparedness

Because in this case I could also remove some parts of the logic which was (is) used to pull the data into the current graphs/lists/map. Which would be be

[2020-12-07 14:24] batpad opened #1711 "[PROD] Inform Score showing on some country pages"
@karitotp found this while testing: Some countries (currently only Brazil) are displaying "Inform Score" next to the name.

This is likely not from the current release, but would be useful to have a hotfix for anyway.

[2020-12-07 19:21] jhenshall commented on #1661
Hey @geohacker @batpad - I was just about to update the clusters in staging for #1684 but we have the above ones missing. I can add these in manually but then the IDs will be different to prod. Probably no big deal but could cause issues when joining with ID? Let me know if you can add them or I will add.

[2020-12-07 20:41] jhenshall commented on #1464
@geohacker @batpad - can we prevent non-independent states from appearing in search or having a country page created? Particularly conscious of the numerous countries we are adding with the sole function of being in the Mapbox tileset e.g. disputed territories. They will have no other function on the site!

[2020-12-08 08:01] batpad commented on #1202
Oops, auto-closed accidentally, re-opening.

[2020-12-08 08:10] batpad commented on #1202
Map styling updates have been merged to develop which should update the map styles on the home page as well as the region pages:

 - Base map styling updated as per designs
 - Colours of points and on legend updated as per designs
 - Popups styling updated as per designs
 - Mousing over a country highlights it
 - Clicking on a country, even with no emergencies, shows a popup to be able to navigate

[2020-12-08 08:14] batpad commented on #1660
We have pushed a fix for the deployments map to staging, which makes it work "as it worked before", fixing a few issues that were causing things to not render at all.

I'm not sure I've ever seen the deployments map working - I do see that the design and structure of it is a bit different to the rest of the maps. Right now, we left it "as it was", just getting it not throw errors and actually rend

[2020-12-08 08:15] batpad commented on #1711
Was hotfixed in master.

[2020-12-08 08:17] batpad commented on #1706
This is now on staging.

@karitotp could you test that links in the new footer, etc. all work fine?

cc @mariam-yu for design feedback.

[2020-12-08 08:18] batpad commented on #1675
I am closing this as it's moved to Done and in production. @tovari please re-open if needed.

[2020-12-08 08:18] #1675 closed

[2020-12-08 11:15] mariam-yu commented on #1202
@batpad Woa! Excited to see this! A few comments:

1 - The dots seem a bit small to me. Do you think we could make the starting point for the size a bit bigger (similar to Zeplin) or will that be unscalable?
2 - The hover works for me in a funky way; there seems to be a big delay on when the hover color appears and it doesn't always work. You need to hover a few times over a country to the hover t

[2020-12-08 11:25] mariam-yu commented on #1706
@batpad Great! This is coming together so nicely. A few comments:

- Could you check the font weights across? Seems a bit bolder to me, but to double check.
- The copyright is on the left.
- All the external links should open in a new window; so, I guess only "Other Resources" can open in the same window.
- We could make the overall box height a bit bigger (264px in Zeplin).

Thanks!

[2020-12-08 11:27] mariam-yu commented on #1660
@batpad Sure, let me know. I see the map looks a bit purple-y. Not sure whether we should do an audit, as you mentioned it works as before, but yah let us know!

[2020-12-08 14:19] batpad commented on #1706
cc @imohkay ^

[2020-12-08 15:20] anamariaescobar commented on #1638
@batpad Just copying Molnix email in here to keep track:

**Enable new alert modes (IFRC CR?)**

The use case is for I-Information / A-Alert / D-Deployment / S-Stand down messages. Each of these affect IFRC GO, with the timing on both platforms being of key importance. For this reason, the alert needs to be the triggering moment.
Typically each mode is targeted at the same recipients in related al

[2020-12-08 16:22] tovari opened #1723 "Surge calendar link on the Resource page"
Please add a new item to the IFRC Surge Services list on the Resource page with the following text:
Global Surge events and trainings

If the string is too long to fit in one line, it can be 'Surge events and trainings'

the link:
https://docs.google.com/spreadsheets/d/1F-78qDc8vdh5hli5FLFeyTvlFQgw19OqZXMR50TQ1C0/edit?usp=sharing

![image](https://user-images.githubusercontent.com/68283148/1015100

[2020-12-08 16:27] batpad commented on #1723
@imohkay - could you look?

[2020-12-08 17:18] batpad commented on #1243
Emergency page re-organization and redesign has been pushed to staging, with the major exception of the Deployed Personnel table not fully working.

What is expected to work:

 - Layout as per new designs: Overview box, figures to the right of the map, redesigned contacts, re-organized tabs
 - Reports / Documents tab to contain appeal documents and field reports
 - Appeal documents now appears as

[2020-12-08 22:14] karitotp commented on #1202
@batpad, here what I found testing the map

The size of dots on the map are smaller than the style in zeplin

The color of points in the legend don't looks same as the design in zeplin

![Screenshot from 2020-12-08 15-55-35](https://user-images.githubusercontent.com/11504548/101540378-e8823d00-396d-11eb-9c43-cf42e20bf352.png)
_Legend in staging_
![Screenshot from 2020-12-08 15-55-59](https://user-

[2020-12-08 22:22] karitotp commented on #1706
@batpad, all links works good. Just some style issues in Arabic language :point_down:

![Selection_002](https://user-images.githubusercontent.com/11504548/101548368-baa2f580-3979-11eb-8c31-fc2dd4705ea7.png)

[2020-12-08 22:52] jhenshall commented on #1202
Firstly, they look super nice - so much cleaner and I much prefer the lighter grey! 🙂  Nicely done all.

But a few things key issues:

1. As mentioned by @karitotp - Kosovo, along with Western Sahara, are displayed as separate countries to Serbia and Morocco respectively. This is critical but hopefully solved by the solution we discussed @geohacker with overlapping the boundaries?
2. Disputed boun

[2020-12-08 23:04] jhenshall commented on #1660
Thanks @batpad @mariam-yu - I'm with you that I've never seen this blue style map before!

I can't see anything like it in Mapbox, so wonder if it's possible it's something on the frontend? 🤷 The blue seems to be the exact same colour of the label text and so can't see them over land. Might not be possible for this round, but think it would be great to use the same new basemap style as on the home

[2020-12-09 07:35] imohkay commented on #1706
@karitotp Hey, the UI for the copyright with 2020 looks okay to me on the footer. Am I missing something?

[2020-12-09 07:37] batpad commented on #1723
This is now on staging - thanks @imohkay

[2020-12-09 07:39] imohkay commented on #1706
@mariam-yu Could you see if the footer looks okay now? I've also fixed the thicker font weight for the headings and reduced it to 600 (from 700)

[2020-12-09 11:48] geohacker commented on #1202
### @mariam-yu

Just made them a bit bigger, hope that's alright. Let me know if it needs to be bigger. I've scaled the inner circle and the outer circle scale factor.

The hover is a bit slow but we're looking to find different ways to address this. Unfortunately one way is to remove all the mouse pointer transition. So now the mouse point will remain consistent instead of changing as and when th

[2020-12-09 11:49] batpad commented on #1202
@imohkay - can you please look at these?

[2020-12-09 12:26] mariam-yu commented on #1202
Thanks @geohacker . @maisa-yu Can you please review the dots on the map and popup styling - we have standard link hovers across the site, we should have those in the popups as well. Thanks!

[2020-12-09 12:33] mariam-yu commented on #1706
Thanks @imohkay . Regarding for weights, I think what would be best, is we find some standards of how we convert them in code and then we can just apply throughout. For example, if in Zeplin it says Poppins-Medium, then we can assign it the weight of 500 or whatever fits the closest and then every time in Zeplin it's Medium, we make it 500 consistently. Happy to help you with this matching exercis

[2020-12-09 13:10] maisa-yu commented on #1706
@imohkay  thanks! Looking great!
I'd emphasise Mariam's comments on the alignment, "Contact us" could go more to the right, leaving more space to the other columns.

I have just another comment that is not related to the Footer, but it's a detail right next to it:
Surge Notifications table is white over a grey background, which means the white part doesn't go all the way on the sides. (the grey ba

[2020-12-09 13:14] tovari commented on #1243
Thanks @batpad for the update.
I get a grey screen when I try to open an emergency. I cleared cache and tried in FF and Chrome.

[2020-12-09 13:38] tovari commented on #1723
This looks good for the requester as well! Thanks!

[2020-12-09 13:45] maisa-yu commented on #1202
@geohacker Thanks for the changes!
Some comments from my side:
**Dots:**
Still seems a bit small, could you make it bigger? In the prototype we did 8px for inner circle and 16px for outer circle, not sure if that is the same on your side, but it would be great to make it bigger and easier to click on.
**Country names:**
Size seems fine, but could you make it black instead of blue?
**Pop up**
The f

[2020-12-09 14:03] batpad commented on #1243
@tovari could you tell me which emergency you are seeing this for? I am unable to reproduce so far, but it is very possible that some types of emergencies currently fail as there are a lot of different cases.

[2020-12-09 15:04] tovari commented on #1243
@batpad, it seems, it happens (with any of them)  only, when I'm not logged in.

[2020-12-09 15:25] karitotp commented on #1706
@imohkay, I thought there is a issue because I believed that the copyright had to be only in one line as shown in the other languages.
But it is ok :+1:

[2020-12-09 16:42] karitotp commented on #1243
@batpad, all things are working as expected. Some things that I found are:

- In Arabic language, in the REPORTS/DOCUMENTS tab, the number of Field reports is not shown as in the other languages.
![Selection_003](https://user-images.githubusercontent.com/11504548/101657136-8b3fc780-3a11-11eb-904c-79b692ee1331.png)

- > Now, tabs will not show if there is no data for them - eg. if there are no aler

[2020-12-09 18:39] jhenshall commented on #1202
@geohacker - I've gone ahead and made the disputed boundaries visible. @mariam-yu - I wonder if we should make the grey _slightly_ darker, just to bring up the contrast a little bit? Or is this grey set with the colour pallete?

[2020-12-09 19:52] mariam-yu commented on #1202
@jhenshall Are you referring to the disputed one or in general? Tagging @maisa-yu from our side for colors and such.

[2020-12-10 05:52] batpad commented on #1243
@tovari thank you so much for that catch - this should now be fixed on staging.

Yes, if you add a custom tab title in the backend, the tab will show regardless if there are snippets inside. If the user doesn't want the tab to show, they should remove the custom tab title and it will go away. We can perhaps look at this closer in the future, but I believe right now this is fine as the admin user c

[2020-12-10 05:56] batpad commented on #1243
Yea, for these kinds of emergencies, we just don't have a lot of data. @mariam-yu could you look at this case and advise if we should display things differently?

@imohkay - I thought we had fixed this case to center the box when there is no map, but I see now it is displaying on the right with a big empty space where the map would be. Can we look at this case and fix? Also, @mariam-yu - this is a

[2020-12-10 07:49] batpad commented on #1638
To summarize current development status and remaining actions, as discussed with @tovari and @anamariaescobar .

Backend `sync_molnix` script to sync data from Molnix is running on staging and generates logs that can be viewed in the admin. On the script, there is one change to be made based on the last conversation with the Molnix team:

 - When a position has been removed from Open Positions on

[2020-12-10 08:33] geohacker commented on #1474
We resolved the MTS error by reducing the coordinate precision and setting a maxzoom of 10 based on Mapbox's suggestion. MTS does fail occasionally with little helpful errors but the script should work and when run as a management command will update the tilesets.

I think all items in this ticket are done.

[2020-12-10 09:19] #1681 closed

[2020-12-10 09:20] maisa-yu commented on #1202
@jhenshall we have a little flexibility on the grey palette, we could increase a tiny bit to a #DDDDDD or similar.
But just being careful to still keep the contrast with the hover (let's keep that one as it is for now).

[2020-12-10 09:31] batpad commented on #1398
@karitotp could you verify this work? There should no longer be any missing months in any of the graphs on the region pages.

[2020-12-10 12:15] batpad commented on #1667
@karitotp will be great if you can test the basic functionality of the PER forms to create new assessments, save forms, etc.

This should all be in the PER tab of the Account page: https://dsgoproxyapp.azurewebsites.net/account#per-forms

You should be able to:

 - Start a new Assessment
 - See it show up in the list of Assessments
 - Be able to Edit and see all the data correctly.
 - After Saving

[2020-12-10 12:25] GregoryHorvath commented on #1667
@batpad Quick correction: "Final Submit" makes an assessment Finalized which means no Edit or Delete (but will have an Export function in the list). The base "Save" functionality saves every change made on every tabs. For testing purposes right now everyone can see/edit every Assessment but Users can only delete their own ones.

[2020-12-10 21:21] karitotp commented on #1398
@batpad, there are still some graphs that are not showing all months. For example in Americas, Europe and Middle East & North Africa
![Screenshot from 2020-12-10 15-18-12](https://user-images.githubusercontent.com/11504548/101824966-fb764800-3afa-11eb-85ae-bc0f865f3c00.png)

[2020-12-10 21:24] karitotp commented on #1667
This woks correctly

The new created assessment is listed correctly.

The data load correctly and it can be edited.

Works correctly!

cc. @batpad

[2020-12-11 10:28] batpad opened #1740 "Release 4.5.0 - mid-December, 2020"
Creating a ticket to try and bring all the small remaining action items for this release into a single place with clear assignees, and also to outline all the changes going into this release, to serve as the basis for the release notes and Changelog.

### Map Styling Updates: https://github.com/IFRCGo/go-frontend/issues/1202

Map styles and popups have been updated per design. Remaining actions:

[2020-12-11 12:14] GregoryHorvath opened #1742 "[Staging] Uncheck radio button styling"
Related PR: https://github.com/IFRCGo/go-frontend/pull/1735/files

@imohkay I've introduced an "uncheck radio buttons - button" to the PER Forms: Account > PER > any Assessment > Area 1-5 > questions' radio buttons.

I was not able to fix the styling of this button for my life so please could you please look into this? There's no clear direction here, basically I just wanted to align it with the r

[2020-12-11 12:44] batpad commented on #1740
@imohkay @geohacker - updated above with line item to adjust colours of the Legend on the map. @imohkay - please reach out to @geohacker if there's confusion on what those colours need to be, etc. Thank you!

[2020-12-11 12:47] GregoryHorvath commented on #1667
@karitotp Sometime later today I'll be pushing the permission updates which basically will introduce the previously used schema which is:

On the backend, Users can have permissions like:
  - `api | country | PER Admin for X`
  - `api | region | PER Admin for Y`
  - `api | country | IFRC Admin`
  - `api | country | PER Core Admin`

Only `superuser`s / `IFRC Admins`s / `PER Core Admin`s can see eve

[2020-12-11 13:01] GregoryHorvath commented on #1667
@karitotp The permission changes are deployed to staging.
cc @batpad

[2020-12-11 13:04] GregoryHorvath commented on #1740
@batpad I'd say since the subcomponent changes are more of an import logic change so we shouldn't aim to push those to staging because it would mean a total wipe to test the imports (or we could do this on Monday and until that let the users test the current version).

The permission changes have been pushed to staging just recently.

[2020-12-11 13:20] batpad commented on #1740
@GregoryHorvath could you outline what those subcomponent changes mean for a user? i.e. like, expect X to not work correctly until this is done?

[2020-12-11 13:30] GregoryHorvath commented on #1740
@batpad
Basically there's one exact component which is the number 14 on Area 3 which has these subcomponents indicated by letters from A-N. Each individual of those should have a benchmark (and EPI if ticked) question which won't be present on staging with the current setup.

The other one would be number 34 on Area 5, but those actually have no differentiation with letters and don't require indiv

[2020-12-11 14:29] GregoryHorvath commented on #1667
@karitotp I missed to handle giving full permissions to superusers (and the 2 similar permission categories mentioned above) for some of the functions, so a fix has been just deployed for this to staging.

[2020-12-11 14:33] mariam-yu commented on #1740
@batpad @imohkay (CC @maisa-yu ), for popups, a few minor things:
- The arrow looks off, would be good to use the one we have on Zeplin if possible.
- The font seems bigger (16 instead of 14).
- There is a separator line between various emergencies in the popup.
- At which height does a scroll bar appears? We have roughly 230px in Zeplin.
- The top part of the popup could be a tad smaller in heigh

[2020-12-11 15:47] karitotp commented on #1667
Hi @GregoryHorvath, I tested again the creation of a new assessment and I saw that is appearing a button for clear the selection.

![Screenshot from 2020-12-11 09-51-17](https://user-images.githubusercontent.com/11504548/101919962-375fea80-3b99-11eb-861b-8a5abfd4f016.png)

Do not know if that is correct but it also appear when I am just in view mode, where apparently it allows editing.

![Screensh

[2020-12-11 15:51] GregoryHorvath commented on #1667
@karitotp thanks for catching that! It shouldn't appear in View mode for sure.

For the permissions, the way I tested it that I created a new user for myself and gave that user the PER Admin permissions for Hungary as the country and Americas as the region and tried to create/edit/view Assessments for other countries/regions than these. And of course tested if I could actually work with ones I had

[2020-12-11 16:53] karitotp commented on #1667
@GregoryHorvath, I created a new user according your comment, and I tested this with different permissions, and it works as expected :+1:

[2020-12-11 16:54] batpad commented on #1243
@karitotp this should now be styled better with the box appearing centered. Could you check? Thank you!

[2020-12-11 17:06] karitotp commented on #1243
@batpad, this now is centered :+1:
But at the beginning while the page is loading, for some seconds the map apparently load and the box is located on the right side

[2020-12-11 17:14] batpad commented on #1243
Thanks for the catch @karitotp - I will take a look at this.

[2020-12-11 17:16] mariam-yu commented on #927
@LukeCaley @tovari We did quite a thorough audit of the back-end (based on staging) and also front-end forms: https://docs.google.com/spreadsheets/d/1kbcTIqchfmpOtBCAYg5zTJHfgCC6dVZF_jfxe81nTII/edit?usp=sharing

We have a lot of questions for some things, as well as user permissions and such. So, would be good to dig deeper. Overall, here is the gist of our suggestions:
- Region, country, specific

[2020-12-12 03:30] imohkay commented on #1742
@GregoryHorvath This should now be fixed on staging...

[2020-12-12 03:32] imohkay commented on #1740
@mariam-yu Could you check the popups now? Most things should be fixed. The only issue is the arrow. We are using the Collecticons chevrons across the site (top, bottom, right, left). Would it be okay to only have the chevron different for the map?
When I tried to extract that SVG on zeplin, it said it wasn't part of a component and I wasn't able to do so...

[2020-12-13 21:55] tovari commented on #1243
I'm writing the UAT test cases. I have noticed already a few issues:
https://ifrcorg.sharepoint.com/:x:/s/GOIVfordeveloperteam/ERfcR2RDUMJOiGg4cRBrGtUB2LRyXW0IrBuUS8MsYwg5Nw?e=IkOgoa

On https://dsgoproxyapp.azurewebsites.net/emergencies, the new map look is not applied yet, the headers of lists are missing, and the list export button as well from the last 30 days FRs.

[2020-12-13 22:02] tovari commented on #1740
https://github.com/IFRCGo/go-frontend/issues/1243#issuecomment-744074699

[2020-12-14 04:45] batpad commented on #1243
@tovari we have only made changes on individual emergency pages and not on the Emergencies page.

I think it makes sense to make the map styling consistent, but we didn't really have any other changes on the emergencies page in scope, only on the individual emergency page. Let me know if that makes sense.

@geohacker - could we look at the `emergencies-map` on this page: https://dsgoproxyapp.azure

[2020-12-14 10:13] batpad commented on #1243
@tovari I do see that the table headers seem to have disappeared on the Emergencies page - @imohkay can you take a look at this? Compare tables below the map on Emergencies page between https://dsgoproxyapp.azurewebsites.net/emergencies and https://go.ifrc.org/emergencies/ ? Is this a regression due to changes to tables made elsewhere?

[2020-12-14 10:14] batpad commented on #1243
@tovari thanks for the catch around the table headings - that does seem like a regression and we are looking into it.

[2020-12-14 10:14] batpad commented on #1243
@imohkay table headings missing on the field report table as well: https://dsgoproxyapp.azurewebsites.net/emergencies

[2020-12-14 10:44] batpad opened #1749 "[Staging] Missing headers across the site"
## Issue

When we added a `showHeader` option to the display-table, it broke headers for existing tables using the `DisplayTable` component.

@GregoryHorvath can we look at this together?

[2020-12-14 11:20] geohacker commented on #1500
This is fixed in https://github.com/IFRCGo/go-api/pull/933

[2020-12-14 11:24] mariam-yu commented on #1740
@imohkay Thanks for giving it a try. Consistency is more important; so, let's keep it as is, and we can address the overall icon styling later on across the site. Otherwise, looks good!

[2020-12-14 11:27] GregoryHorvath commented on #1742
@imohkay They look so much nicer now, big thanks!

[2020-12-14 11:27] #1742 closed

[2020-12-14 11:28] batpad commented on #1243
@tovari - table headings on the Emergencies page and across the site should now be fixed.

[2020-12-14 11:48] batpad commented on #1397
@kamicut could you please add a brief testing note here? i.e. what is expected to work now?

[2020-12-14 13:36] mariam-yu commented on #1243
@batpad Here is the guideline for Key Figures without a map: https://app.zeplin.io/project/5c9244a648d5c424ccf27cfb/screen/5fd39a8487eefa875c35c576

(CC @imohkay )
And some audit items, thought was difficult to pinpoint all the various modules:

- Tabs: the line under selected tabs should be the length of the word.
- Export button should have the export icons as well.
- Text should say Key Figures

[2020-12-14 13:46] batpad commented on #1642
Made the change to not highlight countries on hover, but you can still click on them to see the popup.

[2020-12-14 14:04] imohkay commented on #1742
Glad it worked :)

[2020-12-14 21:17] karitotp commented on #1397
This is working correctly!
cc. @batpad

[2020-12-14 22:13] karitotp commented on #1243
The delay to center the box persists.

[2020-12-14 22:44] karitotp commented on #1669
I took a look to the pages and all looks good to me.

[2020-12-15 00:25] karitotp commented on #1666
- One of the header in the DEPLOYED PERSONNEL table is missing: https://dsgoproxyapp.azurewebsites.net/emergencies/4054#rapid-response
![Selection_004](https://user-images.githubusercontent.com/11504548/102151125-2d134a00-3e40-11eb-9697-008509d23b7d.png)

- Also there are some issues with Arabic language
![Selection_005](https://user-images.githubusercontent.com/11504548/102151592-2802ca80-3e41-11

[2020-12-15 03:56] batpad commented on #1666
@imohkay can we look at these? The table header I think we need to remove those two arrows and just leave it blank, and then deal with the RTL issues on Arabic.

[2020-12-15 03:57] batpad commented on #1243
@imohkay - can you look at the list of things from @mariam-yu above? I'll take a look at the Search inside Response Documents.

[2020-12-15 06:51] imohkay commented on #1666
@karitotp Hey, for the Arabic issue, could you let me know which in emergency you are facing the issue?

[2020-12-15 07:06] imohkay commented on #1666
Never mind, I found an emergency:)

[2020-12-15 08:22] tovari commented on #1740
Ana Maria added new items to the UAT issue list about Surge:
https://ifrcorg.sharepoint.com/:x:/s/GOIVfordeveloperteam/ERfcR2RDUMJOiGg4cRBrGtUB2LRyXW0IrBuUS8MsYwg5Nw?e=IkOgoa

[2020-12-15 09:02] tovari commented on #1638
The list of issue items found in the UAT:

- [ ] Tab and   tittle should cahnge from Deployments to Surge
![image](https://user-images.githubusercontent.com/68283148/102192533-31307d80-3ebb-11eb-95d4-d80292fa85b2.png)

- [ ] Key figures should not include Deployment HeOps anymore but include number of NS providing Rapid Response Personnel
![image](https://user-images.githubusercontent.com/68283148

[2020-12-15 10:33] GregoryHorvath commented on #1638
As Django is pulling every relation by default, I can see that every field of the connected Emergency, its Field Reports, Appeals, etc are in there. We'd need a clear requirements of this CSV what to contain.

I also see that there are multiple `eru-owner eru-set` fields there, which I'm really confused about because only 1 `ERUOwner` can be connected to an `ERU` to my understanding. And of course

[2020-12-15 10:38] geohacker commented on #1709
With https://github.com/IFRCGo/go-api/pull/969 we now have a way to add sovereign_state and disputed status. One idea for showing disputed territories appropriately is to have a GeoJSON that we store as part of the go-api code base on Github and then pull that everytime tilesets are updated. That way we make it part of the process but don't try to magically determine the parts of the boundary that

[2020-12-15 10:59] GregoryHorvath commented on #1638
I'm not sure if I found exactly which was mentioned here, but we're definitely pulling the Emergencies' data here as well, which contains its `summary` which is a Rich Text field (could contain HTML). @batpad

[2020-12-15 11:59] GregoryHorvath commented on #1740
@batpad just adding here the before/after-deploy TODOs for PER (as of now), just in case:
- copy CSVs to the production VM
- remove the current `Form`, `FormData`, `Overview` data from production
- `./manage.py per_import_old_data -t answers`
- `./manage.py per_import_old_data -t atypes`
- `./manage.py per_import_old_data ../per_import_csvs/areas.csv -t areas`
- `./manage.py per_import_old_data ..

[2020-12-15 12:31] batpad commented on #1638
@anamariaescobar @tovari - I have put a checkmark on all the issues above which have been fixed and are ready to test on staging.

Based on discussions, we will ticket some of the other issues separately as they are existing issues on the site.

And the issues of new data-points to be displayed, we will tackle by the time the Molnix system is in production.

[2020-12-15 12:39] anamariaescobar opened #1761 "[Staging] Deployments map not showing personnel deployed"
## Issue
The map on the deployments page is only showing ERU deployed, not personnel deployed, also the style doesn't matches GO, it would be nice to show the map as the one in the main page, with circles of different color showing ERU and Rapid Response Personnel instead of highlighting the country.

## URL
https://dsgoproxyapp.azurewebsites.net/deployments

## Steps to reproduce
Just go to the d

[2020-12-15 12:52] batpad commented on #1761
Thanks for the ticket @anamariaescobar !

@geohacker - this is what we would need to do:

### API

We currently have an end-point we use to populate the Deployments Overview By Emergencies table on the deployments page here: https://github.com/IFRCGo/go-api/blob/develop/api/serializers.py#L512 . The end-point serializer is here: https://github.com/IFRCGo/go-api/blob/develop/api/serializers.py#L512

[2020-12-15 13:41] batpad commented on #1740
Known issue on Emergency Page: Search for Response Documents does not work. I am working on a fix. cc @tovari @mmusori

[2020-12-15 14:41] batpad commented on #1638
This should now be on staging.

[2020-12-15 14:41] batpad commented on #1740
This should now work.

[2020-12-15 14:55] kamicut opened #1765 "[PROD] Arabic map labels are wrong"
## Issue
Map labels for Arabic pages are incorrect. We need to include HarfBuzz through the Mapbox RTL plugin. (Here's an explanation on text shaping for Arabic if anyone's interested https://increment.com/programming-languages/unplain-text-primer-on-non-latin/)

<img width="1389" alt="image" src="https://user-images.githubusercontent.com/719357/102230684-d9fbce80-3ef5-11eb-959f-140bdf208e12.png">

[2020-12-16 06:33] batpad commented on #1765
Re-opening as auto-closed.

[2020-12-16 06:57] batpad commented on #1740
Release Pull Request is here: https://github.com/IFRCGo/go-frontend/pull/1766

[2020-12-16 13:39] kamicut opened #1772 "[PROD] Issue with arabic translation strings"
## Issue
Some translation strings for the Arabic pages have the "variable" inside the template string translated as well. This means that we do not have the correct variable name when we try to replace the variable with content. For example, in #1616, the variable for `emergencyFieldReportsWithCountTitle` is `count`, but in the associated string it's translated to `{عدد}`. (the word for "count" in

[2020-12-16 14:34] batpad opened #1775 "[Staging] Emergency Overview breaks with many Population Centers"
@imohkay for cases where an emergency has many population centres defined, this breaks quite badly: https://ifrc-go-450-test-prod.surge.sh/emergencies/5006#details for example (that emergency is on production, I can help you get setup to point to it for testing if needed) - could you look at this? Perhaps we special case this field to show broader in the box?

Additionally, it would be nice if we

[2020-12-16 16:42] anamariaescobar opened #1778 "[PROD] Number of deployments on the Surge tab not adding up"
## Issue
The number of Rapid Response personnel deployed on the Surge (previous Deployments) tab is way to high.

*If applicable, add screenshots to help explain your problem.*
![image](https://user-images.githubusercontent.com/69478743/102377691-3ed22a00-3fc5-11eb-846a-ed3d5cab57b9.png)

## Expected behaviour
For example, for Hurricanes Eta and Iota, the actual number of deployed Rapid Response p

[2020-12-16 17:15] karitotp opened #1780 "[PROD] Getting a blank page after go to Preparedness tab in a country page"
## Issue
In a country page, after go to the PREPAREDNESS tab, the next visited tab is giving a blank page.

## Steps to reproduce
- Logging on the site
- Go to a country page
- Go to the Preparedness tab
- Go to another tab like Additional data and it will not load and it will display a blank page

![ifrc](https://user-images.githubusercontent.com/11504548/102382248-3b747980-3f98-11eb-86bb-5e3ce9c

[2020-12-16 17:38] tovari opened #1782 "[PROD] Missing Keys on the Translation dashboard"
## A few labels cannot be translated on the translation dashboard as they have no entry there,

## Expected behaviour
*Please add the following items to the translation dashboard:*

- [x]  'All Counries' on the region pages on the country panel
- [x] 'National Societies' on the Surge site
![image](https://user-images.githubusercontent.com/68283148/102385094-b6a45280-3fcd-11eb-9573-39b7659ee81f.png

[2020-12-16 19:16] batpad commented on #1780
This has been hotfixed in production. @karitotp can you confirm that it works now? Thanks!

[2020-12-16 19:16] batpad commented on #1778
This has been hotfixed in production.

@anamariaescobar to confirm tomorrow that all edge cases work as expected. Thanks again for the catch here.

[2020-12-17 05:28] karitotp commented on #1780
This work correctly, Sanjay.

[2020-12-17 07:38] GregoryHorvath commented on #1645
@tovari The original thing in the ticket should've been resolved via 'Release/v4.4.6' where we made those email validations case-insensitive. What I understood from @nanometrenat's comment I got that's a separate issue/questions on how we want to handle those specific scenarios. I'd suggest we close this ticket and open another one by someone who can spec it out, please.

[2020-12-17 07:40] GregoryHorvath commented on #1622
@anamariaescobar I believe this was fixed with some workarounds a couple of weeks/months ago? Sorry I'm not sure anymore if there are any more action points left to do here or if we missed anything, please confirm / close if possible.

cc @batpad

[2020-12-17 07:40] GregoryHorvath commented on #1749
This was resolved with fixing the null-check of `showHeader`.

[2020-12-17 07:40] #1749 closed

[2020-12-17 08:53] anamariaescobar commented on #1622
It was fixed, it was an issue with the translations, closing this ticket now.

[2020-12-17 08:53] #1622 closed

[2020-12-17 09:38] geohacker opened #1785 "Prepare additional layers to be added to tileset"
With the Mapbox Tile Service work almost done #1474, we should now be able to add additional data layers so we can update them regularly. These are:

1. Country and district centroid layer with names in 4 languages for labels
2. Disputed boundaries data stored on github

cc @jhenshall @batpad

[2020-12-17 13:34] #1662 closed

[2020-12-22 01:23] mariam-yu commented on #835
@tovari @LukeCaley Here is a direction for the Help section: https://docs.google.com/document/d/1ISLuzPmVaLq0HGWZ_YIUn1JOBwPxfi8dLWjKCmi_ZEs/edit

We split it into a few concepts that were floating around:
a) How to approach the user guides to make them more dynamic and not just a part of the Resources page.
b) How to approach the information on Resources page, anything that may be needed as a Hel

[2020-12-22 12:37] tovari opened #1786 "[PROD] Admin - Deployments & 3W - Personnel ÍDeployments search error"
## Issue
*The search field doesn't work, it gives a Server Error 500 page.*

## Steps to reproduce
*Try to search for any text.*
https://prddsgocdnapi.azureedge.net/en/deployments/personneldeployment/
https://dsgocdnapi.azureedge.net/en/deployments/personneldeployment/

## Impact
Production and Staging

## Severity
*Moderate.*

## Is there a workaround?
*No*

[2020-12-22 12:38] tovari commented on #1786
cc @anamariaescobar

[2020-12-22 12:51] batpad commented on #1786
Thanks for the report @tovari -

@GregoryHorvath - PR with fix is here: https://github.com/IFRCGo/go-api/pull/983 - this seems like a pre-existing bug, but good to fix. I don't see much risk in pushing this as a hotfix to production.

[2020-12-22 13:03] jhenshall opened #1787 "[PROD] Emergency map export - filename undefined"
## Issue
When you export a map from an emergency details page, the file name contains `undefined`.

Should this instead be the emergency name?

## Steps to reproduce
- Visit emergency e.g. https://go.ifrc.org/emergencies/4959#details
- Navigate to map and click 'Export' button
- Filename contains undefined e.g. `2020-12-22-undefined-Belize`

cc @batpad

[2020-12-22 13:11] jhenshall commented on #1456
As described above, this is an Excel encoding issue, so closing this. This limitation should be communicated.

[2020-12-22 13:11] #1456 closed

[2020-12-22 13:20] jhenshall commented on #1673
This is also true for [clusters](https://go.ifrc.org/countries/302#operations), which maybe also shouldn't exist.

There's also non-independent states that should not have country pages ([such as Macao](https://go.ifrc.org/countries/279#operations)). And will be lots more once we add missing countries and disputed territories, that will be needed for building the Mapbox tilesets. #1464

Can we use

[2020-12-22 13:41] jhenshall commented on #1684
Done in admin at same time as 4.4 release

[2020-12-22 13:41] #1684 closed

[2020-12-22 14:02] batpad commented on #1673
It would be easy to show the user a message saying "This does not exist" or so - the potentially slightly trickier part is making sure that country does not show up in search - so, ideally, this ticket has two parts:

 - Make sure countries that are not of record_type=1 display an error if you navigate to them.
 - More importantly, make sure these countries don't show up in search, so there's no r

[2020-12-22 14:38] jhenshall commented on #1643
Some changes were made on prod but others were left to be made on staging and allow for more testing. Those outstanding are:

- [ ] #1623 Get final sign off and make the country name changes
- [ ] #1464 Add missing countries
- [ ] #1690 Link non-independent nations to the 'sovereign state'
- [ ] #1672 Appeal ingest geographical mapping
- [ ] #1785 Prepare additional layers for the tileset - disput

[2020-12-22 14:41] jhenshall commented on #1689
This was paused for 4.4 release. Would like to consider a different way to do this that better reflects the setup of the organisation. @jhenshall to outline option for having in separate table.

[2020-12-22 14:57] #1629 closed

[2020-12-22 15:22] jhenshall commented on #1661
Definitely done now for the geo stuff. @geohacker @batpad - closing this but do reopen if there's more to consider?

[2020-12-22 15:22] #1661 closed

[2020-12-23 04:17] nanometrenat commented on #835
Spotted this, delighted to see that user support is up the list!  Just to note that feedback/user support is needed for admin site as well (especially while there are so many functions that can _only_ be accessed by the back end unless/until they are migrated over to the front end pretty UI :)  Cheers and best wishes to all.

[2020-12-23 04:32] nanometrenat commented on #1673
@jhenshall not the same thing, but may be related - I see that regions now show in the country dropdowns in some places - e.g. when creating a new Field Report - not sure if this was a deliberate decision to align with other lists/options elsewhere (e.g. admin site)?  I know that sometimes _emergencies_ are deliberately created against regions/multiple countries but normally the _field reports_ wo

[2020-12-23 13:41] geohacker commented on #1643
@jhenshall that list captures everything, thank you!

[2020-12-28 10:19] mmusori commented on #1243
GO page | Subpage/Tab | Test criteria | Result
-- | -- | -- | --
Emergencies(Specific   Emergency) | Emergency   Details- Emergency overview | All fields   appearing. Data consistent with Field report data. | Passed
Emergencies(Specific   Emergency) | Emergency   Details- Contacts | Contacts   split between NS and IFRC | Passed
Emergencies(Specific   Emergency) | Emergency   Details- Situation | D

[2020-12-28 10:19] #1243 closed

[2021-01-04 08:37] GregoryHorvath commented on #1786
@batpad thanks for the fix, it's deployed to staging @tovari

[2021-01-04 10:27] GregoryHorvath commented on #1671
@tovari @jhenshall The above change from @batpad was merged into production some time ago, could you please validate if this is fixed?

[2021-01-04 16:38] tovari commented on #1671
Thanks @GregoryHorvath, it is definitely fixed.

[2021-01-04 16:44] tovari commented on #1786
Thanks @batpad, @GregoryHorvath , works fine.

[2021-01-05 14:20] tovari commented on #1652
Checked on Prod.

[2021-01-05 14:20] #1652 closed

[2021-01-06 08:58] #1786 closed

[2021-01-06 08:58] #1671 closed

[2021-01-06 09:34] tovari opened #1788 "[PROD] Country page shows previous country page data after navigating through the Search field"
## Issue
*Country page shows the previous country page content, while navigating from country to country using the Search field.*

## Steps to reproduce
*1. Search for Turkey country
2. Go to ESSN tab
3. Search for Brazil
4. Check the Additional tab - it shows the ESSN tab content
5. Refresh the browser - It updates the page and shows the correct content. *

*If applicable, add screenshots to help

[2021-01-06 10:32] #1711 closed

[2021-01-06 10:33] #1621 closed

[2021-01-06 10:39] tovari commented on #1645
I close this as the requested update has been completed. We will consider Natalies notes when doing the registration process review.

[2021-01-06 10:39] #1645 closed

[2021-01-06 10:42] #1669 closed

[2021-01-06 10:43] #1667 closed

[2021-01-06 19:20] karitotp commented on #1398
E.g. on the MENA refgional page (https://go.ifrc.org/regions/4#operations) in the graph below, April is missing

Not all the months appear in the timeline of the graphs, but none are missing between those that appear.

Now, all the title is in uppercase

[2021-01-06 19:22] karitotp commented on #1723
This is on production too.

![Screenshot from 2021-01-06 14-10-39](https://user-images.githubusercontent.com/11504548/103810292-030d0c00-5029-11eb-9ca8-31716e1f6e4f.png)

[2021-01-06 19:32] karitotp commented on #1691
Filter icons on tables look and work good!

[2021-01-06 19:53] karitotp commented on #1014
The contacts organization on the page is according the design.

![Screenshot from 2021-01-06 14-50-46](https://user-images.githubusercontent.com/11504548/103813886-c93f0400-502e-11eb-9d97-04a7d87b35c4.png)

[2021-01-06 20:34] karitotp commented on #1642
Functionalities on the map are working as expected.

[2021-01-07 13:55] tovari opened #1789 "[PROD] Request assistance info is not pulled from the FR to the emergency"
## Issue
*The Government Requests International Assistance and NS Requests International Assistance info is always NO on the emergency page, regardless what is set in the related field report*

## Steps to reproduce
*Create a FR. Set Yes at these 2 questions. The related emergency page will still show NO.*

Example:
https://go.ifrc.org/emergencies/5027#details
FR:
https://go.ifrc.org/reports/13808

[2021-01-07 14:11] GregoryHorvath commented on #1789
Hotfix has been deployed and confirmed it's working, closing this.

[2021-01-07 14:11] #1789 closed

[2021-01-07 20:06] karitotp commented on #1666
![Selection_004](https://user-images.githubusercontent.com/11504548/102151125-2d134a00-3e40-11eb-9697-008509d23b7d.png)

![Selection_005](https://user-images.githubusercontent.com/11504548/102151592-2802ca80-3e41-11eb-9ea6-3176e258d9da.png)

The above issues were fixed and all looks good now.

[2021-01-07 20:09] karitotp commented on #1660
The map does not display blue points but the country where there are deployed ERUS is painted in purple color. Also the base map, has the same style of the rest of the maps.

![Screenshot from 2021-01-07 14-34-03](https://user-images.githubusercontent.com/11504548/103936445-6c5a5100-50f5-11eb-9864-dee06b66fe04.png)

[2021-01-07 21:23] karitotp commented on #1638
This is still as Open Surge Positions.

[2021-01-08 07:57] GregoryHorvath commented on #1638
@karitotp Deployed a fix to staging.
cc @batpad

[2021-01-08 09:03] batpad commented on #1638
Can we confirm the intended behaviour with @anamariaescobar ? @anamariaescobar can you check the changed table title from Open Surge Positions to Open Surge Alerts and say whether that's correct? I don't remember clearly if it is intentionally different from the mockups.

[2021-01-08 16:48] tovari opened #1791 "[PROD] Appeal documents don't get downloaded."
## Issue
*Appeal documents should be downloadable by mouse click, but it doesn't work.*

## Steps to reproduce
*Go to e.g.:
https://go.ifrc.org/emergencies/3469#reports
click on the Appeal document name. This should start the document download.*

## Expected behaviour
*Document download should start on mouse click.*

## Impact
*All users affected, who would like to download documentsr*

## Severit

[2021-01-12 09:10] anamariaescobar commented on #1638
Hi @batpad, sorry for the delay, after confirming with the Surge team, they want to go with Open Surge Alerts........positions will be used in the Molnix side, but since right now they are putting Stand downs, Information, Deployed messages etc, its better to leave it as Open Surge Alerts.

[2021-01-13 08:14] nanometrenat commented on #1789
NB already logged as https://github.com/IFRCGo/go-frontend/issues/1060 - @tovari if fixed you may wish to close that also

[2021-01-13 09:42] GregoryHorvath commented on #1791
This was a fix on the adore.ifrc.org site to allow `https` too. Updated the URLs in GO production: `http` -> `https`.

[2021-01-13 09:42] #1791 closed

[2021-01-13 13:20] jhenshall commented on #989
This issue has raised it's head again. Current example is when searching for Storm Filomena, only the field reports are returned in search and not the emergency:
![image](https://user-images.githubusercontent.com/6359748/104457020-622acd80-55a1-11eb-8e92-b15ec55777e2.png)

As with the original issue, this is particularly frustrating for adding new field reports to existing emergencies - where the

[2021-01-13 13:35] GregoryHorvath commented on #989
@jhenshall Ran a reindexing, now the Emergency should show up as well. I'll check around the logs to see if there's any hint why that Emergency was missing from the search.

[2021-01-13 13:42] jhenshall commented on #1785
The boundary line file to be used is in the Google Drive folder: ICRC_Admin0_WD_Borders.zip

[2021-01-13 13:44] jhenshall commented on #1672
@geohacker - The data to be used for the new table is in the Google Drive folder: appeal_ingest_match.csv

[2021-01-14 11:49] #1723 closed

[2021-01-14 11:52] #1706 closed

[2021-01-14 12:18] #1691 closed

[2021-01-14 12:29] #1397 closed

[2021-01-14 16:02] tovari commented on #1765
Ramez confirmed that labels are okay. Thanks!

[2021-01-14 16:02] #1765 closed

[2021-01-18 15:21] jhenshall commented on #1673
Thanks @nanometrenat! This was not a conscious decision as far as I'm aware, so will capture in a new ticket alongside me documenting better. Thank you for flagging!

[2021-01-18 15:26] jhenshall commented on #1673
For the issue of the unwanted region, cluster and country pages - the plan is to remove these from site search, so that although they are still being created, they will not be accessible from anywhere on the site.

@batpad - do you know if this will also remove them from search engine indexing?

[2021-01-18 16:29] GregoryHorvath commented on #1673
@jhenshall I deployed the change to staging and ran a reindex, so now:
- Countries created/removed (or name changed) should update their respective Elasticsearch index
- If you remove the `society_name` from a Country its ES index is removed
- If you don't fill the `society_name` when creating a Country it doesn't create an ES index for it

[2021-01-19 11:16] nanometrenat opened #1796 "Create a Report button - KoBo server URL changes in GO header, for 1 Feb please"
Back in July 2020 a new button was introduced into the GO header (web and mobile) to direct people off to KoBo for the COVID-19 Federation-wide Indicator and Financial reporting forms.
That ticket was https://github.com/IFRCGo/go-frontend/issues/1363

However now, as requested, we are aiming to migrate to the new KoBo server for the February round of COVID-19 global data collection.  **This means

[2021-01-19 16:06] anamariaescobar opened #1797 "COVID Field Reports improvements"
**Is your feature request related to a problem? Please describe.**
A revision of the COVID-19 Field Report was conducted, these are the changes proposed per section:

**1. Context**
- [x] Change: Start Date * --> Start Date of emergency/outbreak

**2. Situation**
**2.1 Numeric details (people)**
- [x] Change: Cases --> Cumulative Cases
- [x] Change: Number of registered cases --> Number of registe

[2021-01-19 21:09] kamicut commented on #1060
@batpad not sure what the right fix is here since we would need changes to the schema. Do you have any experience working with https://www.django-rest-framework.org/api-guide/fields/#nullbooleanfield ? For those fields which require a null value, we can modify the schema to allow for a "null" value. I'm not sure what would need to change on the frontend / API for this to work.

[2021-01-20 14:56] tovari opened #1798 "(ReqID) FBA - Add new Appeal type: Forecast Based Action"
**Is your feature request related to a problem? Please describe.**
*At the moment the APPLE system handles and provides 3 types of Appeals (Emergency Appeal, DREF, International Appeal). However, there is a Forecast Based Action (FBA) type of Appeal, which is handled and provided by the Apple API under the DREF type. We need to have an option on the GO Admin page to manually update the Appeal type

[2021-01-20 15:03] tovari commented on #1798
Hi @mariam-yu, would you mind to check this?
I'm sure we need a color proposal for the new type.
Not sure, if we need any design work though. On the map, the legend is affected, while in the list the Type filter.

[2021-01-20 15:57] tovari commented on #1797
Hi @mariam-yu,
I would like to ask your opinion, what would be the best way to implement the following type of descriptions:
"3.2 Actions taken by the IFRC
 Add: Description (inside the text box): In this section you can provide details as to how you have been working with the IFRC in this operation. To help in completing this section some prompting questions are below which are meant to function

[2021-01-20 16:32] tovari opened #1799 "ERP intergration"
**This is a collection of requirements related to the ERP integration of the FRs.**
*Requirements:
- [ ] to be confirmed:  NS Contact and IFRC Focal point contact should be mandatory
- [ ] Push API availability for FRs *

**Describe the solution you'd like**
More information:
https://ifrcorg.sharepoint.com/:w:/r/sites/ERPProjectTeam/_layouts/15/Doc.aspx?sourcedoc=%7BDFA80BF1-8ECA-4A51-A283-69EFD41

[2021-01-20 22:36] mariam-yu commented on #1797
@tovari So, here has been the logic so far (or what we should have aimed for):
- Description under the title = brief description of what the user should do
- Description within the box = should be usually an example of the text to be included

I know that with the latter it wasn't always an example, but I think we should go in that direction, otherwise it is duplicate info.

So, what we could do i

[2021-01-20 22:53] mariam-yu commented on #1798
@tovari We will need to explore a new color. Let me tag @maisa-yu to see if we can come up with one quickly. We can always enhance on that later on. I would place it before Multiple Types though.

[2021-01-21 10:26] tovari commented on #1798
Thanks @mariam-yu, indeed I see the placement between DREF and Movement response (not like on the screenshot).
The requestor suggests a long name (_Early Action Protocol activation_), hopefully it will fit into the legend as well as the list filter.

[2021-01-21 12:36] mariam-yu commented on #1798
@tovari at least in the table we may have to abbreviate it. Would it be ok to do EAP activation? But also, is this point validated, i.e. would it be clear to the users?

[2021-01-21 14:28] tovari commented on #1798
@mariam-yu, yes the proposal is to have the short name in the table: _EAP_, Long name in the appeal type filter: _Early Action Protocol (EAP) activation_

[2021-01-21 16:27] tovari commented on #835
@mariam-yu, thanks for the concepts! A few notes on the above points:
a) It would be great to have a Wiki-like help page that is easy to maintain (something like on linkedin: https://www.linkedin.com/help/linkedin). We could link the relevant sections from the sub pages or page sub-sections. Thomas checks if there is already something applicable at IFRC.
c) @ThomasRaffort has made also a research

[2021-01-21 22:43] mariam-yu commented on #835
@tovari Regarding the 2 points:
a) This is a great example of a Help page, but it's a stand alone one and is very useful when there is a lot of content. So, if we do split the "help/tutorial" parts across where it's needed on the platform, we may not need such an expansive Help section. But of course, something to consider. I'd say, we would really need to review the content we have to provide for

[2021-01-22 10:35] tovari commented on #835
@mariam-yu, I think, if we consider the Admin user guide and the frontend parts that has no help at all currently, we could add a lot of content. We can make the connection points from each sub-page, section on the frontend (and backend) to have direct access to the relevant help section. However making pop-up windows on the frontend with the help content, makes the help content maintenance diffic

[2021-01-22 19:00] mariam-yu commented on #835
@tovari sounds good and makes sense. I think the best way to tackle this would be to start aggregating all the help content we have. Then we can sort through it and see what goes where, what may be missing, etc.

[2021-01-24 20:13] mariam-yu commented on #1798
@tovari How about this? https://www.figma.com/proto/n2D5xvtXBZ9XCejRXeDeUq/IFRC-GO_UI_20201126---LIVE-VERSION?node-id=0%3A4963&viewport=488%2C-436%2C0.10703381150960922&scaling=scale-down-width&hide-ui=1

[2021-01-24 21:27] tovari commented on #1798
Thanks @mariam-yu, I like the color (is it a new one on the GO color palette?). What is missing from the legend is the existing 'Movement response' type. And however it is not on design, I assume we would not remove the 'Scale points by' selection option. Good, that the entire 'EAP activation' text is visible in the list.

[2021-01-24 21:32] mariam-yu commented on #1798
@tovari Actually, our recommendation was to remove the scales and have it by default set to number of emergencies, as it seemed the more valuable view was to see in scale where is the "hub" for more emergencies. Also, not sure what is Movement Response? We don't seem to have that in the table, do we?

[2021-01-25 11:39] mariam-yu commented on #1798
@tovari Regarding the color, we just quickly came up with one that works well with the others, but of course didn't do a thorough color evaluation with the palette. We'd probably have to do that afterwards (especially since the palette changed with the new IFRC stlying), but here is the Hex code for devs: #4C5D9B

[2021-01-25 15:06] tovari commented on #1798
@mariam-yu, thanks. The Movement response is a type of appeal that is not so frequently applied as DREF, Emergency appeals or even, EAP activation. We should keep the option for this type though.

[2021-01-25 15:57] GregoryHorvath commented on #1798
Confirmed with @tovari that wherever we differentiate DREF from the other Appeal types, this should act as a DREF.

[2021-01-25 16:19] tovari commented on #1798
@GregoryHorvath, FBA appeals should not be calculated in the Number of active DREF operations metric in the Key metrics.

[2021-01-25 21:11] JonathanGarro opened #1804 "Reporting Hub with API Query Generator"
**Is your feature request related to a problem? Please describe.**
We've had very initial conversations about this, but logging here per a recommendation from Gulfaraz as a way to collect ongoing feedback and thoughts from folks I've spoken to.

As we continue to document common workflows for extracting data from the GO platform, something that Simon Johnson has done with a HXL dashboard underscor

[2021-01-26 08:01] GregoryHorvath commented on #1663
@tovari A version of this is deployed to staging by now, which allows both `username` and `email` logins, and has the registration page changes.

cc @mariam-yu

[2021-01-26 08:03] GregoryHorvath commented on #1797
@anamariaescobar I'll start to tick-off the things I'm done with locally so I/we can keep track better, if this is okay. I'll drop a comment whenever anything is pushed to staging.

[2021-01-26 08:59] anamariaescobar commented on #1797
That is perfect @GregoryHorvath thank youu!

[2021-01-26 11:57] nanometrenat commented on #1796
Hi @tovari thanks for your patience - links to swap out in the Create a Report dropdown are below:

- COVID-19 Indicator Tracking:  https://eenew.ifrc.org/single/y300V3lY?returnURL=https://go.ifrc.org/emergencies/3972#actions
- COVID-19 NS Financial Overview:  https://eenew.ifrc.org/single/VmcTHDMh?returnURL=https://go.ifrc.org/emergencies/3972#actions

(hope you like the little GO redirects in th

[2021-01-26 16:29] GregoryHorvath commented on #1788
@tovari I think this is closeable?

[2021-01-26 16:34] tovari commented on #1796
Thanks @nanometrenat for raising this and for sharing the details.
@GregoryHorvath what do you think about a release on Monday morning (01.02)?

[2021-01-26 16:34] #1788 closed

[2021-01-26 18:30] GregoryHorvath commented on #1796
@nanometrenat Thanks for raising this.
@tovari I propose that we could do a small release either tomorrow afternoon or early Thursday - with this and that new endpoint for the FDRS / key-figures header. I'll retest the endpoints and recheck if no conflicts were caused by the new endpoint, and if so then I'm totally sure these changes are as safe to be deployed as we can have them.

[2021-01-27 10:05] GregoryHorvath commented on #1797
@anamariaescobar @mariam-yu Wondering if we should follow the same pattern for the tooltips as at other places, like this (don't mind the (i) icons are a bit off, their CSS will be fixed):
![image](https://user-images.githubusercontent.com/30079559/105975477-4b02da00-608f-11eb-8537-948760cecc52.png)

or if we really want hover-triggered tooltips here?

[2021-01-27 10:25] anamariaescobar commented on #1797
@GregoryHorvath from my side the easier and faster to implement, but I wonder what @mariam-yu thinks since we are adding the tooltips in a lot of places through the Field Report, for example the actions....

[2021-01-27 10:53] #1796 closed

[2021-01-27 12:33] mariam-yu commented on #1797
@GregoryHorvath @anamariaescobar I think implementing tooltips works, but we probably should keep on click rather than hover to avoid having them too interactive when not needed. Also, do we need them in all the places? I agree that we should reduce the number. One way could be, for example in the image you sent, to combine the 3 into one and put next to the title, if the explanation is required f

[2021-01-27 12:38] GregoryHorvath commented on #1797
@mariam-yu Oh damn that's actually the best idea. Thanks for the input, I'll keep them as clickables for the time being then and we'll see how it goes. I'll try to figure something out for the Actions parts when I get there.

[2021-01-28 03:16] nanometrenat commented on #1796
Thanks a million @tovari and @GregoryHorvath !  Most appreciated

[2021-01-28 16:55] tovari commented on #1798
Translations:
[Early Action Protocol translations.xlsx](https://github.com/IFRCGo/go-frontend/files/5888786/Early.Action.Protocol.translations.xlsx)

[2021-01-29 12:29] GregoryHorvath commented on #1798
This is now deployed to staging:
- New Appeal type can be set through the backend
- New Appeal type in the frontend Appeal lists' filter and in the map on the homepage

[2021-02-02 09:52] nanometrenat commented on #1796
@GregoryHorvath I have a follow-up question!  Is there a way of (at server end) forcing a browser to refresh the "create report" button?
I have been advised by a user that they went to go.ifrc.org, clicked on the New Report > Indicator Tracking and it took them to the _old_ link.  I suggested they refresh the page and try again, they did, then when they clicked on the New Report button it correctl

[2021-02-02 10:02] GregoryHorvath commented on #1796
@nanometrenat To the best of my knowledge we're caching the "main parts" of the site but a full refresh should (almost) always refresh this cache. As far as I know we don't have a way to bust clients' cache on the go. There's also a `/clear-init-cache` URL route which should definitely wipe most of the cache, but that's also not the most user-friendly option for sure.

@frozenhelium @batpad Do you

[2021-02-02 14:54] ThomasRaffort commented on #835
@mariam-yu to follow-up on our discussion in the weekly sync, you can find more detailed info re MS Customer Voice here:
https://docs.microsoft.com/en-us/dynamics365/customer-voice/help-hub
https://docs.microsoft.com/en-us/dynamics365/customer-voice/embed-web-page
Let me know if that helps. Thanks
@tovari

[2021-02-03 13:16] #1690 closed

[2021-02-03 22:07] guipizzini opened #1809 "[PROD] Typo mistake on url in the footer"
## Issue
The text of the url redirect at the footer, for data.ifrc.org has a typo.

![Screenshot 2021-02-04 at 00 05 53](https://user-images.githubusercontent.com/23258092/106815677-df1b0580-667c-11eb-85e2-c1dd77a64c79.png)

[2021-02-03 22:11] guipizzini opened #1810 "[PROD] Map: Home page and Emergency page map bubbles have an error in displaying data"
## Issue
 There is a potential bug on the GO Map, since the bubbles have 2 slightly different colours on the map (hence not reflected on the legend if that is intentional) and that the values of the bubbles seem to all be the same in terms of size.

For example, the Venezuela appeal has 650,000 people affected while Bahamas has 15,000 people affected and the bubbles seem the same size.

<img width

[2021-02-03 22:13] guipizzini opened #1811 "[PROD] Map legend displaying wrong taxonomy"
## Issue

Map legend on GO maps refers to "people targeted" while the info box refers when clicking on the data points refers to "people affected".

This should be aligned with IFRC taxonomy

[2021-02-04 13:54] GregoryHorvath commented on #1797
@anamariaescobar I deployed the ticked out stuff to staging.

### A couple of notes to take:
- Actions' tooltips can be set on the backend by filling their 'Tooltip text' field, and these are hoverable.
  - I didn't tick these out, because those tooltips are not autofilled. If we'll have all the tooltip texts for those actions we can think of having an import script for when we deploy these to pro

[2021-02-04 15:19] GregoryHorvath commented on #1809
The fix is deployed to staging.

[2021-02-05 11:21] anamariaescobar commented on #1797
Hey @GregoryHorvath!

Thanks for this, I have checked on staging and it looks great! (specially the tooltips on the actions, fantastic work!)

I have a couple of points to address:

2. Situation
2.1 Numeric details (people)

- [ ] Change: Cases --> Cumulative Cases
- [ ] Change: Number of registered cases --> Number of registered cases since the start of the outbreak (this is the description that

[2021-02-05 15:42] GregoryHorvath commented on #1797
@anamariaescobar Again the checked out changes are out on staging.

I updated the descriptions/labels through https://dsgoproxyapp.azurewebsites.net/translation-dashboard which I forgot before

This I also updated through the translation dashboard with the value in the original comment. So I didn't change it to this, but kept the above one in the first comment.

Can't really tell sorry, this depen

[2021-02-05 17:17] jhenshall opened #1815 "Map attribution credits"
## Issue
As we use the Mapbox elevation layer for our map styles, we may need to add text attribution for Mapbox and possibly OpenStreetMap (I'm not certain the elevation layer uses OSM but plenty of other Mapbox layers do).

[Full details here](https://docs.mapbox.com/help/how-mapbox-works/attribution/) and the precise attribution needed for our tilesets is stored in the [TileJSON](https://docs.m

[2021-02-06 17:24] jhenshall commented on #1643
Hey @geohacker @GregoryHorvath, great to have the countries in! Done some initial testing (more just clicking around than systematic at this point) and capturing a few points here.

### Admin site
- Disputed status is added to `Society name [en]` and the `disputed` checkbox is not checked - e.g. [Hala'ib triangle](https://dsgocdnapi.azureedge.net/en/api/country/349/change/)
- Sovereign state not f

[2021-02-08 14:25] GregoryHorvath commented on #1643
@jhenshall Added the `in_search` field and actually there was an issue with the implementation of the handling of the indices for Countries for Elasticsearch, so also fixed that. These are deployed to staging.

The `in_search` field is defaulted to `True`, so all `Country` records picked it up (including those ominous region-country-region records). cc @geohacker @batpad

[2021-02-09 14:36] GregoryHorvath commented on #1797
@mariam-yu If you select Covid related event on the first step then you should see the changes on the staging site: https://dsgoproxyapp.azurewebsites.net/reports/new

Some of the relevant changes:
![image](https://user-images.githubusercontent.com/30079559/107378249-114cbd00-6aec-11eb-8028-2ae3aca67c78.png)

Hovering action tooltips and our standard way of clickable tooltips
![image](https://user

[2021-02-09 14:42] batpad commented on #1797
@karitotp there are some things still remaining from this ticket, but for all the things checked off by @GregoryHorvath and for the functionality in the screenshots above, would you be able to start testing the field report on staging?

We should check that the above functionality all works as expected when the Field Report is a COVID field report, and also that nothing is broken for field reports

[2021-02-09 16:36] anamariaescobar commented on #1797
@GregoryHorvath

Sorry, I know we have change this text 3 times already, but just trying to make it as brief as possible! I promise this is the last time

- [ ] Change: Text outside the text box under "Description of situational Overview" -->These questions are meant to function as a guide only:
Since the last Field Report:
o How has the situation evolved?
o How is the situation affecting your Nat

[2021-02-09 23:49] mariam-yu commented on #1797
@GregoryHorvath Thank you for putting this together so detailed for me. It helped a lot to digest the changes. Here are a few comments. Hope it's clear, and I'm not missing anything.

**Situation: Numeric details - subtext**
I am not sure if we have a style for this, but I think the text width should be shortened and a bit of padding on top.

**Situation: Number of new cases... **
Not sure what th

[2021-02-10 02:50] karitotp commented on #1797
@batpad @GregoryHorvath, all the thing are working correctly for COVID field reports and for NOT COVID reports.
Some minor details  are:

For some reason in **Assisted by RCRC Movement** hovering text box does not disappear when I clicked on the other tooltips
![Screenshot from 2021-02-09 17-14-33](https://user-images.githubusercontent.com/11504548/107436068-09e0e000-6afb-11eb-9256-decbd217730e.pn

[2021-02-10 14:47] GregoryHorvath commented on #1797
@anamariaescobar
Deployed the changes to staging, now the 3 "Notes" (since we already have "Description" fields for each Actions sections per organization, I called these "Notes") should show up. Also changed those descriptions you lastly mentioned.
For the tooltip translations we could use a CSV I guess, currenty I simply added the english versions in a script as hardcoded values.
[code]
Where th

[2021-02-10 16:53] tovari opened #1819 "3W improvements"
This is to collect all 3W related user stories in scope in 2021.

- [x] PNS view, Global views: https://github.com/IFRCGo/go-frontend/issues/1823

Other improvements:
- [x] 3w bulk upload feature is incorrectly importing date fields #1884
- [x] User roles: https://github.com/IFRCGo/go-frontend/issues/1312
- [x] Disaster type for Bilateral: https://github.com/IFRCGo/go-frontend/issues/1148
- [x] 3W

[2021-02-11 09:19] tovari opened #1820 "Prod and Staging: GO contact details (on Resource page) update option on the Admin page"
## Issue
It looks like the GO contact names and emails on the Resource page are hard coded. The IM contacts may change frequently, it would be good to have an option on the Admin page to update this.
If this is not possible at the moment, at least the Africa contact should be updated now to Elly NANDASABA MULAHA  Elly.MULAHA@ifrc.org

## Expected behavior
*Expect a page on the Admin site where nam

[2021-02-11 13:39] GregoryHorvath commented on #1820
@tovari Deployed to staging.

- There is a `Main contacts` menu in the Django Admin now under the API section
- Added our current contacts with their translations (changed the one mentioned in this ticket) with a management script

[2021-02-12 09:54] tovari commented on #1820
Thanks @GregoryHorvath for the quick action.
It works well on Staging.

[2021-02-12 10:06] tovari opened #1822 "Integration with existing NS databases for automated 3W (and other) data import"
tbd...

[2021-02-12 10:08] tovari opened #1823 "3W:. PNS view, Global view"
- [x] Partner NS view
- [x] Global 3W view

https://www.figma.com/proto/RZTZdDWf6Xjweh9GA8rMGW/IFRC_GO_Wires_20210502?page-id=0%3A72&node-id=104%3A8886&viewport=1350%2C3308%2C0.12138918787240982&scaling=scale-down-width&hide-ui=1

[2021-02-12 10:13] tovari opened #1824 "3W various improvements from user feedback"
------------------------------------------------------------------------------------------------------------------------
- [ ] Add **Donor information**: Who has funded the project? – optional dropdown (not %) including private, govt, RCRC movement
- [ ] Add **Climate risk integration**: Has the project integrated climate risk?  – definitions to be refined
- **Climate not considered**: Projects ha

[2021-02-15 14:16] tovari commented on #1797
@GregoryHorvath, would you mind to remove the 'Description' text at 'Source (of figures) on the 2nd page? It is not required.
Thanks!

[2021-02-15 23:58] mariam-yu commented on #835
@ThomasRaffort Sorry somehow I missed your message here. Thanks for sharing the links. I glanced through them, and it's quite interesting for us to explore. Would there be a possibility of doing a trial? However, if I did understand correctly, the Customer Voice is mainly a "survey" tool, meaning we embed a questionnaire and collect feedback, just that we can embed into various tools (email, websi

[2021-02-16 08:04] ThomasRaffort commented on #835
@mariam-yu I believe we can get a free 30 days trial. https://docs.microsoft.com/en-us/dynamics365/customer-voice/sign-up-trial
Let me double check with my colleague if our existing contract has additional provision in that regards. will revert asap. I believe the survey creation and hosting is within MS Customer Voice environment, meaning even after it is embedded somewhere, updating an existing

[2021-02-16 08:16] ThomasRaffort commented on #835
@mariam-yu can go ahead and sign up for the free trial. please let me know if you need any support. once trialed, if we have some specific technical questions, we could get (limited) support directly from a Microsoft specialist. Thanks @tovari

[2021-02-16 10:02] GregoryHorvath commented on #1014
@batpad Can you please refer this at the Pull Request or somewhere? Or was it ever merged into `develop`? I can't find this among the `master` <- `develop` Release PR commits but I may be blind: https://github.com/IFRCGo/go-frontend/pull/1827

cc @tovari

[2021-02-16 12:25] jhenshall commented on #1709
Proposing that we replace the geometries of Serbia and Morocco to include Kosovo and Western Sahara respectively. We would then have overlapping polygons for the disputed areas but any hover state would be displayed as required by the National Society. cc @geohacker

[2021-02-16 12:57] jhenshall commented on #1202
Just reviewing the map on homepage after this ticket: #1810. The reds of emergency appeals and DREFs look very similar on the map - could we change the colours of the points and legend to match those used in the graphs further down the page:

 - Emergency response = lighter red (no change needed)
 - DREF = orange

I know we also have Early Action Protocol Activation being added as blue. This then

[2021-02-16 17:41] karitotp commented on #1663
It is working correctly.

[2021-02-16 21:10] karitotp commented on #1797
I checked again  the functionalities for COVID FR and NOT COVID reports and all works good! Also checked the follow things:

- [x] For the Fold's sub-text I used our pre-existing styling, but now added some padding-top to it
- [x] Made "new cases" and "new deaths" into lowercase
- [ ] If I remember right I chose to use hoverable tooltips for the Actions because it would've been hard(er) to impleme

[2021-02-17 12:57] batpad commented on #1504
Sorry, missed this issue in the release notes - @karitotp could you test that this works?

[2021-02-17 14:13] karitotp commented on #1504
@batpad, the FR counts is working according their visibility permissions.

In case there is a FR but its visibility is not public, the emergency page is still displaying an empty tab of Reports/Documents

![Screenshot from 2021-02-17 08-50-20](https://user-images.githubusercontent.com/11504548/108213576-300b0f00-70fd-11eb-8366-0708d2ba8697.png)

[2021-02-17 15:47] jhenshall commented on #1623
Several country names updated on prod and staging via the django admin. Detailed summary of changes and decision logs detailed on IFRC sharepoint but there were changes made in at least one language to the following countries in line with the work with governance.

GO ID | Name
-- | --
25 | Bahamas
43 | Cabo Verde
187 | Democratic Republic of Congo
184 | Congo
193 | Democratic People's Republic of

[2021-02-17 15:47] #1623 closed

[2021-02-17 17:10] mariam-yu commented on #1202
hey @jhenshall So, we have the colors here in Zeplin (http://zpl.io/2yK3JAo), but sending you the hex codes here in any case:

Appeals - #f5333f
DREF - #b61d26
EAP - #4c5d9b
Movement Response - #8d8d8d
Multiple Types - #ff9e00

Could you double check if you have the same? We can always provide variations for the red, tagging @maisa-yu who can help with the colors. As for Movement Response, to be h

[2021-02-17 19:19] jhenshall commented on #1188
ICRC admin1 update still uses old Nepal divisions, so Nepal codes added according to [OCHA Common Operational Dataset (COD)](https://data.humdata.org/dataset/administrative-bounadries-of-nepal):
| admin1Name_en | admin1Pcode |
| --- | --- |
| Province 1 | NP01 |
|Province 2|NP02|
|Bagmati|NP03|
|Gandaki|NP04|
|Lumbini|NP05|
|Karnali|NP06|
|Sudurpaschim|NP07|

[2021-02-17 23:52] jhenshall commented on #1485
These were actually updated during last release but the admin codes have just been added to finalise this. As noted here: https://github.com/IFRCGo/go-frontend/issues/1188#issuecomment-780790476

[2021-02-17 23:52] #1485 closed

[2021-02-19 14:19] tovari opened #1830 "Translation dashboard improvements"
It would be great to add a few new functionalities to the translation dashboards:

- [x]  export all strings with existing translations to file, while missing translations could be displayed by an empty string - this would help us to update translations when necessary
- [x] export only new strings to a file - this will help to prepare the translation requests
- [x] add permission handling - a user

[2021-02-19 15:21] jhenshall commented on #1447
This has been updated to FR032 inline with latest ICRC shapefile.

[2021-02-19 15:21] #1447 closed

[2021-02-19 15:25] jhenshall commented on #1446
Podkarpackie changed to PL016 taken from updated ICRC shapefile.

[2021-02-19 15:25] #1446 closed

[2021-02-19 16:06] tovari opened #1831 "Translation option for key figures at Countries, Regions, Emergencies"
Key figures can be added only in English at Emergencies, Countries and Regions.
We need the option to add the 'Deck' information in the other 3 languages as well.

![image](https://user-images.githubusercontent.com/68283148/108529879-3f44b500-72d5-11eb-9ead-be0118be6478.png)

[2021-02-19 16:18] tovari commented on #1620
Created a new ticket for the missing translation option for the key figures:
https://github.com/IFRCGo/go-frontend/issues/1831

[2021-02-19 18:25] jhenshall commented on #1642
Closing this ticket because it's a duplicate with all the details captured in #1202

[2021-02-19 18:25] #1642 closed

[2021-02-22 10:57] batpad opened #1833 "New Chart for RR Deployments by Month on Surge page"
Breaking this out of https://github.com/IFRCGo/go-frontend/issues/1666

The new design for the Surge page includes a new chart that shows Total Rapid Response Deployments by Month for the past year on the main `Surge` page.

This is the design mockup: https://projects.invisionapp.com/share/B3XKVKZJWY9#/screens/361601984_5-1_GO_Deployment and the chart to be implemented is the one with the title `R

[2021-02-22 11:20] jhenshall commented on #976
This specific issue is definitely fixed. We've also made the broader geo API changes and converted all ISO codes to uppercase - checks do not reveal any issues, so closing this ticket.

[2021-02-22 11:20] #976 closed

[2021-02-22 11:52] jhenshall opened #1835 "Remove 'movement response' from homepage map"
## Issue
The legend of the [homepage 'active operations' map](https://go.ifrc.org/) has a grey dot for 'movement response'. This is confusing as it is similar to the grey used for the map but is also not a currently used appeal type (it was used historically and is in review but not currently used).

![image](https://user-images.githubusercontent.com/6359748/108704535-0fc7bf80-7504-11eb-9b06-e0b30

[2021-02-22 11:57] jhenshall commented on #1202
Thanks @mariam-yu. Could I propose to change DREF to orange which matches the graphs lower down the page (on the site itself, not the design above):

![image](https://user-images.githubusercontent.com/6359748/108704926-911f5200-7504-11eb-8886-5b4e8733adc0.png)

So, on the map it would be:

Appeals - #f5333f
DREF - ~~#b61d26~~ #ff9e00
EAP - #4c5d9b
Multiple Types - ~~#ff9e00~~ **TBC** - any thought

[2021-02-22 12:31] nanometrenat commented on #1132
@anamariaescobar @LukeCaley the COVID emergencies have started dropping off NS country pages again (as now we're out of the 12 month timeframe they're no longer considered 'recent' emergencies).  Means that users [such as FDRS team, as a handy example] have extra clicks to hunt down the relevant emergency.  Especially as searching for e.g. "Iran COVID" doesn't return the Iran COVID emergency page

[2021-02-22 13:37] anamariaescobar opened #1836 "[PROD] Surge page displaying ops with 0 deployments under active deployments"
## Issue
Surge page displaying ops with 0 deployments under active deployments and showing ALL deploying organizations.

![image](https://user-images.githubusercontent.com/69478743/108715431-275e7280-751b-11eb-99bd-290f16c10e9f.png)

## Expected behaviour
Deployments overview by emergencies should only show emergencies that have active deployments. As well the deploying organization should only sh

[2021-02-22 14:12] tovari commented on #1797
Hi @GregoryHorvath, the new fields should be displayed on the page of the created FR as well. Currently, the page shows only the old fields only. Could you please add the new ones as well?

[2021-02-22 14:17] jhenshall commented on #1188
Closing this ticket as the original issue is now sorted: Nepal has been updated and can't see any issues for Kazakhstan (but happy to reopen if I've missed it).

Noting the comment:

This issue is the same for a lot of countries and because the pcodes are drawn from ICRC shapefile, rather than the OCHA's Common Operational Datasets (CODs). It is a shame that they don't align but will need discussi

[2021-02-22 14:17] #1188 closed

[2021-02-22 14:26] jhenshall commented on #1464
Reopening - they have been added to staging but not yet prod

[2021-02-22 14:28] jhenshall commented on #1445
This will be fixed after the upcoming changes - the missing countries will be added, so I can go in and link districts to the countries for these disputed areas.

[2021-02-22 14:36] anamariaescobar opened #1837 "[PROD] Today line in deployments Surge tab in an emergency not showing correctly"
## Issue
The today line in the section of the rapid response personnel deployed in the surge tab of an emergency is not showing correctly.

![image](https://user-images.githubusercontent.com/69478743/108722654-ad7eb700-7523-11eb-9ce6-3ad2c0f3dfc2.png)

## Steps to reproduce
https://go.ifrc.org/emergencies/5022#surge

[2021-02-22 14:37] anamariaescobar commented on #1666
Hi @batpad, summary of our meeting last week:

- [ ] Change oh the graphics, already described in ticket #1833
- [ ] Move deployed ERUS below Deployments overview by Emergencies
- [ ] Not show 0 deployments in Deployments overview by Emergencies and only show the active deploying organization, described in ticket #1836
- [ ] Not show "hidden" positions coming from Molnix
- [ ] Cross check the list

[2021-02-22 14:41] maisa-yu commented on #1202
Hey @jhenshall yes, we can put DREF as this orange (#ff9e00) like you suggested.
But we'll still have the challenge for Multiple types: to find different colours within the red-orange-yellow spectrum that have enough contrast between them. As Multiple Types are not too many, maybe we can try something similar to the dark red (#A4053E) or a more vibrant orange (#FF6B00).

[2021-02-22 14:46] jhenshall commented on #1639
As an intermediary for this - ISO codes are being removed from all non-countries in the country database: regions and clusters. This has been done on staging for testing and assuming no issues, will be done on prod after the upcoming geo release.

[2021-02-22 17:00] jhenshall commented on #1202
Thanks @mariam-yu. Yeah the multiple types is tough, especially as the new blue EAP colour is also part of the categorisation (i.e if a country has EAP and DREF - the dot will be 'multiple types').

I'm tempted to go with the orange you suggested (#FF6B00) for now as a quick fix and then we can maybe think about a different way to indicate multiple types that would allow you to see all the differe

[2021-02-22 17:14] #1688 closed

[2021-02-22 17:18] jhenshall commented on #1785
Decided that we will not store disputed boundaries on Github but instead upload shapefile directly to Mapbox. This is rarely updated so no need to automate.

[2021-02-22 17:50] jhenshall commented on #1811
The language used in the appeal documents is 'People to be assisted'. The pop-up box is therefore wrong and definitely needs changing. Whilst the legend using '# of people targeted' is probably ok, I suggest we change this too, so that same language is used everywhere. Thanks @guipizzini for flagging.

cc @geohacker @batpad

[2021-02-22 18:31] jhenshall opened #1838 "Align district codes with OCHA p-codes"
## Issue
OCHA maintains [Common Operational Datasets (CODs)](https://data.humdata.org/dashboards/cod#:~:text=Common%20Operational%20Datasets%20(CODs)%20are,and%20exchange%20of%20key%20data.), which are available through HDX and are the 'authoritative reference datasets' for admin boundaries and their unique p-codes, which are essential when joining datasets.

The district codes on GO come from the

[2021-02-23 11:06] #1820 closed

[2021-02-23 12:24] jhenshall commented on #1815
ICRC are finalising the data agreement but we do not have to worry about crediting them at this stage. Could be added once formalised.

[2021-02-23 12:53] jhenshall opened #1840 "[PROD] Remove ISO from cluster and regions"
## Issue
In the countries table, some cluster and regions have ISO from when this was a mandatory field, usually for the country that the IFRC office is situated. This is inaccurate because it assigns regions and sub-regions to single countries and is also bad for data management as there are duplicate ISOs in the countries table.

## Proposal
Remove ISO from all cluster and region records. Need t

[2021-02-23 12:54] jhenshall commented on #1840
This has been done on staging to test prior to implementing in prod.

[2021-02-24 08:45] geohacker commented on #1672
@jhenshall @GregoryHorvath we have added APPL codes to the database via https://github.com/IFRCGo/go-api/pull/1016. Now I'm hoping @GregoryHorvath can make the changes to the appeal ingestion script to use this data before we close here.

[2021-02-24 09:06] geohacker commented on #1709
@GregoryHorvath to replace the geometries, all we have to do is run:

[code]

The shapefile is in the Google Drive.

[2021-02-24 09:42] jhenshall commented on #1643
Compiling a final checklist of things to be done for the prod release, hopefully early next week. As always, let me know if anything not as expected @geohacker @batpad @GregoryHorvath .

### Management commands on prod
@GregoryHorvath @geohacker

- [ ] #1464 Add missing countries
- [ ] #1473 Add missing districts
- [ ] #1709 Update geometries for disputed territories
- [ ] #1690 Link non-independe

[2021-02-24 10:48] geohacker commented on #1474
Tileset generation code is now in staging. Once this is merged to production, we will import and update all data changes in the database and then run the management command to update the tileset.

[2021-02-24 11:10] geohacker commented on #1815
@jhenshall can you post on this ticket what the attribution on the map should say? At the moment there's no attribution
![image](https://user-images.githubusercontent.com/371666/108991805-8d372f80-76be-11eb-99e1-e85d29600574.png)

Turning on the attribution control will automatically use the attributions available in all layers
![image](https://user-images.githubusercontent.com/371666/108991989-c3

[2021-02-24 11:22] jhenshall commented on #1815
@geohacker - that's awesome, nice one! ICRC have not requested attribution yet - so using the built in Mapbox attribution control is perfect for now.

[2021-02-24 11:24] geohacker commented on #1811
@jhenshall this might not be as easy as just replacing the map. There are several places 'People targeted' is used https://github.com/IFRCGo/go-frontend/search?q=people+targeted I defer to you, @tovari and @batpad. This will also have implications on translations so may not be quick.

[2021-02-24 11:31] jhenshall commented on #1811
Ah ok, good point @geohacker! In that case, I would just change the pop-up to also say 'People targeted' rather than 'People affected'. That's assuming that the popup is referencing the same attribute in the dataset that is used to scale the points.

![image](https://user-images.githubusercontent.com/6359748/108994074-408a2f00-7693-11eb-9f8d-fde55de9bbeb.png)

[2021-02-24 11:38] jhenshall commented on #1202
So, to confirm the final colours for the homepage map are:
Appeals - #f5333f
DREF - **#ff9e00** ~~#b61d26~~
EAP - #4c5d9b
Multiple Types - **#ff6b00** ~~#ff9e00~~

~~Movement Response - #8d8d8d~~ - **Removed entirely**

[2021-02-24 15:08] maisa-yu commented on #1202
@jhenshall
Sounds good, we can always adapt the Multiple Types later if it's too similar

[2021-02-26 14:03] tovari commented on #1799
@GregoryHorvath, not sure all requirement has been added. I have a note from the meeting about the API should keep the FR IDs

[2021-02-26 21:40] LukeCaley commented on #1823
Xref: https://github.com/IFRCGo/go-api/issues/368

[2021-02-26 22:12] SimonbJohnson commented on #1819
#1822 could be facilitated via HXL.

[2021-03-01 07:02] GregoryHorvath commented on #1799
Our brief tasks here (up until we have the middleware(s)):
- Create a trigger (`@receiver`) for Field Report create/update
- If Request for International Support is `true` for any of the Field Reports (of their Emergency), then create a payload with all the data mentioned in the docs
- Add multiple tries to the request, for the case if some of them fails at first
- Add logging
- Optional, and prob

[2021-03-01 11:33] jhenshall opened #1844 "[PROD] Emergency page map - display multiple countries"
## Issue
When a second country is added to an emergency, the map disappears from the emergency page. There are wider considerations for how multiple country emergencies are handled, but this feels like a more tangible and defined improvement.

Propose to have all countries / districts linked with emergency use the existing styling:

- darker grey - affected country
- red - affected district.

## S

[2021-03-01 14:32] tovari commented on #1822
https://github.com/IFRCGo/go-frontend/issues/1819#issuecomment-786920945

[2021-03-01 14:33] jhenshall opened #1845 "[PROD] Country dropdown lists"
## Issue
Ticket to outline how various dropdowns that reference the countries table should look across the site. Thanks to @nanometrenat for [raising and detailing an issue here](https://github.com/IFRCGo/go-frontend/issues/1673#issuecomment-749925775) that regions are wrongly being shown in the field report list (also quoted at bottom of this ticket).

This is focussing on frontend only. All reco

[2021-03-01 14:53] jhenshall commented on #1673
The changes made by @GregoryHorvath mean that cluster and region records are no longer displayed in site search. They are also not linked to from anywhere, so cannot be navigated to except [via Google](https://www.google.com/search?q=ifrc+go+cluster&rlz=1C1CHBF_en-GBGB916GB916&oq=ifrc+go+cluster&aqs=chrome.0.69i59j69i60l3j69i64.3634j0j1&sourceid=chrome&ie=UTF-8).

There is a wider question of whet

[2021-03-01 14:53] #1673 closed

[2021-03-01 15:54] tovari commented on #1079
We aim to review the dot scaling options on the map, so I close this ticket.

[2021-03-01 15:54] #1079 closed

[2021-03-02 05:23] geohacker commented on #1643
This is because the `--update-bbox` and `--update-centroid` flags are missing, but can be fixed in production when running the management command.

@batpad could you take look and let me know what I should do here? I'm not entirely sure.

[2021-03-02 07:52] batpad commented on #1643
We seem to be applying the filter for independent here already, so it seems like there's something else going on here causing the duplicates.

We can look at this a bit more to figure out where this duplication is coming from.

@jhenshall do you have any idea if there are other reasons why NS names could be duplicated for different countries?

@frozenhelium may need your help to understand the dat

[2021-03-02 08:36] nanometrenat commented on #1845
Thanks @jhenshall will be great to get this sorted.

I can see NSs are still creating Field Reports against regions - and this doesn't seem to be being picked up in the gardening process e.g. this one https://go.ifrc.org/reports/13993 and this one https://go.ifrc.org/reports/13636 - the emergencies are against the countries but the FRs are against the region

Cheers

[2021-03-02 08:41] nanometrenat opened #1850 "Recent Emergencies - COVID pages have dropped off the recent list"
## Issue
Hi @LukeCaley @anamariaescobar, I commented on a closed issue the other day but opening a new ticket so it's visible.  It's a business question rather than a bug.

As we're more than a year after COVID hit, for many National Societies the COVID emergency page has dropped off their Recent Emergencies.

You may wish to consider extending the timeframe for 'recent' even further, or perhaps c

[2021-03-02 08:44] nanometrenat commented on #1845
e.g. if you go to this page (when logged in) and look at the FRs list you'll see it clearly - https://go.ifrc.org/emergencies/4249#reports cheers ;)

[2021-03-02 10:42] jhenshall commented on #1643
@batpad I don't think the independent filter is working. To clarify this is for the top dropdown of 'Reporting National Society' drop down, not the second down of 'Country'.

The pattern of duplicate National Societies points towards overseas territories also being included as separate NS. e.g. UK and Montserrat both have British Red Cross as NS but are listed separately. Filtering by independent

[2021-03-02 14:11] batpad commented on #1060
cc @mmusori

[2021-03-02 15:37] tovari opened #1851 "3W tab on Region page breaks during loading"
## Issue

*Site breaks during loading when navigating to the 3W tab on any Region page on Production. It starts loading then all goes grey. Staging site works well.*

## Steps to reproduce

https://go.ifrc.org/regions/2#3w

[2021-03-03 12:18] batpad commented on #1836
This should be fixed on staging: https://dsgoproxyapp.azurewebsites.net/deployments

We should be able to get this in with the next production deploy.

[2021-03-03 13:59] anamariaescobar commented on #1836
Thanks @batpad, looks good on staging! Will be available to test once is on production

[2021-03-03 19:07] jhenshall commented on #1474
Hey @geohacker - can we change the zoom levels for the tilesets, especially districts as you can't see them until zoomed too far in. Not certain what best here. The disputed boundaries uploaded direct to Mapbox are z0-8 (and cannot be changed unless we use API). Tempted to make all layers the same so they continue to line up (more or less) as you zoom closer? Could be overkill though.

[2021-03-03 22:06] jhenshall commented on #1473
Can we make `country_iso` nullable in the districts table? This is actually a symptom of [this issue](https://github.com/IFRCGo/go-api/issues/950) that the districts table stores country name and iso separate to country table. I assume the broader fix is not possible this time round, so need to have nullable iso for disputed territories. Example screenshot of how one of the disputed territories sh

[2021-03-03 23:13] jhenshall commented on #1845
That is super helpful, thank you @nanometrenat! Once the changes have been made, note to check other tables too and change all field reports wrongly created against regions before closing this ticket.

[2021-03-04 06:53] geohacker commented on #1474
@jhenshall yes! I highly recommend to make sure we pick a zoom level that's needed and not go fully overboard. It introduces more friction points and higher chances of MTS failure and a Mapbox bill. Can you tell me what zoom levels are needed?

[2021-03-04 22:02] tovari opened #1857 "URL of emergency page additional tab loads the operations tab"
## Issue

*https://go.ifrc.org/emergencies/5123#trends-and-analysis link loads the https://go.ifrc.org/emergencies/5123#details tab instead, if the page was not yet in cache.
This makes the shared urls confusing as not the relevant information appears for the user.*

## Steps to reproduce

*1. clear cache.
2. https://go.ifrc.org/emergencies/5123#trends-and-analysis*

## Expected behavior

*Should

[2021-03-05 10:57] tovari commented on #930
@GregoryHorvath, @batpad would you mind to comment, how the implementation of this feature stands? Would be nice to see, how much work would it still require. Thanks!

[2021-03-05 11:19] GregoryHorvath commented on #930
@tovari I honestly believe that the scope/approach behind this have changed a lot since, and I also suspect that the work done on this is lost in some branch and we'd be better off starting over from scratch with this (it wasn't too much done anyway).

I'd say this needs planning (and probably design) again, based on what have changed since the original request of this.

[2021-03-05 13:03] jhenshall opened #1858 "Testing 4.4 geo release"
This ticket outlines the key changes for the geo release and what to test. There are a couple of frontend changes to the homepage map but the main changes are to the underlying data, especially:

- Adding disputed countries [listed here](https://github.com/IFRCGo/go-frontend/issues/1464) - these are for data completeness and **should not appear anywhere on the site**
- Removing ISO codes where inc

[2021-03-05 16:20] jhenshall commented on #1845
@geohacker @batpad @GregoryHorvath - I've just updated the 'Expected behaviour' of the ticket to better outline the requirements and all the dropdowns affected - I hope this is all of them?!

[2021-03-05 16:25] jhenshall commented on #1474
Proposing the zoom level and naming for the MTS layers:

- GO_Countries_v1 - z0-8
- GO_Districts_v1 - z3-8
- GO_Country_Centroids_v1 - z0-4
- GO_District_Centroids_v1 - z3-6

[2021-03-05 16:32] jhenshall commented on #1643
@batpad @geohacker @tovari @GregoryHorvath - I've updated [this overview comment](https://github.com/IFRCGo/go-frontend/issues/1643#issuecomment-784946886) with blockers before launch. Hopefully we can get these done on Monday? Then testing ([outlined here](https://github.com/IFRCGo/go-frontend/issues/1858)) and release Wednesday? 🤞

[2021-03-08 06:56] geohacker commented on #1474
@jhenshall This is now the zoom levels for the tilesets. They are a bit bigger range than listed above:

Countries minzoom  0, maxzoom  10
Districts minzoom 3, maxzoom 10
Countries centroids minzoom 0, maxzoom 10
Districts centroids minzoom 3, maxzoom 10

https://github.com/IFRCGo/go-api/pull/1028

[2021-03-08 10:53] batpad commented on #1845
@jhenshall - dropdowns country list fixes have been deployed to staging. Could you check? This now essentially always only shows record type Country and independent=True for all the dropdowns mentioned above.

[2021-03-08 12:51] jhenshall commented on #1845
Thanks @batpad - looking good, with the exception of PER form: the independent filter doesn't seem to be working? It's not just the disputed entries that show, but still has all the duplicate entries.

[2021-03-08 13:05] jhenshall commented on #1845
Also just want to note the edge cases of ICRC, IFRC and Benelux. They are all 'countries' with `independent=null` but are appearing in all lists. Are we _including_ `independent=true` or _excluding_ `independent=false`?

Ideally these three 'countries' should only appear in dropdown: 3W > Reporting NS. This could be achieved by making that field exclude `independent=false` and all others include `

[2021-03-09 11:27] jhenshall commented on #1845
We got it @batpad! All looking good on staging. 👍 🎉

[2021-03-09 13:35] #1635 closed

[2021-03-09 22:15] jhenshall commented on #1858
Thank you @karitotp and great catch! Didn't even know that PER dropdown existed. 🙂

@batpad - the 'Completed PER Assessments' dropdown should mirror the PER form: `record_type=1` and `independent=true`. @GregoryHorvath - just FYI @karitotp has highlighted the search issue here.

@karitotp - I've just realised that I missed 3W off the list of things to test: adding new records and editing existing.

[2021-03-10 09:32] jhenshall commented on #1858
Thanks so much @karitotp!

[2021-03-10 18:52] jhenshall commented on #1840
Done on prod along with all other geo changes.

[2021-03-10 18:52] #1840 closed

[2021-03-10 20:14] jhenshall commented on #1445
Disputed territories have now been added to the countries table and these districts updated in admin to link to the country of same name. e.g. the district Ilemi triangle is the sole 'district' in the 'country' Ilemi triangle.

[2021-03-11 15:24] #1851 closed

[2021-03-16 22:32] jhenshall commented on #1202
Epic ticket but think time to finally close it. 🙂 Thanks for all the work @mariam-yu @maisa-yu @geohacker! Last thing will be to switch on the hover state when the data and new Mapbox done, but I will ticket this separately.

[2021-03-16 22:32] #1202 closed

[2021-03-16 22:50] jhenshall commented on #1464
All added in 4.4 March release! GO now matches ICRC shapefile - was essential for building the Mapbox layers with MTS.

[2021-03-16 22:50] #1464 closed

[2021-03-16 23:06] jhenshall commented on #1473
Remaining districts added in March 2021 - all districts from ICRC shapefile now in GO! 🎉

[2021-03-16 23:06] #1473 closed

[2021-03-16 23:07] jhenshall commented on #1500
Can this be closed now then @geohacker ?

[2021-03-16 23:09] #1835 closed

[2021-03-16 23:10] #1815 closed

[2021-03-16 23:10] #1858 closed

[2021-03-16 23:12] jhenshall commented on #1811
Done with March 2021 geo release!

[2021-03-16 23:12] #1811 closed

[2021-03-16 23:14] jhenshall commented on #1672
Done with March geo release!

[2021-03-16 23:14] #1672 closed

[2021-03-16 23:16] #1809 closed

[2021-03-17 04:56] batpad commented on #1500
We've split up the raw geometries into a separate table, so that the large geometries are still stored in the db, but don't affect API performance. This can be closed.

[2021-03-17 04:56] #1500 closed

[2021-03-17 10:09] jhenshall opened #1868 "[PROD] Map interactions - bug on Chrome"
## Issue
Some users are reporting a bug that map interactions do not work properly. On the [homepage](https://go.ifrc.org/) and [region](https://go.ifrc.org/regions/0#operations) maps, when clicking on points or countries, the pop-up box only occasionally works. On the [emergencies page](https://go.ifrc.org/emergencies), the pop-up never works when clicking on emergency points.

It seems to only b

[2021-03-17 11:11] jhenshall opened #1869 "[PROD] Completed PER assessments - country dropdown"
## Issue
[Completed PER assessments](https://go.ifrc.org/account#per-forms) - country dropdown displays all country records including non-independent, disputed and regions.

Should have like all other country dropdowns:
- `record_type = 1` (countries only, not regions or clusters)
- `independent = TRUE`

## Related feature
All other country dropdowns were covered in #1845 but reticketing this as o

[2021-03-18 09:54] #1445 closed

[2021-03-18 23:30] laurencun commented on #1699
@batpad Happy to start on this issue if assistance is still needed.

[2021-03-19 04:18] batpad commented on #1868
@jhenshall I am unable to reproduce this. Best might be to get on a screenshare with someone who can reproduce this consistently and try and see what's going on, and then try and narrow down the issue by browser / OS / screen resolution / whatever might be causing it.

[2021-03-19 04:19] batpad commented on #1868
@karitotp would you be able to test this? Test clicking on the points on the map on the pages mentioned in the ticket and see if you're able to reproduce this issue of popups not showing up?

[2021-03-19 14:11] karitotp commented on #1868
@batpad, I tested all this even in different languages and everything is working good to me.

[2021-03-19 19:16] jhenshall commented on #1845
Drop downs are now sorted on prod and recent field reports wrongly assigned to region have been changed to appropriate country.

[2021-03-19 19:16] #1845 closed

[2021-03-23 12:46] tovari commented on #1845
Thanks @jhenshall.
FRs assigned to a region appears now on the GO data quality dashboard shared with the regional IMs, so hopefully they will be able to detect such cases easily in the future.

[2021-03-23 12:53] tovari commented on #1868
Who can help to reproduce this issue? @anamariaescobar , @LukeCaley?
@batpad, can we somehow export some Chrome developer tools data that you could analyse?

[2021-03-23 16:18] anamariaescobar commented on #1868
I reproduced it with @batpad this morning in a call.

@batpad let me know if there is something else I can help with!

[2021-03-24 10:06] tovari commented on #1799
Offline version on 24.03.:

[TDD Re@dY - 6885 Interface Go-D365FO Request for international support (1).pdf](https://github.com/IFRCGo/go-frontend/files/6196111/TDD.Re%40dY.-.6885.Interface.Go-D365FO.Request.for.international.support.1.pdf)

[2021-03-24 10:53] tovari opened #1870 "PER Analysis page"
The PER Analysis page will give an overview....

[2021-03-24 11:03] tovari opened #1871 "Alert Hub"
Alert hub wil be an aggregator of official alerts from official alerting authorities...

**The Common Alerting Protocol (CAP)**
The Common Alerting Protocol (CAP) is an XML-based data standard for exchanging public warnings and emergencies between alerting technologies. CAP allows a warning message to be consistently disseminated simultaneously over many warning systems to many applications, such

[2021-03-28 16:30] tovari commented on #1360
Has this been completely resolved, @batpad?

[2021-03-28 16:35] tovari commented on #1585
It seems, it has been resolved, or not sure what happened, @batpad?

[2021-03-29 07:10] tovari opened #1872 "Risk Module - epic"

[2021-03-29 13:27] tovari commented on #982
@marcovvu1 is preparing requirements for a new overview page, which will include this functionality.

[2021-03-29 13:27] #982 closed

[2021-03-31 07:39] justinginnetti opened #1873 "Risk Module feature 2: Risk Watch (includes INFORM Warning plus visualisation of hazard-impact models)"
**Is your feature request related to a problem? Please describe.**
*Within the new GO Risk Module, we will have several components. One of them will be a tab for Risk Watch (and other risk metrics). At present, this doesn't exist though it shares some similarities to the wireframes that were initiated for the crisis databank.*

**Describe the solution you'd like**
*This will visualise three kinds

[2021-03-31 07:46] justinginnetti opened #1874 "(ReqID) (Crisis Data Bank) (Crisis Data Bank)"
**Is your feature request related to a problem? Please describe.**
*This is another new component that will be part of the new GO Risk Module. It doesn't exist as such yet, though some of the info here will be similar to other things already visible/accessible on GO.*

**Describe the solution you'd like**
*The Crisis Data Bank will contain three kinds of information: 1) information about hazards (

[2021-03-31 07:51] justinginnetti opened #1875 "(ReqID) (EW Field Report v.2.0) (Early Warning Field Reports v.2.0)"
**Is your feature request related to a problem? Please describe.**
*This is an enhancement of the existing Early Warning Field Report..*

**Describe the solution you'd like**
*We would like to pre-populate certain fields using the outputs of hazard-impact models.*

**Describe alternatives you've considered**
*This doesn't exist yet at IFRC, so we don't have much to build upon, though one of our pa

[2021-03-31 08:07] justinginnetti opened #1876 "(ReqID) (INFORM Warning) (Risk Module feature 1: INFORM Warning - https://github.com/orgs/IFRCGo/projects/9#card-57784474)"
**Is your feature request related to a problem? Please describe.**
*Ingestion of new product, INFORM Warning, into new GO Risk Module's Risk Watch tab*

**Describe the solution you'd like**
*This is one component of the Risk Watch tab, described in more detail in its own ticket.*

**Describe alternatives you've considered**
*This does not exist yet, but Mariam and Justin and Luke and other partner

[2021-03-31 08:36] tovari opened #1877 "Risk Module feature 1: INFORM Warning"
Inform Warning

[2021-03-31 08:36] tovari opened #1878 "Risk Module feature 2: Risk Watch (includes INFORM Warning plus visualisation of hazard-impact models."
Risk Watch (includes INFORM Warning plus visualisation of hazard-impact models.

[2021-03-31 08:37] tovari opened #1879 "Risk Module feature 3: Automated generation of Early Warning Field Reports and automated population of some fields therein"
Automated generation of Early Warning Field Reports and automated population of some fields therein

[2021-03-31 08:37] tovari opened #1880 "Risk Module feature 4: Crisis Data Bank"
Crisis Data Bank

[2021-04-01 11:19] tovari commented on #1877
duplicate

[2021-04-01 11:19] #1877 closed

[2021-04-01 14:38] tovari commented on #1780
This has been resolved

[2021-04-01 14:38] #1780 closed

[2021-04-04 21:43] tovari commented on #1624
@batpad, looks like this has not been deployed.

[2021-04-05 06:45] nanometrenat commented on #1871
For whoever does the analysis on this build, a top tip from someone who uses the NZRC Hazard App (based on the Red Cross Global App):  remember that alerts can change (a lot) over time.  e.g. when an earthquake is first detected the notifying agency might create a CAP alert with a certain magnitude, then as more data comes in they send an update of that same alert.  For a while there the Red Cross

[2021-04-06 09:30] #1663 closed

[2021-04-06 11:14] jhenshall commented on #1785
Boundary data has been added to Mapbox and centroids are covered by #1474 so closing this ticket.

[2021-04-06 11:14] #1785 closed

[2021-04-06 11:20] jhenshall commented on #1474
When building the larger districts tileset, the VM with 4GB RAM was insufficient and crashed. This is now a blocker to finishing the Mapbox build. @batpad @geohacker - I hope this captures the issue but perhaps we need a new ticket for the VM issue?

[2021-04-06 11:25] jhenshall commented on #1643
This was a pretty epic ticket and all done except for the Mapbox build, which is currently blocked but all outlined in #1474. With just one outstanding ticket left, we can close this master ticket.

Thank you @geohacker @GregoryHorvath and @batpad for all the work on this! 🙌

[2021-04-06 11:25] #1643 closed

[2021-04-07 12:12] tovari opened #1881 "[PROD] Greece - Search list fails to find recent emergencies"
## Issue
*When creating a new Field Report, The search function doesn't find all recent emergencies.*

## Steps to reproduce
*Start to create a new field report at https://go.ifrc.org/reports/new
type Greece to the search field, which proposes only 3 recent emergencies:*

![image](https://user-images.githubusercontent.com/68283148/113863360-ddb7a780-97a9-11eb-9e33-d9765372e22d.png)

There are more

[2021-04-07 12:19] tovari commented on #1881
@szabozoltan69, @vdeak, would you mind to check this weird issue together?

Gergely was already made some initial checks. I share here our conversation about it:
[3/17 11:54 AM] Daniel TOVARI
    ugy latom, h itt nem volt 10 emergency a covid ota
​[3/17 11:58 AM] Gergely HORVATH
    hmm de ezt az alap search se dobja fel ahoyg nézem
​[3/17 11:58 AM] Gergely HORVATH
    futtatok rá nemsokára egy re

[2021-04-07 12:43] szabozoltan69 commented on #1881
Gergely told me 2 weeks ago, that it's quite a weird issue (and it will be not easy to find the solution).
We can begin to work this out with Viktor, but I think we are in a previous state with the KT for really solving such an issue together.

[2021-04-08 08:08] tovari commented on #1881
Looks like we have a problem finding emergencies in the United Arab Emirates as well.

[2021-04-08 08:20] batpad commented on #1881
Right, so this seems like ElasticSearch issues again. There seem to be some conditions where records do not get indexed correctly in ElasticSearch.

Gergely's notes look good - we would need to check whether the records exist in ElasticSearch - if yes, why are they not showing up in search - if not, why are they not being indexed.

Iirc, there is also a command to re-index everything - we can chec

[2021-04-08 10:14] szabozoltan69 commented on #1881
It's strange that if I give a direct search to portugal, in the answer there is nothing related to Portugal:
https://prddsgocdnapi.azureedge.net/api/v1/es_search/?type=event&keyword=portugal

[2021-04-08 11:52] JonathanGarro opened #1882 "Make 3W Records Distinct URLs"
**Is your feature request related to a problem? Please describe.**
Right now 3W records do not have their own URL on the front end. If you want to access the data on the record, it appears as a popup from the country page. But as the tool gets adopted, there will be a need for users who build dashboards or other tools to provide the data to their users as well as the ability to click a link that b

[2021-04-08 11:55] batpad commented on #1882
@frozenhelium am going to assign this one to you, but leave it to @tovari to decide on prioritization. If you can provide a quick estimation of the work involved here (hours, days, weeks?) it would be great!

[2021-04-08 11:57] batpad commented on #1881
@szabozoltan69 can you confirm if my understanding is correct --

The records seem to exist in ElasticSearch (i.e. Django is doing the correct thing and adding them to the index), but the results are not showing up on the search end-point?

If this is the case, we would need to delve into the exact search logic that ElasticSearch is using / weightage given to different fields, etc. Am happy to try

[2021-04-08 12:50] szabozoltan69 commented on #1881
@batpad yes, your understanding is correct.

[2021-04-09 09:50] frozenhelium commented on #1181
@luisfanovich Do we have a finalized behaviour for this?

[2021-04-09 09:53] frozenhelium commented on #1148
@luisfanovich What's the conclusion for this issue? Let's finalize this issue.
CC: @LukeCaley @danielfdsilva

[2021-04-12 11:43] batpad commented on #1868
@frozenhelium tagging you here as per call - this is a really strange issue - maybe we can ping @anamariaescobar again and get on a call together to look at it and try and pin down what combination of browser / OS / pointing device this seems to be affecting?

[2021-04-14 14:34] esario commented on #1881
Received one user comment from Costa Rica:

_When creating a new report in GO, it does not give you the option of "Costa Rica: COVID-19" so that it remains linked to that emergency already created. Currently, other emergencies can be seen but not COVID-19._

[2021-04-16 10:55] tovari commented on #1881
https://github.com/IFRCGo/go-frontend/issues/1132#issuecomment-783341112

[2021-04-16 11:39] LukeCaley commented on #1181
As agreed on the GO call (16/04) The desired behaviour should be that the project status _should_ auto-update as per original requirements.  cc @frozenhelium @luisfanovich

[2021-04-16 11:46] LukeCaley commented on #1148
As agreed on GO call (16/04) I confirm that disaster type _should_ be a required field.
cc @frozenhelium @luisfanovich

[2021-04-18 23:58] luisfanovich opened #1884 "[PROD] 3w bulk upload feature is incorrectly importing date fields"
## Issue
GO 3w bulk upload feature is incorrectly importing date fields. Start date and End date imports as day/month is mixed up.

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/35769672/115166292-0ed08b80-a078-11eb-90a3-dcd1449ec024.png)

[2021-04-19 10:53] frozenhelium commented on #1349
This is now ready for testing at the [staging server.](https://ifrc-go-feature-field-report-export.surge.sh/reports/all)

Changes:
- Reworked the download process
Previously, when `Export all` button was clicked, a request to the server was sent to fetch the whole CSV at once, which took a lot of processing in the server and it caused occasional failure of the download (due to the server timeout).

[2021-04-19 11:11] batpad commented on #1349
@frozenhelium - this is so good!

Tested it after logging in on the frontend and download worked perfectly (downloaded CSV with 9,000+ rows).

Let's discuss this and figure out what a good middle ground for rows per page is -- my hunch is we could up this from 50 to 500 per page without causing issues to the server and significantly speeding up things on the frontend - however, the progress indica

[2021-04-19 11:15] frozenhelium commented on #1349
@batpad Yep, we should experiment on the rows / page to balance out the download time / server load. I've setup a base framework for this kind of export. So, it should be fairly easier for other CSV downloads as well.

[2021-04-19 19:40] szabozoltan69 commented on #1881
[Local elasticsearch testing](https://osztalyta.li/es_bug.mp4) – bug could be reproduced.

[2021-04-21 05:25] frozenhelium commented on #1881
This was an issue due to a bug in the library used in the frontend, it should be fixed with the [PR #1886](https://github.com/IFRCGo/go-frontend/pull/1886) and available for testing in the [staging server](https://ifrc-go-fix-field-report-recent-emergency.surge.sh/reports/new)

CC: @tovari

[2021-04-21 09:22] thenav56 commented on #1181
This is now ready for testing at the staging server.

Changes: Added a cronjob (every 6 hours) that changes the project's status automatically using start/end date.

[2021-04-21 09:46] tovari commented on #1881
Thanks @frozenhelium, @szabozoltan69 and @batpad! Great team work!
Works well on staging.

[2021-04-21 11:04] frozenhelium commented on #1412
This was also modified similarly to the field-report export. Can be tested from the [staging server](https://ifrc-go-feature-improve-emergency-export.surge.sh/emergencies/all)

[2021-04-21 11:47] frozenhelium commented on #1148
Disaster type is now a required field, available for test in the [staging server](https://ifrc-go-feature-three-w-dtype.surge.sh/countries/123#3w)

[2021-04-23 14:15] tovari commented on #1181
hi @thenav56,
thanks for the implementation. I have checked it and looks like the start date doesn't change to Ongoing, while the end date triggers correctly the completion:
![image](https://user-images.githubusercontent.com/68283148/115884289-064ccc00-a44f-11eb-899c-ce80731015c4.png)

[2021-04-23 14:21] tovari commented on #1181
As agreed on the GO call on 23.04., the end date will also automatically trigger the status update from Ongoing to Completed status.

We plan to have email notification service to the project creator, when end date is approaching, let them know that the status will be updated automatically, This will be implemented through a separate request. cc: @LukeCaley

[2021-04-23 15:01] jhenshall opened #1889 "Consolidate Mapbox styles"
## Issue
With the new Mapbox tilesets, we now have to replace all Mapbox styles across the site. This is also an opportunity to consolidate the styles used (there are currently different ones on homepage, 3W, emergency map and export).

Where the style is only used as a basemap, it should be relatively simple just swapping out the style url. Where layers are dynamically filtered (e.g. the emergenc

[2021-04-24 09:09] thenav56 commented on #1181
@tovari Thanks for the feedback.

Could you let me know if this behavior is okay?
[code]

[2021-04-26 08:26] tovari commented on #1181
@thenav56, yes, this how it should work. Thanks!

[2021-04-26 10:43] batpad opened #1891 "[Staging] React-select update breaks Field Report"
## Issue

@frozenhelium I can confirm that this is because of the select upgrade - I tried locally with the older version with rest of the code same, and then with the newer select version and it breaks. (STR below)

## URL

https://dsgoproxyapp.azurewebsites.net/reports/new

## Steps to reproduce

Fill in details on first page of Field Report form, including at least one District.

Try and press

[2021-04-26 11:36] frozenhelium commented on #1398
@tovari is this the required behaviour?
![2021-04-26-171648](https://user-images.githubusercontent.com/4931541/116076257-b91d6400-a6b3-11eb-8c11-646d090e09d8.png)

[2021-04-26 11:39] frozenhelium commented on #1891
@batpad I've figured out the issue and will very soon push the fix

[2021-04-26 12:10] thenav56 commented on #1181
@tovari This is now ready for testing at the staging server.

[2021-04-26 13:39] tovari commented on #1398
As agreed on the GO call on 26.04., months without any appeals, DREFs should be presented by 0 values on the graph. Thanks!

[2021-04-27 07:27] frozenhelium commented on #1398
Available for testing [here](https://ifrc-go-fix-timeline-charts.surge.sh/)
![2021-04-27-131157](https://user-images.githubusercontent.com/4931541/116202349-31d6fb80-a75a-11eb-94b2-675d926b7033.png)

[2021-04-27 07:35] frozenhelium commented on #1830
Available for testing [here](https://ifrc-go-feature-translation-dashboard-improvements.surge.sh/translation-dashboard/)

- [x] export only new strings to a file - this will help to prepare the translation requests
- [x] add permission handling - a user permission should be created that allows editing on the translation dashboard (import as well) - only superusers should have this permission by de

[2021-04-27 09:39] tovari commented on #1830
Thanks @frozenhelium, looks good with superuser account. Unfortunately, I wasn't able to test with other accounts as it seems, I wasn't able to log out. After logging out from the staging admin page and clearing cache, it didn't ask my credential anymore.

[2021-04-27 10:11] batpad commented on #1830
@tovari not sure if this is the issue, but logging out of the Admin backend does not log you out of the front-end. You would need to logout of the frontend separately.

[2021-04-27 10:26] tovari commented on #1830
:) ah, sorry. I had an impression that the translation dashboard is using the backend login.

[2021-04-27 13:45] karitotp commented on #1398
I am seeing that in the graphs one month is appearing twice and one is missing.

![Selection_006](https://user-images.githubusercontent.com/11504548/116249296-48695c80-a732-11eb-9aee-f5ed89b23d9b.png)

https://ifrc-go-fix-timeline-charts.surge.sh/regions/3
![Selection_008](https://user-images.githubusercontent.com/11504548/116250279-32a86700-a733-11eb-8b4e-35f5792b525d.png)

[2021-04-27 15:12] frozenhelium commented on #1398
@karitotp is there any special condition that leads to this behaviour? I'm currently unable to reproduce this
![2021-04-27-205554](https://user-images.githubusercontent.com/4931541/116265764-1c35f600-a79b-11eb-9eb4-f9b9e25ab4cf.png)

[2021-04-27 15:39] karitotp commented on #1398
:thinking: @frozenhelium I think there is not any special condition. I am only testing in Chrome.

I reduce the page size and now it is displaying as :point_down: but the problems with  months is still there.

![Screenshot from 2021-04-27 10-35-03](https://user-images.githubusercontent.com/11504548/116270073-6475f980-a744-11eb-9a99-00d4fa69af6a.png)

[2021-04-29 08:23] tovari opened #1895 "April scope - Dropdowns don't work"
## Issue
*Some of the drop-down selection don't work for some of the users.*

- In the FR creation in situation section, is not possible select the source.
![](https://paper-attachments.dropbox.com/s_C19F6355699F5F3FE3B655AA5749E90B4FE3D20D1A82F69A2520F182851F79D1_1619622482000_ifrcgo.gif)

- Some other options for selecting does not working in PER assessment creation
![](https://paper-attachments

[2021-04-29 08:25] tovari commented on #1895
Hi @karitotp, could you please share more details about the environment you used? I'm unable to reproduce either in Chrome or FF. Thanks!

[2021-04-29 10:20] szabozoltan69 commented on #1895
Recently there is a gap between the backend and frontend version. The develop frontend should be merged to frontend as soon as possible to avoid similar bugs. What do you think, @batpad ?

[2021-04-29 13:28] frozenhelium commented on #1895
@karitotp This should all be fixed in the [staging server](https://dsgoproxyapp.azurewebsites.net/)

[2021-04-29 13:28] frozenhelium commented on #1895
@szabozoltan69 yep we should once we verify that all these issue related to `react-select` are fixed :)

[2021-04-29 13:29] frozenhelium commented on #1895
For the reference:

[2021-04-29 13:42] karitotp commented on #1895
Hi @tovari, sorry for the late response.

My environment was:
- OS Ubuntu 20.04.2 LTS
- Browser: Google Chrome 90.0.4430.93
- Resolution: 1920x1080

@frozenhelium yes, all this is working well now :)

[2021-04-29 14:53] szabozoltan69 commented on #1799
Now we have a working version.
@thenav56 – please give me some hints or examples how to write some unit tests for https://github.com/IFRCGo/go-api/blob/develop/utils/erp.py

[2021-04-30 04:26] thenav56 commented on #1799
@szabozoltan69 For the unit test I would suggest using snapshot testing for the payload send to the ERP_ENDPOINT and mock the response from the ERP_ENDPOINT. So basically we want to make sure the payload structure is valid from our side and we correctly handle the response as well. cc: @batpad

- For the snapshot test example: https://github.com/IFRCGo/go-api/blob/develop/deployments/tests.py
- Fo

[2021-04-30 04:48] nanometrenat commented on #1857
Hi @tovari this is a problem across a number of tabs - not just the 'custom' tabs but also the 'standard' tabs.
E.g. today I was reading the Emergency Appeal doc that has just been issued for the new wave of COVID in India/South Asia, the document links to https://go.ifrc.org/emergencies/3972#surge which should go to the surge tab.  However it was sending me to the front page of the emergency inst

[2021-04-30 12:54] vdeak commented on #1782
The key for "All countries" was already exists: regionAllCountries
For "Nationel Societies" I created a new key: nationalSocieties

[2021-05-03 11:31] frozenhelium commented on #1399
@tovari @LukeCaley Would it be a separate page in the GO? or would it be a popup?

Steps required:
- Create a global route to create a new 3W entry. For this we can use following routes
  - `/three-w/new/` if we will have a global 3W page in the future which will have `/three-w/` as route
  - Else, `/new-three-w/` or `/create-three-w/`
- Use existing 3W form in the new page
- Redirect to the count

[2021-05-04 08:36] #1836 closed

[2021-05-04 08:37] #1412 closed

[2021-05-04 09:08] #1782 closed

[2021-05-04 09:09] #1349 closed

[2021-05-04 09:45] tovari commented on #1398
Time period is correctly displayed now. Thanks!
Interestingly, chart format is different at Asia Pacific region. I will create a new ticket to standardize the look of all of them.

[2021-05-04 09:45] #1398 closed

[2021-05-04 10:53] batpad commented on #1891
@tovari sorry I think I forgot to add this to the board. This is fixed on production, closing.

[2021-05-04 10:53] #1891 closed

[2021-05-04 11:09] szabozoltan69 commented on #1799
We would need to silently fail and make a log somewhere if the ERP request fails for any reason (if their system is down, for example). Certainly not to give an "Error: U"

[2021-05-05 04:13] #1895 closed

[2021-05-05 04:19] frozenhelium opened #1897 "Introduce better method for performing rest request"
**Is your feature request related to a problem? Please describe.**
The current request method we use for fetching data from API has following limitation,
- Highly coupled with redux
- Does not provide mechanism for error handling (In case of network failure)
- Is not compatible with current react trend

**Describe the solution you'd like**
Integrate a better implementation for rest request with su

[2021-05-05 04:35] frozenhelium opened #1898 "Refactor Field Report Form"
**Is your feature request related to a problem? Please describe.**
Most of the Field Report Form code is obsolete. It uses method of coding that was used few years ago. Since then, React itself has updated a lot and has introduced better and easier way, which allows better, cleaner and less error-prone coding. If the Field Report Form is left as-is, It would be a bit difficult and  time consuming

[2021-05-05 10:56] thenav56 commented on #1881
@batpad @szabozoltan69
Looking at the logic used for elasticsearch. We are not including `name` attribute where the text we want is stored.

indexing logic:  https://github.com/IFRCGo/go-api/blob/develop/api/models.py#L600
Search logic: https://github.com/IFRCGo/go-api/blob/develop/api/views.py#L110

If we include `name` there too, it should work right? Is there a way someone can check this? maybe

[2021-05-05 11:05] szabozoltan69 commented on #1881
@thenav56 I can check it on the local environment.
What should I change in the code?
Maybe this?
  'fields': ['keyword^3', 'body', 'name']

[2021-05-05 11:23] thenav56 commented on #1881
@szabozoltan69 Thanks.

Yes, make sure to use the production elasticsearch host. It has the required data. I would suggest to run this [code block](https://github.com/IFRCGo/go-api/blob/develop/api/views.py#L102-L140) in a python shell locally using prod E host and print the response here.

[2021-05-05 13:13] tovari opened #1899 "[PROD and SATGING] REgistration error - Country is missing"
## Issue
*New registration form cannot be submitted as it gives an error that the country field should be filled.
Both Staging and Production are affected.*

## Steps to reproduce
https://go.ifrc.org/register
https://dsgoproxyapp.azurewebsites.net/register

*If applicable, add screenshots to help explain your problem.*
![image](https://user-images.githubusercontent.com/68283148/117146082-2156fe80-

[2021-05-05 13:13] szabozoltan69 commented on #1881
Well, I could use only the local elasticsearch entity (due to the limitation of IP addresses that ES is listening to).
But I have results.
The main issue is: the ES engine searches with an "**OR**" applied to all the words written in.
So, if I write Hungary, it finds 82 entities,
but if I write "Hungary: covid-19" or "Hungary covid-19", it finds 191 entities. (If I use the above "name" extension,

[2021-05-05 13:46] szabozoltan69 commented on #1899
It's propably a frontend issue, because this
![kép](https://user-images.githubusercontent.com/6050643/117151033-fa4efb80-adb8-11eb-892d-0a4c5a693381.png)
validation error arrives without backend communication. The only backend request is teh list of "white domains", but is is before the error arrives.
![kép](https://user-images.githubusercontent.com/6050643/117151166-19e62400-adb9-11eb-9432-b8ee8a

[2021-05-05 13:48] batpad commented on #1899
@frozenhelium would you be able to look? It maaaaybe Select related?

[2021-05-05 14:15] szabozoltan69 commented on #1899
It seems to be that a "No login token found" feedback causes the error.
Do we await a registering user to be logged in? :-)
![kép](https://user-images.githubusercontent.com/6050643/117155537-23718b00-adbd-11eb-8eff-09adc5913768.png)

[2021-05-05 15:43] szabozoltan69 commented on #1881
'fields': ['keyword^3', 'body', 'name'] - this is deployed to staging now, can be tested.

[2021-05-05 16:59] tovari commented on #1881
It seems to me the improvement is that it finds now not only Countries or Reports, but also Events.
Otherwise it fails to find exact search terms.
Examples:
Event to find: "Created in Spanish UI", country: "Hungary"
![image](https://user-images.githubusercontent.com/68283148/117178634-8c173280-add2-11eb-90f7-0537274732c1.png)
rank: 9

![image](https://user-images.githubusercontent.com/68283148/117

[2021-05-05 17:06] tovari commented on #1881
I think, multi word search ranking needs to be improved somehow, maybe by combining the lists of results to rank up the results that available on each result lists.

[2021-05-06 02:23] thenav56 commented on #1881
@szabozoltan69 We can use the operator as `AND` https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-multi-match-query.html#operator-min.
Let's try with that too.

We should also probably define custom queries for each `type` as the logic can be different while searching.

[2021-05-06 06:47] vdeak commented on #1899
Did some investigation, the root cause is the following:

The register.js was changed

![image](https://user-images.githubusercontent.com/81553689/117253197-3c268300-ae47-11eb-8717-2d0f11682073.png)

Debugged the front-end code, found the following:

![image](https://user-images.githubusercontent.com/81553689/117253100-1f8a4b00-ae47-11eb-8ee5-9efe58a15779.png)

The payload.country set to undefined

[2021-05-06 07:17] szabozoltan69 commented on #1881
'operator': 'and' is added to the query. This version is deployed to staging and can be tested.

[2021-05-06 08:32] tovari commented on #1881
Wow, it is already very good!
Can we also order the results by the different types? Currently Reports are before Events:
![image](https://user-images.githubusercontent.com/68283148/117266746-de4d6780-ae55-11eb-90c9-96b25c220f13.png)

Would be great to have the following order:
1. country
2. event
3. report
4. appeal

[2021-05-06 08:47] szabozoltan69 commented on #1881
Recently this is the only sort algorythm:
https://github.com/IFRCGo/go-api/blob/develop/api/views.py#L115-L118
How could we change it to have the country-event-report-appeal order? @thenav56 @batpad ?

[2021-05-06 08:59] batpad commented on #1899
thanks @vdeak .

@frozenhelium - yea, this does seem related to the changes for the react-select upgrade? Would you be able to look at this? Is there anything I can do to help ?

[2021-05-06 09:20] #1830 closed

[2021-05-06 09:21] thenav56 commented on #1881
@szabozoltan69 We may be able to do a custom sort like [this](https://medium.com/tensult/elasticsearch-sort-by-manual-input-order-5f366b6ea31e).

But we should definitely use different search logic for each type and `all`. In `all`, custom type sorting can be used.

[2021-05-06 10:07] #1060 closed

[2021-05-06 10:36] frozenhelium commented on #1899
Should be fixed by https://github.com/IFRCGo/go-frontend/pull/1901

[2021-05-06 11:20] tovari commented on #1899
Thanks, it works fine!

[2021-05-06 11:20] #1899 closed

[2021-05-06 11:31] #1148 closed

[2021-05-06 12:02] tovari commented on #1881
As the fix has a high priority, we agreed with Zoltan to push to production the implemented improvements.
I will create a new ticket for ordering the results.
Thanks for your contributions!

[2021-05-06 13:19] szabozoltan69 commented on #1881
It went live.

[2021-05-06 14:27] tovari opened #1902 "Draft - Countries on Admin page - divide reference data and editable country data"
**Is your feature request related to a problem? Please describe.**
Currently Country pages contain lot of reference data like name of the country or bounding box coordinates that should not be editable for any users, except superusers. This proposal requests to separate country reference data or to make these fields non-editable to admin page users. The update of the reference data should be avail

[2021-05-06 16:04] frozenhelium commented on #1399
Now available for testing in the [staging server](https://dsgoproxyapp.azurewebsites.net/three-w/new)

[2021-05-07 08:37] tovari commented on #1881
Thnaks for the improvements!

[2021-05-07 08:37] #1881 closed

[2021-05-07 08:45] tovari opened #1905 "Search result list sorting"
**Is your feature request related to a problem? Please describe.**
The search field on the main page provides an unsorted list of country, appeal, event and report. It would be great to have the search results sorted in the following order:
1. country
2. event
3. report
4. appeal

**Additional context**
reference: https://github.com/IFRCGo/go-frontend/issues/1881#issuecomment-833340459

[2021-05-07 10:04] thenav56 commented on #1312
Updated visibility logic and nomenclature for projects according to the [comment](https://github.com/IFRCGo/go-frontend/issues/1312#issuecomment-672704352). The update is deployed to staging.

[2021-05-07 11:09] tovari commented on #1902
cc: @jhenshall

[2021-05-12 15:35] tovari commented on #1823
@mariam-yu, additional notes on the design:
- we would add a new date field (last update) that will show, when the project was last updated. Would be good to see this info on the UI as well.
- we offer a bulk upload functionality on the admin page. This is available for users with specific permissions, but would make sense to provide access to the relevant admin page from the frontend UI somehow.

[2021-05-13 08:18] tovari commented on #1399
Sorry @frozenhelium, the label should be rather "New 3W project". Thanks!

[2021-05-14 04:52] thenav56 commented on #1884
Hi @luisfanovich @tovari
The current date parser in the 3W bulk upload can handle multiple date formats. Currently, the parse handles the input as
- '11/04/20' -> Y: 2020, M: 11, D: :4
- '22/04/20' -> Y: 2020, M: 04, D: 22 (Here 22 is not valid for a month so it will now use 22 as a day instead of the month)

I can change it to **day first** `DD/MM/YY` by default, but this will still take `MM/DD/Y

[2021-05-14 07:11] tovari commented on #1884
Thanks for explaining @thenav56.
I prefer to move to a fixed format to avoid ambiguity. I also will implement data validation in the template. I suggest to use the
DD/MM/YYYY
format to have a easy understanding.

[2021-05-14 09:15] thenav56 commented on #1884
Thanks @tovari, I have created a PR with the fix.
https://github.com/IFRCGo/go-api/pull/1071

[2021-05-14 10:20] thenav56 commented on #1884
The changes are [deployed](https://github.com/IFRCGo/go-api/pull/1071#issuecomment-841153922) to staging.

[2021-05-20 03:51] frozenhelium commented on #1898
Available for testing on: https://ifrc-go-feature-new-field-report-form.surge.sh/reports/new

[2021-05-20 07:48] batpad commented on #1898
@frozenhelium this is some really amazing work here.

@karitotp - would you be able to spend some time testing https://ifrc-go-feature-new-field-report-form.surge.sh/reports/new to create field reports, and verify that all the information on the created field report is correct? Will be good to try a few combinations of things, there likely will be minor issues.

[2021-05-20 08:50] batpad commented on #1898
@karitotp to note: @frozenhelium is working on fixing the visual / CSS issues to make it look like the previous form, but it will be great if you can test the functionality, the validation, saving, etc. Thanks!

[2021-05-20 12:56] tovari opened #1909 "PROD MDRMM016 appeal filter removal"
MDRMM016 was a hidden appeal when it was launched. To block publishing it on GO, it is filtered at the moment in the ingest_appeals.py file.
Now, it is public, so we should also publish it on GO. Please remove this appeal from the filtered ones.

[2021-05-20 13:09] vdeak commented on #1909
Sure, removing MDRMM016

[2021-05-20 13:24] mariam-yu commented on #1823
@luisfanovich @tovari Sending the link to the prototype here for documentation: https://www.figma.com/proto/RZTZdDWf6Xjweh9GA8rMGW/IFRC_GO_Wires_20210502?page-id=0%3A72&node-id=111%3A0&viewport=1350%2C3308%2C0.12138918787240982&scaling=scale-down-width&hide-ui=1

[2021-05-20 13:42] vdeak commented on #1909
Deployed to Staging

[2021-05-20 15:19] vdeak commented on #1909
Deployed to PROD. also ran the Cronjob, the new appeal (MDRMM016) was created.

[2021-05-20 15:44] karitotp commented on #1898
@frozenhelium @batpad, here my findings testing the creation of different Field Reports

- The required title field validation is giving a error even when the title field is filled.

![Screenshot from 2021-05-20 09-40-13](https://user-images.githubusercontent.com/11504548/118999038-8c293d80-b94f-11eb-9646-199a714c4b9c.png)

- In a event related to Covid, in the Situation tab, when the "Number of n

[2021-05-20 16:30] frozenhelium commented on #1898
@karitotp Thank you a top for testing these out. I've just pushed fixes for all of the issues mentioned above except the following one:

Could you please take a look at it again? Thanks again!

[2021-05-20 17:06] karitotp commented on #1898
@frozenhelium, all the above things is working good now :+1:

[2021-05-21 09:51] frozenhelium commented on #1556
Initial implementation is available on [testing server](https://ifrc-go-feature-improve-error-and-alerts.surge.sh/)

Available features:
- Improved display of alerts
- Improved display of form field errors (limited to Field Report Form and Global New 3W page for now)
- 404 page

[2021-05-21 11:01] frozenhelium commented on #1634
![2021-05-21-164549](https://user-images.githubusercontent.com/4931541/119127438-0cd16200-ba54-11eb-9897-dd7e7c00dc66.png)

[2021-05-21 11:40] LukeCaley commented on #1634
Looks great.  Thanks!

[2021-05-21 12:00] LukeCaley opened #1913 "Replace square GO favicon with circular icon"
**Minor issue** - Replace current _square_ GO browser icon

**Describe the solution you'd like**
Replace with filled _circular_ GO logo negative icon

**Links to documentation**
GO design documentation currently lives here: https://go.ifrc.org/about

cc @mariam-yu to confirm any additional specs

[2021-05-24 12:13] frozenhelium commented on #1898
# Summary of the refactor

### Identified Report types (EW, EVT, EPI, COV)
- Early Warning / Early Action
- Event
    - Epidemic
        - Covid
        - Other epidemic
    - Other event

### Form Steps
#### Step1: Context
- The type of report will be determined from this step with combination of various fields
- Conditions for different report types
    - EW: `Status` is `Early Warning / Early A

[2021-05-24 15:49] tovari commented on #1898
When changing from Epidemic type of Event to EW/EA and back to Event, then a error message indicates the missing Disaster type. Disaster type should be cleared, but without error message. Error message should only appear when user tries to step to the next page.
![image](https://user-images.githubusercontent.com/68283148/119373046-499d9300-bcb8-11eb-8289-15b331a81cbf.png)

![image](https://user-im

[2021-05-24 16:10] tovari commented on #1913
@LukeCaley, would you mind to add a screenshot about the square GO browser icon? Thanks!

[2021-05-25 08:27] tovari commented on #1173
Closing as almost all items are resolved. The remaining will be appended to another ticket.

[2021-05-25 08:27] #1173 closed

[2021-05-25 11:52] LukeCaley commented on #1913
![GO-square-icon](https://user-images.githubusercontent.com/7791954/119493390-6e4d4580-bd60-11eb-8c51-bbc719987e0d.JPG)

[2021-05-25 17:08] batpad commented on #1898
@karitotp could you give this another test, based on @frozenhelium's comment above?

[2021-05-25 17:09] batpad commented on #1556
@karitotp - would you be able to check the behaviour and display of error messages as part of the field report form testing?

As well as checking field errors on the global new 3w page: https://ifrc-go-feature-improve-error-and-alerts.surge.sh/three-w/new

[2021-05-25 19:19] karitotp commented on #1898
@batpad , all is working as @frozenhelium's comments and the field required message when a epidemic report is changed to Early warning reported by @tovari is still there.

[2021-05-25 20:05] karitotp commented on #1556
@batpad @frozenhelium, I tested the field errors and 404 page, and all is working good. But when I try to edit a 3w activity and submit it, I am getting this type of alert even when there are not any required field to fill.

![Screenshot from 2021-05-25 14-57-23](https://user-images.githubusercontent.com/11504548/119561107-65617180-bd6a-11eb-86dd-acc8a8b38977.png)

[2021-05-26 12:31] mariam-yu commented on #1913
@LukeCaley @tovari H
Here are the round favicons without the background: https://drive.google.com/drive/folders/1ehSy1mlrKAn-WoJSFljEUz9kwtt-fela?usp=sharing

[2021-05-27 07:17] tovari commented on #1898
@frozenhelium, here is a text duplication on Action tab, only 'Information Bulletin' should appear in bold text in the first line:
![image](https://user-images.githubusercontent.com/68283148/119782240-36fba780-becc-11eb-87da-1f89c188777b.png)

[2021-05-27 07:35] tovari commented on #1898
@frozenhelium, noticed that some of the field values are not saved:
Situation tab:
- Source details
- Situation overview
Actions tab:
- Actions Taken by Others (Governments, UN)

[2021-05-28 11:56] frozenhelium commented on #1898
@tovari This is expected behaviour (i.e. we set the validation to immediately trigger). This behaviour is consistent with other places as well, where the validation is immediately triggered when related fields are changed. Let me know if we should change this behaviour.

[2021-05-28 11:59] frozenhelium commented on #1556
@karitotp Thanks for this.
This one is in the country 3w form right?

I'll check it out!

[2021-05-31 07:53] batpad commented on #1868
Speaking to @anamariaescobar this seems to have fixed itself for her - the most likely explanation for this bug was a particular release of Chrome that had a bug, and that seems resolved with a browser update.

Will be great to confirm that this seems fixed for all those that were facing the issue. If you are still facing the issue, please leave a comment with the exact browser version (and if you

[2021-05-31 08:18] anamariaescobar commented on #1868
Hi @batpad, I confirm that from my side everything is working as expected, I am using Google Chrome Version 90.0.4430.93

[2021-06-01 07:14] szabozoltan69 opened #1914 "Maintain ERU types (and other such lists) one place"
Recently ERU types are listed on backend: https://github.com/IFRCGo/go-api/blob/develop/deployments/models.py#L18-L53
And also on frontend: https://github.com/IFRCGo/go-frontend/blob/develop/src/root/utils/eru-types.js
It would be good to read data from backend and not keeping hard-coded values on frontend. (In case of change it is double work and can be forgotten, as it happened in https://github

[2021-06-01 07:39] batpad commented on #1914
Thanks @szabozoltan69, it would definitely be good to get these as part of an API call, perhaps added to the initial data call from the frontend and cached on the frontend.

cc @frozenhelium

[2021-06-01 08:59] jhenshall commented on #1868
Thanks for update @batpad! I know this also affected @LukeCaley - can you confirm it's fixed for you as well?

[2021-06-01 09:39] batpad commented on #1898
@karitotp could you do one final test of the Field Report form functionality that everything looks good after all the latest changes?

[2021-06-01 15:19] anamariaescobar commented on #1898
Some feedback from the UAT regarding Field Reports:

- [ ] In the Epidemic FR the actions taken by the IFRC is showing only 3 actions, this list should match the list used for Actions taken by National Society and for any other RCRC actor
- [ ] When No on international assistance requested is checked, it doesn't shows up on the review page, the Yes is working correctly
- [ ]
@batpad

[2021-06-01 15:26] karitotp commented on #1898
@batpad this is what I found

- In EW field report, the title Affected Pop Centres that have as source "Government" appears only as "Affected".

![Selection_001](https://user-images.githubusercontent.com/11504548/120338703-1a8bb080-c2ba-11eb-8a3b-bc1f47d422a7.png)

- In the edition mode of a FR, the data of "Region / Province" and "Date of Data" does not load.

[2021-06-02 07:16] frozenhelium commented on #1898
@anamariaescobar Thanks for the catch. I've fixed the "No" not being showed for the "International assistance requested". For the Epidemic FR actions taken by the IFRC, it appears different in the staging because it's loaded from the API. It'll be same as other 2 when it goes to production. I verified this in my local setup using the prod API.

[2021-06-02 12:56] batpad opened #1919 "Support case insensitive file-systems for development"
@vdeak ran into this on Windows - where we have the List, Alert and Header components that are currently differently cased in the code-base, and this works fine on Linux, but fails on Windows where the file system is not case sensitive.

We need to figure out an elegant way to distinguish between `alert` and `Alert` for example, without using only case as the differentiating factor.

@frozenhelium

[2021-06-04 08:27] szabozoltan69 commented on #1914
A possible solution is to generate frontend file based on backend. In case of backend change the developer should run this in a directory which is just above the go-api root directory:
https://github.com/IFRCGo/go-infrastructure/blob/develop/bin/create_frontend_ERU_types.py
The (renamed) result should be put into the appropriate frontend directory.

(We can make similar converters for other files

[2021-06-04 10:02] batpad commented on #1914
@szabozoltan69 no, we will just have the ERU types available on the API, and then the frontend can fetch it from the API rather than from values from a file, so changes are immediately reflected, etc. I can take a look a bit more in detail, but we should definitely not generate files here, but rather just fetch this data from the API and change the frontend code accordingly.

[2021-06-04 10:06] szabozoltan69 commented on #1914
@batpad Ok, no problem, if we do not use this.
(My motivation was: to avoid a lots of unnecessary API calls. And to write a fine python script. :-)  )
But it would be cleaner via API calls, it's sure.

[2021-06-04 10:13] #1909 closed

[2021-06-04 10:14] #1634 closed

[2021-06-04 10:15] #1399 closed

[2021-06-04 10:17] #1312 closed

[2021-06-04 11:35] frozenhelium commented on #1914
@batpad If we're using it on only one page / view, lets limit it there. Otherwise we should include this in the initial data

[2021-06-07 08:40] tovari opened #1921 "Key figures sequence on the UI should be determined by the sequence on the admin page"
When adding key figures to an emergency and editing these later on the admin page, the order on the frontend is not maintained anymore. The sequence of key figures (left to right) on the frontend should be the same as the sequence on the admin page (top to down).

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/68283148/120985301-c8480500-c77b-11eb-8729-3c0e378223b2.png)
![Mi

[2021-06-07 11:50] frozenhelium opened #1922 "Improve visual aspects of Alerts"
Improve the Alerts shown in the platform as mentioned in the https://docs.google.com/document/d/1WYjUFqExYOjsNTVT5oEGiuaxYFuehZCG7FgJWfYm7wU/edit

Xref: https://github.com/IFRCGo/go-frontend/issues/1556

![2021-06-07-173441](https://user-images.githubusercontent.com/4931541/121011756-b33c9780-c7b6-11eb-9e91-5404c9fc4474.png)

[2021-06-07 12:16] frozenhelium opened #1923 "Improve 404 page"
Improve the 404 page as mentioned in the https://docs.google.com/document/d/1WYjUFqExYOjsNTVT5oEGiuaxYFuehZCG7FgJWfYm7wU/edit

Xref: #1556
![2021-06-07-180100](https://user-images.githubusercontent.com/4931541/121015118-59d66780-c7ba-11eb-9145-9e3d2d2eadb8.png)

[2021-06-07 12:23] frozenhelium opened #1924 "Improve display of empty data messages"
Improve display of empty data messages as mentioned in the https://docs.google.com/document/d/1WYjUFqExYOjsNTVT5oEGiuaxYFuehZCG7FgJWfYm7wU/edit

####
![2021-06-07-180801](https://user-images.githubusercontent.com/4931541/121015983-568fab80-c7bb-11eb-8da3-255a4318dff0.png)
 Page alerts > No data available
If the data is not available for the entire page, show only one alert (failure kind). Make sur

[2021-06-07 12:27] frozenhelium opened #1925 "Add error message for non-supported browsers"
Add error message for non-supported browsers as mentioned in the https://docs.google.com/document/d/1WYjUFqExYOjsNTVT5oEGiuaxYFuehZCG7FgJWfYm7wU/edit

Xref: #1556

#### Page alerts > Browser not supported
This will be a style for all the on page alerts where the top navigation cannot be loaded. So, the message shows directly. The alerts should match in style, and it’s important to guide to the use

[2021-06-07 12:32] frozenhelium opened #1926 "Improve error display of form fields"
Improve the error message display mechanism as mentioned in the https://docs.google.com/document/d/1WYjUFqExYOjsNTVT5oEGiuaxYFuehZCG7FgJWfYm7wU/edit

Xref: #1556

![2021-06-07-181655](https://user-images.githubusercontent.com/4931541/121017054-91461380-c7bc-11eb-9877-03778152a96f.png)

[2021-06-07 16:37] jhenshall commented on #1474
Started building the styles in Mapbox with the new tilesets. A few issues to note as discussed @batpad @geohacker:

- Nepal districts missing
- Morocco and Serbia missing (we updated the geometries)
- Add country ISO (and maybe name) to district attributes - currently used to focus on countries of interest on emergency page
- Add disputed attribute to countries (we need it to style them)

[2021-06-08 08:04] geohacker commented on #1474
@jhenshall I can do 3, 4, 5 tomorrow. @batpad let me know if we can coordinate with Zoltan on checking the nepal and other geometries are actually missing the database.

[2021-06-08 09:06] szabozoltan69 commented on #1474
Nepal is in the country table:
[code]

[2021-06-08 11:27] batpad opened #1927 "Upgrade Mapbox GL"
We should upgrade Mapbox GL to the latest version.

cc @frozenhelium @geohacker

[2021-06-09 12:04] tovari opened #1929 "Field report can be submitted without a Title"
## Issue
A new FR can be submitted without title, when it is linked to an existing emergency.
Validation works properly when the new FR is not linked to an existing emergency.

See example: https://dsgoproxyapp.azurewebsites.net/reports/9774

[2021-06-09 12:07] batpad commented on #1929
@tovari hmmm just the Title I thought we allowed users to either link to an existing Emergency or Add a Title, and if Linked to an Existing Emergency, it should just take the title from the Emergency? Am pretty sure that's how it always worked from the frontend? I don't think this behaviour is changed - we always required EITHER the association with Emergency or a title, so its a bit unclear whats

[2021-06-09 12:23] tovari commented on #1929
@batpad, okay, edited the comment. Lets apply the original logic then.

[2021-06-09 12:27] batpad commented on #1929
@frozenhelium do you know if there might be any change in how we send the title to the backend when not filled in? i.e. sending as empty string instead of `null` or so? Not fully sure how we best track this down.

[2021-06-09 14:12] tovari commented on #1929
Hey, the problem is more complex and not sure, if this is one issue or more.
I inserted the same data myself on staging and prod with different results. On staging all was okay. On prod, I got an error message about unknown error. This was reported by another user as well (and I posted the screenshot on the dev channel). Despite of the error message, the FR has been created  on prod as well. So I

[2021-06-09 14:37] frozenhelium commented on #1929
@batpad We don't send anything at all if the title is not defined

[2021-06-10 07:09] tovari opened #1932 "[PROD] Field Report view - not all fields are displayed"
## Issue
*Description (Health) field is not displayed on the field report view, however the data is available in the database. Not sure, if this is the case at other fileds as well. This occurs only on PROD, STAG works fine.*

PROD:

FIeld report view:
https://go.ifrc.org/reports/14370
![image](https://user-images.githubusercontent.com/68283148/121480362-477f4800-c9cb-11eb-97cb-05181d098a73.png)

[2021-06-10 09:04] geohacker commented on #1474
Here are things to do to wrap this up:
1. Merge https://github.com/IFRCGo/go-api/pull/1103 and deploy
2. Update serbia and morocco geometry projection *SHOULD BE TESTED ON STAGING FIRST*:
[code]
3. Update nepal geometries with the [new shapefile] (https://drive.google.com/file/d/1LjNDbBuAJ3kDldwgbIb6CV0x5aEo1QE9/view?usp=sharing). By running `python manage.py import-admin1-data 20210610_NepalRC_Ne

[2021-06-10 09:06] szabozoltan69 commented on #1474
Did you mean "UPDATE api_countrygeoms..." in the 2nd point?

[2021-06-10 09:29] geohacker commented on #1474
@szabozoltan69 indeed! I meant `UPDATE` I just fixed the query above

[2021-06-10 09:31] szabozoltan69 commented on #1474
The two updates are run successfully on staging:
[code]

[2021-06-10 09:33] geohacker commented on #1474
@szabozoltan69 excellent! can you paste the output of the following query in a txt file and share?

`SELECT ST_AsGeoJSON(geom) as geom FROM api_countrygeoms WHERE country_id=271`

[2021-06-10 09:36] szabozoltan69 commented on #1474
I've run it, but to get the file from the remote environment needs some effort...

[2021-06-10 09:46] szabozoltan69 commented on #1474
Shall I run this?
[code]

[2021-06-10 10:28] szabozoltan69 commented on #1474
@geohacker – So 1, 2, 3 steps are ready on staging.

[2021-06-10 10:45] geohacker commented on #1474
@szabozoltan69 ⚡  fast! could you run a query fetch all the nepal districts from `api_districtgeoms` on staging and share here so @jhenshall can confirm it looks good.

[2021-06-10 11:13] szabozoltan69 commented on #1474
[NepalDistricts.zip](https://github.com/IFRCGo/go-frontend/files/6630825/NepalDistricts.zip)
This is the result of the below query:
[code]

[2021-06-10 11:15] geohacker commented on #1474
Looks like the `UPDATE` to fix projection didn't work as expected. I will do some more experiments and confirm when this is ready for production

[2021-06-10 16:15] jhenshall opened #1934 "[PROD] 3W reporting National Society drop down - ICRC & IFRC"
## Issue
The reporting National Society drop down on the 3W form needs to contain IFRC, ICRC and Benelux. This bug will be as a result from the recent consolidation of country drop downs: #1845

[This comment](https://github.com/IFRCGo/go-frontend/issues/1845#issuecomment-792742873) does outline the desired behaviour but I must've missed this in testing:

## Steps to reproduce

- [Go to page to ad

[2021-06-10 17:28] batpad commented on #1934
cc @geohacker @frozenhelium @jhenshall - can we get on a quick call and just clarify the logic to use for various cases, and hopefully turn that into a document of some sort?

@frozenhelium - sorry, this is a bit confusing and its really easy to get the country filters wrong between the various lists. This should ideally be a quick fix.

[2021-06-11 07:57] jhenshall commented on #1934
I would love that @batpad - definitely need to get it documented! Like you say, it's so easy for this to happen when so many are just slightly different.

[2021-06-11 08:01] anamariaescobar commented on #1638
List of matching NS from Molnix:

- [ ] Red Cross Society Of China-HongKong Branch --> Red Cross Society of China
- [ ] Macau Red Cross --> Red Cross Society of China
- [ ] IfrcHeadquarters --> IFRC
- [ ] IfrcMena --> IFRC
- [ ] IfrcAsiaPacific --> IFRC
- [ ] IfrcAfrica --> IFRC
- [ ] IfrcAmericas --> IFRC
- [ ] IfrcEurope --> IFRC
- [ ] IcrcStaff --> ICRC
- [ ] NotAffiliatedToMovementOrganization

[2021-06-14 10:37] frozenhelium commented on #1932
@tovari
@batpad and I figured out that, at least one of the action fields need to be checked for the notes to be displayed. In the screenshots above, for staging server, under the *Actions taken by National Society*, `Risk communication, community engagement, and health and hygiene promotion` and `Ambulance services for COVID-19 cases` are checked as actions, so the note appear there. But in the p

[2021-06-14 14:32] esario opened #1936 "[PROD] Repetitive entries in NS dropdown on signup page"
## Issue
Multiple NS appear multiple times on the NS dropdown list when creating a new user account.

## Steps to reproduce

- Go to https://go.ifrc.org/register
- Select "National Society" from the "Organization Type" dropdown
- Open the "Organization Name" dropdown
- Following orgs appear multiple times on the dropdown:
    - American Red Cross
    - Australian Red Cross
    - British Red Cross

[2021-06-15 06:50] batpad commented on #1929
@tovari the specific issue of the frontend skipping validation for the Title field if an Emergency was selected has been fixed and deployed as a hotfix to production. So a user will no longer be allowed to submit field reports with empty title / summary fields from the frontend.

[2021-06-15 06:58] batpad commented on #1932
@frozenhelium - I spoke to @mmusori and confirmed the desired behaviour here:

Users should only be able to fill in the `notes` text field if they have selected AT LEAST ONE action from the checkboxes. So, on the view field report page, what we are doing currently is correct: we do not want to show the notes if there is not at least one action selected. The logic here being is that the notes are s

[2021-06-15 07:03] batpad commented on #1936
cc @jhenshall @geohacker @frozenhelium

Country filters strike again! I **think** this is because there are a bunch of non-independent countries that have the same National Society name and we are not filtering out non-independent countries here? @jhenshall so now we have at least these two lists where we need to (re)define exactly what logic to use to display in the dropdown:

 - 3w form (to make

[2021-06-15 07:04] batpad commented on #1927
@geohacker whenever able, would you be able to add some colour to this issue? Any outline of what we'd need to do / any known gotchas, etc?

[2021-06-15 07:04] frozenhelium commented on #1932
@batpad yep, we'll be able to complete this one in this sprint

[2021-06-17 11:22] frozenhelium commented on #1927
@batpad We are currently on the way to update the Mapbox version, since we need it to implement new 3W map features. We should list the pages where maps are displayed to verify that all the maps are being displayed properly after the update.

[2021-06-17 12:25] nanometrenat commented on #889
Noting that the username is shown on the front end in places - and I can see that several of the recent Field Reports were created by people who have their email address as their username... which means that their email addresses are visible to everyone who looks at the FR.  Of course sometimes their email would be in the FR anyway (input into the 'contacts' section) but in other cases the user wh

[2021-06-18 00:03] nanometrenat opened #1943 "[PROD] Grey screen when accessing go.ifrc.org via mobile browser and trying to search"
## Issue
This morning I was trying to look up a specific GO link to send to @JonathanGarro and used my (android) phone.  Got a grey screen when searching - however I don't get a grey screen when doing the same thing via a laptop/desktop browser *
I browsed to go.ifrc.org, waited for it to load,

## Steps to reproduce
* go to go.ifrc.org on a mobile device
* type something in the search bar e.g. "s

[2021-06-18 08:22] batpad commented on #1927
cc @geohacker @jhenshall

List I can think of:

 - Home-page map (similar on Region pages)
 - Surge deployments page
 - Map on Emergencies page
 - Map on page for Single Emergency (for emergencies that have country / district attached)
 - 3w maps

@jhenshall have I missed anything above? @frozenhelium feel free to reach out for any clarifications on any of these pages.

[2021-06-18 08:25] batpad commented on #1927
@frozenhelium a thing to note: the Export Map functionality on most of these (most important on the Emergency Detail page map) - we'd need to test that the image download of the map still works - that code is a bit brittle in general, so we'd need to test that well. Another note to test multilingual labels across maps, as well as the Full Screen view on the home and region pages to make sure maps

[2021-06-22 08:26] tovari opened #1948 "DREF request"
The DREF request tool is a new form on GO to submit DREF appeal requests.
The form consists of many drop-down lists, free text or decimal value fields, date fields, radio buttons, upload  function for external maps and photos. It can be linked to an existing Field Report (through a FR selection box) that will prepopulate many fields already available in the Field Report.
After the form submission,

[2021-06-23 05:13] batpad commented on #1638
@anamariaescobar Can you tell me exactly how this is called on the Molnix side (with correct capitalization and spacing?)

[2021-06-23 05:14] batpad commented on #1638
For these as well, could you tell me exactly how they come through from Molnix?

[2021-06-23 07:22] anamariaescobar commented on #1638
Hi @batpad:
 Red Cross Society Of China-Hong Kong Branch
 Ifrc Headquarters
 Ifrc Mena
 Ifrc Asia Pacific
 Ifrc Africa
 Ifrc Americas
 Ifrc Europe

I have pasted exactly how they come from Molnix, it seems they all have a space at the beginning and enough spaces at the end that when you add up the characters and spaces adds up to 64.

[2021-06-23 10:12] tovari commented on #1823
The QC comments will be collected on the 'Issue details' worksheet of this shared spreadsheet:
https://ifrcorg.sharepoint.com/:x:/s/GOIVfordeveloperteam/EVCmzXtZUr1OnesoW8JL1vABRuedOxmo62Q8Q4amhkbUcg?e=27Hyte

[2021-06-23 12:38] tovari opened #1950 "Covid page related updates"
The new Covid page designs are available here: https://www.sketch.com/s/2abec007-a7c8-4ec6-b679-0757fc0716c3/a/g0Zgzdd/play

The proposed new type of items:
1.	Overview tab – Links section: I think this would require a new section in the admin/emergency site as well, where the Url, the link text and the description could be added. Workaround would be to add it as a snippet, but then we should have

[2021-06-25 10:35] anamariaescobar commented on #1837
Update:

The today line is still behaving crazy:

![image](https://user-images.githubusercontent.com/69478743/123412112-84456480-d5b1-11eb-838d-8014cb54e2ec.png)

The today line should be aligned to the dates in the bottom, this makes it look like the deployments were completed when actually they are on going, it would be great to have the today line more to the left (still matching the dates in t

[2021-06-25 10:50] batpad commented on #1837
@anamariaescobar is it by any chance possible to get a link on staging where this can be observed?

Thanks much.

[2021-06-25 10:52] batpad commented on #1837
My hunch is this might be a bug when the results are paginated / some improper handling of the "today" placement calculation when all the results are not on a single page / we might not have tested this case properly. If there is an example I can reproduce on staging, I'll prioritize looking into this.

[2021-06-25 10:55] anamariaescobar commented on #1837
I found one @batpad ! https://dsgoproxyapp.azurewebsites.net/emergencies/202#surge and it doesn't seem to have any pagination.....

[2021-06-25 13:18] tovari commented on #1823
Please add the following description on the Global view page:

The 'Who does What, Where' or 3w aims to map the global footprint of the Red Cross Red Crescent Movement. It is a global database of projects conducted by National Societies, IFRC and the ICRC, broken down by sector, location, budget and people targeted and reached.

_Find explanatory videos and guidance on the Resources page.  Please

[2021-06-28 15:31] tovari commented on #1823
Feedback listed in the UAT file:

- [ ] Country 3W, all projects view: https://dsgoproxyapp.azurewebsites.net/countries/82#3w - The size of the symbols on the map does not represent the number of projects
- [ ] Dates: start and end date format. - Start date and end dates of projects already in the database might be incorrectly handled. Previously MM/DD/YY was used, now we use DD/MM/YYYY, however t

[2021-06-29 11:16] tovari commented on #1823
Test results thanks to @karitotp:
https://paper.dropbox.com/doc/My-Paper-doc-Psg8Cz9yBs0Gxbk1HT2Ps

[2021-06-29 11:29] tovari commented on #1823
Thanks to @ryales :
- [ ] Regional and Country 3W Maps - Filters should work just as on the 3W Global map. At the moment: Cannot unselect a filter choice; no reset or select none. I don't know what to do other than refresh the page when I want to start over. No ability to select multiple tags, thisis fine for most of the other fields, but it would be nice if the tag field allowed multiple select.

[2021-07-02 06:54] batpad commented on #1943
I can reproduce this. @tovari @frozenhelium - could we add this to the next sprint? This is likely something quite silly and is a pretty terrible bug for anyone who navigates from mobile.

[2021-07-02 08:07] anamariaescobar commented on #1837
hey @batpad just found another issue, not sure if it is related, there is no way to click on the pagination for deployments, for example in this page:
https://go.ifrc.org/emergencies/5308#surge

[2021-07-02 14:55] tovari commented on #1823
Thanks @frozenhelium for the latest updates. We did some testing with the IM team and identified the following things that should be fixed before we can release them:

- [ ] 3W form - Disaster type should not be mandatory in case of "Programme" activities
- [ ] 3W form - Links to create new 3w project end in error from Global, "add 3w project" and "Create a report" dropdown in top right of page. S

[2021-07-02 21:16] karitotp commented on #1823
@batpad @frozenhelium, I found also these things to improve:

- On regional 3w maps, when you click on a marker on the map, the country names disappear from the map per seconds.

![3w](https://user-images.githubusercontent.com/11504548/124324135-17e5da80-db48-11eb-88c5-68370bb49dae.gif)

- In country 3w; the "National Societies" filtering is displaying many same values.

![Screenshot from 2021-07-

[2021-07-05 08:54] LukeCaley opened #1960 "Update links on GO Resources page"
**Several hyperlinks on the GO Resources page should be updated with the Release 5.2**

- Replace `Visual Guidelines` with link to `GO User Library` [URL](https://go-user-library.ifrc.org)
- Replace `Visual Identity` with link to `GO Blog` [URL](https://ifrcgoproject.medium.com/)
- Replace `IFRC IM Strategy` with link to `IFRC IM Strategic Direction` [URL](https://ifrcgoproject.medium.com/informat

[2021-07-05 10:59] batpad commented on #1960
@LukeCaley pushed these changes to staging - if you could check that it looks fine, we can include them in this release.

I imagine translations should be fine - new strings would show up on the Translation Dashboard that would need translating and then it should all work.

cc @frozenhelium

[2021-07-06 06:05] nanometrenat commented on #1960
Hi @LukeCaley and team, most fabulous to see the GO presentation just now!  However I just clicked on the GO User Library link from https://go.ifrc.org/about and sadly it is broken (cannot be reached / DNS_PROBE_FINISHED_NXDOMAIN)
Not sure if the link (https://go-user-library.ifrc.org/) is wrong or if I'm just being impatient and there is still another step to get it released?  Thaaaaaaanks!

[2021-07-06 06:22] tovari commented on #1960
Hi @nanometrenat, indeed, the User Library is not live yet there. We still need a couple of updates done by BRC. I will notify you as soon as it goes live.

[2021-07-07 14:08] #1929 closed

[2021-07-07 14:09] #1922 closed

[2021-07-07 14:10] #1923 closed

[2021-07-07 14:10] #1884 closed

[2021-07-07 14:14] #1181 closed

[2021-07-07 14:15] tovari commented on #1868
No recent reports about this problem.

[2021-07-07 14:15] #1868 closed

[2021-07-07 14:46] anamariaescobar opened #1965 "Frontend Changes to Surge pages for Molnix Integration"
Changes in the frontend, specifically Global surge page: [https://go.ifrc.org/deployments](url) and the Emergency surge page (example): [https://go.ifrc.org/emergencies/5308#surge](url) needed for the soon deployment of the Molnix system (Deployment date 1 of August 2021).

Wireframes prepared by Mariam here: [https://projects.invisionapp.com/share/B3XKVKZJWY9#/screens/361601984_5-1_GO_Deployment]

[2021-07-08 05:54] batpad commented on #1927
@frozenhelium this is all done?

@tovari sorry we missed having this on the project board as it became a dependency for some of the 3w maps. I've moved it to `Done` on the project board. If @frozenhelium doesn't flag any work remaining to be done here, I think this can be closed.

[2021-07-08 05:55] batpad commented on #1932
@frozenhelium sorry, did we ever add the validation fixes here?

[2021-07-08 09:49] anamariaescobar commented on #1965
One more thing I forgot to add:

- [ ]  Emergency surge page: Rapid Response Personnel section: Position, from Molnix it will be coming as: Position, Emergency, Country, so if we could separate them with the , and only take the first half that would be great!.

This ticket supersede the following tickets: #1638 #1659 #1666

[2021-07-08 12:40] tovari commented on #1913
Hey @frozenhelium, @vdeak, I'm not sure, who could do this update? Thanks!

[2021-07-09 13:19] frozenhelium commented on #1932
@batpad we haven't add the validations yet

[2021-07-09 13:22] frozenhelium commented on #1927
@batpad @tovari this is all done

[2021-07-10 12:28] ryales opened #1967 "Incorrect geospatial data"
Fiji has the incorrect centroid points for its Eastern province and Northern Province. They appear thousands of miles away from where they should. See https://go.ifrc.org/countries/66/#3w

Tanzania has outdated shapefiles for its regions in the 3w. They are unable to be matched to the latest operation document. See the list in the docs here: https://go.ifrc.org/emergencies/5256#reports. Only 6 of

[2021-07-12 03:31] frozenhelium commented on #1913
It's now available on staging
![2021-07-12-091516](https://user-images.githubusercontent.com/4931541/125226998-c7ae0b80-e2f1-11eb-9e7c-81010cda53d2.png)
Note: Might need to hard refresh the page (since favicon are cached by browser)

CC: @tovari

[2021-07-12 11:24] tovari opened #1968 "Hide partially email addresses of users on the UI"
**Is your feature request related to a problem? Please describe.**
*Since we allow registering with emails as user names, and the site displays user names, the user emails might be visible. *

**Describe the solution you'd like**
*I suggest to partially hide the email address that makes scraping and user identification harder. Email strings as of @ could be replaced by 3 dots. E.g.:
firstname.last

[2021-07-12 11:26] tovari commented on #1968
@LukeCaley, maybe we should also consider to hide all email addresses on the UI. E.g. contact emails would be displayed only when hovering over the contact.

[2021-07-13 09:08] jhenshall commented on #1967
Thank you for ticketing @ryales - really helpful! The Fiji ones are weird and will hopefully fixed with upcoming Mapbox changes. If not, we can manually change in admin. The others will need to get update from ICRC and then update.

[2021-07-14 11:01] tovari commented on #1823
Closing this ticket and opening another one for further improvements.