[2019-12-05 13:05] mmusori commented on #880
The requested fields are there.
1. Is it possible to have the requests for international assistance in one box. the Request by Gvt and the request by NS. this is not a deal break if not possible.
2. The Source box. In its current state is not likely to be used. Is it entirely not possible to have it by each condition (Injured, dead,...). But again not a deal breaker.
3. When I submit the field rep

[2019-12-05 13:33] batpad commented on #880
@mmusori that link works for me -- i.e. http://dsgoproxyapp.azurewebsites.net/reports/9397
 - I see the Field Report and the information.

If there is a particular combination of steps that caused you to get the grey page, please let me know if you are able to reproduce it and let me know.

Does that link work for you if you click on it directly? If it is giving you a grey page, will be great if y

[2019-12-05 13:46] batpad commented on #880
Will give this a shot, but it maybe a bit more complex and I'd rather then keep this for later than implementing some sort of "ugly hack" solution. Will let you know by tomorrow.

As discussed, this is unfortunately really not possible in this phase of work. I do feel like we need to ticket out changing how this data is stored on the backend before implementing this, and that's a bit of a larger l

[2019-12-05 13:53] #846 closed

[2019-12-05 13:53] #847 closed

[2019-12-05 14:15] mmusori commented on #833
Changes requested by the FBA team for the EA/EA Field Report.
Title: Early Warning/ Early Action instead of just Early Action
change description of the title to  to: First report for this hazard.
Change the word predicted to forecasted.
Move hazard up to below the Title box.
Screen 2:
Largest population:  remove the word Estimation.
Change example to: Hurricane Sirius is expected to hit the Whingi

[2019-12-05 14:21] necoline commented on #839
The PR above does the following:
- Shows the active dates in the map date dropdown title so users know when the filter is active and for which dates
- Changes active table filter headers to red so users know which filters are applied to the table

The PR does not change the date format to yyyy-mm-dd
We are using native html form inputs for this date feature which does not allow for the reformattin

[2019-12-05 15:55] teklal commented on #828
Thanks for the work and improvements on this!
There are few things that still need attention. We can have a call to discuss these as I'm not sure my written explanations are comprehensive or capture everything.

- when the date filter is applied it would be good to have it show somewhere that that filter has been applied, e.g. by showing the dates on the box similarly as when one of the two other

[2019-12-06 08:13] batpad commented on #828
This is now done and on staging. Please test.

This is an excellent catch, thank you. We will work on fixing this.

I think this is a good idea and would be good to do, unfortunately would be out of scope for this release, so can we ticket this separately?

[2019-12-09 08:44] batpad commented on #833
@mmusori have implemented all the changes above, with some clarifications required below:

Which title are you referring to here?

Done

Done

Done

I changed this to say `Names` as it looks strange without any label there. Let me know if this is fine.

Done

Done (deleted Action from Admin)

Done. (Made this change for both Event and Early Warning field reports - let me know if this should apply

[2019-12-09 09:38] GregoryHorvath opened #895 "Emergency and Field Report numbers differ"
## Issue

@batpad I guess this is an issue on the frontend but if not, notify me to check on the backend later.

![Screenshot_1](https://user-images.githubusercontent.com/30079559/70424166-33255c80-1a6f-11ea-89d3-35373a2d8400.png)

##

![Screenshot_2](https://user-images.githubusercontent.com/30079559/70424173-34ef2000-1a6f-11ea-80c9-2de516b157fe.png)

## Steps to reproduce

1. https://dsgoproxyap

[2019-12-09 09:52] GregoryHorvath opened #896 "'Actions others' field is not shown anywhere on Emergency or Fields Report pages"
## Issue

@batpad @mmusori

On the backend:
![Screenshot_3](https://user-images.githubusercontent.com/30079559/70425627-d8413480-1a71-11ea-8425-eece4202abc0.png)

[2019-12-09 11:22] batpad commented on #896
Thank you for the detailes issue @GregoryHorvath . Fixed with https://github.com/IFRCGo/go-frontend/commit/29af6710455ef9038663a135e3d604b4101d8c27 - will update here when this is merged to develop.

[2019-12-09 11:23] batpad commented on #895
Thank you for the detailed issue @GregoryHorvath . I will fix this.

[2019-12-09 15:16] teklal opened #897 "Map centering on regional pages and map "flatness""
Hey @batpad and @geohacker , I stumbled upon a funny problem with the maps on a few regional pages. I noticed that currently the default centering of the maps on some of the regional pages is such that not all the countries in that region are shown. So the default view centering would need to be adjusted.

Below the problems I identified:

![image](https://user-images.githubusercontent.com/5241123

[2019-12-09 15:19] teklal commented on #897
The screenshots are from the development GO pages, just fyi.

[2019-12-10 09:39] #895 closed

[2019-12-10 09:39] #896 closed

[2019-12-10 12:22] teklal opened #901 "Filter emergency type numbers on map filter drop down"
Related to #828

On the home page and regional page when clicking on the 'emergency type' filter on the map, it shows numbers on the drop down list (as in image below) according to how many active operations there are for each emergency type. It would be great if these numbers changed based on the date filter applied reflecting the number of operations of each type during that time frame

![image]

[2019-12-10 12:24] teklal opened #902 "Filter box resets when closing presentation mode"
Related to #828

On the home and regional pages after closing the presentation mode when an 'emergency type' or 'appeal type' filter has been applied, the filter box resets i.e. does not show anymore that a filter has been applied, although the filter in fact is still applied and the map shows filtered information.

[2019-12-10 12:25] teklal commented on #828
I created new separate tickets for the two remaining issues so that we can move this ticket to Done and have what has been fixed so far pushed into production.

[2019-12-10 12:35] mmusori commented on #833
1. The example in the Risk Analysis has not yet been changed.
2. You completely removed the FBA by the DREF. The request was to remove the words "imminent DREF". So as an option  under Planned International Response can we still have 'FBA by the DREF'
Otherwise all good on the form.

[2019-12-10 12:37] teklal opened #903 "Link map and table filter on home page and regional pages"
Related to #839

As outlined in the ticket referenced above, we would like to have the map and table filters linked so that any filter applied affects both the map and the table.

[2019-12-10 12:39] teklal opened #904 "Enable cumulative filtering on home page and regional maps"
Related to #828 and #839

Currently the table below the map allows cumulative filtering. It would be great to have this functionality for the map as well. Potentially achieved in connection with #903 i.e. when filtering the map and the table are linked?

[2019-12-10 12:44] teklal opened #905 "Reformat date on filter to be in line with table (yyyy-mm-dd)"
Related to #839

Reformat the display of dates in the input field of the date filter on the home page and regional pages to be in sync with the date format on the table. The format should be yyyy-mm-dd for both the filter and the table.

[2019-12-10 12:45] teklal commented on #839
I created new tickets for the issues that are beyond the scope of this release so that we can move this ticket to 'Done'.

[2019-12-10 12:49] mmusori commented on #833
The Front end for the EA/EW Field Report is still identical to that of the Event field Report. but the input fields for the EA/EA are different so we would like it if the front end would show the fields from the EA/EW Filed Report input form.

[2019-12-10 12:55] mmusori commented on #836
The new 'Field Report' notification is good to go to production from staging.
The new 'Operations' is fine based on the forwarded emails from Greg but I still need to test in staging
The 'Weekly Digest' looks great from the forwarded email from Greg but I still need to test in staging.

[2019-12-10 13:33] batpad commented on #833
@mmusori sorry - can you please tell me specifically what fields need to be changed on the frontend for the field report ?

[2019-12-10 13:34] #828 closed

[2019-12-10 13:34] #875 closed

[2019-12-10 13:34] #839 closed

[2019-12-10 14:06] teklal commented on #870
Tested and works as desired.

My OCD side is wondering about the ordering of the sectors and tags, is there a certain logic behind this order or should we have them in e.g. alphabetical order? Thoughts, @guipizzini ?

[2019-12-10 18:45] necoline opened #906 "Surge: Query Surge google sheet"
## Issue
Due to the widespread familiarity of google sheets among admin users, it is proposed that admin users responsible for deployments be allowed to maintain data input through a google sheet that will be queried by the IFRC DB. An example of the new data can be found [here](https://docs.google.com/spreadsheets/d/1CBvledFYc_uwlvHTvJE0SYS7_mPGU2L-zhrqbB4KNIA/edit?usp=sharing). The current data

[2019-12-10 19:46] necoline opened #907 "Surge: Alerts and Deployments Tables"
Definition: Deployments are alerts that have been assigned.
Deployments will be displayed in a table for deployed personnel. The table should contain information newly available from the google sheets. It should also allow users to see a longer list of past deployments.
In the first iteration, these tables will not vary in style or functionality from the existing design (shown below). The bulk of

[2019-12-10 19:50] necoline opened #908 "Surge: Replace ERU Readiness"
ERU Readiness
This functionality present in the deployments page is not used in the current platform. It is proposed to change the cards currently in use to a snippet, possibly an iframe, from Tableau that pulls from the google sheet to display the ERU readiness.
Since these cards have no connection to the rest of the GO platform, this transition should not contain any side effects for other featu

[2019-12-10 19:53] necoline opened #909 "Surge: Add Surge Deployments table"
## Issue

In a small number of cases, a surge deployment will be created. A table displaying the following information will be created in Tableau and added as a snippet or iframe at the bottom of the deployments page.

![image](https://user-images.githubusercontent.com/20410256/70563696-b375bb80-1b5c-11ea-9baf-ece2289a1c76.png)

[2019-12-10 19:53] necoline commented on #885
## Overview
- [ ] query [google sheet](https://docs.google.com/spreadsheets/d/1CBvledFYc_uwlvHTvJE0SYS7_mPGU2L-zhrqbB4KNIA/edit?usp=sharing) into IFRC DB #906
- [ ] create separate tables for alerts and deployments #907
- [ ]  replace ERU Readiness Cards to with iframe #908
- [ ] add surge deployments table #909

[2019-12-11 10:42] mmusori commented on #833
Last Feedback:
Third Section:  Early Action
Under actions taken by NS , add: Activation of Early Action Protocol.
Under IFRC: Support activation of Activation of Early Action Protocol
Fourth Section: Response, Changed 'Planned Response' to Planned Interventions'

[2019-12-11 10:49] batpad commented on #833
Munu,

These now no longer require code changes. So we can just make these changes
in the admin backend.

Interventions'

Will do.

-Sanjay

On Wed, Dec 11, 2019 at 4:12 PM Mununuri <notifications@github.com> wrote:

[2019-12-11 10:53] mmusori commented on #833
Hi , I sent you the below screenshots on Teams.
But those are the numerical details we expect to see on the frontend.
Thanks.
![image](https://user-images.githubusercontent.com/7780809/70615451-b9c37080-1c0c-11ea-93b6-786b2b25a2bb.png)

[2019-12-11 11:09] batpad commented on #833
Thank you @mmusori that was a bug, it should now only show the numeric details applicable to the FR type. Please check. Hopefully this addresses everything :) - Let me know. Thank you!

[2019-12-11 12:58] batpad opened #912 "Country list on region page: Do not show Alphabet as last item in column"
In the list of countries on the region page, an alphabet should never be the last item in a column - i.e. each letter heading should contain at least one country on the same column where the letter heading appears.

Refs #848

[2019-12-11 12:59] batpad commented on #848
Created a separate ticket for the issue of an alphabet appearing at the bottom of a column: https://github.com/IFRCGo/go-frontend/issues/912

Am going to mark this issue as done and follow up on the styling of the columns separately.

[2019-12-11 12:59] #848 closed

[2019-12-11 13:35] mmusori commented on #833
Thanks @batpad the EA Field Report on the front end looks great. It is pulling in the data and has the new numeric fields.  But the emergency page still has the Event numeric fields so no data is pulling into the Emergency page in the Emergency overview box. If we can have the same fields in the emergency overview as in the numeric details of the EW Field Report.  And rename the Emergency overview

[2019-12-11 14:26] batpad commented on #833
@mmusori displaying the correct fields as per the field report type (Event or Early Warning) should now be fixed. Please test. Thanks for noticing this.

[2019-12-12 08:56] teklal opened #915 "[PROD] Funding information incorrect on country page card"
The funding coverage card on the country pages is not showing the DREF fund coverage info.

![image](https://user-images.githubusercontent.com/52411237/70695711-965afd00-1cc2-11ea-85f3-a69657cefd87.png)

On the emergency page the cards do show the information correctly.

![image](https://user-images.githubusercontent.com/52411237/70696198-7ed04400-1cc3-11ea-8ccf-8e5a6c5bed9b.png)

Based on another

[2019-12-12 10:01] teklal opened #916 "Emergencies page: Inconsistencies/confusing information regarding number of emergencies"
On the [Emergencies tab](https://go.ifrc.org/emergencies) on GO the figures for the number of emergencies in the last 30 days is inconsistent.
On the top of the page it currently shows that there would have been 129 emergencies in the last 30 days:

![image](https://user-images.githubusercontent.com/52411237/70700992-eab6aa80-1ccb-11ea-8dd6-0186b1686ebd.png)

But a bit further down on the page (be

[2019-12-13 12:07] mmusori commented on #836
Dear Greg, on the Weekly Digest for the Deployments notification can you make the following changes.
Change ALERTS/DEPLOYMENTS IN THE PAST 7 DAYS  to DEPLOYMENTS IN THE PAST 7 DAYS
Completely Remove Alerts
Delete Type  column,
Delete Deployment column,
Delete Appeal column,
Change Title to  Emergency,
Change Deploying person to Name,
Change Society from to Deployed by,
Add State date
Add End date

[2019-12-13 12:10] mmusori commented on #836
@GregoryHorvath on the New Operations Notifications,
They layout is fine. It provide more information than e had before. Just one more issue

1.	The “Follow this operation” button does not do anything. Not sure if this should be a big red button, but I like it. 😊

[2019-12-13 15:51] teklal opened #918 "PER: list of NSs incomplete and contains non-existing NSs"
For a PER super user (having access/rights to submit PER forms for any NS) the drop down list of National Societies isn't complete and stops at Red Cross Society of China (alphabetical list). There are also National Societies that do not exist, such as Antarctica NS, and it should not show Country Clusters.

![image](https://user-images.githubusercontent.com/52411237/70812570-2b93e980-1dc8-11ea-95

[2019-12-16 13:10] necoline commented on #918
Thanks for this catch @teklal I'll look into this to see why this is the case.

[2019-12-16 15:04] teklal opened #920 "Country page: Disaster type not showing"
The "Disaster type" field is currently blank on country pages. Below as an example Panama:

![image](https://user-images.githubusercontent.com/52411237/70917570-de10ba00-201d-11ea-80b2-78ee2e08fa4c.png)

This information is available on the backend and shows on the home and regional pages. Below an example from the Americas regional page:

![image](https://user-images.githubusercontent.com/5241123

[2019-12-17 08:31] teklal opened #921 "URGENT: GO not working on Edge or Internet Explorer"
Currently GO does not appear to be rendering at all on Microsoft Edge or Internet Explorer (which is still used within IFRC and is hence important to have working).
When trying to open GO, all it gives is a blank page.

Don't know if this problem is only at my end.

Microsoft Edge:
![image](https://user-images.githubusercontent.com/52411237/70978096-6f7c3c80-20af-11ea-98bc-f8a700f0581e.png)

Inter

[2019-12-17 12:22] batpad commented on #921
cc @thenav56 @frozenhelium

[2019-12-17 12:25] nanometrenat commented on #921
These are the errors I get in my console when navigating to Go using Edge:
ERRORS:

- SCRIPT1028: SCRIPT1028: Expected identifier, string or number - vendor-51cdb2b243.js (1,2019149)
- SCRIPT5022: SCRIPT5022: Cannot find module 'babel-polyfill' - bundle-6fa35ad00f.js (1,206)

INFO:  CSS3121: The media query -ms-viewport has been deprecated.

[2019-12-17 12:26] teklal commented on #921
Microsoft Edge version 44.18362.449.0
Internet Explorer version 11.476.18362.0

[2019-12-19 14:52] nanometrenat commented on #556
Hi, a few from the Pacific...
Tonga Red Cross' domain is below (switched to this in 2018 as part of IT upgrade):

- tongaredcross.to

Vanuatu Red Cross uses a number of domains:

- redcrossvanuatu.com (mostly this one for email)
- VRCS also use redcross@vanuatu.com.vu as their main public-facing enquiries email address
- vanuaturedcross.org is the official website

Cook Islands Red Cross advertise

[2019-12-20 09:07] nanometrenat opened #922 "Country pages - GO weblinks to IFRC.org don't support multi-word country names"
## Issue

Weblinks to IFRC.org country pages were added via #776.  On the whole these are great, but country names with two-or-more words (e.g. Solomon Islands, Democratic People's Republic of Korea, Federated States of Micronesia, New Zealand etc.) currently don't link correctly, as the URL on GO has spaces in it.

## Steps to reproduce

Go to GO Country page e.g. Solomon Islands https://go.ifrc.

[2019-12-20 12:58] frozenhelium commented on #921
@teklal It's fixed. Can you verify it through the staging server (https://dsgoproxyapp.azurewebsites.net/)
CC: @batpad

[2019-12-20 13:34] szabozoltan69 commented on #556
Hi Natalie, @nanometrenat ,
 I'll put them in (except vanuatu.com.vu – we can put only domain names into this list, and the whole vanuatu.com.vu is not RedCross-related). The self service is not so straightforward recently, due to the backend deployment is more sophisticated. There was a plan to put these data into admin tables in the future.

@GregoryHorvath it's a repetitive task, if you'll have

[2019-12-20 15:24] nanometrenat commented on #922
For the avoidance of doubt, this is not an urgent request, just one for the list - but I don't have the power to do labels as yet...

[2019-12-20 15:39] nanometrenat commented on #921
Hi @frozenhelium Natalie here - looking better for Edge but not yet for IE for me.

The GO homepage Staging version now loads well on my Edge browser (Microsoft Edge 44.18362.449.0), thank you.

However it still doesn't load in IE for me (my version of IE is 11.535.18362.0)
When loading the Staging envt page I no longer get the babel-polyfill error (that I get in Prod) but I do get the below now,

[2019-12-20 17:14] frozenhelium commented on #921
@nanometrenat Hi Natalie, IE has become obsolete, so we agreed not to add fix for it (Since it'll take a lot of effort and time to add support for IE)

[2019-12-20 17:54] nanometrenat commented on #921
@frozenhelium  good point, well made.  Works well in Edge.  Cheers!

[2019-12-20 20:13] frozenhelium commented on #921
@batpad lets push this to production, should I cherry pick the fix and create PR targeting `master`?

[2019-12-26 11:31] batpad commented on #922
Thanks for the detailed issue @nanometrenat . This seems clear, will add it to the project board and this should be an easy fix to prioritize.

[2019-12-26 11:31] batpad commented on #921
The fix has been pushed to production. As discussed, this is fixed for Edge, and we are not attempting to fix IE right now.

[2019-12-26 11:31] #921 closed

[2020-01-06 06:51] #833 closed

[2020-01-06 12:26] nanometrenat commented on #845
@szabozoltan69 can you please confirm whether this work has been done?  Thx

[2020-01-06 12:31] nanometrenat commented on #906
This ticket is on hold - Google sheet will not be used.

[2020-01-06 12:45] szabozoltan69 commented on #845
@nanometrenat - Hi Natalie, I have to recheck this, I don't remember clearly. I think yes.
Though as far as I know there is an ongoing full facelift for the PER code, so even if it was done, it has to be tested again, if the refactoring has been finished.

[2020-01-06 14:28] nanometrenat commented on #921
xref https://github.com/IFRCGo/go-frontend/issues/772

[2020-01-06 15:36] nanometrenat commented on #888
Not sure but this might perhaps be where the config points are for grey background, if that helps with step 1?:

https://github.com/IFRCGo/go-api/issues/518

https://github.com/IFRCGo/go-api/pull/538/commits/cf9dd9cb6a7528bca4d773d587a1e95ef4eb4756 https://github.com/IFRCGo/go-api/commit/cf05d70e0ff3146339046bbcd65f935d561113c6

[2020-01-06 16:35] nanometrenat commented on #916
Potentially related to https://github.com/IFRCGo/go-frontend/issues/311 ?

[2020-01-06 16:39] nanometrenat commented on #889
Re user export, xref https://github.com/IFRCGo/go-api/issues/419

[2020-01-07 11:19] frozenhelium opened #925 "3W: User feedbacks"
- [x] Budget currency
- [x] Required field indicators
- [x] Change donut chart to barchart
- [x] User permission for project add and edit
- [x] Filter `Current operation` list by the current country
- [x] Include project name in the listing
- [x] Empty string is not accepted by api (must be `null` to denote empty value)
- [x] Last update field in the project listing
- [x] Popup to show all the pro

[2020-01-07 11:22] frozenhelium commented on #925
- [x] Budget currency
- [x] Required field indicators
- [x] Change donut chart to barchart
- [x] User permission for project add and edit
- [x] Filter `Current operation` list by the current country
- [x] Include project name in the listing

[2020-01-07 11:47] nanometrenat opened #926 "Document encryption via token"
## Issue

Currently documents are retrieved via a URL link without a token requirement.

## Steps to reproduce

1. Click on http://dsgofilestorage.blob.core.windows.net/api/sitreps/3804/Member_Visibility_Test.pdf and document will open
(This is a Surge Document from this emergency on test site:
 https://dsgoproxyapp.azurewebsites.net/emergencies/3804#details and this particular doc is set to visib

[2020-01-07 11:52] LukeCaley opened #927 "UI improvement for GO backend"
Confusing layout and unclear navigation for the django backend inhibits new users from understanding different functions in the GO application.

User-centred design process required to address core user interactions.

[2020-01-07 11:57] nanometrenat opened #928 "Practical navigation and knowing where you are incl identifiers"
## Issue

At the moment when on certain GO screens there are sometimes no links or breadcrumbs to show where you are and allow you to navigate - e.g. on the Albania earthquake page https://go.ifrc.org/emergencies/3887 you can see the country name in the text and on the map but there are no links to click back to the country or region.

Also, while one can see the GLIDE number for this emergency (E

[2020-01-07 11:58] frozenhelium commented on #925
Hi @batpad I didn't get what "Disclaimer on the status of the map boundaries" means. Can you give me an example or screenshot in any other place where it is implemented?

[2020-01-07 12:04] batpad commented on #925
@frozenhelium if you go to an emergency with a map, like https://go.ifrc.org/emergencies/3931#details and then hit the Export Map button, it is the text that comes below the map on the exported image - let me know if this makes sense.

[2020-01-07 12:19] teklal opened #929 "Update GO to have new IFRC logo"
The IFRC has a new logo that was recently launched. Once we have guidelines from IFRC communications on how to use the new IFRC logo with the GO logo, this should be updated on GO.

[2020-01-07 12:32] mmusori opened #930 "Informal updates - scoping"
Systematic   means for capturing operational informal updates from IFRC Offices (IFRC   secretariat only). The informal update should be linked to an existing   emergency.

Emergency pages with notification emails.

Details of fields required will be provided by the 21st of January.

Requires scoping, design wireframes, user consultation, text editor #931

[2020-01-07 12:47] nanometrenat commented on #283
Munu updating this ticket

[2020-01-07 12:49] mmusori commented on #283
Standalone running, no integration to GO. @IM team to decide where data appears on GO.  The data to be written into a google sheet. This will be pulled into tableau for visualisation. Then iframed into GO. After this test then consider direct ingestation into GO. Script developed. Data being compiled into the GO d/b but work required on the post-processing manual clean-up and visualisation on GO.

[2020-01-07 12:56] nanometrenat commented on #424
Original issue was re ACAPS API - which is no longer available so closing this ticket.

[2020-01-07 12:56] #424 closed

[2020-01-07 13:01] nanometrenat opened #931 "Formatting of text input fields -"
The current field report Description and summary section  does not currently allow formatting.

Desired behaviour is to have text editors for when people input information into the system - e.g. field reports - a style bar with options for paragraph, font, bold/underline, quote and bullet point. Paragraphs should be included.

This then needs to feed into formatting and layout onscreen, and notifi

[2020-01-07 13:02] nanometrenat commented on #424
The formatting aspect has been spun off into new ticket #931

[2020-01-07 13:10] nanometrenat commented on #837
- [ ] Make sure terminology is consistent on front end for end users.

- [ ] Terminology embedded in code may not be changed, but there will be developer documentation of what does what so devs are clear.  Back-end documentation for developers to be available on Github.

[2020-01-07 13:21] nanometrenat opened #932 "Accidental ticket - please ignore"
## Currently the deployment process to

[2020-01-07 13:22] nanometrenat commented on #932
Initial issue

[2020-01-07 13:25] nanometrenat opened #933 "Back end deployment process improvement"
At the moment the deployment process for the Front End is fairly streamlined, however the deployment process for the back end requires significant manual work.

@szabozoltan69 can you please flesh out this ticket re the work that would be required to improve this process and enable others to run a deployment also.  Thanks!

[2020-01-07 13:47] frozenhelium commented on #925
Oh, I see, thanks!

[2020-01-07 13:47] #932 closed

[2020-01-07 13:58] nanometrenat opened #934 "GO Site Translations - options, scope and advise recommendations"
## Feature
Automatic translation of content on GO from English into Spanish, French and Arabic.    This includes static content such as navigational features but also dynamic such as key figure references, crisis summaries etc.  (read-only/write-also)

## Scope of this ticket
In the past there have been a number of conversations re potential approaches to translations - see below tickets for detai

[2020-01-07 13:59] nanometrenat commented on #653
Closing as now tracked via https://github.com/IFRCGo/go-frontend/issues/934

[2020-01-07 13:59] #653 closed

[2020-01-07 13:59] nanometrenat commented on #649
Closing as now tracked via https://github.com/IFRCGo/go-frontend/issues/934

[2020-01-07 13:59] #649 closed

[2020-01-08 10:17] nanometrenat commented on #926
Now tracking this issue outside Github, via SRV-15418.  Will reopen if work at this end is required.

[2020-01-08 10:18] #926 closed

[2020-01-08 10:21] batpad commented on #934
Thanks @nanometrenat for this ticket.

@necoline you mentioned you had been doing some research into translation frameworks / services as part of the PER work. Could you outline anything that maybe relevant to this discussion?

@frozenhelium @thenav56 - are there any paths forward that you would suggest here? Do you think it makes sense to go ahead and try out existing services like DeepL and / or

[2020-01-08 10:36] batpad commented on #933
@szabozoltan69 it would be great if you and @thenav56 could team up here to:

 - Document the current deployment process clearly (i think you mostly have this documentation @szabozoltan69 )
 - On-board @thenav56 to be able to run out deployments
 - Discuss with @thenav56 to suggest ideas for improving the deploy process / making it easier and more streamlined
 - Scope out and implement changes to

[2020-01-08 10:39] batpad commented on #931
We would want a generalized solution for users to be able to apply formatting to fields both in the Django Admin as well as the frontend.

@teklal @mmusori - can you please point to exactly where we currently have fields where we allow users to add formatting? We can then evaluate whether we should take the same approach or a different one.

@thenav56 @frozenhelium do you have a favoured way to ha

[2020-01-08 12:44] nanometrenat opened #936 "URGENT - cannot submit field report"
## Issue

A user in Production has tried to submit a field report and at the end of the input process they have received an onscreen error message "Error:  Could not submit field report", with no information about exactly what the error is.

This is for a new emergency.  Screenshots have been provided of the 4 input screens, and I have tried to replicate in the staging environment but cannot repli

[2020-01-08 14:04] necoline commented on #862
I agree that this would be a good practice to incorporate moving forward.

[2020-01-08 14:23] szabozoltan69 commented on #936
After inserting "Puerto Rico" (with id 257) into prod database the field report could be created:
https://go.ifrc.org/reports/12080
Please check if the data are correct, I copied it from the attached screenshots.

[2020-01-08 14:23] #936 closed

[2020-01-08 14:34] necoline commented on #863
I understand the readability of your argument @batpad but in this case, I agree with @frozenhelium. I personally would prefer to avoid passing around the whole actions module. I am in favoring of using  destructured imports whenever possible which benefit from descriptive names to avoid confusion/naming conflicts.

[2020-01-08 16:13] nanometrenat commented on #936
https://github.com/IFRCGo/go-api/issues/437

[2020-01-09 08:15] nanometrenat commented on #772
Closing - spoke with Sune just now, and we are not doing any further work on GO side to make it compatible for the Samsung TVs at this stage.

[2020-01-09 09:52] batpad commented on #888
Thanks for digging that up @nanometrenat !

It maybe nice to streamline how we do this a bit, @thenav56 - is there a better pattern you'd suggest for doing this?

Next steps:

 - [ ] Design an element that we can toggle on / off with `display: none` or so to only show on the staging site. @nanometrenat are you able to help with a quick visual mockup (it can be very rough) of the desired behaviour

[2020-01-09 13:41] thenav56 commented on #888
@batpad

I would also recommend this. Another will be using a bar fixed in top indicating server type.

We are using something like this in DEEP.

![image](https://user-images.githubusercontent.com/7059255/72072273-b1e31300-3315-11ea-911e-2c41353bd47b.png)
![image](https://user-images.githubusercontent.com/7059255/72072280-b3acd680-3315-11ea-820d-4b7aefab443c.png)

[2020-01-09 20:40] necoline commented on #918
The request for PER countries was capped at 50. I raised the limit to 1000 in #893
![image](https://user-images.githubusercontent.com/20410256/72102980-3887f800-32f6-11ea-9db6-03917ff31ea4.png)

[2020-01-10 12:53] nanometrenat commented on #311
Closing this ticket, any further work will be covered by #916

[2020-01-10 12:53] #311 closed

[2020-01-10 12:59] nanometrenat commented on #361
@LukeCaley can you please confirm if this proposed change (to omit current month from chart) is still required and close if it's not?

[2020-01-10 13:02] nanometrenat commented on #324
Closing this ticket due to elapsed time and not on current priority radar - will reopen or create new issue if prioritised for action.

[2020-01-10 13:02] #324 closed

[2020-01-10 13:04] nanometrenat commented on #329
Closing - latest audit trail conversations being tracked under https://github.com/IFRCGo/go-api/issues/572

[2020-01-10 13:04] #329 closed

[2020-01-10 13:15] LukeCaley commented on #361
Not a priority at this stage.

[2020-01-10 13:15] #361 closed

[2020-01-10 13:24] nanometrenat commented on #417
Hi @mmusori @LukeCaley  can you please take a look and advise whether this meets your requirements or if further work is required?  Cheers

[2020-01-10 13:48] nanometrenat commented on #368
Closing as this ticket was logged prior to current map implementation so may not be relevant to current implementation.  New ticket to be logged if it becomes a priority.

[2020-01-10 13:48] #368 closed

[2020-01-10 13:49] #772 closed

[2020-01-10 13:51] teklal commented on #386
Closing this because there has been a restructuring of Country and Regional pages since last comment on this ticket.

[2020-01-10 13:51] #386 closed

[2020-01-10 14:02] teklal commented on #403
Closing as user rights and permissions(and the way we do them) are currently reviewed by @nanometrenat

[2020-01-10 14:02] #403 closed

[2020-01-12 21:14] nanometrenat commented on #888
Thanks @thenav56 and @batpad

Our critical requirements are:
* User must be able to see at all times that that they are in staging site (i.e. should be visible even when they scroll up/down or left/right) – e.g. like the Cookie warnings you often see, that stay in place when scrolling
* As you have identified, there may be several different non-Prod environments (staging vs test etc.) so the banne

[2020-01-14 10:34] LukeCaley commented on #417
Thanks @nanometrenat this works for current requirements.  We are planning to scope out an improved means to use GO for situational/operational updates (e.g. updating Field Reports and so-called "informal updates") in release 4.2.

[2020-01-14 10:34] #417 closed

[2020-01-14 10:54] LukeCaley commented on #922
Thanks @nanometrenat.  We should be able to do this as a one-off process verifying against the IFRC.org site so a simple process to download a master table and amend URLs is required.

[2020-01-14 12:30] mmusori commented on #417
The original idea in phase 3 for phase 4 was that the Field Report data would be replaced with a map of the affected area. So now when you turn the data of the whole box disappears and you have the map. So this is done and the ticket should be closed. See example below (Zambia Floods) where I turned off the box since it did not have any data. If we want new features we can create a new ticket.
![i

[2020-01-14 15:12] nanometrenat commented on #254
From @RFMoore
WHO Health Emergencies dashboard (number of events and WHO classification. Updates every 15 minutes): https://extranet.who.int/publicemergency
...suggested replacements for WHO DONs

Further investigation required before taking any action, but pasting here for future reference.

[2020-01-14 16:21] szabozoltan69 commented on #254
Just a note: recently there is a WHO ingestor script (on backend side), which was done in Phase3, and was run even in production, but now the cron job is not running. (It's just depend on a decision, that "let's use it!")
It gets data from WHO RSS feed: https://github.com/IFRCGo/go-api/blob/master/api/management/commands/ingest_who.py#L21

[2020-01-14 16:32] nanometrenat commented on #254
Thanks Zoltan - it would be great if that WHO RSS feed had clearer indicators of the scale of the emergency - as you have identified earlier in the thread, 'news' is too generic.

That dashboard I've linked above has good categorisation but the problem is the data isn't accessible to my knowledge.  We need to dig further at this end.  Cheers!

[2020-01-15 16:37] teklal commented on #918
Hi @necoline , your screenshot looks great.

I'm still experiencing the issue of the list ending around letter "C" (probably the 50 NSs) in the testing environment
![image](https://user-images.githubusercontent.com/52411237/72452175-66b97c00-37bd-11ea-9f2d-c5b4eae5ddfd.png)

as well as production
![image](https://user-images.githubusercontent.com/52411237/72452235-80f35a00-37bd-11ea-80fd-143f28aba

[2020-01-15 16:39] teklal commented on #844
@necoline did you have a chance to work on this yet?

[2020-01-15 21:38] necoline commented on #918
This is fixed in the PER update that is currently pending a code review

[2020-01-16 12:55] nanometrenat commented on #535
@LukeCaley is this still a regular problem for users?

[2020-01-16 12:56] nanometrenat commented on #500
Closing as will be part of user permission review.

[2020-01-16 12:56] #500 closed

[2020-01-16 14:50] LukeCaley commented on #535
I am not aware of anyone notifying us of this issue but that doesn't mean it does not exist. @sanjay @szabozoltan69 are you aware of the limitations?

[2020-01-17 08:04] nanometrenat commented on #512
@mmusori advises that this issue can be closed - field reports have had a number of updates since this was logged.
I note that there was one 'could not submit' error recently but this was due to a country mapping issue that has since been solved.

[2020-01-17 08:04] #512 closed

[2020-01-17 08:14] nanometrenat commented on #517
Closing due to upcoming permissions review

[2020-01-17 08:14] #517 closed

[2020-01-17 08:44] nanometrenat commented on #850
Need to check with UX as to whether new styles have been provided.

[2020-01-17 09:02] nanometrenat commented on #885
Closing as Surge changes are on hold pending RRM integration design.  New ticket to be logged if required once those details confirmed.

Also xref https://github.com/IFRCGo/go-api/issues/464

[2020-01-17 09:02] #885 closed

[2020-01-17 09:02] nanometrenat commented on #909
Closing as Surge changes are on hold pending RRM integration design.  New ticket to be logged if required once those details confirmed.

[2020-01-17 09:02] #909 closed

[2020-01-17 09:02] nanometrenat commented on #907
Closing as Surge changes are on hold pending RRM integration design.  New ticket to be logged if required once those details confirmed.

[2020-01-17 09:02] #907 closed

[2020-01-17 09:02] nanometrenat commented on #906
Closing as Surge changes are on hold pending RRM integration design.  New ticket to be logged if required once those details confirmed.

[2020-01-17 09:02] #906 closed

[2020-01-17 09:21] teklal commented on #823
Closing as Deployments/Surge is going to undergo database changes in the coming months.

[2020-01-17 09:21] #823 closed

[2020-01-17 13:24] nanometrenat commented on #254
@RFMoore the source you sent through doesn't publish the data (can only look at the dashboard).  Do you have another source that we can read programmatically?  Thanks!

[2020-01-17 13:25] nanometrenat commented on #365
UX/UI amendments made mean no need for further action on this

[2020-01-17 13:25] #365 closed

[2020-01-17 13:26] nanometrenat commented on #479
@batpad please review and advise necessity/priority of this.

[2020-01-17 13:31] nanometrenat commented on #553
Speaking with @LukeCaley we would like to address this so that users can export the full list of emergencies (not just by region).  @batpad can you advise the technical requirements for such a fix?

[2020-01-17 13:42] teklal opened #938 "Enhance geospatial data handling"
This is a master ticket around improved collection, editing and rendering of geospatial data.

Related tickets:

**NOTE: This list was updated 7 October 2020 to reflect whether closed or moved to new issue.**

- Ref #614 - moved to #1642
- Ref #619 - moved to #1643
- ~~Ref #784~~ - CLOSED
- ~~Ref #806~~ - CLOSED
- ~~Ref #850~~ - CLOSED
- ~~Ref #897~~ - CLOSED
- Ref #903 - moved to #1642
- Ref #904

[2020-01-17 13:49] nanometrenat commented on #718
Superceded by UX/UI changes

[2020-01-17 13:49] #718 closed

[2020-01-17 13:57] nanometrenat commented on #826
Consulted with @mmusori Closing this ticket, thank you for your work!

[2020-01-17 13:57] #826 closed

[2020-01-17 14:08] LukeCaley commented on #784
An attempt to style these was made by Toni Martinez on a word file.  To be consulted when reviewing this ticket.

[2020-01-17 14:12] nanometrenat commented on #840
xref https://github.com/IFRCGo/go-api/issues/526

[2020-01-17 14:14] nanometrenat commented on #856
@batpad are you able to please advise indicative estimate for this?

[2020-01-17 14:18] nanometrenat commented on #901
@necoline can you please advise on complexity of fixing this issue?  Backup option is to instead completely remove the numbers from the filter.

[2020-01-17 14:28] nanometrenat commented on #859
Related to https://github.com/IFRCGo/go-frontend/issues/479

[2020-01-17 14:57] nanometrenat commented on #889
Note - these changes (e.g. NS dropdown) should be reflected in back end as well, to ensure consistency when IM manually sets up users.

[2020-01-22 10:42] mmusori commented on #836
This is now live in the production. We can go ahead and close this. New issues/requirements will be on a new ticket.

[2020-01-22 10:42] #836 closed

[2020-01-23 13:41] szabozoltan69 commented on #933
**The process of the go-api backend deployment in a nutshell**
We use an .env file for the environment variables (not public). In the first rows there is the aimed environment: export ENVIRONMENT=...
and also a row about the git tag (and docker image) number: export API_DOCKER_IMAGE=
These should be set correctly.
The CircleCI process is planned to push the created go-api backend docker image to g

[2020-01-23 16:44] nanometrenat commented on #871
Test passed - in 3Ws when I select emergency operation and multilateral I get a Current IFRC Operation dropdown labelled 'Current IFRC Operation' that lists all emergencies.

[2020-01-23 16:44] #871 closed

[2020-01-23 17:28] nanometrenat commented on #873
Tested and it works as per description above - when long term programme is selected, a blank text entry to put the name is available as mandatory field and the disaster type appears too as a non mandatory field.

However the user does not know that disaster type is an optional field as it looks the same as all the mandatory ones...

[2020-01-23 21:20] necoline commented on #845
The PER refactor does not touch this feature. @szabozoltan69 if you updated the permissions to reflect these requirements then the behavior should remain the same.

[2020-01-24 08:42] szabozoltan69 commented on #933
Thanks @thenav56 for trying this out and for giving news about the success.

[2020-01-24 09:04] nanometrenat commented on #254
Just checked with Roxanne, the WHO ingestor system needs to be put on hold until Health are able to confirm final severity criteria.  This goes alongside work they are doing on the Emergency Response Framework and IFRC's classification of diseases.

Thanks for your work on this @szabozoltan69

[2020-01-24 09:08] szabozoltan69 commented on #254
Ok, the ingestor still not runs, just a test run was issued in staging environment.

[2020-01-24 11:25] batpad opened #940 "Remove hard-coded values and database ids from frontend code"
There are various places on the frontend where values are hard-coded as JSON, for example: https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/utils/field-report-constants.js#L33

This is extremely brittle, and makes it harder for us to make data updates on the backend, since that would break hard-coded values on the frontend.

There are a few places where this pattern exists. We

[2020-01-24 11:43] szabozoltan69 commented on #845
Now I checked this feature with a non-admin user (in staging). For them there is only a blank white "first box" can be seen, with a notice of "Please log in".
(Otherwise the "first box" for admins differs from the above screenshot, there are cards in it.)
So it would be good to clarify if the recent behavior is OK or what to change/show for the public.

![preparedness_please_log_in](https://user-i

[2020-01-24 12:15] szabozoltan69 commented on #940
Similar to https://github.com/IFRCGo/go-api/issues/379 on back-end, would be fine to clean up.

[2020-01-24 14:58] necoline commented on #844
The entirety of my time last quarter was spent working on updating the per forms. I spent some time this week on this issue, the ticket above describes in detail what I did

[2020-01-24 15:11] necoline commented on #918
I'm not sure if everything specified in this ticket is resolved. My fix removed the constraint on the number of options in the list, but I am unclear about the second request. @teklal you mentioned that non-existent national societies are appearing on the list. The data coming through to the frontend seems pretty uniform. I don't see any obvious way to identify the NS's that need to be filtered ou

[2020-01-24 15:21] necoline commented on #861
## Rationale
Better error handling would provide more descriptive messages regarding why something went amiss. This is helpful for developers to more quickly resolve problems, but it also provides a better user experience because it can provide immediate feedback for why something is not working as expected which can alleviate frustrations on the part of the users by keeping them informed as to wh

[2020-01-24 15:26] necoline commented on #815
## Rationale
We use PropTypes to provide documentation for the data types a given component is using and to protect against type mutations which can cause errors that are particularly difficult to hunt down. Sometimes, when developers are rushing to get a feature out the door, the process of this documentation can get left behind. This causes errors to appear which can pollute our stream of inform

[2020-01-27 09:07] batpad opened #942 "Don't render button next to Contacts on Emergency page if email / phone is empty"
## Issue

Currently, if a contact `email` is blank, the UI renders a strange looking empty button next to the Contacts on the emergency page. For eg. scroll to bottom of https://dsgoproxyapp.azurewebsites.net/emergencies/3827#details

## Steps to reproduce

Enter Contacts in a Field Report with Email left as blank. Then navigate to the associated Emergency page. See the buttons for contacting show

[2020-01-27 09:12] batpad commented on #942
Offending code is roughly here: https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/views/emergency.js#L582

[2020-01-27 09:23] nanometrenat commented on #942
@batpad re priorities, this is a cosmetic issue so not high priority at all.  Good to fix in a spare moment!

[2020-01-27 12:44] szabozoltan69 commented on #930
These fields are needed, connected to emergencies, as a form (thx Munu):
 Situation/Summary
  ·       Narrative
  ·       Graphic/map
 Government Actions
 National Society  Actions
 IFRC Actions &/or Coordination
 Focal Points

[2020-01-27 12:45] yellowumbrella-design commented on #850
[GO_Map_Exploration.pdf](https://github.com/IFRCGo/go-frontend/files/4117148/GO_Map_Exploration.pdf)

[2020-01-27 13:15] nanometrenat commented on #850
**I have edited the ticket description to match the work that is required** - editing styles in Mapbox to match the YU document.

This was in 4.1, I have moved to backlog - @LukeCaley if you want it in 4.2 instead please feel free to amend.

[2020-01-27 14:22] LukeCaley commented on #850
Thanks @nanometrenat.  Agreed that this should be parked for now - to be reviewed as part of backlog triage and planning for 4.3.

[2020-01-27 15:22] nanometrenat opened #943 "PER Blocker: Preparedness tab does not render in Staging site"
## Issue
https://dsgoproxyapp.azurewebsites.net/preparedness does not function.  When it first loads we start to see the correct Preparedness page content for a brief moment, then it is swiftly overwritten by a blank grey screen.  When using dev tools we can see a number of errors and warnings (e.g. Can't perform a React state update on an unmounted component; Failed to load resource: the server r

[2020-01-27 15:48] necoline commented on #943
this is fixed in #941

[2020-01-27 15:54] nanometrenat commented on #943
@batpad @frozenhelium there are several pull requests that look like they need to be reviewed and then released to staging.  Can you please do the necessaries ASAP to get these changes into staging so that PER testing can proceed?
Thanks a lot

[2020-01-27 16:26] necoline commented on #943
I just decoupled this bug fix from the feature changes in the above mentioned PR. The fix is now isolated here: #944 so that it will be easier to review and approve

[2020-01-27 17:29] nanometrenat commented on #918
Re non-existent NSs conversation:
I've had a look at this and it seems that the way this dropdown works is:
* get all items from the Country table
* if the "Society Name" field is blank, just put country name + NS in the dropdown
* if the "Society Name" field is populated, show that name in the dropdown.

SO Tekla's problem with additional countries appearing is a data issue in staging (rather tha

[2020-01-28 09:54] teklal commented on #918
Thanks @nanometrenat for expressing the findings/problem so neatly!

So indeed, the list should only have National Societies so the Cluster and Country Offices should be filtered out. I'll just reopen this ticket until that is done as well.

Thanks for the work on this @necoline , this is great and super important for the PER team in order to be able to submit data.

[2020-01-28 10:01] batpad commented on #918
@necoline how is this to do on the frontend? Let me know if it would help to have this as a filter from the backend when fetching the list of countries.

[2020-01-28 14:33] necoline commented on #918
I added a filter on the frontend in the PR above.
It might be worth noting that every option in the test data has a `result_type` of country (aside from `Nat Test National Society` which @nanometrenat helpfully added) which makes testing for an effective filter on the frontend a little less apparent.

[2020-01-28 16:31] teklal commented on #831
Tested and saving drafts and submitting other PER form besides "Area 3: Operational capacity 2" for
 Barbados now works.

However, when I try to open form form "Area 3: Operational capacity 2" for any National Society, all I get is a blank page. This will be outlined in a different ticket.

[2020-01-28 16:44] nanometrenat opened #946 "[Staging] PER Blocker: PER Forms Area 3 and Area 5 do not render in Staging site"
## Issue
Similar to #943 there is a different screen that does not render (goes grey when you navigate it to it).

## Steps to reproduce

1. Go to Account / PER Forms https://dsgoproxyapp.azurewebsites.net/account#per-forms
2. Click on "Area 3: Operational Capacity 2" (https://dsgoproxyapp.azurewebsites.net/per-forms/operational-capacity-2/0) - that gives you a grey screen

Edit:  same problem wit

[2020-01-28 16:46] nanometrenat commented on #943
Thanks Necoline, closing this ticket as has been fixed in Staging, however new ticket 946 is for a different page but same symptoms.

[2020-01-28 16:57] teklal commented on #844
Thanks @necoline , I've taken a look at the current state of this on staging and it looks great! The one thing that I know has to be adjusted is the phrasing ("Last submitted phase" likely to be changed to "Current PER phase") on the legend, I am waiting for the confirmation from the PER team for their desired wording and will let you know as soon as I have that.

[2020-01-28 16:59] teklal commented on #946
Thanks for logging this @nanometrenat

[2020-01-28 17:17] teklal opened #947 "[Staging] PER: changes to wording on 3 PER benchmarks"
## Issue
Request from PER team to change the wording of 3 benchmarks in the PER forms.

Benchmark 12.9
Currently on GO: "12.9 NS can manage the transition from relief phase and use of short-term resources and volunteers, to medium-term recovery interventions."
This is a mistake, that text corresponds to another benchmark (12.11)
The correct text is:
"12. 9 The plan considers how to support self-re

[2020-01-28 17:24] necoline commented on #946
Thanks for catching this!! I'll get on it this afternoon

[2020-01-28 17:26] nanometrenat commented on #946
Maybe it might be to do with 'Exist Could Be Strengthened' vs 'Exist, could be strengthened' (i.e. the comma), though that is a total guess!!

[2020-01-28 20:45] necoline commented on #844
Sounds great, that will be a quick adjustment to make when you are ready

[2020-01-29 05:20] batpad commented on #946
@nanometrenat @teklal thank you so much for the catch. This should now be fixed on staging.

[2020-01-29 05:21] batpad commented on #918
@nanometrenat @teklal this is now merged and ready to test on staging

[2020-01-29 08:09] teklal commented on #946
Checked and tested on staging, and it works!

[2020-01-29 08:11] teklal commented on #918
Tested and it works. Thanks @batpad and @necoline !

[2020-01-29 10:01] batpad commented on #947
@teklal this should be fixed in #949 - I just want @necoline to have a look before it's merged - should be on staging by this evening.

[2020-01-29 10:13] batpad commented on #928
Just looking at this ticket again, it seems there are two related but distinct issues:

 - Implementing "breadcrumbs" for navigation as per the design, which I will outline in further detail at https://github.com/IFRCGo/go-frontend/issues/770 .
 - Displaying some additional data on some pages that is currently not being shown -- example of GLIDE number on emergency page and Appeal Code above.

For

[2020-01-29 10:19] batpad commented on #770
Updated this ticket to add some details, link to the design, and make some implementation notes. cc @nanometrenat @necoline

[2020-01-29 11:11] nanometrenat opened #950 "[Staging] Country Preparedness page does not render"
## Issue
Similar to #943 and #946 - grey screen - on Barbados country preparedness page (not a problem for all countries though - not sure if Barbados is due to dodgy data??)

## Steps to reproduce
1. Go to Barbados country page https://dsgoproxyapp.azurewebsites.net/countries/28
2. Click on Preparedness tab
3. Preparedness screen does not render (https://dsgoproxyapp.azurewebsites.net/countries/2

[2020-01-29 13:05] batpad commented on #946
Confirmed Fixed. Closing.

[2020-01-29 13:05] #946 closed

[2020-01-29 13:12] batpad commented on #950
@necoline I did a little digging around, but not sure the best way to fix this.

Seems to be getting tripped up here: https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/country/preparedness-summary.js#L42

Because `getPerComponent` doesn't return anything for the values passed in for this form / country - somehow - the form code thing that seems to be causing it to fa

[2020-01-29 13:26] batpad commented on #947
This is merged to staging and ready to test, @teklal .

[2020-01-29 14:30] teklal commented on #947
Tested and works. Thanks!

[2020-01-29 14:50] teklal commented on #950
So I've found another small "bug" that needs to be fixed and that may be causing this problem.

Currently in staging the forms "Area 3: Operational capacity" (components 15 to 23) and "Area 3: Operational capacity 2" (component 14) are component-numerical-order-wise the wrong way round.

Confusingly their urls are the "wrong way round" in the live environment (screenshots below)

Form: "Area 3: Op

[2020-01-29 15:00] necoline commented on #950
The refactor wouldn't have affected any of this behavior. The cause behind this bug is two fold:
- There is hardcoding of values rather than the pulling from the backend. The refactor that I did eliminated some but not all of this in the PER component. If there are any changes on the backend, this middle layer of coded values also need to be manually updated on the frontend. The way the code is co

[2020-01-29 15:10] necoline commented on #950
@teklal Do you mind moving your comment into a new issue so that we can address it in isolation to this bug? The issue that you are pointing out is something that _was_ caused by the refactor and I'd like to make sure to document that separately

[2020-01-29 15:40] nanometrenat commented on #950
Hi @necoline regarding the fallback, it is great that the page will render but I am concerned if it renders with incorrect data - what kind of logging is in place so that we know there is an issue if faulty parameters are being used to retrieve hard-coded values?  From a business point of view the most important thing is that we ensure that in every case when users input data that data is correctl

[2020-01-29 16:08] necoline commented on #950
@nanometrenat You make a great point that better error handling is missing in this solution. I added updated the fix to include an error message and default value in the case that a parameter does not match the possible values.

[2020-01-29 16:12] nanometrenat opened #953 "[Staging] PER - Question order and URLs"
Spun off from https://github.com/IFRCGo/go-frontend/issues/950

So I've found another small "bug" that needs to be fixed and that may be causing this problem.

Currently in staging the forms "Area 3: Operational capacity" (components 15 to 23) and "Area 3: Operational capacity 2" (component 14) are component-numerical-order-wise the wrong way round.

Confusingly their urls are the "wrong way round

[2020-01-29 16:17] necoline commented on #953
@tekla

I'm not sure I fully understood the problem.

Are you saying that the form 3 should contain component 14 and 3-2 should contain components 15-23 like so:

![image](https://user-images.githubusercontent.com/20410256/73370300-fd883d00-4281-11ea-9f30-591e576df7a3.png)
![image](https://user-images.githubusercontent.com/20410256/73370328-0d078600-4282-11ea-9f5c-0345522a5d2b.png)

_you can view

[2020-01-29 17:10] nanometrenat commented on #950
Thank you @necoline - bearing in mind that the PER functionality is already being used with live data in current Production (i.e. data is already in existence in Live) we need to be sure that either the current code supports both existing/legacy data and future-state/newly entered data - or else that there is a migration pathway to convert existing Production data to the new structure.  Thanks aga

[2020-01-29 17:18] teklal commented on #953
@necoline yes, exactly!

[2020-01-29 17:30] teklal opened #954 "[PROD] PER: Preparedness tab does not render in Production"
## Issue
https://go.ifrc.org/preparedness does not function.
The issue arose after a user had submitted forms A3 and A3-2 for Barbados.

## Steps to reproduce
Log in and click on "Preparedness" at the top of the GO page.

## Expected behaviour
The Preparedness page should load.

## Related feature
PER #953
PER #950
PER #952

As the issue arose after submitting forms A3 and A3-2 this problem may be

[2020-01-29 18:04] nanometrenat commented on #953
Hi @necoline to be clear there are two different things here which may be related.  One is which URL maps to which labelled button in the top section
![image](https://user-images.githubusercontent.com/33625192/73380486-6b555880-42c4-11ea-9284-59fd585cfa79.png)
 i.e. if you hover over the two Area 3 buttons in STAGING the **URLs** are the correct way round:
- Area 3: Operational Capacity links to /

[2020-01-29 18:14] nanometrenat commented on #954
Errors:
TypeError: Cannot read property 'id' of undefined
GET https://prddsgocdnapi.azureedge.net/api/v2/per_ns_phase/?country= 500

[2020-01-29 18:15] nanometrenat commented on #954
As per Tekla's comment above

However we need to know for sure that this issue will be addressed - can we discuss best plan to check/test the new code will play nicely with the Production data once it is released?  Thanks!

[2020-01-30 09:17] szabozoltan69 commented on #926
Another example is (thx Natalie) https://go.ifrc.org/emergencies/3751#details - ERU reports.

[2020-01-30 14:09] #947 closed

[2020-01-30 14:24] batpad commented on #954
This looks to be caused by the backend returning a 500 error for this URL: https://prddsgocdnapi.azureedge.net/api/v2/per_ns_phase/?country=

@szabozoltan69 @GregoryHorvath would you be able to help here to check out what might be going on / get some logs from the server if possible? Since this is appearing on production, it's not related to any of the refactor changes, none of which have been mer

[2020-01-30 14:45] necoline commented on #950
The current fixes implement best frontend practices to ensure a resilient UI regardless of the data that is coming through. It does not affect the data structure in any way. The core of the bug is rooted in data and is worth examining as part of a larger solution pertaining to the backend and a possible adjustment of the way the frontend receives data coming through. My understand that this type o

[2020-01-30 14:46] nanometrenat commented on #954
@batpad @szabolcsgajerifrc @GregoryHorvath could this 500 error be due to the fact that PER Process Phase table is currently empty in Prod?  (this still ought to be handled, but might explain the error).

Re the per_ns_phase API, note that:
* re Production:  if I put any parameters in (e.g. country=1 OR limit=1 or whatever) I get a 200 response, I'm only getting a 500 if there are no parameters at

[2020-01-30 14:55] necoline commented on #953
Thank you all of the clarification.
#952 is ready for testing

[2020-01-30 15:23] szabozoltan69 commented on #954
Yes, it's true, that this error comes only when the related PER table is empty. In my local environment for a curl request 'api/v2/per_ns_phase/?country='  I get a nice answer: {"count":4,"next":null,"previous":null,"results":[{"id":5,"country":178,"phase":4,"updated_at":"2019-07-09T08:38:08.491268Z"},{"id":4,"country":82,"phase":2,"updated_at":"2019-07-09T14:15:20.002430Z"},{"id":6,"country":307,

[2020-01-30 16:58] szabozoltan69 commented on #954
Now there is no API error on https://go.ifrc.org/preparedness - though nothing can be seen (due to the empty PER database).

[2020-01-30 20:30] nanometrenat commented on #954
Thank you @szabozoltan69 for fixing up the API error, most appreciated.

@batpad the page still doesn't render in Production though - the 500 error is gone but the other error remains:
TypeError: Cannot read property 'id' of undefined ...
    at Array.forEach

Am I correct in guessing that the For Each is probably falling over solely due to no data?  In which case I am happy to close this ticket.

[2020-01-30 20:38] nanometrenat opened #956 "[PROD] Front End does not show last login date for users"
## Issue
Spin off of https://github.com/IFRCGo/go-api/issues/522 whereby the last login date shown in Django admin site only reflects last login to back end (logins to the front end site are not tracked in db).

## Steps to reproduce
Create a new user, log in to GO front end, check that user on Django back end and you will see the last login date is still empty.

## Expected behaviour
Should show

[2020-01-31 10:54] lauripynnonen commented on #553
Just to extend this ticket - the export fails with all surge alerts https://go.ifrc.org/alerts/all (currently 507 alerts), however when limiting the view to just FACT surge alerts (349 alerts, 1,223 KB csv file) the export works just fine. Maybe there is a magical limit somewhere between those numbers.

Interesting side note: the exported FACT-surge file is named "surge-alerts-africa.csv" even tho

[2020-01-31 11:35] nanometrenat opened #958 "[PROD] URLs - BASE URL points to staging, notification emails - also user-friendly URLs please"
## Issue
There are several places in LIVE where a staging URL is shown.  We need to fix this so the appropriate URL for the environment is shown.  Ideally the URL would be the user-friendly URLs (go.ifrc.org and goadmin.ifrc.org rather than the azureedge URLs)

1. When a user registers for GO in Production they receive a confirmation email directing them to https://prddsgocdnapi.azureedge.net/veri

[2020-01-31 11:42] nanometrenat commented on #958
NOTE:  I will need your advice re how to test this in Staging, as currently emails from Staging don't come through.  We may need to use peer review approach rather than full testing (for the email aspects anyway)

[2020-01-31 13:19] GregoryHorvath commented on #958
@szabozoltan69 explained to me once why he explicitly used the staging URL for the logo instead of the production one, to be totally honest I can't remember the reason sadly, but I believe this could be changed with no problem.
It should be easy to change these into using some ENV variables instead anyway, as you said.

If I don't find any other way I'll try to manually send some e-mails using loc

[2020-01-31 14:34] szabozoltan69 commented on #958
The reason was just for performance.
I wanted to minimize the requests for the production site. (The staging site is "underused" normally, it can tolerate some more requests.) But if you think this can be deceptive (and the PROD site can bear more usage) then let's set it to PROD.

The BASE URL nicing is a good aim. Please check whether the recent one (dsgoproxyapp or dsgocdnapi) is not checked/ha

[2020-01-31 14:56] szabozoltan69 commented on #958
On backend side these files contains "dsgo":
[code]
Two important checks are these, they should be changed:
main/context_processors.py:
 'IS_STAGING': True if settings.PRODUCTION_URL == 'dsgocdnapi.azureedge.net' else False,

main/runserver.sh:
 if [ "$API_FQDN"x = prddsgocdnapi.azureedge.netx ]; then

[2020-01-31 16:15] nanometrenat commented on #958
OK understood, the imageURL was the least important part (you are right, my eyes were too curious!)  And mostly the logo image doesn't change - but I know we have a logo upgrade coming up so we will have to be careful with that :)

So, given the above info, the most important thing to fix is part 1 re user registrations as that is confusing people.

Then part 3 re email links because again this wi

[2020-01-31 16:24] szabozoltan69 commented on #958
Not at all! :-)
Now in the code there is no hardcoded "dsgo" in email templates (except the logo).
I deploy it and make a test (in 15 mins)...

[2020-01-31 17:55] szabozoltan69 commented on #958
Now the password recovery email links to nice URL (on PROD).
Also changed to the nice URL the "start your IFRC GO experience" link in registration emails. :-)
(Logo remained the one from staging).

(There are some users, who are is_active, after the latest registration_pending record, so it shows that – except some usertons - the registration was not impossible even in the last days.)

If you want

[2020-01-31 17:57] szabozoltan69 commented on #958
So, by now, we can close this issue, if you agree (and tested).

[2020-01-31 17:57] nanometrenat commented on #958
OMG and on your last day too!  Hugest of thanks to you for all this.  Best wishes from us

[2020-01-31 20:28] nanometrenat commented on #958
@GregoryHorvath @szabozoltan69 unfortunately the fix for 1 was unsuccessful in Production.
The email I received when registering as a new user sent me to https://prddsgocdnapi.azureedge.net/verify_email/

BUT then on that page the 'You can start your IFRC GO experience here' linked only to
**`https://login/`**
(i.e. is now missing the domain completely, so user has no host to resolve)

To be hones

[2020-02-01 07:43] szabozoltan69 commented on #958
Ok, I'll check it. Somehow that needed variable (frontend_url) is not visible in that template... Sorry for the "early happyness".

[2020-02-02 12:18] nanometrenat commented on #958
FYI I only just saw the Teams question - apols - for clarification, point # 1 relates to a PAGE on GO, not to an email.  It's the https://prddsgocdnapi.azureedge.net/verify_email/ page that was pointing to Dev before, and now has no domain.  Thanks all!

[2020-02-02 14:36] nanometrenat commented on #915
Potentially related to changes made under https://github.com/IFRCGo/go-api/issues/536 ?

[2020-02-02 15:10] nanometrenat commented on #619
xref https://github.com/IFRCGo/go-frontend/issues/936 which may need to be cleaned up

[2020-02-02 17:00] szabozoltan69 commented on #958
Dear @nanometrenat – plese give one more test to the registration process on PROD. (Last time I've forgotten to change both kind of "*success.html" templates. (https://github.com/IFRCGo/go-api/commit/adaa8d44204859db22ca5903ca58f36d6c6ff08f – later I fixed the typo "frontent")

(Now I used a better tracking method for the fixing – via the "shell" possibility of the django framework.)

[2020-02-02 17:28] nanometrenat commented on #958
Sorry to report @szabozoltan69 but now I'm getting `Page not found The requested page does not exist or may have been removed.` for https://go.ifrc.org/verify_email/?token=cgjIMnKLw6oCdgui0qmKnfhiz4U17swP&user=natalieifrcrego
(this was a new user with an IFRC email address).  User therefore remains inactive even after I clicked on the link in the verification email.

[2020-02-02 19:52] szabozoltan69 commented on #958
Oh, yes, thanks @nanometrenat – I went too far with forcing the "nice frontend". It is a link to BACKEND. If I wrote in the "admin" word after go, it was correct, and took me to the (backend) web page:

It is a great day!
You’ve validated your email address and your IFRC GO account is now approved.
If you do experience any problems, please contact im@ifrc.org.
You can start your IFRC GO experience

[2020-02-02 20:26] szabozoltan69 commented on #958
Hopefully now it's ready...

[2020-02-02 21:09] nanometrenat commented on #958
Thanks @szabozoltan69 I have tested two scenarios and am pleased to confirm both pass in Production - thank you.

1. with a National Society user that requires two verification emails:
* First email to user has correct URL to verify address:  https://goadmin.ifrc.org/verify_email/?token=xxx&user=yyy
* Email to verifiers has correct URL for them to verify the user:  https://goadmin.ifrc.org/validat

[2020-02-02 21:09] #958 closed

[2020-02-04 09:41] teklal commented on #844
So the feedback from the PER team is to use "Current PER phase"

[2020-02-04 10:06] batpad commented on #844
Thanks @teklal - I have made this change in https://github.com/IFRCGo/go-frontend/pull/959 and merged to `develop`. This change should be on staging in a few minutes.

[2020-02-04 12:31] teklal commented on #943
This is an issue again. The Preparedness tab does not currently render in the staging environment but gives a blank page.

[2020-02-04 12:53] batpad commented on #943
Sorry, inadvertently closed.

[2020-02-04 13:08] batpad commented on #943
@necoline - this seems to be reproducible only when logged in. The problem seems to be `correspondingComponent` being `undefined` here: https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/preparedness/global-preparedness-highlights.js#L25 - this seems similar to another issue which seemed to assume `getPerComponent` will always return an array with at least one member.

[2020-02-04 21:51] necoline commented on #943
I just need to apply the fallback to a default value to a different output of `getPerComponent` by adding the fix in #944

[2020-02-05 06:43] batpad commented on #943
@nanometrenat @teklal these fixes have been merged and will be on staging in a few minutes. Please test when able. Thanks!

[2020-02-05 08:27] teklal commented on #943
It works now for me on staging. Thanks!

[2020-02-05 11:05] #943 closed

[2020-02-06 17:50] nanometrenat opened #965 "[PROD] Display change RR to Rapid Response in Deployments section and include in calculation"
Logged on behalf of Sune

## Issue
Recently a new category of deployment was added - 'Rapid Response'.  Think it was via this change (not via a ticket):  https://github.com/IFRCGo/go-api/pull/590/commits/f5d16f41586f808b9a175ca2a9e8199950c15274#diff-cee64f30dcc9faf89588eda83273ec9a

1. On the front end this shows in the 'type' column as 'RR'.  This should show 'Rapid Response' NOT RR (It's fine fo

[2020-02-06 18:17] nanometrenat commented on #929
The logo will need to be updated in the following places that I can think of, dev to please look through code and ensure all places are found!

- homepage of both front end
- homepage of back end
- notification emails (all types of notification email)

[2020-02-06 18:54] nanometrenat opened #966 "[Maint] Remove Admin link from surge email notification"
## Request
Please remove the `| GO Admin` link from surge *alert* and surge *deployment* notification emails.

Currently, for surge alert notifications, after the description there is a 'Read more' link to the emergency page (which we need to keep), then a link to the edit surge alert page on GO Admin (which is the link we need to remove - both the text and the hyperlink should be deleted).

## Ba

[2020-02-08 19:38] nanometrenat commented on #434
Related to #471

We are now seeing problems where users can't reset password as typing their email address with a different capitalisation to what it was saved as when registering/being migrated.  From the above comment it sounds like the password change process was meant to be case-insensitive but that doesn't seem to be the case in practice.  I will log a separate ticket.

[2020-02-10 13:33] nanometrenat opened #968 "[PROD] Appeals documents ingest not picking up all documents"
## Issue
It seems that the Appeals Documents scraper is not ingesting all appeal documents.  e.g. the recent Operations Update for MDR00005 that appears on https://www.ifrc.org/en/publications-and-reports/appeals/?ac=MDR00005&at=0&c=&co=&dt=1&f=&re=&t=&ti=&zo= was not pulled through, but the Cronjob is not reporting errors.  I have manually uploaded this particular document for now.

## Expected b

[2020-02-10 20:46] GregoryHorvath commented on #968
Some updates for this:
1. Collects the Appeals which have an **'End date'** set in the database for **the last 3 months** and **if the Appeals don't have any documents yet**.
2. Zoltan confirmed this was only used when an environment needed a full ingestion, like an initial one for example.

So I'm pretty sure it's not pulling that document through because of the second part of the 1. Should I cha

[2020-02-11 08:27] nanometrenat opened #969 "Export file enhancement - dates in format that can be opened by Excel"
Noted by Sune
xref #553 re Exporting tables

At the moment when GO tables are exported (e.g. emergencies, surge alerts etc.) the date fields are in T Z format (i.e. include time and timezone information) as per ISO_8601 e.g. 2020-02-06T12:45:13.486476Z

The problem is that when the file is opened in Excel, Excel does not recognise these fields as dates, so users have to do manual formulae e.g. =DA

[2020-02-11 09:01] batpad commented on #969
Thanks for the ticket @nanometrenat, this makes a lot of sense and should be relatively straightforward.

[2020-02-11 09:03] batpad commented on #918
Marking this closed. Feel to re-open if something does not work as expected @teklal

[2020-02-11 09:03] #918 closed

[2020-02-11 09:04] batpad commented on #953
@teklal @nanometrenat could you confirm this works as expected? thank you.

[2020-02-11 09:05] batpad commented on #844
This text change is done. Please re-open if anything needs to change.

[2020-02-11 09:07] teklal commented on #953
Yes, works as expected.

[2020-02-11 09:07] #953 closed

[2020-02-11 09:57] nanometrenat opened #970 "[Display] Featured Operations card - display dash instead of zero"
## Issue
Currently a zero is shown if there is no data for an item in the Featured Operations card on Go homepage - e.g. if there are no deployed ERUs or no Targeted Population then zeros are shown.

![image](https://user-images.githubusercontent.com/33625192/74226422-cc196380-4cbc-11ea-8d3e-df2aa2b97412.png)

On the Operation page, cards are hidden if there is no data - but in the Featured Operat

[2020-02-11 10:36] teklal commented on #931
Sorry @batpad for taking so long to get back to you on this. One area in which it would be great to have formatting enabled, is the surge alerts
 https://prddsgocdnapi.azureedge.net/notifications/surgealert/
https://go.ifrc.org/alerts/all

(Keeping in mind though that these will be in the future pulled automatically through an api)

[2020-02-11 12:37] nanometrenat commented on #968
Thank you, it makes sense to me that it adds documents if the documents don't already exist on GO.  BUT I think we really need to test this somehow (even if locally) to make sure that it doesn't do unexpected things (e.g. create duplicates of documents that already exist on an appeal etc.)  @GregoryHorvath @batpad are you able to confirm that everything will be OK in that respect?  Thanks a lot!

[2020-02-11 12:41] batpad commented on #968
The code here should prevent duplicate appeal docs from being ingested: https://github.com/IFRCGo/go-api/blob/8ccfdb63db2d55a704dd18349285f6e4fabbd463/api/management/commands/ingest_appeal_docs.py#L107 - @GregoryHorvath it would be great to give this a try locally though just to be double sure nothing unexpected happens.

[2020-02-11 12:49] nanometrenat commented on #587
#968 is latest ticket re Appeal Documents

[2020-02-11 14:55] GregoryHorvath commented on #968
Sure I've tested it locally but we could test this on staging too.

[2020-02-12 09:14] nanometrenat commented on #936
Happened again today with New Caledonia (country 252) - selecting New Caledonia in the field report Country dropdown causes an immediate white screen due to a 400 error being returned for country=252&limit=200 (because no districts present for that country).

New Caledonia should not be available to select in the Countries dropdown.  Will update the master ticket #938 re Spatial data.

[2020-02-12 09:14] nanometrenat commented on #938
We have again had another instance in Production where a field report cannot be submitted because the countries dropdown and the database did not line up.  xref #936

[2020-02-12 16:50] teklal commented on #844
Hi @batpad , thanks for making the text changes.

There is one thing that I've noticed with the map and that needs to be addressed:
The dot over Argentina is currently black (which is not a color in the legend and does not correspond to any of the phases) and I haven't figured out a reasoning for that color. As it doesn't have a phase specified, it should be gray i.e. "incomplete"

![image](https:

[2020-02-12 17:21] teklal commented on #950
I'm still getting a blank page when trying to navigate to the Preparedness tab of Bulgaria but weirdly am able to view the Preparedness page of Belgium. Haven't tested for others this time.

[2020-02-12 21:46] necoline opened #971 "PER Refactor Retrospective"
## PER Refactor Retrospective

In November 2019, the DevSeed team noticed a nontrivial amount of tickets being filed to fix features relating PER. As part of an effort to contribute to a solution that would drive at the root of these bugs, we published a paper reviewing the code practices that should be changed to facilitate a more resilient product.

[PER Review.pdf](https://github.com/IFRCGo/go-

[2020-02-19 11:55] GregoryHorvath commented on #966
Fixed in: https://github.com/IFRCGo/go-api/pull/612, https://github.com/IFRCGo/go-api/pull/612/commits/fed79d54115d57e733b940c78792e662c289e2a0

[2020-02-19 11:55] nanometrenat commented on #968
There were 3 appeal docs added to IFRC website last night for MDR00005 and 1 this morning for MDRAF005.
None of them pulled through to Prod (both these appeals already existed in Prod, and had previous documents linked)
However all 4 of them successfully pulled through to Staging (thank you):
ingest_appeal_docs at Feb. 18, 2020, 4:18 p.m. shows "Done ingesting appeals_docs on url https://www.ifrc.

[2020-02-19 15:13] nanometrenat commented on #968
Verified that the matching is based on appeal doc URL.  Manually manipulated 4 docs as follows, when the job next ran it picked up 3 docs as being new and needing to be added.

- MDRAF005 - Operations Update 4 - changed name to add "Test"  => result: no change, no new doc added _- PASS_
- MDR00005 - Appel d'urgence révisé #1 - changed Adore URL to add "4" on the end => result: doc added again with

[2020-02-20 07:49] batpad opened #973 "[Staging] PER Forms being submitted with country_id as null"
## Issue

It seems like it is possible to submit a PER form such that the country id gets submitted as `null`. The steps to reproduce seem pretty reliable / am able to reproduce consistently.

## Steps to reproduce

 - Go to Account Page -> PER Forms.
 - Select a National Society from the dropdown
 - Select a Form to to create, eg. Area 1: Policy and Standards
 - Fill in form and submit

**Expecte

[2020-02-20 07:58] batpad commented on #973
Quick note: Logged out the value of `this.props.nationalSociety` here and it seems fine: https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/per-forms/per-form.js#L40

[2020-02-20 08:07] batpad commented on #973
Seems like the problem is this line:

https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/per-forms/per-form.js#L182

It is:

[code]

I believe this should be:

[code]

Will test a bit and confirm that this associates the country_id correctly on new forms.

[2020-02-20 08:09] nanometrenat commented on #973
Thanks @batpad you are right that there should ALWAYS be a country associated with a PER form.  Thanks for investigating this.

[2020-02-20 09:19] teklal opened #974 "[Staging] PER: stop benchmarks from being mandatory"
## Issue / Expected behaviour
As per request from the PER team, the _benchmarks_ in a PER form should not be mandatory **but** the _components_ should be.

So within a form that is filled by a user (Account -> PER forms -> Choose National Society from dropdown -> click on one of the "Area" forms), the benchmarks should not be mandatory fields (in the screenshot below 2.X) but the final box within

[2020-02-20 09:20] nanometrenat commented on #965
Thanks, checked in Staging and Rapid Response is now shown in places 1 & 3 above, and the calculated totals include Rapid Response as well as FACT.   Good to go to Production :)

[2020-02-20 09:43] nanometrenat commented on #968
Suspect the blank one was manually-added as it has a specific time of day (as opposed to others from the scraper, which have midnight as the time.  Therefore ignoring this one, thanks.
5951 | 2020-01-08 09:17:54+00 | Emergency Appeal                                     |          |                                                   |      3283

[2020-02-20 10:00] GregoryHorvath commented on #968
Based on this how **should** it work? If there was an Appeal Document with the same name, delete the existing one and pull the "new" one through, or should we keep both (as it is now based on how it looks on staging)?

[2020-02-20 10:54] nanometrenat commented on #968
Hi @GregoryHorvath I think the current way of working is good.  Old documents should not be deleted by the scraper - fine to keep both.  If it's easy to We can manually address any historic issues where docs were manually added because scraper wasn't picking them up.  This should be a one-off process though, as once the new code is in Production there shouldn't be new duplicates created going forw

[2020-02-20 15:13] batpad commented on #950
It seems like the current blank screen is actually the result of this backend change 3 weeks ago: https://github.com/IFRCGo/go-api/blame/a80f0223215d855ec4ee6ba7f13e208b1e71ad48/per/drf_views.py#L361

I'll do a bit more digging to figure out why that change was made and whether we should fix this by reverting the change or by changing the way the frontend deals with no results for the NS Per Phase

[2020-02-21 12:53] nanometrenat commented on #922
As per @LukeCaley comment above we need to add an extra field in the countries table for IFRC web URL, and we will then manually populate (rather than constructing the IFRC.org URL programmatically)

[2020-02-21 15:19] necoline opened #975 "End-to-end Testing with Cypress"
# End-to-End Testing

End-to-end testing is an approach to QA that checks to ensure that an application is behaving as expect from start to finish. Unlike unit testing or integration testing, end-to-end focuses on functionality from the perspective of a user. Similar to our current manual testing process, a testing library like Cypress with goes through an application and simulate user actions lik

[2020-02-21 19:50] nanometrenat commented on #931
Currently on the Back End there is a formatted text editor for editing the 'summary' field for Emergencies:  https://dsgocdnapi.azureedge.net/api/event/3833/change/

HOWEVER not all of the formatting input there is rendered when the page is displayed - e.g. can't have multiple levels of bullet points:  e.g. see https://dsgoproxyapp.azurewebsites.net/emergencies/3833#details

So, we need to make su

[2020-02-21 20:29] nanometrenat opened #976 "[PROD] Cyprus appeal won't link to a country"
## Issue
https://go.ifrc.org/appeals/all - the DREF for MDRCY001 | Cyprus - Population Movement does not have a country linked.  It doesn't have an emergency page so correctly doesn't have the emergency link - however it should be possible for it to be linked to a country anyway!

I have manually linked this DREF to Cyprus in the Admin UI, and it shows as linked on the front end - but then when I

[2020-02-21 20:30] nanometrenat commented on #976
NOTE the ISO code is also capitalised in the Front End code (my change above is ONLY for the db)
https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/utils/field-report-constants.js#L232

[2020-02-21 20:32] nanometrenat commented on #415
xref https://github.com/IFRCGo/go-frontend/issues/415

[2020-02-21 20:32] nanometrenat commented on #415
xref https://github.com/IFRCGo/go-frontend/issues/938

[2020-02-22 07:46] nanometrenat commented on #976
Just checked again and this DREF operation is still linked to country = Cyprus, so think the immediate issue is resolved.

Leaving ticket open though so we can check data/config for other countries (db and code)

[2020-02-23 12:11] guipizzini commented on #644
Feedback on the "mapping" how each data point relates to the graphics and charts was done already several times and @batpad is aware of this and has the file.

The issue is that the development of the graphics and charts does not match the user requirements outlined in the UX/UI wire frames.

@nanometrenat For your information - Action required: Ensure that the staging environment has the graphics

[2020-02-24 12:32] nanometrenat commented on #940
@batpad confirms this is a top priority for refactor work in 4.2.

FYI #938 has links to a number of tickets around countries (although that ticket is much wider than just the front end/back end thing!)

[2020-02-24 18:52] nanometrenat commented on #834
@teklal can you please check if any more work is required under this one?  Cheers!

[2020-02-24 18:53] nanometrenat commented on #845
Hi @teklal can you please check if further work is required for this one, and assign to Sanjay if there is?  Cheers!

[2020-02-24 18:55] nanometrenat commented on #865
hi @batpad, assigning to you to confirm if any specific work/testing is still required under this ticket or if it can be closed now.  Thanks!

[2020-02-25 12:51] lauripynnonen opened #977 "Navigating to another country through search retains old info on 3W[Staging]"
## Issue
*Please describe your issue clearly and concisely. If possible, include when you first encountered the issue, who it affects, a link to a relevant page, and any other information that might be helpful in diagnosing its cause.*
Navigating to another country through search retains old info on 3W.

## Steps to reproduce
*If you can reliably reproduce the issue, please list the steps taken to

[2020-02-26 13:25] nanometrenat commented on #970
The double-dash (--) is shown for a very short moment while the page is loading!  Then is replaced with a zero.

[2020-02-27 12:09] batpad commented on #954
This looks fixed and tested to me. Feel free to re-open if there are issues @nanometrenat @teklal

[2020-02-27 12:09] #954 closed

[2020-02-27 12:11] batpad commented on #950
The backend fix has been deployed. @nanometrenat @teklal if we can confirm that the Preparedness page for countries no longer seems to crash, that would be great, to be able to move on to the other enhancements.

[2020-02-27 12:13] batpad commented on #973
I have deployed a fix for this on staging.

It should now always correctly associate a country id with the form submission.

cc @teklal @nanometrenat

[2020-02-27 15:55] necoline commented on #940
Here is a list of places where hard-coded values should be replaced with API calls:
I would love to see if there are existing API calls that we can immediately put into place here or if we need to make a PR to create that

https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/

country-codes:
- priority: High
- location: [app/assets/scripts/utils/field-report-constants.js](https://

[2020-02-27 17:06] nanometrenat commented on #968
Change released to Prod just now :)

[2020-02-27 17:11] nanometrenat commented on #940
Hi @necoline thanks for this.

Re some of your points:
I think _country-codes_ and _country-iso_ are returned by /api/v2/country/ BUT we need to make sure we have the right filtering in place for each usage (as Regional Offices etc. are also stored in country table and returned via API.

Re ERU-types I think this can be ignored for now as will shortly be rejigging the ERU section.

[2020-02-27 17:52] necoline commented on #940
Got it. Thanks @nanometrenat! This is very helpful

[2020-02-27 17:56] batpad commented on #940
@necoline this is great!

For `country-bounding-boxes`, `country-centroids` and `district-centroids`, I am fairly certain we currently don't store this data on the backend. I know this is marked as low priority as I can see there is less chance of things breaking, but I would strongly advocate adding these to the backend.

@necoline @nanometrenat we can talk about this, but I think this will be an

[2020-02-27 18:00] nanometrenat commented on #940
Thanks team!  @batpad agree we should absolutely consolidate rather than have things in two places - however if data is stored in only one place (front end) and is rarely changed then we need to consider site performance when deciding whether or not to store it in the back end instead.  We wouldn't want to make page loads any slower if they don't need to be.  Know you'll consider that (e.g. cachin

[2020-02-28 13:40] GregoryHorvath commented on #970
@nanometrenat I could make the Deployments to be dashes instead of 0 if there are no data, but the Population seem to be a required field for Appeals anyway (so they have 0 as default).
![image](https://user-images.githubusercontent.com/30079559/75553052-f0549e80-5a37-11ea-9012-535e3d1c5022.png)

Are there any instances where an Emergency doesn't have any Appeals attached to it? Because in that ca

[2020-02-28 13:48] nanometrenat commented on #970
Thank you

It is very common that an emergency does not have an appeal.

Re Targeted Population, it doesn't really make sense to show zero (even if it is a required field), so may need to put a special condition in to show dashes if zero.  @munu I would appreciate your thoughts on whether this is a good idea from your point of view

________________________________
From: Horvath Gergely <notificat

[2020-02-28 13:57] nanometrenat commented on #970
Hi,

Yes it would be better to have those dashes to reflect that the information is missing. If there is an operation then you have the targeted population. Especially for the example below. It would send a wrong message that we looking for 76,946 to assist 0 people. Something must have gone wrong to have 0 on that card.

Regards,

Mununuri Musori
Information Management, Planning and Reporting
Dis

[2020-02-28 14:11] GregoryHorvath commented on #970
@nanometrenat @mmusori This is how it would look if there are 0 population/funding and no deployments (keep in mind these all are random test data, and the cards' height look off only because my browser window was small so it couldn't fit 'CHF' into one line with the number).

![image](https://user-images.githubusercontent.com/30079559/75555406-7541b700-5a3c-11ea-9f6a-948ce494af7d.png)

[2020-02-28 14:16] nanometrenat commented on #970
Thanks @mmusori the current case where we've correctly made an appeal with an unspecified targetted population is COVID-19

[2020-02-28 15:03] necoline commented on #940
From my perspective, the current approach is not saving us on performance since it is not connected to any caching strategy that I am aware of. Putting this in the backed will allow us to pursue best practices for performant request strategies that can be broadly applied to other data points that are rarely updated.

[2020-03-02 09:30] batpad commented on #831
@teklal I have been unable to reproduce this, working against a local copy of the database.

Things I tested worked:

 - Fill in "Area 3: Operational Capacity 2" form for Barbados
 - Save as Draft
 - Load Draft
 - Save Form
 - View saved Form

All the above steps worked successfully for me. @teklal I'm assigning back to you - if you are still facing issues here, I will probably need a screenshare

[2020-03-02 10:27] batpad commented on #974
On the frontend, we need to:

 - Modify the `checkFormFilled` method to allow the `Benchmark Status` fields to be optional - https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/per-forms/per-form.js#L231. There's probably a few ways to do this - ideally would be to add another property in the form data to specify `required` as either `True` or `False`. An alternative w

[2020-03-02 10:38] nanometrenat commented on #970
Hi @GregoryHorvath I have confirmed with @mmusori that for the Targeted Population we should put in an extra piece of logic to show -- when the figure is zero.  I know that zero != null, however in this specific case we should treat it as though it is.

An operation would only be highlighted if it has an Appeal.  The Appeal would normally have a non-zero figure in Targeted Population, but if it is

[2020-03-02 11:23] nanometrenat commented on #975
Deployment process ticket is #859

[2020-03-02 11:31] nanometrenat commented on #971
Closing as discussed with @batpad - thanks a lot for this documentation.

[2020-03-02 11:31] #971 closed

[2020-03-02 13:07] nanometrenat commented on #966
This change was deployed on 27 Feb, admin link no longer appears in surge notifications - therefore closing issue, thanks a lot

[2020-03-02 13:07] #966 closed

[2020-03-02 13:09] nanometrenat commented on #975
Closing this ticket as agreed on GO call.

It is great to have this documentation for future reference, however further QA process conversations are required on the business side before we look at implementing any specific tool.

[2020-03-02 13:09] #975 closed

[2020-03-02 13:47] lauripynnonen commented on #925
Hi all, I went through the comments and tried to find what has been done, what's still missing and what is completely out of scope here https://docs.google.com/spreadsheets/d/1Il9SoHoAh6s0Kod2xwKzxNqpvv6ttffpx29xSAASR1g/edit#gid=133357161 (refactored sheet1)
- [ ] Budget currency to the form (lines 6,10,11,12,19)
- [ ] Disclaimer on the status of the map boundaries (39, 40)
- [ ] Children field ch

[2020-03-02 20:55] teklal opened #981 "[Staging] PER: remove total number of components and "component" from"
## Issue
Not an issue per se but an improvement/change request resulting from discussion with PER team.
To avoid confusion around the number of components/sub-components the *PER components and sub-component results" box on a country's Preparedness tab (snapshot below), the highlighted part should be removed i.e. only show the big red number and also remove the text “component”.

![image](https://

[2020-03-02 21:11] teklal commented on #831
This is a curious one as I have not been able to reproduce the issue either but the PER team member who tried to submit forms experienced this. I tested this now again and it works for me. After submitting the form, it didn't however immediately appear in the submitted forms but after some page refreshes and after having submitted other forms I noticed it had appeared there.

[2020-03-02 21:12] teklal commented on #950
Great, this works now!

[2020-03-02 21:33] teklal opened #982 "[Staging] PER: Add option to set PER phase in the PER overview form"
## Issue (functionality enhancement request)
Currently the PER phase is set by logging into the backend. This however does not make much sense as the rest of PER information is filled through forms in the frontend. This is also one of the more important pieces of information as it is the phase that is displayed on the map on the global Preparedness page.

Each NS is able to submit an overview form

[2020-03-03 09:27] nanometrenat commented on #950
Closing ticket based on Tekla's comment above

[2020-03-03 09:27] #950 closed

[2020-03-03 12:08] nanometrenat opened #983 "[PROD] Additional IFRC countries - Bhutan and Marshall Islands"
## Issue
The Bhutan Red Cross Society and the Marshall Islands Red Cross Society were admitted on 5 December 2019 as 191st and 192nd full members of the IFRC. This was decided unanimously at the 22nd Session of the IFRC General Assembly that is currently underway in Geneva.

We therefore need to make sure that Bhutan RCS and Marshall Islands RCS are correctly represented on GO.  Iso codes are BT a

[2020-03-03 12:10] nanometrenat commented on #983
Assigning to @GregoryHorvath as this is a Support+maintenance issue, however @batpad you may need to feed in given the other work around countries vs db!  Thanks

[2020-03-03 12:21] nanometrenat opened #984 "[PROD] Field Report and Early Warning Field Report - "actions" not saving or displaying correctly"
## Issue
When a new Field Report or a new Early Warning field report is created, the "actions taken" are not stored or retrieved correctly according to what was submitted.

1. Actions Taken that are selected are not stored correctly in db (example, Field Report 9453 in Staging - “Human remains management and identification” and “Relief/Supply distribution” was saved and pulled through when I was e

[2020-03-03 12:22] batpad commented on #973
@teklal if you can confirm this is fixed, this should be good to close.

[2020-03-03 12:23] #865 closed

[2020-03-03 12:24] batpad commented on #844
@teklal - pushed a fix to fix the black dot issue. Ready for testing whenever you're able.

[2020-03-03 12:26] batpad commented on #831
@teklal the form not appearing immediately in the submitted forms is slightly concerning - this is something that was an issue that I thought should be fixed. Is it okay for you if I close this issue, and if you are able to reliably reproduce forms not showing up immediately after being submitted, we create a separate issue for that?

[2020-03-03 12:55] nanometrenat commented on #984
Comparison Early Action Field Report summary of input vs display for https://dsgoproxyapp.azurewebsites.net/reports/9454 (full screenshots available on Teams)

**Actions taken by National Society**
as displayed on view screen:
•	CTP/Basic needs - INCORRECT
•	First Aid - INCORRECT
•	Camp management - INCORRECT
•	Food aid- INCORRECT
•	Search & Rescue- INCORRECT
What I had input:
Brief description of

[2020-03-03 13:13] nanometrenat commented on #984
@batpad can you please check if this is front end or back end?  Please do assign to @GregoryHorvath for support/maint as required - thanks a lot!

[2020-03-03 13:45] nanometrenat opened #985 "[PROD] Early Warning Field Report not displaying correct fields/data"
## Issue
This is separate to #984 which relates only to "actions taken".  This ticket tracks some other issues with *Early Warning* field report type.

**Viewing submitted Field Report** (https://dsgoproxyapp.azurewebsites.net/reports/9454)
The following fields don't pull through to the View mode at all:

- Forecasted Date of Impact
- Information Bulletin

Also NB I foolishly didn't input a Potent

[2020-03-03 14:07] nanometrenat commented on #984
NOTE:  I can see that the data is different in the "actions" config table between Staging and Prod.
The Early Warning data is in a different order, and there are two options ("Activation of Early Action Protocol" & "Support Activation of Early Action Protocol") that are in Production but not in Staging.

The config data difference should not have an effect on functionality at all - only mentioning

[2020-03-04 12:02] nanometrenat commented on #938
Known country config issues (not definitive, just adding as we spot them):

- Regional pages - Macao is showing as a country (AP)
- Field report country dropdown - Aland Island, Puerto Rico, New Caledonia all showing as countries

[2020-03-04 19:17] nanometrenat commented on #976
NB just spotted that San Marino doesn't have a region in the db (should be Europe, and NS name is Red Cross of the Republic of San Marino).  So it doesn't appear on the regional page (but is on IFRC NS contact lists)

[2020-03-04 20:11] nanometrenat opened #986 "[PROD] Donor Response document links incorrect"
## Issue
Appeal Documents are automatically ingested to GO per doco in Teams.  GO simply copies the URL link to the doc from the IFRC appeals page, and stores the same URL (rather than storing the document itself).
There are several types of Appeal Documents, most are pulling through their links correctly however Donor Response docs are pulling through without the domain.

e.g. for the COVID respo

[2020-03-04 20:12] nanometrenat commented on #968
Working well apart from Donor Response docs, thanks a lot.  I have logged #986 to track the Donor Response doc work, so will close this ticket now.

[2020-03-04 20:12] #968 closed

[2020-03-04 20:33] nanometrenat opened #987 "[PROD] Field Report won't submit if source selected but no figure populated"
## Issue
I can't replicate this in Staging however saw for myself that the problem was happening in Production, when a colleague was trying to submit a field report last night.

User was getting the error "Error: Could not submit field report" and could not figure out why - country was valid and all data looked valid.

I looked in user's console and could see that create_field_report was returning

[2020-03-05 08:48] batpad commented on #984
@nanometrenat - thank you for this report.

There are parts of this that I am able to reproduce and parts not.

 - **Wrong data getting saved and output**: I am unable to reproduce this. When I save Actions, I see them show up correctly as I had marked them, both in the Admin as well as the Field Report view page. Do you think we could do a screen-share or so here? _Maybe_ the issue is a display /

[2020-03-06 11:25] batpad commented on #984
@nanometrenat I have pushed a fix to staging that should fix:

 - Incorrect values being saved, not corresponding to checkboxes being checked
 - Correctly populating checkboxes in the Edit Field Report mode

Will now look at the other tickets around data points missing from the Field Report Frontend view.

[2020-03-06 18:08] nanometrenat opened #989 "[PROD] Search function not picking up recent emergencies"
## Issue
We have identified that the search function in the top right hand corner of GO front end does not pick up recently-created emergencies.  It does return recently-added Field Reports however.  For example, there have been 9 COVID-related field reports+associated emergencies created so far this week, all the field reports are returned by the search but none of the events.

Similarly, when go

[2020-03-06 18:11] nanometrenat commented on #989
I have a hunch that it might perhaps be to do with whether or not an emergency already has a field report, but haven't been able to confirm that through testing...

[2020-03-09 06:37] #970 closed

[2020-03-09 11:07] batpad commented on #985
@nanometrenat I have addressed the critical issues in this ticket in this PR: https://github.com/IFRCGo/go-frontend/pull/990 - the pull request contains more details of exactly what has been fixed.

Out of the list of items where you have tagged @mmusori I have changed the `Description` label for the Early Warning Field Report, but not done anything on the other items. All other items in the ticke

[2020-03-09 12:01] GregoryHorvath opened #991 "[PROD] Country error in map"
## Issue

![MicrosoftTeams-image](https://user-images.githubusercontent.com/30079559/76211066-ae7ce280-6205-11ea-94a4-e9ff8a2f6012.png)

## Related feature
MSM ticket - SRV-18274

[2020-03-09 12:22] teklal commented on #844
Tested and can't see a black dot on the map anymore, cheers!

[2020-03-09 12:22] #844 closed

[2020-03-09 12:23] teklal commented on #831
@batpad sounds good, I'll close this issue now and will open a new one if I'll be able to reproduce this in a reliable way

[2020-03-09 12:23] #831 closed

[2020-03-09 12:47] lauripynnonen commented on #925
@frozenhelium @batpad Could you make sure you commit the 3W changes to the staging environment so that we can look at what still needs to be changed within this version? Cheers!

[2020-03-09 12:55] batpad commented on #925
@frozenhelium I'm going ahead and approving https://github.com/IFRCGo/go-frontend/pull/937 - if things feel ready for testing, we can merge this into `develop` and tackle the rest of the changes in a separate PR?

[2020-03-09 13:50] GregoryHorvath commented on #983
@nanometrenat Could you please go into details where it doesn't work? I added them to some places (not deployed yet) but even without them by just changing their Region to Asia Pacific it was enough for me to work on:

- Create Field Report page (**dropdown**)
- **Map** and **Countries list** on Region - Asia Pacific page

The whitelisting of domains is done via: https://github.com/IFRCGo/go-api/c

[2020-03-09 14:50] nanometrenat commented on #991
@GregoryHorvath note that the Cameroon office is the location of the Central Africa Country Cluster office - so if an appeal is for the Central Africa CCST (rather than for one specific country) it is correct for it to show as Cameroon.  However if the appeal is for the COUNTRY Central African Republic then it should show as CAR.
@LukeCaley FYI

[2020-03-09 16:44] nanometrenat opened #993 "[PROD] Field Report Data update script"
## Issue
The root cause of #984 is fixed (pending test/release) however we also need to go back and correct the data for those Field Reports that have already been submitted in the meantime.

This ticket is to track the work required to:

- [ ] confirm business rules around how the data was saved (vs how it should have been)
- [ ] write an update script (for the Field Reports submitted - or edited

[2020-03-10 05:18] frozenhelium commented on #925
:+1 @batpad Sure, I'll merge it to the develop

[2020-03-10 08:23] GregoryHorvath commented on #991
@nanometrenat I've found out the Country is set to Cameroon for the Floods Appeals. I've passed the MSM ticket about it to you in case this is an issue with just setting the Country to Central African Republic for the Appeals. If not then sorry for the ticket-volleyball, then what should the correct behaviour be for this?
@batpad FYI

[2020-03-10 10:21] nanometrenat commented on #974
@batpad advises that this will take a significant chunk more time to build.

So for now, this ticket is going ON HOLD, and I'm assigning @LukeCaley to confirm whether to proceed or whether to close ticket and leave all as mandatory

[2020-03-10 11:02] nanometrenat opened #994 "[Staging] PER grey screen - Area 5 Operations Support"
## Issue
In PER Forms (accessed from Account Menu), whenever I click on "Area 5 Operations Support" for a country that hasn't yet filled out that form (e.g. Bahrain, Sweden) I get a grey screen
Uncaught TypeError: Cannot read property 'nsConsiderationHeader' of undefined

## Steps to reproduce

- Go to PER forms:  https://dsgoproxyapp.azurewebsites.net/account#per-forms
- Select country (e.g. Bahr

[2020-03-10 11:19] nanometrenat commented on #991
Hi, I updated the ticket SRV-18274 - basically it's because this data is coming through that way on the Appeals ingest - so that is where you will need to investigate!  Thanks.

[2020-03-10 11:21] GregoryHorvath commented on #915
@nanometrenat So it won't add together the Funding for the highlights for DREF Appeals: https://github.com/IFRCGo/go-frontend/blob/866c5f490513465396daa79628af779a111fbe3a/app/assets/scripts/reducers/overall-stats.js#L52

@necoline (FYI) related commit: https://github.com/IFRCGo/go-frontend/commit/24ff1bc109fd8a0f6ae54a9675bf98f24560cd6f

[2020-03-10 12:19] batpad commented on #994
@nanometrenat thank you for the catch.

The reason almost definitely seems to be some of the components on this form not having `epiComponent` data - https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/per-forms/form-data/a5/english-data.js#L510 of course, the code should not grey screen here. Digging further.

cc @necoline for visibility

[2020-03-11 07:18] batpad commented on #994
Fixed in https://github.com/IFRCGo/go-frontend/pull/995

@nanometrenat please confirm fix on staging whenever you are able to test. Thanks again for the catch.

[2020-03-11 08:23] batpad commented on #982
TODO:

 - [ ] Add Select dropdown to select Phase in Overview Form
 - [ ] Get API to save Phase data based on form input: https://github.com/IFRCGo/go-api/blob/master/per/models.py#L26
 - [ ] Add phase data to API called when loading Overview Form
 - [ ] Handle populating of Phase correctly on frontend when loading Overview Form
 - [ ] Remove 'Baseline' from list of options for Phases, rename opti

[2020-03-11 08:59] GregoryHorvath commented on #991
Hi @nanometrenat, so I found this part: https://github.com/IFRCGo/go-api/blob/b8404016e125c8c898b147fb515717198045ae51/api/management/commands/ingest_appeals.py#L19

Where it ingests the appeals from: http://go-api.ifrc.org/api/appeals, and if `<GEC_code>CAF</GEC_code>` (which I assume is a region code) then the country is defaulted to Cameroon based on the above mapping.

We have these fields in

[2020-03-11 12:25] nanometrenat commented on #991
Hi, we definitely want Cameroon to remain affiliated to Central Africa Country Cluster.  So it is correct that if it comes through as CAF then it should be mapped to cm.

The question is why it is coming through as CAF - because @teklal and @mmusori have apparently checked the underlying data in the Data Warehouse and I am told it is correctly mapped there.

- do you have access to any documentati

[2020-03-11 13:05] nanometrenat commented on #994
Thanks @batpad confirming no more grey screen on Form 5, thanks for quick turnaround

[2020-03-11 13:05] #994 closed

[2020-03-11 14:24] GregoryHorvath commented on #989
Ref: https://github.com/IFRCGo/go-api/issues/631

[2020-03-11 17:52] nanometrenat commented on #991
Thanks for sharing info @GregoryHorvath
Confirmed that the appeal data coming through isn't what is expected.  Checking with IFRC Finance.

[2020-03-11 18:38] teklal commented on #991
Double-checked the information on BO and Apple and the appeal really is linked to CAR there.

Just noticed something interesting: on GO looking at "All Emergencies for Cameroon" https://go.ifrc.org/appeals/all/?country=41 I notice that this seems to have been a problem on a lot of prior occasions as well

And the same section for CAR: https://go.ifrc.org/appeals/all/?country=44
It seems that ever

[2020-03-11 21:17] teklal commented on #834
Most of the issues in this ticket have been fixed and addressed - however the problem of the email address going over the edges of the box is still there (first screenshot in this ricket).

[2020-03-11 21:22] teklal commented on #845
This fix is not done yet. As stated in the initial ticket/comment the overview box (it exists only if an overview form has been submitted for that country/NS) should be visible to all i.e. even not logged in users. Currently nothing is shown if a user is not logged in.

[2020-03-11 23:00] teklal opened #996 "[Staging] PER: Phase will not show on map if no Area forms have been submitted for that NS"
## Issue
At the moment the PER phase won't appear on the global Preparedness page's map if there have been no forms for Area 1 to 5 submitted for that country - even if the phase has been set on the backend and an Overview form has been submitted.

## Steps to reproduce
Set NS PER phase on the backend for a National Society that doesn't yet have PER forms filled and submitted and then go to Prepar

[2020-03-11 23:13] teklal opened #997 "[Staging] PER: Browser tab does not say Preparedness for PER related pages"
## Issue
The text on the browser tab (at least on Google Chrome) for PER related pages, i.e.
- global preparedness tab https://dsgoproxyapp.azurewebsites.net/preparedness
- when opening a PER form from the Account page

## Steps to reproduce
Navigate to the aforementioned pages/sections of GO and observe.

Current behaviour:
for the global preparedness tab it says IFRC GO - Home (as below)
![image

[2020-03-12 07:46] #834 closed

[2020-03-12 07:47] GregoryHorvath commented on #834
@teklal Sorry this auto-closes if I link the Issue to the Pull Request, if it's still needed as an open ticket feel free to reopen it.

[2020-03-13 08:50] GregoryHorvath commented on #989
@nanometrenat I believe this could be closed as well if you find the fix acceptable.

[2020-03-13 08:54] GregoryHorvath commented on #983
@nanometrenat The whitelisting of domains were deployed to production.

[2020-03-13 14:14] nanometrenat commented on #974
This change request is CANCELLED - @LukeCaley has agreed with PER team that existing rules will stay as-is (i.e. all components and benchmarks are mandatory).

thanks for investigating and working on this @batpad but no code check in required.  Closing ticket.

[2020-03-13 14:14] #974 closed

[2020-03-13 17:14] nanometrenat commented on #991
Contrary to Tekla's comment above, the information on BO and APPLE was actually **INcorrect**  It was a source data issue rather than a GO issue.

Looking at MDRCF025 it was showing in APPLE as Geographical Code CAF (which is the code for Central Africa, in IFRC ) rather than Geographical Code CF (which is the iso-2 country code for the country Central African Republic).

Finance have amended this

[2020-03-13 17:14] #991 closed

[2020-03-13 18:07] batpad opened #999 "[PROD] Link styling on COVID-19 emergency page"
## Issue

On this page: https://go.ifrc.org/emergencies/3972#additional-info - the styling of links is broken - shows with a blue underline.

This is likely due to custom global styles included in the snippet.

## Steps to reproduce

Go to https://go.ifrc.org/emergencies/3972#additional-info - see blue underline under some links, which should not be there.

## Expected behavior

Links should retai

[2020-03-13 19:05] nanometrenat commented on #983
Thanks for whitelisting.  Reopening this for the other work (some of which is database config that can be done by IM)

[2020-03-13 19:11] nanometrenat commented on #989
@GregoryHorvath thank you so much, this is hugely better!

When I go to https://prddsgocdnapi.azureedge.net/api/v1/es_search/?type=event&keyword=cov I am now getting a lot of the recent events returned.

However, can you please investigate why the Global COVID event is not being returned by the above call (emergency id 3972)?  It is definitely being indexed now (yay!) as it is returned by
https://

[2020-03-13 19:12] lauripynnonen opened #1000 "3W Map Export"
3W map export similar to other Go map exports.

[2020-03-13 19:15] lauripynnonen opened #1001 "Country 3W Data export"
Country page 3w data csv export.

[2020-03-13 19:16] lauripynnonen opened #1002 "3w delete activity"
The table in country 3w needs a delete activity function to complement the edit and view.

[2020-03-13 19:18] nanometrenat commented on #986
That's great thanks a lot - the latest Donor Response doc added in Prod (automatically) today has the correct full URL https://www.ifrc.org/docs/appeals/Active/MDR65003.pdf

Now that the root cause fix is in Prod we will need to go back through and delete/amend the erroneous historic links, hence leaving ticket open till that is done - this is likely a manual job for IM (as there are dupes in ther

[2020-03-15 11:32] GregoryHorvath commented on #989
@nanometrenat  My guess would be that since we just made Elasticsearch to reindex everything that’s why some searches will be slower in these first couple of days and it would speed up the more frequent searches soon. But I’m just guessing here, maybe @batpad knows about this more.

[2020-03-15 16:44] LukeCaley opened #1004 "COVID-1 // Adapt Field Report for epidemic response"
**Problem**
Field reports do not currently have data fields which are appropriate for an epidemic emergency.  for example "no. of injured" not "no. of confirmed cases".  This is resulting in confusion for National Societies and unreliable data capture.

**Proposed solution**
The field report structure to be replicated in terms of the four steps for data entry.  Option to submit epi field report al

[2020-03-15 16:55] LukeCaley opened #1005 "COVID-2 // Epi field report to appear on emergency (UX/UI page design of Field Report and Emergency pages)"
**Problem**
Visualisation of the field report data is currently sub-optimal.  With the addition of the epi field report (xref: https://github.com/IFRCGo/go-frontend/issues/1004) this would help to provide a quick reference overview for National Society domestic response to COVID-19

**Proposed solution**
Icons associated with the key data (cases, RC/RC actions) to provide a rapid situational overv

[2020-03-15 17:03] LukeCaley opened #1006 "COVID-3 // Non-emergency related uploads"
**Problem**
If a user wishes to upload a document to GO (IFRC blob storage) then it must be related to a emergency.  This is a problem for managing content which is not linked to the emergency.

This is an acute problem for content management of technical guidance for COVID, whereby the hyperlinks implemented through the workaround CMS are often pointing to various external cloud storage sites.

T

[2020-03-15 17:13] LukeCaley opened #1007 "COVID-4 // Link to reference materials"
**Problem?**
As COVID-19 is a global domestic emergency, we need a way to reflect global reference on domestic emergency pages.  This will help to ensure alignment and easy reference for National Societies.

**Proposed solution**
Global IFRC reference materials, predominantly hyperlinks but also potentially other types of documentation, reflected on COVID-19 emergency pages through some form of vi

[2020-03-15 21:07] LukeCaley opened #1008 "COVID-5 // Response docs box config - naming, pinned docs, ordering"
**Problem**
Response document box names / categories do not work for COVID-19.  Renaming or adding boxes is not currently an option because this cascades throughout the application on every emergency page.

Further, there is currently no option to pin key documents at the top of the box.  Finally, the order in which the response docs appear in each box is based on chronological order of upload rat

[2020-03-15 21:18] LukeCaley opened #1009 "COVID-6 // Add tab and rename"
**Problem**
Users would like to add and rename tabs on Regional, Country and Emergency pages.  Currently there are differing numbers of pre-named and, to an extent, pre-populated tabs on each of these levels.  While this is true of the expanding range of data to be displayed for COVID-19, it is also true of regional and national pages.

**Proposed solution**
Users should be given the option to add

[2020-03-15 21:18] LukeCaley commented on #855
Closing as expanded further and prioritised in https://github.com/IFRCGo/go-frontend/issues/1009

[2020-03-15 21:19] #855 closed

[2020-03-15 21:22] LukeCaley opened #1010 "COVID-7 // Merge emergencies"
**Problem**
Multiple emergencies are sometimes created for the same situation.  If field reports are associated with these emergencies it then becomes problematic to reconcile

**Proposed solution**
Back end function to merge emergencies and auto-redirect

[2020-03-15 21:28] LukeCaley opened #1011 "COVID-8 // Rich-text editor"
**Problem**
Rich-text editor is not working well.  Some features, such as indented bullets, do not exist as an option in the Django inrterface back-end.  Others appear to work in the back-end but do not translate into front-end as desired.  Xref: https://github.com/IFRCGo/go-frontend/issues/931

**Solution**
In order to structure information using lists, bullets, etc, the rich-text editor to be en

[2020-03-15 21:32] LukeCaley opened #1012 "COVID-9 // Section titles"
**Problem**
Sections on each emergency page are titled generically to allow for minimised manual input.  However it is frustrating when these generic titles are not appropriate or not providing sufficient explanation, e.g. "Additional information"

**Proposed solution**
An ability to either revise the title of an individual section for that specific emergency or to be able to create a sub-heading

[2020-03-15 21:38] LukeCaley opened #1013 "Vanity URL"
**Problem**
GO URLs are data-driven but quite difficult to remember.  It would be ideal if there was a way to create 'vanity' URLs to then be able to more easily redirect users verbally or without a hyperlink.

**Proposed solution**
Ability to give a name to the emergency page as a manual override to the sequential numbering, e.g. https://go.ifrc.org/emergencies/COVID

![COV-snip-URL](https://user

[2020-03-15 21:42] LukeCaley opened #1014 "COVID-11 // Emergency page contact organisation"
**Problem.**
It can be difficult to identify key contacts in an emergency when there are more than five.

**Proposed solution**
New feature to organise the contact details more effectively through:

- ordering
- sub-headings (e.g. Health or Africa Region)

![COV-snip-contacts](https://user-images.githubusercontent.com/7791954/76711224-44d16c80-670e-11ea-8cff-98baaf3bf72a.PNG)

[2020-03-16 08:57] GregoryHorvath commented on #1010
@LukeCaley I see 2 ways to go here:
- Keep only 1 emergency (probably the older one) and add all information from the newer one to it.
- Keep both emergencies but add all information from the newer one to the older one.

Agreed, this also raises questions like:
- What to do with the connected appeals and such? _(keeping both emergencies could lead to an issue with the ingested appeals I'd assume,

[2020-03-16 09:31] GregoryHorvath commented on #1013
@LukeCaley Would we want to expand this to the whole site or just emergencies atm?

[2020-03-16 09:46] batpad commented on #1004
Ideally, we can do this as described, as another "Type" of Field Report, in addition to Event and Early Warning.

It would be great to get an outline of the differences for the `Epidemic` type of field report as soon as possible, to help figure out what backend / data structure changes might be required. Also, as we discuss, to just verify whether the data still fits within the existing structure

[2020-03-16 09:49] batpad commented on #1005
Can we expand on this a little bit, and perhaps create a separate ticket, as the ability to "turn off" field reports or so seems perhaps a bit separate from the overall issue of visualing field reports on the Emergency page?

Will wait for UX guidance before speccing this out further.

[2020-03-16 09:59] batpad commented on #1008
The Situation Report Types that are used as the headings for the Response Documents on the Emergency page can be added to in the database and users could upload documents to different Situation Report Types.

For individual Documents, we could add a field in the backend like `is_pinned` and handle showing of `is_pinned` items on the top. So, from a data entry and backend perspective, I think this

[2020-03-16 10:03] batpad commented on #1009
@LukeCaley I'm fairly confused with the intention here. Users would add a tab, give it a title .. and then be able to insert arbitrary content? Or choose where current data from the tabs goes? Or just rename existing tabs to something else, but continue showing the data they currently show?

We could possibly think of having a feature where a user can add an arbitrary "Tab", give it a "Title" and

[2020-03-16 10:05] batpad commented on #1007
It would be great to decide whether this is something that will be "site-wide", or whether this is something we specifically need to add data models for -- i.e. maybe have a `GlobalResponse` model where one can add content to it -- and then be able to associate individual emergencies with being part of a `Global Response` and then linking those emergencies, etc.

Probably good to let UX guide the

[2020-03-16 10:06] batpad commented on #1014
This sounds good :+1: - will wait for UX guidance to spec further.

[2020-03-16 10:11] batpad commented on #1013
What we should do:

 - Add a `slug` field to Emergency, where users can define a custom short name for the URL
 - Add the ability to query an emergency by `slug` in the API
 - In the frontend router, accept non-number routes for emergencies
 - When receiving a non-integer value in the route, fetch emergency by `slug`

We will probably need to do a bit of figuring out on the frontend to get this to

[2020-03-16 10:14] batpad commented on #1012
@LukeCaley sorry I'm not sure I quite followed this bit.

Is the first part a request to be able to change the titles of existing tabs on Emergency pages? Like, the user wants to call it `Global Overview` instead of `Additional Information` or something, just for that Emergency? But that tab would continue to show the same data that it currently does?

If that's the intention, we could think of ma

[2020-03-16 10:17] batpad commented on #1011
@LukeCaley could you help with highlighting all instances of the rich text editor in the backend that we are facing issues with?

This seems like mostly a matter of:

 - Verifying that the HTML being saved in the backend is being output correctly onto the frontend
 - Add CSS rules for all the HTML tags being allowed / added by the backend editor, and ensure it looks consistent on the frontend.

We

[2020-03-16 15:17] lauripynnonen opened #1016 "3W: Input data to multiple countries from a single page."
A NS should be able to input data to multiple countries instead of having to navigate to each country page separately to enter data

The easiest way to achieve this: Change 3W form's country dropdown from disabled to <default selected current country> but allow change

[2020-03-16 15:20] lauripynnonen opened #1017 "3W: Last updated date wrong"
## Issue
Last updated date seems to be wrong. Just created an entry on 11/03/2020, says last updated 03/03/2020

## Steps to reproduce
Create an entry - check entry last updated date

[2020-03-16 15:23] lauripynnonen opened #1018 "3W Bulk Import"
Import multiple forms through an excel template that can be downloaded and submitted through the country page

Bulk import in the beginning only for skilled users

[2020-03-16 15:24] lauripynnonen opened #1019 "3W Aggregated visualization of regional data"
Ability to see a regional view of activities (map and table)

[2020-03-16 15:25] lauripynnonen opened #1020 "3W Aggregated visualisation of Global data"
As per regional view, but global

[2020-03-16 19:07] LukeCaley commented on #1004
Indeed, the desired behaviour is for there to be another 'type' of field report which refers to epidemic.  The "Field Reports” fields need to change when the user selects “Epidemic”, e.g.
Injured, Missing, Displaced become “Confirmed cases”, “Probable cases”, and “Suspected cases” followed by “Affected” and “Dead”.

**Below feedback from IFRC Health Informatics (Roxanne Moore) on desired changes t

[2020-03-16 19:08] LukeCaley commented on #1004
Suggest @yellowumbrella-design to create wireframe mock-ups on the basis of the above for rapid feedback from other colleagues.

[2020-03-16 19:18] LukeCaley commented on #1005
There is already the option to 'turn off' or hide field report data on the emergency page in the back-end interface for GO.
![COV-field-report-off](https://user-images.githubusercontent.com/7791954/76792139-a18e5f00-67c2-11ea-958f-ae51e09480e8.PNG)

The intention here is to provide a slightly more engaging result from the submission of field report data.  This will help NS to use GO as a means to

[2020-03-16 19:27] LukeCaley commented on #1007
This is the first, and I very much hope the last, time we have had a global domestic response during the lifespan of GO.  Indeed in living memory.  However there are other instances of multi-country response which did not come under one appeal, for instance in a migration scenario, e.g. https://go.ifrc.org/emergencies/3122#details and https://go.ifrc.org/emergencies/3495#additional-info.

Agreed t

[2020-03-16 19:34] LukeCaley commented on #1008
IF possible, I would suggest a hybrid of both options presented, in other words..

Treat the 6 Response Doc types as default, and showing a `No Documents Added` if one of these headings does not have any documents. But, allowing users to add/amend Response Doc type names in the backend, which only affect the individual emergency and do not cascade through every emergency.

[2020-03-16 20:26] LukeCaley commented on #1009
Thanks @batpad.  Indeed, this is "a feature where a user can add an arbitrary "Tab", give it a "Title" and some "Content", and display these additional tabs on the page if they exist".

One use case for an emergency might be https://go.ifrc.org/emergencies/3495#additional-info where this info might be found and organised more easily with tabs for `ops update` and `maps and graphics`.

Another use

[2020-03-16 20:32] LukeCaley commented on #1011
Some examples contained in Xref: #931.  @teklal @nanometrenat will I'm sure have others.

Issue is that there should not be any functionality (bullets, indents, etc) which appear as potential functions in the back-end only for them to fail to pull through to the front-end.

[2020-03-16 20:40] LukeCaley commented on #1012
Thanks @batpad - this is not about naming of tabs but rather sections.

The COVID-19 https://go.ifrc.org/emergencies/3972#details page has `situational overview`, `alerts` & `field reports` etc.  Users have suggested that it would be valuable to provide an emergency specific sub-title to explain the content of the section.

Therefore `situational overview` could have a date updated with indication

[2020-03-16 20:45] LukeCaley commented on #1013
Great, thanks @batpad
This should be extended across the site but starting with ad-hoc emergencies, country and regional office pages.  So, for instance, I'm quite sure Regional Offices would be keen to have their region title instead of https://go.ifrc.org/regions/1#operations for example, so that they could share this more easily offline.

[2020-03-17 04:46] batpad commented on #1008
@LukeCaley Sounds fine, except for allowing users to `amend` Response Doc type names. We can either:

 - Have the 6 default boxes show up in all cases, and add on any new situation report types the user has added for this emergency.
 - IF a user has added situation report types that are not part of the 6 default, no longer show the 6 default, but only the types the user has added.

The problem her

[2020-03-17 04:47] batpad commented on #1011
:+1: this is something we can start working on right away.

[2020-03-17 04:51] batpad commented on #1012
@LukeCaley thank you for the clarifications.

Is it possible to get a comprehensive list of all the subheadings that would be required? We can then go ahead with adding these fields to the backend, allowing the user to add custom subheadings for each of these.

And, once we have some UX guidance from @yellowumbrella-design, can work on adding these "subtitles" under the current headings on the Eme

[2020-03-17 10:43] batpad commented on #1008
- Add an `is_primary` to the Situation Report Type model - @LukeCaley to clarify what this should be called
 - Then we can show primary boxes always and secondary ones only if they have documents attached.

[2020-03-17 10:47] batpad commented on #1008
Ordering of Reports within boxes:

 - `is_pinned` should be on top
 - Order by date descending (and perhaps show the date along with the Document)

We can file a separate ticket to allow for custom re-ordering of documents within boxes (drag n drop or allow users to specify integer ordering numbers).

[2020-03-17 10:59] yellowumbrella-design commented on #1012
@LukeCaley I propose we go through the emergency page in our today's audit meeting and write down the improvements. We can then provide the updated wireframes to Sanjay.

[2020-03-17 11:04] batpad commented on #1011
+ Add Rich Text Editor for Snippets (I can create a separate issue for this if needed).

[2020-03-17 11:06] nanometrenat commented on #1011
And ideally audit trail so we can see what changes have been made to the Rich Text edits (at the moment we have that on Google Docs)

[2020-03-17 11:06] lauripynnonen opened #1022 "3W Activity Form Tooltips - People targeted, Other"
Tooltips are required for some of the terms used in the activity form.

(People targeted) Other:  The “other” category can include data such as “other sex/gender”, “undisclosed”, “unknown”, etc.

People Reached: People Reached are people who receive (from the reporting National Society in the Reporting Year) tangible goods and/or any of a range of activities offering protection and assistance, inc

[2020-03-17 11:33] nanometrenat commented on #1009
The other key thing would be to be able to hyperlink directly to that tab e.g. currently we are often sending this hyperlink out to ensure people see the Guidance docs: https://go.ifrc.org/emergencies/3972#additional-info (it would be even more ideal if we could hyperlink directly to the Guidance snippet, but know that would be tricky given configurability - though maybe each snippet could have a

[2020-03-17 12:44] LukeCaley commented on #1011
In discussion with @nanometrenat we would also like the ability to select `notify` as an option when updating content.  So, for example, we might make small edits and not wish to spam everyone or be in the process of drafting the text and expect to publish and review before finally sending a notification email.  This option to `notify` should probably appear when users are saving their edits.

Thi

[2020-03-17 13:18] batpad commented on #1011
This would be more @GregoryHorvath's department to estimate how complex this might be in terms of tweaking the notification code to check if some variable like `should_notify` or so exists when the user is submitting forms. It seems reasonable to me. @LukeCaley can we have a separate ticket for this though?

[2020-03-17 13:38] GregoryHorvath commented on #1011
Altering Django's default RTE would be a bit complicated. The only help I could find by a quick search was a possible integration of [TinyMCE](https://www.tiny.cloud/docs/demo/full-featured/), which seems to be a subscription based product.

@LukeCaley If you meant by indented bullets that you should be able to indent lists into sub-lists, I just tried and I was able to do that (there seems to be

[2020-03-17 14:38] teklal commented on #984
Hey @batpad,
So I've been testing this now and all seems good besides one thing: for both field report types for the selection of whether an information bulletin has been published or it is planned, the data shows incorrectly on the page that is created from the field report.

So it's the section shown in the below screenshot. These are from the same field report (https://dsgoproxyapp.azurewebsite

[2020-03-17 15:01] teklal commented on #985
@batpad I've commented on the issues already addressed on the PR #990

[2020-03-17 15:28] teklal commented on #965
Double-checked this, and as @nanometrenat said, Raid Response works in places 1&3 now as should.

One thing I noticed, where this is not yet included is the filtering by type in the Surge Alerts section. In the backend there is the option of choosing Rapid Response for the Alert Type but on the frontend it does not show as one of the options in the dropdown.

![image](https://user-images.githubuse

[2020-03-17 15:40] GregoryHorvath commented on #965
@teklal Nice catch, it's really missing from the Types list! On it, should be a quick fix.

[2020-03-17 15:49] GregoryHorvath commented on #940
+1 - Alert types, Alert categories in [app/assets/scripts/components/connected/alerts-table.js](https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/components/connected/alerts-table.js)

[2020-03-17 15:58] teklal commented on #965
Thanks for getting on it so fast @GregoryHorvath  !

Another thing I noticed but forgot to type while I was typing the other things (too much typing haha) is that re Nat's original ticket, for the third point, i.e. the deployments page and all additions, Rapid Response does not replace only FACT but also RDRT, so all of these should be summed and there should be only one "Deployed Rapid Respinse"

[2020-03-17 16:17] GregoryHorvath commented on #965
@teklal Made a PR for this also. Set @batpad as the approver for both.

[2020-03-17 18:40] batpad commented on #984
Thanks so much for the catch @teklal - this should be fixed, as well as the wording for the Potential Date of Impact to Forecasted Date of Impact.

Will double check on the deployment for the phone number fix.

[2020-03-18 06:03] batpad commented on #1011
Altering the existing RTE shouldn't be that bad, but I also do not think that we will need to.

@GregoryHorvath I think the main problem here is just that the frontend CSS styling doesn't show the things that were edited in the RTE correctly on the frontend. Fixing that will mostly be a matter of making sure the CSS on the frontend correctly displays things like lists and other HTML elements outpu

[2020-03-18 09:49] teklal commented on #965
Thanks @GregoryHorvath !

While testing this I just discovered a new location where Rapid Response needs to be added to (sorry!)

On an Emergency page that has deployments associated with it, there is a section as below (this one is from https://dsgoproxyapp.azurewebsites.net/emergencies/3786#details):
![image](https://user-images.githubusercontent.com/52411237/76947207-91cb6380-6905-11ea-98d2-6c0

[2020-03-18 10:01] teklal commented on #984
@batpad tested and works!

[2020-03-18 12:30] teklal commented on #965
@batpad @GregoryHorvath Just checking about my most recent comment above: should I put that in a new open ticket or re-open this one as it doesn't seem to be on staging yet? Sorry for the late catch on those additional sections where Rapid Response needs to be added.

Also to clarify it's the type drop-down/filter where it needs to be added to.

[2020-03-18 12:35] LukeCaley commented on #1004
As discussed with @mmusori and @yellowumbrella-design we would only seek to wireframe the field changes highlighted in pink at this stage.  All prior changes to the field report structure involved wider consultation with users and would follow the same process here.

Following production of wireframes, we will share the epi field report structure with COVID-19 cell colleagues to check if:
- this w

[2020-03-18 12:36] batpad commented on #965
@teklal apologies - issue was closed by accident due to the auto-closing feature of Github. Re-opening.

@GregoryHorvath would you be able to take care of this?

[2020-03-19 08:02] LukeCaley commented on #769
@yellowumbrella-design to identify specific changes to be implemented based on wireframe / PROD audit.  Text file broken down by page / component preferred by @batpad

[2020-03-19 08:04] LukeCaley commented on #930
@mmusori and @yellowumbrella-design & @GregoryHorvath to update details around wireframing / scoping process - estimate required from completion

[2020-03-19 08:06] LukeCaley commented on #254
@RFMoore - would there now be a way to connect to live WHO data around COVID-19 cases which this could connect to?

[2020-03-19 08:13] nanometrenat commented on #254
Hi @LukeCaley this ticket (and the scraper/ingest) was set up to Create Emergencies - in the same way to GDACS - so I think if we want to instead track COVID cases it would be a from-scratch build.

Re this ticket (creating emergencies), I suggest we close/freeze it unless/until there is a data source available that we can rely on programmatically.  Best!

[2020-03-19 08:27] LukeCaley commented on #889
@batpad to architect and assign

[2020-03-19 08:44] LukeCaley commented on #837
@GregoryHorvath could you update on status of this ticket?

[2020-03-19 08:50] LukeCaley commented on #926
'Correct' solution might be to implement some kind of federated login.  IFRC ITD looking into this as of 19 March

[2020-03-19 08:51] teklal commented on #837
@LukeCaley I can update as this has most recently been sitting with me. If a priority, I can work to have this done asap. (This has been one of those rabbit holes were one discovers more and more while digging and it's easy to get lost.)

[2020-03-19 08:54] nanometrenat commented on #926
Thanks @LukeCaley - note that right now for COVID operation we are heavily making use of the unrestricted permissions for the docs in the snippet.  So it would cause us problems if we suddenly switched this - would need a migration process for current already-existing docs to ensure continuity.

[2020-03-19 09:15] teklal commented on #965
Hey @batpad @GregoryHorvath , in production now on the Deployments page the Deployed Rapid Response shows dashes instead of the number of deployed personnel. I went back to staging to test this and there it works.
![image](https://user-images.githubusercontent.com/52411237/77050591-4a5adb00-69ca-11ea-9af8-e26a50cd455d.png)

Should I log a separate ticket for this?

[2020-03-19 09:19] GergiH opened #1028 "[PROD] Emergency detail key figures' boxes flow out of the parent container"
## Steps to reproduce
Check: https://go.ifrc.org/emergencies/3124#details
![image](https://user-images.githubusercontent.com/30079559/77050811-960d8480-69ca-11ea-8518-e5735059b0c4.png)

## Severity
People could miss information if they're using smaller screens and can't resize/zoom the window.

## Is there a workaround?
Zoom out, resize the browser window.

[2020-03-19 09:50] GregoryHorvath commented on #930
@LukeCaley Based on the current wireframes I started to work on the backend side of it. Basically the main models/database tables and parts of the Django Admin are done, though it could need refining if I'll finish the frontend part and get feedback via testing.

The remaining work I currently see on it (@mmusori feel free to add in if I miss something):
* Email notification
* Frontend pages

I'd

[2020-03-19 10:06] GregoryHorvath commented on #965
@teklal I'm on it. Basically what seems to be happening, since that number now includes FACT, RR, and RDRT if any of those are null it handles like if all were null.

[2020-03-19 13:48] GregoryHorvath commented on #916
@LukeCaley So the top part on Emergencies main page was changed to use 90 days instead of 30 days via: https://github.com/IFRCGo/go-frontend/commit/be39039f864b724f773bcfae78cb87790a9592dd

I couldn't reproduce the other issue with the discrepancy between the listed Emergencies on the map and on the Country's page, but I saw it happening on production with Philippines for example. In the code the

[2020-03-20 06:01] #920 closed

[2020-03-20 06:23] GregoryHorvath commented on #916
Reopening because the second part is still present.

[2020-03-20 10:15] geohacker commented on #1013
This is fixed through https://github.com/IFRCGo/go-api/pull/636. To test:

* Go to https://dsgocdnapi.azureedge.net/
* Edit an emergency, you'll see a `slug` field. Enter the vanity url slug
![image](https://user-images.githubusercontent.com/371666/77154315-76a55300-6ac1-11ea-9021-630b3d39591f.png)

* Save
* Then go to https://dsgocdnapi.azureedge.net/emergencies/<slug-you-added>#details

cc @batp

[2020-03-20 10:19] LukeCaley commented on #1013
Assigned @teklal for testing and Q/A please

[2020-03-20 11:38] yellowumbrella-design commented on #1004
Hi everyone, the latest Epi wires: https://invis.io/FXWI5D4TAD2#/409814227_8-2-1_GO_Epi_FieldReports_1 (PW: IFRC)

[2020-03-20 11:51] teklal commented on #1013
Tested and works with limitations. @geohacker can you share (if known) what the limitations for choosing the slug are?
Based on my testing I found at least these:
- the slug cannot start with a number
- it is case-sensitive (would it be possible to make it not be case-sensitive, as I foresee this potentially causing a lot of confusion?)
- the slug cannot contain a # (didn't test other special char

[2020-03-20 13:23] LukeCaley commented on #1007
Ref discussion on the daily call 20/03:

- Need is for easy site-wide navigation to COVID-19 global operational page from anywhere across the site
- Requirement is due to the likely development of multiple operational pages at national level which is great and to be encouraged, but also linking this back to the global page for reference materials and global overview dashboards etc
- Unlikely to ne

[2020-03-20 13:30] LukeCaley commented on #1004
Agreed process on daily GO call (20/03):

- [ ] @mmusori to review and add comments and send with email to @nanometrenat for wider consultation across COVID-19 team with noon CET 23/03 deadline
- [ ] @mmusori @nanometrenat & @LukeCaley to process comments on CET 23/03 and clarify instructions for redesign
- [ ] @yellowumbrella-design to incorporate suggestions and handoff to
- [ ] @batpad for impl

[2020-03-20 13:37] LukeCaley commented on #983
@nanometrenat could you describe the database config task for @teklal to implement here?

[2020-03-20 14:30] nanometrenat commented on #983
Simply going into the back end and editing the countries to set them up with a region and the other details above.

Easy!  Over to you @teklal

[2020-03-20 19:05] nanometrenat commented on #1012
My current use case for these would be for the Global COVID-19 page, Field Reports section.  There are (correctly/should be) no Global field reports, but there are 90-odd field reports at a country level.  it would be useful if I could put a few words as a sub-heading to suggest people look at the field reports from each National Society.  This would of course depend on the Field Report section sh

[2020-03-22 22:06] nanometrenat commented on #1004
Hi @batpad I have just been looking at the Field Reports via the API (need to programmatically extract some).  I can't see a field to tell me what type of Field Report it is - can you please add a field to the API response?  At the moment the only way I can tell if it's Early Warning vs Normal is by looking at whether the fields "imminent_dref" and "forecast_based_action" exist.

Note - *IF* there

[2020-03-23 11:15] geohacker commented on #1013
@teklal thank you so much for your comments. I'll address them by making these changes:

* [ ] Enforce lowercase
* [ ] Adding a help text that clarifies limitations regarding

This is currently only for emergencies. I don't know how much effort is it to extend to other pages, but if it's not urgent we can revisit that.

[2020-03-23 11:46] frozenhelium opened #1035 "3W: Allow any logged in user to add project"

[2020-03-23 11:49] frozenhelium opened #1036 "3W: Project from: Automatically detect ongoing and planned field based on start and end date. Add `completed` checkbox to mark the project as complete"

[2020-03-23 11:53] frozenhelium opened #1037 "3W: Project form: Include `Countrywide` field for the region"

[2020-03-23 12:04] frozenhelium opened #1038 "3W: Add validations for `date` and `budget`"

[2020-03-23 12:14] geohacker commented on #1013
![image](https://user-images.githubusercontent.com/371666/77315420-8e810f00-6d2d-11ea-9635-257f95abf9f4.png)

Addressed these in https://github.com/IFRCGo/go-api/pull/642

[2020-03-23 14:35] necoline commented on #915
I went through past commits to see if somehow this data point was lost in past work on this feature.
It turns out that there was only ever one [endpoint](https://github.com/IFRCGo/go-frontend/blob/6217edd140a5c32cb06d905a0804f8e35097ed60/app/assets/scripts/actions/index.js#L151) provided for this feature ( #847)

Since this data for this point on DREF Appeals is missing, we should look to the back

[2020-03-23 15:32] GregoryHorvath commented on #915
@necoline This should be query firing (except the `time` part of it):
`/api/v2/appeal/?end_date__gt=2020-03-23T00%3A00%3A00.000Z&country=109` which gives me back both `amount_requested` and `amount_funded` when I tested locally. Though I see 0% Funding Coverage too, but I haven't checked the frontend side of this.

Natalie above referred to another ticket which could be related in some ways, but I

[2020-03-24 04:54] frozenhelium commented on #1001
@lauripynnonen Can you provide the list of columns in order for the CSV?

[2020-03-24 09:39] lauripynnonen commented on #1001
I believe the list of columns should match the form that was used to fill it, and the order could also be the same. So

Country | Region/Province | Operation Type | Programme Type | Project Name | Primary Sector | Tags | Start Date | End Date | Budget | Status | Targeted Males | Targeted Females | Targeted Others | Targeted Total | Reached Males | Reached Females | Reached Others | Reached Total |

[2020-03-24 10:23] yellowumbrella-design commented on #1005
Latest Epi wireframes: https://invis.io/FXWI5D4TAD2#/409814227_8-2-1_GO_Epi_FieldReports_1 (PW: IFRC) Comments from Roxanne are yet to be reviewed and implemented

[2020-03-24 10:24] yellowumbrella-design commented on #1014
![IFRC_UI_Contacts-2](https://user-images.githubusercontent.com/60006476/77414902-fed97000-6dc1-11ea-88f4-862bc6274424.png)

UI suggestion for the contacts styling. The update is on Zeplin on the specs sheet.

[2020-03-24 10:26] yellowumbrella-design commented on #1012
![IFRC_UI_Situational](https://user-image@LukeCaley ithubusercontent.com/60006476/77415011-2597a680-6dc2-11ea-8b9a-01a1bd571af7.png)

@LukeCaley Does this solve the section headings challenge? We are proposing a dedicated text under the title line. Styles are on Zeplin.

[2020-03-24 11:25] teklal commented on #1013
@LukeCaley how urgently do we need this feature to exist for other than emergency pages (country and region pages...)?

[2020-03-24 11:38] teklal commented on #920
Tested this in #1033 and it's good to go

[2020-03-24 11:39] teklal commented on #929
Some more places where the logo needs to be updated:
- presentation mode on the front page map
- map exports

[2020-03-24 11:52] batpad commented on #929
@GregoryHorvath the logo insertion for the map export / presentation mode might be slightly strange - let me know if I can help,

[2020-03-24 11:53] teklal commented on #1013
Hey folks, just took a look at this now on staging and having the text under the box is nice, thanks for that!

In my comment above I mentioned also that the slug can't start with a number. I tested this now and got some weird behaviour:
![image](https://user-images.githubusercontent.com/52411237/77422483-d35c8280-6dcd-11ea-953a-b33956f12b77.png)
![image](https://user-images.githubusercontent.com/

[2020-03-24 11:53] batpad commented on #1013
@geohacker are you able to debug this one?

[2020-03-24 12:15] frozenhelium opened #1041 "Hovering over empty chart breaks the site"
## Issue

When you hover over an empty chart, the site goes blank

## Steps to reproduce

1. Go to http://tc-ifrc-go.surge.sh/
2. Scroll down to the charts section (i.e DREFS and Appeals Over the Last Year)
3. Hover the mouse over the area where the charts are supposed to be

[2020-03-24 12:26] batpad commented on #1041
@frozenhelium could you give steps to reproduce? (or a PR to fix works ;-) )

[2020-03-24 12:29] lauripynnonen commented on #1019
@yellowumbrella-design  could you design this?

[2020-03-24 12:29] lauripynnonen commented on #1020
@yellowumbrella-design  could you design this?

[2020-03-24 12:36] LukeCaley commented on #929
@teklal to reference colour shade issues across the site with new IFRC logo @batpad

[2020-03-24 12:44] LukeCaley commented on #1010
@nanometrenat can you elaborate on this issue?

[2020-03-24 12:48] frozenhelium commented on #1041
@batpad I suppose, it's not an urgent issue since it only occurs if there isn't any data for chart which is very unlikely for the current production environment. Nevertheless we should fix this one by not rendering the chart if data is not available.
![2020-03-24-183306](https://user-images.githubusercontent.com/4931541/77427126-f1da7200-6dfd-11ea-9ac1-a309973127b6.png)

[2020-03-24 13:38] GregoryHorvath commented on #929
@batpad With a quick check, I found we use the primary red color only in 8 different files. But for ex.: the selected page number in a paged table uses a different color code for red, so there could be multiple instances of this.

[2020-03-24 15:05] necoline commented on #915
@GregoryHorvath  thank you for highlighting this piece of code, I seemed to have missed this in my past review of the issue. My PR above contains details on the fix

[2020-03-24 15:11] nanometrenat commented on #915
Hi @necoline just to confirm - the business logic is not that Appeals and DREFS should be treated separately - in actual fact if there is an Appeal it can often require the DREF to be repaid.

See Tekla's comments in ticket go-api#536 that I referenced above, also quoted here:

The way it works though is that after an EA is launched, the DREF money that was allocated to that operation, becomes a l

[2020-03-24 15:20] geohacker commented on #1013
@teklal @batpad @GregoryHorvath that's my bad, sorry! I just fixed to check that the slug doesn't start with a number and added a help text. https://github.com/IFRCGo/go-api/pull/644

[2020-03-24 15:39] lauripynnonen commented on #925
Still open (new issues/tickets from these?)
- [ ] Disclaimer on the status of the map boundaries (39, 40)
- [ ] Total people targeted counted automatically (with previous)
- [ ] Selected country highlighted (53)
- [ ] Decimals in number of people allowed (63)
- [ ] Copy button (72)
- [ ] Import spreadsheet (template) (75)
- [ ] Two different colours in the total budget under the map (86)
- [ ] Rep

[2020-03-24 17:00] GregoryHorvath commented on #922
@nanometrenat Right now the **regions** in the path are pretty hardcoded as well, and while looking around the site `/europe-and-central-asia` is a valid part of the path, in some cases it wasn't working with some **countries** for ex.:
* `/europe-and-central-asia/hungary` was **bad**
* `/europe/hungary` was **good**

Do we want the field to allow one to specify the whole URL, or just the region/c

[2020-03-24 17:04] nanometrenat commented on #922
Thanks - I think if we're specifying any part of the path we may as well specify the whole path... that way we can quickly change things up if/when the IFRC.org website gets restructured... Cheers :)

[2020-03-24 21:05] LukeCaley commented on #1012
@yellowumbrella-design this looks good - essentially we would need a sub-heading text that would only appear and move section content down if text entered in the back-end.  This appears to do the trick from a design point of view.  Over to @batpad to assign this task.

[2020-03-24 21:06] LukeCaley commented on #1014
@yellowumbrella-design works for me. Over to @batpad to assign.

[2020-03-24 21:12] LukeCaley commented on #837
@teklal could you give a time estimate?  any blockers?  It would be good to complete this and move on if possible to find some dedicated time to focus on this now.

[2020-03-24 21:17] LukeCaley commented on #254
Thanks @nanometrenat - understood the original intention but wondered if there was a country-level feed that would create emergencies on the first reported case or similar.  Not a priority, especially as NS are reporting snapshot figures through field reports for now.  Agreed that this is not a priority as of now and potentially to be revisited as part of scoping for ingest of health-related Commo

[2020-03-25 00:37] nanometrenat commented on #1010
Hi, as this is a manual process I would suggest it's fine that the user chooses which emergency to keep as "master".  The user can move the field reports over to the "master" (or if it's easy to automate then great, but not a show-stopper, it's fine for the user to do the re-mapping of field reports to emergencies like we do at the moment).

I would expect that the user chooses to keep the emergen

[2020-03-25 00:41] nanometrenat commented on #1006
FYI actually in many cases we have no-where to host them externally in the cloud - so we use the workaround of uploading to GO as a SitRep against an Emergency but then immediately deleting the sitrep (while keeping a note of the URL).  Then copy that URL as a link in the technical guidance.

[2020-03-25 08:05] frozenhelium commented on #925
Hi @lauripynnonen can you create individual issue for the "still open" section above, need to discuss on those individually.

[2020-03-25 10:19] lauripynnonen opened #1045 "3W: Disclaimer on the status of the map boundaries"
The map boundaries need a disclaimer. It could, for example, be the following (borrows heavily from the map disclaimer used by UN):

The designations employed and the presentation of the material on this map do not imply the expression of any opinion whatsoever on the part of the IFRC concerning the legal status of any country, territory, city or area or of its authorities, or concerning the delim

[2020-03-25 11:13] GregoryHorvath commented on #1010
@nanometrenat I just want to make sure I understand every part.

1. Choose a `master` Emergency and select the ones to merge
2. Connect every Appeal / Field Report to the `master` Emergency (other than that don't overwrite any data of the `master` from the other ones)
3. Delete the merged Emergencies so they won't be included in statistics at the top part of some pages

* Would this be a frontend

[2020-03-25 12:13] LukeCaley commented on #1013
@geohacker to investigate time effort for this option to be extended to country and regional pages

[2020-03-25 12:20] lauripynnonen opened #1047 "3W: Total people targeted counted automatically"
Automatically calculated total for both targeted and reached. Logic as follows

Automatic if male, female and other entered. If total is typed in, male, female and other cleared. If a segregated field is entered, all the segregated fields are required

[2020-03-25 12:23] lauripynnonen opened #1048 "3W: Selected country highlighted"
The selected country should be highlighted on the map in light grey

[2020-03-25 12:25] lauripynnonen opened #1049 "3W: Number of people targeted/reached should be integer"
Currently, the people targeted/reached allow decimals. Should be integers (full people only)

[2020-03-25 12:31] mmusori commented on #993
Hi @batpad is there any progress on this ticket to update the previous Field Reports which pulled in the wrong "Actions".

[2020-03-25 12:32] lauripynnonen opened #1050 "3W: Clone an Activity"
This requires design - but the idea is that the user should be able to clone an activity. Potentially change the buttons (show details, edit, delete, clone) into a dropdown? Cloning would lead to a prefilled input form with details from the original activity

[2020-03-25 12:36] lauripynnonen opened #1051 "3W: Activity Form: Alphabetical drowdowns"
All the dropdowns should have their contents in alphabetical order.

[2020-03-25 12:38] lauripynnonen opened #1052 "3W: History of edits"
Design needed.

The user should be able to see the edits done to an activity, in the style of version history.

This could be implemented as one of the things on the dropdown - History. This would then lead to a window where all edits could be seen based on who edited and what changed. In other words

Click history from the dropdown
- a new window (or frame) opens that lists all edits to the activ

[2020-03-25 12:41] lauripynnonen opened #1053 "3W: Country-Wide activity - visualization"
Currently a country-wide operation does not show on the map nor in the bar charts. The country wide operations should increase the shading of all the provinces by one step and show on the bar charts as Country-wide

[2020-03-25 12:44] lauripynnonen opened #1054 "3W: Rephrasing activity form title “Movement activities in support of NS""
Needs comments from IM (@LukeCaley )

The title “Movement activities in support of NS” makes it not about the NS and should be rephrased to... ?

[2020-03-25 13:03] teklal commented on #929
Other changes to make linked to this:

- [ ] update "red" across website to be IFRC red
- [ ] change icons (DREF, appeals etc) on cards to new IFRC icons

[2020-03-25 14:08] geohacker commented on #1008
This is now deployed to staging. @teklal could you test?
https://dsgocdnapi.azureedge.net/  I think that's still the URL? @batpad @GregoryHorvath

Things to test:
* New situation report types can be added and existing of new ones can be marked as primary using the `is_primary` flag
* If `is_primary` is set, those types will get precedence over non primary documents
* Option to pin documents within

[2020-03-25 18:05] necoline commented on #915
I am a bit turned around on what the original problem was and what the desired solution is.

2 years ago, a set of business logic was written to aggregate the and display sumsat that adds together the `amount funded` only for  appeals and does not account for the `amount funded` values available for DREFs.

The change in the PR removes the conditional the limits the calculation of `amount funded`

[2020-03-26 08:57] teklal opened #1055 "[PROD] Accents and umlauts do not show on notification emails"
## Issue
Letters that have an accent ( ´ ` ^ ¨ ) do not show on field report notification emails.

## Steps to reproduce
You can test this by subscribing to field report notification emails on testing and submitting a field report on staging with letters with those accents.

Example from production:
![image](https://user-images.githubusercontent.com/52411237/77627462-3d4c6780-6f47-11ea-8937-1ef924

[2020-03-26 10:01] teklal commented on #837
@LukeCaley, I'll dedicate time for this next week and I believe with input from the team on some matters it would be possible to have it done by the end of the week.

[2020-03-26 10:38] nanometrenat commented on #1055
Also logged as SRV-19696 as presumably due to the integration changes done via SRV-18335 & SRV-16958, and https://github.com/IFRCGo/go-api/pull/643

Guessing a UTF/ISO type thing?  Thanks a lot for looking into this.

[2020-03-26 12:37] nanometrenat commented on #1013
Hi team, re the vanity URL for emergencies, unfortunately it needs a little more work.
It works well to go to the main page of an emergency (e.g. https://go.ifrc.org/emergencies/covid-19 ) however when I navigate to the Additional Info tab (either by clicking through or by going directly to the URL https://go.ifrc.org/emergencies/covid-19#additional-info) the page says "No data to display."

There

[2020-03-26 12:57] batpad commented on #984
This is tested and in production. What is pending is fixing the data created due to this bug, logged separately.

[2020-03-26 12:57] #984 closed

[2020-03-26 13:01] GregoryHorvath commented on #1055
@nanometrenat I've replied via the MSM ticket, please keep this conversation there so the guys responsible for the API can respond to that. Thank you for making the ticket, if others want to elaborate from the team they can do it here though.

[2020-03-26 13:01] geohacker commented on #1013
@nanometrenat thank you for catching that. I'm bummed I wasn't able to. Sorry!
I'll look at this first thing tomorrow morning.

[2020-03-26 21:10] nanometrenat commented on #1055
Fixed via SRV-19696 this afternoon, and accents in notifications have been coming through fine since then.

Thanks @GregoryHorvath and IT team for prompt turnaround

[2020-03-26 21:10] #1055 closed

[2020-03-26 22:38] necoline opened #1056 "[PROD] Field Report 'Save & Continue'"
## Issue
The button at the bottom of a report section state `save & continue` but the report is not created until the submit button is hit at the end of the report. In addition to this, there is no logic to create, store and retrieve drafts as the work `save` might suggest

![image](https://user-images.githubusercontent.com/20410256/77703284-d0f65600-6f90-11ea-9d7b-234ac3a1ffaa.png)

## Expected b

[2020-03-27 03:22] necoline opened #1058 "Assigning Priority and Categories to COVID Tickets"
## Description
We currently have a COVID project board to track the status of each ticket. The board includes tickets ranging in urgency, complexity and added utility to COVID specific workflows. While all of these tickets need to be completed in a time sensitive manner, it may be helpful to add clear markers to tickets that need more urgent attention to help developers organize their time accordi

[2020-03-27 05:29] frozenhelium commented on #1045
@lauripynnonen I found a disclaimer in the emergency map which goes like

[2020-03-27 08:10] nanometrenat opened #1059 "[PROD] Latest Appeal Figures not pulling through to Emergency page"
## Issue
Hi, not sure if this is a business issue (i.e. source data) or a GO issue but logging here for investigation.

https://go.ifrc.org/emergencies/3972#details
![image](https://user-images.githubusercontent.com/33625192/77734944-ec517780-7009-11ea-94f3-0266a483ea72.png)

This is still showing funding requirements of 32 million - but an Appeal Revision was launched yesterday evening that shoul

[2020-03-27 08:14] nanometrenat commented on #1059
OK this is due to source data - closing - thanks

[2020-03-27 08:14] #1059 closed

[2020-03-27 08:14] nanometrenat commented on #1059
https://www.ifrc.org/Docs/Appeals/statistic/cover20_emer.pdf

[2020-03-27 08:28] lauripynnonen commented on #1045
This is way better - let's use this!

[2020-03-27 10:19] geohacker commented on #1013
@necoline @batpad I looked at this a bit closer and not sure what's the best way forward. I'll outline all the options:

**1. Add an epic action**
This would be the cleanest and edge-case free approach. Right now, we invoke all the event API calls at the same time using the URL match params https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/views/emergency.js#L112.

Instead of i

[2020-03-27 10:21] nanometrenat commented on #1009
When testing, we will also need to bear https://github.com/IFRCGo/go-frontend/issues/1013 in mind

[2020-03-27 10:56] teklal opened #1060 "[PROD] Field report: fields left blank show up with "No" on generated page"
## Issue

When filling in a field report (tested and this is the case for both the event type and early warning type) on the first page it asks whether the government or NS request international assistance. These are not mandatory fields. After submitting the field report these fields do however show up on the page generated from the report with answer "No" for both of the fields. And when clickin

[2020-03-27 11:04] mmusori commented on #1060
@teklal @batpad for integration of GO with the ERP the NS request for international assistance is very important. Thus as a solution to the issue you have raise this should be made mandatory. While they might not know at the point of the first report (thus leaving blank) automatically putting NO for them also does not work. I am thinking of an extra reponse, "Yet to be determined"

[2020-03-27 11:32] teklal commented on #1008
Thanks @geohacker

The boxes `is_pinned` and `is_primary` are there but there are some issues when it comes to the way they function.

The `is_pinned` feature does not seem to be working for me. Although I tick it on a document, it doesn't affect where it appear on the card.

I can't seem to see any effect of ticking the `is_primary` box either.

If I've misunderstood the way they are supposed to

[2020-03-27 11:50] teklal commented on #1060
Ok, just noticed another field with the same behaviour, the information bulletin question:
![image](https://user-images.githubusercontent.com/52411237/77753203-588fa380-7029-11ea-9dae-cbf1a9cdaf6f.png)
![image](https://user-images.githubusercontent.com/52411237/77753224-62b1a200-7029-11ea-87a5-2f1ec99bd81a.png)

[2020-03-27 11:53] teklal commented on #1060
Another similar issue:
The "Start date" field is marked as mandatory with an asterix * but in practice this is not enforced and a user can submit the report without choosing a start date.
If this field is left blank, the date is automatically chosen as the current date and this also shows on the generated page and when editing the report again.

I suppose for this one the easy fix would be to not

[2020-03-27 11:55] lauripynnonen commented on #1049
Good, excellent except a positive integer rules out zero. So typing a zero into a field gives the positive integer warning, which is not optimal.

[2020-03-27 11:57] lauripynnonen commented on #1045
Comes out right - could the font be smaller though? So that the text would fit on one line?

[2020-03-27 11:59] #1056 closed

[2020-03-27 12:03] teklal commented on #1060
Somewhat related to #984

[2020-03-27 12:11] lauripynnonen commented on #1001
Testing with Argentina: [projects-export-1585310569098.xlsx](https://github.com/IFRCGo/go-frontend/files/4393397/projects-export-1585310569098.xlsx)
- The exported csv has numeric headers before the real headers, is this intentional?
- Country-wide region comes out empty
- Reached others field comes out twice, (reached total is named reached others)
- reached others comes out empty
- targeted othe

[2020-03-27 12:17] lauripynnonen commented on #1000
Currently the map brings very little additional value. Could the content look more like this
![Argentina map export](https://user-images.githubusercontent.com/8285694/77755151-f20c8480-702c-11ea-92b2-b2f8c3119de5.jpg)
The header could say Argentina 3W Activities (2020-03-27)

[2020-03-27 12:18] lauripynnonen commented on #1038
@frozenhelium How does this work, what am I testing?

[2020-03-27 14:18] necoline commented on #1009
I am generally quite hesitant to make broad changes to the UI available to users. I my experience, this tends to get out of hand quite quickly - both from a data management perspective and a UI perspective.

Perhaps if I can get a bit more background on this request, I'll be able to put forward some more helpful suggestions.

### From the backend perspective
I am assuming by users, we are referrin

[2020-03-27 18:30] geohacker commented on #1008
@teklal I indeed got the staging URL wrong. The changes to the API were deployed but the front-end weren't. Just did that. You can test it here https://ifrc-go-feature-response-docs-order.surge.sh/. I'm sorry about that.

If all cards are primary, it follows the ordering defined here https://github.com/IFRCGo/go-frontend/blob/master/app/assets/scripts/utils/utils.js#L237-L244. If a primary card is

[2020-03-27 19:08] necoline opened #1062 "Add Field Report Type to API Response"
**Is your feature request related to a problem? Please describe.**

Note - IF there are Actions Taken by the National Society or Govt (i.e. tickboxes ticked) then I can see what field report types those actions can potentially relate to ("actions taken" / "actions" / "field_report_types") but if no Actions Taken ticked then no mention of type anywhere.

Would greatly appreciate being able to acces

[2020-03-27 19:11] necoline commented on #1004
@nanometrenat I moved your comment to a separate [ticket](#1062) since that should be easily addressed in isolation

[2020-03-27 19:38] necoline commented on #1004
I wanted to log a point that came up in a previous conversation regarding the first few steps in the field report.

Considering this relationship between this disaster type and event category, I would recommend moving the selection of disaster type to be before early warning/event selection. The reason being is that the relationship between the event and disaster type is a cascading decision tree

[2020-03-29 02:36] necoline commented on #1013
Hey sorry for the late response,  it took me a second to figure it out. But I have a solution in mind. We won't need a new API request since we get the id and slug from `GET_EVENT`. Handling promises in redux is a bit of a pain (at least the way it is currently set up) so I think the best way forward will be to create child components for the tab content that require data from `GET_EVENT_SNIPPETS`

[2020-03-29 15:07] necoline commented on #1013
The issue should be fixed with the ☝️ PR

[2020-03-30 06:04] frozenhelium commented on #1038
The end date should be greater that start date.

[2020-03-30 06:47] LukeCaley commented on #1054
After internal discussion, advise to rename to:

[2020-03-30 06:55] frozenhelium commented on #1049
@lauripynnonen  Done!

[2020-03-30 06:55] frozenhelium commented on #1045
@lauripynnonen Done!

[2020-03-30 06:55] frozenhelium commented on #1001
@lauripynnonen All fixed! Could you verify?

[2020-03-30 07:03] LukeCaley commented on #929
Among the various options presented we will go with **adopting new IFRC logo and colour scheme but not icons** at this stage.  This will require some work on reducing the impact of the striking red, cc @yellowumbrella-design .

As noted, in the medium term, we will need to create and maintain a library of comms / GO / inter-agency icons.  The first required change will be create updated (but simpl

[2020-03-30 07:13] lauripynnonen commented on #1000
The export button seems to be over the form
![image](https://user-images.githubusercontent.com/8285694/77885156-bfe66700-7266-11ea-8c8c-b6218eca3450.png)

[2020-03-30 07:33] frozenhelium commented on #1000
@lauripynnonen Good catch! Fixed and redeployed.

[2020-03-30 08:17] yellowumbrella-design commented on #930
https://projects.invisionapp.com/share/HGWKUFPKNP3#/screens/407044170 (PW: IFRC) - updated and finalized

[2020-03-30 09:15] mmusori commented on #1004
Just a documentation of the key decisions on the Epi Field Report.
1.The work for the Epi field report is accurately portrayed in this wireframe.
2.	The drop down mean should have “Field Report” and “Informal Update”.
3.	Auto generate a title that is editable. The tile is based on Country, Region, Disaster type and date.
4.	In Disaster type if Epidemic is selected then the form changes to the Epid

[2020-03-30 09:18] mmusori commented on #1004
The Report type is actually the Parent. The need for the flow described above does break the logic.

[2020-03-30 09:20] geohacker commented on #1013
Thank you @necoline! This is a really elegant way to solve the problem.

@nanometrenat @teklal this fix is deployed to https://ifrc-go-fix-1013-slug-requests.surge.sh/ for testing.

cc @batpad @GregoryHorvath

[2020-03-30 09:32] teklal commented on #1013
I'm having trouble testing this because I can't directly by url navigate to any other page than  https://ifrc-go-fix-1013-slug-requests.surge.sh/ without getting the following screen:
![image](https://user-images.githubusercontent.com/52411237/77897305-c7fbd200-7279-11ea-9467-78735ca6a5b9.png)
![image](https://user-images.githubusercontent.com/52411237/77897398-e792fa80-7279-11ea-88f7-4382633ef7c2

[2020-03-30 09:47] batpad commented on #1013
This URL is working for me now: https://ifrc-go-fix-1013-slug-requests.surge.sh/

Maybe it was a temporary blip? Let us know if it still does not seem to work and we can try and work out why this is happening.

[2020-03-30 09:50] lauripynnonen opened #1064 "[Staging] 3W staging not connected to the same DB as Go Staging"
3W staging environment is quite empty, which seems to be due to odd DB connections between 3W staging and normal staging. For example, when creating a 3W Activity there are no current IFRC operations to choose from.
![image](https://user-images.githubusercontent.com/8285694/77899098-815ba700-727c-11ea-945c-ac31021984b9.png)

[2020-03-30 09:50] teklal commented on #1013
Yes the main url https://ifrc-go-fix-1013-slug-requests.surge.sh/ is working fine but navigating to any other page directly by url gives the page in the screenshots.

e.g. https://ifrc-go-fix-1013-slug-requests.surge.sh/emergencies/3786
https://ifrc-go-fix-1013-slug-requests.surge.sh/emergencies/af-floods

[2020-03-30 09:57] geohacker commented on #1013
Ah damn yes, sorry @teklal - this is because the permalinks are not routed properly because it's surge.sh isn't respecting the react router. The best way to test this to get it deployed on staging.

@batpad @GregoryHorvath - if we can merge https://github.com/IFRCGo/go-frontend/pull/1063 and deploy to staging that will be great.

[2020-03-30 10:03] teklal commented on #1008
Would it be possible to deploy this to staging as well to make testing a bit easier (now refreshing a page, gives the same problem as on the vanity url ticket)?

[2020-03-30 10:31] nanometrenat commented on #1009
Hi @necoline the problem is that major emergency pages (e.g. the COVID one) have a LOT of information on them - e.g. check out https://go.ifrc.org/emergencies/3972 Additional Info

At the moment I can't direct people directly to the Technical Guidance or to the Appeal Documents or to the epi Dashboard - I just have to _describe_ to them where stuff is on the page/tab.  And actually for COVID a lot

[2020-03-30 13:17] necoline commented on #928
@nanometrenat I think now would be a good time to embed practical navigation into the breadcrumb feature. I'm not sure who the best person is to identify what crumbs we want to implement as a fulfillment of this goal. Below is a list of views with the breadcrumbs currently in place in #1026

It would be great if we could update this list with the desired breadcrumb information that we can implemen

[2020-03-30 14:18] necoline commented on #1004
Notes from a voice call on this decision:
- It is preferred to have the event type remain above the disaster type as reflected in the wireframes.
- if the user selects 'epidemic` as a disaster type, the event type should change (if not already selected) to be `event` and disabled

[2020-03-30 14:24] necoline commented on #1009
Thank you for the example, this feature is definitely feasible. The key motivations to my questions are to iron out underlying assumptions and highlight edge cases so we don't unintentionally create obstacles down the road for ourselves or the users.

I think the simplest route to making tabs available would be to start with snippets.

On the frontend, I can append a list of optional tab names and

[2020-03-30 18:23] LukeCaley commented on #928
@teklal and @yellowumbrella-design could you please sync with @necoline to determine what IFRC /  UI input is required for this ticket?

[2020-03-30 19:22] LukeCaley commented on #889
@batpad could you re-assign this as would like to implement this sooner rather than later as there are likely to be a jump in new users when communicating desired changes to use of field reports and the 3w feature.  @mmusori to accompany from an IFRC / business logic perspective.

[2020-03-30 19:26] LukeCaley commented on #1006
Assuming we have enough information in the above to move this to the To-Do pile.  @batpad to assign.

[2020-03-30 19:36] nanometrenat commented on #989
Hi @GregoryHorvath can you please confirm how often the reindexing runs?

ElasticSearch on the front end is not returning all the emergencies I would expect - meaning that users can't link new field reports to existing emergencies if the relevant emergency isn't being returned.

https://prddsgocdnapi.azureedge.net/api/v1/es_search/?type=event&keyword=swed returns eventid 3133 (Forest Fires) but do

[2020-03-31 09:18] batpad commented on #889
@necoline re-assigning to you here, but this does need more speccing out.

@necoline I think if you can help with the speccing out of what is needed here, it is likely this is more backend focused and could be something that either @geohacker or @GregoryHorvath could take on.

[2020-03-31 10:44] teklal commented on #1013
So it now works to access the emergency page and the "additional information" tab with the slug (e.g. https://dsgoproxyapp.azurewebsites.net/emergencies/af-floods#additional-info) but there are still problems with data (snippets in the additional information tab and situation reports) not showing when using the slug.

![image](https://user-images.githubusercontent.com/52411237/78017612-cf3fe000-73

[2020-03-31 11:06] yellowumbrella-design commented on #1007
![1 0 0 - Home_Banner5](https://user-images.githubusercontent.com/60006476/78019702-6a868480-7350-11ea-89b0-a10602037431.png)

[2020-03-31 11:14] GregoryHorvath commented on #1008
https://github.com/IFRCGo/go-frontend/pull/1063 Was merged into `develop` so it should be on staging by now. (if this was the relevant PR we were mentioning) @teklal

[2020-03-31 11:19] batpad commented on #993
Dropping some rough notes from going through this with @geohacker :+1:

 - Check API call to Retrieve Actions
 - Get overall list of actions for each section
 - Get actions per section for Event
 - Get actions per section for EW

  - For Field Reports with type Event:
    - Map index of items in the Event Actions array to index in the overall list of actions per section.

 ^ Same for Field reports

[2020-03-31 11:25] nanometrenat commented on #989
SRV-19938 logged for today's issue - thanks loads

[2020-03-31 11:34] nanometrenat commented on #929
OCHA icons:  https://thenounproject.com/ochavisual/collection/ocha-humanitarian-icons-v02/

There's a powerpoint and an AI file in the dropbox linked from here:  https://www.unocha.org/story/iconography-part-un%E2%80%99s-humanitarian-efforts-ocha-releases-new-humanitarian-icons

The IFRC Github repo is https://github.com/IFRCGo/red-OCHA-Icons-2018

@yellowumbrella-design FYI

[2020-03-31 11:37] LukeCaley commented on #1005
Clarified that this relates to the emergency page @yellowumbrella-design to mock up designs for this.

[2020-03-31 11:45] yellowumbrella-design commented on #1007
https://invis.io/Q7WNPZ9PD9Y#/411605624_1-0-0_-_Home_Banner (remember new password)

[2020-03-31 12:14] mzslezak commented on #1007
can you pls resend the new password you mention to mark@rivannastrategy.com?

[2020-03-31 13:21] LukeCaley commented on #1007
Non-sticky is fine and most simple to implement I would expect.  For the text, please use

Thanks @yellowumbrella-design

[2020-03-31 15:22] yellowumbrella-design commented on #1007
Updated red header: https://projects.invisionapp.com/share/Q7WNPZ9PD9Y#/screens/411605624_1-0-0_-_Home_Banner
+ hover style: https://projects.invisionapp.com/share/EBWNVRSK2NX#/screens/411668057_1-0-0_-_Home_Banner2_Hover (50% transparency on white over the red for the hover color).

[2020-03-31 15:22] lauripynnonen opened #1065 "3W: Domestic Programme Type (related to COVID)"
Add Domestic to the selectable Programme types (Dometic, Bilateral, Multilateral)

Domestic is similar to Multilateral, except that instead of asking for Current IFRC Operation, the user must select Current Emergency Operation. The list of current emergency operations pulls a list of Emergency Operations that have been added through field reports of that country

Add tooltip to the Current Emergen

[2020-03-31 15:25] lauripynnonen opened #1066 "3W: Allow users to create a 3W activity through an emergency page"
Add "Create 3W Activity" button to the Emergency page.

[2020-03-31 15:27] lauripynnonen opened #1067 "3W: IFRC Only Checbox"
Add IFRC Only Checkbox as the last thing the user can fill when adding an activity to 3W. If this the checkbox is checked only logged in users can see the activity.

[2020-04-01 08:35] lauripynnonen commented on #1037
Looks ok. Not sure if the Region on the map should be "Countrywide" like in the form, currently it comes up as the country name. Also not sure on how the regions on the map are organized
![image](https://user-images.githubusercontent.com/8285694/78116369-792e7380-7404-11ea-8d18-e25196534e09.png)

[2020-04-01 10:16] frozenhelium commented on #1064
@lauripynnonen Should we clone the database from the staging environment?

[2020-04-01 10:49] GregoryHorvath commented on #1011
@LukeCaley A PR (https://github.com/IFRCGo/go-frontend/pull/1068) is up for the indented lists, but other than that I couldn't find any discrepancies between the backend edited texts and the frontend ones. Did I miss something?

[2020-04-01 13:22] GregoryHorvath commented on #1010
Pushed this to staging.
cc @teklal

Basically there is a new field for every Emergency called `Parent Emergency`, and if it's filled out we consider that Emergency/Event as "merged" and it shouldn't appear on the frontend anywhere.
![image](https://user-images.githubusercontent.com/30079559/78141912-747db580-742c-11ea-81f8-82585a72fafd.png)

[2020-04-01 13:30] lauripynnonen opened #1069 "[PROD] Help file links on About page are broken"
## Issue
The Go User Guide and Admin Guide currently lead to a Google Drive 404 page

## Steps to reproduce
Go - [About ](https://go.ifrc.org/about)- click either of the guides

*If applicable, add screenshots to help explain your problem.*

## Expected behaviour
Links fixed to existing files. Would it make sense to host the guides here on Github and link them from here instead of using Google Dri

[2020-04-01 19:45] LukeCaley commented on #1011
@nanometrenat and @RFMoore to fill in other blocking issues currently encountered around the Rich Text Editor please

[2020-04-01 19:55] teklal commented on #983
I've done the backend edits to the countries and have checked that the two NS/countries show up as they should in the following places:

Dropdowns (frontend and backend):
- field reports
- PER
- user registration and setup
- deployments
- appeals
- emergency pages

Also checked:
- countries show up correctly under Asia Pacific region
- urls are whitelisted
- countries show on maps (there are some

[2020-04-01 20:10] teklal commented on #922
@GregoryHorvath when will the frontend PR be deployed to staging (or a separate url) for testing? I see the url field has been added in the backend but won't be able to fully test this until frontend is deployed too.

[2020-04-01 20:36] teklal commented on #1010
Thanks @GregoryHorvath. After merging the merged emergency does not show up on the frontend anymore i.e. in the recent emergencies counts.

A few comments though still:
- The URL redirect from the "merged" to the "parent" does not seem to work (I merged https://dsgoproxyapp.azurewebsites.net/emergencies/3907#details into https://dsgoproxyapp.azurewebsites.net/emergencies/3911#details, but the firs

[2020-04-01 21:46] nanometrenat opened #1072 "[COVID] Field Reports - extract via API"
## Issue
At the moment, it is not possible to extract a data download of all the Field Report data (including actions taken).

1. If I go to https://go.ifrc.org/reports/all and click Export then the download fails (too much data)
2. If I just try to export one region then I get an export csv file OK, but it only has these columns:

i.e. the export does not list the actions taken or any of the othe

[2020-04-01 21:52] nanometrenat commented on #1011
Hi @GregoryHorvath thanks for looking into this - it's great if the indented lists are the only thing that needed to be added to make the RTE match the CSS.  To be honest I thought the links also don't show up well (only when hovered over, as no difference in font etc.) but that is up to UI peeps.  In any case if the CSS now supports indented lists then we can simplify the technical guidance publi

[2020-04-01 21:55] nanometrenat commented on #999
The html in that particular snippet was fixed a while back - the actual fix we need to make is to have a visual editor to allow users to use GO to create the snippet content rather than having to copy and paste html in from elsewhere.

[2020-04-01 21:56] nanometrenat commented on #1011
@LukeCaley I can't find a ticket specifically around allowing us to use a GO Rich Text Editor to create the tech guidance section.  Did you log one (that I need to look harder for) or does one still need to be logged?  #999 alludes to it but is not its main point - cheers

[2020-04-01 21:57] #983 closed

[2020-04-02 08:24] lauripynnonen commented on #1020
We agreed with Luke to not to make another map but to represent COVID related 3W activities on the COVID emergency dashboard. @yellowumbrella-design would you have time to visualize how this would look on the emergency dashboard?

[2020-04-02 08:29] lauripynnonen commented on #1048
The selected country is now highlighted, according to my tests this is ok

[2020-04-02 08:31] lauripynnonen commented on #1051
Countrywide is the first item on the regions dropdown (not alphabetical) but this might be for the best. So OK according to my testing.

[2020-04-02 08:48] yellowumbrella-design commented on #1020
@lauripynnonen are you speaking about the Home page or Emergencies page?

[2020-04-02 09:28] teklal commented on #1008
Is something being done atm on frontend staging related to the response docs, I can't see them at all on emergency pages (on the frontend)?

[2020-04-02 09:29] yellowumbrella-design commented on #1005
https://invis.io/WAWP5JIDXZE#/412009430_4-4-3_GO_FieldReport-Epi_Page Wireframe for the Epi field report page. We are currently working on the UI to propose a visual solution.

[2020-04-02 09:59] geohacker commented on #1008
@teklal vanity URL should be also on staging but that shouldn't interfere with response boxes. Could you share the link to an emergency that should have response docs?

[2020-04-02 10:04] GregoryHorvath commented on #922
@teklal Oh right sorry for that, I forgot I assigned that review to Sanjay but he's busier these days than ever so I just pulled that into `develop` so it should be on staging in ~5 mins I believe (or maybe it already is while I finish this comment).

[2020-04-02 10:04] teklal commented on #1008
All these three should have response docs
- https://dsgoproxyapp.azurewebsites.net/emergencies/af-floods#details which is the same as https://dsgoproxyapp.azurewebsites.net/emergencies/3786#details
- https://dsgoproxyapp.azurewebsites.net/emergencies/3241#details
- https://dsgoproxyapp.azurewebsites.net/emergencies/3840#details

yup saw that now the snippets show up even with the vanity url, yay!

[2020-04-02 10:15] lauripynnonen commented on #1020
@LukeCaley I assume this is to be in the Emergencies page right?

[2020-04-02 10:45] geohacker commented on #1008
@teklal I know what's going on with the response docs. Fixing right away

[2020-04-02 11:47] lauripynnonen opened #1075 "3W: Reduce the amount of button on the table"
Currently, the table has three buttons (Show Details, Edit, Delete). Soon we'll have a clone and History button as well.

Would there be a better way to do this? i.e.
- Show Details could be just clicking the name of the project.
- Edit, Clone, History and Delete could be a dropdown with buttons

@yellowumbrella-design  is this a terrible idea? How does the rest of Go work?

[2020-04-02 11:51] lauripynnonen opened #1076 "3W: Automate the Planned - Ongoing logic"
Automate activity status so that planned activities are automatically changed to ongoing when the period of that activity starts.

[2020-04-02 11:58] yellowumbrella-design commented on #1075
hey Lauri, can you plz add a screenshot? That will help. we can propose a suggestion. What does Clone do?

[2020-04-02 14:51] lauripynnonen commented on #1047
I like this implementation more than the one I tried to describe. So good job! an issue:
- If you type a number to a segregated field (like people targeted male) and erase it, the last digit stays in the total field

[2020-04-02 14:53] lauripynnonen commented on #1075
Current:
![image](https://user-images.githubusercontent.com/8285694/78262351-b841ef00-7500-11ea-97f3-9624492374ac.png)
Potential future version:
![image](https://user-images.githubusercontent.com/8285694/78263418-3783f280-7502-11ea-8794-37695f325d13.png)
Clone could open a prefilled activity form with the data from the activity where the cloning was initiated

[2020-04-02 15:06] lauripynnonen commented on #1064
a clone might be good for potential other testing if the workload is reasonable

[2020-04-02 15:19] necoline commented on #1004
Sorry, I clicked the wrong button. I didn't mean to close the ticket

[2020-04-02 16:50] yellowumbrella-design commented on #1075
Thanks will look into this. To have a better context, is this the editable form for 3w where only admins can see and manage?

[2020-04-02 18:40] lauripynnonen commented on #1075
Thanks! This form is on the front end. So I assume it is for normal logged
in NS staff

On Thu, Apr 2, 2020, 18:50 Yellow Umbrella <notifications@github.com> wrote:

[2020-04-03 01:30] necoline commented on #1060
This field is added as a boolean in the form and on the backend. So if users do not make a selection, it will default to false and autopopulate `No`. In essence, it is behaving like a checkbox.

Should fields with an option of `Yes` or `No` be converted to checkboxes, or should we leave the UI as is and change the form type?

 -- This is fixed in #1074

[2020-04-03 01:33] necoline opened #1077 "[PROD] Field Report Submission Error"
## Issue
We have had two users that have not been able to submit a field report but have gotten "Error: Could not submit field report." I've been trying to figure out where the problem lies but it doesn't seem to be an unsuitable/bad data issue.
(https://github.com/IFRCGo/go-frontend/blob/develop/app/assets/scripts/views/field-report-form/index.js)

and the user checked with the chrome developer t

[2020-04-03 06:30] GregoryHorvath commented on #1077
@necoline @batpad @geohacker @frozenhelium

As much as I found is that it's most probably this part when it fails, but couldn't reproduce the issue in any way yet:
https://github.com/IFRCGo/go-api/blob/b66e4565ce8483c0d7d143369568cba9a2eaa0a9/api/drf_views.py#L579-L590

Since the users get the error hardcoded on the frontend my guess would be that somehow the `serializer.is_valid()` fails but the

[2020-04-03 06:47] batpad commented on #1077
Hey @GregoryHorvath -- I think the ideal steps to follow here would be:

 - Figure out how to make this reproducible. We will need to do this. Even if it's something specific to data on production, we will need this to be reproducible with clear steps to debug clearly.
 - Once we have that, then being able to try and `print` specifically what's failing when saving the field report around the area

[2020-04-03 06:56] GregoryHorvath commented on #1077
@teklal sent me the data one of the users used, but I was able to create a new FR. Even tried to fiddle around with different combinations like changing/removing the `start date` field, or filling some description fields with thousands of characters and such, but all of those created a FR successfully still.

I was wondering if we should "silent-push" a change (change the current code manually) wi

[2020-04-03 07:09] batpad commented on #1077
This is a good last resort idea if we are not managing to find any other way to reproduce. This is really strange though. Should we get details of the browser the user used, to try and reproduce? Though this would be really strange if it were a browser issue.

But if we cannot reproduce, turning on some logs and then inspecting them when this error occurs sounds good to me.

[2020-04-03 07:27] GregoryHorvath commented on #1077
The user said they checked Chrome devtools and got `400` as a response so that shouldn't be an issue.

[2020-04-03 07:48] LukeCaley commented on #1020
The idea would be to have this as an embedded snippet on the Global COVID-19 emergency page.  No need for @yellowumbrella-design to be designing this at this stage as @nanometrenat @lauripynnonen and @guipizzini taking this forward.

[2020-04-03 07:52] nanometrenat commented on #1077
Note past "could not submit field report" issues include
https://github.com/IFRCGo/go-frontend/issues/987 (source selected but no data)
https://github.com/IFRCGo/go-frontend/issues/936 (to do with trying to submit for a territory that is not an IFRC country - e.g. have this issue if submitting Field Reports for New Caledonia rather than France)

[2020-04-03 08:41] lauripynnonen commented on #1020
Ok so probably not closed yet, I'll reopen it

[2020-04-03 08:50] GregoryHorvath commented on #1077
@batpad @necoline
The frontend error object seem to have a `detail` property if there are errors, so I used that for now:
* backend: https://github.com/IFRCGo/go-api/commit/b4594dcea880570af53092f5e766ce24df5d5894
* frontend: https://github.com/IFRCGo/go-frontend/commit/6742c89b443188ddbf849047a9c42b5a4a38afb1

I created the backend branch from `master` just in case but the frontend one is from `d

[2020-04-03 09:31] yellowumbrella-design commented on #929
UI color updates: https://invis.io/Q2WPW94R5SW#/412200855_1-0-0_-_Home_-_RED_V2
The icons are OCHA, a bit updated based on the above links (e.g. targeted population).

[2020-04-03 09:44] yellowumbrella-design commented on #929
And with the COVID banner: https://invis.io/YGWPWLI5EFU#/412204959_1-0-0_-_Home_-_RED_COVID

[2020-04-03 09:53] teklal commented on #1008
Tested the things outlined in @geohacker's https://github.com/IFRCGo/go-frontend/issues/1008#issuecomment-603859715 and they work with the logic described:

Re https://github.com/IFRCGo/go-frontend/issues/1008#issuecomment-600002956: within a box if several docs are pinned they should follow a descending order i.e. newest on top. Currently this seems to be the reverse, could we fix that?

One thin

[2020-04-03 09:58] teklal commented on #888
Will this banner show up on the separate testing URLs as well?

[2020-04-03 10:12] teklal commented on #922
@GregoryHorvath So the thing here to test at the moment is that in the backend a user can specify the IFRC URL for a country and that this URL shows up correctly on the frontend?

If a URL has not been specified this "button"
![image](https://user-images.githubusercontent.com/52411237/78349650-36a39d00-75a4-11ea-8a6c-fa4b7afadace.png)
will not show on that country's GO page.

Anything else to test

[2020-04-03 10:26] yellowumbrella-design commented on #1075
![GO_Table_Dropdown](https://user-images.githubusercontent.com/60006476/78350910-415f3180-75a6-11ea-8450-b4f3177b52d3.png)
@lauripynnonen here is a functional recommendation. We will take a stab at the entire table UI too (to make sure we have consistency across). Let's discuss over the call.

[2020-04-03 10:32] batpad commented on #1008
@geohacker would you be able to fix this ordering?

Yes, the `is_primary` ticking and unticking will affect all emergency pages, and ideally this would be something that only IFRC staff do. We could go ahead with hard-coding the boxes to be always shown on the frontend, but would highly recommend that being something you folks are able to change without requiring code changes.